  
  <% if (state=='checking') { %>
    <span>Checking imports</span>
    <div class="mini-bar"><span></span></div>
  <% } %>

	<% if (state=='uploading') { %>
  	<span>Uploading data</span>
  	<div class="mini-bar"><span></span></div>
  <% } %>

	<% if (state=='preprocessing') { %>
    <span>Creating table</span>
    <div class="mini-bar"><span></span></div>
    <span class="tip">(Feel free to start new imports)</span>
	<% } %>

	<% if (state=='complete') { %>
	  <span class="ok"><a class="underline table" href="#created_table">Your table</a> has been created correctly.</span>
	<% } %>

  <% if (state=='failure') { %>
    <span class="error">Oops! An <a href="#show_error" class="error">error</a> occured while importing your file.</span>
  <% } %>
