
	<% if (state=='uploading') { %>
  	<span>Uploading data</span>
  	<div class="mini-bar"><span></span></div>
  <% } %>

	<% if (state=='preprocessing') { %>
    <span>Creating table</span>
    <div class="mini-bar"><span></span></div>
	<% } %>

	<% if (state=='complete') { %>
	  <span class="ok"><a class="underline table" href="#created_table">Your table</a> has been created correctly</span>
	<% } %>

  <% if (state=='failure') { %>
    <span class="error">Oops, there has been an <a href="#show_error" class="error">error</a> creating your table</span>
  <% } %>
