<form accept-charset="UTF-8">
  <input name="utf8" type="hidden" value="&#x2713;" />

  <div class="CDB-Text Dialog-header u-inner">
    <div class="Dialog-headerIcon Dialog-headerIcon--negative">
      <i class="CDB-IconFont CDB-IconFont-mobile"></i>
    </div>
    <p class="Dialog-headerTitle">Are you sure you want to change your application type?</p>
    <p class="Dialog-headerText">The license key will change and you will need to update it in your app.</p>
  </div>

  <div class="Dialog-footer u-inner">
    <button type="button" class="CDB-Button CDB-Button--secondary cancel">
      <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Cancel</span>
    </button>
    <button type="button" class="CDB-Button CDB-Button--error js-ok">
      <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Change application type</span>
    </button>
  </div>
</form>
