<div class="colors">

  <% if (extra_colors && extra_colors.length > 0) { %>
  <ul class="colors extra">
    <% for (var i = 0, l = extra_colors.length; i < l; i++){ %><li><a href="<%= extra_colors[i] %>" style="background:<%= extra_colors[i] %>;"></a></li><% } %>
  </ul>
  <% } %>

  <ul class="colors">
    <% for (var i = 0, l = colors.length; i < l; i++){ %><li><a href="<%= colors[i] %>" style="background:<%= colors[i] %>;"></a></li><% } %>
  </ul>
</div>
<div class="bottom">
  <div class="form_input_color left">
    <form>
      <span class="color" style="background:#FF3366"></span>
      <input type="text" value="#FF3366"/>
    </form>
  </div>
  <div class="image_picker right">
  <a href="#pick_image"><i></i>image</a>
  </div>
</div>
