<div class="colors">

  <div class="top">
    <a href="#/advanced" class="advanced">Show more colors</a>

    <div class="picker-wrapper">
      <div class="picker"></div>
      <div class="picker-indicator"></div>
    </div>
    <div class="slider-wrapper">
      <div class="slider"></div>
      <div class="slider-indicator"></div>
    </div>
  </div>
  <div class="content">
    <ul class="default-colors">
      <% for (var i = 0, l = colors.length; i < l; i++){ %><li><a href="<%= colors[i] %>" style="background:<%= colors[i] %>;"></a></li><% } %>
    </ul>

    <% if (extra_colors && extra_colors.length > 0) { %>
    <!-- ul class="default-colors extra">
      <% for (var i = 0, l = extra_colors.length; i < l; i++){ %><li><a href="<%= extra_colors[i] %>" style="background:<%= extra_colors[i] %>;"></a></li><% } %>
    </ul -->
    <% } %>
  </div>
</div>
<div class="bottom">
  <div class="image_picker left">
    <a href="#/pick-image"><i></i>image</a>
  </div>
  <div class="form_input_color right">
    <form>
      <span class="color" style="background:#FF3366"></span>
      <input class="text" type="text" value="#FF3366"/>
      <input class="submit button grey small" type="submit" value="Apply" />
    </form>
  </div>
</div>
