
<div class="colors">
  <ul class="colors">
    <% for (var i = 0, l = colors.length; i < l; i++){ %>
      <li><a href="<%= colors[i] %>" style="background:<%= colors[i] %>;"></a></li>
    <% } %>
  </ul>
</div>
<div class="bottom">
  <div class="form_input_color left">
    <span class="color" style="background:#FF3366"></span>
    <input type="text" value="#FF3366"/>
  </div>
  <!--a class="button grey image-fill right">image fill</a-->
</div>