<div class="dialog-content dialog-panes">
  <ul class="dialog-tabs">
    <li class="option dialog-tab file active">
      <a href="#/file" class="radiobutton selected"><span class="radio"></span>Start by importing some data</a>
      <div class="dialog-pane dialog-upload-pane">
        <ul class="upload-tabs">
          <li class="upload-tab"><a href="#/file" class="file">Local file or URL</a></li>
          <li class="upload-tab"><a class="gdrive disabled"><i></i>Google Drive data</a></li>
          <li class="upload-tab"><a href="#/dropbox" class="dropbox"><i></i>Dropbox</a></li>
        </ul>
        <div class="upload-panes"></div>
      </div>
    </li>
    <li class="option dialog-tab scratch">
      <a href="#/scratch" class="radiobutton"><span class="radio"></span>Start from scratch</a>
    </li>
  </ul>
</div>
<div class="upload-progress">
  <span></span>
  <p>Uploading your data</p>
  <a href="#/stop-process" class="stop"></a>
</div>
<div class="hide">
  <form class="dialog-uploader"><input type="file" /></form>
</div>