<div class="inner">   
  <section class="left">
  <h3><span class="type table">T</span> Looking for more data?</h3>
  <p>Import one of these or browse through our <a href="/dashboard/common_data">common data</a> section</p>
  <ul>
    <li><a class="population import_example" href="http://cartodb.s3.amazonaws.com/static/TM_WORLD_BORDERS_SIMPL-0.3.zip">Start with the country with population numbers</a></li>
    <li><a class="population import_example" href="http://cartodb.s3.amazonaws.com/static/TM_WORLD_BORDERS_SIMPL-0.3.zip">Start with the country with population numbers</a></li>
    <li><a class="population import_example" href="http://cartodb.s3.amazonaws.com/static/TM_WORLD_BORDERS_SIMPL-0.3.zip">Start with the country with population numbers</a></li>
  </ul>
  </section>
</div>
