<form accept-charset="UTF-8" class="js-form">
  <div class="CDB-Text Dialog-header u-inner">
    <div class="Dialog-headerIcon Dialog-headerIcon--negative">
      <i class="CDB-IconFont CDB-IconFont-defaultUser"></i>
    </div>
    <p class="Dialog-headerTitle">You are about to delete your account.</p>
    <p class="Dialog-headerText">
      Remember, once you delete your account there is no going back.<br/>
      All your maps, data and work will be lost. Are you sure you want to proceed?<br/>
      <% if (passwordNeeded) { %>
        In any case, you need to type your password.
      <% } %>
    </p>
  </div>

  <% if (passwordNeeded && !isLoading) { %>
    <div class="CDB-Text Dialog-body">
      <div class="Form-row Form-row--centered has-label">
        <div class="Form-rowLabel">
          <label class="Form-label">Your password</label>
        </div>
        <div class="Form-rowData">
          <input type="password" id="deletion_password_confirmation" name="deletion_password_confirmation" class="CDB-InputText CDB-Text Form-input Form-input--long" value=""/>
        </div>
      </div>
    </div>
  <% } %>

  <div class="Dialog-footer u-inner">
    <button type="button" class="CDB-Button CDB-Button--secondary cancel">
      <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Cancel</span>
    </button>
    <button type="submit" class="CDB-Button CDB-Button--error js-ok">
      <% if (isLoading) { %>
        <div class="CDB-LoaderIcon CDB-LoaderIcon--small u-iBlock">
          <svg class="CDB-LoaderIcon-spinner" viewBox="0 0 50 50">
            <circle class="CDB-LoaderIcon-path" cx="25" cy="25" r="20" fill="none"></circle>
          </svg>
        </div>
      <% } else { %>
        <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Yes, delete my account</span>
      <% } %>
    </button>
  </div>
</form>
