<div class="content"></div>
<div class="foot">
  <a href="#cancel" class="left cancel <%= cancel_button_classes %>"><%= cancel_title %></a>
  <a href="#go" class="right ok small grey <%= ok_button_classes %>"><%= ok_title %></a>
</div>