<div class="PublicMap-block PublicMap-info">
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function() {
      this.page.identifier = '<%= disqusIdentifier %>';
      this.page.title = '<%= disqusPageTitle %>';
    };

    (function() {
      var d = document,
      s = d.createElement('script');
      s.src = 'https://' + '<%= disqusShortname %>' + '.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
</div>
