<div class="Dialog-header ErrorDetails-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--negative">
    <i class="iconFont iconFont-Cloud"></i>
  </div>
  <p class="Dialog-headerTitle">
    <%- title %> <% if (errorCode) { %>(<%- errorCode %>)<% } %>
  </p>
  <p class="Dialog-headerText">
    <% if (itemQueueId) { %>
      Don’t panic, follow these steps
    <% } else { %>
      Check errors
    <% } %>
  </p>
</div>
<div class="Dialog-body ErrorDetails-body">
  <ul class="ErrorDetails-list">
    <li class="ErrorDetails-item">
      <div class="ErrorDetails-itemStep">1</div>
      <div class="ErrorDetails-itemText"><%= cdb.core.sanitize.html(text) %></div>
    </li>
    <% if (itemQueueId) { %>
      <li class="ErrorDetails-item">
        <div class="ErrorDetails-itemStep">2</div>
        <div class="ErrorDetails-itemText">
          Persisting error? Please <a href="mailto:support@cartodb.com">send us</a> the following code: <br/>
          <span class="ErrorDetails-itemTextStrong"><%- itemQueueId %></span>
        </div>
      </li>
    <% } %>
  </ul>
</div>
<div class="Dialog-footer ErrorDetails-footer">
  <button class="Button Button--secondary ErrorDetails-footerButton cancel">
    <span>close</span>
  </button>
</div>
