<div class="block">
  <h4 class="exclamation">Error <%= number %></h4>
  <p class="margin5"><%= description %></p>
</div>
<div class="block margin20">
  <h4 class="question">What about...</h4>
  <p class="margin5"><%= about %></p>
  <% if (typeof item_queue_id !== "undefined") { %>
    <p class="margin10">If you need further assistance, send us the code displayed below.</p>
    <span class="item_queue_id">error id: <%= item_queue_id %></span>
  <% } %>
</div>