<div class="block">
  <h4 class="exclamation">Error <%= number %></h4>
  <p class="margin5"><%= description %></p>
</div>
<div class="block margin20">
  <h4 class="question">What about...</h4>
  <p class="margin5"><%= about %></p>
</div>