<nav>
  <% _.each( formats, function( format ){ %>
    <a  data-format="<%- format.format %>"
        class="button grey export">
    <%- format.format %>
   </a>
  <% }); %>

</nav>
<div class="hidden generating">
  <p>We are compiling your file. If your table is large, this can take a while...</p>
</div>

<form class="hack" method="POST" action="<%- url %>">
  <input type="hidden" class="filename" name="filename"></input>
  <input type="hidden" class="q" name="q"></input>
  <input type="hidden" class="format" name="format"></input>
  <input type="hidden" clasS="api_key" name="api_key"></input>
  <input type="hidden" clasS="skipfields" name="the_geom,the_geom_webmercator"></input>
</form>
