<div class="FormAccount-row GooglePlus-row js-googleRow">
  <div class="FormAccount-rowLabel">
    <label class="FormAccount-label">Google+</label>
  </div>
  <div class="FormAccount-rowData">
    <iframe class="FormAccount-GooglePlus-iframe GooglePlus-iframe js-googleIframe" src="<%- iframeSrc %>" width="300" height="41"></iframe>
    <div class="FormAccount-rowInfo">
      <button type="button" class="CDB-Size-medium FormAccount-link js-googleDisconnect">Disconnect your Google+ account</button>
    </div>
  </div>
  <div class="FormAccount-rowInfo">
    <p class="FormAccount-rowInfoText js-googleText">Set a new password in order to disconnect from Google</p>
  </div>
</div>


<script>
  function disconnectGoogleAccount(callback, errorCallback) {
    var revokeUrl = 'https://accounts.google.com/o/oauth2/revoke?token=' + access_token;
    $.ajax({
      type: 'GET',
      url: revokeUrl,
      async: false,
      contentType: "application/json",
      dataType: 'jsonp',
      success: callback,
      error: errorCallback
    });
  }

  function signinCallback(authResult) {
    if (typeof authResult.access_token != 'undefined') {
      // INFO: user exists, let's sign in
      if (authResult['status']['signed_in']) {
        access_token = authResult.access_token;
        currentUser.set({
          logged_with_google: true,
          google_enabled: true
        });
      }
    } else {
      window.currentUser.set('google_enabled', false);
    }
    if(typeof signinCallbackCalled != 'undefined') {
      signinCallbackCalled(authResult);
    }
  }
</script>
