<div class="upload">
  <a href="#gdrive" class="gdrive-chooser">Click to select</a>
  <p class="filename"></p>
</div>
<label class="light small">(SPREADSHEET)</label>
<!-- div class="common_data">We will import only the first page of your document</div -->
<div class="infobox"></div>