<a href="#gdrive" class="gdrive-chooser">Click to select</a>
<label class="light small">(CSV, XLS, ZIP, KML, GPX) <a href="http://developers.cartodb.com/documentation/using-cartodb.html#formats_accepted" target="_blank">see all formats</a></label>

<div class="common_data">We will import only the first page of your document</div>