<script src="http://www.google.com/jsapi?key=AIzaSyBV6MeANy_ZaLB2f2c-XKCMA7hIu2Fy744"></script>

<script type="text/javascript">
  // // Use the Google Loader script to load the google.picker script.
  // google.setOnLoadCallback(createPicker);
  // google.load('picker', '1');

  // // Create and render a Picker object for searching images.
  // function createPicker() {
  //   var view = new google.picker.View(google.picker.ViewId.DOCS);
  //   view.setMimeTypes("image/png,image/jpeg,image/jpg");    
  //   var picker = new google.picker.PickerBuilder()
  //       .enableFeature(google.picker.Feature.NAV_HIDDEN)
  //       .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
  //       .setAppId(YOUR_APP_ID)
  //       .setOAuthToken(AUTH_TOKEN) //Optional: The auth token used in the current Drive API session.
  //       .addView(view)
  //       .addView(new google.picker.DocsUploadView())
  //       .setCallback(pickerCallback)
  //       .build();
  //    picker.setVisible(true);
  // }

  // // A simple callback implementation.
  // function pickerCallback(data) {
  //   if (data.action == google.picker.Action.PICKED) {
  //     var fileId = data.docs[0].id;
  //     alert('The user selected: ' + fileId);
  //   }
  // }
  </script>

<div id="result"></div>