<script>var Dropbox = Dropbox || {}; Dropbox.appKey = '<%= app_api_key %>'; Dropbox._dropinsjs_loaded = false;</script>
<script type="text/javascript" src="//www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="<%= app_api_key %>"></script>
<input type="dropbox-chooser" name="selected-file" data-link-type="direct" data-extensions="<%= extensions %>" id="db-chooser"/>
<label class="light small">(CSV, XLS, ZIP, KML, GPX) <a href="http://developers.cartodb.com/documentation/using-cartodb.html#formats_accepted" target="_blank">see all formats</a></label>
