<div class="upload">
  <a href="#gdrive" class="gdrive-chooser">Click to select</a>
  <p class="filename"></p>
</div>
<label class="light small">(Google spreadsheet)</label>
<div class="infobox"></div>