<div class="Dialog-header ErrorDetails-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--alert">
    <i class="CDB-IconFont CDB-IconFont-cloud"></i>
  </div>
  <p class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m u-tSpace-xl">
    Unable to add all imported Datasets as Layers
  </p>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">
    You can find all the connected datasets under the Datasets section. </br>
    <a href="https://carto.com/pricing/">Upgrade your account</a> to add more than <%- warnings.user_max_layers %> layers to your maps.
  </p>
</div>
<% if(warnings.max_tables_per_import) { %>
  <div class="Dialog-body ErrorDetails-body">
    <ul class="ErrorDetails-list">
      <li class="ErrorDetails-item">
        <div class="ErrorDetails-itemStep CDB-Text u-altTextColor">!</div>
        <div class="ErrorDetails-itemText CDB-Text CDB-Size-medium u-altTextColor">
          NOTE: The file you uploaded contained too many Datasets. No more than <%- warnings.max_tables_per_import %> Datasets can be imported from a single file.
        </div>
      </li>
    </ul>
  </div>
<% } %>
<div class="Dialog-footer ErrorDetails-footer">
  <button class="CDB-Button CDB-Button--secondary cancel">
    <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">CONTINUE</span>
  </button>
</div>
