<div class="Dialog-header ErrorDetails-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--alert">
    <i class="CDB-IconFont CDB-IconFont-cloud"></i>
  </div>
  <p class="Dialog-headerTitle--warning">
    Unable to add all imported Datasets as Layers
  </p>
  <p class="Dialog-headerText">
    You can find all the connected datasets under the Datasets section. </br>
    <a href="https://cartodb.com/pricing/">Upgrade your account</a> to add more than <%- warnings.user_max_layers %> layers to your maps.
  </p>
</div>
<% if(warnings.max_tables_per_import) { %>
  <div class="Dialog-body ErrorDetails-body">
    <ul class="ErrorDetails-list">
      <li class="ErrorDetails-item">
        <div class="ErrorDetails-itemStep">!</div>
        <div class="ErrorDetails-itemText">
          NOTE: The file you uploaded contained too many Datasets. No more than <%- warnings.max_tables_per_import %> Datasets can be imported from a single file.
        </div>
      </li>
    </ul>
  </div>
<% } %>
<div class="Dialog-footer ErrorDetails-footer">
  <button class="Button Button--secondary ErrorDetails-footerButton cancel">
    <span>CONTINUE</span>
  </button>
</div>
