<div class="Dialog-header ErrorDetails-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--alert">
    <i class="iconFont iconFont-Cloud"></i>
  </div>
  <p class="Dialog-headerTitle--warning">
    Some layers were not added to the map
  </p>
  <p class="Dialog-headerText">
    You currently can only add <%- warnings.user_max_layers %> layers per map. The layers listed bellow were imported as datasets, but not added.
  </p>
</div>
<div class="Dialog-body ErrorDetails-body">
  <ul class="ErrorDetails-list">
    <% if (warnings.rejected_layers) { %>
      <% for (var i = 0; i < warnings.rejected_layers.length; i++) { %>
        <li class="ErrorDetails-item">
          <div class="ErrorDetails-itemStep"><%- i + 1 %></div>
          <div class="ErrorDetails-itemText">
            "<%- warnings.rejected_layers[i] %>"
          </div>
        </li>
      <% } %>
    <% } %>
    <li class="ErrorDetails-item">
      <div class="ErrorDetails-itemStep">?</div>
      <div class="ErrorDetails-itemText">
        Need more layers in your maps? See our <a href="https://cartodb.com/pricing/">pricing info</a>!
      </div>
    </li>
  </ul>
</div>
<div class="Dialog-footer ErrorDetails-footer">
  <button class="Button Button--secondary ErrorDetails-footerButton cancel">
    <span>close</span>
  </button>
</div>
