<div class="nonPayer">
  <p class="small light">Free users can only use public <%= name %>s.</p>
  <p class="small light margin5"><a href="<%= upgrade_url %>?utm_source=Trying_Marking_Table_Private&utm_medium=referral&utm_campaign=Upgrade_from_Dashboard&utm_content=Upgrade%20your%20account" class="insider">Upgrade your account</a> to enable private <%= name %>s.</p>
</div>
