<ul>
	<li><a href="#make_it_public" class="radiobutton public"><span class="radio"></span>Make this <%= name %> public</a></li>
	<li><a href="#make_it_private" class="radiobutton private"><span class="radio"></span>Make this <%= name %> private</a></li>
</ul>