<ul>
	<li><a href="#make_it_public" class="radiobutton public"><span class="radio"></span>Make it public</a></li>
	<li><a href="#make_it_public_with_link" class="radiobutton link"><span class="radio"></span>Make it public with the link</a></li>
	<li><a href="#make_it_private" class="radiobutton private"><span class="radio"></span>Make it private</a></li>
</ul>
