<% if (show_privacy_options) { %>
<ul>
	<li><a href="#make_it_public" class="radiobutton public"><span class="radio"></span>Public on the web</a></li>
	<li><a href="#make_it_public_with_link" class="radiobutton link"><span class="radio"></span>Anyone with the link</a></li>
	<li><a href="#make_it_private" class="radiobutton private"><span class="radio"></span>Private</a></li>
</ul>
<% } %>
<% if (limitation) { %>
<div class="nonPayer">
  <p class="small light">Privacy and visibility options are only available on paid accounts. </p>
  <p class="small light margin5"><a href="<%= upgrade_url %>?utm_source=Trying_Marking_Table_Private&utm_medium=referral&utm_campaign=Upgrade_from_Dashboard&utm_content=Upgrade%20your%20account" class="insider">Upgrade your account now.</a></p>
</div>
<% } %>
