<ul>
  <li><a class="small" href="/your_apps">Your API keys</a></li>
  <% if (!isInsideOrg || ( isInsideOrg && !isOrgAdmin )) { %>
    <li>
      <a class="small" href="
      <% if (isInsideOrg && !isOrgAdmin) { %>
        /organization/users/<%= username %>/edit
      <% } else { %>
        //<%= account_host %>/account/<%= username %>
      <% } %>
      ">Account settings</a>
    </li>
  <% } %>
  <% if (isInsideOrg && isOrgAdmin) { %>
    <li><a class="small" href="/organization">Organization</a></li>
  <% } %>
  <li><a class="small" href="/logout">Close session</a></li>
</ul>
