<ul>
  <li><a class="small" href="/your_apps">Your API keys</a></li>
  <li>
    <a class="small" href="
    <% if (typeof organization !== "undefined" && !organization.owner) { %>
      /organization/users/<%= username %>/edit
    <% } else { %>
      //<%= account_host %>/account/<%= username %>
    <% } %>
    ">Account settings</a>
  </li>
  <% if (typeof organization !== "undefined" && organization.owner) { %>
    <li><a class="small" href="/organization">Organization users</a></li>
  <% } %>
  <li><a class="small" href="/logout">Close session</a></li>
</ul>
