<div class="u-inner">
  <label class="SupportBanner-label">
    <% if (userType === 'org_admin') { %>
      Enterprise support
    <% } else if (userType === 'org') { %>
      Organization support
    <% } else if (userType === 'client' || userType === 'internal') { %>
      Contact support
    <% } else { %>
      Community support
    <% } %>
  </label>
  <div class="SupportBanner-inner">
    <div class="SupportBanner-icon">
      <i class="
        CDB-IconFont
        <% if (userType === 'org_admin' || userType === 'org') { %>
        CDB-IconFont-boss
        <% } else if (userType === 'client' || userType === 'internal') { %>
        CDB-IconFont-cartoFante
        <% } else { %>
        CDB-IconFont-defaultUser
        <% } %>
      "></i>
    </div>
    <div class="SupportBanner-info">
      <h4 class="SupportBanner-infoTitle">
        <% if (userType === 'org_admin' || userType === 'client') { %>
          As a paying customer, you have access to our dedicated support.
        <% } else if (userType === 'org') { %>
          Contact the <a href="mailto:<%- orgDisplayEmail %>">organization administrator</a> for support.
        <% } else if (userType === "internal") { %>
          You are part of CartoDB, you deserve outstanding support.
        <% } else { %>
          For all technical questions, contact our community support forum.
        <% } %>
      </h4>
      <p class="SupportBanner-infoDescription">
        <% if (userType === 'org' || userType === 'org_admin' || userType === 'client') { %>
          Remember that there is a lot of information in our <a href="http://gis.stackexchange.com/questions/tagged/cartodb" class="SupportBanner-infoDescriptionLink" target="_blank">community forums</a>.
        <% } else if (userType === "internal") { %>
          Don't forget to share your knowledge in our <a href="http://gis.stackexchange.com/questions/tagged/cartodb" class="SupportBanner-infoDescriptionLink" target="_blank">community forums</a>.
        <% } else { %>
          If you experience any problems with the CartoDB service, feel free to <a class="SupportBanner-infoDescriptionLink" href="mailto:support@cartodb.com">contact us</a>.
        <% } %>
      </p>
    </div>
    <div class="SupportBanner-link">
      <% if (userType === 'org_admin') { %>
        <a href="mailto:enterprise-support@cartodb.com" class="Button Button--secondary">
          <span>Contact support</span>
        </a>
      <% } else if (userType === 'org') { %>
          <a href="mailto:<%- orgDisplayEmail %>" class="Button Button--secondary">
            <span>Contact administrator</span>
          </a>
      <% } else if (userType === 'client' || userType === 'internal') { %>
        <a href="mailto:support@cartodb.com" class="Button Button--secondary">
          <span>Contact us</span>
        </a>
      <% } else { %>
        <a href="http://gis.stackexchange.com/questions/tagged/cartodb" class="Button Button--secondary" target="_blank">
          <span>Community support</span>
        </a>
      <% } %>
    </div>
  </div>
</div>
