<div class="table <% if (name) {%>chosen<% } %>">
  <% if (name) { %>
    <div class="select tables"><%= name %></div>
  <% } else { %>
    <div class="select tables">Select one of your tables</div>
    <p class="small"><%= choose_table_text %></p>
  <% } %>
</div>
<div class="columns">
  <ul></ul>
</div>
<div class="merge_all">
  <label>merge all columns</label>
  <a href="#merge_all_columns" class="right switch enabled"><span class="handle"></span></a>
</div>
