<div class="table <% if (name) {%>chosen<% } %>">
  <% if (name) { %>
    <div class="select tables"><%= name %></div>
  <% } else { %>
    <div class="select tables">Select one of your datasets</div>
    <p class="small"><%= choose_table_text %></p>
  <% } %>
</div>

<div class="columns">
  <ul></ul>
</div>

<div class="merge_all">
  <a href="#merge_all_columns" class="right switch enabled"><span class="handle"></span></a>
  <label>merge all columns</label>
</div>

<div class="merge_methods hidden">
  <label>method</label>
  <ul>
    <li><a data-tipsy="Calculates the number<br />of intersecting records" class="count" href="#">Count</a></li><li><a data-tipsy="Sums of a column for all<br />intersecting records" class="sum" href="#">Sum</a></li><li><a data-tipsy="Calculates the average value of<br />a column for all intersecting records" class="avg" href="#">Avg</a></li>
  </ul>
</div>

<% if (source == 'destiny') { %>
<div class='cover'><p>This will count the number of features in your dataset intersecting the geometries in a second dataset.</p></div>
<% } %>
