<div class="Dialog-header ErrorDetails-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--alert">
    <i class="CDB-IconFont CDB-IconFont-cloud"></i>
  </div>
  <p class="Dialog-headerTitle--warning">
    Unable to import all Datasets in file
  </p>
  <p class="Dialog-headerText">
    No more than <%- warnings.max_tables_per_import %> Datasets can be imported from a single file. </br>
    You can find all the connected datasets under the Datasets section.
  </p>
</div>
<div class="Dialog-footer ErrorDetails-footer">
  <button class="Button Button--secondary ErrorDetails-footerButton cancel">
    <span>CONTINUE</span>
  </button>
</div>
