<div class="Dialog-header ErrorDetails-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--alert">
    <i class="CDB-IconFont CDB-IconFont-cloud"></i>
  </div>
  <p class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m u-tSpace-xl">
    You may have reached the maximum limit
  </p>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">
    For a database connector import, the number of rows allowed is <%- warnings.max_rows_per_connection %>. Some of your data may not be imported.
  </p>
</div>
<div class="Dialog-footer ErrorDetails-footer">
  <button class="CDB-Button CDB-Button--secondary cancel">
    <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">CONTINUE</span>
  </button>
</div>
