<div class="Dialog-header ErrorDetails-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--alert">
    <i class="CDB-IconFont CDB-IconFont-cloud"></i>
  </div>
  <p class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m u-tSpace-xl">
    Max number of rows imported from database connector possibly reached 
  </p>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">
    The number of imported rows is equal to the limit of <%- warnings.max_rows_per_connection %> for
    database connector. It's very possible that you've reached the limit and only a portion of the data
    has been imported.
  </p>
</div>
<div class="Dialog-footer ErrorDetails-footer">
  <button class="CDB-Button CDB-Button--secondary cancel">
    <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">CONTINUE</span>
  </button>
</div>
