<p>Please remove some data or contact <a href="mailto:support@cartodb.com">support@cartodb.com</a> to upgrade to a bigger plan.</p>
<p class="margin20">If you think this is an error, you can always reach us at <a href="mailto:support@cartodb.com">support@cartodb.com</a> and we will be happy to take a look.</p>