<div class="Dialog-header ErrorDetails-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--alert">
    <i class="iconFont iconFont-Cloud"></i>
  </div>
  <p class="Dialog-headerTitle--warning">
    Some layers were not imported
  </p>
  <p class="Dialog-headerText">
    You currently can only import <%- user.max_layers %> layers per map. The layers listed bellow were not imported.
  </p>
</div>
<div class="Dialog-body ErrorDetails-body">
  <ul class="ErrorDetails-list">
    <% if (warnings.not_imported) { %>
      <% for (var i = 0; i < warnings.not_imported.length; i++) { %>
        <li class="ErrorDetails-item">
          <div class="ErrorDetails-itemStep"><%- i %></div>
          <div class="ErrorDetails-itemText">
            "<%- warnings.not_imported[i] %>"
          </div>
        </li>
      <% } %>
    <% } %>
    <li class="ErrorDetails-item">
      <div class="ErrorDetails-itemStep">?</div>
      <div class="ErrorDetails-itemText">
        Need more layers? See our <a href="https://cartodb.com/pricing/">pricing info</a>!
      </div>
    </li>
  </ul>
</div>
<div class="Dialog-footer ErrorDetails-footer">
  <button class="Button Button--secondary ErrorDetails-footerButton cancel">
    <span>close</span>
  </button>
</div>
