<% if (totalAnalyzed === totalItems) { %>
  <div class="ImportItem-text is-completed">
    <%= totalAnalyzed %> columns analyzed!
  </div>
  <button class="Button Button-importShowDetails js-show_dialog">SHOW</button>
  <button class="ImportItem-closeButton js-close">
    <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
  </button>
<% } else { %>
  <div class="ImportItem-text">
    <span class="ImportItem-textState">Analyzing <%= totalAnalyzed %>/<%= totalItems %>
  </div>
  <div class="ImportItem-progress">
    <div class="progress-bar">
      <span class="bar-2" style="width:<%= progress %>%"></span>
    </div>
  </div>
  <button class="ImportItem-closeButton js-abort">
    <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
  </button>
<% } %>
