<%= content_for :dashboard_body do %>
    <div class="CDB-Text FormAccount-Section u-inner">
      <%= render :partial => 'admin/shared/pages_subheader' %>

      <div class="FormAccount-Content">
        <%= yield :profile_body %>
      </div>
    </div>
<% end %>
<%= render :template => 'layouts/carto_gears_api/dashboard' %>
