<%- message = "<p style='margin-bottom: 0; font-size: 24px; color: #ffffff;'><strong>You are over quota!</strong></p>" %>

<%= render partial: 'mailer_modules/negative_message', locals: { message: message } %>

<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p>Hey there,</p>
    <p>It looks like your team is growing fast and you’ve run out of space.</p>
    <p>This is a friendly reminder that your organization <strong>is over quota</strong>. You can upgrade your account and/or purchase more space to continue working at the capacity you need.</p>
    <p>Upgrading your account is really simple just <a href="<%= @link %>" style="color: #1181FB;">contact one of our account experts</a>.</p>
    <p>In the meantime, take a look at some of the amazing things we’ve been up to at <a href="https://carto.com" style="color: #1181FB;">carto.com</a>.</p>
    <p>Thanks and Happy Mapping</p>
    </p>
  </td>
</tr>
