// Shapes styles
// ----------------------------------------------

@import '../variables/mixins';

.CDB-Shape-dot {
  display: inline-block;
  width: 8px;
  min-width: 8px;
  height: 8px;
  border-radius: 8px;
}
.CDB-Shape-threePoints {
  display: inline-block;
  position: relative;
  width: 3px;
  height: 16px;
  margin-right: -7px;
  margin-left: 6px;
  padding: 0 7px 0 10px;
  text-align: center;
  vertical-align: middle;

  &:after,
  &:before {
    display: inline-block;
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    content: '';
    z-index: 1;
  }

  &:before {
    top: 0;
    right: 7px;
  }

  &:after {
    right: 7px;
    bottom: 1px;
  }

  &:hover {
    cursor: pointer;
  }
}

.CDB-Shape-threePointsItem {
  display: block;
  position: absolute;
  top: 6px;
  left: 7px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.CDB-Shape-arrow {
  display: inline-block;
  position: relative;
  width: 17px;
  height: 10px;

  &:hover {
    cursor: pointer;
  }

  &:after,
  &:before {
    position: absolute;
    top: 5px;
    width: 10px;
    height: 1px;
    content: '';
  }
}
.CDB-Shape-arrow.is-disabled {
  @include opacity(0.5);
  &:hover {
    cursor: default;
  }
}
.CDB-Shape-arrow--up {
  &:after {
    @include css3-prefix(transform, rotate(45deg));
    right: 0;
  }
  &:before {
    @include css3-prefix(transform, rotate(-45deg));
    left: 0;
  }
}
.CDB-Shape-arrow--down {
  &:after {
    @include css3-prefix(transform, rotate(-45deg));
    right: 0;
  }
  &:before {
    @include css3-prefix(transform, rotate(45deg));
    left: 0;
  }
}

.CDB-Shape-lens {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;

  &:after,
  &:before {
    position: absolute;
    content: '';
  }
  &:after {
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border: 1px solid transparent;
    border-radius: 10px;
  }
  &:before {
    @include css3-prefix(transform, rotate(45deg));
    right: 3px;
    bottom: 5px;
    width: 6px;
    height: 1px;
  }

  &:hover {
    cursor: pointer;
  }
}

.CDB-Shape-hamburguer {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 16px;
  height: 2px;
  border: 0;
  background: #FFF;

  &:before,
  &:after {
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    background: #FFF;
    content: '';
  }
  &:before {
    top: -6px;
  }
  &:after {
    bottom: -6px;
  }
}

.CDB-Shape-magnify {
  display: inline-block;
  width: 32px;
  height: 32px;
}
