<div class="CreateDialog-footerShadow"></div>
<div class="CreateDialog-footerLine"></div>
<div class="CreateDialog-footerInner ">
  <div class="js-footer-info CreateDialog-footerInfo">
  </div>
  <div class="CreateDialog-footerActions">
    <button class="js-ok Button Button--positive">
      <span>Save settings</span>
    </button>
  </div>
</div>
