<div class="RadioButton<%= interval == 0 ? ' is-warning' : '' %>">
  <button class="RadioButton-input js-interval<%= checked ? ' is-checked' : '' %>"></button>
  <label class="RadioButton-label"><%= name %></label>
</div>

