<div class="RadioButton js-interval<%= checked ? ' is-checked' : '' %><%= interval === 0 ? ' is-warning' : '' %>">
  <button class="RadioButton-input js-input<%= checked ? ' is-checked' : '' %>"></button>
  <label class="RadioButton-label"><%- name %></label>
</div>

