<div class="ImportPanel-header">
  <h3 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m"><%- title %></h3>
  <p class="CDB-Text CDB-Size-medium u-altTextColor u-bSpace--xl ImportPanel-headerDescription"><%- explanationOfSideEffects %></p>
</div>
<div class="ImportPanel-body">
  <div class="ImportPanel-actions">
    <button class="Button Button--main ImportPanel-actionsButton js-create"><%- createButtonLabel %></button>
  </div>
</div>
