<h3 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">
  <% if (state === 'selected') { %>
    BigQuery selected
  <% } else { %>
    BigQuery import
  <% } %>
</h3>
<p class="CDB-Text CDB-Size-medium u-altTextColor u-bSpace--xl">
  <% if (state !== "selected") { %>
    Import your data from a BigQuery instance
  <% } else { %>
    Sync options only available for a layer
  <% } %>
</p>
<% if (state === "selected") { %>
  <button class="CDB-Size-large ImportPanel-headerButton js-back">
    <i class="CDB-IconFont CDB-IconFont-arrowPrev u-actionTextColor"></i>
  </button>
<% } %>
