<h3 class="ImportPanel-headerTitle">
  <% if (state === 'selected') { %>
    ArcGIS selected
  <% } else { %>
    ArcGIS import
  <% } %>
</h3>
<p class="ImportPanel-headerDescription">
  <% if (state !== "selected") { %>
    Import your data from an ArcGIS server instance
  <% } else { %>
    Sync options only available for a layer
  <% } %>
</p>
<% if (state === "selected") { %>
  <button class="NavButton NavButton--back ImportPanel-headerButton js-back">
    <i class="iconFont iconFont-ArrowPrev"></i>
  </button>
<% } %>