<h3 class="js-title CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">
  <% if (state === 'selected') { %>
    File selected
  <% } else { %>
    Upload <%- fileEnabled ? 'a file or' : '' %> a URL
  <% } %>
</h3>
<p class="js-description CDB-Text CDB-Size-medium u-altTextColor">
  <% if (state !== "selected") { %>
    Paste a URL <% if (fileEnabled) { %>or select a file such as CSV, XLS, ZIP, KML, GPX, <a href="https://carto.com/developers/import-api/guides/importing-geospatial-data#supported-geospatial-data-formats" target="_blank" rel="noopener noreferrer">see all formats</a>.<% } %>
  <% } %>
  <% if (state === "selected") { %>
    <% if (acceptSync) { %>
      You can also choose when to sync the file.
    <% } else { %>
      Sync options are not available
    <% } %>
  <% } %>
</p>
<% if (state === "selected") { %>
  <button class="CDB-Size-large ImportPanel-headerButton js-back">
    <i class="CDB-IconFont CDB-IconFont-arrowPrev u-actionTextColor"></i>
  </button>
<% } %>
