<div class="ImportPanel-header">
  <h3 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">Twitter trends</h3>
  <p class="CDB-Text CDB-Size-medium u-altTextColor u-bSpace--xl">Enter up to four search terms using the Category fields.</p>
</div>
<div class="ImportPanel-body">
  <form class="Form">
    <div class="ImportTwitterPanel-categories"></div>
    <div class="ImportTwitterPanel-datePicker">
      <div class="Form-row u-alignCenter">
        <div class="Form-rowLabel">
          <label class="Form-label CDB-Text CDB-Size-medium">From / to</label>
        </div>
        <div class="Form-rowData Form-rowData--longer js-picker"></div>
        <div class="Form-rowInfo DatePicker-info">
          <p class="Form-rowInfoText DatePicker-infoText CDB-Text CDB-Size-small u-hintTextColor">Time is in GMT+0 <br/>(you are in GMT<%- moment().format('Z') %>)</p>
        </div>
      </div>
    </div>
    <div class="ImportTwitterPanel-creditsUsage">
      <div class="Form-row u-alignCenter">
        <div class="Form-rowLabel">
          <label class="Form-label CDB-Text CDB-Size-medium">Use</label>
        </div>
        <div class="Form-rowData Form-rowData--longer CreditsUsage">
          <div class="UISlider CreditsUsage-slider js-slider"></div>
          <div class="CreditsUsage-info CDB-Text CDB-Size-small js-info"></div>
        </div>
      </div>
    </div>
  </form>
</div>