<div class="ImportPanel-header">
  <h3 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">Upload a URL</h3>
  <p class="CDB-Text CDB-Size-medium u-altTextColor u-bSpace--xl ImportPanel-headerDescription">Paste a URL and start the import</p>
</div>
<div class="ImportPanel-body">
  <div class="ImportPanel-bodyWrapper">
    <div class="ImportPanel-state ImportPanel-form is-idle"></div>
    <div class="ImportPanel-state is-selected DatasetSelected"></div>
  </div>
</div>
