<div class="Form-row u-alignCenter">
  <div class="Form-rowLabel CDB-Text CDB-Size-medium">
    <label class="Form-label js-category">Category <%- category %></label>
  </div>
  <div class="Form-rowData Form-rowData--longer">
    <input type="text"  <% if (disabled) { %>disabled="disabled"<% } %> class="CDB-Text CDB-Size-medium Form-input Form-input--longer has-icon js-terms <%- disabled ? 'is-disabled' : '' %>" value="<%- terms.join(",") %>" placeholder="Insert your terms separated by commas" />
    <i class="CDB-IconFont CDB-IconFont-twitter Form-inputIcon"></i>
  </div>
</div>