<div class="MergeDatasets">
  <div class="MergeDatasets-list">
    <div class="MergeDatasets-select js-left-table"></div>
    <div class="js-left-columns"></div>
  </div>

  <div class="MergeDatasets-ornaments"></div>

  <div class="MergeDatasets-list">
    <div class="MergeDatasets-select js-right-tables"></div>
    <div class="js-right-columns"></div>
  </div>
</div>
