<div class="MergeDatasets">
  <div class="MergeDatasets-list">
    <div class="List">
      <select disabled="disabled">
        <option><%- leftTableName %></option>
      </select>
      <div class="List js-left-columns">
      </div>
    </div>
  </div>
  <div class="MergeDatasets-list">
    <div class="List">
      <select class="js-right-tables"></select>
      <div class="List js-right-columns"></div>
    </div>
  </div>
</div>
