<div class="MergeDatasets">
  <div class="MergeDatasets-list">
    <div class="List">
      <div class="List-row">
        <div class="List-rowItem List-rowItem--tight js-left-table"></div>
      </div>
    </div>
    <div class="js-left-columns"></div>
  </div>

  <div class="MergeDatasets-ornaments">
    <div class="MergeDatasets-ornamentsTop MergeDatasets-ornamentsTop--column js-ornaments" style="display: none;"></div>
  </div>

  <div class="MergeDatasets-list">
    <div class="List">
      <div class="List-row">
        <div class="List-rowItem List-rowItem--tight js-right-tables"></div>
      </div>
    </div>
    <div class="js-right-columns"></div>
  </div>
</div>
