<div class="Puzzle">
  <div class="Puzzle-jigsaw fit-right js-left-key-column"><%- leftKeyColumnName %></div>
  <div class="Puzzle-jigsaw Puzzle-jigsaw--inset">
    <div class="Puzzle-jigsawIcon">
      <i class="iconFont iconFont-TieFighter iconFont--super"></i>
    </div>
  </div>
  <div class="Puzzle-jigsaw fit-left js-right-key-column <%- rightKeyColumnName ? '' : 'is-placeholder' %>"><%- rightKeyColumnName %></div>
</div>
