<div class="Puzzle">
  <div class="Puzzle-piece connect-right js-left-key-column"><%- leftKeyColumnName %></div>
  <div class="Puzzle-piece Puzzle-piece--inset">
    <div class="Puzzle-pieceIcon">
      <i class="iconFont iconFont-TieFighter iconFont--super"></i>
    </div>
  </div>
  <div class="Puzzle-piece connect-left js-right-key-column <%- rightKeyColumnName ? '' : 'is-placeholder' %>"><%- rightKeyColumnName %></div>
</div>
