<div class="MergeDatasets">
  <div class="MergeDatasets-list">
    <div class="List List--selections">
      <div class="List-row">
        <div class="List-rowItem List-rowItem--compact List-rowItem--withoutBottomBorder List-rowItem--withoutBottomPadding js-left-table"></div>
      </div>
      <div class="List-row is-disabled">
        <div class="List-rowItem List-rowItem--compact">
          <div class="MergeDatasets-rowItem">
            <div class="RadioButton">
              <button class="RadioButton-input is-checked is-disabled" />
            </div>
            <div>
              <div class="DefaultTitle"><%- leftKeyColumn.get('name') %></div>
              <p class="DefaultParagraph DefaultParagraph--tertiary"><%- leftKeyColumn.get('type') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="js-left-columns"></div>
  </div>

  <div class="MergeDatasets-ornaments">
    <div class="MergeDatasets-ornamentsTop MergeDatasets-ornamentsTop--column"></div>
  </div>

  <div class="MergeDatasets-list">
    <div class="List List--selections">
      <div class="List-row">
        <div class="List-rowItem List-rowItem--compact List-rowItem--withoutBottomBorder List-rowItem--withoutBottomPadding js-right-table"></div>
      </div>
      <div class="List-row is-disabled">
        <div class="List-rowItem List-rowItem--compact">
          <div class="MergeDatasets-rowItem">
            <div class="RadioButton">
              <button class="RadioButton-input is-checked is-disabled" />
            </div>
            <div>
              <div class="DefaultTitle"><%- rightKeyColumn.get('name') %></div>
              <p class="DefaultParagraph DefaultParagraph--tertiary"><%- rightKeyColumn.get('type') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="js-right-columns"></div>
  </div>
</div>
