<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--negative">
    <i class="iconFont iconFont-Key"></i>
  </div>
  <p class="Dialog-headerTitle u-ellipsLongText">
  <% if (scope === 'organization') { %>
    You are about to regenerate the <%= type === "api" ? 'Api key' : 'OAuth credentials' %> for all the users of the organization
  <% } else if (scope === 'organization_user') { %>
    You are about to regenerate the <%= type === "api" ? 'Api key' : 'OAuth credentials' %> for this user of the organization
  <% } else { %>
    You are about to regenerate your <%= type === "api" ? 'Api key' : 'OAuth credentials' %>
  <% } %>
  </p>
  <p class="Dialog-headerText">
    <% if (type === "api") { %>
      You will need to update all deployed apps with a new API key. Are you sure you want to continue?
    <% } else { %>
      You will have to update all OAuth keys in apps where you are using CartoDB. Are you sure?
    <% } %>
  </p>
</div>

<div class="Dialog-footer u-inner">
  <button class="Button Button--secondary Button--inline cancel">
    <span>cancel</span>
  </button>
  <button class="Button Button--negative Button--inline js-ok">
    <span>Regenerate <%= type === "api" ? 'Api key' : 'OAuth credentials' %></span>
  </button>
</div>
