<div class="announcement">
  <div class="inner">
    Say "Hi" to the public dashboards: the new way to showcase your maps and data. <a href="http://blog.cartodb.com/post/81486919763/new-public-pages-in-cartodb-discover-great-maps-and">Learn more about it</a>
  </div>
</div>

