<%= content_for(:title) do %>
  Maps by <%= @name %> on CartoDB
<% end %>

<%= content_for(:description) do %>
  <%= @name %> is creating maps and visualizations using CartoDB
<% end %>

<div class="u-inner">
</div>
