<div class="ImportPanel-header">
  <h3 class="ImportPanel-headerTitle">Twitter connector</h3>
  <p class="ImportPanel-headerDescription">Enable the Twitter connector in your account, this will allow you to:</p>
</div>
<div class="ImportPanel-body">
  <ul class="ImportPanel-list">
    <li class="ImportPanel-listItem">Create interactive maps from Twitter activity related to your brand, event, or any term you may be interested in.</li>
    <li class="ImportPanel-listItem">Import and perform geospatial analysis over tweets.</li>
    <li class="ImportPanel-listItem"><a href="mailto:sales@cartodb.com">Contact us</a>.</li>
  </ul>
</div>