<div class="ImportPanel-header">
  <h3 class="ImportPanel-headerTitle">MailChimp connector</h3>
  <p class="ImportPanel-headerDescription">Enable the MailChimp connector in your account, this will allow you to:</p>
</div>
<div class="ImportPanel-body">
  <ul class="ImportPanel-list">
    <li class="ImportPanel-listItem">Map your user lists from MailChimp in CartoDB.</li>
    <li class="ImportPanel-listItem">Mantain your CartoDB maps in sync with your MailChimp data.</li>
    <li class="ImportPanel-listItem"><a href="mailto:sales@cartodb.com">Contact us</a>.</li>
  </ul>
</div>