body {position:relative; background:url('/images/admin/common/header_bkg.jpg') repeat-x center 0 #2D3451;}

/*HEADER*/
header {width:900px; height:58px; margin:0 auto; background:none;}
header a.logo {float:left; width:70px; height:15px; margin:22px 0 0 0; background:url('/images/admin/common/logo.png') no-repeat 0 0; text-indent:-9999px;}
header ul {float:right; margin: 24px 0 0 0; }
header ul li {float:left; display: inline; list-style: none; padding: 0 10px 0 0; border-right: solid 1px #949BAB; }
header ul li.last {padding: 0; border: none; }
header ul li a { float:left; margin:0 0 0 10px; font:normal 13px Arial; color:#949BAB; text-decoration: none;}
header ul li a:hover {color:#FFFFFF;}
header ul li span a { margin:0 0 0 4px; text-decoration: underline; color:#949BAB;}
header ul li span a:hover {color:#FFFFFF;}

/*SUBHEADER*/
section.subheader {width:100%; height:52px; background:url('/images/admin/common/sub_header_bkg.png') repeat-x 0 0;}
section.subheader div.inner_subheader {margin:0 auto; width:900px;}
section.subheader div.left {position:relative; float:left; width:auto; padding:12px 0 0 0;}
section.subheader div.left ul.tables_list {float:left; width:auto; margin:0;}
section.subheader div.left ul.tables_list li {float:left; width:auto; margin:0 10px 0 0;}
section.subheader div.left ul.tables_list li a{float:left;height:13px;padding:8px 10px 9px 10px;font:normal 13px Arial;text-shadow:0 1px black;color:white;text-decoration:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #000000;-moz-box-shadow:0 1px 0 0 #484E64;-webkit-box-shadow:0 1px 0 0 #484E64;box-shadow:0 1px 0 0 #484E64;background:linear-gradient(-90deg,#1D283F,#0C101A);background:-webkit-gradient(linear,50% 0%,50% 100%,from(#1D283F),to(#0C101A));background:-moz-linear-gradient(-90deg,#1D283F,#0C101A);background:-o-linear-gradient(#1D283F,#0C101A);background:#1D283F\9;}
section.subheader div.left ul.tables_list li a:hover{background:linear-gradient(-90deg,#0C101A,#1D283F);background:-webkit-gradient(linear,50% 0%,50% 100%,from(#0C101A),to(#1D283F));background:-moz-linear-gradient(-90deg,#0C101A,#1D283F);background:-o-linear-gradient(#0C101A,#1D283F);background:#0C101A\9;}
section.subheader div.left ul.tables_list li.selected a{color:#949BAB;background:linear-gradient(-90deg,#0C101A,#1D283F);background:-webkit-gradient(linear,50% 0%,50% 100%,from(#0C101A),to(#1D283F));background:-moz-linear-gradient(-90deg,#0C101A,#1D283F);background:-o-linear-gradient(#0C101A,#1D283F);background:#0C101A\9;}
section.subheader div.left ul.tables_list li.selected a:hover {cursor:default; background:linear-gradient(-90deg,#0C101A,#1D283F);background:-webkit-gradient(linear,50% 0%,50% 100%,from(#0C101A),to(#1D283F));background:-moz-linear-gradient(-90deg,#0C101A,#1D283F);background:-o-linear-gradient(#0C101A,#1D283F);background:#0C101A\9;}
section.subheader div.right {position:relative; float:right; width:auto; padding:18px 0 0 0; color:white!important;}
section.subheader div.right p.settings {float:right;}
section.subheader div.right p.settings a {font:normal 13px Arial; text-shadow:0 1px black;}
section.subheader div.right p.settings a.delete {color:#FF3300;}
section.subheader div.right p.settings a.delete:hover {color:#FF4400;}
section.subheader div.right p.settings a.settings {padding:0 20px  0 0; color:white; background:url('/images/admin/icons/settings.png') no-repeat right 1px;}
section.subheader div.right p.settings a.settings:hover {color:white;}
section.subheader div.right span.paginate {position:absolute; right:0; bottom:5px;  width:100%;}
section.subheader div.right span.paginate a {float:right; width:27px; height:23px; text-indent:-9999px;}
section.subheader div.right span.paginate a.previous {margin:0 3px 0 0; background:url('/images/admin/icons/left_button.png') no-repeat 0 0;}
section.subheader div.right span.paginate a.previous_disabled {margin:0 3px 0 0; background:url('/images/admin/icons/left_button_disabled.png') no-repeat 0 0;}
section.subheader div.right span.paginate a.next {background:url('/images/admin/icons/right_button.png') no-repeat 0 0;}
section.subheader div.right span.paginate a.next_disabled {background:url('/images/admin/icons/right_button_disabled.png') no-repeat 0 0;}
section.subheader div.right span.paginate a:hover {background-position:0 -23px;}
section.subheader div.right span.paginate a.disabled:hover {background-position:0 0;}

/*CONTENT*/
section#content {width:100%; background:url('/images/admin/dashboard/content_bkg.png') repeat 0 0;}
section#content div.inner_content {width:906px; margin:0 auto; padding:40px 0 0 0;}


/*Mamufas*/
div.mamufas {position:fixed; display:none; top:0; left:0; height:100%; width:100%; background:rgba(0,0,0,0.65);}

div.mamufas div.create_window {position:absolute; display:none; top:50%; left:50%; width:414px; margin:-157px 0 0 -207px; padding:8px; background:white; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
  -webkit-box-shadow:0 0 50px 3px #111111; -moz-box-shadow:0 0 50px 3px #111111; box-shadow:0 0 50px 3px #111111;}
div.mamufas div.create_window.georeferencing {margin:-295px 0 0 -207px;}
div.mamufas div.create_window a.close_create {position:absolute; right:-7px; top:-7px; width:23px; height:23px; background:url('/images/admin/dashboard/close_settings.png') no-repeat 0 0;}
div.mamufas div.create_window a.close_create:hover {background-position:0 -23px;}
div.mamufas div.create_window a.close_create.last {background-position:0 -46px;}
div.mamufas div.create_window a.close_create.last:hover {background-position:0 -69px;}
div.mamufas div.create_window div.inner_ span.loading {float:left; display:none; opacity:0; width:347px; padding:0 0 0 42px; margin:10px; background:url('/images/admin/icons/loading.gif') no-repeat 2px 7px; overflow:hidden}
div.mamufas div.create_window div.inner_ span.loading h5 {margin:5px 0 0 0; font:bold 15px "Helvetica"; color:#333333; text-shadow:0 1px white;}
div.mamufas div.create_window div.inner_ span.loading h6 {margin:10px 0 0 0; font:bold 12px "Helvetica"; color:#333333; text-shadow:0 1px white;}
div.mamufas div.create_window div.inner_ span.loading dd {padding:4px 0 0 0; font:normal 13px "Helvetica"; color:#666666; text-shadow:0 1px white;}
div.mamufas div.create_window div.inner_ span.loading p {padding:4px 0 0 0; font:normal 13px "Helvetica"; color:#666666; text-shadow:0 1px white;}
div.mamufas div.create_window div.inner_ span.loading p a {color:#666666; text-decoration:underline; cursor:pointer;}
div.mamufas div.create_window div.inner_ span.loading p a:hover {color:#333333;}
div.mamufas div.create_window div.inner_ span.loading.error {background:url('/images/admin/table/stop.png') no-repeat 0 0;}
div.mamufas div.create_window div.inner_ {float:left; width:412px; border:1px solid #CCCCCC; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; background:#EDEEF0;}
div.mamufas div.create_window div.inner_ span.top {float:left; width:394px; padding:15px 10px 10px 10px; border-bottom:1px solid #CCCCCC;}
div.mamufas div.create_window div.inner_ span.top h4 {font:bold 15px "Helvetica",Arial; color:#333333; text-shadow:0 1px white;}
div.mamufas div.create_window div.inner_ span.top p {padding:5px 0 5px 0; font:normal 13px "Helvetica",Arial; color:#999999; text-shadow:0 1px white;}
div.mamufas div.create_window div.inner_ span.top ul {padding:5px 0 0 0;}
div.mamufas div.create_window div.inner_ span.top ul li {float:left; width:auto; padding:4px 8px;}

div.mamufas div.create_window div.inner_ span.top ul li div.geom_type {display:none;}
div.mamufas div.create_window div.inner_ span.top ul li.selected div.geom_type {display:block; margin:10px 0 0 0;}
div.mamufas div.create_window div.inner_ span.top ul li.selected div.geom_type span {display:inline-block; width:300px; padding:0 0 4px 15px; margin:0 0 0 15px; background:url('/images/admin/icons/select_create_table.png') no-repeat 0 -97px;}
div.mamufas div.create_window div.inner_ span.top ul li.selected div.geom_type span.selected {background-position:0 2px;}
div.mamufas div.create_window div.inner_ span.top ul li.selected div.geom_type span:hover {background-position:0 2px; cursor:pointer;}
div.mamufas div.create_window div.inner_ span.top ul li.selected div.geom_type span.selected:hover {background-position:0 2px;}
div.mamufas div.create_window div.inner_ span.top ul li.selected div.geom_type span a {background:none; padding:0;}
div.mamufas div.create_window div.inner_ span.top ul li.selected div.geom_type span a:hover {cursor:pointer;}

div.mamufas div.create_window div.inner_ span.top ul li ul li.selected a {background-position:0 1px;}
div.mamufas div.create_window div.inner_ span.top ul li a {padding:0 0 0 18px; font:bold 13px Arial; color:#333333; text-decoration:none; background:url('/images/admin/icons/select_create_table.png') no-repeat 0 -28px;}
div.mamufas div.create_window div.inner_ span.top ul li a:hover {color:#111111; background-position:0 -67px;}
div.mamufas div.create_window div.inner_ span.top ul li.selected {width:373px!important; padding:10px; margin:7px 0; background:#2A3857; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
div.mamufas div.create_window div.inner_ span.top ul li.selected a {color:white; background-position:0 1px;}
div.mamufas div.create_window div.inner_ span.top ul li.selected a:hover {color:white; cursor:default; background-position:0 1px;}
div.mamufas div.create_window div.inner_ span.top ul li.selected ul.qq-upload-list {display:none;}

div.mamufas div.create_window div.inner_ span.top ul li div.error_url {position:absolute; display:none; z-index:10; right:22px; top:-40px;}
div.mamufas div.create_window div.inner_ span.top ul li div.error_url p {float:left; height:52px; padding:0 0 0 19px; background:url('/images/front/home/left_error.png') no-repeat 0 0;}
div.mamufas div.create_window div.inner_ span.top ul li div.error_url p span {float:left; height:37px; padding:15px 19px 0 0; background:url('/images/front/home/right_error.png') no-repeat right 0; font:normal 11px "Helvetica",Arial; color:white; text-shadow:0 -1px #C55B14;}

div.mamufas div.create_window div.inner_ span.top ul li span.file {display:none;}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file {position:relative; display:block; width:348px; height:28px; margin:10px 10px 0 15px; border:1px solid #000000; background:white; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.select_file {display:block;}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.progress {display:none;}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file.uploading div.select_file {display:none;}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file.uploading div.progress {display:block;}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.select_file div#uploader {position:relative}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.select_file div#uploader .qq-upload-button{float:left; height:12px; margin:3px 0 0 2px; padding:4px 7px; border:1px solid #999; font:bold 11px "Helvetica",Arial; color:#333333; text-align:center;
  text-decoration:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; text-shadow:0 1px white;
  background:linear-gradient(-90deg, #FFFFFF, #CACBCE);
  background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#FFFFFF), to(#CACBCE));
  background:-moz-linear-gradient(-90deg, #FFFFFF, #CACBCE);
  background: -o-linear-gradient(#FFFFFF,#CACBCE);
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#CACBCE');
}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.select_file div#uploader .qq-upload-button:hover {
  background:linear-gradient(-90deg, #CACBCE, #FFFFFF);
  background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#CACBCE), to(#FFFFFF));
  background:-moz-linear-gradient(-90deg, #CACBCE, #FFFFFF);
  background: -o-linear-gradient(#CACBCE,#FFFFFF);
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CACBCE', endColorstr='#FFFFFF');
}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.select_file div#uploader .qq-upload-drop-area {position:absolute; z-index:100; top:0; left:0; width:100%; height:28px; border-radius:3px; background:rgba(0,0,0,0.7); font:bold 12px Arial; color:white; text-align:center}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.select_file div#uploader .qq-upload-drop-area span {display:block; padding:8px 0 0 0;}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.select_file p {float:left; margin:1px 0 0 5px; font:normal 13px "Helvetica",Arial; color:#B3B3B3;}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.select_file p.error {color:#FF6600;}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.select_file input {position:absolute; top:0; left:0; width:350px; height:30px; opacity:0;}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.select_file input#url_txt {position:absolute; top:0; left:0; width:330px; height:20px; background-color: transparent; border:none; opacity: 1; float:left; padding: 4px 0 0 6px; font:normal 13px "Helvetica",Arial; color:#B3B3B3;}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.select_file input:hover {cursor:pointer;}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.select_file input#url_txt:focus {color:#666666}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.progress span.progress {float:left; margin:1px; width:5px; max-width:346px; height:26px; background:yellow; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
  background:linear-gradient(-90deg, #FFBE00, #FF9900);
  background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#FFBE00), to(#FF9900));
  background:-moz-linear-gradient(-90deg, #FFBE00, #FF9900);
  background: -o-linear-gradient(#FFBE00,#FF9900);
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFBE00', endColorstr='#FF9900');
}
div.mamufas div.create_window div.inner_ span.top ul li.selected span.file div.progress p {position:absolute; top:2px; left:8px; font:normal 13px "Arial"; color:#333333; text-shadow:0 1px white;}
div.mamufas div.create_window div.inner_ span.top ul li span.georeference {display:none;}
div.mamufas div.create_window div.inner_ span.top ul li.finished a {background-position:0 -123px; color:#0E1427;}
div.mamufas div.create_window div.inner_ span.top ul li.finished a:hover {cursor:default; background-position:0 -123px; color:#0E1427;}
div.mamufas div.create_window div.inner_ span.top ul li.finished span.georeference {display:block;}
div.mamufas div.create_window div.inner_ span.top ul li.finished span.file div.progress span.progress {
  background:linear-gradient(-90deg, #99CC00, #719800);
  background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#99CC00), to(#719800));
  background:-moz-linear-gradient(-90deg, #99CC00, #719800);
  background: -o-linear-gradient(#99CC00,#719800);
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99CC00', endColorstr='#719800');
}
div.mamufas div.create_window div.inner_ span.top ul li.finished span.file div.progress p {text-shadow:0 1px #B4D075;}
div.mamufas div.create_window div.inner_ span.top ul li.finished span.georeference {float:left; width:324px; padding:13px; margin:10px 0 12px 15px; background:#172138; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px}
div.mamufas div.create_window div.inner_ span.top ul li.finished span.georeference h4 {font:bold 13px Arial; color:white; text-shadow:none;}
div.mamufas div.create_window div.inner_ span.top ul li.finished span.georeference ul li.selected {background:#0D1325;}
div.mamufas div.create_window div.inner_ span.top ul li.finished span.georeference ul li.selected a {background-position:0 1px;}
div.mamufas div.create_window div.inner_ span.top ul li.finished span.georeference ul li a {background-position:0 -98px; color:white; font-weight:normal;}
div.mamufas div.create_window div.inner_ span.top ul li.finished span.georeference ul li a:hover {cursor:pointer; background-position:0 1px;}
div.mamufas div.create_window div.inner_ span.top ul li.finished span.georeference ul li p {margin:0 0 0 17px; font:normal 11px Arial; color:#434C5D; text-shadow:none;}
div.mamufas div.create_window div.inner_ span.top ul li.disabled a {opacity:0.3;}
div.mamufas div.create_window div.inner_ span.top ul li.disabled a:hover {cursor:default; background-position:0 -28px;}

div.mamufas div.create_window div.inner_ span.error_details {display:none; margin:10px 0 0; max-height:150px; overflow:auto; white-space:pre; word-wrap: break-word;}
div.mamufas div.create_window div.inner_ span.error_details::-webkit-scrollbar {width:8px!important; height:8px!important; margin-right:5px;}
div.mamufas div.create_window div.inner_ span.error_details::-webkit-scrollbar-thumb {border-radius:10px!important;background:rgba(0,0,0,0.15)!important;cursor:pointer!important}
div.mamufas div.create_window div.inner_ span.error_details::-webkit-scrollbar-thumb:hover,
div.mamufas div.create_window div.inner_ span.error_details::-webkit-scrollbar-thumb:active {background:rgba(0,0,0,0.3);cursor:pointer!important}


div.mamufas div.create_window div.inner_ span.bottom {float:left; width:394px; padding:10px; border-top:1px solid white;}
div.mamufas div.create_window div.inner_ span.bottom input {float:right; height:26px; padding:6px 10px; border:1px solid #999; font:bold 12px "Helvetica",Arial; color:#333333; text-align:center;
  text-decoration:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; text-shadow:0 1px white;
  background:linear-gradient(-90deg, #FFFFFF, #CACBCE);
  background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#FFFFFF), to(#CACBCE));
  background:-moz-linear-gradient(-90deg, #FFFFFF, #CACBCE);
  background: -o-linear-gradient(#FFFFFF,#CACBCE);
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#CACBCE');
}
div.mamufas div.create_window div.inner_ span.bottom input:focus {outline:none;}
div.mamufas div.create_window div.inner_ span.bottom input:hover {
  background:linear-gradient(-90deg, #CACBCE, #FFFFFF);
  background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#CACBCE), to(#FFFFFF));
  background:-moz-linear-gradient(-90deg, #CACBCE, #FFFFFF);
  background: -o-linear-gradient(#CACBCE,#FFFFFF);
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CACBCE', endColorstr='#FFFFFF');
  cursor:pointer;
}
div.mamufas div.create_window div.inner_ span.bottom input.disabled {opacity:0.5;}
div.mamufas div.create_window div.inner_ span.bottom input.disabled:hover {
  background:linear-gradient(-90deg, #FFFFFF, #CACBCE);
  background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#FFFFFF), to(#CACBCE));
  background:-moz-linear-gradient(-90deg, #FFFFFF, #CACBCE);
  background: -o-linear-gradient(#FFFFFF,#CACBCE);
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#CACBCE');
  cursor:default;
}
div.mamufas div.create_window div.inner_ span.bottom a.cancel {float:left; margin:7px 0 0 0; font:normal 13px "Helvetica",Arial; color:#666666;}
div.mamufas div.create_window div.inner_ span.bottom a.cancel:hover {color:#333333;}


/*FOOTER*/
footer {width:100%; height:384px; background:url('/images/admin/dashboard/footer_bkg.jpg') repeat-x center 0;}
footer section.prefooter {width:900px; height:271px; margin:0 auto;}
footer section.prefooter div.block {float:left; width:280px; padding:40px 0 0 0; margin:0 30px 0 0;}
footer section.prefooter div.block.last {margin:0;}
footer section.prefooter div.block h3 {float:left; width:100%; height:13px; font:normal 13px Arial; color:white; text-transform:uppercase; letter-spacing:-1px; word-spacing:2px;}
footer section.prefooter div.block h4 {height:40px; margin:30px 0 0 0; font:bold 19px Arial; color:#CACDD4; text-transform:none;}
footer section.prefooter div.block h4 a {font:bold 19px Arial; color:#CACDD4; text-transform:none; text-decoration:none;}
footer section.prefooter div.block h4 a:hover {color:white;}
footer section.prefooter div.block p {margin:20px 0 0 0; font:normal 13px Arial; color:#8F95A4; line-height:17px;}
footer section.prefooter div.block p a {color:#8F95A4;}
footer section.prefooter div.block p a:hover {color:white;}
footer div.outer_footer {width:100%; height:113px; background:url('/images/admin/common/sub_header_bkg.png') repeat-x 0 0;}
footer section.footer {width:900px; margin:0 auto;}
footer section.footer a.logo {float:left; width:70px; height:15px; margin:32px 0 0 0; background:url('/images/admin/common/logo.png') no-repeat 0 0; text-indent:-9999px;}
footer section.footer div.long {float:left; width:100%;}
footer section.footer span.poweredby {float:right; width:auto;}
footer section.footer p.vizzuality {float:left; width:auto; padding:22px 5px 0 0; font:normal 13px Arial; color:#9295A0;}
footer section.footer span.poweredby a {float:left; width:72px; height:38px; background:url('/images/admin/common/vizzuality.png') no-repeat 0 0; text-indent:-9999px;}
footer section.footer p.rights {float:left; padding:22px 0 0 0; font:normal 13px Arial; color:#9295A0;}
footer section.footer p.rights a {color:#9295A0;}
footer section.footer p.rights a:hover {color:white;}
