html, body, #app, #map, .embed-full-height {height: 100%; padding: 0; margin: 0;}
/* footer */
.cartodb-text {position:absolute; display:none; bottom:0; left:0; right:0; margin:0; padding:0 10px; background:white; font:normal 11px "Helvetica",Arial; color:#999999; border-top:1px solid #CCC; border-top:1px solid rgba(#000, 0); box-shadow:rgba(#000, 0.6) 0 0 1px 0; -webkit-box-shadow:rgba(#000, 0.6) 0 0 1px 0; -moz-box-shadow:rgba(#000, 0.6) 0 0 1px 0; -o-box-shadow:rgba(#000, 0.6) 0 0 1px 0; line-height:29px; z-index:2; }
.cartodb-text a {color:#397DB8; text-decoration:underline;}
.cartodb-text a.user { text-decoration:none }
.cartodb-text img {display:inline-block; *display:inline; vertical-align:middle; border-radius:16px; -webkit-border-radius:16px; -moz-border-radius:16px; zoom:1; text-decoration:none }
.cartodb-text span.username { text-decoration:underline }

/* not supported dialog */
#not_supported_dialog {position:absolute; width:356px; height:213px; top:50%; left:50%; margin-top:-107px; margin-left:-178px; padding:0; background-color:#FFF; text-align:center; font-family:'Helvetica', Arial; color:#666666; z-index:10000;}
#not_supported_dialog h2 {display:inline-block; width:77px; margin:30px 0 0; padding-bottom:16px; font-size:13px; font-weight:bold; border-bottom:1px solid #D9D9D9; vertical-align:top; zoom:1; *display:inline;}
#not_supported_dialog p {display:block; padding:0 40px; margin:12px 0 0; font-size:15px;}
#not_supported_dialog ul {position:absolute; bottom:0; left:0; right:0; display:block; margin:0; padding:0; list-style:none; border-top:1px solid #D9D9D9;}
#not_supported_dialog ul li {float:left; margin:0; padding:0; border-right:1px solid #D9D9D9;}
#not_supported_dialog ul li a {display:block; width:118px; height:74px; background-repeat:no-repeat; background-position:center center; font-size:0; line-height:0; text-indent:-9999px;}
#not_supported_dialog ul li.last {border:none;}
#not_supported_dialog a.safari {background-image:image-url("layout/safari.png");}
#not_supported_dialog a.chrome {background-image:image-url("layout/chrome.png");}
#not_supported_dialog a.firefox {background-image:image-url("layout/firefox.png");}


:-webkit-full-screen .cartodb-map-wrapper { height: 100%!important; }
:-moz-full-screen .cartodb-map-wrapper { height: 100%!important; }
:-ms-fullscreen .cartodb-map-wrapper { height: 100%!important; }
:fullscreen .cartodb-map-wrapper { height: 100%!important; }

.cartodb-map-wrapper {bottom:30px!important;}
.cartodb-text {display:block;}
