/**
 * embed map
 */
@import "compass/reset";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/inline-block";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "../common/vars";
@import "../common/fonts";
@import "../plugins/tipsy";
@import "../common/mixins";

html, body {height: 100%; padding: 0; margin: 0;}

#map { 
@include opacity(0);
height: 100%;
padding: 0;
margin: 0;
height:627px\9; /* IE8 and below */
*height:627px; /* IE7 and below */
}


.cartodb-text {position:absolute; display:none; bottom:0; left:0; right:0; margin:0; padding:0 10px; background:white; font:normal 11px "Helvetica",Arial; color:#999999; border-top:1px solid #CCC; border-top:1px solid rgba(0,0,0,0); box-shadow:rgba(0,0,0,0.6) 0 0 1px 0; -webkit-box-shadow:rgba(0,0,0,0.6) 0 0 1px 0; -moz-box-shadow:rgba(0,0,0,0.6) 0 0 1px 0; -o-box-shadow:rgba(0,0,0,0.6) 0 0 1px 0; line-height:29px; z-index:2; }
.cartodb-text a {color:#397DB8; text-decoration:underline;}

#not_supported_dialog {position:absolute; width:356px; height:213px; top:50%; left:50%; margin-top:-107px; margin-left:-178px; padding:0; background-color:#FFF; text-align:center; font-family:'Helvetica', Arial; color:#666666; z-index:10000;}
#not_supported_dialog h2 {display:inline-block; width:77px; margin:30px 0 0; padding-bottom:16px; font-size:13px; font-weight:bold; border-bottom:1px solid #D9D9D9; vertical-align:top; zoom:1; *display:inline;}
#not_supported_dialog p {display:block; padding:0 40px; margin:12px 0 0; font-size:15px;}
#not_supported_dialog ul {position:absolute; bottom:0; left:0; right:0; display:block; margin:0; padding:0; list-style:none; border-top:1px solid #D9D9D9;}
#not_supported_dialog ul li {float:left; margin:0; padding:0; border-right:1px solid #D9D9D9;}
#not_supported_dialog ul li a {display:block; width:118px; height:74px; background-repeat:no-repeat; background-position:center center; font-size:0; line-height:0; text-indent:-9999px;}
#not_supported_dialog ul li.last {border:none;}
#not_supported_dialog a.safari {background-image:url('/assets/layout/safari.png');}
#not_supported_dialog a.chrome {background-image:url('/assets/layout/chrome.png');}
#not_supported_dialog a.firefox {background-image:url('/assets/layout/firefox.png');}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  div.cartodb-public-header .inner .logo {
    background: url('/assets/layout/cartodb@2x.png') no-repeat!important;
    background-size: 93px 18px!important;
  }

}

@media only screen and (max-width: 350px) {

  div.cartodb-public-header .inner .options .create-map {
    display:none!important;
  }

}

@media only screen and (max-width: 710px) {

  .inner .embed-left-col  { margin: 0; float: none; width: 100%; }
  .inner .embed-left-col .content { margin-left: 0px; border-right: none; padding-right: 0; max-width: none; }
  .inner .embed-right-col { float: none;  width: 100%; }

  div.cartodb-map-data .cartodb-info .inner .details h1 {
    padding-right: 20px;
  }

  div.cartodb-info .inner .user.embed-right-col {
    float:right;
    text-align: left;
  }

  div.cartodb-map-data .cartodb-body .inner .map-info {
    top: 0;
  }

  div.cartodb-info .inner .user.embed-right-col .user-info {
    float: right;
    text-align: left;
    position:absolute;
    left: 75px;
  }

  div.cartodb-footer .inner .embed-left-col  {
    text-align: center;
    padding: 10px 0;
  }

  div.cartodb-footer .inner .embed-right-col  {
    text-align: center;
  }

  div.cartodb-public-header .inner .logo {
    background-size:  50%;
  }

  div.cartodb-info .inner .details {
    margin-bottom: 30px;
  }

}

/* iPhone portrait */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) {

  .cartodb-map-data .cartodb-info {
    padding: 20px 0;
  }

  div.cartodb-map-data .cartodb-body .inner .map-info {
    top: 0;
  }

  div.cartodb-map-data .cartodb-info .inner .details h1 {
    font-size:20px;
    padding-right: 0px;
  }

  div.cartodb-public-header .inner .options .create-map {
    display:none;
  }

}

/* iPhone landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) {

  div.cartodb-map-data .cartodb-body .inner .map-info {
    top: 0;
  }

  div.cartodb-map-data .cartodb-info .inner .details h1 {
    font-size:20px;
    padding-right: 0px;
  }

}

@media only screen and (min-width: 711px) and (max-width: 1035px) {

  .inner .embed-left-col  { margin: 0; float: none; width: 100%; }
  .inner .embed-left-col .content { margin-left: 0px; border-right: none; padding-right: 0; max-width: none; }
  .inner .embed-right-col { float: none;  width: 100%; }

  .inner .user.embed-right-col {
    width: 200px;
    float: right;
  }

  div.cartodb-map-data .cartodb-body .inner .map-info {
    top: 0;
  }

  div.cartodb-map-data .cartodb-info .inner .details h1 {
    padding-right: 20px;
  }

  .cartodb-info .inner .details.embed-left-col p {
    padding-right: 20px;
  }

  .inner .details.embed-left-col {
    max-width:  70%;
    border-right: 1px solid #D1D1D1;
    float:left;
  }

  div.cartodb-footer .inner .embed-left-col  {
    float:left;
    width: 50%;
  }

  div.cartodb-footer .inner .embed-right-col  {
    float: right;
    width: 50%;
    text-align:right;
  }

}

.cartodb-public-header .inner,
.cartodb-map-data .inner {
  max-width: 1024px;
  margin: auto;
  clear:both;
  overflow:hidden;
  padding: 0 20px;
}

.embed-left-col{
  float: left;
  width: 100%;
  margin-left: -245px; /* The size of the fixed block. */
}

.embed-right-col {
  float: right;
  width: 245px;
}

.cartodb-map-data .no_script,
.cartodb-map-data .dsq-brlink {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size:15px;
  color: #397DB8;
}

.embed-left-col .content {
  max-width:  689px;
  margin-left: 245px;
  border-right: 1px solid #D1D1D1;
  padding-right: 48px;
}

.embed-left-col.details .content {
  min-height: 46px;
}

.cartodb-footer .embed-left-col .content { border-right: none; }

div.cartodb-map-data {
  position:relative;
  width: 100%;
  background:#fff;
}

div.cartodb-info {
  background: #F6F6F6;
  border-bottom: 1px solid #D1D1D1;
  /*border-top: 1px solid #D1D1D1;*/
  padding: 38px 0 36px 0;
}

div.cartodb-info .inner .details h1 {
  font-family: 'ProximaNova-Semibold', Helvetica, sans-serif;
  font-weight: normal;
  font-size:27px;
  color: #444444;
  padding: 0;
  margin: 0 0 5px 0;
  line-height: 110%;
}

div.cartodb-info .inner .details p {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size:15px;
  color: #868686;
  line-height: normal;
}

div.cartodb-info .inner .user {
  text-align:right;
  padding: 2px 0;
}

div.cartodb-info .inner .user .avatar {
  display:inline-block;
  zoom: 1; *display: inline; vertical-align: top;

  width: 46px;
  height: 46px;
  background: #fff;

  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

div.cartodb-info .inner .user .user-info {
  margin: 5px 8px 0 0;
  text-align:right;
  display:inline-block;
  zoom: 1; *display: inline; vertical-align: top;
}

div.cartodb-info .inner .user h4,
div.cartodb-info .inner .user h5 {
  margin: 0; padding: 0;
  font-family: 'ProximaNova-Semibold', Helvetica, sans-serif;
  font-weight: normal;
}

div.cartodb-info .inner .user h4 {
  margin: 0 0 6px 0;
  font-size: 17px;
  color: #444444;
}

div.cartodb-info .inner .user h5 {
  font-size: 15px;
  color: #858585;
}

div.cartodb-body {
  padding: 30px 0;
}

div.cartodb-body .comments .content p {
  font-size: 17px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #444444;
  line-height: normal;
}

div.cartodb-body .inner .map-info {
  position:relative;
  top: 8px;
}

div.cartodb-body .inner .map-info h2 {
  margin: 0 0 21px 0;
  padding: 0;
  font-size: 17px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight:bold;
  color: #444444;
  line-height: normal;
}

div.cartodb-body .inner .map-info ul {
  list-style:none;
  margin: 0;
  padding: 14px 0 0 0;
  border-top: 2px solid #EBEEF0;
}

div.cartodb-body .inner .map-info ul li {
  clear:both;
  overflow:hidden;
  margin: 0 0 17px 0;
  padding: 0 0 17px 0;
  border-bottom: 1px solid #E4E4E4;
  font-size: 15px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

div.cartodb-body .inner .map-info ul li.private {
  color: #CCCCCC;
}

div.cartodb-body .inner .map-info ul li a {
  float:left;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #397DB8;
  text-decoration:none;
  font-size: 15px;
  line-height: 120%;

  /* Ellipsis */
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.cartodb-body .inner .map-info ul li a:hover {
  text-decoration: underline;
  color: #333;
}

div.cartodb-body .inner .map-info ul li span {
  position:relative;
  top: 4px;
  float:right;
  font-size: 11px;
  color: #CCCCCC;
  font-family: 'ProximaNova', Helvetica, sans-serif;
  line-height: 120%;
}

div.cartodb-body .inner .map-info ul li span.help {
  font-family: 'ProximaNova', Helvetica, sans-serif;
  top: 3px;
}

div.cartodb-body a {
  color: #397DB8;
  text-decoration: underline;
  cursor: auto;
}

div.cartodb-footer {
  font-size:13px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #999999;
  background: #F6F6F6;
  border-top: 1px solid #D1D1D1;
  padding: 40px 0;
}

div.cartodb-footer a {
  font-size:13px;
  color: #2483B2;
  text-decoration: none;
}

div.cartodb-footer a:hover {
  text-decoration: underline;
  color: #333;
}

div.cartodb-public-header .inner .options {
  margin: 23px 0;
}

div.cartodb-public-header .inner .options .regular {
  margin-right: 26px;
  color: #fff;
  font-size: 15px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-decoration:none;
  font-weight: 200;
  zoom: 1; *display: inline; *padding: 8px 0;
}

div.cartodb-public-header .inner .options .regular:hover {
  text-decoration: underline;
}

div.cartodb-public-header a.button.green:hover {
  background: #749C33;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #94be42), color-stop(100%, #799e33));
  background: -webkit-linear-gradient(#94be42,#799e33);
  background: -moz-linear-gradient(#94be42,#799e33);
  background: -o-linear-gradient(#94be42,#799e33);
  background: linear-gradient(#94be42,#799e33);
  text-decoration: none;
  cursor: pointer;
}

div.cartodb-public-header a.button.green {
  padding: 8px 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Segoe UI Bold", "Helvetica Bold", "Helvetica", Arial;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 1px 0 #3C5219;
  background: #94BE42;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #94be42), color-stop(100%, #7fa938));
  background: -webkit-linear-gradient(#94be42,#7fa938);
  background: -moz-linear-gradient(#94be42,#7fa938);
  background: -o-linear-gradient(#94be42,#7fa938);
  background: linear-gradient(#94be42,#7fa938);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #1E3C54;
  letter-spacing: 0;
  word-spacing: 1px;
  -webkit-transform-style: "linear";
  -moz-transform-style: "linear";
  -ms-transform-style: "linear";
  -o-transform-style: "linear";
  transform-style: "linear";
  -webkit-transition-property: box-shadow,border;
  -moz-transition-property: box-shadow,border;
  -o-transition-property: box-shadow,border;
  transition-property: box-shadow,border;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;

  zoom: 1; *display: inline;
}

div.cartodb-public-header .inner .logo {
  @include background(image-url('layout/cartodb.png') no-repeat);
  margin: 23px 0;
  display: block;
  width: 93px;
  height: 18px;
  text-indent: -9999px;
  line-height: 0px;
  font-size: 0px;
  text-transform: uppercase;
}

div.cartodb-public-header .inner .logo { float:left; }
div.cartodb-public-header .inner .options { float:right; }

div.cartodb-public-header {
  position: relative;
  display: block;
  border: none;
  height: 67px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 6px 4px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 6px 4px -2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 6px 4px -2px;
  @include background(image-url('layout/gradient.png') repeat-x center center);
  margin:0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  z-index: 10;
}

div.separator {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background: #808080; /*IE*/
  background: #000;
  @include opacity(.2);
  z-index: 1000; 
  
  &.top { top: 67px; }
  &.bottom { top: -1px; position: relative; }
}

div.cartodb-share-dialog .block.modal .head h3 {
  font-family: "Helvetica Bold", "Helvetica", Arial;
  font-weight: bold;
  font-size: 15px;
  color: #333;
  line-height: normal;
}

div.cartodb-share-dialog .block.modal h4 {
  font-family: "Helvetica Bold", "Helvetica", Arial;
}

div.cartodb-share-dialog .block .buttons li a {
  font-family: "Helvetica Bold", "Helvetica", Arial;
}

:-webkit-full-screen {
  width: 100%;
  height: 100%;

  #map { height: 100%!important; }

}

:-moz-full-screen {
  width: 100%;
  height: 100%;

  #map { height: 100%!important; }

}
