<i class="<%= service %>"></i>
<p><%= tweets_georeferenced %> georeferenced tweet<%= tweets_georeferenced == 1 ? '' : 's' %> have been imported to your account.<br />
  <% if (tweets_overquota) { %>The total cost of this operation has been $<%= tweets_cost %><% } else { %>This operation didn't cost you anything.<% } %></p>
