<i class="<%= service %>"></i>
<p><%= tweets_georeferenced %> georeferenced tweet<%= tweets_georeferenced == 1 ? '' : 's' %> have been imported to your account.
  The total cost of this operation has been $<%= tweets_cost %> </p>
