<div class="msg">
  <p class="strong"><%= filename %></p>
  <% if (size) { %>
    <p class="light small"><%= size && cdb.Utils.readablizeBytes(size) %></p>
  <% } else { %>
    <p class="lighter small italic">File size not provided</p>
  <% } %>
</div>
<a href="#/select" class="button grey smaller">Select</a>