<form class="upload">
  <p>Import your data from a Salesforce URL and keep it synchronized with the source.</p>
  <div class="upload">
    <span class="file type"></span>
    <input type="text" class="url-input" placeholder="Paste here your Salesforce URL" />
  </div>
  <div class="infobox"></div>
</form>
<div class="message">
  <p>Choose your synchronization interval and your dataset will be updated automatically</p>
</div>
