<div class="msg">
  <p class="strong"><%= filename %></p>
  <p class="lighter small">
    <% if (service === "dropbox") { %>
      <i class="path" title="<%= id.replace('/' + filename,'') %>"><%= id.replace('/' + filename,'') %></i> folder - 
    <% } %>
    <% if (size) { %>
      <%= size && cdb.Utils.readablizeBytes(size) %>
    <% } else { %>
      <i>File size not provided</i>
    <% } %>
  </p>
</div>
<a href="#/select" class="button grey smaller">Select</a>