<div class="canvas"></div>
<div class="message">
  <p>With the Twitter Data Service you can create interactive maps from Twitter activity related to your brand, event, or any term you may be interested in.</p>
  <p class="margin20">To gain access to the Twitter Data feature, contact <a href="mailto:sales@cartodb.com">sales@cartodb.com</a> to get started.</p>
</div>