<p><%= what_about %></p>
<% if (item_queue_id) { %>
  <div class="item_queue_id">
    <p class="small light">Persisting error? <a href="mailto:support@cartodb.com?subject=Import error: <%= item_queue_id %>">send us</a> the following code: <%= item_queue_id %></p>
  </div>
<% } %>