<div class="upload">
  <a href="#/choose-dropbox-file" class="dropbox-dropin-btn dropbox-dropin-default" id="dropbox-chooser"><span class="dropin-btn-status"></span>Choose from Dropbox</a>
  <p class="filename"></p>
</div>
<label class="light small">(CSV, XLS, KML, GPX) <a href="http://developers.cartodb.com/documentation/using-cartodb.html#formats_accepted" target="_blank">see all formats</a></label>
<div class="infobox"></div>