<div class="upload">
  <a href="#/choose-mailchimp-file" class="mailchimp-dropin-btn mailchimp-dropin-default" id="mailchimp-chooser"><span class="dropin-btn-status"></span>Choose from MailChimp</a>
  <p class="filename"></p>
</div>
