<div class="loading">
  loading
</div>
<div class="error">
  error
</div>
<div class="list">
  list
</div>
<div class="upload">
  <a href="#/choose-service-file" class="service">Choose from service</a>
  <p class="filename"></p>
</div>
<label class="light small">( extensions :S ) <a href="http://developers.cartodb.com/documentation/using-cartodb.html#formats_accepted" target="_blank">see all formats</a></label>
<div class="infobox"></div>