<span class="loader">Getting tables...</span>
<p class="warning error">Something went wrong getting your tables, please try again later...</p>
<div class="options">
  <div class="combo_wrapper">
    <div class="tableListCombo"></div>
  </div>
  <div>
    <p class="warning geo">This layer doesn't have any georeference data.</p>
    <p class="warning permission">Only tables shared across all users in the visualisation are permitted.</p>
  </div>
</div>