@import 'cdb-variables/colors';

.Form-InputFill.is-disabled {
  border-color: $cSecondaryLine;
  background: $cThirdBackground;
  cursor: default;
}

.Editor-FormDialog {
  position: absolute;
  z-index: 100;
  top: 36px;
  right: 0;
  width: 248px;
}

.Editor-FormDialog .CustomList {
  display: block;
  position: relative;
  top: auto;
  right: auto;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.Editor-fillContainer {
  width: 100%;
  height: 100%;
  padding: 0 8px;
}

.Editor-fillImage {
  display: flex;
  height: 16px;
  margin-right: 8px;
}

.Editor-fillImageAsset {
  width: auto;
  height: 16px;
}

.Editor-categoryImagesTag {
  padding: 2px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  text-align: center;
}

.CDB-OptionInput-item.is-disabled .CDB-OptionInput-content {
  color: #CCC;
}

.CDB-OptionInput-item--categories .InputColor {
  padding: 0;
}

.CDB-ColorBar.is-link {
  cursor: pointer;
}

.CDB-OptionInput-container {
  height: 100%;
}

.CDB-OptionInput-container--noSlider {
  width: 100%;
}

.InputColor-modalHeader {
  display: flex;
  justify-content: space-between;
}
