<div class="emptyTableContainer">
  <div class="emptyPublicTableInfo emptynessInfo">
    <h4>This table is empty</h4>
    <p>If you are the owner of this table remember to login and add your desired rows.</p>
    <p>If not, you can’t do anything interesting here.</p>
  </div>
</div>
