<div>
  <label class="strong small interactuable">
    <div class="coloptions" href="#<%- col_name %>">
      <%- col_name %>
      <% if (col_type == 'geometry') { %>
        <span class="tiny geo">GEO</span>
      <% } %>
    </div>
  </label>
  <p class="small">
    <a class="disabled"><%- col_type %></a>
  </p>
</div>
<p class="auto"><%- col_name %>_<% if (col_type == 'geometry') { %>GEO<% } %></p>
