<ul>
  <li><a href="#/" class="dark"><strong>all tables</strong></a></li>
  <% for(var i in attributes){ %><li><a href="#/tag/<%= attributes[i].name %>/1"><%= attributes[i].name %> (<%= attributes[i].count %>)</li><% } %>
</ul>
