<h4 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m u-tSpace-xl"><%= _t('cartodb.dashboard.views.content_no_data.no_data_yet') %></h4>
<p class="CDB-Text CDB-Size-medium u-altTextColor">
  <%= _t('cartodb.dashboard.views.content_no_data.can_connect') %>
</p>
<div class="NoDatasets-illustration"></div>
