<h4 class="IntermediateInfo-title">You have not connected any datasets yet</h4>
<p class="DefaultParagraph">
  <button class="ContentResult-textTitle js-connect">Connect your data</button> or start with one of the following datasets from the data library.
</p>
