<ul class="options">
  <li class="active option" data-option="0">
    <a href="#import_data" class="selected radiobutton"><span class="radio"></span>Start importing some data</a>
    <div class="cont">
      <form>
        <label class="light small">(SHP, KML, CSV, GPX, SQL)</label>
        <div class="upload">
          <span class="drop">Drop your file here</span>
          <span class="file type"></span>
          <input type="text" val="" />
          <div class="holder">
            <div class="url">
              <p class="italic lighter">Paste here an URL or</p>
            </div>
            <span class="fileinput-button">
              <input type="file" val="" />
              <span>select a file</span>
            </span>
          </div>
        </div>
        <div class="info">
          <p></p>
        </div>
      </form>
    </div>
  </li>
  <li class="option disabled" data-option="4">
    <a href="#base_geometries" class="radiobutton disabled"><span class="radio"></span>Start with base geometries</a>
    <div class="cont"></div>
  </li>
  <li class="option" data-option="2">
    <a href="#from_scratch" class="radiobutton"><span class="radio"></span>Start from scratch</a>
  </li>
</ul>
<div class="progress">
  <span></span>
  <p>Uploading your data</p>
  <a href="#stop_process" class="stop"></a>
</div>