<ul>
  <% for (var i=0, l = posts.length; i<l; i++) { %>
  <li>
    <a href="<%= posts[i].post_url %>" target="_blank"><%= posts[i].title %></a>
    <p class="margin5 light small"><%= moment(new Date((posts[i].timestamp * 1000))).fromNow() %></p>
  </li>
  <% } %>
</ul>