<div class="inner">
  <section class="left">
    <% if (dedicated_support) { %>
      <h3>As a paying customer you have access to our dedicated support.</h3>
      <p>We encourage our users to participate on our <a href="http://gis.stackexchange.com/questions/tagged/cartodb" target="_blank">community forums</a> and share their knowledge.</p>
    <% } else { %>
      <h3>For all technical questions about using CartoDB, contact our community support forum</h3>
      <p>If you experience any problems with the CartoDB service, feel free to <a href="mailto:support@cartodb.com">contact us</a>.</p>
    <% } %>
  </section>
  <div class="right">
    <% if (dedicated_support) { %>
      <a href="mailto:support@cartodb.com" class="button grey right">Contact</a>
    <% } else { %>
      <a href="http://gis.stackexchange.com/questions/tagged/cartodb" target="_blank" class="button grey right">Enter now</a>
    <% } %>
  </div>
</div>