<td><div class="RowCheckbox"></div></td>
<td>
  <% if (type == "table") { %>
    <div class="DatasetTypeIcon imported"></div>
  <% } else { %>
    <div class="DatasetTypeIcon library"></div>
  <% } %>
</td>
<td>
  <%
    var q = router.model.get('q');
    var startPos = q != '' ? title.toLowerCase().indexOf(q.toLowerCase()) : -1;

    if (startPos != -1) {
      var qLen = q.length;
      title = title.substr(0, startPos) + '<span class="found-sub">' + title.substr(startPos, qLen) + '</span>' + title.substr(startPos + qLen);
    }

    if (type == "table" && $.inArray("bbg_pro_ui", user_data.feature_flags) !== -1) { %>
      <a href="<%- datasetUrl %>" class="DatasetTitle-link"><%= title %></a>
  <% } else { %>
    <%= title %>
  <% } %>
</td>
<td><div class="DatasetsList-itemDescription js-item-description"></div></td>
<td><%- timeDiff %></td>
<td>
  <span>
    <a class="LikesIndicator is-likeable" href="#/like"><i class="CDB-IconFont CDB-IconFont-info LikesIndicator-icon "></i></a>
  </span>
</td>
<td>
  <span class="js-likes-indicator" />
</td>