<span class="Filters-separator"></span>
<div class="Filters-row">
  <div class="Filters-group">
    <ul class="Filters-group js-links-list">
      <li class="Filters-typeItem">
          <button class="Filters-typeLink is-selected">
            <% if (totalItems) { %>
              <strong><%- totalItems %></strong>
            <% } %>
            <%- pluralizedContentType.charAt(0).toUpperCase() + pluralizedContentType.substring(1) %>
          </button>
      </li>
    </ul>
  </div>
</div>
