<div class="inner">
  <ul class="filter_options">
    <li><a href="#/your-visualizations">Your visualizations</a></li>
    <li><a href="#/shared-with-you">Only shared with you</a></li>
    <li class="search-filter">
      <form action="/dashboard/search">
        <i class="lens"></i>
        <input type="text" value="" name="q" placeholder="Search by name..." />
      </form>
    </li>
  </ul>

  <div class="tags-filter">
    <a href="#/filter" class="filter">Filter by tag</a>
  </div>
</div>