<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/assets/<%= htmlWebpackPlugin.options.version %>/favicons/favicon.ico" />
    <link rel="stylesheet" href="/assets/<%= htmlWebpackPlugin.options.version %>/stylesheets/cartodb.css" />
    <link rel="stylesheet" href="/assets/<%= htmlWebpackPlugin.options.version %>/stylesheets/common.css" />
    <link rel="stylesheet" href="/assets/<%= htmlWebpackPlugin.options.version %>/stylesheets/dashboard.css" />
  </head>
  <body>
    <div class="ContentController" id="content-controller">
      <div class="Filters"></div>
      <div class="NoDatasets"></div>
      <div class="ContentList" id="content-list"></div>
      <div class="ContentFooter" id="content-footer"></div>
    </div>
  </body>
</html>
