<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div id="app"></div>

    <% htmlWebpackPlugin.files.js.forEach(function(jsFile) { %>
      <script>
        <%= compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
      </script>
    <% }); %>
  </body>
</html>
