<p><%= description %></p>

<div class="options">

  <div class="scrollpane">
    <div class="tables"></div>
  </div>

  <div class="loader"></div>
  <div class="combo_wrapper hidden">
    <div class="tableListCombo"></div> <a href="#" class="add">Add</a>
  </div>
</div>

