<div class="OnBoarding-map js-onboarding-map"></div>
<div class='OnBoarding-welcome'>
  <div class="OnBoarding-welcomeContent OnBoarding-welcomeContent--wide">
    <div class="OnBoarding-welcomeContentInner">
      <h4 class="OnBoarding-welcomeContentTitle OnBoarding-welcomeContentMargin">Hello, <%- username %>!</h4>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin">Welcome to the CartoDB Editor.</p>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin">Drag your data file to your dashboard to connect your dataset and create your first map.</p>
      <button class="Button Button--positive OnBoarding-welcomeContentMargin js-createMap">
        <span>new map</span>
      </button>
    </div>
    <div class="OnBoarding-importAnimation"></div>
  </div>
</div>
