<div class="OnBoarding-map js-onboarding-map"></div>
<div class='OnBoarding-welcome'>
  <div class="OnBoarding-welcomeContent OnBoarding-welcomeContent--wide">
    <div class="OnBoarding-welcomeContentInner">
      <h4 class="OnBoarding-welcomeContentTitle">Aloha, <%- username %>!</h4>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin">Welcome to the CartoDB Editor.</p>
      <p class="OnBoarding-welcomeContentText">Drag your data file to your dashboard to create your first map.</p>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin">From here, your Dashboard, you will be able to create new
        maps as well as finding the ones you’ve liked.</p>
      <button class="Button Button--positive OnBoarding-welcomeContentMargin js-createMap">
        <span>create your first map</span>
      </button>
    </div>
    <div class="OnBoarding-importAnimation"></div>
  </div>
</div>
