<ul>
  <li class="popular" data-size="682351">
    <h3><a href="http://cartodb.s3.amazonaws.com/static/10m-populated-places-simple.zip">Populated places</a></h3>
    <p class="light">Most populated places from <a href="http://naturalearthdata.com" target="_blank">naturalearthdata.com</a> <span class="small">(682KB)</span></p>
  </li>
  <li class="popular" data-size="448667">
    <h3><a href="http://cartodb.s3.amazonaws.com/static/50m-urban-area.zip">Urban Areas</a></h3>
    <p class="light">Areas of human habitation from <a href="http://naturalearthdata.com" target="_blank">naturalearthdata.com</a> <span class="small">(449KB)</span></p>
  </li>
  <li class="popular" data-size="429570">
    <h3><a href="http://cartodb.s3.amazonaws.com/static/50m-rivers-lake-centerlines-with-scale-ranks.zip">World rivers</a></h3>
    <p class="light">Most of the world rivers from <a href="http://naturalearthdata.com" target="_blank">naturalearthdata.com</a> <span class="small">(430KB)</span></p>
  </li>
  <li class="popular" data-size="236544">
    <h3><a href="http://cartodb.s3.amazonaws.com/static/TM_WORLD_BORDERS_SIMPL-0.3.zip">World borders</a></h3>
    <p class="light">World countries borders <span class="small">(231KB)</span></p>
  </li>
  <li class="popular" data-size="168960">
    <h3><a href="http://cartodb.s3.amazonaws.com/static/european_countries.zip">European countries</a></h3>
    <p class="light">European countries geometries <span class="small">(165KB)</span></p>
  </li>
  <li class="popular" data-size="16384">
    <h3><a href="http://cartodb.s3.amazonaws.com/static/counties_ny.zip">NYC Counties</a></h3>
    <p class="light">All the NYC counties <span class="small">(16KB)</span></p>
  </li>
  <li class="popular" data-size="63488">
    <h3><a href="http://cartodb.s3.amazonaws.com/static/nyc_subway_entrance.zip">NYC Subways</a></h3>
    <p class="light">All the NYC Subways <span class="small">(62KB)</span></p>
  </li>
</ul>