<ul>
  <li class="popular" data-size="560128">
    <h3><a href="http://cartodb.s3.amazonaws.com/static/stop_frisk_bedford.zip">Stop frisk Bedford</a></h3>
    <p class="light">NYPD’s stop-and-frisk 2011 data (547KB)</p>
  </li>
  <li class="popular" data-size="236544">
    <h3><a href="http://cartodb.s3.amazonaws.com/static/TM_WORLD_BORDERS_SIMPL-0.3.zip">World borders</a></h3>
    <p class="light">World countries borders (231KB)</p>
  </li>
  <li class="popular" data-size="168960">
    <h3><a href="http://cartodb.s3.amazonaws.com/static/european_countries.zip">European countries</a></h3>
    <p class="light">European countries geometries (165KB)</p>
  </li>
  <li class="popular" data-size="16384">
    <h3><a href="http://cartodb.s3.amazonaws.com/static/counties_ny.zip">NYC Counties</a></h3>
    <p class="light">All the NYC counties (16KB)</p>
  </li>
  <li class="popular" data-size="63488">
    <h3><a href="http://cartodb.s3.amazonaws.com/static/nyc_subway_entrance.zip">NYC Subways</a></h3>
    <p class="light">All the NYC Subways (62KB)</p>
  </li>
</ul>