<div class="inner">
  <section class="left tables">
  <div class="head">
    <div class="loader"></div>
    <h2>
      <i></i>
      <span></span>
    </h2>
  </div>
  <div class="content">
    <ul id="tablelist"></ul>
    <div class="paginator"></div>
  </div>
  </section>
  <aside class="right">
  <div class="head">
    <a href="#" class="create border create_new">
      <div class="content">
        <div class="plus"></div>
      </div>
      <div class="title">New table</div>
    </a>
  </div>
  <div class="content">
    <ul></ul>
  </div>
  </aside>
</div>
