<li class="empty">
  <div class="table_info">
    <p class="center dark strong">There are no tables corresponding to those search terms.</h4>
    <p class="center margin10">Please change your search or <a href="#/">view all your tables</a>.</p>
  </div>
</li>