<li class="empty">
  <div class="table_info">
    <!--img src="/assets/layout/sad.png" title="Sad" alt="Sad"/-->
    <h4 class="center light <!--margin20-->">There is any table with this criteria</h4>
    <p class="center small light">We encourage you to back to your <a href="#/">dashboard</a>.</p>
  </div>
</li>