<section class="stats">
<div class="inner">
  <ul>

    <li class="tables">
    <a href="#tables" class="progress">
      <span class="" style="width:2%"></span>
    </a>
    <p class="center"><strong>0 of 0</strong> tables created</p>
    </li>

    <li class="size">
    <div class="progress">
      <span class="" style="width:2%"></span>
    </div>
    <p class="center"><strong>0 of 0</strong> <%= remaining_byte_quota %> used</p>
    </li>

    <li class="mapviews">
      <% if (typeof organization !== "undefined" && !organization.owner) { %>
        <div class="stats"></div>
      <% } else { %>
        <a href="#vis" class="progress">
          <span class="" style="width:2%"></span>
        </a>
      <% } %>
      <p class="center"><strong>0</strong> map views</p>
    </li>

    <li class="badge">
    <i class="<%= badge %>"></i>
    </li>
  </ul>
</div>
</section>

