<div class="content">
  <h3><a href="/tables/<%= id %>"><%= name  %></a><a href="#delete" class="delete"></a></h3>
  <p><% print(description || '') %></p>
  <div class="tags">
      <% var tags = tags.split(","); %>
      <% for (var tag in tags) { %>
        <% if (tags[tag] != "") { %>
          <a href="#/tag/<%= tags[tag] %>/1"><%= tags[tag] %></a>
        <% } %>
      <% } %>
  </div>
  <div class="footer">
    <div class="graph"></div>
    <div class="colors"></div>
  </div>
</div>
