<div class="loader"></div>

<div class="inner">
  <section class="left visualizations">
    <div class="content"> 
      <ul id="vislist"></ul>
    </div>
    <div class="paginator"></div>
  </section>

  <aside class="right">
    <div class="head">
      <a href="#/new-viz" class="create border">
        <div class="content">
          <div class="plus"></div>
        </div>
        <div class="title" class="all">Create new visualization</div>
      </a>
    </div>
    <div class="content"></div>
  </aside>
</div>
