<div class="inner">
  <section class="left visualizations">
  <div class="head">
    <div class="loader"></div>
    <h2><i></i> <span>0 visualizations created</span></h2>
  </div>

  <div class="content"> 
    <ul id="vislist"></ul>
  </div>

  <div class="paginator"></div>

  </section>

  <aside class="right">
  <div class="head">
    <a href="#" class="create border">
      <div class="content">
        <div class="plus"></div>
      </div>
      <div class="title" class="all">Create new visualization</div>
    </a>
  </div>
  <div class="content"></div>
  </aside>
</div>
