<div class="content">
  <h3><a href="/viz/<%= id %>"><%= name  %></a><a href="#delete" class="delete" original-title="Delete"></a></h3>
  <p><% print(description || '') %></p>
  <div class="tags">
    <%= tags %>
  </div>
  <div class="footer">
    <div class="graph"></div>
    <div class="colors"></div>
  </div>
</div>
