<div class="inner">
  <section class="block longest">
    <div class="head">
      <% if (locked_tables === 0) { %>
        <p>Welcome to your CartoDB <%= username %>!</p>
        <h3 class="margin10">Create a first map in 3 simple steps</h3>
      <% } else { %>
        <p>Welcome again to your CartoDB <%= username %>!</p>
        <h3 class="margin10">Create a new map in 3 simple steps</h3>
      <% } %>
    </div>
    <div class="content">
      <div class="video">
        <div class="iframe"></div>
      </div>
      <ul>
        <li>
          <a href="#/import" class="selected">
            <h4>1. Import your data</h4>
            <span>Upload your data in CSV, SHP, Excel, etc, or connect with your Dropbox or Google Drive.</span>
          </a>
        </li>
        <li>
          <a href="#/customize">
            <h4>2. Customize your map</h4>
            <span>Select a wizard, change the basemap, georeference your data. All with just a few clicks.</span>
          </a>
        </li>
        <li>
          <a href="#/publish">
            <h4>3. Publish and share</h4>
            <span>Publish your map with one click. Share the URL or embed it in your website or blog.</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="foot">
      <% if (locked_tables === 0) { %>
        <a href="#/create-table" class="green button create_new">Create your first dataset</a>
        <p class="margin15">Or just drop your data here to start your import</p>
      <% } else { %>
        <p class="locked">Check <a href="#/locked" class="locked">your locked datasets</a>,</p>
        <a href="#/create-table" class="green button create_new margin15">Create a new dataset</a>
        <p class="margin15">Or just drop your data here to start your import</p>
      <% } %>
      
    </div>
  </section>
</div>
