<ul class="DropdownList">
  <li class="DropdownList-item"><a href="<%- createUrl %>">Create User</a></li>
  <li class="DropdownList-item"><a href="<%- createUrl %>" class="js-inviteUser">Invite User</a></li>
</ul>
