<div class="ChangePrivacy-ShareFilters Filters is-relative">
  <div class="Filters-inner search--enabled search--underFilters">
    <div class="Filters-row Filters-row--underFilters">
      <div class="Filters-type">
        <ul class="Filters-list Filters-list--underFilter">
          <li class="Filters-typeItem Filters-searchEnabler--underFilter">
            <button class="Filters-searchLink js-search-link">
              <i class="Filters-searchLinkIcon Filters-searchLinkIcon--underFilter iconFont iconFont-Lens"></i>Search
            </button>
          </li>
          <li class="Filters-typeItem Filters-searchItem Filters-searchItem--underFilter">
            <form class="Filters-searchForm js-search-form" action="#">
              <input class="Filters-searchInput Filters-searchInput--underFilter js-search-input" type="text" placeholder="Search by username or email" />
              <button type="button" class="Filters-cleanSearch js-clean-search">
                <i class="iconFont iconFont-Close"></i>
              </button>
            </form>
          </li>
          <li class="Filters-actionButton--underFilter">
            <a href="<%- newUserUrl %>" class="Button Button--main"><span>Create new user</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="js-organizationUsersPanes"></div>