<div class="OrganizationSearch">
  <div class="OrganizationSearch-Item">
    <button class="OrganizationSearch-FormButton js-search-link">
      <i class="iconFont iconFont-Lens"></i>Search
    </button>
  </div>
  <div class="OrganizationSearch-Item">
    <form class="OrganizationSearch-Form js-search-form" action="#">
      <input class="OrganizationSearch-FormInput js-search-input" type="text" placeholder="Search by username or email" />
      <button type="button" class="OrganizationSearch-FormButton--clean js-clean-search">
        <i class="iconFont iconFont-Close"></i>
      </button>
    </form>
  </div>
  <div class="OrganizationSearch-Item">
    <a href="<%- newUserUrl %>" class="Button Button--main is-smaller"><span>Create new user</span></a>
  </div>
</div>

<div class="js-organizationUsersPanes"></div>
