<% if (seats > users) { %>
  <% if ((seats - users) < 5) { %>
    <p class="Form-footerText">
      <i class="iconFont iconFont-Info Form-footerIcon"></i>
      You are near your seats limit. Consider to <a href="<%- upgradeUrl %>">upgrade your account</a>.
    </p>
  <% } else { %>
    <em></em>
  <% } %>
  <a href="<%- newUserUrl %>" class="Button Button--main"><span>Create new user</span></a>
<% } else if (!customHosted) { %>
  <p class="Form-footerText">
    <i class="iconFont iconFont-Info Form-footerIcon"></i>
    <a href="mailto:sales@cartodb.com">Contact us</a> if you have any question.
  </p>
  <a href="<%- upgradeUrl %>" class="Button Button--positive"><span>Upgrade account</span></a>
<% } %>