<div class="OrganizationSearch">
  <div class="OrganizationSearch-Item">
    <button class="OrganizationSearch-FormButton js-search-link">
      <i class="CDB-IconFont CDB-IconFont-lens"></i>Search
    </button>
  </div>
  <div class="OrganizationSearch-Item">
    <form class="OrganizationSearch-Form js-search-form" action="#">
      <input class="OrganizationSearch-FormInput js-search-input" type="text" placeholder="Search by username or email" />
      <button type="button" class="OrganizationSearch-FormButton--clean js-clean-search" style="display: none;">
        <i class="CDB-IconFont CDB-IconFont-close"></i>
      </button>
    </form>
  </div>
  <div class="OrganizationSearch-Item">
    <button class="Button Button--secondary is-smaller js-addUserOptions">
      <span>
        Add users
        <i class="Button-arrowMenu CDB-IconFont CDB-IconFont-caretDown"></i>
      </span>
    </button>
  </div>
</div>

<div class="js-organizationUsersPanes"></div>
