<li class="OrganizationList-user OrganizationList-user--empty">
  <a class="OrganizationList-userLink" href="<%- newUserUrl %>">
    <div class="OrganizationList-userAvatar OrganizationList-userAvatar--default">
      <i class="iconFont iconFont-DefaultUser"></i>
    </div>
    <div class="OrganizationList-userInfo">
      <div class="OrganizationList-userInfoName">
        <h3 class="OrganizationList-userInfoTitle OrganizationList-userInfoTitle--default">Empty seat</h3>
      </div>
      <div class="OrganizationList-userInfoDes">Create new user</div>
    </div>
  </a>
</li>