<% if (seats > users) { %>
  <% if ((seats - users) < 5) { %>
    <p class="CDB-Text Form-footerText">
      <i class="CDB-IconFont CDB-IconFont-info Form-footerIcon"></i>
      You are near your seats limit. Consider to <a href="<%- upgradeUrl %>">upgrade your account</a>.
    </p>
  <% } else { %>
    <em></em>
  <% } %>
<% } else if (!customHosted) { %>
  <p class="CDB-Text Form-footerText">
    <i class="CDB-IconFont CDB-IconFont-info Form-footerIcon"></i>
    <a href="mailto:sales@carto.com">Contact us</a> if you have any questions.
  </p>
  <a href="<%- upgradeUrl %>" class="CDB-Text Button Button--positive"><span>Upgrade account</span></a>
<% } %>
