<div class="info" <% if (!hasPermissions) { %>original-title="You can't share it with this user because you don't have enough permissions for all the related tables" <% } %>" >
  <% if (avatar_url) { %>
    <img src="<%- avatar_url %>" title="<%- username %>" alt="<%- username %>" />
  <% } %>
  <p class="ellipsis"><%- username %></p>
</div>
<div class="switches">
  <% if (hasPermissions) { %>
    <% if (writePermissionEnabled) { %>
      <a href="#/can-write" class="checkbox small light canwrite">
        <span class="check"></span>
        Can write
      </a>
      <span class="separator"></span>
    <% } %>
    <a href="#/enabled" class="switch disabled">
      <span class="handle"></span>
    </a>
  <% } %>
</div>
