<div class="top">
  <h1>Squeeze all the potential of CartoDB. We love developers</h1>
</div>
<div class="middle">
  <div class="small_blocks">
    <div class="block">
      <h2>API Documentation</h2>
      <p>CartoDB brings to you a carefully created API. Read the official documentation and just discover what you can do.</p>
      <a href="/api/" class="green"><span>Read the doc</span></a>
    </div>
    <div class="block gallery">
      <h2>Application gallery</h2>
      <p>Take a look to the example applications gallery built using CartoDB. It's definitely a great way to start using this CartoDB.</p>
      <a href="/galleries/" class="green"><span>Explore the gallery</span></a>
    </div>
    <div class="block email last">
      <h2>Email support</h2>
      <p>We really love feedback, and possible issues appearing when you use CartoDB. Please don’t hesitate in contacting us.</p>
      <a href="mailto:cartodb@vizzuality.com" class="orange"><span>Send an email</span></a>
    </div>
  </div>
  <div class="tutorial">
    <div class="top"></div>
    <div class="middle">
      <div class="left">
        <h5>Quick tutorials</h5>
        <h2>Creating your first map using CartoDB</h2>
        <p>In this video you will see how to create an easy example of CartoDB visualization over a map using the REST API.</p>
        <p>CartoDB brings to you a carefully created API. Read the official documentation and just discover what you can do.</p>
        <p>Good Luck! :)</p>
      </div>
      <div class="right">
        <iframe src="http://player.vimeo.com/video/15120918" width="560" height="420" frameborder="0"></iframe>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</div>