<% if (!workflowCreating) { %>

<div class="CreateDialog-footerShadow"></div>
<div class="CreateDialog-footerLine"></div>

<div class="CreateDialog-footerInner">
  <div class="CreateDialog-footerInfo">
    <% if (workflowStepNumber) { %>
      <button class="Button Button--secondary CreateDialog-footerActionsButton js-previousWorkflowStep">
        <span>previous step</span>
      </button>
    <% } %>
  </div>
  <div class="CreateDialog-footerActions">
    <% if (!workflowIsFinalStep) { %>
      <button class="Button Button--main CreateDialog-footerActionsButton js-nextWorkflowStep">
        <span>next step</span>
      </button>
    <% } else { %>
      <button class="Button Button--positive CreateDialog-footerActionsButton js-nextWorkflowStep">
        <span>create map</span>
      </button>
    <% } %>
  </div>
</div>

<% } %>