<ul class="CreateDialog-headerSteps">
  <% if (type === "dataset") { %>
    <li class="CreateDialog-headerStep is-selected">
      <div class="Dialog-headerIcon">
        <i class="CDB-IconFont CDB-IconFont-add"></i>
      </div>
      <p class="Dialog-headerTitle">Connect dataset</p>
      <p class="Dialog-headerText">Connect datasets from external services or upload your data files.</p>
    </li>
  <% } else { %>
    <li class="CreateDialog-headerStep <%- option === "listing" || option === "loading" ? 'is-selected' : '' %>">
      <div class="Dialog-headerIcon">
        <i class="CDB-IconFont CDB-IconFont-add"></i>
      </div>
      <p class="Dialog-headerTitle">Add datasets</p>
      <p class="Dialog-headerText">Select one or more datasets</p>
    </li>
  <% } %>
</ul>