<div class="IntermediateInfo">
<% if (type === "dataset") { %>
  <div class="LayoutIcon LayoutIcon--negative">
    <i class="iconFont iconFont-Cockroach"></i>
  </div>
  <h4 class="IntermediateInfo-title IntermediateInfo-title--error">Oouch! There has been an error</h4>
  <p class="DefaultParagraph">If the problem persists contact us at <a class="js-mail-link" href="mailto:support@cartodb.com">support@cartodb.com</a>.</p>
<% } else { %>
  <div class="LayoutIcon LayoutIcon--negative">
    <i class="iconFont iconFont-Cloud"></i>
  </div>
  <h4 class="IntermediateInfo-title IntermediateInfo-title--error">
    <% if ((selectedDatasets && selectedDatasets.length > 0) || currentImport) { %>
      <%- err.title %> <% if (err.error_code) { %>(<%- err.error_code %>)<% } %>
    <% } else { %>
      Error creating the new map
    <% } %>
  </h4>
  <p class="DefaultParagraph DefaultParagraph--short">
    <% if ((selectedDatasets && selectedDatasets.length > 0) || currentImport) { %>
      <%= cdb.core.sanitize.html(err.what_about) %>
    <% } else { %>
      If the problem persists contact us at <a class="js-mail-link" href="mailto:support@cartodb.com">support@cartodb.com</a>.
    <% } %>
  </p>
<% } %>
</div>
