<div class='OnBoarding-welcome OnBoarding-welcome--fixed'>
  <% if (map) { %>
    <div class="OnBoarding-welcomeContent">
      <h4 class="OnBoarding-welcomeContentTitle">Create a new map,</h4>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin">A map shows one or more data layers
      that are connected to your datasets.</p>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin">Connect your own data<sup class="OnBoarding-welcomeContentSup">A</sup>,
      or use some of the datasets on the Data Library<sup class="OnBoarding-welcomeContentSup">B</sup> to create your
      first map.</p>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin">Thinking on an empty map? You can
      also start <br/>from scratch<sup class="OnBoarding-welcomeContentSup">C</sup>.</p>
      <button class="Button Button--light OnBoarding-welcomeContentMargin js--welcomeButton">got it</button>
    </div>
    <span class="OnBoarding-fakeSection OnBoarding-fakeSection--connect">A</span>
    <span class="OnBoarding-fakeSection OnBoarding-fakeSection--datalibrary2">B</span>
    <span class="OnBoarding-fakeSection OnBoarding-fakeSection--scratch2">C</span>
  <% } else { %>
    <div class="OnBoarding-welcomeContent">
      <h4 class="OnBoarding-welcomeContentTitle">Use your own data,</h4>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin">A dataset can be used in several maps
      and updated via API so the changes in your data are reflected in your maps.</p>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin">Connect your own data by using one of
      our connectors, or just by dropping your files in your dashboard. If you have problems finding data, take a
      look at our Data Library<sup class="OnBoarding-welcomeContentSup">A</sup>.</p>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin">You can also create a new dataset from
      scratch<sup class="OnBoarding-welcomeContentSup">B</sup>.</p>
      <button class="Button Button--light OnBoarding-welcomeContentMargin">got it</button>
    </div>
    <span class="OnBoarding-fakeSection OnBoarding-fakeSection--datalibrary">A</span>
    <span class="OnBoarding-fakeSection OnBoarding-fakeSection--scratch">B</span>
  <% } %>
</div>
