<div class="IntermediateInfo">
  <div class="LayoutIcon LayoutIcon--negative">
    <i class="CDB-IconFont CDB-IconFont-barometer"></i>
  </div>
  <h4 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m u-tSpace-xl">You have run out of quota</h4>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">Remove some of your datasets to gain available space or upgrade your account</p>

  <div class="UpgradeElement UpgradeElement--fixed">
    <div class="UpgradeElement-info">
      <div class="LayoutIcon UpgradeElement-infoIcon">
        <i class="CDB-IconFont CDB-IconFont-rocket"></i>
      </div>
      <p class="UpgradeElement-infoText u-ellipsLongText CDB-Text">Keep your data and get more quota by upgrading your plan</p>
    </div>
    <% if (freeTrial) { %>
      <div class="UpgradeElement-trial">
        <i class="CDB-IconFont CDB-IconFont-gift UpgradeElement-trialIcon"></i>
        <p class="UpgradeElement-trialText u-ellipsLongText">14 days Free trial</p>
      </div>
    <% } %>
  </div>

  <a href="<%- upgradeUrl %>" class="Button Button--main CDB-Text">
    <span>upgrade</span>
  </a>
</div>
