<ul class="CreateDialog-headerSteps">
  <li class="CreateDialog-headerStep js-templatedWorkflows is-selectable">
    <div class="Dialog-headerIcon Dialog-headerIcon--main">
      <i class="iconFont iconFont-Wizard"></i>
      <span class="Dialog-headerIconBadge">
        <i class="iconFont iconFont-Check"></i>
      </span>
    </div>
    <p class="Dialog-headerTitle"><%- workflowName %></p>
    <p class="Dialog-headerText">Template</p>
  </li>
  <% for (var i = 0, l = workflowStepNames.length; i < l; i++) { %>
    <li class="CreateDialog-headerStep <% if (i === workflowStepNumber) { %>is-selected<% } %>">
      <div class="Dialog-headerIcon <% if (i === workflowStepNumber) { %>Dialog-headerIcon--neutral<% } %>"><%- i + 1 %></div>
      <p class="Dialog-headerTitle"><%- workflowStepNames[i] %></p>
      <p class="Dialog-headerText">Step <%- i + 1 %></p>
    </li>
  <% } %>
</ul>

<button class="CreateDialog-headerButton js-templatedWorkflows">
  <i class="iconFont iconFont-ArrowPrev"></i>
</button>