<ul class="CreateDialog-headerSteps">
  <% if (type === "dataset") { %>
    <li class="CreateDialog-headerStep is-selected">
      <div class="Dialog-headerIcon">
        <i class="iconFont iconFont-Add"></i>
      </div>
      <p class="Dialog-headerTitle">Connect dataset</p>
      <p class="Dialog-headerText">Connect datasets from external services or upload your data files.</p>
    </li>
  <% } else { %>
    <li class="CreateDialog-headerStep js-templates <%= option === "templates" ? 'is-selected' : 'is-selectable' %>">
      <div class="Dialog-headerIcon">
        <i class="iconFont iconFont-Wizard"></i>
        <% if (option === "preview") { %>
          <span class="Dialog-headerIconBadge">
            <i class="iconFont iconFont-Check"></i>
          </span>
        <% } %>
      </div>
      <p class="Dialog-headerTitle">Get Started</p>
      <p class="Dialog-headerText">Step 1</p>
    </li>

    <% if (option !== "listing" && option !== "loading") { %>
      <li class="CreateDialog-headerStep <%= option === "preview" ? 'is-selected' : '' %>">
        <div class="Dialog-headerIcon">
          <i class="iconFont iconFont-Play"></i>
        </div>
        <p class="Dialog-headerTitle">Video tutorial</p>
        <p class="Dialog-headerText">Step 2</p>
      </li>
    <% } else { %>
      <li class="CreateDialog-headerStep <%= option === "listing" || option === "loading" ? 'is-selected' : '' %>">
        <div class="Dialog-headerIcon">
          <i class="iconFont iconFont-Add"></i>
        </div>
        <p class="Dialog-headerTitle">Add datasets</p>
        <p class="Dialog-headerText">Select your datasets</p>
      </li>
    <% }%>
  <% } %>
</ul>

<% if (type === "map" && option !== "templates" && option !== "loading") { %>
  <button class="CreateDialog-headerButton js-back">
    <i class="iconFont iconFont-ArrowPrev"></i>
  </button>
<% } %>
