<ul class="CreateDialog-headerSteps">
  <li class="CreateDialog-headerStep js-templatedWorkflows is-selectable">
    <div class="Dialog-headerIcon Dialog-headerIcon--main">
      <i class="iconFont iconFont-Wizard"></i>
    </div>
    <p class="Dialog-headerTitle"><%- visTemplateName %></p>
    <p class="Dialog-headerText">Chosen</p>
  </li>
  <% for (var i = 0, l = visTemplateSteps.length; i < l; i++) { %>
    <li class="CreateDialog-headerStep <% if (i === visTemplateStep) { %>is-selected<% } %>">
      <div class="Dialog-headerIcon <% if (i === visTemplateStep) { %>Dialog-headerIcon--main<% } %>"><%- i + 1 %></div>
      <p class="Dialog-headerTitle"><%- visTemplateSteps[i] %></p>
      <p class="Dialog-headerText">Step <%- i + 1 %></p>
    </li>
  <% } %>
</ul>

<button class="CreateDialog-headerButton js-templatedWorkflows">
  <i class="iconFont iconFont-ArrowPrev"></i>
</button>