<div class="Dialog-header Dialog-header--expanded CreateDialog-header"></div>
<div class="Filters Filters--navListing Filters--static js-navigation"></div>
<div class="Dialog-body Dialog-body--expanded Dialog-body--create Dialog-body--noPaddingTop Dialog-body--withoutBorder"></div>
<div class="Dialog-footer Dialog-footer--expanded CreateDialog-footer">
  <div class="u-inner"></div>
</div>
