<div class="VideoSteps-progress">
  <div class="VideoSteps-progressBar"></div>
  <% if (duration) { %>
    <% for (var i = 0, l = steps.length; i < l; i++) { %>
      <span data-title="<%- steps[i].msg %>" class="VideoSteps-item" style="left:<%- (100 * steps[i].seconds)/duration %>%"><%- i + 1 %></span>
    <% } %>
  <% } %>
</div>