<div class="CDB-Text Dialog-content Dialog-content--expanded">
  <div class="Dialog-header Dialog-header--expanded CreateDialog-header">
    <ul class="CreateDialog-headerSteps">
      <li class="CreateDialog-headerStep CreateDialog-headerStep--single">
        <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
          <i class="CDB-IconFont CDB-IconFont-boss"></i>
        </div>
        <p class="Dialog-headerTitle">Add users to this group</p>
        <p class="Dialog-headerText">When sharing a dataset or map with a group all the users within that group will get the same permissions.</p>
      </li>
    </ul>
  </div>
  <div class="CDB-Text js-dlg-body"></div>

  <div class="Dialog-stickyFooter">
    <div class="Dialog-footer ChangePrivacy-shareFooter u-inner">
      <div></div>
      <button class="CDB-Button CDB-Button--primary ok is-disabled">
        <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Add users</span>
      </button>
    </div>
  </div>
</div>
