<div class="Dialog-content Dialog-content--expanded">
  <div class="Dialog-header Dialog-header--expanded CreateDialog-header">
    <ul class="CreateDialog-headerSteps">
      <li class="CreateDialog-headerStep CreateDialog-headerStep--single">
        <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
          <i class="iconFont iconFont-Boss"></i>
        </div>
        <p class="Dialog-headerTitle">Add users to this group</p>
        <p class="Dialog-headerText">When sharing a dataset or map with a group all the users within that group will get the same permissions.</p>
      </li>
    </ul>
  </div>
  <div class="js-dlg-body"></div>

  <div class="Dialog-stickyFooter">
    <div class="Dialog-footer ChangePrivacy-shareFooter u-inner">
      <div></div>
      <button class="Button Button--main ok">
        <span>Invite users</span>
      </button>
    </div>
  </div>
</div>
