<div class="Dialog-header ErrorDetails-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--alert">
    <i class="CDB-IconFont CDB-IconFont-cloud"></i>
  </div>
  <p class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m u-tSpace-xl">
    Unable to import all Datasets in file
  </p>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">
    No more than <%- warnings.max_tables_per_import %> Datasets can be imported from a single file. </br>
    You can find all the connected datasets under the Datasets section.
  </p>
</div>
<div class="Dialog-footer ErrorDetails-footer">
  <button class="CDB-Button CDB-Button--secondary cancel">
    <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">CONTINUE</span>
  </button>
</div>
