<li class="DatasetsList-item <%= defined?(selected) ? 'DatasetsList-item is-selected' : '' %>">
  <div class="DatasetsList-itemCategory"></div>
  <div class="DatasetsList-itemPrimaryInfo">
    <h3 class="DatasetsList-itemTitle DefaultTitle">
      <a href="#">Bike_route_from_Aspe title</a>
      <span class="DatasetsList-itemTitlePermission PermissionIndicator">READ ONLY</span>
    </h3>
    <% if defined?(noDescription) %>
      <a href="#" class="DatasetsList-itemDescription CallToAction">Add a description...</a>
    <% else %>
      <p class="DatasetsList-itemDescription DefaultDescription">Data extracted from Garmin 611 Foreunner</p>
    <% end %>
  </div>
  <div class="DatasetsList-itemSecondaryInfo">
    <ul class="DatasetsList-itemMeta">
      <a href="#change-privacy" class="PrivacyIndicator is-public">public</a>
      <a href="#likes" class="LikesIndicator">
        <i class="LikesIndicator-icon iconFont-Heart--fill"></i>12
      </a>
      <label class="DefaultRows">
        <i class="DefaultRows-icon iconFont-Rows"></i>
        3.234 Rows
      </label>
      <label class="DefaultTimeDiff">
        <i class="DefaultTimeDiff-icon iconFont-Clock"></i>
        2 weeks ago by
          <span class="UserAvatar">
            <%= image_tag current_user.avatar_url, class: "UserAvatar--small" %>
          </span>
      </label>
    </ul>
    <div class="DatasetsList-itemTags">
      <% if defined?(noTags) %>
        <a href="#" class="CallToAction">Add tags...</a>
      <% else %>
        <div class="DefaultTags">
          <a href="#">Bike</a>, <a href="#">Personal</a>, <a href="#">Rides</a>
        </div>
      <% end %>
    </div>
  </div>
</li>
