@import "../variables";
@import "../reset";
@import "../colors";
@import "../typography";
@import "../utilities";

#app,
.FormAccount-Section {
  padding-top: 64px;
}

.navbar-placeholder {
  display: flex;
  position: fixed;
  z-index: 11;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid $white;
  background-color: $primary-color;
}

.navbar-placeholder-logo {
  width: 24px;
  height: 24px;
}
