@import '../variables/colors';
@import '../variables/sizes';

// Context menu for the Explore page.
// Extracted from .Filters component, since visually it's different enough to motivate a separate component.
// ---
.ContextMenu {
  display: block;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  color: $cTypography-linkSecondary;
  font-size: 14px;
}
// Moved with scroll behaviour
.ContextMenu.is-fixed {
  position: fixed;
  border-bottom: 1px solid $cStructure-mainLine;
  background: #FFF;
}

.ContextMenu-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

@media only screen and (max-width: 959px) {
  .ContextMenu-row {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.ContextMenu-dropdown {
  text-align: left;
}

.ContextMenu-dropdownArrow {
  position: relative;
  top: -1px;
  font-size: 6px;
}

.ContextMenu-label {
  margin-right: 20px;
}

.ContextMenu > .u-inner {
  display: block;
  position: relative;
  height: 81px;
  padding: 0;
  overflow: hidden;
}

.ContextMenu-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ContextMenu-group.is-hidden {
  display: none;
}

.ContextMenu-groupItem {
  display: inline-block;
  margin-right: 20px;
  color: $cTypography-secondary;
  line-height: normal;
  vertical-align: top;

  &:last-child {
    margin-right: 0;
  }
}

.ContextMenu-orderLink {
  display: inline-block;
  color: #CCC;
  font-size: 15px;
  line-height: 19px;
  vertical-align: top;

  &:hover {
    color: #666;
  }
}

.ContextMenu-orderLink.is-selected {
  color: #666;

  &:hover {
    cursor: default;
  }
}

.ContextMenu-orderLink--graph {
  line-height: 26px;
}

.ContextMenu-orderLink--size {
  font-size: 17px;
  line-height: 17px;
}
