@import '../variables/colors';
@import '../variables/sizes';

.Explore {
  position: relative;
  min-height: 500px;
}

.Explore-inner {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: $sLayout-width;
  margin: 35px auto 60px;
  text-align: center;
}

.Explore-feed {
  flex: 1;
  margin: 50px 0 0;
}

.Explore-content {
  margin: 0 0 30px;
  padding: 15px 0;
}

@media only screen and (min-width: 900px) {
  .Explore-content.Feed-content .FeedItem .MapCard,
  .Explore-content.Feed-content .FeedItem .DatasetCard {
    flex: 0 0 860px;
    margin-right: 0;
  }

  .Explore-content.Feed-content .MapCard-preview.is-big {
    display: block !important;
  }

  .Explore-content.Feed-content .MapCard-preview.is-medium,
  .Explore-content.Feed-content .MapCard-preview.is-small {
    display: none !important;
  }
}

@media only screen and (min-width: 545px) and (max-width: 899px) {
  .Explore-inner {
    width: 100%;
  }

  .Explore-content.Feed-content .FeedItem {
    align-items: stretch;
    justify-content: space-around;
  }

  .Explore-content.Feed-content .FeedItem .MapCard,
  .Explore-content.Feed-content .FeedItem .DatasetCard {
    flex: 0 0 540px;
    margin-right: 0;
  }

  .Explore-content.Feed-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .Explore-content.Feed-content .MapCard-preview.is-big,
  .Explore-content.Feed-content .MapCard-preview.is-small {
    display: none !important;
  }

  .Explore-content.Feed-content .MapCard-preview.is-medium {
    display: block !important;
  }

  .FeedItem--card .FeedItem-avatar {
    display: none;
  }

  .LikesIndicator-label {
    display: none;
  }
}

@media only screen and (max-width: 544px) {
  .Explore-inner {
    width: 100%;
  }

  .Explore-content.Feed-content .FeedItem {
    align-items: stretch;
    justify-content: space-around;
  }

  .Explore-content.Feed-content .FeedItem .MapCard,
  .Explore-content.Feed-content .FeedItem .DatasetCard {
    flex: 0 0 288px;
    margin-right: 0;
  }

  .Explore-content.Feed-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .Explore-content.Feed-content .MapCard-preview.is-big,
  .Explore-content.Feed-content .MapCard-preview.is-medium {
    display: none !important;
  }

  .Explore-content.Feed-content .MapCard-preview.is-small {
    display: block !important;
  }

  .FeedItem--card .FeedItem-avatar,
  .LikesIndicator-label {
    display: none;
  }
}
