<div class="ImportPanel ImportPanelService js-import-panel">
  <div class="ImportPanel-header">
    <h3 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">Connect with Dropbox</h3>
    <p class="CDB-Text CDB-Size-medium u-altTextColor u-bSpace--xl ImportPanel-headerDescription">JPG, GIF, PNG, SVG formats are supported </p>
  </div>
  <div class="ImportPanel-body">
    <div class="ImportPanel-bodyWrapper">
      <div class="ImportPanel-state is-active">
        <div class="ImportPanel-actions">
          <button class="Button Button--main ImportPanel-actionsButton js-fileButton">Pick up asset</button>
          <label class="Form-fileLabel Form-fileLabel--error js-fileError"></label>
        </div>
      </div>
    </div>
  </div>
</div>
