<form class="Form js-form">
  <div class="ImportPanel-header">
    <h3 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">Upload a file or a URL</h3>
    <p class="CDB-Text CDB-Size-medium u-altTextColor u-bSpace--xl ImportPanel-headerDescription">
      Paste a URL <% if (fileEnabled) { %>or select a file like JPG, GIF, PNG, SVG<% } %>
    </p>
  </div>
  <div class="Form-row Form-row--centered">
    <% if (fileEnabled) { %>
      <div class="Form-rowData Form-rowData--med Form-rowData--noMargin js-dropzone">
        <div class="Form-upload">
          <label class="Form-fileLabel js-fileLabel">Drag & drop your file</label>
          <label class="Form-fileLabel Form-fileLabel--error CDB-Text CDB-Size-small js-fileError"></label>
          <div class="Form-file">
            <input type="file" class="js-fileInput" accept=".jpg,.gif,.png,.svg" />
            <span class="Button Button--main Form-fileButton js-fileButton">browse</span>
          </div>
        </div>
      </div>
      <span class="u-lSpace--xl u-rSpace--xl u-flex u-alignCenter CDB-Text CDB-Size-medium u-altTextColor">or</span>
    <% } %>
    <div class="Form-rowData Form-rowData--noMargin Form-rowData--med">
      <input type="text" class="Form-input Form-input--med has-submit js-textInput" placeholder="https://carto.com/logo.png" />
      <button type="submit" class="Button Button--secondaryBlue Form-inputSubmit"><span>submit</span></button>
      <div class="CDB-Text Form-inputError">Error. Your URL doesn’t look correct.</div>
    </div>
  </div>
</form>
