<form class="Form js-form">
  <div class="ImportPanel-header"><h3 class="ImportPanel-headerTitle">
      Upload a file or a URL
    </h3>
    <p class="ImportPanel-headerDescription">Paste a URL or upload a file from your computer</p>
  </div>
  <div class="Form-row Form-row--streched">
    <div class="Form-rowLabel">
      <label class="Form-label">Enter a URL</label>
    </div>
    <div class="Form-rowData Form-rowData--longer">
      <input type="text" class="Form-input Form-input--longer has-submit js-textInput" value="" placeholder="Paste a URL" />
      <button type="submit" class="Button Button--secondary Form-inputSubmit"><span>submit</span></button>
      <div class="Form-inputError">Error. Your URL doesn’t look correct.</div>
    </div>
  </div>
  <div class="Form-separator Form-separator--or">or</div>
  <div class="Form-row Form-row--streched">
    <div class="Form-rowLabel">
      <label class="Form-label">Upload a file</label>
    </div>
    <div class="Form-rowData Form-rowData--longer js-dropzone">
      <span class="Form-file">
        <input type="file" class="js-fileInput" value=""  />
        <span class="Button Button--main js-fileButton">select a file</span>
      </span>
      <label class="Form-fileLabel js-fileLabel">Like JPG, GIF, PNG, SVG</label>
      <label class="Form-fileLabel Form-fileLabel--error js-fileError"></label>
      <div class="Form-fileDropzone">Drop your file here</div>
    </div>
  </div>
</form>
