<div class="dialog-content">
  <div class="assets">
    <div class="loader"></div>
  </div>
</div>

<form class="hide create-dialog-uploader"><input type="file" /></form>

<div class="upload-progress">
  <span></span>
  <p>Uploading your data</p>
  <a href="#/stop-process" class="stop"></a>
</div>
<div class="hide">
  <form class="dialog-uploader"><input type="file" /></form>
</div>
