<div class="CreateDialog-footerShadow CreateDialog-footerShadow--tall"></div>
<div class="CreateDialog-footerLine"></div>
<div class="CreateDialog-footerInner ">
  <div class="js-footer-info CreateDialog-footerInfo"><%= disclaimer %></div>
  <div class="CreateDialog-footerActions">
    <button class="js-ok Button Button--positive <% if (!submit_enabled) { %>is-disabled<% } %>">
      <span><%= action %></span>
    </button>
  </div>
</div>
