/**
   *  Editos panel styles.
   *
   *  - CartoCSS editor.
   *  - SQL editor.
   *
   */

@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/inline-block";
@import "../../../table/table-sprite";
@import "../../../old_common/mixins";

// SQL PANEL & CARTO PANEL
.sql_panel,
.csseditor_panel {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;

  // Position of the help tip
  .help-tip {
    top: auto;
    a.close { right: 22px; }
    &::before { display: none; }
  }

  // Editor h3 title
  h3 { padding-left: 52px !important; }
}
