
  /**
   *  Filters panel styles.
   *
   *  - Tables combo.
   *  - Histogram.
   *  - Content panel.
   *
   */

  @import "compass/css3/box-sizing";
  @import "compass/css3/opacity";
  @import "compass/css3/images";
  @import "compass/css3/inline-block";
  @import "compass/css3/transform";
  @import "../../../old_common/common-sprite";
  @import "../../../old_common/vars";
  @import "../../../old_common/mixins";


  div.filters_panel {
    width:100%;
    @include box-sizing(border-box);

    h3 { padding-left:30px; }

    & > .white-gradient-shadow {

      pointer-events: none;

      &.top    { @include opacity(0); @include position(61px, false, false, 0); @extend .white-gradient-shadow-top;    z-index: 1000; }
      &.bottom { @include opacity(1); @include position(false, false, 0px, 0);  @extend .white-gradient-shadow-bottom; z-index: 1000; }

      @include size(100%, 30px);

    }

    .sql-and-or-toggle {
      margin-right: 15px;
    }

    .content {
      position:relative;

      text-align:center;

      .chooser {
        display:none;
        @include position(85px, false, false, 0);
        @include size(100%, 200px);

        text-align: center;
        z-index: 100;

        .applied_query {
          display:none;

          .clear {
            width:234px;
            background: rgba(#FFEFBF, .5);
            padding: 14px;
            @include border-radius(5px);

            font-size: 15px;
            a { color:  #666; text-decoration:underline; }
            a:hover { color: #333; }
          }
        }

        .no_filters {
          @include size(102px, 81px);
          background: image-url('layout/empty_filters.png') no-repeat;
          margin: 0 auto 20px auto;
        }

        p {
          width: 212px;
          margin: 0 auto 17px auto;
          padding: 0;
          font-size: 15px;
          color: #666666;
        }

        .form_combo {
          margin: 0 auto 0 auto;
          display:block;
          width: 200px;

          background: #f2f2f2;
          padding: 10px;
          @include border-radius(5px);

          & > div { text-align: left; }

        }
      }
    }

    .scrollpane {
      overflow: auto;
      outline: none;

      &:hover .jspVerticalBar { @include opacity(1); }

      .jspContainer { overflow: hidden; position: relative; }
      .jspPane { position: absolute; }
      .jspVerticalBar   { @include simple-transition(opacity, 150ms); @include opacity(0); position: absolute; top: 0; right: 7px; width: 5px; height: 100%; background: none; z-index: 20; }
      .jspVerticalBar * { margin: 0; padding: 0; }
      .jspCap { display: none; }
      .jspTrack { background: none; position: relative; }
      .jspDrag { background: rgba(#BBB, .5); @include border-radius(5px); position: relative; top: 0; left: 0; cursor: pointer; }
      .jspArrow { background: none; text-indent: -20000px; display: block; cursor: pointer; }
      .jspVerticalBar .jspArrow { height: 10px; }
      .jspVerticalBar .jspArrow:focus { outline: none; }
      .jspCorner { background: #eeeef4; float: left; height: 100%; }

    }

    .get_sql {
      @include box-sizing(border-box);
      position: absolute;
      padding: 20px 30px;
      @include size(100%, 61px);
      border-top: 1px solid rgba(153, 153, 153, 0.25);
      background: #fff;
      text-align: left;
      bottom: 0;
      z-index: 10000;

      a {
        float:right;
        font-size:13px;
        text-decoration: underline;
      }
    }

    .add_filter {
      display:none;
      position:relative;
      width: 385px;
      margin: 0 0 40px 0;

      & > a.add {
        position:relative;
        top: 15px;
        color: #6A9DCA;
        font-size: 13px;
        float: left;
        margin-left: 15px;
      }

      .combo {

        @include box-shadow(inset 0px 4px 4px #EDEDED);

        display:none;
        @include box-sizing(border-box);
        position:relative;
        top: 0;
        padding: 24px;
        height: 70px;
        width: 100%;
        background: #FFF9E7;

        .remove {
          float: left;
          margin: 0 0 0 7px;
          @include inline-block();
          @include size(13px);
          @include common-sprite(close_grey);
          &:hover {@include common-sprite(close_grey, $offset-y:-13px);}
        }

        .form_combo {
          @include inline-block();
          text-align: left;
          float: left;
          span { color: #666666 }
        }
      }

    }

    ul.filters {
      position:relative;

      width: 385px;
      margin: 0;

      .filter { // generic styles for all the filters
        position:relative;

        padding: 15px 0 0 0;

        border-bottom: 1px solid rgba(#999999, .25);
        @include box-shadow(0px 4px 4px #EDEDED);

        text-align:left;

        .header {
          position:relative;
          padding: 5px 0;
          margin: 0;
          width: 340px;

          text-align:left;

          clear:both;
          overflow:hidden;

          .hidden { display: none; }

          .legend    { float:left; margin: 0 5px 0 0; font-size:13px; color: #666666; text-align: left; max-width: 180px; }
          .empty     { float: left; display:none; font-size:13px; color: #FF9999; vertical-align: top; }
          .only      { float: left; display:none; font-size:13px; color: #FFAB37; vertical-align: top; }
          .loading   { float: left; display:none; font-size:13px; color: #FFAB37; vertical-align: top; }
          .range, .range-number     { float:left;  display:none; font-size:13px; color: #4DC964; }

          .title  { float: left; margin: 0 0 0 30px; }
        }

        &.date .range, .range-number { clear:both; margin: 6px 0 0 0; }

        &:hover .remove { @include opacity(1); }

        .remove {
          float: right;
          display:block;
          @include opacity(0);

          @include size(13px);
          @include position(21px, 30px, false, false);
          @include simple-transition(opacity, 150ms);
          @include common-sprite(close_grey);

          &:hover {@include common-sprite(close_grey, $offset-y:-13px);}
        }

        .remove-inline {
          float: right;
          margin-top: 4px;
          margin-right: 5px;

          @include opacity(1);

          @include size(13px);
          @include simple-transition(opacity, 150ms);
          @include common-sprite(close_grey);

          &:hover {@include common-sprite(close_grey, $offset-y:-13px);}
        }
      }
    }

    // Selection filter
    ul.filters .filter.selection {

      &:hover .scroll .jspVerticalBar { @include opacity(1); }

      .header {

        height: 35px;
        padding-left: 0;
        padding-right: 0;

        &.loading, &.empty, &.only { height: auto; }

        .title {
          .loading, .empty, .only   { display: block; }
        }

      }

      .header, .items {
        @include box-sizing(border-box);
      }

      .header .title .controllers {

        &.hidden { display: none; }

        float:left;

        li {
          color: #4DC964;

          a {
            vertical-align: top;
            color: #4DC964;
            font-size:13px;

            &.selected { display:none; }
          }
        }

      } // controllers

      .fields {
        position:relative;
        margin: 0 0 20px 0;

        &.only, &.empty { margin: 0 0 15px 0; }
        &.only .items, &.empty .items { display:none; }

        &.boolean { margin-bottom: 10px; }

        &.list {
          margin: 0 0 20px 0;
          .options { margin: -6px 0 0 30px; }
        }

        &.list.has_scrollers {
          margin: 0 0 16px 0;
          .options { margin: 2px 0 0 30px; }
        }

      }

      .input_field {
        @include box-sizing(border-box);
        @include position(0, false, false, 0);
        @include size(323px, 40px);
        display:none;
        padding: 0;
        margin: 0 0 0 30px;

        @include border-radius(4px);
        border: 1px solid #B7B7B7;

        .apply {
          @include position(6px, 7px, false, false);
          padding: 6px 7px 6px 6px;

          background: #E7E7E7;
          @include background(linear-gradient(top, rgba(#F9F9F9, 0), rgba(#E7E7E7, .7)));
          color: #555;
          font:bold 11px $text-fonts2;
          line-height:normal;
          text-shadow:0 1px 0 white;
          background:#F9F9F9; // IE
          @include background(linear-gradient(#F9F9F9,#EBEBEB));
          @include border-radius(5px);
          border:1px solid #B0B0B0;
          letter-spacing:-1px;
          @include transform-style("linear");
          @include transition-property("box-shadow,border");
          @include transition-duration(250ms);

          // Hover
          &:hover {
            background:#DEDEDE; // IE
            @include background(linear-gradient(#F9F9F9,#E1E1E1));
            text-decoration:none;
            cursor:pointer;
          }
          // Active
          &:active {
            border-color:#ACACAC;
            background:#D3D3D3; // IE
            @include background(linear-gradient(#F9F9F9,#E1E1E1));
            @include box-shadow(rgba(255,255,255,0) 0 0 1px 0,rgba(130,126,111,0.6) 0 1px 3px 0 inset,#fff 0 1px 0 0);
          }

        }

        input {
          @include box-sizing(border-box);
          @include size(275px, 39px);
          max-width:100%;
          max-height:39px;
          padding: 11px;
          border:none;
          font-family: $text-fonts;
          font-size:13px;
          background:none;
          outline:none;
          resize: none;
        }
      } // textarea

      .data {
        position:relative;

        .items { display:none;}
        .white-gradient-shadow {

          pointer-events: none;

          &.top    { @include opacity(0); @include position(0, false, false, 0); @extend .white-gradient-shadow-top;    z-index: 10; }
          &.bottom { @include opacity(0); @include position(false, false, 0, 0); @extend .white-gradient-shadow-bottom; z-index: 10; }

          @include size(100%, 30px);

        }

        .scroll { width: 380px; max-height: 156px; overflow: hidden; outline:none; }

      } // data


      .options {
        position:relative;
        width: 325px;
        margin: 2px 0 0 30px;
        padding: 0;
        clear:both;
        overflow:hidden;
        z-index: 100;
        background:#fff;

        .view_mode {

          float:left;

          .switch { // small switch
            @include inline-block();
            @include size(21px, 12px);
            margin:2px 0 0 0;

            span.handle {
              @include position(0, false, false, 9px);
              @include size(10px);
            }

            &.enabled  span.handle { left:9px; }
            &.disabled span.handle { left:1px; }

          }

          label {
            @include inline-block();
            font-size:13px;
            color:#999999;
            cursor: pointer;
          }
        }

        .scrollers {
          float: right;
          margin: 0 3px 0 0;

          &.hidden { display: none; }

        }

        .btn {
          @include inline-block();
          @include size(25px, 21px);
          background:#f1f1f1;
          margin-right: -3px;

          @include simple-transition(opacity, 100ms);

          $radius: 3px;

          &.disabled {
            @include opacity(.5);
            cursor: default;

            &:active { background-position: 50% 9px!important; }
          }

          &.up   {
            @include border-radius($radius 0 0 $radius);
            background: #f1f1f1 image-url('sprites/table/filters_scroll_up.png') no-repeat 50% 9px;
            &:active { background-position: 50% 10px;  }
          }

          &.down {
            @include border-radius(0 $radius $radius 0);
            background: #f1f1f1 image-url('sprites/table/filters_scroll_down.png') no-repeat 50% 9px;
            &:active { background-position: 50% 10px;  }
          }
        }
      }

      .operations {
        margin: 0 0 0 30px;
        padding: 0;
        width: 325px;

        li {
          clear:both;
          overflow:hidden;

          position:relative;
          padding: 10px 0 10px 5px;
          margin: 0;
          color: #666666;
          font-size:13px;
          border-top: 1px solid rgba(#999, .25);

          input {
            width: 145px;
          }

          .invisible {
            visibility: hidden;
          }

          &:last-child { margin-bottom: 0; }
        }
      }

      .items {
        text-align:left;
        margin: 0 0 0 30px;
        padding: 0;
        width: 325px;

        li {
          clear:both;
          overflow:hidden;

          position:relative;
          padding: 10px 0 10px 15px;
          margin: 0;
          color: #666666;
          font-size:13px;
          border-top: 1px solid rgba(#999, .25);

          cursor: pointer;

          p {

            float: left;
            width: 275px;
            min-height: 15px;

            &.empty { font-style:italic; color: #ccc; }
          }

          &:last-child { margin-bottom: 0; }

          &:before {
            @include position(15px, false, false, 0);
            content: '';
            @include size(9px);

            background: #fff;
            border: none;
            @include border-radius(200px);
            @include scale(0);
            @include simple-transition(scale, 220ms);
          }

          &:after {
            @include opacity(1);
            @include position(15px, false, false, 0);
            content: '';
            @include size(7px);

            background: none;
            border: 1px solid #82D992;
            @include border-radius(200px);
            @include simple-transition(opacity, 220ms);
          }

          &.selected:after  { @include opacity(0); }
          &.selected:before { background: #82D992; @include scale(1); }
          &.selected .value { background: #82D992; color:#fff; }

          .value {
            position:absolute;
            top: 10px; right: 0;
            font-size:10px;
            padding: 2px 4px;
            border:1px solid #82D992;
            background:#fff;
            @include border-radius(2px);
            color:#82D992;

            @include simple-transition(background-color, 100ms);
          }
        }
      }
    } // filter.selection

    // Histogram filter
    ul.filters .filter.histogram {

      text-align:center;

      .empty  { display:none; }

      .loading   { display:block; }

      .range-number { height: 35px; }
      .range-number input { width: 45%; }
      .range-number .subtext { display: none; color: #666666; font-size: 11px; }
      .hist { margin: auto; position: relative; @include inline-block(); bottom: -3px; }
      .background.bar { fill: #E5E5E5; }
      .foreground.bar { fill: #4DC964; fill-opacity: .3; }
      .axis path, .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
      .axis text { font: 10px sans-serif; }
      .brush rect.extent { fill: #CCCCCC; fill-opacity: .2; }
      .brush .resize path { fill: #eee; stroke: #666; }
    }
  }
