
  /**
   *  Infowindow panel styles.
   *
   *  - Fields block (sorting, draggable, etc).
   *  - Titles block (change name of a field title).
   *  - Infowindow HTML editor block.
   *
   */

  @import "compass/css3/box-sizing";
  @import "compass/css3/images";
  @import "compass/css3/inline-block";
  @import "../../../old_common/common-sprite";
  @import "../../../table/table-sprite";
  @import "../../../old_common/vars";
  @import "../../../old_common/mixins";
  @import "../../../variables/colors";
  @import "../../../old_common/form-elements";


  .infowindow_panel {

    // TYPES MENU
    ul.types {
      position:relative;
      padding:10px 0 0 8px;
      @include border-top-left-radius(3px);
      background: image-url('layout/linen.png') repeat 0 0;
      z-index:2;
      
      &:after {
        content: '';
        position:absolute;
        left:0;
        bottom:0;
        width:100%;
        height:1px;
        background:rgba(black,.10);
        z-index:1;
      }

      li {
        @include inline-block();

        a {
          @include inline-block();
          width:99px;
          line-height:41px;
          text-align:center;
          @include border-top-radius(3px);
          background:$DarkGrey2;
	  color: $Grey7;
	  &:hover {
		background: $tab_bg_hover;
		text-decoration: none;
	  }
	
          &.selected {
		background: $DarkGrey6;
            position:relative;
            color:$Grey1;
            text-decoration:none;
            cursor:default;

            &:before {
              content: '';
              position:absolute;
              left:0;
              bottom:0;
              width:100%;
              height:1px;
              background:$DarkGrey6;
              z-index:2;
            }
          }
        }
      }
    }

    .panel_content {
      top:120px!important;
      div.wrapper { top: 31px; }
    }

    .doc_info { right:26px!important; }

    .header {
      position:relative;
      clear:both;
      overflow:hidden;
      padding: 21px 30px 19px 30px;

      h3  {
        float:left;
        padding: 0;
        border:0;
      }

      .controls {

        span.label {
          float:left;
          margin:2px 7px 0px 0px;
          color:#ccc;
          line-height:18px;
        }
        &.margin { margin-right:20px }
      }
    }

    // No content block
    .no_content { display:none }

    &.editing_html {

      .header h3 {
        margin-left: 23px;
      }

      .menu {
        li:first-child { margin-left: 23px; }
        &:after  { position:absolute; content:' '; top:0; left:34px; bottom:0; width:1px; height:100%; background:rgba($cGray4,0.50); }
        &:before { position:absolute; content:' '; top:0; left:36px; bottom:0; width:1px; height:100%; background:rgba(#509DD7,0.25); }
      }
    }

    .help-tip { top:143px }

    // Tab menus => on click submenu, on hover submenu, etc...
    .menu {
      position: absolute;
      @include box-sizing(border-box);
      top: 112px;
      width: 100%;
      padding: 9px 23px 3px 30px;
      background:$Grey9;
      border-top: 1px solid $Black;
      border-bottom: 1px solid $Black;

      z-index: 9;

      .tip {
        @include size(10px, 6px);
        @include position(false, false, -1px, 33px);
        @include background(sprite($table-sprites, infowindow_panel_white_tip) no-repeat);
        z-index: 10;
       -webkit-filter:invert(100%);
      }

      ul {
        clear:both;
        overflow:hidden;

        li {
          min-width: 20px;
          text-align:center;

          a { margin: auto; }

          @include inline-block();
          margin: 0 15px 0 0;

          a { display: block; }

          &.editor { float: left }

          &.title_editor,
          &.html_editor { float: right }

          &.html_editor {
            position:relative;
            margin-right: 2px;
          }

          &.editor       a { @include size(17px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:0, $offset-y:0); }
          &.title_editor a { @include size(20px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:-40, $offset-y:0); }
          &.html_editor  a { @include size(17px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:-104, $offset-y:1px); }

          &.editor       a.selected { @include size(17px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:0, $offset-y:-25px); }
          &.title_editor a.selected { @include size(20px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:-40, $offset-y:-25px); }
          &.html_editor  a.selected { @include size(17px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:-104, $offset-y:-24px); }
        }

      }
    }

    .all {
      padding:15px 0;
      overflow:auto;
      span.label {margin-right:12px;}
    }

    .titlePane .fields li {
      position:relative;
      & > span:hover {cursor: default; }
    }

    // When custom html template is applied, blocked block should show up
    // and overflow should be hidden
    .titlePane.disabled .wrapper, .fieldPane.disabled .wrapper {
      overflow:hidden;
    }

    .blocked {
      position:absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
      display:none;
      padding:20px 40px;
      @include border-top-left-radius(4px);

      text-align:center;
      line-height: normal;
      background:rgba(white,0.9);
      z-index:10;

      span.block-icon {
        position:relative;
        @include inline-block();
        width:111px;
        height:110px;
        @include table-sprite(block_icon);
      }

      p {
        margin: 30px 0 3px 0;
        line-height: normal;
        color: #999999;
      }

      a {
        @include inline-block();
        margin:20px 0 0 0;
      }

    }

    .fields {
      li {
        padding:13px 0;
        font-size: 15px;
        color: $cGray4;
        border-bottom:1px solid rgba(#999999,0.25);
        overflow:hidden;

        & > span {
          @include inline-block();
          vertical-align:middle;
          max-width:50%;
          line-height:16px;
          &:hover {cursor:all-scroll;}
        }

        .form_combo {
          float:right;
          width:auto;

          .select2-container {width:143px;}
        }

        .form_combo ~ span {
          margin-top:3px;
        }

        .edit_in_place.input {
          @include position(7px, 0, false, false);
          @include default-input();
          z-index:2;

          input {
            font-size: 13px;
            padding: 6px;
          }
        }

        .switches {
          float: right;
          a.switch {margin-left:8px;}
        }

        span.title {
          margin-right: 20px;
        }

        &.drag_field {
          padding: 15px 0 15px 10px;
          @include table-sprite(drag_points, $offset-y:23px);
        }

        &.ui-sortable-helper {
          padding:15px 15px 15px 20px;
          margin-left:-15px!important;
          @include box-shadow(rgba(0,0,0,0.1) 0 0 5px 2px);
          border:1px solid #999999;
          @include table-sprite(drag_points, $offset-y:23px, $offset-x:10px);
          background-color:white;
          @include border-radius(2px);
          cursor:all-scroll;
          & > span {color:#999999;}
        }

        &.enabled {
          .switch {
            color: #000000;
          }
        }
      }
    }
  }
