
  /**
   *  Legends panel styles.
   *
   *  - Legend items block (sorting, draggable, etc).
   *  - Legend HTML editor block.
   *
   */

  @import "compass/css3/box-sizing";
  @import "compass/css3/images";
  @import "compass/css3/inline-block";
  @import "compass/css3/opacity";
  @import "../../../table/table-sprite";
  @import "../../../old_common/form-elements";
  @import "../../../old_common/mixins";
  @import "../../../variables/colors";

  div.legends_panel {
    display:block;
    width:100%;
    overflow: auto;

    .panel_content {
      overflow: auto;
    }

    .panel_content .wrapper .content .fields li span { cursor: default; }

    .panel_content .wrapper .content .fields {
      position:relative;
      background: $Black;
      z-index: 10;
    }

    .panel_content .wrapper { top: 29px; }

    .header {
      position:relative;
      clear:both;
      overflow:hidden;
      padding: 21px 30px 19px 30px;

      h3  {
        float:left;
        padding: 0!important;
        border:0;
      }

      .form_combo  { position:absolute; right:18px; }
    }

    .all {
      padding:15px 0;
      overflow:auto;
      span.label {margin-right:12px;}
    }

    .titlePane .fields li {
      position:relative;
      & > span:hover {cursor: default; }
    }

    // When custom html template is applied, blocked block should show up
    // and overflow should be hidden
    .titlePane.disabled .wrapper, .fieldPane.disabled .wrapper {
      overflow:hidden;
    }

    .blocked {
      position:absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
      display:none;
      padding:20px 40px;
      @include border-top-left-radius(4px);

      text-align:center;
      line-height: normal;
      background:rgba(white,0.9);
      z-index:10;

      span.block-icon {
        position:relative;
        @include inline-block();
        width:111px;
        height:110px;
        @include table-sprite(block_icon);
      }

      p {
        margin: 30px 0 3px 0;
        line-height: normal;
        color: #999999;
      }

      a {
        @include inline-block();
        margin:20px 0 0 0;
      }

    }

    // No content block
    .no_content { display:none }

    
    &.editing_html {

      .header h3 {
        margin-left: 23px;
      }

      .menu {
        li:first-child { margin-left: 23px; }
        &:after  { position:absolute; content:' '; top:0; left:34px; bottom:0; width:1px; height:100%; background:rgba($cGray4,0.50); }
        &:before { position:absolute; content:' '; top:0; left:36px; bottom:0; width:1px; height:100%; background:rgba(#509DD7,0.25); }
      }
    }

    .help-tip {
      top:90px;
    }

    .menu {
      position: absolute;
      @include box-sizing(border-box);
      top: 0px;
      width: 100%;
      padding: 9px 23px 3px 30px;
      background: $Grey9;
      border-top: 1px solid $Black;
      border-bottom: 1px solid $Black;

      z-index: 9;

      .tip {
        @include size(10px, 6px);
        @include position(false, false, -1px, 33px);
        @include background(sprite($table-sprites, infowindow_panel_white_tip) no-repeat);
        -webkit-filter: invert(100%);
        z-index: 10;
      }

      ul {

        clear:both;
        overflow:hidden;

        li {
          min-width: 20px;
          text-align:center;

          a { margin: auto; }

          @include inline-block();
          margin: 0 15px 0 0;

          a { display: block; }

          &.editor       { float: left; }

          &.title_editor,
          &.html_editor  { float: right; }

          &.html_editor  { margin-right: 2px; }

          /*&.html_editor:before { height: 16px; content: ''; position:absolute; left: -10px; top: -3px; border-left: 1px solid rgba(#ccc, .5); }*/
          &.html_editor { position:relative; }

          &.editor       a { @include size(17px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:0, $offset-y:0); }
          &.title_editor a { @include size(20px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:-40, $offset-y:0); }
          &.html_editor  a { @include size(17px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:-104, $offset-y:1px); }

          &.editor       a.selected { @include size(17px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:0, $offset-y:-25px); }
          &.title_editor a.selected { @include size(20px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:-40, $offset-y:-25px); }
          &.html_editor  a.selected { @include size(17px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:-104, $offset-y:-24px); }
        }

      }

    }
    div.forms {

      &.panel_content {
        top: 42px;
        padding: 0 30px 16px 30px;
        z-index: 9;

        .footer {
          margin: 14px 0 0 0;
          text-align:center;

          .add { font-size: 24px; }
        }

        .color {
          .no_content { display: none; }
        }

        .custom, .choropleth {
          ul li .input { top: 13px; }
          ul li:hover .remove { @include opacity(1); }
          ul li .remove {
            position:relative;
            top: 3px;
            @include opacity(0);
            @include inline-block();
            vertical-align:middle;
            @include size(13px,13px);
            margin-left:5px;
            letter-spacing:0px;
            @include background(sprite($common-sprites, close_grey, $offset-x:0, $offset-y:0) no-repeat);
            &:hover {@include background(sprite($common-sprites, close_grey, $offset-x:0, $offset-y:-13px) no-repeat);}
            &:active {@include background(sprite($common-sprites, close_grey, $offset-x:0, $offset-y:-26px) no-repeat);}
          }
        }

        .right {
          position: absolute;
          top: 12px;
          right: 0;

          .checkbox { float: left; position:relative; margin:8px 15px 0 0; }
          .checkbox.disabled { cursor: pointer; }
          .checkbox span { margin-right: 5px; }
          .input { float: left; }
        }

        ul li {
          color: #CCCCCC;
          font-size: 15px;
          position:relative;

          label.empty { font-style: italic; }

          label {
            @include inline-block();
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 150px;
            line-height: 1.2;
          }

          .input {
            @include default-input();

            .value { margin-right: 5px; }
            .value.empty { color: #ccc; }

            input {
              font-size: 13px;
              padding: 4px 7px;
              width:150px;
            }
          }
        }
      }

      ul {
        width:100%;
        margin:6px 0 0 0;
      }

      ul li {
        overflow:hidden;
        display:block;
        width:100%;
        padding:13px 0;
        height: 50px;
        @include box-sizing(border-box);

        &.title span.field { position:relative; top: 3px; }

        & > span:first-child {
          float:left;
          margin-top:2px;
        }

        & > span:last-child {
          float:right;
        }

        .form_combo {
          @include inline-block();
        }

      }
    }


    h3 {
      padding-left: 30px;
    }

    .fields {

      li {
        padding:10px;
        overflow:hidden;

        & > span {
          @include inline-block();
          vertical-align:middle;
          max-width:50%;
          line-height:16px;
          &:hover {cursor:all-scroll;}
        }

        .form_combo {
          float:right;
          width:auto;

          .select2-container {width:143px;}
        }

        .form_combo ~ span {
          margin-top:3px;
        }

      }
    }
  }
