<div class="Form-label Form-label--step">
  <label class="ImportPanel-headerDescription ImportPanel-headerDescription--normalWeight">
    <%- label %>
  </label>
</div>
<div class="Form-rowData Form-rowData--step js-select"></div>
