/* This file contains common styles used by all the v4 examples in order to keep a common look and feel */

html, body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

hr {
  margin: 15px auto;
}

aside {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: white;
  padding: 30px;
  overflow: hidden;
  max-height: 500px;
  overflow: scroll;
}

aside button {
  padding: 8px 10px;
  background: none;
  border: 1px solid #333;
}

aside pre {
  position: relative;
  font-size: 12px;
  max-height: 200px;
  overflow: scroll;
}
