<%= content_for(:title) do %>CARTO · Data Library<% end %>

<%= content_for(:description) do %>Incorporate your data with datasets from CARTO and create insightful visualizations that leverage big data and location intelligence.<% end %>

<%= content_for(:keywords) do %>location intelligence, dataset, big data, location services, CARTO<% end %>

<div class="CDB-Text DataLibrary">
  <div class="DataLibrary-inner js-data_library">
    <div class="Filters"></div>
    <div class="NoDatasets"></div>
    <div class="DataLibrary-cards">
      <div class="DataLibrary-content js-DataLibrary-content"></div>
    </div>
  </div>

  <div class="u-inner DataLibrary-footer u-txt-center">
    <div class="Grid">
      <ul class="Grid-inner Grid-inner--hcenter">
        <li class="Grid-cell Grid-cell--col10 Grid-cell--col12--mobile">
          <h2 class="Title Title--m u-vspace-m">The power of open data</h2>

          <p class="DataLibrary-text">From our Data Library or your dashboard you can access through a single click a collection of datasets that contain a wide variety of information. Explore within our data library: World Borders, European Countries, Urban Areas, and Populated Places.</p>
        </li>
      </ul>
    </div>

    <div class="DataLibrary-columns Grid">
      <ul class="Grid-inner">
        <li class="Grid-cell Grid-cell--col4 Grid-cell--col12--mobile u-tspace-xl">
          <div class="Icon Icon--round Icon--blue u-valign u-vspace-m">
            <i class="CDB-IconFont CDB-IconFont-explore IconFont--size24 IconFont--center u-iblock u-malign"></i>
          </div>

          <h3 class="PublicTitle PublicTitle--feature u-vspace--12">Explore</h3>
          <p class="Feature-text">From your dashboard access an abundance of datasets from our data library. We have data for your disparate&nbsp;needs.</p>
        </li>

        <li class="Grid-cell Grid-cell--col4 Grid-cell--col12--mobile u-tspace-xl">
          <div class="Icon Icon--round Icon--blue u-valign u-vspace-m">
            <i class="CDB-IconFont CDB-IconFont-lightbulb IconFont--size24 IconFont--center u-iblock u-malign"></i>
          </div>

          <h3 class="PublicTitle PublicTitle--feature u-vspace--12">Discover</h3>
          <p class="Feature-text">We’ve aggregated many different data sources to make it easy for you to search and uncover the datasets that are right for&nbsp;you.</p>
        </li>

        <li class="Grid-cell Grid-cell--col4 Grid-cell--col12--mobile u-tspace-xl">
          <div class="Icon Icon--round Icon--blue u-valign u-vspace-m">
            <i class="CDB-IconFont CDB-IconFont-mapsearch IconFont--size24 IconFont--center u-iblock u-malign"></i>
          </div>

          <h3 class="PublicTitle PublicTitle--feature u-vspace--12">Use and Enjoy</h3>
          <p class="Feature-text">With open data you can start mapping the world around you seamlessly and with a few clicks directly from your&nbsp;dashboard.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
