<%= content_for(:title) do %>CartoDB · Data Library<% end %>

<%# TODO: Description for data library %>
<%= content_for(:description) do %><% end %>

<div class="DataLibrary">
  <div class="DataLibrary-inner js-data_library">
    <div class="Filters"></div>
    <div class="NoDatasets"></div>
    <div class="">
      <div class="DataLibrary-cards">
        <div class="DataLibrary-content js-DataLibrary-content"></div>
      </div>

      <div class="u-inner u-txt-center">
        <button class="Button Button--gray Button--centered is-hidden js-more DataLibrary-more">View more</button>
      </div>
    </div>
  </div>

  <div class="u-inner DataLibrary-footer u-txt-center">
    <div class="Grid">
      <ul class="Grid-inner Grid-inner--hcenter">
        <li class="Grid-cell Grid-cell--col10 Grid-cell--col12--mobile">
          <h2 class="Title Title--m u-vspace-m">The power of open data</h2>

          <p class="DataLibrary-text">From our Data Library or your dashboard you can access through a single click a collection of datasets that contain a wide variety of information. Explore within our data library: World Borders, European Countries, Urban Areas, and Populated Places.</p>
        </li>
      </ul>
    </div>

    <div class="DataLibrary-columns Grid">
      <ul class="Grid-inner">
        <li class="Grid-cell Grid-cell--col4 Grid-cell--col12--mobile u-tspace-xl">
          <div class="Icon Icon--round Icon--blue u-valign u-vspace-m">
            <i class="iconFont iconFont-Clock IconFont--size24 u-iblock u-malign"></i>
          </div>

          <h3 class="Title Title--xs u-vspace-s">Explore</h3>
          <p class="DataLibrary-text DataLibrary-text--column">From your dashboard access an abundance of datasets from our data library. We have data for your disparate needs.</p>
        </li>

        <li class="Grid-cell Grid-cell--col4 Grid-cell--col12--mobile u-tspace-xl">
          <div class="Icon Icon--round Icon--blue u-valign u-vspace-m">
            <i class="iconFont iconFont-Spinner IconFont--size24 u-iblock u-malign"></i>
          </div>

          <h3 class="Title Title--xs u-vspace-s">Discover</h3>
          <p class="DataLibrary-text DataLibrary-text--column">We’ve aggregated many different data sources to make it easy for you to search and uncover the datasets that are right for you.</p>
        </li>

        <li class="Grid-cell Grid-cell--col4 Grid-cell--col12--mobile u-tspace-xl">
          <div class="Icon Icon--round Icon--blue u-valign u-vspace-m">
            <i class="iconFont iconFont-Dashboard IconFont--size24 u-iblock u-malign"></i>
          </div>

          <h3 class="Title Title--xs u-vspace-s">Use and Enjoy</h3>
          <p class="DataLibrary-text DataLibrary-text--column">With open data you can start mapping the world around you seamlessly and with a few clicks directly from your dashboard.</p>
        </li>
      </ul>
    </div>
  </div>

</div>
