<%- message = "<p>We've successfully geocoded <strong>#{@geocoded_rows}</strong> out of <strong>#{@processable_rows}</strong> points from <strong>#{@table_name}</strong>.</p>" %>

<% if @geocoding_failed || !@all_rows_geocoded %>
  <%= render partial: 'mailer_modules/warning_message', locals: { message: message } %>
<% else %>
  <%= render partial: 'mailer_modules/positive_message', locals: { message: message } %>
<% end %>

<% if @geocoding_failed || !@all_rows_geocoded %>
  <tr>
    <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
      <p>Rows that are not geocoded could have errors on their column values, or just doesn't exist in our data. To try again set "Override all values" checkbox for those rows you want to geocode try again.</p>
    </td>
  </tr>
<% end %>

<%= render partial: 'mailer_modules/link_to_action', locals: { link: @link, link_text: 'View your dataset' } %>
