<% if (left){ %><a href="#" data-align="left" class="align align-left"></a><% } %><% if (center) { %> <a href="#" data-align="center" class="align align-center"></a><% } %><% if (right) { %> <a href="#" data-align="right" class="align align-right"></a><% } %>
