# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Javascript and json files are formated with 2 spaces with ut8 encoding
[*.{js,json}]
charset = utf-8
indent_style = space
indent_size = 2
