/app
/config
/db
/doc
/lib/assets/javascripts/cartodb
/lib/assets/javascripts/cdb
/lib/assets/javascripts/utils
/lib/assets/node_modules
/lib/assets/test
/lib/build/*
!/lib/build/tasks
/lib/carto
/lib/cartodb
/lib/importer
/lib/resque
/lib/sql
/lib/tasks
/lib/varnish
/public
/script
/services
/spec
/vendor
