{
  "extends": "standard",

  "rules": {
    "semi": [2, "always"],
    "no-extra-semi": 2
  },

  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },

  "globals": {
    "_t": true
  }
}
