/app
/config
/db
/doc
/lib/assets/javascripts/cartodb
/lib/assets/javascripts/cdb
/lib/assets/javascripts/utils
/lib/assets/javascripts/vendor/jquery-ui.js
/lib/assets/test/lib
/lib/assets/test/spec/cartodb
/lib/assets/test/spec/new-dashboard/coverage
/lib/assets/test/spec/node_modules
/lib/assets/test/spec/SpecHelper.js
/lib/assets/test/spec/SpecHelper3.js
/lib/build/*
!/lib/build/tasks
/lib/carto
/lib/cartodb
/lib/importer
/lib/resque
/lib/sql
/lib/tasks
/lib/varnish
/public
/script
/services
/spec
/vendor
/coverage
