.rvmrc
.DS_Store
.bundle
dump.rdb
db/*.sqlite3
log
tmp/*
tmp/**/*
public/assets
public/system
public/uploads
public/javascripts
public/stylesheets
public/images
public/fonts
public/flash
app/assets/stylesheets/tmp/
db/schema.rb
*.pyc
bin/
config/database.yml
.idea/*
config/app_config.yml
config/redis.conf
src/
spec/support/data/failed_remote/*
*.swp
*.swo
env
coverage
.spin.rb
.sass-cache
public/js/lib/cdb.js
*billing*
services/importer/spec/factories/database.json
.ruby-version
cartodb.sublime-workspace
cartodb.sublime-project
lib/build/dist
lib/build/node_modules
app/assets/images/sprites/*.png
npm-debug.log
.idea
.ruby-gemset
lib/build/dist
lib/build/node_modules
public/assets
lib/build/grunt-aws.json
lib/build/app_config.js