[submodule "lib/assets/javascripts/cdb"]
	path = lib/assets/javascripts/cdb
  url = git://github.com/cartodb-org/cartodb.js.git
[submodule "app/assets/stylesheets/old_common"]
	path = app/assets/stylesheets/old_common
	url = git://github.com/CartoDB/cartodb.css.git
[submodule "lib/sql"]
	path = lib/sql
	url = git://github.com/CartoDB/cartodb-postgresql.git
