.rvmrc
.DS_Store
.bundle
_SpecRunner*.html
dump.rdb
db/*.sqlite3
log
tmp/*
tmp/**/*
public/assets
public/system
public/uploads
public/javascripts
public/stylesheets
public/images
public/fonts
public/flash
app/assets/stylesheets/tmp/
app/assets/fonts/icon_font/svgs
db/schema.rb
*.pyc
bin/
config.status
config/database.yml
.idea/*
config/app_config.yml
config/app_config.yml.local
config/redis.conf
config/grunt_production.json
spec/support/data/failed_remote/*
*.swp
*.swo
env
coverage
.spin.rb
.sass-cache
public/js/lib/cdb.js
*billing*
services/importer/spec/factories/database.json
.ruby-version
cartodb.sublime-workspace
cartodb.sublime-project
.rvmrc
app/assets/images/sprites/*.png
npm-debug.log
.ruby-gemset
lib/build/dist
lib/build/grunt-aws.json
lib/build/app_config.js
lib/build/.grunt/**/*
rubygems
vendor/bundle/*
vendor/cache/*
.vagrant
Vagrantfile
node_modules
.grunt/*
vendor/assets/javascripts/cartodb.*
vendor/assets/stylesheets/cartodb.*
public/test_support.csv
public/test_guess_country.csv
doc/manual/build
.gem/
.byebug_history
/tags
/.tags_swap
