{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-property-sort-order-smacss"
  ],
  "ignoreFiles": [
    "app/assets/stylesheets/old_common/**/*.css.scss",
    "app/assets/stylesheets/table/table_panel/layer-views-panels/filters_panel.css.scss",
    "app/assets/stylesheets/embed/embed_map.css.scss",
    "app/assets/stylesheets/editor-3/codemirror.css.scss",
    "app/assets/stylesheets/editor-3/_codemirror.scss",
    "app/assets/stylesheets/editor-3/form-tags.css.scss"
  ],
  "rules": {
    "selector-pseudo-element-colon-notation": "double",
    "color-hex-case": "upper",
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["extend", "at-root", "debug", "warn", "error", "if", "else", "for", "each", "while", "mixin", "include", "content", "return", "function"
      ]}
    ],
    "function-name-case": [ "lower", {
      "ignoreFunctions": ["/^DXImageTransform.Microsoft.*$/"]
    }],
    "declaration-empty-line-before": null,
    "block-no-empty": true,
    "shorthand-property-no-redundant-values": true,
    "declaration-block-no-redundant-longhand-properties": null
  }
}
