
@import "compass";
@import "common/vars";

@mixin default-input {
  input {
    position:relative;
    margin: 0;
    padding: 11px;
    border: 1px solid #C0C1C2;
    background: #FFF;
    @include border-radius(4px);
    font-size: 15px;
    font-family: $text-fonts;
    color: #666666;
    z-index:2;

    &:focus {
      outline:none;
      border-color:#999999;
      @include box-shadow(rgba(0,0,0,0.1) 0 0 2px 2px);
    }

    &::-webkit-input-placeholder {
      color:rgba(#666666,0.3);
    }

    &:-moz-placeholder {
      color:rgba(#666666,0.3); 
    }
  }
}

@mixin default-textarea {
  textarea {
    position:relative;
    margin: 0;
    padding: 11px;
    border: 1px solid #C0C1C2;
    background: #FFF;
    @include border-radius(4px);
    font-size: 15px;
    font-family: $text-fonts;
    color: #666666;
    z-index:2;

    &:focus {
      outline:none;
      border-color:#999999;
      @include box-shadow(rgba(0,0,0,0.1) 0 0 2px 2px);
    }

    &::-webkit-input-placeholder {
      color:rgba(#666666,0.3);
    }

    &:-moz-placeholder {
      color:rgba(#666666,0.3); 
    }
  }
}


@mixin default-upload {

}

@mixin default-form-info {
  div.info {
    display:block;
    min-height:15px;
    @include opacity(0);
    margin-top:-50px;
    padding:20px 13px 13px;
    border:1px solid #CCCCCC;
    @include border-radius(4px);
    z-index:-1;
    background:#FFF7EA;
    font-size:13px;
    @include transform-style("linear");
    @include transition-property("margin,opacity");
    @include transition-duration(400ms);

    p {
      font-style:italic;
      font-size:13px;
      word-wrap:break-word;
    }

    &.error {background:#FEEAEB}
    &.sync {background:#F2F2F2}
    &.active {
      @include opacity(1);
      margin-top:-7px;
    }
  }
}

@mixin default-select {
  select {
    margin-top: 20px;
    width: 253px;
    border: 10px solid rgb(242, 242, 242);
    padding: 11px;
  }
}