
/*
 * Header of CartoDB
 */

@import "compass";
@import "common/mixins";
@import "common/sprites";
@import "common/vars";

$text-shadow-color: rgba(black,0.25);

header { // general header
  position:relative;
  display: block;
  width: 100%;
  height: 36px;
  padding: 30px 0;

  $bkgColor: #428AC6;

  background: image-url('layout/relief.png') repeat center 0 $bkgColor; // IE
  @include background(image-url("layout/relief.png") repeat center 0 $bkgColor);

  @include box-shadow(rgba(black, 0.3) 0 0 12px, rgba(0,0,0, 0.09) 0 -5px 3px 0 inset);
  @include transform-style("linear");
  @include transition-property("background-color");
  @include transition-duration(1000ms);

  &:before {
    position:absolute;
    content:' ';
    top:0;
    left:0;
    right:0;
    bottom:0;
    @include background(linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.1)));
    z-index:0;
  }

  border-bottom: 1px solid #2F567E;
  z-index:2;

  h1 {
    margin:7px 0 0 0;
    a {
      @include inline-block();
      width:93px;
      height:18px;
      @include icons-sprite(cartodb);
      @include text-indent();
      &:focus,&:hover {outline:none; @include icons-sprite(cartodb,$offset-y:-19px)}
    }
  }

  ul {
    position:relative;
    top: 9px;

    display:block;
    letter-spacing:-4px;
    width:auto;

    li {
      @include inline-block();
      width:auto;
      margin-left:25px;
      letter-spacing:0;

      a {
        font-size:15px;
        color:white;
        text-shadow:0 1px $text-shadow-color;

        &.dropdown {
          position:relative;
          padding:0 12px 0 0;
          display:block;

          &:before {
            position:absolute;
            content:' ';
            top:-1px;
            right:0px;
            margin:8px 0 0 5px;
            border-left:3px solid transparent;
            border-right:3px solid transparent;
            border-top:3px solid white;
            z-index:1;
          }

          &:after {
            position:absolute;
            content:' ';
            top:-1px;
            right:0px;
            margin:9px 0 0 5px;
            border-left:3px solid transparent;
            border-right:3px solid transparent;
            border-top:3px solid $text-shadow-color;
            z-index:0;
          }
        }

        &.account {
          &.separator {
            padding:0 20px 0 0;
          }

          span {
            position:absolute;
            top:0;
            right:11px;
          }

          &:hover {
            cursor:pointer;
          }
        }

        &:hover {color:white}
        &.selected {color:#264565; text-shadow:0 1px rgba(white,0.25); &:hover {text-decoration:none; cursor:default;} &:after {color:rgba(#264565,0.5);} &:before {border-top-color:#264565;}}
        &:focus {outline:none; text-decoration:underline;}

        &.rounded.white {text-shadow:none; &:hover {color:#333333;}}
      }

      form {
        position:relative;
        width:247px;
        height:36px;
        margin:0;

        input[type="text"] {
          width:207px;
          margin:0;
          padding:10px 30px 10px 10px;
          background:rgba(0,0,0,0.20);
          font:normal 13px "Helvetica",Arial;
          border:none;
          color:#9AB2CB;
          @include border-radius(4px);
          @include transform-style("linear");
          @include transition-property("background,color");
          @include transition-duration(500ms);

          &::-webkit-input-placeholder {
            color:#9AB2CB;
          }

          &:-moz-placeholder {
            color:#9AB2CB;
          }

          &:focus {
            outline:none;
            background:rgba(0,0,0,0.35);
            color:white;
            @include transform-style("linear");
            @include transition-property("background,color");
            @include transition-duration(500ms);
          }
        }

        input[type="submit"] {
          position:absolute;
          top:10px;
          right:10px;
          width:15px;
          height:15px;
          border:none;
          @include icons-sprite(lens);
          @include text-indent();
          &:focus {outline:none; @include icons-sprite(lens, $offset-y:-15px);}
          &:hover {cursor:pointer; @include icons-sprite(lens, $offset-y:-15px);}
        }
      }
    }
  }


  // Visualizaiton view header
  &.vis {
    position:fixed;
    left:0;
    top:0;
    min-width:960px;
    height:108px;
    padding:20px 0;
    overflow:visible;
    border-bottom: 1px solid rgba(#333333, 0.8);
    @include box-shadow(rgba(0,0,0,0.09) 0 -5px 3px 0 inset);
    z-index:2;

    .inner {
      width:auto;
      height: 128px;
    }

    div.globalerror {
      position: absolute;
      top:auto;
      bottom:0;
      left:0;
      width:100%;
      height:39px;
      padding:0;
      overflow:hidden;
      text-align:center;
      z-index:1;

      p {
        @include border-top-radius(3px);
        margin-top:39px;
        @include inline-block();
        height:15px;
        width:auto;
        padding:12px 15px;
        line-height:15px;
        background:rgba(0,0,0,0.35);
        font:normal 13px $text-fonts;
        color:white;

        &.error {
          color: #EB2466;
          background-color: #FFEBF1;
        }

        &.warn {
          color: #555;
          background-color: rgba(#FFFFBF, 0.90);
        }

        img {
          position: relative;
          top: 3px;
          margin-right: 5px;
        }


      }
    }

    div.left {
      position:relative;
      width:65%;
      height:129px;
      margin-left:17px;
      z-index: 10;

      ul.actions {
        margin:0;
        top: 0;
        li { margin:0; }
      }

      // Back button
      a.back {
        @include inline-block();
        width:14px;
        height:13px;
        margin:0;
        @include icons-sprite(back);
        @include text-indent();
        @include opacity(.5);

        &:focus,&:hover {
          outline:none;
          @include opacity(1);
        }
      }

      // Vis type icon
      span.type {
        @include inline-block();
        vertical-align: middle;
        width:23px;
        height:18px;
        margin:2px 0 0 12px;
        text-indent:-9999px;
        &.table { @include icons-sprite(vis_type, $offset-y:0); }
        &.derived { @include icons-sprite(vis_type, $offset-y:-18) }
      }

      // Visualization title
      h1 {
        position:relative;
        margin:0;

        a {
          &.title {
            display:block;
            max-width:440px;
            width:auto;
            height:auto;
            margin:0 0 1px 8px;
            padding:0;
            font:500 1.313em $title-fonts2;
            color:white;
            @include text-overflow();
            white-space:nowrap;
            text-shadow:0 1px $text-shadow-color;
            background:none;
            text-indent:0;
            line-height:normal;
            text-transform: none;

            &.disabled {@include opacity(1)}
          }
          &.logo {
            margin:1px 0 0 24px;
          }
        }
      }

      // Public vis title
      h2 {
        width:auto;
        height:auto;
        margin:0 0 0 10px;
        padding:0;
        font:500 20px $title-fonts2;
        color:white;
        text-shadow:0 1px $text-shadow-color;
        letter-spacing:0;
        line-height:normal;

        &:before {
          content:'|';
          margin-right:10px;
          font-weight:300!important;
          text-shadow:none;
          color: rgba(white, 0.25);
        }
      }

      // Clear view button type
      a.button_header {
        margin:3px 0 0 10px;
        @include inline-block();
        &.clearview {display:none;}
      }

      // Tags block
      span.tags {
        margin:3px 4px 0 15px;

        &:before {
          position:relative;
          content:'|';
          font-weight:normal;
          top:1px;
          left:-9px;
          font-size: 1.063em;
          color:rgba(255,255,255, .3);
        }

        a {
          @include inline-block();
          vertical-align:middle;
          font:normal 0.688em $text-fonts;
          text-transform: uppercase;
          color:white;
          &.disabled {@include opacity(1)}
        }
      }

      // Author
      span.author {
        display:block;
        margin:4px 0 0 10px;
        font:300 0.81em $text-fonts;
        color:white;
      }

      // Tags block
      span.sync {
        margin:3px 0 0 12px;

        &:before {
          position:relative;
          content:'|';
          font-weight:normal;
          top:1px;
          left:-5px;
          font-size: 1.063em;
          color:rgba(255,255,255, .3);
        }

        div.circle {
          position:relative;
          @include inline-block();
          vertical-align:middle;
          width:10px;
          height:10px;
          margin-right:4px;

          span.point {
            position:absolute;
            top:0;
            left:0;
            width:8px;
            height:8px;
            margin:0;
            padding:0;
            border:1px solid rgba(black,.5);
            @include border-radius(10px);
            @include background(#FF4D4D);
            text-shadow:none;
            z-index:1;
          }

          span.pulse {
            position: absolute;
            left:-2px;
            top:-2px;
            height: 8px;
            width: 8px;
            @include animation(pulsate 1.5s ease-out infinite);
            border: 3px solid #BBB;
            @include border-radius(20px);
            opacity: 0.0;
            z-index:0;
          }
        }

        p {
          @include inline-block();
          vertical-align:middle;
          font:normal 0.688em $text-fonts;
          text-transform: uppercase;
          color:white;
          text-shadow:0 1px $text-shadow-color;
        }

        &.failure {
          div.circle span.point {
            @include background(linear-gradient(#FFFF4D,#D18400));
            border-color:rgba(black, .75);
          }
        }
      }

      // Description
      div.description {
        display:block;
        margin: 6px 0 0 11px;

        p {
          @include inline-block();
          width:auto;
          font-size: 0.938em;
          font-weight:300;
          color: rgba(255, 255, 255, 0.5);
          font-style: italic;
          padding-left:15px;

          &.public {
            margin-left:116px;
          }

          a {
            font-style:normal;
            font-weight:300;
            color: rgba(255, 255, 255, 0.5);
            &:hover { cursor:pointer; color:rgba(255, 255, 255, 1); }
            &.disabled {@include opacity(1)}
          }
        }
      }

      // Header nav buttons
      nav {
        position:absolute;
        left:17px;
        bottom:0;
        height:40px;

        a.tab {
          padding:8px 9px;
          @include inline-block();
          font-size:0.938em;
          font-weight:500;
          color:#fff;
          @include border-radius(3px);

          &:hover, &:focus, &:active {}

          &.selected {
            margin:0;
            color: #326A98;
            background:#fff;

            &:hover {text-decoration:none; cursor:default;}
            &:focus, &:active {}
          }

          &.disabled { &:hover, &:focus, &:active {} }
        }
      }
    }

    div.shadow {
      position:absolute;
      left:0;
      bottom:0;
      height:47px;
      width:100%;
      background:#000;
      background:rgba(#000, .15);
      border-top: 1px solid rgba(#000, .12);
      z-index: 0;
    }

    ul.options {
      position:absolute;
      top:0;
      right: 0;
      width:auto;
      margin:5px 35px 0 0;

      li {
        position:relative;
        padding:0 10px;
        margin:0;

        &:after {
          position:absolute;
          content:'|';
          top:0px;
          right:0;
          margin:0;
          color:rgba(white,0.4);
        }

        &:last-child {
          padding-right:0;
          &:after {display:none}
        }

        a {font-weight:300; &.share, &.data_download {font-weight:500;}}
      }
    }
  }
}



@include keyframes(pulsate) {
  0% {@include transform(scale(0.1, 0.1)); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {@include transform(scale(1.4, 1.4)); opacity: 0.0;}
}