/*
 * Image sprites for using in CartoDB
 */
$icons-file_type-spacing: 10px;
$icons-question-spacing: 10px;
$icons-unredo-spacing: 15px;
$icons-background_loader_error-spacing: 10px;
$icons-download_dataset-spacing: 40px;
$icons-download_dataset_people-spacing: 40px;
$icons-drag_points-spacing: 40px;
$icons-plus-spacing: 11px;
$icons-plus_big-spacing: 11px;
$icons-download_blue-spacing: 1px;
$icons-download_dark-spacing: 1px;
$icons-gmaps_gray_roadmap-spacing: 5px;
$icons-prohibited-spacing: 5px;
$icons-square-spacing: 35px;
$icons-infowindow_panel_icons-spacing: 20px;

$icons-badge_default-spacing:          20px;
$icons-badge_free_server-spacing:      20px;
$icons-badge_magellan-spacing:         20px;
$icons-badge_john_snow-spacing:        20px;
$icons-badge_coronelli-spacing:        20px;
$icons-badge_dedicated_server-spacing: 20px;
$icons-badge_mercator-spacing:         20px;

$icons-paginator_arrows-spacing: 10px;

@import "icons/*.png";
@include all-icons-sprites;
