  /*
   *  VARS
   *  General vars for the project
   */
  $text-fonts: "Helvetica Neue", "Helvetica", Arial;
  $text-fonts2: "Helvetica", Arial;
  $title-fonts: "Segoe UI Bold","Helvetica Bold", "Helvetica", Arial;
  $link-color:#397DBA;
  $link-hover-color:#2B6191;
  $w: 960px; // Min width
  $button-bkg-color: #F2F2F2;