<div class="IntermediateInfo">
  <div class="Spinner"></div>
  <h4 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m u-tSpace-xl"><%= title %></h4>
  <div class="DefaultParagraph DefaultParagraph--short CDB-Text CDB-Size-medium u-altTextColor"><%= quote %></div>
</div>
