<div class="IntermediateInfo">
  <div class="LayoutIcon">
    <i class="iconFont <%= icon %>"></i>
  </div>
  <h4 class="IntermediateInfo-title"><%= title %></h4>
  <p class="DefaultParagraph DefaultParagraph--short">
    <%= msg %>
  </p>
</div>
