/**
 * Embed map protected with password
 */
@import "compass/css3/border-radius";
@import "../old_common/mixins";

.Session-body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.Session-background--navyBlue {
  background-color: #162945;
}
.Session-background--grey {
  background-color: #F9F9F9;
}
.Session-centerContainer {
  @include display-flex();
  @include align-items(center, center);
  @include justify-content(center, center);
  width: 100%;
  height: 100%;
  position: absolute;
}
.Session-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.Session-header {
  text-align: center;
}
.Session-logo {
  margin-bottom: 40px;
}
.Session-form {
  margin: 0 auto;
}
.Session-input-withTooltip {
  @include display-flex();
  @include align-items(center, center);
}
.Session-inputTooltip {
  left: 100%;
  margin-left: 12px;
  white-space: nowrap;
}
.Session-form--inputText {
  @include border-radius(0);
  width: 320px;
  height: 48px;
  background: #0E1C2E;
  padding: 10px;
  color: #FFFFFF;
  outline: none;
  border: 1px solid #0E1C2E;
  box-sizing: border-box;

  &:focus {
    border: 1px solid #1785FB;
  }

  &.RoundBorders-all {
    @include border-radius(4px);

  }
  &.RoundBorders-top {
    @include border-radius(4px 4px 0 0);
  }
  &.RoundBorders-bottom {
    @include border-radius(0 0 4px 4px);
  }
  &.is-alert {
    border: 1px solid #F24440;
  }
}
.Session-form--button {}
.Session-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
