/**
 * embed map
 */
/*@import "compass/reset";*/
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/inline-block";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "../old_common/vars";
@import "../plugins/tipsy";
@import "../old_common/mixins";

html, body {
  position:relative;
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  background-color:#EEEEEE;
  font-family: $text-fonts;
  color:#666666;
  font-size:15px;
}

@media only screen and (max-width: 380px) {

    body.protected {

      .block.modal {
        width: 300px;
        margin:-124px 0 0 -150px;
      }

      .block.modal div.foot {
        text-align:center;
      }

      .block.modal .content .icon {
        left: 10px;
      }

      .block.modal .content .icon.error {
        left: auto;
        right: 10px;
      }

      .block.modal div.content {
        padding: 18px;
        background:#EEEEEE;

        input {
          width: 165px;
          left: 25px;
          padding-left: 10px;
        }
      }
    }
  }

body.protected {

  clear: both;
  overflow:hidden;

  background: rgb(83,161,219); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzYTFkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU0OTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(83,161,219,1) 0%, rgba(30,84,150,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,161,219,1)), color-stop(100%,rgba(30,84,150,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(83,161,219,1) 0%,rgba(30,84,150,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(83,161,219,1) 0%,rgba(30,84,150,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(83,161,219,1) 0%,rgba(30,84,150,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(83,161,219,1) 0%,rgba(30,84,150,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53a1db', endColorstr='#1e5496',GradientType=0 ); /* IE6-8 */

  .block {
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 0 4px 3px;
    -moz-box-shadow: rgba(0,0,0,0.07) 0 0 4px 3px;
    box-shadow: rgba(0, 0, 0, 0.07) 0 0 4px 3px;
  }

  h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: $title-fonts;
    color: #333;
    line-height: normal;
  }

  a {
    font-family: $text-fonts;
    color: #2483B4;
    text-decoration: none;
  }

  .modal {
    position: relative;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 376px;
    margin:-124px 0 0 -188px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 4px;
    -moz-box-shadow: rgba(0,0,0,0.15) 0 0 0 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 4px;
  }

  .block div.head {
    position: relative;
    padding: 33px 10px 31px 10px;
    border-bottom: 1px solid #D1D1D1;
    text-align: center;

    h3 {
      margin: 0;
      font-size: 15px;
    }
  }

  .block div.content form {
    position:relative;
  }

  .block div.content {
    padding: 18px;
    background:#EEEEEE;

    input {
      width: 192px;
      position:relative;
      left: 70px;
      padding-left: 10px;
      font-size:15px;
      color: #666666;
      background:none;
      border:none;
      outline:none;
      border-left: 1px solid #D1D1D1;
      margin-left: 11px;
      font-weight:normal;
      border-radius: 0;
    }

  }

  ::-webkit-input-placeholder { color: #666;  }
  :-moz-placeholder { color: #666;  }
  ::-moz-placeholder {  color: #666;  }
  :-ms-input-placeholder {  color: #666;  }

  .block div.foot {
    padding: 32px 30px 34px 30px;
    border-top: 1px solid #D1D1D1;
    overflow: auto;
    color: #666666;
    font-size:13px;
    line-height:normal;
    text-align:center;
  }

  .block .content .icon {
    position:absolute;
    width: 14px;
    height: 20px;
    top: 2px;
    left: 50px;
    @include background(image-url('layout/lock.png') no-repeat);

    &.error {
      width: 26px;
      height: 27px;
      top: -2px;
      right: 48px;
      left: auto;
      background-repeat:none;
      @include background(image-url('layout/error.png') no-repeat);
    }
  }

  .bkg {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 371px;
    width:469px;
    margin:-180px 0 0 -234px;
    @include background(image-url('layout/embed_bkg.png') no-repeat);
  }

}
