
/**
 *  Share dialog for public views
 *
 */

@import "../old_common/vars";

.cartodb-share-dialog .block.modal .head h3 {
  color: #333;
  font-family: $title-fonts;
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
}

.cartodb-share-dialog .block.modal h4 {
  font-family: $title-fonts;
}

.cartodb-share-dialog .block .buttons li a {
  font-family: $title-fonts;
}
