@import "compass/css3/text-shadow";
@import "../common/mixins";
@import "../common/fonts";
@import "../common/vars";
@import "common/form-elements";
@import "../common/common-sprite";
@import "../dashboard/dashboard-sprite";

body {
  @include background(image-url("layout/bkg.jpg") repeat 0 0);
  min-width: 100%;
}

.content {
  width: 1022px;
  margin: 50px auto 0 auto;
  @include clearfix();
  @include box-sizing(border-box);
}

header { display :block; } // IE<9

header {

  $bkgColor: #428AC6;
  height: auto;
  padding: 0;

  background: image-url('layout/gradient.png') repeat center 0 $bkgColor; // IE
  @include background(image-url("layout/gradient.png") repeat center 0 $bkgColor);
  @include box-shadow(none);

  .inner {

    padding: 24px 0;
    @include clearfix();

    @include box-sizing(border-box);

    h1 { margin-top: 0; }
    h1 a { 
      display: block;
      width: 93px;
      height: 18px;
    }
    ul { top: 0; }
  }

} // header

.info {
  float:left;
  margin-right: 39px;
  width: 283px;
}

.info .tags {

  margin: 0 0 40px 0;

  li  {

    padding: 17px 0;
    border-bottom: 1px solid rgba(#BBBBBB, .2);

    &:first-child { padding-top: 0; }
    &:last-child  { border:none; }

    strong {
      color: #BABABA;
      font-size:13px;
      font-family: 'ProximaNova-Semibold', Helvetica, sans-serif;
      font-weight: 400;
      text-transform: uppercase;
    }

    a { font-size: 15px; }

  } // li

} // .info .tags

.user-info {

  $width: 283px;

  width: $width;
  margin: 0 0 45px 0;
  text-align:center;

  .avatar {
    position: relative;
    height: 220px;
    border: 1px solid rgba(#1D4879, .6);
    border-bottom: none;
    /*background: url(/images/layout/avatar_bkg.png) repeat 0 0;*/
    @include background(image-url("layout/avatar_bkg.png") repeat);

    @include border-radius(5px 5px 0 0);

    .circle {
      $width: 128px;

      clear:both;
      overflow:hidden;

      position:absolute;
      display:block;
      width: $width;
      height: $width;

      top: 50%; left: 50%;
      margin-left: -$width/2;
      margin-top: -$width/2;

      background:#fff;
      @include border-radius(300px);
      @include box-shadow(0px 0px 0 4px rgba(#333, .2));
    }

  } // .avatar

  ul {
    clear:both;
    overflow:hidden;
    background:#fff;

    border: 1px solid #BBBBBB;
    @include border-radius(0 0 5px 5px);

    li {
      width: 140px;
      float:left;
      padding: 25px 0;

      @include box-sizing(border-box);

      text-align:center;
      color: #333333;
      text-transform: uppercase;

      &:first-child {
        border-right: 1px solid #BBBBBB;
      }

      strong {
        font-size:51px;
        display:block;
      }

      &, a {
        font-family: 'ProximaNova-Semibold', Helvetica, sans-serif;
        font-weight: 400;
        font-size:11px;
      }

      a:hover {
        text-decoration:none;
      }

    }

  } // ul

  .username {

    padding: 30px 0;
    background:#fff;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;

    h2  {
      color: #333333;
      font-size: 21px;
      font-family: 'ProximaNova-Semibold', Helvetica, sans-serif;
      font-weight: 400;
    }
  } // .username
} // .user-info

.visualizations {
  float:left;
}

.visualizations > ul > li {

  @include box-sizing(border-box);

  width: 700px;
  margin: 0 0 29px 0;

  background: #fff;

  .map-wrapper {
    height: 300px;
    position:relative;

    @include translateZ(10px);
    @include border-radius(3px 3px 0 0);
    @include translate3d(0,0,10px);
    overflow:hidden;

    .backdrop {
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include opacity(0);
      background:#fff;
      z-index: 20;
    }

    .map {
      height: 100%;
      width: 100%;
    }

    .gradient {
      position:absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 125px;

      @include opacity(.8);
      @include background(image-url("layout/gray_gradient.png") repeat-x 0 0);
      z-index: 0;
    }

    .title {
      position:absolute;
      bottom: 28px;
      left: 42px;

      z-index: 40;

      h3 {
        margin: 0 0 5px 0;

        color: #fff;
        font-family: 'ProximaNova-Semibold', Helvetica, sans-serif;
        font-weight: 400;
        font-size: 27px;
      }

      p {
        font-size:15px;
        color: #DDDDDD;
      }
    }
  }

  .header {
    padding: 30px 34px;
    border: 1px solid #BBBBBB;
    border-top: none;
    @include clearfix();
    @include border-radius(0 0 5px 5px);
  }

  .mapviews {
    top:7px;

    position:relative;
    float:right;
    font-size: 15px;
    font-family: 'ProximaNova-Semibold', Helvetica, sans-serif;
    font-weight: 400;
    color: #CCCCCC;
  }

  .tags {

    float:left;
    width: 480px;

    li {
      @include inline-block();
      border:none;
      line-height:120%;
      *margin: 0 4px 0 0;
    }

    a {
      padding: 6px 9px;
      display: block;

      background: #FFD24D;
      background: rgba(#FFD24D, .50);


      color: #545454;
      font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
      font-size:11px;
      text-transform: uppercase;
      text-decoration: none;

      @include border-radius(3px);

      &:hover {
        background: rgba(#FFD24D, .70);
        text-decoration:underline;
      }
    }

  } // .tags

} // .visualizations .vis

.pagination {

  margin: 36px 0 60px 0;

  clear:both;
  overflow:hidden;

  text-align: center;

  ul {

    float:left;
    width: 639px;
    margin: 10px 0 0 0;

    li {

      @include inline-block();

      a {
        display:block;
        width: 10px;
        height: 10px;
        background:#E2E2E2;
        @include border-radius(100px);

        &:hover  {
          background:#ADADAD;
        }

      }

      &.selected a {
        background:#ADADAD;
      }

    }
  }

  .next { float:right; }

}

.next {

  &:hover {
    text-decoration:underline;
    background: darken(#397DB9, 10%);
    color: #fff;
  }

  @include inline-block();
  padding: 11px 13px;

  font-size:13px;
  font-family: 'ProximaNova-Semibold', Helvetica, sans-serif;
  font-weight:400;
  text-transform: uppercase;

  color:#fff;
  background: #397DB9;
  @include border-radius(3px);
  line-height:120%;

} // .next


body:after {
  @include box-sizing(border-box);
  content: '';
  background: rgba(red, .8);
  color: #fff;
  padding: 7px;
  position:fixed;
  top: 0;
  left: 50%;
  width: 80px;
  margin-left: -40px;
  text-align:center;
  z-index: 1000;
  @include simple-transition(all);
  @include border-radius(0 0 3px 3px);
  
}

a.button.green:hover {
  background: #749C33;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #94be42), color-stop(100%, #799e33));
  background: -webkit-linear-gradient(#94be42,#799e33);
  background: -moz-linear-gradient(#94be42,#799e33);
  background: -o-linear-gradient(#94be42,#799e33);
  background: linear-gradient(#94be42,#799e33);
  text-decoration: none;
  cursor: pointer;
}

a.button.green {
  padding: 8px 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Segoe UI Bold", "Helvetica Bold", "Helvetica", Arial;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 1px 0 #3C5219;
  background: #94BE42;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #94be42), color-stop(100%, #7fa938));
  background: -webkit-linear-gradient(#94be42,#7fa938);
  background: -moz-linear-gradient(#94be42,#7fa938);
  background: -o-linear-gradient(#94be42,#7fa938);
  background: linear-gradient(#94be42,#7fa938);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #1E3C54;
  letter-spacing: 0;
  word-spacing: 1px;
  -webkit-transform-style: "linear";
  -moz-transform-style: "linear";
  -ms-transform-style: "linear";
  -o-transform-style: "linear";
  transform-style: "linear";
  -webkit-transition-property: box-shadow,border;
  -moz-transition-property: box-shadow,border;
  -o-transition-property: box-shadow,border;
  transition-property: box-shadow,border;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;

  zoom: 1; *display: inline;
}




@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

@media only screen and (max-width: 350px) {

  body:after {
    content: 'small';
  }

  header {
    .inner {
      width: 100%;
      padding: 24px 15px;

      .learn_more { display: none; }
    }
  }

  .info,
  .visualizations  {
    float:none;
    display:block;
    width: 100%;
  }

  .content { padding: 0 15px; width: 100%; }

  .user-info,
  .user-info .avatar,
  .user-info .username,
  .visualizations > ul > li {
    width: 100%;
  }

  .user-info ul {
    width: 100%;
  }

  .user-info ul li {

    width: 50%;
  }

  .visualizations ul li .header {

    .tags {
      float:none;
      width: 100%;
      margin: 0 0 10px 0;

      li { margin: 0 0 7px 0; }

    }

    .mapviews {
      float:none;
      width: 100%;
      text-align: left;
    }

  }

  .visualizations ul li .map-wrapper {
    .title {
      position:absolute;
      margin-left: -130px;
      width: 260px;
      left: 50%;
      bottom: 28px;
    }
  }

}

@media only screen and (min-width: 351px) and (max-width: 710px) {

  body:after {
    content: 'medium';
  }

  header {
    .inner {
      width: 100%;
      padding: 24px 15px;
    }
  }

  .info,
  .visualizations  {
    float:none;
    display:block;
    width: 100%;
  }

  .content { padding: 0 15px; width: 100%; }

  .user-info,
  .user-info .avatar,
  .user-info .username,
  .visualizations > ul > li {
    width: 100%;
  }

  .user-info ul {
    width: 100%;
  }

  .user-info ul li {

    width: 50%;
  }

  .visualizations ul li .header {

    .tags {
      float:none;
      width: 100%;
      margin: 0 0 10px 0;

      li { margin: 0 0 7px 0; }

    }

    .mapviews {
      float:none;
      width: 100%;
      text-align: left;
    }
  }

}

@media only screen and (min-width: 981px) and (max-width: 1035px) {

  body:after {
    content: 'big 1';
  }

  header {
    .inner {
      width: 100%;
      padding: 24px 15px;

      .learn_more { display: none; }
    }
  }

  .content { padding: 0 15px; width: 100%; }

  .info {
    float:left;
    margin-right: 0;
    width: 283px + 29px;

  }

  .visualizations {
    float: left;
    width: 100%;
    margin-right: -283px - 29px; /* The size of the fixed block. */

    & > ul { margin-right: 283px + 29px; }
    & > ul > li {
      @include box-sizing(border-box);
      width: 100%;
    }

    ul li .header {

      .tags {
        width: 400px;

        li { margin: 0 0 7px 0; }

      }
    }
 
  } // .visualizations

}

@media only screen and (min-width: 711px) and (max-width: 980px) {

  body:after {
    content: 'big';
  }

  header {
    .inner {
      width: 100%;
      padding: 24px 15px;
    }
  }

  .info,
  .visualizations  {
    float:none;
    display:block;
    width: 100%;
  }

  .content { padding: 0 15px; width: 100%; }

  .user-info,
  .user-info .avatar,
  .user-info .username,
  .visualizations > ul > li {
    width: 100%;
  }

  .user-info ul {
    width: 100%;
  }

  .user-info ul li {
    width: 50%;
  }

}

/* iPhone portrait */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) {

  header {
    .inner {
      width: 100%;
    }
  }

}

/* iPhone landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) {

}
