
/**
 *  Styles for body within public view (comments and data used for this vis or tables)
 *
 */

@import "compass/css3/opacity";
@import "../old_common/vars";


.cartodb-body {
  padding: 30px 0;
}

.cartodb-body .comments .content p {
  font-size: 17px;
  font-family: $text-fonts;
  color: #444444;
  line-height: normal;
}


// Map info

.cartodb-body .inner .map-info {
  position:relative;
  top: 8px;
}

.cartodb-body .inner .map-info h2 {
  margin: 0 0 21px 0;
  padding: 0;
  font-size: 17px;
  font-family: $text-fonts;
  font-weight:bold;
  color: #444444;
  line-height: normal;
}

.cartodb-body .inner .map-info ul {
  list-style:none;
  margin: 0;
  padding: 14px 0 0 0;
  border-top: 2px solid #EBEEF0;
}

.cartodb-body .inner .map-info ul li {
  clear:both;
  overflow:hidden;
  margin: 0 0 17px 0;
  padding: 0 0 17px 0;
  border-bottom: 1px solid #E4E4E4;
  font-size: 15px;
  font-family: $text-fonts;
}

.cartodb-body .inner .map-info ul li.private { color: #CCCCCC }

.cartodb-body .inner .map-info ul li a {
  float:left;
  width: 200px;
  font-family: $text-fonts;
  color: #397DB8;
  text-decoration:none;
  font-size: 15px;
  line-height: 120%;

  /* Ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cartodb-body .inner .map-info ul li .disabled {
  color: #333;
  @include opacity(.5);
  &:hover { text-decoration:none; color: #333; }
}

.cartodb-body .inner .map-info ul li a:hover {
  text-decoration: none;
  color: #333;
}

.cartodb-body .inner .map-info ul li span {
  position:relative;
  top: 4px;
  float:right;
  font-size: 11px;
  color: #CCCCCC;
  font-family: 'ProximaNova', $text-fonts2;
  line-height: 120%;
}

.cartodb-body .inner .map-info ul li span.help {
  font-family: 'ProximaNova', $text-fonts2;
  top: 3px;
}

.cartodb-body a {
  color: #397DB8;
  text-decoration: none;
  cursor: auto;
}



// Hello media queries

@media only screen and (max-width: 710px) {

  div.cartodb-map-data .cartodb-body .inner .map-info {
    top: 0;
  }

}

/* iPhone portrait */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) {
  div.cartodb-map-data .cartodb-body .inner .map-info {
    top: 0;
  }
}

/* iPhone landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) {
  div.cartodb-map-data .cartodb-body .inner .map-info { top: 0 }
}

@media only screen and (min-width: 711px) and (max-width: 1035px) {
  div.cartodb-map-data .cartodb-body .inner .map-info { top: 0 }
}
