<div>
  <div class="Dialog-header u-inner">
    <div class="Dialog-headerIcon Dialog-headerIcon--main">
      <i class="iconFont iconFont-Anchor"></i>
    </div>
    <p class="Dialog-headerTitle">Publish your map</p>
    <p class="Dialog-headerText">Send the link, embed in your website or develop and cartodb.js application with it.</p>
  </div>

  <div class="js-publish-options Dialog-body OptionCards">
  </div>

  <div class="Dialog-footer u-inner DeleteItems-footer">
    <button class="Button Button--secondary Dialog-footerBtn cancel">
      <span>cancel</span>
    </button>
  </div>
</div>
