<div class="Form-row">
  <div class="Form-rowLabel"></div>
  <div class="Form-rowData Form-rowData--med">
    <% if (state === "error") { %>
      <p class="DefaultParagraph">
        <button type="button" class="Button Button--link js-addColumn">try again</button>
      </p>
    <% } else if (state === "loading") { %>
      <div class="Spinner"></div>
    <% } else { %>
      <button type="button" class="Button Button--link js-addColumn">Add new column</button>
    <% } %>
  </div>
</div>