<div class="mamufas">
  <section class="block modal">
    <a href="#close" class="close">x</a>
    <div class="head">
      <h3>Creating your table...</h3>
      <p class="margin5">Creating your table...</p>
    </div>
    <div class="content">
      <p>This is a paragraph</p>
    </div>
    <div class="foot">
      <a class="right button grey">Hide this window</a>
    </div>
  </div>
</div>
