<div class="mamufas">
  <section class="block modal">
    <a href="#close" class="close">x</a>
    <div class="head">
      <h3><%= title %></h3>
      <% if (description) { %>
        <p class="margin5"><%= description %></p>
      <% } %>
    </div>
    <div class="content">
    </div>
    <div class="foot">
      <a class="right button grey"><%= ok_title %></a>
    </div>
  </div>
</div>
