<% if (disclaimer) { %>
  <div class="CreateDialog-footerShadow CreateDialog-footerShadow--tall"></div>
  <div class="CreateDialog-footerLine"></div>
  <div class="CreateDialog-footerInner ">
    <div class="js-footer-info CreateDialog-footerInfo">
      <p class="CDB-Text CDB-Size-medium u-altTextColor"><%= disclaimer %></p>
    </div>
  </div>
<% } %>
