<div class="Modal-header">
  <div class="Modal-headerContainer">
    <h2 class="CDB-Text CDB-Size-huge is-light u-bSpace">Select marker image</h2>
    <h3 class="CDB-Text CDB-Size-medium u-altTextColor">Upload your icons or just use our nice selection</h3>
  </div>
</div>

<div class="Modal-container">
  <div class="Tab-pane">
    <div class="Modal-navigation">
      <ul class="Modal-navigationInner CDB-Text is-semibold CDB-Size-medium js-navigation">
      </ul>
    </div>

    <div class="Modal-inner">
      <div class="Dialog-body Dialog-body--expanded Dialog-body--create Dialog-body--withoutBorder">
        <div class="u-inner">
          <div class="FormAccount-rowLabel">
            <label class="CDB-Text CDB-Size-medium u-altTextColor js-iconsInfo">Icons for your organization</label>
            <label class="CDB-Text CDB-Size-medium js-selectAllIcons" style="display: none;"><a href="#/select_all">Select all</a></label>
            <label class="CDB-Text CDB-Size-medium js-deselectAllIcons" style="display: none;"><a href="#/deselect_all">Deselect all</a></label>
            <label class="CDB-Text CDB-Size-medium js-deleteIcons" style="display: none;"><a href="#/delete_icons" class="u-alertTextColor">Delete icons...</a></label>
          </div>

          <div class="AssetsContent Dialog-bodyInnerExpandedWithSubFooter"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Modal-footer">
  <div class="Modal-footerContainer Dialog-footer Dialog-footer--expanded CreateDialog-footer u-flex u-justifyEnd js-footer">
  </div>
</div>
