<li class="CDB-NavMenu-item is-disabled js-your-icons<%- pane === 'your_icons' ? ' is-selected' : '' %>">
  <button data-type="your_icons" class="CDB-NavMenu-link js-item u-upperCase">Your icons</button>
</li>
<li class="CDB-NavMenu-item<%- pane === 'simple_icons' ? ' is-selected' : '' %>">
  <button data-type="simple_icons" class="CDB-NavMenu-link js-item u-upperCase">Simple icons</button>
</li>
<li class="CDB-NavMenu-item<%- pane === 'pin_icons' ? ' is-selected' : '' %>">
  <button data-type="pin_icons" class="CDB-NavMenu-link js-item u-upperCase">Pin icons</button>
</li>
<li class="CDB-NavMenu-item<%- pane === 'maki_icons' ? ' is-selected' : '' %>">
  <button data-type="maki_icons" class="CDB-NavMenu-link js-item u-upperCase">Maki icons</button>
</li>
