<ul class="options switches">
  <li class="title"><p>Fixed title</p></li>
  <li class="description"><p>Fixed description</p></li>
  <li class="search"><p>Search box</p></li>
  <li class="share"><p>Share options</p></li>
  <li class="zoom"><p>Zoom controls</p></li>
  <li class="scrollwheel"><p>Scroll wheel zoom</p></li>
  <li class="layer_selector"><p>Layer selector</p></li>
  <li class="legends"><p>Legends</p></li>
  <li class="fullscreen"><p>Fullscreen</p></li>
  <li class="logo"><p>CARTO Logo</p></li>
</ul>
