<div class="IntermediateInfo">
  <div class="Spinner"></div>
  <h4 class="IntermediateInfo-title"><%= q || tag  ? 'Searching' : 'Loading' %>...</h4>
  <p class="DefaultParagraph">It’s just a second (or two)</p>
</div>
