<div class="ContentResult">
  <i class="ContentResult-icon ContentResult-iconError iconFont iconFont-Cockroach"></i>
  <h4 class="ContentResult-title">Oouch! There has been an error</h4>
  <p class="ContentResult-text">Try viewing <a class="ContentResult-urlLink" href="<%= userPrefix %>dashboard/maps">your maps</a> or if the problem persists contact us at <a class="ContentResult-mailLink" href="mailto:support@cartodb.com">support@cartodb.com</a>.</p>
</div>