<div class="IntermediateInfo">
  <i class="IntermediateInfo-icon IntermediateInfo-iconNegative iconFont iconFont-Cockroach"></i>
  <h4 class="IntermediateInfo-title">Oouch! There has been an error</h4>
  <p class="DefaultParagraph">Try viewing <a class="ContentResult-urlLink js-link" href="<%= userPrefix %>dashboard/maps">your maps</a> or if the problem persists contact us at <a class="js-mail-link" href="mailto:support@cartodb.com">support@cartodb.com</a>.</p>
</div>
