<div class="ContentResult">
  <div class="ContentResult-loader"></div>
  <h4 class="ContentResult-title"><%= q || tag  ? 'Searching' : 'Loading' %>...</h4>
  <p class="ContentResult-text">It’s just a second (or two)</p>
</div>