<div class="OnBoarding-map js-onboarding-map"></div>
<div class='OnBoarding-welcome'>
  <svg class='OnBoarding-welcomeBkg' width='100%' height='100%' version='1.1' xmlns='http://www.w3.org/2000/svg'>
    <defs>
      <mask id='mask'>
        <rect x='0' y='0' width='100%' height='100%' fill='white' />
        <rect x='0' y='0' class="OnBoarding-welcomeMask" width='200' height='200' fill='black' />
      </mask>
    </defs>
    <g>
      <rect fill='black' width='100%' height='100%' opacity='0.8' mask='url(#mask)' />                
    </g>
  </svg>

  <h4>Aloha kartones!</h4>
  <p>Welcome to the CartoDB Editor. Create your first map by clicking on the new map button.</p>
  <p>From here, your Dashboard, you will be able to create new maps<sup>A</sup> as well as finding the maps you’ve liked<sup>B</sup>.</p>
  <button class="Button Button--white">got it</button>
</div>