<div class="Dialog-header SuccessDetails-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--positive">
    <i class="iconFont iconFont-Check"></i>
  </div>
  <p class="Dialog-headerTitle">Import completed!</p>
  <p class="Dialog-headerText">Check stats</p>
</div>
<div class="Dialog-body SuccessDetails-body">
</div>
<div class="Dialog-footer SuccessDetails-footer">
  <button class="Button Button--light SuccessDetails-footerButton cancel">close</button>
</div>