
  /**
   *  Twitter import pane styles
   *
   *  - Error info
   *  - Warning message, etc...
   */

  @import "compass/css3/inline-block";
  @import "old_common/mixins";
  @import "old_common/form-elements";

  .import-twitter-pane {

    @include default-form-info();

    .twitter-categories,
    .twitter-date {
      position:relative;
      z-index:1
    }

    .twitter-terms {
      position:absolute;
      bottom:-73px;
      left:0;
      width:242px;
      font-size:11px;
      p { color:#999999 }
      a { text-decoration:underline }
    }
    
    
    div.infobox {
      z-index:0;

      div.info.active {
        margin-top:-10px;
      }
    }

  }