
/**
 *  Styles for announcement in public pages
 *
 */


.announcement {

  padding: 15px 0;
  border-bottom: 1px solid #E5E0D3;
  line-height: 120%;

  color: #333333;
  background: #FEF5DA;

  a { color:#397DB8; text-decoration: underline; }

  .inner {
    width: 100%;
    text-align: center;
  }

}