
/**
 *  Styles for datasets list
 *
 */


@import "compass/css3/opacity";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "../common/vars";
@import "../common/mixins";


.datasets {
  float:left;
  width: 700px;
  text-align:center;
}


.datasets > ul > li {
  position:relative;
  @include box-sizing(border-box);
  @include clearfix();

  width: 700px;
  margin: 0;
  border-bottom: 1px solid #D1D1D1;

  padding: 27px 0;

  .title {
    margin: 0;
    @include clearfix();
  }

  span.date {
    top: 8px;
    position:relative;
    float:right;
    font-size:15px;
    font-family: 'ProximaNova-Semibold', $text-fonts2;
    color: #CCCCCC;
    font-weight: 200;
  }

  .title > h2 {
    letter-spacing: 0;
    line-height: normal;

    a {
      float:left;
      display:block;

      font-size: 25px;
      font-family: 'ProximaNova-Semibold', $text-fonts2;
      font-weight: 200;
    }
  }

  .title p {
    float:left;
    clear:both;
    margin: 7px 0 0 0;
    text-align: left;
    
    color: #858585;
    font-size: 15px;
    line-height: normal;

    a {
      text-decoration: underline;
      font-size: 15px;
      &:hover  { color: #333; }
    }
  } // .title p


  .edit.button {
    position:relative;
    float:right;
    display:none;
    padding:7px 10px;
    margin:0 12px 0 0;
    text-transform:uppercase;
    font-size:11px;
    font-family:'Arial';
    z-index:20;
    @include opacity(0);
    @include transform-style("linear");
    @include transition-property("opacity");
    @include transition-duration(250ms);
    

    &.active { display:inline-block }
  }

  &:hover {
    .edit.button { @include opacity(1); }
  }

} // .datasets ul li



.datasets > ul > li {
  p {
    margin: 0 0 3px 0;
  }

  .tags {

    clear:both;
    float:left;
    margin: 7px 0 0 0;
    text-align:left;

    li a {
      padding: 3px 6px 1px 6px;
      margin: 0 0 10px 0;
    }

    h3 {
      font-weight: normal;
      line-height: 18px;
    }
  }
}


/* Hello media queries */


@media only screen and (max-width: 350px) {

  .datasets {
    float:none;
    display:block;
    width: 100%;
  }

  .datasets > ul > li {
    width: 100%;
  }

  .datasets > ul > li {
    padding: 17px 0;

    .title {
      & > a { font-size: 18px; float:left; @include text-overflow(); width: 100%; text-align: left; }
      span.date { top: 0; float:left; width:100%; margin: 5px 0 0 0; display:block; margin: 0 0 15px 0; text-align:left }
      p { margin: 5px 0 0 0; }
    }

    .tags { margin: 15px 0 0 0; }
  }
}

@media only screen and (min-width: 351px) and (max-width: 710px) {

  .datasets {
    float:none;
    display:block;
    width: 100%;
  }

  .datasets > ul > li { width: 100% }

  .datasets > ul > li {
    .title {
      h2 { float:left; display:block; width:100%; }
      & > a { @include text-overflow(); width: 100%; text-align:left; }
      .edit { position:absolute; top:30px; right:0; width:auto; }
      span.date { float: left; width:100%; display:block; margin: 0 0 15px 0; text-align:left; }
    }
  }
}

@media only screen and (min-width: 981px) and (max-width: 1035px) {

  .datasets {
    float: left;
    width: 100%;
    margin-right: -283px - 29px; /* The size of the fixed block. */

    & > ul { margin-right: 283px + 29px; }
    & > ul > li {
      @include box-sizing(border-box);
      width: 100%;
    }

    ul li .header {

      padding: 17px 15px;

      .tags {
        width: 400px;

        li { margin: 0 0 10px 0; }

      }
    }

  } // .datasets

}

@media only screen and (min-width: 711px) and (max-width: 980px) {
  .datasets {
    float:none;
    display:block;
    width: 100%;
  }
  .datasets > ul > li { width: 100% }
}