
/** 
 *  Styles for "Browse by tag" block
 */


@import "../common/vars";

.info .tags {

  margin: 0 0 40px 0;

  li  {
    padding: 17px 0;
    border-bottom: 1px solid #ddd;
    border-bottom: 1px solid rgba(#BBBBBB, .2);
    color: #BABABA;

    a { line-height:normal; }

    h3 {
      color: #BABABA;
      font-size: 15px;
      font-weight: normal;
    }


    .close {
      float: right;
      margin: -2px 3px 0 0;
    }

    &:first-child { padding-top: 0; }
    &:last-child  { border:none; }

    strong {
      color: #BABABA;
      font-size:13px;
      font-family: 'ProximaNova-Semibold', $text-fonts2;
      font-weight: 400;
      text-transform: uppercase;
    }

    a { font-size: 15px; }

  } // li

} // .info .tags