
/** 
 *  Default style for a tag within a list item
 */

@import "compass/css3/inline-block";
@import "compass/css3/border-radius";
@import "../common/vars";


.datasets > ul > li .tags,
.visualizations > ul > li .tags {

  li {
    @include inline-block();
    border:none;
    line-height:120%;
    *margin: 0 4px 0 0;
  }

  a {
    display: block;

    background: #FFD24D;
    background: rgba(#FFD24D, .50);

    color: #545454;
    font-family: 'ProximaNova-Bold', $text-fonts2;
    font-size:11px;
    text-transform: uppercase;
    text-decoration: none;

    @include border-radius(3px);

    &:hover {
      background: rgba(#FFD24D, .70);
      text-decoration:underline;
    }
  }

} // .tags