
/** 
 *  Public dashboard paginator styles
 */

@import "compass/css3/inline-block";
@import "compass/css3/border-radius";
@import "../common/vars";


.pagination {

  margin: 36px 0 60px 0;

  clear:both;
  overflow:hidden;
  position:relative;

  text-align: center;

  .prev {
    float: left;
    margin-right: -60px;
  }

  .next {
    float: right;
    margin-left: -60px;
  }

  ul {
    position:absolute;
    float:left;
    width: 100%;
    margin-right: 60px;
    margin-left: -60px;
    margin: 9px 0 0 0;
    z-index: 1;

    li {

      @include inline-block();

      a {
        display:block;
        width: 10px;
        height: 10px;
        background:#E2E2E2;
        @include border-radius(100px);

        &:hover  {
          background:#ADADAD;
        }

      }

      &.selected a {
        background:#ADADAD;
      }

    }
  } // ul

  .next { float: right; }

} // .pagination


.prev, .next {

  position:relative;

  @include inline-block();
  padding: 11px 13px;

  font-size:13px;
  font-family: 'ProximaNova-Semibold', $text-fonts2;
  font-weight:400;
  text-transform: uppercase;

  color:#fff;
  background: #397DB9;
  @include border-radius(3px);
  line-height:120%;

  z-index: 10;

  &:hover {
    text-decoration:underline;
    background: darken(#397DB9, 10%);
    color: #fff;
  }


} // .prev, .next



/* Hello media queries */

@media only screen and (min-width: 981px) and (max-width: 1035px) {
  .pagination { margin-right: 312px }
}

