
/** 
 *  Default styles for public dashboard view
 */

@import "compass/css3/inline-block";
@import "compass/css3/images";
@import "../common/mixins";
@import "../common/vars";

body {
  background: #fff;
  min-width: 100%;
}

body:after {
  display:none!Important;
  @include box-sizing(border-box);
  content: '';
  background: rgba(red, .8);
  color: #fff;
  padding: 7px;
  position:fixed;
  top: 0;
  left: 50%;
  width: 80px;
  margin-left: -40px;
  text-align:center;
  z-index: 1000;
  @include simple-transition(all);
  @include border-radius(0 0 3px 3px);
}

header, footer { display :block; } // IE<9

.content {
  @include background(image-url("layout/bkg.jpg") repeat 0 0);

  padding: 50px 0 0 0;

  &.empty {
    .inner {
      .datasets, .visualizations { width: 739px; }
      .info { margin-right: 0; }
    }
  }

  .inner{
    width: 1022px;
    margin: 0 auto;
    @include clearfix();
    @include box-sizing(border-box);
  }
}

.info {
  float:left;
  margin-right: 39px;
  width: 283px;
}

.empty_placeholder {
  @include inline-block();
  padding: 17px 30px;
  margin: 175px auto 0 auto;
  font-size: 21px;
  color: #CCCCCC;
  font-family: 'ProximaNova-Semibold', $text-fonts2;
  font-weight: 200;
  background: #F5F5F5;
  text-align:center;
  line-height: 125%;
}

header, footer { display: block; } // IE<9


/* Hello media queries */


@media only screen and (max-width: 350px) {

  body:after { content: 'small'; }

  .empty_placeholder {
    font-size: 18px;
    padding: 18px;
    margin: 5px auto 50px auto;
  }

  .info {
    float:none;
    display:block;
    width: 100%;
  }

  .content {
    padding-top: 30px;
    .inner { padding: 0 15px; width: 100%; }
  }

  .content {
    &.empty .inner {
      .datasets, .visualizations { width: 100%; }
      .info { margin-right: 0; }
    }
  }
}


@media only screen and (min-width: 351px) and (max-width: 710px) {
  body:after { content: 'medium'; }

  .empty_placeholder {
    margin: 15px auto 60px auto;
  }

  .info {
    float:none;
    display:block;
    width: 100%;
  }

  .content {
    padding-top: 30px;

    .inner {
      padding: 0 15px;
      width: 100%;
    }

    &.empty .inner {
      .datasets, .visualizations { width: 100%; }
      .info { margin-right: 0; }
    }
  }
}

@media only screen and (min-width: 981px) and (max-width: 1035px) {

  body:after { content: 'big 1'; }

  .content {
    padding-top: 30px;

    .inner { overflow:hidden; padding: 0 15px; width: 100%; }

    &.empty .inner {
      .datasets, .visualizations { width: 100%; }
      .info { margin-right: 0; }
    }
  }

  .info {
    float:left;
    margin-right: 0;
    width: 283px + 29px;
  }

  .empty_placeholder {
    margin-right: 283px + 29px;
  }
}

@media only screen and (min-width: 711px) and (max-width: 980px) {

  body:after { content: 'big'; }

  .content {

    padding-top: 30px;

    &.empty .inner {
      .datasets, .visualizations { margin: auto;; }
    }

  }

  .empty_placeholder {
    margin: 15px auto 60px auto;
  }

  .info {
    float:none;
    display:block;
    width: 100%;
  }

  .content .inner { padding: 0 15px; width: 100%; }

}


/* iPad portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  body:after { content: 'ipad portrait'; width: 160px; margin-left: -80px;  }

  .empty_placeholder {
    margin: 0 auto 50px auto;
  }

}

/* iPad landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

  body:after { content: 'ipad portrait'; width: 160px; margin-left: -80px;  }

  .content {
    padding: 35px 0 0 0;
    .inner { padding: 0 35px; width: 100%; }
  }

}


/* iPhone portrait */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) {

  body:after { content: 'iphone small portrait'; width: 160px; margin-left: -80px;  }

  .empty_placeholder {
    margin: 0 auto 50px auto;
    font-size: 16px;
    padding: 16px;
  }

  .info  ul.tags { display: none; }

}

/* iPhone landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) {

  body:after { content: 'iphone small landscape'; width: 200px; margin-left: -100px;  }

  .empty_placeholder {
    margin: 0 auto 50px auto;
    font-size: 16px;
    padding: 16px;
  }

  .info  ul.tags { display: none; }

}

