
/**
 *  Public user info styles
 *
 */

@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/inline-block";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "../common/mixins";
@import "../common/vars";


.user-info {

  $width: 283px;

  width: $width;
  margin: 0 0 45px 0;
  text-align:center;

  .avatar {
    display:block;
    position: relative;
    height: 128px;
    border: 1px solid rgba(#1D4879, .6);
    border-bottom: none;

    @include background(image-url("layout/avatar_bkg.png") repeat);
    @include border-radius(5px 5px 0 0);

    .circle {
      $width: 128px;

      clear:both;
      overflow:hidden;

      position:absolute;
      display:block;
      width: $width;
      height: $width;

      top: 46px;
      left: 50%;
      margin-left: -$width/2;

      background:#fff;
      @include border-radius(300px);
      @include box-shadow(0px 0px 0 4px rgba(#333, .2));
    }

  } // .avatar

  .separator {
    position:relative;
    width: 122px;
    height: 1px;
    padding: 22px 0 0 0;
    margin: 27px auto 0 auto;
    border-top: 1px solid #DBDBDB;
    background:transparent;
    @include opacity(1);
  }

  ul {
    clear:both;
    overflow:hidden;
    background:#fff;

    border: 1px solid #BBBBBB;
    @include border-radius(0 0 5px 5px);

    li {
      width: 140px;
      float:left;
      padding: 0;

      .count {
        padding: 25px 0;
        display: block;
      }

      @include box-sizing(border-box);

      text-align:center;
      color: #333333;
      text-transform: uppercase;

      &:first-child {
        border-right: 1px solid #BBBBBB;
      }

      strong {
        font-size:51px;
        display:block;
      }

      &, a, h2 {
        font: 400 11px/1 'ProximaNova-Semibold', $text-fonts2;
        letter-spacing: 0;
      }

      a:hover {
        text-decoration:none;
      }

    }

  } // ul

  .available-for-hire-banner {
    background: rgba(232, 250, 235, 1);
    padding: 10px 0;
    border: 1px solid #BBBBBB;
    border-bottom: none;
  }

  .details {

    padding: 65px 0 28px 0;
    background:#fff;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;

    h2  {
      margin: 0;
      color: #333333;
      font-size: 21px;
      font-family: 'ProximaNova-Semibold', $text-fonts2;
      font-weight: 400;
      line-height: 120%;
    }

    p {
      width: 205px;
      margin: 15px auto 0 auto;
      color: #B2B2B2;
    }

    .twitter {
      display:block;
      margin: 3px 0 0 0;
    }

    .website {
      @include inline-block();
      text-align:center;
    }

  } // .details

} // .user-info



/* Hello media queries */

@media only screen and (max-width: 350px) {

  .available-for-hire-banner,
  .user-info,
  .user-info .avatar,
  .user-info .details {
    width: 100%;
  }

  .user-info .details p { width: 80%; }

  .user-info ul {
    width: 100%;
    li { width: 50%; }
  }
}

@media only screen and (min-width: 351px) and (max-width: 710px) {

  .available-for-hire-banner,
  .user-info,
  .user-info .avatar,
  .user-info .details {
    width: 100%;
  }

  .user-info ul {
    width: 100%;
    li { width: 50%; }
  }

  .user-info .tags { margin-bottom: 10px; }
  .user-info .details p { width: 80%; }
}

@media only screen and (min-width: 711px) and (max-width: 980px) {

  .available-for-hire-banner,
  .user-info,
  .user-info .avatar,
  .user-info .details {
    width: 100%;
  }

  .user-info .details p { width: 80% }
  .user-info ul { width: 100% }
  .user-info ul li { width: 50% }
}
