<ul>
  <li>
    <p>
      <a href="<%= mapsUrl %>">Your maps</a>
    </p>
    <p>
      <a href="<%= datasetsUrl %>">Your datasets</a>
    </p>
  </li>
  <li>
    <p>
      <a href="<%= lockedDatasetsUrl %>">Your locked datasets</a>
    </p>
    <p>
      <a href="<%= lockedMapsUrl %>">Your lock maps</a>
    </p>
  </li>
</ul
