<div class="cartodb-popup dark v2">
  <a href="#close" class="cartodb-popup-close-button close">x</a>
  <div class="cartodb-popup-content-wrapper">
    <div class="cartodb-popup-content">
      {{#content.fields}}
      {{#title}}
      {{#alternative_name}}
      <h4>{{alternative_name}}</h4>
      {{/alternative_name}}
      {{^alternative_name}}
      <h4>{{name}}</h4>
      {{/alternative_name}}
      <p>{{=<% %>=}}{{<%={{ }}=%>{{{ name }}}{{=<% %>=}}}}<%={{ }}=%></p>
      {{/title}}
      {{^title}}
      <p>{{=<% %>=}}{{<%={{ }}=%>{{{ name }}}{{=<% %>=}}}}<%={{ }}=%></p>
      {{/title}}
      {{/content.fields}}
    </div>
  </div>
  <div class="cartodb-popup-tip-container"></div>
</div>
