<div class="cartodb-popup header blue v2">
  <a href="#close" class="cartodb-popup-close-button close">x</a>
  <div class="cartodb-popup-header">
    {{#content.fields.length}}
    {{#content.fields.0.title}}
    {{#content.fields.0.alternative_name}}
    <h4>{{content.fields.0.alternative_name}}</h4>
    {{/content.fields.0.alternative_name}}
    {{^content.fields.0.alternative_name}}
    <h4>{{content.fields.0.name}}</h4>
    {{/content.fields.0.alternative_name}}
    <h1>{{=<% %>=}}{{<%={{ }}=%>{{{ content.fields.0.name }}}{{=<% %>=}}}}<%={{ }}=%></h1>
    {{/content.fields.0.title}}
    {{^content.fields.0.title}}
    <h1>{{=<% %>=}}{{<%={{ }}=%>{{{ content.fields.0.name }}}{{=<% %>=}}}}<%={{ }}=%></h1>
    {{/content.fields.0.title}}
    <span class="separator"></span>
    {{/content.fields.length}}
  </div>
  <div class="cartodb-popup-content-wrapper">
    <div class="cartodb-popup-content">
      {{#content.fields}}
      {{#position}}
      {{#title}}
      {{#alternative_name}}
      <h4>{{alternative_name}}</h4>
      {{/alternative_name}}
      {{^alternative_name}}
      <h4>{{name}}</h4>
      {{/alternative_name}}
      <p>{{=<% %>=}}{{<%={{ }}=%>{{{ name }}}{{=<% %>=}}}}<%={{ }}=%></p>
      {{/title}}
      {{^title}}
      <p>{{=<% %>=}}{{<%={{ }}=%>{{{ name }}}{{=<% %>=}}}}<%={{ }}=%></p>
      {{/title}}
      {{/position}}
      {{/content.fields}}
    </div>
  </div>
  <div class="cartodb-popup-tip-container">
  </div>
</div>