<div class="cartodb-popup v2">
  <a href="#close" class="cartodb-popup-close-button close">x</a>
  <div class="cartodb-popup-content-wrapper">
    <div class="cartodb-popup-content">
    </div>
  </div>
  <div class="cartodb-popup-tip-container"></div>
</div>