<%-# @param form [ActionView::Helpers::FormBuilder] Current form -%>
<%-# @param text [String] Text for the button -%>
<%= button_tag(class: "CDB-Button CDB-Button--primary") do %>
    <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase"><%= text %></span>
<% end %>

