<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p>Hi!</p><br>
    <p>There is a new full access request for the Data Observatory.</p><br>
    <p>Customer name: <%= @user_name %></p>
    <p>Customer email: <a href="mailto:<%= @user_email %>"><%= @user_email %></a></p>
    <p>Dataset: <%= @dataset_id %></p>
    <p>VAMOS!</p>
  </td>
</tr>