<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p>Hi <%= @user_name %>,</p><br>
    <p>Thanks for requesting the <%= @dataset_name %> dataset (id: <%= @dataset_id %>).</p>
    <p>We are already working on it and we will get in touch with you shortly.</p><br>
    <p>Best regards,</p>
    <p>The CARTO team.</p>
  </td>
</tr>