<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p>Hi <%= @user_name %>,</p><br>
    <p>Thanks for requesting the following premium dataset from our Spatial Data Catalog:</p>
    <p>"<%= @dataset_name %>" from "<%= @provider_name %>"</p>
    <p>The team has received your request and will be in contact with you shortly to start the premium subscription process.</p><br>
    <p>Best regards,</p>
    <p>The CARTO team.</p>
  </td>
</tr>