
/**
 *  CartoDB2.0 theme dark
 */

/* INFOWINDOW */

div.cartodb-popup.dark {
  background:url('../img/dark.png') no-repeat -226px 0;
}

div.cartodb-popup.dark div.cartodb-popup-content-wrapper {
  background:url('../img/dark.png') repeat-y -452px 0;
}

div.cartodb-popup.dark div.cartodb-popup-tip-container {
  background:url('../img/dark.png') no-repeat 0 0;
}

div.cartodb-popup.dark a.cartodb-popup-close-button {
  background:url('../img/dark.png') no-repeat 0 -23px;
}

div.cartodb-popup.dark h4 {
  color:#666666;
}

div.cartodb-popup.dark p {
  color:#FFFFFF;
}


/* EMBED MAP */
div.header.dark {
  background:#333333;
}

div.header.dark h1 {
  color: #F7F7F7;
}

div.header.dark h1 a {
  color: #F7F7F7;
}

div.header.dark h1 a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

div.header.dark p {
  margin-top:5px;
  font-weight: normal;
  font-size: 13px;
  color: #ABABAB;
}

div.dark#zoom {
  background:#333333;
}

div.dark#zoom a {
  color: #ABABAB;
}
div.dark#zoom a.zoom_in {
  border-bottom: 1px solid #BCBCBC;
}
div.dark#zoom a:hover {
  cursor: pointer;
  color: #F1F1F1;
}
div#zoom a.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

div#zoom a.disabled:hover {
  cursor: default;
  color: #999999;
}
/**
 *  CartoDB2.0 Theme with header (blue)
 */

/* INFOWINDOW */
div.cartodb-popup.header {
  padding:0;
  background:none;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  -o-box-shadow:none;
  border-bottom:none;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -o-border-radius:0;
}

div.cartodb-popup.header div.cartodb-popup-header {
  position:relative;
  width:188px;
  height:auto;
  max-height:62px;
  overflow:hidden;
  padding:17px 19px 17px 19px;
  background:url('../img/headers.png') no-repeat 0 0;
}

div.cartodb-popup.header div.cartodb-popup-header h4 {
  color:#1F4C7F;
}

div.cartodb-popup.header div.cartodb-popup-header h1 {
  margin:0;
  font:bold 21px "Helvetica Neue", "Helvetica", Arial;
  color:#FFFFFF;
  line-height:normal;
}

div.cartodb-popup.header div.cartodb-popup-header span.separator {
  position:absolute;
  bottom:0;
  left:4px;
  right:4px;
  height:1px;
  background:#225386;
}

div.cartodb-popup.header div.cartodb-popup-content {
  max-height:150px;
}

div.cartodb-popup.header a.cartodb-popup-close-button {
  background:url('../img/headers.png') no-repeat -226px 0;
}

div.cartodb-popup.header a.cartodb-popup-close-button:hover {
  background-position:-226px -26px;
}


/* EMBED MAP */
div.header.blue h1 {
  color: #1F4C7F;
}

div.header.blue h1 a {
  color: #1F4C7F;
}

div.header.blue h1 a:hover {
  color: #225386;
  text-decoration: underline;
}
/**
 *  CartoDB2.0 Infowindow header theme green
 */

/* INFOWINDOW */
div.cartodb-popup.header.green div.cartodb-popup-header {
  background:url('../img/headers.png') no-repeat -252px 0;
}

div.cartodb-popup.header.green div.cartodb-popup-header h4 {
  color:#00916D;
}

div.cartodb-popup.header.green div.cartodb-popup-header span.separator {
  background:#008E6A;
}

div.cartodb-popup.header.green a.cartodb-popup-close-button {
  background:url('../img/headers.png') no-repeat -478px 0;
}

div.cartodb-popup.header.green a.cartodb-popup-close-button:hover {
  background-position:-478px -26px;
}

/* EMBED MAP */
div.header.green h1 {
  color: #00916D;
}

div.header.green h1 a {
  color: #00916D;
}

div.header.green h1 a:hover {
  color: #008E6A;
  text-decoration: underline;
}
/**
 *  CartoDB2.0 Infowindow header theme orange
 */

/* INFOWINDOW */
div.cartodb-popup.header.orange div.cartodb-popup-header {
  background:url('../img/headers.png') no-repeat -756px 0;
}

div.cartodb-popup.header.orange div.cartodb-popup-header h4 {
  color:#CC2929;
}

div.cartodb-popup.header.orange div.cartodb-popup-header span.separator {
  background:#CC2929;
}

div.cartodb-popup.header.orange a.cartodb-popup-close-button {
  background:url('../img/headers.png') no-repeat -982px 0;
}

div.cartodb-popup.header.orange a.cartodb-popup-close-button:hover {
  background-position:-982px -26px;
}

/* EMBED MAP */
div.header.orange h1 {
  color: #CC2929;
}

div.header.orange h1 a {
  color: #CC2929;
}

div.header.orange h1 a:hover {
  color: #CC2929;
  text-decoration: underline;
}
/**
 *  CartoDB2.0 Infowindow header theme yellow
 */

/* INFOWINDOW */
div.cartodb-popup.header.yellow div.cartodb-popup-header {
  background:url('../img/headers.png') no-repeat -504px 0;
}

div.cartodb-popup.header.yellow div.cartodb-popup-header h4 {
  color:#D8832A;
}

div.cartodb-popup.header.yellow div.cartodb-popup-header span.separator {
  background:#CC7A29;
}

div.cartodb-popup.header.yellow a.cartodb-popup-close-button {
  background:url('../img/headers.png') no-repeat -730px 0;
}

div.cartodb-popup.header.yellow a.cartodb-popup-close-button:hover {
  background-position:-730px -26px;
}

/* EMBED MAP */
div.header.yellow h1 {
  color: #D8832A;
}

div.header.yellow h1 a {
  color: #D8832A;
}

div.header.yellow h1 a:hover {
  color: #CC7A29;
  text-decoration: underline;
}
/**
 *  CartoDB2.0 theme (DEFAULT)
 */

  /* INFOWINDOW */
  div.infowindow {
    position: absolute;
    z-index:2;
  }

  div.cartodb-popup {
    position:relative;
    width:226px;
    height:auto;
    padding:7px 0 0 0;
    margin:0;
    background:url('../img/light.png') no-repeat -226px 0;
  }

  div.cartodb-popup-content-wrapper {
    width:197px;
    padding:12px 12px 12px 19px;
    background:url('../img/light.png') repeat-y -452px 0;
  }

  div.cartodb-popup div.cartodb-popup-content {
    display:block;
    width:100%;
    min-height:5px;
    height:auto;
    max-height:175px;
    margin: 0;
    padding:0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  div.cartodb-popup-tip-container {
    width:226px;
    height:20px;
    background:url('../img/light.png') no-repeat 0 0;
  }

  div.cartodb-popup a.cartodb-popup-close-button {
    position:absolute;
    top:-9px;
    right:-9px;
    width:26px;
    height:26px;
    padding:0;
    background:url('../img/light.png') no-repeat 0 -23px;
    text-indent:-9999px;
    font-size:0;
    line-height:0;
    text-transform:uppercase;
    z-index:3;
  }

  div.cartodb-popup h4 {
    margin:0;
    padding:0;
    font:bold 11px "Helvetica Neue","Helvetica",Arial;
    color:#CCCCCC;
    text-transform:uppercase;
  }

  div.cartodb-popup p {
    margin:0;
    padding:0;
    font:normal 13px "Helvetica",Arial;
    color:#333333;
    padding:2px 0 7px;
  }

  div.cartodb-popup p.empty, div.cartodb-popup h1.empty  {
    font-style:italic!important;
    color:#999999;
  }


  /* EMBED CONTENT */
  div.header {
    position: relative;
    display: block;
    background: #FFF;
    border: none;
    border-bottom: 1px solid #999999;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin:0;
    padding:20px;
    -moz-border-radius-topleft: 1px;
    -webkit-border-top-left-radius: 1px;
    border-top-left-radius: 1px;
    -moz-border-radius-topright: 1px;
    -webkit-border-top-right-radius: 1px;
    border-top-right-radius: 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px 4px;
    -webkit-transform: translateZ(10px);
    -moz-transform: translateZ(10px);
    -ms-transform: translateZ(10px);
    -o-transform: translateZ(10px);
    transform: translateZ(10px);
    z-index: 3;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
  }

  div.header *, div.cartodb-popup * {
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
  }

  div.header h1 {
    padding:0;
    margin:0;
    font-weight: bold;
    font-size: 17px;
    color: #397DBA;
    line-height:normal;
  }

  div.header h1 a {
    font-weight: bold;
    font-size: 17px;
    color: #397DBA;
    text-decoration: none;
  }

  div.header h1 a:hover {
    text-decoration: underline;
  }

  div.header > p {
    margin:5px 0 0 0;
    padding:0;
    font-weight: normal;
    font-size: 13px;
    color: #999999;
  }

  div.no_description span.cartodb_map_controls {top: 10px; }


  div.header div.social {
    position:absolute;
    top:50%;
    right:20px;
    margin:-13px 0 0 0;
  }

  div.header div.social a {
    display:inline-block;
    zoom: 1;
    *display: inline;
    _height: 26px;
    height:26px;
    width:26px;
    display: -moz-inline-stack;
    vertical-align: top;
    text-indent: -9999px;
    *text-indent:0px;
    font-size: 0;
    line-height: 0;
    text-transform: uppercase;
    background:url('../img/other.png') no-repeat 0 0;
  }

  div.header div.social a.twitter {
    margin-left:3px;
    background:url('../img/other.png') no-repeat -26px 0;
  }


  div#zoom {
    position: relative;
    float:left;
    margin: 20px 0 0 20px;
    width: 29px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    z-index: 5;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
  }
  div#zoom a {
    display: block;
    width: 29px;
    padding: 4px 0;
    font: bold 20px "Arial";
    color: #999999;
    text-align: center;
    line-height: normal;
    text-decoration: none;
  }
  div#zoom a.zoom_in {
    border-bottom: 1px solid rgba(153, 153, 153, 0.25);
  }
  div#zoom a.zoom_out {
    padding: 0 0 2px;
    line-height: 28px;
  }
  div#zoom a:hover {
    cursor: pointer;
    color: #666666;
  }
  div#zoom a.disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
  }

  div#zoom a.disabled:hover {
    cursor: default;
    color: #999999;
  }

  div.search_box {
    position: relative;
    display:block;
    float:right;
    margin: 20px 20px 0 0;
    width: 142px;
    height:29px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    z-index: 5;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
    z-index:5;
  }

  div.search_box input.text {
    position: absolute;
    top:6px;
    left:30px;
    width:103px;
    padding:0;
    margin:0;
    line-height:17px;
    border:none;
    background:none;
    border-bottom:1px dotted #CCCCCC;
    font:normal 14px Arial;
    color:#999999;
    z-index:2;
  }

  div.search_box input.text:focus {
    outline:none;
    border-color:#999999;
    color:#666666;
  }

  div.search_box input.submit {
    position: absolute;
    left:8px;
    top:8px;
    width:12px;
    height:12px;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    text-transform: uppercase;
    border:none;
    background: url('../img/other.png') no-repeat -56px 0;
  }

  div.search_box input.submit:hover {
    cursor:pointer;
  }


  /* FOOTER EDIT BUTTONS */

  div.cartodb-edit-buttons {
    border-top:1px solid rgba(204,204,204,0.5);
    display:block;
    width:188px;
    padding:11px 0 6px;
    margin-top:10px;
  }

  div.cartodb-edit-buttons a.button.grey.small {
    margin-left: 5px;
    font-size: 13px;
    padding: 6px 8px;
  }

  div.cartodb-edit-buttons .button:first-child {
    margin-left:0;
  }

  div.cartodb-edit-buttons .cartodb_id {
    display:inline-block;
    *display:inline;
    vertical-align:top;
    zoom:1;
    color: #999;
    font-size: 13px;
    margin-top:8px;
  }
