/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 */
div.cartodb-popup .jspContainer {overflow: hidden; position: relative; outline: none;}
div.cartodb-popup .jspContainer * {outline: none;}
div.cartodb-popup .jspPane {position: absolute; padding:4px 0 0 0!important; z-index:1;}
div.cartodb-popup .jspVerticalBar {position: absolute; top: 0; right: 0; width: 6px; height: 100%; background: none; z-index:10;}
div.cartodb-popup .jspHorizontalBar {position: absolute; bottom: 0; left: 0; width: 100%; height: 6px; background: none;}
div.cartodb-popup .jspVerticalBar *,
div.cartodb-popup .jspHorizontalBar * {margin: 0; padding: 0;}
div.cartodb-popup .jspCap {display: none;}
div.cartodb-popup .jspHorizontalBar .jspCap {float: left;}
div.cartodb-popup .jspTrack {position: relative; cursor: pointer; background: none;}
div.cartodb-popup .jspDrag {position: relative; top: 0; left: 0; cursor: pointer; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; background: #999999; background: rgba(0,0,0,0.16); }
div.cartodb-popup .jspDrag:hover {background: #666666; background: rgba(0,0,0,0.5); cursor: pointer;}
div.cartodb-popup .jspHorizontalBar .jspTrack,
div.cartodb-popup .jspHorizontalBar .jspDrag {float: left; height: 100%;}
div.cartodb-popup .jspArrow {background: #50506d; text-indent: -20000px; display: block; cursor: pointer;}
div.cartodb-popup .jspArrow.jspDisabled {cursor: default; background: #80808d;}
div.cartodb-popup .jspVerticalBar .jspArrow {height: 16px;}
div.cartodb-popup .jspHorizontalBar .jspArrow {width: 16px; float: left; height: 100%;}
div.cartodb-popup .jspVerticalBar .jspArrow:focus {outline: none;}
div.cartodb-popup .jspCorner {background: #eeeef4; float: left; height: 100%;}
* html div.cartodb-popup .jspCorner {margin: 0 -3px 0 0;}