
/**
 *  CartoDB2.0 theme dark
 */

/* INFOWINDOW */
div.cartodb-popup.dark .jspContainer:after {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
  background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
  background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
  background: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
}

div.cartodb-popup.dark .jspContainer:before {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
  background: -moz-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
  background: -o-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
  background: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
}

div.cartodb-popup.dark {
  background:url('../img/dark.png') no-repeat -226px 0;
}

div.cartodb-popup.dark div.cartodb-popup-content-wrapper {
  background:url('../img/dark.png') repeat-y -452px 0;
}

div.cartodb-popup.dark div.cartodb-popup-tip-container {
  background:url('../img/dark.png') no-repeat 0 0;
}

div.cartodb-popup.dark a.cartodb-popup-close-button {
  background:url('../img/dark.png') no-repeat 0 -23px;
}

div.cartodb-popup.dark h4 {
  color:#666666;
}

div.cartodb-popup.dark p {
  color:#FFFFFF;
}

div.cartodb-popup.dark p.empty {
  font-style:italic;
  color:#AAA;
}

div.cartodb-popup.dark .jspDrag
{
  background: #AAAAAA;
  background: rgba(255,255,255,0.5);
}

div.cartodb-popup.dark .jspDrag:hover
{
  background: #DEDEDE;
  background: rgba(255,255,255,0.8);
}

/* EMBED MAP */
div.header.dark {
  background:#333333;
}

div.header.dark h1 {
  color: #F7F7F7;
}

div.header.dark h1 a {
  color: #F7F7F7;
}

div.header.dark h1 a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

div.header.dark p {
  margin-top:5px;
  font-weight: normal;
  font-size: 13px;
  color: #ABABAB;
}

div.dark#zoom {
  background:#333333;
}

div.dark#zoom a {
  color: #ABABAB;
}
div.dark#zoom a.zoom_in {
  border-bottom: 1px solid #BCBCBC;
}
div.dark#zoom a:hover {
  cursor: pointer;
  color: #F1F1F1;
}
div.dark#zoom a.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

div.dark#zoom a.disabled:hover {
  cursor: default;
  color: #999999;
}