/**
 *  CartoDB2.0 Infowindow header theme with-image
 */

/* INFOWINDOW */
div.cartodb-popup.header.with-image div.cartodb-popup-header {
  position:relative;

  background:url('../img/headers.png') no-repeat -1008px 0;
  height:138px;
  max-height:104px;
}

div.cartodb-popup.header.with-image div.cartodb-popup-header .cover {
  display:block;
  position:absolute;
  overflow:hidden;
  width: 218px;
  height:135px;
  top: 4px;
  left: 4px;
  border-radius: 4px 4px 0 0;
}

div.cartodb-popup.header.with-image div.cartodb-popup-header .cover .shadow {
  position:absolute;
  width: 218px;
  height:55px;
  bottom: 0;
  left: 0;
  background:url('../img/shadow.png') no-repeat;
  z-index: 100;
}

div.cartodb-popup.header.with-image div.cartodb-popup-header .cover #spinner {
  position:absolute;
  top: 67px;
  left: 109px;
}

div.cartodb-popup.header.with-image div.cartodb-popup-header .cover img {
  position:absolute;
  border-radius: 4px 4px 0 0;
  display:none;
}

div.cartodb-popup.header.with-image div.cartodb-popup-header .image_not_found {
  position:absolute;
  top: 15px;
  left: 15px;
  width: 200px;
  display:none;
}

div.cartodb-popup.header.with-image div.cartodb-popup-header .image_not_found a {
  display:-moz-inline-stack;display:inline-block;vertical-align:top;*vertical-align:auto;zoom:1;*display:inline;
  margin: 3px 0 0 -2px;
  color: #888888;
  font-size:13px;
  font-family: "Helvetica", "Helvetica Neue", Arial, sans-serif;
  text-decoration: underline;
}

div.cartodb-popup.header.with-image div.cartodb-popup-header .image_not_found a:hover {
  color: #888888;
  text-decoration:underline;
}

div.cartodb-popup.header.with-image div.cartodb-popup-header .cover .image_not_found i {
  display:-moz-inline-stack;display:inline-block;vertical-align:top;*vertical-align:auto;zoom:1;*display:inline;
  width: 31px;
  height: 22px;
  background:transparent url('../img/image_not_found.png');
}

div.cartodb-popup.header.with-image div.cartodb-popup-header h1 {
  position:absolute;
  bottom: 13px;
  left: 18px;
  width: 188px;
  z-index: 150;
}

div.cartodb-popup.header.with-image div.cartodb-popup-header h4 {
  color:#CCC;
}

div.cartodb-popup.header.with-image div.cartodb-popup-header span.separator {
  background:#CCC;
}

div.cartodb-popup.header.with-image a.cartodb-popup-close-button {
  background:url('../img/headers.png') no-repeat -1235px -40px;
}

div.cartodb-popup.header.with-image a.cartodb-popup-close-button:hover {
  background-position:-1235px -66px;
}

div.cartodb-popup.header.with-image .cartodb-popup-header h1 {
  display:none;
}

div.cartodb-popup.header.with-image .cartodb-popup-header h1.order1 {
  display:block;
}

div.cartodb-popup.header.with-image .cartodb-popup-content-wrapper .order1 {
  display:none;
}

/* EMBED MAP */
div.header.with-image h1 {
  color: #CCC;
  z-index: 100;
}

div.header.with-image h1 a {
  color: #CCC;
}

div.header.with-image h1 a:hover {
  color: #333;
  text-decoration: underline;
}

