<div class="u-iBlock CDB-Text CDB-Size-medium RadioButton js-interval<%- interval === 0 ? ' u-alertTextColor' : '' %>">
  <input
    id="<%- id %>"
    type="radio"
    class="CDB-Radio js-input"
    <% if (disabled) { %> disabled <% } %> 
    <% if (checked) { %> checked <% } %>
  />
  <span class="u-iBlock CDB-Radio-face"></span>
  <label for="<%- id %>" class="u-iBlock u-lSpace"><%- name %></label>
</div>

