<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="CDB-IconFont CDB-IconFont-alarm"></i>
  </div>
  <h4 class="CDB-Text CDB-Size-large u-mainTextColor u-bSpace--m u-tSpace-xl">Sync dataset options</h4>
  <p class="CDB-Text CDB-Size-medium u-altTextColor u-ellipsis Dialog-headerText--centered Dialog-headerText--small" title="<%- url %>">
    Your dataset is in sync with a <%- service %> file: <br/><%- url %>
  </p>
</div>
<div class="CDB-Fieldset CDB-Text CDB-Size-medium Dialog-body Dialog-body--small">
  <p class="CDB-Legend CDB-Text is-semibold CDB-Size-medium u-rSpace--m">Sync my data</p>
  <ul class="CDB-Size-medium CDB-Text CDB-Fieldset-block DatasetSelected-syncOptionsList DatasetSelected-syncOptionsList--syncView js-intervals">
  </ul>
</div>

<div class="Dialog-footer Dialog-footer--small Dialog-footer Dialog-footer--simple u-inner">
  <button class="CDB-Button CDB-Button--primary ok">
    <span class="CDB-Button-Text CDB-Text u-upperCase is-semibold CDB-Size-small">Save settings</span>
  </button>
</div>
