<% content_for(:title) { "Thanks, we have received your request" } %>

<% content_for(:subtitle) { "We are still on private beta and is going to take us some time to approve your request" } %>


<% content_for :body do %>
<p style="margin-top:0; margin-bottom:0; margin-left:0; margin-right:0, padding-right:0; padding-top:0; padding-bottom:0; padding-left:0; font:normal 17px Arial; color:#333333; width:566px"><b>We will email you back</b> once we are ready,</p>
<br/>
<p style="margin-top:0; margin-bottom:0; margin-left:0; margin-right:0, padding-right:0; padding-top:0; padding-bottom:0; padding-left:0; font:normal 13px Arial; color:#5E5E5E; width:566px">CartoDB is a geospatial database in the cloud that allows you to develop location aware applications quickly and easily. If you feel you  really desperately need your invitation, <a style="color:#5E5E5E" href="mailto:wadus@cartodb.com"><u>reply to this email</u></a> and explain us why.</p>
<br/>
<% end %>