<% content_for(:title) { "You are invited to CartoDB" } %>

<% content_for(:subtitle) { "Develop location aware applications quickly and easily" } %>

<% content_for :body do %>
<p><font face="arial" size="3" color="#333333"><b>We are happy</b></font><font face="arial" size="3" color="#5E5E5E"> to invite you to use our</font> <font face="arial" size="3" color="#333333"><b>brand new service</b></font></p>
<br/>
<p><font face="arial" size="2" color="#5E5E5E">CartoDB is a geospatial database in the cloud that allows you to develop location aware applications quickly and easily. <font face="arial" size="2" color="#333333"><b>We are still developing it</b></font> but we want to start receiving feedback from <font face="arial" size="2" color="#333333"><b>friends and developers we like</b></font>.</font></p>
<br/>
<p><font face="arial" size="2" color="#5E5E5E">Remember we are still in beta or alpha or whatever you want to call it, so bear in mind there might be issues, please report anything you want to <a href="mailto:feedback@cartodb.com"><font face="arial" size="2" color="#333333"><b>feedback@cartodb.com</b></font></a>.</font></p>
<br/>
<p><font face="arial" size="2" color="#5E5E5E">Thanks!</font></p>
<br/>
<% end %>

<% content_for(:button) { "Activate your account" } %>