<% content_for(:title) { "Thanks, we have received your request" } %>

<% content_for(:subtitle) { "We are still on private beta and is going to take us some time to approve your request" } %>

<% content_for :body do %>
<p><font face="arial" size="3" color="#333333"><b>We will email you back</b></font><font face="arial" size="3" color="#5E5E5E"> once we are ready,</font></p>
<br/>
<p><font face="arial" size="2" color="#5E5E5E">CartoDB is a geospatial database in the cloud that allows you to develop location aware applications quickly and easily. If you feel you  really desperately need your invitation, <a href="mailto:wadus@cartodb.com"><font face="arial" size="2" color="#5E5E5E"><u>reply to this email</u></font></a> and explain us why.</font></p>
<br/>
<% end %>
