<% content_for(:title) { "You are invited to CartoDB" } %>

<% content_for(:subtitle) { "Develop location aware applications quickly and easily" } %>

<% content_for :body do %>
<p style="margin-top:0; margin-bottom:0; margin-left:0; margin-right:0, padding-right:0; padding-top:0; padding-bottom:0; padding-left:0; font:normal 17px Arial; color:#333333"><b>We are happy</b> to invite you to use our <b>brand new service</b></p>
<br/>
<p style="margin-top:0; margin-bottom:0; margin-left:0; margin-right:0, padding-right:0; padding-top:0; padding-bottom:0; padding-left:0; font:normal 13px Arial; color:#5E5E5E; width:566px">CartoDB is a geospatial database in the cloud that allows you to develop location aware applications quickly and easily. <b>We are still developing it</b> but we want to start receiving feedback from <b>friends and developers we like</b>.</p>
<br/>
<p style="margin-top:0; margin-bottom:0; margin-left:0; margin-right:0, padding-right:0; padding-top:0; padding-bottom:0; padding-left:0; font:normal 13px Arial; color:#5E5E5E; width:566px">Remember we are still in beta or alpha or whatever you want to call it, so bear in mind there might be issues, please report anything you want to <a style="color:#5e5e5e" href="mailto:feedback@cartodb.com"><b>feedback@cartodb.com</b></a>.</p>
<br/>
<p style="margin-top:0; margin-bottom:0; margin-left:0; margin-right:0, padding-right:0; padding-top:0; padding-bottom:0; padding-left:0; font:normal 13px Arial; color:#5E5E5E; width:566px">Thanks!</p>
<br/>
<% end %>

<% content_for(:button) { "Activate your account" } %>