<% content_for(:header_color) {"3B7EBB"} %>
<% content_for(:header_img) {"top.png"} %>

<% content_for :body do %>

  <p style="text-align: center;">You're just one step away from enjoying your <strong><%= @organization.name %> CartoDB account</strong>!</p>

<table border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
  <tr>
    <td align="center" valign="middle">
      <table border="0" cellpadding="0" cellspacing="0" style="background-color:#407CC0;border-collapse:separate!important;border-radius:23px">
        <tbody>
          <tr>
            <td align="center" valign="middle" style="color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:100%;padding-top:15px;padding-right:31px;padding-bottom:13px;padding-left:31px">
              <a href="<%= @link %>" style="color:#ffffff;text-decoration:none" target="_blank">Click this link to activate your account</a>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td style="height: 20px;">&nbsp;</td>
  </tr>
</table>

<% end %>
