<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p>If you didn’t request to change your password please ignore this email.</p>
    <p><%= link_to 'Click here', @password_reset_link, :style=>"color: #1181FB;" %> to reset your password and define a new one.</p>
    <p>Happy Mapping!</p>
    <p>The <%= @app_name %> team.</p>
  </td>
</tr>
