<% content_for(:subject) { @subject } %>

<% content_for :body do %>
  <tr>
    <td align="center" style="padding: 40px 25px 0 25px; font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333;"><%= @subject %></td>
  </tr>

  <tr>
    <td align="center" style="padding: 20px 25px 0 25px; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;">Your colleague <%= @visualization.user.username %> has shared a new map called <strong><%= @visualization.name %></strong> with you.</td>
  </tr>

  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
        <tr>
          <td align="center" style="padding: 25px 25px 40px 25px;">
            <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
              <tr>
                <td align="center"><a href="<%= @link %>" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #3AA9E3; border-top: 15px solid #3AA9E3; border-bottom: 15px solid #3AA9E3; border-left: 25px solid #3AA9E3; border-right: 25px solid #3AA9E3; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;" class="mobile-button">Go to the map</a></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<% end %>
