<% content_for(:subject) { @subject } %>

<% content_for :body do %>
  <%= render :partial => 'user_mailer/messages/table_liked', :layout => 'layouts/mailer/grey_layout' %>

  <tr>
    <td align="left" style="background:url('<%= @preview_image %>'); width: 100% !important; height: 200px;">
    </td>
  </tr>

  <tr>
    <td align="left" style="font-size: 16px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083; padding-top: 80px;">
      <p><a href="<%= @link %>" target="_blank" style="color: #1785FB">View your dataset</a></p>
    </td>
  </tr>
<% end %>
