<% content_for(:header_color) {"FF7373"} %>
<% content_for(:header_img) {"top-red.png"} %>

<% content_for :body do %>

<p style="text-align: center;">Your colleague <%= @table_visualization_owner_name %> has stopped sharing the table <strong><%= @table_visualization_name %></strong> with you so it may disappear from your dashboard and from the visualizations where it was being used.</p>

<% end %>
