<% content_for(:header_color) {"FF7373"} %>
<% content_for(:header_img) {"top-red.png"} %>

<% content_for :body do %>

<p style="text-align: center;">Your colleague <%= @table_visualization.user.username %> has stopped sharing the table <strong><%= @table_visualization.name %></strong> with you so it may dissapear from your dashboard and from the visualizations where it was being used.</p>

<% end %>
