<%- message = "<p style='margin-bottom: 0;'>Your colleague #{@table_visualization_owner_name} has stopped sharing the dataset <strong>#{@table_visualization_name}</strong> with you so it may disappear from your dashboard and from the maps where it was being used.</p>" %>

<%= render partial: 'mailer_modules/warning_message', locals: { message: message } %>
