<% content_for(:subject) { @subject } %>

<% content_for :body do %>
  <tr>
    <td align="left">
      <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse: separate !important;">
        <tr>
          <td style="line-height: 0px; font-size: 0; height: 20px;"><img src="http://carto-email-assets.s3.amazonaws.com/top-left-orange-corner.png"></td>
          <td style="line-height: 0px; font-size: 0; height: 20px; background-color: #FB7B23;"></td>
          <td style="line-height: 0px; font-size: 0; height: 20px;"><img src="http://carto-email-assets.s3.amazonaws.com/top-right-orange-corner.png"></td>
        </tr>

        <tr>
          <td width="16px" style="background-color: #FB7B23;"></td>
          <td style="background-color: #FB7B23; font-size: 16px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #ffffff;">
            <img alt="Like" src="http://carto-email-assets.s3.amazonaws.com/exclamation.png" width="44" height="44" style="display: block; padding-bottom: 36px;" border="0">
            <p style="margin-bottom: 0;">Your colleague <%= @table_visualization_owner_name %> has stopped sharing the dataset <strong><%= @table_visualization_name %></strong> with you so it may disappear from your dashboard and from the maps where it was being used.</p>
          </td>
          <td width="16px" style="background-color: #FB7B23;"></td>
        </tr>

        <tr>
          <td style="line-height: 0px; font-size: 0; height: 20px;"><img src="http://carto-email-assets.s3.amazonaws.com/bottom-left-orange-corner.png"></td>
          <td style="line-height: 0px; font-size: 0; height: 20px; background-color: #FB7B23;"></td>
          <td style="line-height: 0px; font-size: 0; height: 20px;"><img src="http://carto-email-assets.s3.amazonaws.com/bottom-right-orange-corner.png"></td>
        </tr>
      </table>
    </td>
  </tr>
<% end %>
