<%- message = "<p style='margin-bottom: 0;'>t('user.utable.colleague')#{@table_visualization_owner_name}t('user.utable.stopped')<strong>#{@table_visualization_name}</strong>t('user.utable.with')</p>" %>

<%= render partial: 'mailer_modules/warning_message', locals: { message: message } %>
