<% if (image_property) { %>
  <a
    class="image-picker"
    <% if (image_property) { %>
      data-title="Set your own<br/>icon/image"
    <% } %>

    href="#/image-picker">
      <span class="handle"></span>
  </a>
<% } %>
<a
  class="color-picker <% if (!image_property) { %>expanded<% } %>"
  <% if (!image_value || image_property.indexOf("http") == -1) { %>
    style="background:<%- color %>"
  <% } %>
  href="#/color-picker"
>
  <span class="handle">
    <b class="triangle"></b>
  </span>
</a>
