<% if(isGeoreferenced != true && isGeoreferenced != false) { %>
  <div class="loader">
    <p class='loading'><img src="<%- cdb.config.get('assets_url') %>/images/layout/loader.gif"/>Checking georeferences</p>
  </div>
<% } else { %>
  <nav>
    <% _.each( formats, function( format ){ %>
      <a data-format="<%- format.format %>" class="button grey export<% if (isGeoreferenced == false && format.geomRequired == true) { %> disabled <% }; %>">
      <%- format.format %>
     </a>
    <% }); %>
  </nav>
  <div class="
    <% if(isGeoreferenced == true) { %> hidden <% } %>
    geospatial">
    <p>To download any geospatial format like SHP, KML or GeoJSON don't forget to select the_geom on your query.</p>
  </div>
  <div class="hidden generating">
    <p>We are preparing your download. Depending on the size, it could take some time.</p>
  </div>
  <div class="error hidden">
  </div>

  <form class="hack" method="POST" action="<%- url %>">
    <input type="hidden" class="filename" name="filename" />
    <input type="hidden" class="q" name="q" />
    <input type="hidden" class="format" name="format" />
    <input type="hidden" class="api api_key" name="api_key" />
    <input type="hidden" class="skipfields" name="skipfields" disabled="disabled" value="" />
    <input type="hidden" class="dp" name="dp" value="4" disabled="disabled" />
  </form>
<% } %>
