<span class="loader left">loader</span>
<a href="/tables/<%= id %>" class="name"><%= name %></a>
<span class="status <%= privacy.toLowerCase() %>"><%= privacy.toUpperCase() %></span>
<a href="#/make-public" class="right button grey smaller make_public">make public</a>