<div class="data">
  <p>Sync my data</p>
  <div class="period"></div>
</div>
<% if (period == "Custom") { %>
  <div class="custom">
    <p>Each</p>
    <div class="day"></div>
    <p>days at</p>
    <input type="text" value="00:00"/>
  </div>
<% } %>