<div class="VideoContent">

  <ul class="VideoControls">
    <li><a href="#" class="CDB-Text Button toggle js-toggle"></a></li>
    <li><a href="#" class="CDB-Text Button js-close"><span class="CDB-Size-small">Close</span></a></li>
  </ul>

  <iframe class="VideoPlayer-videoIframe"
    src="//player.vimeo.com/video/<%- id %>?api=1&title=0&byline=0&portrait=0"></iframe>
</div>