<div class="ImportItem-text is-long">
  <% if (isUpgradeable) { %>
    In a hurry? <a href="<%= upgradeUrl %>">Upgrade your account</a> to import more files at a time
  <% } else { %>
    Unfortunally you can import up to <%= importQuota %> at the same time
  <% } %>
</div>