<div class="BackgroundImporter-header">
  <div class="BackgroundImporter-headerBadge">
    <i class="iconFont iconFont-Cloud BackgroundImporter-headerBadgeIcon"></i>
  </div>
  <h3 class="BackgroundImporter-headerTitle">Importing files...</h3>
  <button class="Button BackgroundImporter-headerButton js-hide">hide</button>  
</div>
<div class="BackgroundImporter-body">
  <ul class="BackgroundImporter-list"></ul>
</div>