@import "../../../variables/mixins";
@import "../../../variables/colors";
@import "../../../variables/sizes";

// Import twitter view styles

.ImportTwitterPanel {}
// Twitter categories
.TwitterCategory .Form-inputIcon {
  top: 8px;
  font-size: 20px;
}
.TwitterCategory .Form-inputIcon.is-highlighted { color: #6F9FD0 }
.TwitterCategory {
  height: 0;
  @include opacity(0);
  @include transition(all, 250ms, linear);
  overflow: hidden;
}
.TwitterCategory.enabled {
  height:60px;
  @include opacity(1);
}
// Datepicker
.DatePicker-info {
  max-width: 140px!important;
  line-height: 20px!important;
}
.Form-rowInfoText.DatePicker-infoText {
  font-size: $sFontSize-smallUpperCase;
  color: $cTypography-help;
}
// Credits usage
.CreditsUsage-info {
  width: 300px;
  color: $cTypography-paragraphs;
  font-size: $sFontSize-normal;
}