@import "../../../variables/mixins";
@import "../../../variables/colors";
@import "../../../variables/sizes";
@import "compass/css3/images";

// Imports styles
$w: 780px;

.ImportOptions {
  position: relative;
  width: $w;
  margin: 0 auto 20px;
}
.ImportOptions-navigation {}
.ImportOptions-navigationButton {
  position: absolute;
  top: 28px;
  padding: 0;
  line-height: 40px!important;
}
.ImportOptions-navigationButton--prev { left: -80px }
.ImportOptions-navigationButton--next { right: -80px }
.ImportOptions-navigationButton.is-disabled:hover {
   border-color: #ccc;
   color: #ccc;
}
.ImportOptions-tabs {
  display: block;
  width: $w;
  padding: 28px 0;
  overflow-x: hidden;
}
.ImportOptions-tabsList {
  @include display-flex();
  @include flex-wrap(nowrap);
  @include transition(margin,150ms);
}
.ImportOptions-tab {
  min-width: 140px;
  margin-right: -1px;
}
