@import "../../../variables/mixins";
@import "../../../variables/colors";
@import "../../../variables/sizes";
@import "compass/css3/images";

// Imports styles
$w: 780px;

.ImportOptions {
  position: relative;
  width: $w;
  margin: 0 auto 20px; 
}
.ImportOptions-navigation {}
.ImportOptions-navigationButton {
  position: absolute;
  top: 28px;
  padding: 0;
  line-height: 40px!important;
}
.ImportOptions-navigationButton--prev { left: -80px }
.ImportOptions-navigationButton--next { right: -80px }
.ImportOptions-navigationButton.is-disabled:hover {
   border-color: #ccc;
   color: #ccc;
}
.ImportOptions-tabs {
  display: block;
  width: $w;
  padding: 28px 0;
  border-bottom: 1px solid $cStructure-mainLine;
  overflow-x: hidden;
}
.ImportOptions-tabsList {
  @include display-flex();
  @include flex-wrap(nowrap);
  @include transition(margin,150ms);
}
.ImportOptions-tab {
  min-width: 140px;
  margin: 0 $sMargin-formRow 0 0;
}
.ImportOptions-tabLink {
  display: block;
  width: 118px;
  height: 38px;
  padding: 0 10px;
  border: 1px solid $cStructure-mainLine;
  line-height: 38px;
  border-radius: 4px;
  color: $cTypography-secondary;
  font-size: 14px;

  &:hover {
    background: white;
    border-color: rgba(#BBD7F2, 1);
    color: $cTypography-paragraphs;
    text-decoration: none;
  }
}
.ImportOptions-tabLink.selected,
.ImportOptions-tabLink.selected:hover {
  background: white;
  border-color: rgba(#BBD7F2, 1);
  color: $cTypography-paragraphs;
  cursor: default;
}
.ImportOptions-tabLink.disabled {
  @include opacity(0.5);

  &:hover {
    cursor: default;
    background: transparent;
    text-decoration: none;
    color: $cTypography-secondary;
    border-color: $cStructure-mainLine;
  }
}
// Tab icons
.ImportOptions-tabIcon {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  margin: 0 6px 3px 0;
  @include background(image-url("layout/new_import_icons.png") no-repeat 0 0);
}
.ImportOptions-tabIcon.is-scratch {
  width: 18px;
  background-position: 0 0;
}
.ImportOptions-tabLink.selected .ImportOptions-tabIcon.is-scratch,
.ImportOptions-tabLink:hover .ImportOptions-tabIcon.is-scratch { background-position: 0 -20px }
.ImportOptions-tabLink.disabled .ImportOptions-tabIcon.is-scratch,
.ImportOptions-tabLink.disabled:hover .ImportOptions-tabIcon.is-scratch { background-position: 0 0 }

.ImportOptions-tabIcon.is-dropbox {
  width: 22px;
  background-position: -18px 0;
}
.ImportOptions-tabLink.selected .ImportOptions-tabIcon.is-dropbox,
.ImportOptions-tabLink:hover .ImportOptions-tabIcon.is-dropbox { background-position: -18px -20px }
.ImportOptions-tabLink.disabled .ImportOptions-tabIcon.is-dropbox,
.ImportOptions-tabLink.disabled:hover .ImportOptions-tabIcon.is-dropbox { background-position: -18px 0 }

.ImportOptions-tabIcon.is-gdrive {
  width: 25px;
  background-position: -40px 0;
}
.ImportOptions-tabLink.selected .ImportOptions-tabIcon.is-gdrive,
.ImportOptions-tabLink:hover .ImportOptions-tabIcon.is-gdrive { background-position: -40px -20px }
.ImportOptions-tabLink.disabled .ImportOptions-tabIcon.is-gdrive,
.ImportOptions-tabLink.disabled:hover .ImportOptions-tabIcon.is-gdrive { background-position: -40px 0 }

.ImportOptions-tabIcon.is-mailchimp {
  width: 18px;
  background-position: -65px 0;
}
.ImportOptions-tabLink.selected .ImportOptions-tabIcon.is-mailchimp,
.ImportOptions-tabLink:hover .ImportOptions-tabIcon.is-mailchimp { background-position: -65px -20px }
.ImportOptions-tabLink.disabled .ImportOptions-tabIcon.is-mailchimp,
.ImportOptions-tabLink.disabled:hover .ImportOptions-tabIcon.is-mailchimp { background-position: -65px 0 }

.ImportOptions-tabIcon.is-arcgis {
  width: 19px;
  background-position: -83px 0;
}
.ImportOptions-tabLink.selected .ImportOptions-tabIcon.is-arcgis,
.ImportOptions-tabLink:hover .ImportOptions-tabIcon.is-arcgis { background-position: -83px -20px }
.ImportOptions-tabLink.disabled .ImportOptions-tabIcon.is-arcgis,
.ImportOptions-tabLink.disabled:hover .ImportOptions-tabIcon.is-arcgis { background-position: -83px 0 }

.ImportOptions-tabIcon.is-twitter {
  width: 25px;
  background-position: -102px 0;
}
.ImportOptions-tabLink.selected .ImportOptions-tabIcon.is-twitter,
.ImportOptions-tabLink:hover .ImportOptions-tabIcon.is-twitter { background-position: -102px -20px }
.ImportOptions-tabLink.disabled .ImportOptions-tabIcon.is-twitter,
.ImportOptions-tabLink.disabled:hover .ImportOptions-tabIcon.is-twitter { background-position: -102px 0 }

.ImportOptions-tabIcon.is-file {
  width: 18px;
  background-position: -127px 0;
}
.ImportOptions-tabLink.selected .ImportOptions-tabIcon.is-file,
.ImportOptions-tabLink:hover .ImportOptions-tabIcon.is-file { background-position: -127px -20px }
.ImportOptions-tabLink.disabled .ImportOptions-tabIcon.is-file,
.ImportOptions-tabLink.disabled:hover .ImportOptions-tabIcon.is-file { background-position: -127px 0 }

.ImportOptions-tabIcon.is-instagram {
  width: 20px;
  background-position: -145px 0;
}
.ImportOptions-tabLink.selected .ImportOptions-tabIcon.is-instagram,
.ImportOptions-tabLink:hover .ImportOptions-tabIcon.is-instagram { background-position: -145px -20px }
.ImportOptions-tabLink.disabled .ImportOptions-tabIcon.is-instagram,
.ImportOptions-tabLink.disabled:hover .ImportOptions-tabIcon.is-instagram { background-position: -145px 0 }

.ImportOptions-tabIcon.is-salesforce {
  width: 29px;
  background-position: -165px 0;
}
.ImportOptions-tabLink.selected .ImportOptions-tabIcon.is-salesforce,
.ImportOptions-tabLink:hover .ImportOptions-tabIcon.is-salesforce { background-position: -165px -20px }
.ImportOptions-tabLink.disabled .ImportOptions-tabIcon.is-salesforce,
.ImportOptions-tabLink.disabled:hover .ImportOptions-tabIcon.is-salesforce { background-position: -165px 0 }