@import "../../../variables/mixins";
@import "../../../variables/colors";
@import "../../../variables/sizes";

// Service list styles within import panel

$w: 780px;

.ServiceList {
  display: block; 
  width: $w;
  margin: 0 auto;
}
.ServiceList-header {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  height: 80px;
  border-bottom: 1px solid $cStructure-mainLine;
}
.ServiceList-headerTitle {
  font-size: $sFontSize-large;
  font-weight: $sFontWeight-lighter;
  color: $cTypography-secondary;
}
.ServiceList-body {}
.ServiceList-items { display: block }
.ServiceList-item {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  padding: 20px 0;
  border-bottom: 1px solid $cStructure-mainLine;
}
.ServiceList-item:last-child { border-bottom: 0 }
.ServiceList-item:hover {
  margin: -1px -20px 0 -20px;
  padding: 20px 19px;
  background: $cCard-hoverFill;
  border: 1px solid $cCard-hoverBorder;
  border-radius: 4px;
}
.ServiceList-itemExt {
  width: 38px;
  min-width: 38px;
  height: 38px;
  border: 1px solid #CCC;
  border-radius: 4px;
  line-height: 38px;
  text-align: center;
  font-size: $sFontSize-smallUpperCase;
  color: $cTypography-help;
  text-transform: uppercase;
}
.ServiceList-itemInfo {
  width: 575px;
}
.ServiceList-itemTitle {
  display: block;
  font-size: $sFontSize-larger;
  font-weight: $sFontWeight-normal;
  color: $cTypography-paragraphs;
}
.ServiceList-itemDescription {
  display: block;
  margin-top: 3px;
  font-size: $sFontSize-normal;
  font-weight: $sFontWeight-lighter;
  color: $cTypography-secondary;
}
.ServiceList-itemButton {
  padding: 0 44px;
  background: transparent;
  border: 1px solid #CCCCCC;
  color: $cTypography-paragraphs;

  &:hover {

  }
}
.IntermediateInfo.ServiceList-empty {
  width: 100%;
  min-height: 250px;
}