<% if (value.safeHTML) { %>
  <div class="DefaultDescription u-ellipsLongText" title="<%- value.clean %>"><%= value.safeHTML %></div>
<% } else { %>
  <a href="#" class="js-add-link">Add <%= name %>...</a>
  <textarea></textarea>
<% } %>

