<% if (value.safeHTML) { %>
  <div class="DefaultDescription u-ellipsLongText" title="<%- value.clean %>"><%= value.safeHTML %></div>
<% } else { %>
  <textarea placeholder="Add <%= name %>..."></textarea>
<% } %>
