<% if (value.safeHTML) { %>
  <div class="DefaultDescription" title="<%- value.clean %>"><%= value.safeHTML %></div>
<% } else { %>
  <% if (editable) { %>
    <a href="#" class="js-add-link">Add <%= name %>...</a>
    <textarea></textarea>
  <% } else { %>
  <div class="DefaultDescription">
    <span class="NoResults">No description</span>
  </div>
  <% } %>
<% } %>

