<% if (value.safeHTML) { %>
  <div class="DefaultDescription" title="<%- value.clean %>"><%= value.safeHTML %></div>
<% } else { %>
  <% if (editable) { %>
    <button class="js-add-btn">Add <%= name %>...</button>
    <textarea class="js-field-input"></textarea>
  <% } else { %>
  <div class="DefaultDescription">
    <span class="NoResults">No description</span>
  </div>
  <% } %>
<% } %>

