<% if (closeToLimits && canUpgrade) { %>
<div class="FlashMessage FlashMessage--main">
  <div class="u-inner">
    <p class="FlashMessage-info">
      <% if (quotaPer <= 0) { %>
        You have reached your limits. 
      <% } else { %>
        You are close to your limits.
      <% } %>
      Upgrade your account to boost your quota
    </p>
    <div class="FlashMessage-action">
      <a href="<%= upgradeUrl %>" class="Button Button--invert">
        <span>upgrade your plan</span>
      </a>
    </div>
  </div>
</div>
<% } %>