<% if (closeToLimits && canUpgrade) { %>
<div class="FlashMessage FlashMessage--main UpgradeElement UpgradeElement--noMargins">
  <div class="u-inner">
    <div class="UpgradeElement-info">
      <p class="UpgradeElement-infoText u-ellipsLongText">
        <% if (quotaPer <= 0) { %>
          You have reached your limits. 
        <% } else { %>
          You are close to your limits.
        <% } %>
        Upgrade your account to boost your quota
      </p>
    </div>
    <div class="UpgradeElement-actions">
      <% if (showTrial) { %>
        <div class="UpgradeElement-trial">
          <i class="iconFont iconFont-Gift UpgradeElement-trialIcon"></i>
          <p class="UpgradeElement-trialText u-ellipsLongText">15 days Free trial</p>
        </div>
      <% } %>
      <a href="<%= upgradeUrl %>" class="Button Button--secondary UpgradeElement-button ChangePrivacy-upgradeActionButton">
        <span>upgrade your plan</span>
      </a>
    </div>
  </div>
</div>
<% } %>