<div class="MapCard">
  <div class="MapCard-fake"></div>
  <div class="MapCard-header MapCard-header--fake">
    <i class="MapCard-headerFakeIcon iconFont iconFont-<%- icon %>" />
  </div>
  <div class="MapCard-content">
    <div class="MapCard-contentBody">
      <div class="MapCard-contentBodyRow">
        <p class="MapCard-desc MapCard-desc--fake DefaultDescription"><%- desc %></p>
      </div>
      <div class="MapCard-contentBodyRow MapCard-contentBodyRow--fake">
        <button class="js-open Button Button--secondary">
          <span>Learn more</span>
        </button>
      </div>
    </div>
  </div>
</div>
