   
  /*
   * Custom objects
   * - Custom radiobutton
   */

  @import "compass";
  @import "../common/sprites";
  @import "../common/mixins";
  @import "../common/vars";


  // HORIZONTAL SLIDER (SPINNER)

  /*
    <div class="dropdown spinner_slider">
      <div class="slider horizontal"></div>
    </div>
  */

  .dropdown.spinner_slider {
    border:1px solid #999999;
    padding-top:10px;
    padding-bottom:10px;
    height:81px;

    &.vertical_top {
      &:before {
        content:' ';
        position:absolute;
        display:block!important;
        bottom:-6px;
        right:5px;
        width:0;
        height:0;
        border-top:6px solid white;
        border-left:6px solid transparent;
        border-right:6px solid transparent;
        z-index:2;
      }

      &:after {
        content:' ';
        position:absolute;
        display:block!important;
        bottom:-7px;
        right:7px;
        width:0;
        height:0;
        border-top:6px solid #999;
        border-left:6px solid transparent;
        border-right:6px solid transparent;
        z-index:1;
      }
    }

    .ui-slider-vertical {
      position:absolute;
      top:10px;
      left:11px;
      width:4px;
      height:81px;
      @include border-radius(10px);
      background:#E5E5E5;

      .ui-slider-handle {
        position: absolute;
        outline:none;
        width:8px;
        height:8px;
        left: 2px;
        margin-left: -5px;
        margin-bottom: -5px;
        background:#397DBA;
        border:1px solid #255078;
        z-index: 2;
        @include border-radius(4px);

        &.ui-state-active,
        &.ui-state-focus,
        &.ui-state-hover {@include box-shadow(rgba(0,0,0,0.15) 0 0 3px 3px)}
      }
    }

    .ui-slider-vertical .ui-slider-handle {  }
    .ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
    .ui-slider-vertical .ui-slider-range-min { bottom: 0; }
    .ui-slider-vertical .ui-slider-range-max { top: 0; }    
  }




  // FORM COLOR

  /*
    <div class="form_color">
      <span class="color" style="background-color: rgb(0, 255, 0); "></span>
      <a href="#choose_color" class="picker">+</a>
    </div>
  */

  .form_color {
    position:relative;
    @include inline-block();
    @include border-radius(3px);
    width:43px;
    height:21px;
    
    span.color {
      @include inline-block();
      @include border-left-radius(3px);
      width:27px;
      height:21px;

      &:before {
        content:' ';
        position:absolute;
        left:0;
        top:0;
        width:25px;
        height:19px;
        background:none;
        @include border-left-radius(3px);
        border:1px solid rgba(0,0,0,0.2);
      }
    }

    a.picker {
      position:absolute;
      right:0;
      top:0;
      width:15px;
      height:19px;
      border:1px solid #9E9E9E;
      @include border-right-radius(3px);
      border-left:0;
      @include text-indent();

      &:before {
        content:' ';
        position:absolute;
        left:5px;
        top:9px;
        width:0;
        height:0;
        border-left:2px solid transparent;
        border-right:2px solid transparent;
        border-top:3px solid #666666;
      }
    }

    &:hover {
      cursor:pointer;
      a:before {border-top:3px solid #000000;}
    }
  }

  // Related dropdown
  div.dropdown.color_picker {
    border:1px solid #999999;
    padding:6px;

    &.vertical_top {
      &:after {
        content:' ';
        position:absolute;
        display:block!important;
        bottom:-7px;
        right:12px;
        width:0;
        height:0;
        border-top:6px solid #999;
        border-left:6px solid transparent;
        border-right:6px solid transparent;
        z-index:2;
      }
    }

    &.vertical_bottom {
      &:after {
        content:' ';
        position:absolute;
        display:block!important;
        top:-6px;
        left:12px;
        width:0;
        height:0;
        border-bottom:6px solid #888;
        border-left:6px solid transparent;
        border-right:6px solid transparent;
        z-index:2;
      }
    }

    div.colors {
      position:relative;
      width:100%;

      ul {
        display:block;
        width:100%;
        margin:0;
        letter-spacing:-4px;
        @include border-radius(2px);

        li {
          @include inline-block();
          vertical-align:top;
          letter-spacing:0px;
          width:13px;
          height:20px;
          padding:0;
          margin:0;
          border:none;

          &:first-child {
            a {@include border-top-left-radius(2px)}
          }
          &:last-child {
            a {@include border-bottom-right-radius(2px)}
          }
          &:nth-child(16) {
           a {@include border-bottom-left-radius(2px)} 
          }
          &:nth-child(15) {
           a {@include border-top-right-radius(2px)} 
          }

          a {
            position:relative;
            width:14px;
            height:20px;
            padding:0;
            margin:0;
            &:hover {
              z-index:2;
              &:before {
                content:' ';
                position:absolute;
                top:-1px;
                bottom:-1px;
                left:-1px;
                right:-1px;
                border:1px solid white;
                z-index:2;
              }
            }
          }
        }
      }
    }

    div.bottom {
      margin:6px 0 0 0;
    }

  }


  // FORM INPUT COLOR
  /* <div class="form_input_color left">
       <span class="color"></span>
       <input type="text" value=""/>
     </div>
  */

  .form_input_color {
    letter-spacing:-4px;
    
    span.color {
      position:relative;
      @include inline-block();
      @include border-left-radius(3px);
      width:12px;
      height:21px;
      letter-spacing:0px;

      &:before {
        content:' ';
        position:absolute;
        left:0;
        top:0;
        width:10px;
        height:19px;
        background:none;
        @include border-left-radius(3px);
        border:1px solid rgba(0,0,0,0.2);
      }
    }

    input {
      @include inline-block();
      width:65px;
      height:13px;
      padding:3px;
      border:1px solid rgba(0,0,0,0.2);
      border-left:0;
      font:normal 11px $text-fonts;
      line-height:13px;
      @include border-right-radius(3px);
      letter-spacing:0px;
      color:#666666;
      &:focus {
        outline:none;
        border-color:rgba(0,0,0,0.4);
      }
      &.error,&.error:focus {
        border-color:rgba(#F84F40,0.8);
      }
    }
  }

  



  // FORM SPINNER

  /*
    <div class="form_spinner">
      <span class="value">0.6</span>
      <a href="#plus" class="plus"></a>
      <a href="#minus" class="minus"></a>
    </div>
  */

  .form_spinner {
    position:relative;
    @include inline-block();
    min-width:20px;
    width:auto!important;
    padding:2px 19px 2px 4px;
    height:15px;
    margin:0;
    border:1px solid #9E9E9E;
    @include border-radius(3px);
    @include background(linear-gradient(#FFF,#F2F2F2));

    &:hover {
      cursor:pointer;
    }

    span.value {
      float:none;
      margin:0;
      padding:0;
      text-align:left;
      line-height:15px;
      font-size:13px;
      color:#666666;
      &:hover {
        cursor:pointer;
      }
    }

    a {
      position:absolute;
      right:0;
      width:14px;
      height:9px;
      border-left:1px solid #A8A8A8;
      @include text-indent();

      &:before {
        content:' ';
        position:absolute;
        left:5px;
        width:0;
        height:0;
        border-left:2px solid transparent;
        border-right:2px solid transparent;
      }

      &.plus {
        top:0;
        border-bottom:1px solid #A8A8A8;
        &:before {top:3px; border-bottom:3px solid #666666;}
      }
      &.minus {
        bottom:0;
        &:before {bottom:3px; border-top:3px solid #666666;}
      }

      &:hover {
        &.plus {
          &:before {border-bottom:3px solid #000;}
        }
        &.minus {
          bottom:0;
          &:before {border-top:3px solid #000;}
        }
      }
    }

    // Opacity type
    &.opacity {
      @include background(sprite($icons-sprites, alpha_bkg) repeat);
    }
  }



  // RADIOBUTTON

  /*
    <a href="#somewhere" class="radiobutton {selected}">
      <span class="radio"></span>
      Start importing some data
    </a>
  */

  .radiobutton { 
    @include inline-block();
    vertical-align:middle;
    font-weight:bold;
    color:#397DB9;

    span.radio {
      position:relative;
      @include inline-block();
      vertical-align:top;
      width:10px;
      height:10px;
      margin:2px 7px 0 0;
      @include border-radius(10px);
      border:1px solid #397DBA;
      background:white;

      &:before {
        display:none;
        content:' ';
        position:absolute;
        top:2px;
        left:2px;
        width:6px;
        height:6px;
        background:#333333;
        @include border-radius(25px);
      }
    }

    &:hover {
      span.radio{
        border-color:#333333;
        &:before {
          display:block;
        }
      }
    }

    &.selected {
      border-color:#333333;
      color:#333333;

      span.radio{
        border-color:#333333;
        &:before {
          display:block;
        }
      }

      &:hover {
        cursor:default;
        text-decoration:none;
      }
    }

    &.disabled {
      text-decoration:none;
      color:#397DBA;
      span.radio{
        border-color:#397DBA;
        &:before {
          display:none;
        }
      }
      &:hover { 
        cursor:default;
      }
    }
  }



  // CHECKBOX
  
  /*
    <a href="#title?" class="checkbox {enabled}">
      <span class="check"></span>
      title?
    </a>
  */

  .checkbox {
    @include inline-block();
    vertical-align:middle;
    text-decoration:none;

    span.check {
      position:relative;
      @include inline-block();
      vertical-align:top;
      width:10px;
      height:10px;
      margin:0;
      @include border-radius(3px);
      border:1px solid #999999;
      background:white;

      &:before {
        display:block;
        content:' ';
        position:absolute;
        top:1px;
        left:1px;
        width:9px;
        height:8px;
        @include icons-sprite(checkbox);
      }
    }

    &:hover {
      text-decoration:none;
    }

    &.enabled {
      span.radio{
        &:before {
          display:block;
        }
      }
    }

    &.disabled {
      span.check{
        &:before {
          display:none;
        }
      }
    }
  }



  // SWITCH (ON/OFF)
  
  /*
    <a href="#switch" class="switch {enabled}">
      <span class="handle"></span>
    </a>
  */

  .switch, .form_switch {
    position:relative;
    @include inline-block();
    @include text-indent();
    vertical-align:middle;
    width:29px;
    height:15px;
    @include border-radius(12px);
    @include transform-style("linear");
    @include transition-property("background");
    @include transition-duration(180ms);
    text-decoration:none;
    border:1px solid #44759E;

    &:before {
      position:absolute;
      content:' ';
      top:0;
      left:0;
      width:100%;
      height:100%;
      @include border-radius(12px);
      @include background(linear-gradient(rgba(black,0.18),rgba(black,0)));
      z-index:0;
    }

    span.handle {
      position:absolute;
      top:1px;
      left:15px;
      width:11px;
      height:11px;
      @include border-radius(12px);
      border:1px solid #44759E;
      background:#F2F2F2;
      z-index:2;
      @include transform-style("linear");
      @include transition-property("left");
      @include transition-duration(180ms);
    }

    &.enabled {
      border-color:#44759E;
      background:#56AFEF;
      span.handle {
        left:15px;
        border-color:#44759E;
      }
    }

    &.disabled {
      @include opacity(1);
      border-color:#CCCCCC;
      background:#D8D8D8;
      span.handle {
        left:2px;
        border-color:#999999;
      }
    }

    &:hover {cursor:pointer!important;}
  }
