
@import "compass";
@import "../common/vars";

.edit_text_dialog {
  padding: 11px;
  @include box-shadow(rgba(black, 0.15) 0 0 4px 1px);
  @include border-radius(4px);
  @include background(linear-gradient(#FEFEFE, #F4F4F4));
  border-bottom: 1px solid #F4F4F4;

  a.button {
    margin-top: 9px;
    padding: 5px 13px;
    letter-spacing: 0;
  }

  a.cancel {
    margin-top: 19px;
    font-size: 13px;
    text-decoration: underline;
    text-transform: lowercase;
  }

  input, textarea {
    font-family: $text-fonts;
    margin: 0;
    border: 1px solid #C0C1C2;
    background: #FFF;
    @include border-radius(4px);
    padding: 11px;
    font-size: 15px;
    color: #666666;
  }

}

.edit_name_dialog {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  @include border-radius(4px);
  input {
    font-size: 15px;
    color: #333333;
    border: 1px solid #000;
    padding: (36px - 15px)/2;
    @include border-radius(4px);
    margin: 0 3px 0 0;
  }
  .content {
    @include inline-block();
    float: left;
  }
  a {
    padding: 1px + (36px - 15px)/2 !important;
    border: 1px solid #000 !important;
    font-size: 15px !important;
    font-weight: bold !important;
    @include border-radius(4px);
  }

}
