
@import "compass";
@import "../common/vars";

.edit_text_dialog {
  position:absolute!important;
  padding: 11px;
  @include box-shadow(rgba(black, 0.17) 0 0 6px 1px);
  @include border-radius(4px);
  @include background(linear-gradient(#FEFEFE, #F4F4F4));
  border: 1px solid #B7B7B7;
  max-width:500px;
  max-height:500px;
  z-index:0!important;

  a.button {
    margin-top: 9px;
    padding: 6px 15px!important;
    letter-spacing: 0;
  }

  a.cancel {
    margin-top: 19px;
    font-size: 13px;
    text-decoration: underline;
    text-transform: lowercase;
  }

  input, textarea {
    position:relative;
    display:block;
    max-width:500px - 22;
    max-height:500px - 60;
    margin: 0;
    padding: 10px;
    font-family: $text-fonts;
    font-size: 15px;
    color: #666666;
    border: 1px solid #C0C1C2;
    background: #FFF;
    @include border-radius(4px);

    &:focus {
      outline:none;
      border-color:#999999;
    }
  }

}

.floating.edit_name_dialog {
  min-width:280px;
  padding: 5px;
  @include background(linear-gradient(rgba(black, 0.5), rgba(#212121,0.5)));
  @include border-radius(4px);
  @include box-shadow(rgba(0,0,0,0.12) 0 0 2px 2px);
  
  input {
    position:absolute;
    top:5px;
    left:5px;
    right:64px;
    bottom:5px;
    font-size: 15px;
    color: #333333;
    border: 1px solid #000;
    padding: (36px - 15px)/2;
    line-height:normal;
    @include border-radius(4px);
    margin: 0 3px 0 0;
    &:focus {
      outline:none;
    }
  }

  .content {
    @include inline-block();
    float: left;
  }
  a {
    padding: 1px + (36px - 15px)/2 !important;
    border: 1px solid #000 !important;
    font-size: 15px !important;
    font-weight: bold !important;
    @include border-radius(4px);
  }

}
