  
  /*
   * Dropdown for CartoDB
   */

  @import "compass";
  @import "../common/vars";

  div.dropdown {
    position:absolute;
    display:none;
    background:white;
    @include border-radius(3px);
    border:none;
    @include box-shadow(rgba(0,0,0,0.2) 0 0 4px 1px);
    z-index:50;

    &:before {
      content:' ';
      position:absolute;
      display:block!important;
      width:0;
      height:0;
      z-index:10;
    }

    // Tick for 12 possibilities
    &.tick_top, &.tick_middle, &.tick_bottom {
      &.horizontal_left {
        &:before {
          left:-5px;
          border-right:8px solid white;
          border-top:8px solid transparent;
          border-bottom:8px solid transparent;
        }
      }
      &.horizontal_right {
        &:before {
          right:-5px;
          border-left:8px solid white;
          border-top:8px solid transparent;
          border-bottom:8px solid transparent;
        }
      }
    }

    &.tick_top:before {top:10px;}
    &.tick_middle:before {left:50%; margin-top:-4px;}
    &.tick_bottom:before {bottom:10px;}


    &.tick_left, &.tick_center, &.tick_right {
      &.vertical_top {
        &:before {
          bottom:-5px;
          border-top:8px solid white;
          border-left:8px solid transparent;
          border-right:8px solid transparent;
        }
      }
      &.vertical_bottom {
        &:before {
          top:-5px;
          border-bottom:8px solid white;
          border-left:8px solid transparent;
          border-right:8px solid transparent;
        }
      }
    }

    &.tick_left:before {left:10px;}
    &.tick_center:before {left:50%; margin-left:-4px;}
    &.tick_right:before {right:10px;}



    ul {
      position:relative;
      @include inline-block();
      width:100%;
      margin:0;
      padding:0;
      list-style:none;
      overflow:visible;

      li {
        display:block;
        border-top:1px solid rgba(#CCCCCC,0.35);

        a {
          display:block;
          padding:13px 13px 15px 13px;
        }

        &:first-child {@include border-top-radius(3px)}
        &:last-child {@include border-bottom-radius(3px)}

        &:hover {
          background:#F7F7F7;
          a {color:#333333; text-decoration:none}
        }

        &.disabled {
          background:white;
          a {opacity:0.4; color:$link-color; text-decoration:none}
        }
      }

    }
  }
