
  
  /*
   * Flash message after a confirmation action
   */

  @import "compass";
  @import "../common/sprites";
  @import "../common/mixins";

  .flash {
    position:relative;
    padding:22px 40px;
    background:rgba(#FA9494,0.15);
    border-bottom:1px solid rgba(#CCCCCC,0.5);

    a.close {
      position:absolute;
      right:40px;
      top:24px;
      width:13px;
      height:13px;
      @include icons-sprite(close_flash);
      @include text-indent();
      
      &:hover {@include icons-sprite(close_flash, $offset-y: -13px);}
      &:active {@include icons-sprite(close_flash, $offset-y: -26px);}
    }
  }