
  /*
   *  Privacy selector
   */

  @import "compass/css3/border-radius";
  @import "compass/css3/box-shadow";
  @import "compass/css3/opacity";
  @import "compass/css3/images";

  .privacy_selector {
    position:absolute;
    width:190px;
    border:1px solid #999999;
    @include border-radius(3px);
    @include box-shadow(rgba(0,0,0,0.2) 0 0 4px 1px);
    background:white;
    z-index:10;

    div.nonPayer {
      padding:14px;
      color: #999;

      div {
        margin: 0;
        padding: 0
      }
      div:first-child {
        margin-bottom: 5px;
      }
    }

    ul {
      display:block;
      width:100%;
      li {
        padding:0!important;
        margin:0;
        border-top:1px solid rgba(#CCCCCC,0.35)!important;

        &:first-child {border:none!important}
        &:before {display:none!important;}
        &:after {display:none!important;}

        a {
          display:block;
          padding:14px;
          font-size:13px;
          font-weight:normal;

          &.public {
            color:#83AD3A;
            span {
              border-color:#83AD3A;
              &:before {
                background:#83AD3A;
              }
            }
            &:hover {
              span {border-color:#83AD3A;}
            }
          }

          &.private {
            color:rgba(#FF0000,0.4);
            span {
              border-color:rgba(#FF0000,0.4);
              &:before {
                background:rgba(#FF0000,0.4);
              }
            }
            &:hover {
              span {border-color:rgba(#FF0000,0.4);}
            }
          }

          &.selected {
            color:#999999;
            span {
              border-color:#999999!important;
              &:before {
                background:#999999;
              }
            }
            &:hover {
              cursor:default;
              span {
                border-color:#999999;
              }
            }
          }

          &.disabled {
            @include opacity(0.5);
            color:#999999;
            span {
              border-color:#999999!important;
              &:before {
                background:#999999;
              }
            }
            &:hover {
              cursor:default;
              span {
                border-color:#999999;
              }
            }
          }
        }
      }
      &:after, &:before {display:none;}
    }

    &.up:after {
      content:' ';
      position:absolute;
      display:block!important;
      bottom:-6px;
      left:50%;
      width:0;
      height:0;
      margin:0 0 0 -3px;
      border-top:6px solid white;
      border-left:6px solid transparent;
      border-right:6px solid transparent;
      z-index:10;
    }

    &.up:before {
      content:' ';
      position:absolute;
      display:block!important;
      bottom:-7px;
      left:50%;
      width:0;
      height:0;
      margin:0 0 0 -3px;
      border-top:6px solid #999;
      border-left:6px solid transparent;
      border-right:6px solid transparent;
      z-index:5;
    }


    &.down {
      border:1px solid #4C76AC!important;

      &:after {
        content:' ';
        position:absolute;
        display:block!important;
        top: -6px;
        left:50%;
        width:0;
        height:0;
        margin:0 0 0 -3px;
        border-bottom:6px solid white;
        border-left:6px solid transparent;
        border-right:6px solid transparent;
        z-index:10;
      }

      &:before {
        content:' ';
        position:absolute;
        display:block!important;
        top: -7px;
        left:50%;
        width:0;
        height:0;
        margin:0 0 0 -3px;
        border-bottom:6px solid rgba(black,0.2);
        border-left:6px solid transparent;
        border-right:6px solid transparent;
        z-index:5;
      }

    }
  }
