// Different types of user avatars
// Example usage:
//  <div class="UserAvatar">
//    <img class="UserAvatar--medium" ... />
//  </div>
// --------------------------------------------------

@import "../new_variables/mixins";
@import "../new_variables/colors";
@import "../new_variables/sizes";

.UserAvatar {
  @include inline-block();
  vertical-align: middle;
}
.UserAvatar--large {
  width: $sAvatar-public;
  height: $sAvatar-public;
  border-radius: $sAvatar-borderRadius;
}
.UserAvatar--medium {
  width: $sAvatar-default;
  height: $sAvatar-default;
  border-radius: $sAvatar-borderRadius;
}
.UserAvatar--small {
  width: $sAvatar-small;
  height: $sAvatar-small;
  border-radius: $sAvatar-borderRadiusSmall;
}
.UserAvatar--smaller {
  width: $sAvatar-meta;
  height: $sAvatar-meta;
  border-radius: $sAvatar-borderRadiusSmall;
}
// to just show [...], used in delete items for example
// Example usage: <div class="UserAvatar"><span class="UserAvatar--moreItems../div>
.UserAvatar--moreItems {
  @include display-flex();
  @include justify-content(center, center);
  @include align-items(baseline, baseline);
  font-size: 26px;
  line-height: 26px;
  color: $cIcons-default;
  font-weight: $sFontWeight-normal;
  box-shadow: 0 0 0 1px $cIcons-default inset; // use box-shadow to get border inside of the box
  border-radius: $sAvatar-borderRadius;
}
.UserAvatar--moreItems:before {
  content: '...'
}
