// Buttons
// --------------------------------------------------

@import "mixins";
@import "colors";

.Button {
  @include inline-block();
  @include border-radius(28px);
  padding: 13px 29px;
  text-decoration:none;
}
.Button,
.Button span {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.Button:hover,
.Button span:hover { text-decoration:none }

.Button--main {
  background-color: $cHighlight-main;
  &:hover { background-color: rgba(#007FBD, 1) }
}
.Button--positive {
  background-color: $cHighlight-positive;
  &:hover { background-color: rgba(#7FA538, 1) }
}
.Button--negative {
  background-color: $cHighlight-negative;
  &:hover { background-color: rgba(#B93F37, 1) }
}
.Button--secondary {
  border:2px solid #CCCCCC;
  color: #666666;
  background-color: rgba(white, 1);
  &:hover {
    background-color: rgba(#CCCCCC, 1);
    color:white;
  }
}
