@import "../new_variables/mixins";
@import "../new_variables/colors";
@import "../new_variables/sizes";

.ContentFooter {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center);
  width: $sLayout-width;
  padding: $sMargin-group 0;
  margin: 0 auto;  
}
/*REVIEW IF THIS CLASS IS NECESSARY*/
.ContentFooter-inner {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center);
}
.ContentFooter-inner--paginationOnly {
  @include justify-content(center);
}
.ContentFooter-lockedIcon {
  font-size: $sFontSize-small;
  margin-right: $sMargin-min;
  color: $cTypography-help;
}

@media only screen and (max-width: 984px) {
  .ContentFooter {
    width: 640px;
  }
  .ContentFooter .Pagination {
    padding: 0 20px;
  }
}

@media only screen and (max-width: $sMedia-tablet) {
  .ContentFooter {
    width: 640px;
  }
  .ContentFooter .Pagination {
    padding: 0 20px;
  }
}
@media only screen and (max-width: $sMedia-mobile) {
  .ContentFooter {
    width: 340px;
  }
}

@media (min-width: $sMedia-mobile) {
  .ContentFooter {
    width: 340px;
  }
}

@media (min-width: $sMedia-desktop) {
  .ContentFooter {
    width: $sLayout-width;
  }
}

@media (min-width: $sMedia-tablet) {
  .ContentFooter-inner {
    @include flex-direction(row);
    @include justify-content(space-between, justify);
  }
  .ContentFooter-inner--paginationOnly {
    @include justify-content(flex-end, end);
  }
}
