@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/reset";
@import "common/vars";
@import "../new_dashboard/mixins";
@import "../new_dashboard/colors";

body {
  font-family: "Lato", "san-serif";
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

a {
  font-family: "Lato", "san-serif";
  color:#2483B4;
  text-decoration:none;
  &:hover {text-decoration:underline; color:#333}
  &.disabled { @include opacity(0.3); &:hover {color:$link-color; text-decoration:none; cursor:default;}}
  &.tag {
    padding:6px 7px;
    font:normal 15px $text-fonts2;
    color:#397DB9;
    background:#E1ECF5;
    @include border-radius(2px);
    border:1px solid #397DBA;
    @include box-shadow(rgba(0,0,0,0.12) 0 0 2px 2px);
  }
}

p {
  font-size: 15px;
  line-height: 22px;
}

strong {
  font-family: "Lato", "san-serif";
  font-weight: 700;
}

small {
  font-size: 13px;
  line-height: 20px;
}
