// Default tags for datasets and maps
// --------------------------------------------------

@import "../new_variables/colors";
@import "../new_variables/sizes";
@import "../new_variables/mixins";

.DefaultTags {
  color: $cTypography-secondary;
  position: relative;
  @include nicer-lato-typography();
}
.DefaultTags-item {
  border: none;
  color: $cTypography-link;
  background: transparent;
}
.DefaultTags-item:focus {
  background: transparent;
}
.DefaultTags-item:hover {
  cursor: pointer;
  color: $cTypography-linkHover;
  text-decoration: underline;
}
