// Default tags for datasets and maps
// --------------------------------------------------

@import "../new_variables/colors";
@import "../new_variables/sizes";

.DefaultTags {
  color:$cTypography-secondary;
  font-weight: $sFontWeight-lighter;
}
.DefaultTags-item {}
.DefaultTags-item.is--empty {
  color: $cTypography-help;
  font-style: italic;
  font-weight: $sFontWeight-lighter;
}