// Default styles
// --------------------------------------------------

@import "colors";


body {
  background:white;
  font-family: 'Lato', sans-serif;
}

ul { list-style:none }

a {
  text-decoration:none;
 
}