@import "../new_variables/colors";
@import "../new_variables/sizes";

.DefaultParagraph {
  font-size: $sFontSize-large;
  line-height: $sLineHeight-large;
  color: $cTypography-paragraphs;
}
.DefaultParagraph--short {
  width: 500px;
}
