// Default description for datasets and maps
// --------------------------------------------------

@import "../new_variables/colors";
@import "../new_variables/sizes";
@import "../new_variables/mixins";

.DefaultDescription {
  font-size: $sFontSize-normal;
  @include nicer-lato-typography();
  line-height: $sLineHeight-normal;
  color: $cTypography-secondary;
  overflow-wrap: break-word;
  position: relative;
}
.DefaultDescription--error {
  color: $cHighlight-negative;
}
