// Header
// - Tipical Header view
// --------------------------------------------------

@import "mixins";
@import "colors";

/* Header */
.Header {
  display:block;
  width:100%;
  height:81px;
  background:$cGray11;
  border-bottom:1px solid $cGray8;
}
.Header > .u-inner {
  position:relative;
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  width: 940px;
  margin: 0 auto;
}

.Header-navigationList {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
}
.Header-navigationBreadcrumb {
  @include display-flex();
  @include align-items(center, center);
  margin-left:20px;
}
.Header-navigationBreadcrumbItem {
  padding-left:6px;
  font-size:18px;
  font-weight:300;
  color:$cGray2;
}
.Header-navigationBreadcrumbLink {
  position:relative;
  padding-right:12px;
  font-size:18px;
  font-weight:300;
  color:$cGray6;

  &:after {
    content: '';
    position:absolute;
    right:0;
    top:50%;
    width:0;
    height:0;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:4px solid $cGray6;
  }

  &:hover {
    color:$cGray2;
    &:after {
      border-top-color:$cGray2;
    }
  }
}

.Header-settings {
  height:81px;
}
.Header-settingsList {
  height:100%;
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
}
.Header-settingsItem {
  position:relative;
  margin-left:30px;
}
.Header-settingsLink {
  font-weight:300;
  color:$cGray4;
  
  &:hover {
    color:$cGray2;
    text-decoration: underline;
  }
}