@import "../new_variables/colors";
@import "../new_variables/mixins";
@import "../new_variables/sizes";

// Intermediate info for a view with minimal information on intermediate states.
// E.g. loading view, error screen, no results etc.
.IntermediateInfo {
  width: $sLayout-width;
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  margin: 0 auto;
  min-height: 360px;
  text-align: center;
}
.IntermediateInfo-title {
  display: block;
  margin: $sMargin-elementInline 0 $sMargin-min 0;
  font-size: $sFontSize-largest;
  font-weight: $sFontWeight-normal;
  line-height: $sLineHeight-largest;
  color: $cTypography-paragraphs;
}
.IntermediateInfo-icon {
  @include inline-block();
  width: 38px;
  height: 38px;
  border: 1px solid $cStructure-mainLine;
  border-radius: $sIcon-borderRadius;
  line-height:36px;
  font-size: 22px;
  color: $cTypography-help;
}
// Icon types
.IntermediateInfo-iconNegative {
  border-color: $cHighlight-negative;
  color: $cHighlight-negative;
}
.IntermediateInfo-iconPositive {
  border-color: $cHighlight-positive;
  color: $cHighlight-positive;
}
.IntermediateInfo-iconAlert {
  border-color: $cHighlight-alert;
  color: $cHighlight-alert;
}
