// Logo
// - Different ways to show CartoDB logo
// --------------------------------------------------

@import "../new_variables/mixins";

$size: 40px;

.Logo {
  @include inline-block();
}
.Logo--text {
  i {
    line-height: $size;
    font-size: 17px;
    color: white;
  }
}
.Logo--avatar {
  width: $size+1;
  height: $size+1;
  line-height: 54px;
  background: white;
  border-radius: 2px;
  text-align: center;
  i {
    font-size: 25px;
    color: #3C93D8;
  }
}
.Logo--round {
  min-width: $size;
  width: $size;
  height: $size;
  background-color:#CCCCCC;
  border-radius: $size;
  line-height: 3px;
  text-align: center;
  i {
    font-size: 24px;
    color: white;
  }
}
