// Logo
// - Different ways to show CartoDB logo
// --------------------------------------------------

@import "../new_variables/mixins";

$size: 40px;

.Logo {
  position: relative;
  display: inline-block;
}
.Logo:after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: $size + 4;
  height: $size + 4;
  border-radius: $size;
  background-color: #fff;
  @include opacity(0);
  border: 2px solid rgba(#fff,.7);
  border-bottom-color: transparent;
  background: transparent;
  @include transition(all, .4s, ease-in);
}
.Logo--text {
  i {
    line-height: $size;
    font-size: 17px;
    color: white;
  }
}
.Logo--avatar {
  display: inline-block;
  vertical-align: top;
  width: $size;
  height: $size;
  line-height: 54px;
  background: white;
  border-radius: 2px;
  text-align: center;
  @include transition(border-radius, .2s, linear);

  i {
    font-size: 25px;
    color: #3C93D8;
  }
}
.Logo--grey {
  min-width: $size;
  width: $size;
  height: $size;
  background-color:#CCCCCC;
  border-radius: 3px;
  line-height: 53px;
  text-align: center;
  i {
    font-size: 24px;
    color: white;
  }
}

.Logo.is-loading {
  .Logo--avatar { border-radius: $size+1 }
  
  &:after {
    @include animation(spin 0.7s linear infinite);
    @include opacity(1);
  }
}

@include keyframes(spin){
  100%{
    @include transform(rotate(360deg));
  }
}