// Logo
// - Different ways to show CartoDB logo
// --------------------------------------------------

@import "../new_variables/mixins";


.Logo {
  @include inline-block();
}
.Logo--text {
  width:90px;
  height:16px;
  i {
    font-size:17px;
    color: #333333;
  }
}
.Logo--avatar {
  width: 41px;
  height: 41px;
  line-height: 54px;
  background: white;
  border-radius: 2px;
  text-align: center;
  i {
    font-size: 25px;
    color: #3C93D8;
  }
}
.Logo--round {
  width:40px;
  height:40px;
  background-color:#CCCCCC;
  border-radius: 40px;
  line-height:50px;
  text-align:center;
  i {
    font-size:24px;
    color: white;
  }
}

