// Maps list
// --------------------------------------------------

@import "../new_variables/mixins";
@import "../new_variables/colors";
@import "../new_variables/sizes";

.Maps-list {
  display:block;
  width:100%;
}
.Maps-listItem {
  @include inline-block();
}
.Maps-listItem:nth-child(3n) .MapCard {
  margin-right:0
}
.Maps-listItemCard {
  margin-top: $sMargin-element;
}
.Maps-listItemCardContent {
  height: 142px;
}
