@import "../new_variables/mixins";
@import "../new_variables/colors";
@import "../new_variables/sizes";

// A list of .MapCard items.
// Depending on context (private/public dashboard, delete items (affected maps)) it might look slightly differently.
//
// --------------------------------------------------
.MapsList {
  @include display-flex();
  // @include flex-direction(column);
  @include justify-content(flex-start, start);
  @include align-items(center);
  @include flex-wrap(wrap);
  position: relative;
  width: $sLayout-width + 20;
  margin: 10px auto 0;
  padding: 0 $sMargin-elementInline;
}
.MapsList.is-hidden { display: none }
.MapsList-item {
  position: relative;
  width: 300px;
  margin: 10px;
}
.MapsList-item--fake {
  display: none;
  @include opacity(0.6);
}

@media only screen and (max-width: 663px) {
  .MapsList {
    background:pink;
    padding: 0;
    @include justify-content(center);
  }
  .MapsList .MapsList-item {
    margin-left: auto;
    margin-right: auto;
  }
}


@media only screen and (max-width: $sMedia-mobile) {
  .MapsList-item--fake {
    display: none;
  }
  .MapsList {
    background:green!important;
    padding: 0;
  }
  .MapsList .MapsList-item {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: $sMedia-tablet) {
  .MapsList {
    background:#f1f1f1;
    @include flex-direction(row);
    @include justify-content(flex-start);
  }
  .MapsList-item--fake {
    display: block;
  }
}

@media (min-width: $sMedia-desktop) {
  .MapsList-item--fake { display: block }
}
