@import "../new_variables/colors";
@import "../new_variables/sizes";

.NoResults {
  font-size: $sFontSize-normal;
  line-height: $sLineHeight-normal;
  color: $cTypography-help;
  font-style: italic;
  &:hover { text-decoration: none }
}
