@import "../new_variables/colors";
@import "../new_variables/sizes";
@import "../new_variables/mixins";

.RowsIndicator {
  color: $cTypography-secondary;
  @include nicer-lato-typography();
}
.RowsIndicator-icon {
  margin-right: 4px;
  font-size: $sFontSize-smaller;
  @include nicer-lato-typography();
  line-height: $sLineHeight-smaller;
  color: $cTypography-help;
}
