// Layout
$sLayoutWidth: 940px;

// Margins
$sMarginSection:       40px; // To separate main section
$sMarginGroup:         28px; // To separate groups inside a section
$sMarginElement:       20px; // To separate elements inside a group
$sMarginElementInline: 12px; // To separate inline elements
$sMarginMin:           4px;  // Minimum margin, special cases only
$sMarginFormRow:       20px; // Each row should have a margin-bottom of this value.

// Font sizes
$sFontSmaller:        10px;
$sFontSmall:          11px;
$sFontSmallUpperCase: 12px;
$sFontDefault:        13px;
$sFontLarge:          15px;
$sFontLarger:         16px;
$sFontLargest:        18px;

// Font weights
$sFontWeightSmall:   300;
$sFontWeightLighter: 300;
$sFontWeightDefault: 500;
$sFontWeightBold:    700;

// Line heights
$sLineHeightSmaller: 15px;
$sLineHeightSmall:   16px;
$sLineHeightDefault: 20px;
$sLineHeightLarge:   22px;
$sLineHeightLarger:  24px;
$sLineHeightLargest: 27px;
$sLineHeightButton:  15px;

// Buttons
$sButtonHeight:       40px;
$sButtonBorder:       1px;
$sButtonBorderRadius: 28px;

// Avatars
$sAvatarBorderRadius: 4px;
$sAvatarPublic:       96px;
$sAvatarDefault:      40px;
$sAvatarMeta:         16px;

// Icons
$sIconBorderRadius:   3px;
$sIconLayout:         40px;
$sIconAction:         20px;
$sIconInlineWithText: 12px;
$sIconIllustration:   50px;

// Cards, e.g. maps
$sCard:             300px;

// Forms
$sFormElementHeight: 40px;
