@import "../new_variables/colors";
@import "../new_variables/mixins";
@import "../new_variables/sizes";

// The typical spinner we use, a circle with a infinite, rotating piece
// Example usage:
//   <div class="Spinner"></div>
.Spinner {
  position: relative;
  margin: 0 auto;
  border-top: 2px solid $cStructure-mainLine;
  border-right: 2px solid $cStructure-mainLine;
  border-bottom: 2px solid $cStructure-mainLine;
  border-left: 2px solid $cHighlight-main;
  @include animation(load8 1.1s infinite linear); 
}
.Spinner,
.Spinner:after {
  width: $sSpinner-size;
  height: $sSpinner-size;
  border-radius: 50%;
}

@include keyframes(load8) {
  0% { @include css3-prefix(transform, rotate(0deg)) }
  100% { @include css3-prefix(transform, rotate(360deg)) }
}
