// Dashboard banner styles
// --------------------------------------------------

@import "../new_variables/mixins";
@import "../new_variables/sizes";

.SupportBanner {
  display:block;
  width:100%;
  padding: $sMargin-section 0;
  background:#384047;
}
.SupportBanner .u-inner {
  position:relative;
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
}
.SupportBanner-infoTitle {
  font-size: 20px;
  font-weight: $sFontWeight-bold;
  color:white;
}
.SupportBanner-infoDescription {
  margin-top: 5px;
  font-weight: $sFontWeight-normal;
  font-size: $sFontSize-large;
  color:rgba(white, .5);
}
.SupportBanner-infoDescriptionLink {
  text-decoration:underline;
  color:rgba(white, .5);
  &:hover { color:white }
}
