@import "../new_variables/sizes";

// Center the content within the defined layout width
.u-inner {
  width: $sLayout-width;
  margin: 0 auto;
}

.u-ellipsLongText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
