<% if (tagsCount > 0) { %>
  <div class="DefaultTags">
    <% for (var i = 0, l = Math.min(3, tags.length); i<l; i++) { %>
      <a class="DefaultTags-item js-tag-link" href="<%- router.currentUrl({ search: ':'+ tags[i], page: 1 }) %>"><%- tags[i] %></a><% if (i != (l-1)) { %>,<% } %>
    <% } %>
    <% if (tagsCount > 3) { %>
      and <%- tagsCount - 3%> more
    <% } %>
  </div>
<% } else { %>
  <% if (editable) { %>
    <button class="CDB-Text CDB-Size-medium u-actionTextColor js-add-btn">Add tags...</button>
    <input type="text" class="EditableField-input js-field-input"></input>
  <% } else { %>
    <div class="DefaultTags">
      <span class="NoResults">No tags</span>
    </div>
  <% } %>
<% } %>
