<% if (value.safeHTML) { %>
  <div class="DefaultDescription" title="<%- value.clean %>"><%= value.safeHTML %></div>
<% } else { %>
  <% if (editable) { %>
    <button class="CDB-Text CDB-Size-medium u-actionTextColor js-add-btn">Add description...</button>
    <textarea class="EditableField-input js-field-input" maxlength="<%- maxLength %>"></textarea>
  <% } else { %>
  <div class="DefaultDescription">
    <span class="NoResults">No description</span>
  </div>
  <% } %>
<% } %>
