<% if (value.safeHTML) { %>
  <div class="DefaultDescription CDB-Text CDB-Size-medium u-secondaryTextColor"  title="<%- value.clean %>"><%= value.safeHTML %></div>
<% } else { %>
  <% if (editable) { %>
    <button class="EditableField-button CDB-Text CDB-Size-medium u-actionTextColor js-add-btn">Add description...</button>
    <textarea class="EditableField-input CDB-Text CDB-Size-medium u-secondaryTextColor js-field-input" maxlength="<%- maxLength %>"></textarea>
  <% } else { %>
  <div class="DefaultDescription CDB-Text CDB-Size-medium u-altTextColor">
    <span class="NoResults">No description</span>
  </div>
  <% } %>
<% } %>


