<ul class="SettingsDropdown">
  <li class="SettingsDropdown-item SettingsDropdown-item--public">
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/industries/banking-and-finance/">Banking and Finance</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/industries/business-intelligence-and-analytics/">BI and Analytics</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/industries/government/">Government</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/industries/real-estate/">Real Estate</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/industries/web-mobile/">Web Development</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/industries/journalism/">Journalism</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/industries/natural-resources/">Natural Resources</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/industries/earth-observation-and-space/">Earth Observation</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/industries/non-profits/">Non-profits</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/industries/education-and-research/">Education</a></p>
  </li>
</ul>
