@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

// Components
// --------------------------------------------------

.PublicMap-map {
  position: relative;
  background: $cStructure-grayBkg;
  width: 100%;
  height: 400px;
}
.PublicMap-map.js-map:after {
  content: '';
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  background: rgba(#000, .25);
  bottom: 1px;
}
.PublicMap-block {
  display: block;
  overflow: auto;
}
.PublicMap-block.with-padding {
  padding-top: 40px;
}
.PublicMap-breadcrumb {
  border-bottom: 1px solid #ddd;
}
.PublicMap-leftBlock {
  float: left;
  width: 50%;
  max-width: 100%;
}
.PublicMap-leftBlock.PublicMap-leftBlock--large {
  width: 780px;
}
.PublicMap-rightBlock {
  float: right;
  width: 50%;
}
.PublicMap-description {
  font-size: 20px;
  font-weight: $sFontWeight-lighter;
  line-height: 32px;
  @include nicer-lato-typography();
}
.PublicMap-secondary {
  background: #f9f9f9;
}
.PublicMap-secondary,
.PublicMap-info {
  padding: 60px 0;
}
.PublicMap-title,
.PublicMap-description {
  margin-bottom: $sMargin-section;
  color: #333;
}
.PublicMap-meta {
  font-size: $sFontSize-large;
  color: #aaa;
}
.PublicMap-metaList {
  display: inline-block;
  margin-right: 30px;
}
.PublicMap-metaItem:last-child {
  margin-right: 0;
}
.PublicMap-metaItem {
  display: inline-block;
  margin-right: 30px;
}
.PublicMap-metaItem:last-child {
  margin-right: 0;
}
.PublicMap-metaLink {
  color: $cTypography-linkSecondary;
  text-decoration: none;
  transition: all .2s;
}
.PublicMap-metaLink:hover {
  color: $cTypography-linkSecondaryHover;
  text-decoration: none;
}
.PublicMap-metaIcon {
  margin-right: $sMargin-elementInline;
}
.PublicMap-secondaryTitle {
  padding: 20px 0;
  font-weight: $sFontWeight-normal;
  font-size: $sFontSize-normal;
  line-height: normal;
  color: $cTypography-headers;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
.PublicMap-privateDatasets {
  margin-left: $sMargin-element;
  line-height: 40px;
  color: $cTypography-secondary;
}
.PublicMap-mapsList {
  padding-top: 10px;
}
// Navmenu
.Navmenu {
  position: relative;
  border-bottom: 1px solid $cStructure-mainLine;
  overflow: hidden;
}
.Navmenu-list {
  display: inline-block;
  margin-top: 5px;
  height: 76px;
}
.Navmenu-list:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%;
}
.Navmenu-list.Navmenu-list--avatar {
  margin-right: $sMargin-section;
}
.Navmenu-item {
  margin-right: $sMargin-group;
}
.Navmenu-subItem {
  margin-left: $sMargin-group;
}
.Navmenu-item.Navmenu-item.last-child,
.Navmenu-item.Navmenu-item:last-child {
  margin-right: 0;
}
.Navmenu-subItem.Navmenu-subItem:first-child {
  margin-left: 0;
}
.Navmenu-item.Navmenu-item--withArrow {
  margin-right: $sMargin-section;
}
.Navmenu-item,
.Navmenu-subItem {
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
}
.Navmenu-rarrow {
  margin-left: -20px;
  margin-right: 20px;
  width: 2px;
  height: 9px;
  font-size: 9px;
  color: $cNavmenu-arrow;
}
.Navmenu-link {
  color: $cTypography-linkSecondary;
  transition: all .2s;
}
.Navmenu-link:hover {
  color: $cTypography-linkSecondaryHover;
  text-decoration: none;
}
.Navmenu-icon {
  font-size: $sFontSize-largest;
  color: $cTypography-linkSecondaryHover;
  transition: all .2s;
}
.Navmenu-icon:hover {
  color: $cTypography-linkSecondary;
}
.Navmenu-icon.Navmenu-icon--twitter {
  position: relative;
  top: -2px;
  font-size: 22px;
}
.Navmenu-editLink {
  display: none;
  vertical-align: middle;
  width: auto;
  text-align: center;
  color: $cNavButton-default;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: $sFontWeight-normal;
  border: 1px solid $cNavButton-default;
  height: 36px;
  line-height: 36px;
}
.Navmenu-editLink.Navmenu-editLink--edit {
  margin-left: $sMargin-section;
  border-color: #0090d7;
  color: #fff;
}
.Navmenu-editLink.Navmenu-editLink--more {
  width: 100%;
  padding: 0 16px;
  border-radius: 28px;
  margin-top: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.Navmenu-editLink.Navmenu-editLink--more:hover {
  border-color: $cNavButton-active;
  color: $cNavButton-active;
}
.Navmenu-editLink:hover {
  text-decoration: none;
}
.Navmenu-editLink.is-active {
  display: inline-block;
}
.Navmenu-share {
  display: inline-block;
  vertical-align: middle;
}
.Navmenu-shareLink {
  display: none;
  margin-right: $sMargin-elementInline;
}
.Navmenu-shareList {
  display: inline-block;
  margin-left: $sMargin-elementInline;
  transition: all .2s;
}
.Navmenu-shareList.is-active {
  margin-top: 0;
  width: 100%;
}
.Navmenu-closeLink {
  position: relative;
  top: -2px;
  margin-right: $sMargin-elementInline;
}
@media (min-width: $sMedia-desktop +1) {
  .PublicMap-metaList.PublicMap-metaList--mobile {
    display: inline-block !important;
  }
}
@media (max-width: $sMedia-desktop) {
  .Navmenu-shareLink {
    display: inline-block;
  }
  .Navmenu-shareList {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    margin-top: 76px;
    height: 76px;
    background: #fff;
  }
  .Navmenu-list.Navmenu-list--avatar {
    margin-right: $sMargin-element;
  }
  .Navmenu-editLink {
    display: block;
  }
  .PublicMap-metaList {
    display: block;
    width: 100%;
  }
  .PublicMap-metaList + .PublicMap-metaList {
    border-top: 1px solid #ddd;
  }
  .PublicMap-metaItem {
    padding: 20px 0;
    width: 100%;
  }
  .PublicMap-metaList.PublicMap-metaList--mobile {
    display: none;
  }
  .PublicMap-metaList.PublicMap-metaList--mobile .PublicMap-metaItem {
    border-top: 1px solid #ddd;
  }
  .PublicMap-metaList.PublicMap-metaList--mobile .PublicMap-metaItem:first-child {
    border-top: 0;
  }
  .DatasetsList-itemMeta {
    float: right;
  }
}
