/**
 * embed map
 */
 
@import "compass/reset";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/inline-block";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "../common/vars";
@import "../common/fonts";
@import "../plugins/tipsy";
@import "../common/mixins";

html, body {height: 100%; padding: 0; margin: 0;}

body.public-map { min-width:inherit }

#map { 
  @include opacity(0);
  height: 100%;
  padding: 0;
  margin: 0;
  height:627px\9; *height:627px; /* IE7 and below */
}

.cartodb-overlay .content a { text-decoration:underline; }

.cartodb-text {position:absolute; display:none; bottom:0; left:0; right:0; margin:0; padding:0 10px; background:white; font:normal 11px $text-fonts2; color:#999999; border-top:1px solid #CCC; border-top:1px solid rgba(0,0,0,0); box-shadow:rgba(0,0,0,0.6) 0 0 1px 0; -webkit-box-shadow:rgba(0,0,0,0.6) 0 0 1px 0; -moz-box-shadow:rgba(0,0,0,0.6) 0 0 1px 0; -o-box-shadow:rgba(0,0,0,0.6) 0 0 1px 0; line-height:29px; z-index:2; }
.cartodb-text a {color:#397DB8; text-decoration:underline;}

.cartodb-header  { line-height: 0; }
.cartodb-header .content { display:none; line-height: normal; }
.cartodb-mobile.with-header .cartodb-header .content,
.cartodb-mobile.with-search .cartodb-header .content,
.cartodb-mobile.with-layers .cartodb-header .content { 
  display:block!Important;
}

.cartodb-header .cartodb-slides-controller {
  background: none;
}

.cartodb-mobile .cartodb-header .content .fullscreen,
.cartodb-mobile.with-header.with-fullscreen .cartodb-header .content .fullscreen {
  @include border-radius(0 0 5px 0);
  border: none;
}
.cartodb-mobile .cartodb-header .content .toggle,
.cartodb-mobile.with-header.with-layers .cartodb-header .content .toggle {
  @include border-radius(0 0 0 5px);
  border: none;
}

.cartodb-map-wrapper .cartodb-mobile.with-zoom.with-header .cartodb-zoom {
  top: 0;
}
.cartodb-map-wrapper .cartodb-mobile.with-zoom.with-header.with-fullscreen .cartodb-zoom {
  top: 60px;
}
.cartodb-mobile.with-header .hgroup {
  display:none;
}
.cartodb-mobile.with-header.with-layers .cartodb-header .content .toggle {
 background-color: rgba(0,0,0,0.5); 
}
.cartodb-mobile.with-header.with-fullscreen .cartodb-header .content .fullscreen {
 background-color: rgba(0,0,0,0.5); 
}

