<div class="Dialog-header Dialog-header--expanded CreateDialog-header">
  <ul class="CreateDialog-headerSteps">
    <li class="CreateDialog-headerStep is-selected">
      <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
        <i class="iconFont iconFont-Add"></i>
      </div>
      <p class="Dialog-headerTitle">Add a new layer</p>
      <p class="Dialog-headerText">Select an existing dataset or connect a new one</p>
    </li>
  </ul>
</div>

<div class="js-content-container Dialog-body Dialog-body--expanded Dialog-body--create"></div>

<div class="Dialog-footer Dialog-footer--expanded CreateDialog-footer js-footer"></div>
