<div class="Dialog-header Dialog-header--expanded CreateDialog-header">
  <ul class="CreateDialog-headerSteps">
    <li class="CreateDialog-headerStep is-selected">
      <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
        <i class="iconFont iconFont-Marker"></i>
      </div>
      <p class="Dialog-headerTitle">Select a <%- kind %> image</p>
      <p class="Dialog-headerText">Upload your icons or just use our nice selection.</p>
    </li>
  </ul>
</div>
<div class="js-content-container Dialog-body Dialog-body--expanded Dialog-body--create">
  <div class="Filters Filters--navListing js-navigation"></div>
  <div class="AssetsContent Dialog-bodyInnerExpandedWithSubFooter"></div>
</div>

<div class="Dialog-footer Dialog-footer--expanded CreateDialog-footer js-footer"></div>
