<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--main">
    <i class="iconFont iconFont-FountainPen"></i>
  </div>

  <p class="Dialog-headerTitle">Start by adding points, lines or polygons.</p>
  <p class="Dialog-headerText Dialog-headerText--ellipsis Dialog-headerText--centered Dialog-headerText--small ">Select the geometry type that you want to have in "<%= name %>"</p>
</div>

<div class="Dialog-body u-inner OptionCards">
  <div class="Dialog-Stretcher Dialog-Stretcher--small">
    <button class="OptionCard js-option" data-type="point">
      <div class="OptionCard-icon IllustrationIcon IllustrationIcon--geometryPoint"></div>
      <div class="OptionCard-title">Add points</div>
      <div class="OptionCard-desc">Specially i f you are thinking on POI's and concreet places</div>
    </button>
    <button class="OptionCard js-option" data-type="line">
      <div class="OptionCard-icon IllustrationIcon IllustrationIcon--geometryLine"></div>
      <div class="OptionCard-title">Add lines</div>
      <div class="OptionCard-desc">Perfect for roads, rivers or tracks</div>
    </button>
    <button class="OptionCard js-option" data-type="polygon">
      <div class="OptionCard-icon IllustrationIcon IllustrationIcon--geometryPolygon"></div>
      <div class="OptionCard-title">Add polygons</div>
      <div class="OptionCard-desc">Perfect for roads, rivers or tracks</div>
    </button>
  </div>
</div>

<div class="Dialog-footer Dialog-footer Dialog-footer--simple u-inner">
  <button class="Button Button--secondary ok js-skip">
    <span>Skip</span>
  </button>
</div>
