<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="CDB-IconFont CDB-IconFont-fountainPen"></i>
  </div>

  <p class="Dialog-headerTitle">Start by adding points, lines or polygons.</p>
  <p class="Dialog-headerText Dialog-headerText--ellipsis Dialog-headerText--centered Dialog-headerText--small ">Select the geometry type that you want to have in "<%- name %>"</p>
</div>

<div class="Dialog-body u-inner OptionCards">
  <div class="Dialog-Stretcher Dialog-Stretcher--small">
    <div class="OptionCard js-option" data-type="point">
      <div class="OptionCard-icon IllustrationIcon IllustrationIcon--geometryPoint"></div>
      <div class="CDB-Text CDB-Size-large u-mainTextColor u-bSpace--m">Add points</div>
      <div class="CDB-Text CDB-Size-medium u-altTextColor">Useful to mark POIs or specific places</div>
    </div>
    <div class="OptionCard js-option" data-type="line">
      <div class="OptionCard-icon IllustrationIcon IllustrationIcon--geometryLine"></div>
      <div class="CDB-Text CDB-Size-large u-mainTextColor u-bSpace--m">Add lines</div>
      <div class="CDB-Text CDB-Size-medium u-altTextColor">Perfect for representing roads, rivers or tracks</div>
    </div>
    <div class="OptionCard js-option" data-type="polygon">
      <div class="OptionCard-icon IllustrationIcon IllustrationIcon--geometryPolygon"></div>
      <div class="CDB-Text CDB-Size-large u-mainTextColor u-bSpace--m">Add polygons</div>
      <div class="CDB-Text CDB-Size-medium u-altTextColor">Great for mapping buildings or other kinds of areas</div>
    </div>
  </div>
</div>

<div class="Dialog-footer Dialog-footer Dialog-footer--simple u-inner">
  <% if (skipDisabled) { %>
  <button class="Button Button--secondary close">
    <span>Close</span>
  </button>
  <% } else { %>
  <button class="Button Button--secondary ok js-skip">
    <span>Skip</span>
  </button>
  <% } %>
</div>
