<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--positive">
    <i class="iconFont iconFont-Map"></i>
  </div>
  <p class="Dialog-headerTitle">Sync Table options</p>
  <p class="Dialog-headerText">Your table is in Sync with a <%= service %> file: <%= url %></p>
</div>
<div class="Dialog-body">
  <form class="Form js-form">
    <div class="Form-row">
      <div class="Form-rowLabel">
        <label class="Form-label">Sync my data</label>
      </div>
      <div class="Form-rowData Form-rowData--longer js-intervals">
      </div>
    </div>
  </form>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="Button Button--positive ok">
    <span>Settings</span>
  </button>
</div>

