<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--main">
    <i class="iconFont iconFont-Alarm"></i>
  </div>
  <p class="Dialog-headerTitle">Sync Table options</p>
  <p class="Dialog-headerText Dialog-headerText--ellipsis Dialog-headerText--centered Dialog-headerText--small ">Your table is in sync with a <%= service %> file: <%= url %></p>
</div>
<div class="Dialog-body Dialog-body--small">
  <div class="Form-row">
    <div class="Form-rowLabel Form-rowLabel--leftAligned">
      <label class="Form-label Form-label--large">Sync my data</label>
    </div>
    <div class="Form-rowData Form-rowData--noMargin Form-rowData--full">
      <ul class="DatasetSelected-syncOptionsList SyncDialogDatasetSelected-syncOptionsList js-intervals"></ul>
    </div>
  </div>
</div>

<div class="Dialog-footer Dialog-footer--small Dialog-footer Dialog-footer--simple u-inner">
  <button class="Button Button--secondary ok">
    <span>Save settings</span>
  </button>
</div>
