<% content_for :title do %><%= @user.username %> email validation<% end %>

<div class="Sessions CDB-Text">
  <div class="Sessions-content">
    <div class="Sessions-inner">
      <div class="u-inner">
        <div class="Sessions-center Sessions--centered">
          <div class="Sessions-logoContainer">
            <picture class="Navbar-brand">
              <%= image_tag("layout/carto-logo-darkblue.svg", :alt => "CARTO") %>
            </picture>
          </div>

          <div class="js-info">
            <h1 class="Sessions-title u-tspace-m">New validation email sent</h1>
            <p class="Sessions-description">We have just sent a new account validation email, please check your inbox.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
