<div class="CDB-Text Dialog-header MamufasDialog-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="CDB-IconFont CDB-IconFont-step"></i>
  </div>
  <p class="Dialog-headerTitle">Drag and drop your data to this window</p>
  <p class="Dialog-headerText">Drop your file to connect a new dataset.</p>
</div>
<div class="Dialog-body Dialog-body--expanded MamufasDialog-body">
  <div class="MamufasDialog-dropZone">
    <i class="CDB-IconFont CDB-IconFont-addDocument MamufasDialog-dropZoneIcon"></i>
  </div>
</div>
<div class="CDB-Text Dialog-footer Dialog-footer--expanded MamufasDialog-footer">
  <p class="MamufasDialog-footerInfo">
    <i class="CDB-IconFont CDB-IconFont-info MamufasDialog-footerInfoIcon"></i>
    Files like CSV, GPX, XLS and many more are supported
  </p>
</div>
