<div class="Filters Filters-explore">
  <div class="u-inner">
    <div class="Filters-inner">
      <div class="Filters-row">
        <div class="Filters-type"></div>
        <div class="Filters-order">
          <span>
            Order by
          </span>
          <ul class="Filters-list">
            <li class="Filters-orderItem">
              <a data-title="likes" class="js-order-link Filters-orderLink Filters-orderLink--heart js-likes is-selected" href="#/likes">
                <i class="iconFont iconFont-Heart--empty"></i>
              </a>
            </li>
            <li class="Filters-orderItem">
              <a data-title="visits" class="js-order-link Filters-orderLink Filters-orderLink--graph js-mapviews " href="#/views">
                <i class="iconFont iconFont-Stats"></i>
              </a>
            </li>
            <li class="Filters-orderItem">
              <a data-title="date" class="js-order-link Filters-orderLink Filters-orderLink--clock js-updated_at" href="#/time">
                <i class="iconFont iconFont-Clock"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div><div class="Explore-inner">
  <div class="Explore-feed">
    <div class="Explore-content">
      <div class="FeedMast is-hidden js-mast">
        <div class="FeedMast-ball FeedMast-ball--top"></div>
        <div class="FeedMast-ball FeedMast-ball--bottom"></div>
      </div>
      <ul class="ExploreFeedList js-items"></ul>
    </div>
    <button class="Button Button--loadMore Button--centered is-transparent js-more">View more</button>
  </div>
</div>

