<div class="ImportPanel">
  <div class="ImportPanel-header">
    <h3 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">Insert your TileJSON URL</h3>
  </div>
  <div class="Form-row">
    <div class="Form-rowLabel">
      <label class="Form-label">Enter a URL</label>
    </div>
    <div class="Form-rowData Form-rowData--longer">
      <input type="text" class="Form-input Form-input--longer has-icon js-url" value="" placeholder="E.g. http://domain.com/tiles.json?foo=bar">
      <i class="CDB-IconFont CDB-IconFont-dribbble Form-inputIcon js-idle"></i>
      <i class="Spinner Spinner--formIcon Form-inputIcon js-validating" style="display: none;"></i>
      <div class="Form-inputError js-error"></div>
    </div>
  </div>
</div>
<div class="Dialog-footer Dialog-footer--withoutBorder u-inner">
  <%/* ok class == let parent dialog view handle the click event */%>
  <button class="ok Button Button--main Button--inline is-disabled">
    <span>Add basemap</span>
  </button>
</div>
