<button class="js-date-picker DatePicker-dates DatePicker-dates--singleDate has-icon <% if (readOnly) { %> is-disabled <% } %>">
  <strong class="js-date-str"><%- date %></strong>
  <i class="CDB-IconFont CDB-IconFont-calendar DatePicker-datesIcon"></i>
</button>