@import "../variables/colors";
// Content controller
// 
// Main view for new dashboard, where maps or
// datasets results appear.
// --------------------------------------------------

.ContentController {
  background-color: $DarkGrey6;
  position: relative;
  display: block;
  min-height: 600px;
  margin: 0 auto;
  padding-top: 81px
}

.ContentController.on-boarding { 
  padding-top: 0;
  min-height: initial;
}
