@import "../variables/colors";
// Content controller
// 
// Main view for new dashboard, where maps or
// datasets results appear.
// --------------------------------------------------

.ContentController {
  background-color: $DarkGrey6;
  position: relative;
  display: flex;
  min-height: 600px;
  margin: 0 auto;
}

.ContentController.on-boarding { 
  padding-top: 0;
  min-height: initial;
}

.ContentController .ContentList { 
  float: left;
  flex: 1 1 0%;
  padding: 0 10px 0 10px;
}
