
  /*
   * Dashboard main styles
   */

  @import "../common/mixins";

  // !IMPORTANT
  // Dashboard blocks has to be 1026px
  // Default layout is now 960px (Defined in vars stylesheet)
  .inner { width:1026px; }

  // Main loader! :)
  .main_loader {
    position:relative;
    width: 100%;
    height: 500px;
    background: image-url('layout/bkg.jpg') repeat 0 0;

    i {
      @include absolute-center(38px, 16px);
      background:image-url("layout/loader_gray.gif") no-repeat 0 0;
    }
  }


