
  /**
   *  Styles for filter view in dashboard page
   *
   *  - Search form
   *  - Your visualizations/tables (if user belongs to a organization)
   *  - Your shared visualizations/tables (if user belongs to a organization)
   *
   */

  @import "compass/css3/images";
  @import "compass/css3/inline-block";
  @import "compass/css3/opacity";
  @import "../common/mixins";
  @import "../common/common-sprite";
  @import "../common/vars";


  article.filter-view {
    position:relative;
    display:block;


    div.inner {
      position:absolute;
      top:0;
      left:50%;
      margin-left:-513px;
      z-index:1;

      // Border-bottom
      &:before {
        content:'';
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        height:1px;
        background:#E1E1E1;
        width:100%;
        z-index:0;
      }
    }

    ul {
      @include display-flex();
      @include cross-browser(justify-content, flex-start);
      @include cross-browser(align-items, center);
      @include cross-browser(flex-wrap, wrap);

      li {
        position:relative;
        width:304px;
        letter-spacing:0;

        // Left border
        &:after {
          content:'';
          position:absolute;
          right:0;
          top:9px;
          bottom:9px;
          width:1px;
          background:#E2E2E2;
        }

        &:last-child,
        &:first-child { width:290px }

        &:last-child {
          padding-left:37px;
          &:after { display:none }
        }
      }

      a {
        display:block;
        line-height:47px;
        text-align:center;
        font-size:13px;
        border-bottom:2px solid transparent;
        z-index:1;

        // Hover state
        &:hover { color:#666 }

        // Selected state
        &.selected {
          color:#666666;
          border-color:#555555;
          &:hover {
            text-decoration:none;
            cursor:default;
          }
        }
      }
    }

  }

  // Search filter
  .search-filter {
  
    form {
      @include display-flex();
      @include cross-browser(justify-content, flex-start);
      @include cross-browser(align-items, center);
      @include cross-browser(flex-wrap, wrap);

      input[type="text"] {
        @include cross-browser(flex-grow,10);
        width: auto;
        border:none;
        background:none;
        outline:none;

        font-size: 13px;
        font-family: $text-fonts2;
        letter-spacing:0;

        &::-webkit-input-placeholder { font-style: italic; color: #98BAD7; }
        &:-moz-placeholder           { font-style: italic; color: #98BAD7; }
        &::-moz-placeholder          { font-style: italic; color: #98BAD7; }
        &:-ms-input-placeholder      { font-style: italic; color: #98BAD7; }
      }
    }

    i {
      position:relative;
      @include cross-browser(flex-grow,0);
      @include size(15px);
      @include common-sprite(lens_blue);
    }
  }


  // Tags filter  
  .tags-filter {

    a.filter {
      position:absolute;
      top: 11px;
      right:0;
      color: #333;
      font-size: 13px;
      font-weight:bold;
      border: 1px solid #B0B0B0;
      padding: 5px 18px 5px 10px;
      @include border-radius(3px);
      background: #f9f9f9;
      letter-spacing:0;
      @include background(linear-gradient(#f9f9f9 0%,#f9f9f9 24%,#f0f0f0 86%,#f0f0f0 100%));

      &.selected {
        background: #cacaca;
        @include background(linear-gradient(#cacaca, #e9e9e9 5%, #eeeeee 10%, #f9f9f9 86%,#f9f9f9 90%,#f2f2f2 95%,#cacaca 100%));
      }

      &:hover { text-decoration:none; }

      &:after {
        top: 11px;
        left: 87%;
        content: ' ';
        position:absolute;
        width: 0;
        height: 0;
        border-left:3px solid transparent;
        border-right:3px solid transparent;
        border-top:3px solid #888888;
      }

    }
  }

  // Tag filter dropdown
  .dropdown.tag_dropdown {
    width: 154px!important;

    ul {
      max-height: 280px;
      overflow-x: visible;
      overflow-y: auto;

      li {
        padding: 10px 10px 12px 10px;

        &:hover {
          background:$cWhite;
          a { color:#333; }
        }

        a {
          font-size:13px;
          padding: 5px;
          color:$cBlue;

          border-radius:2px;

          &:hover {
            color:$cBlue;
            background:#f1f1f1;
          }

          &.selected {
            color:$cWhite;
            background:$cBlue;

          }
        }
      }
    }
  }
