@import "compass/css3/inline-block";
@import "dashboard-sprite";

.LikeButton:hover {
  text-decoration: none;
  color: #D62C6A;
}
.LikeButton:hover .LikeButton-counter {
  text-decoration: none;
  color: #D62C6A;
}
.LikeButton:hover .LikeButton-icon {
  text-decoration: none;
  background: image-url("sprites/dashboard/heart_highlighted.png") no-repeat;
  -webkit-transform: scale(.7);
  -ms-transform: scale(.7);
  transform: scale(.7);
  background-size: 16px 14px;
}
.LikeButton-counter {
  font: 300 11px "Helvetica",Arial,sans-serif;
  color: #87878a;
}
.LikeButton--highlighted .LikeButton-counter {
  color: #D62C6A;
}
.LikeButton .LikeButton-icon {
  @include inline-block();
  position:relative;
  top: -1px;
  width: 16px;
  height: 14px;
  margin: 0 2px 0 0;
  background: image-url("sprites/dashboard/heart.png") no-repeat;
  -webkit-transform: scale(.7);
  -ms-transform: scale(.7);
  transform: scale(.7);
  background-size: 16px 14px;
}
.LikeButton--highlighted .LikeButton-icon {
  background: image-url("sprites/dashboard/heart_highlighted.png") no-repeat;
  -webkit-transform: scale(.7);
  -ms-transform: scale(.7);
  transform: scale(.7);
  background-size: 16px 14px;
}
.LikeButton-icon.is-animated {
  -ms-animation-duration: 250ms;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
  }
}
.LikeButton-icon.is-pulsating {
  -webkit-animation-name: pulse;
  -ms-animation-name: pulse;
  animation-name: pulse;
}
