@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

// Mamufas dialog styles

.MamufasDialog {}
.MamufasDialog .Dialog-headerIcon {
  margin-bottom: 12px;
  line-height: 41px;
}
.MamufasDialog .Dialog-headerIcon .iconFont-Step { font-size: 24px }
.MamufasDialog .Dialog-headerTitle { font-size: $sFontSize-larger }
.MamufasDialog .Dialog-headerText { font-size: 14px }
.MamufasDialog-body {
  @include display-flex();
  @include flex-direction(column);
  width: 100%;
  padding: 40px 0;
}
.MamufasDialog .MamufasDialog-dropZone {
  position: relative; 
  width: 940px;
  @include flex-grow(100);
  margin: 0 auto 50px;
  border: 2px dashed $cStructure-mainLine;
  border-radius: 4px;
}
.MamufasDialog-dropZoneIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -26px;
  margin-top: -30px;
  color: $cTypography-help;
  font-size: 60px;
}
.MamufasDialog-footer {
  border-top: none;
  text-align: center;
}
.MamufasDialog-footerInfo {
  color: $cTypography-secondary;
  font-size: $sFontSize-large;
  font-weight: $sFontWeight-lighter;
}
.MamufasDialog-footerInfoIcon {
  width: 20px;
  height: 20px;
  background-color: #F6D35C;
  border: 1px solid #F2C000;
  text-align: center;
  line-height: 20px;
  font-size: $sFontSize-normal;
  font-weight: $sFontWeight-normal;
  border-radius: 20px;
  color: white;
}