
/**
 *  New visualization dialog styles
 */

@import "compass/css3/border-radius";
@import "compass/css3/inline-block";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "../common/common-sprite";
@import "../common/mixins";

.new_visualization_dialog {
  width: 200px;

  p { margin: 0 0 20px 0; }
  .hidden { display: none; }

  .cancel { display:none; }

  .tables {

    width: 383px;
    list-style:none;

    li {
      display:none;

      padding:12px;
      margin: 0 0 5px 0;
      background:#F2F2F2;
      @include border-radius(6px);
      font-weight:bold;

      .remove {
        float: right;
        @include common-sprite(close_grey);
        @include size(13px);

        &:hover { @include common-sprite(close_grey, $offset_y:-13px); }
      }
    }
  }

  .scrollpane {
    overflow: hidden;
    outline:none;
    max-height: 154px;

    &:hover .jspVerticalBar { @include opacity(1); }

    .jspContainer { overflow: hidden; position: relative; }
    .jspPane { position: absolute; }
    .jspVerticalBar   { @include simple-transition(opacity, 150ms); @include opacity(0); position: absolute; top: 0; right: 7px; width: 5px; height: 100%; background: none; z-index: 20; }
    .jspVerticalBar * { margin: 0; padding: 0; }
    .jspCap { display: none; }
    .jspTrack { background: none; position: relative; }
    .jspDrag { background: rgba(#BBB, .5); @include border-radius(5px); position: relative; top: 0; left: 0; cursor: pointer; }
    .jspArrow { background: none; text-indent: -20000px; display: block; cursor: pointer; }
    .jspVerticalBar .jspArrow { height: 10px; }
    .jspVerticalBar .jspArrow:focus { outline: none; }
    .jspCorner { background: #eeeef4; float: left; height: 100%; }

  }
  .loader {
    &.hidden { display:none; }

    display:block;
    @include absolute-landscape-center(38px);
    @include size(38px, 16px);
    background:image-url("layout/loader.gif") no-repeat 0 0;
  }

  .combo_wrapper {

    &.disabled {
      .tableListCombo { @include opacity(.3); }
      .add { @include opacity(.3); }
      .add:hover { text-decoration: none; }
    }

    padding:12px;
    background:#F2F2F2;
    @include border-radius(6px);

    .tableListCombo {
      margin: 0 3px 0 0;
    }

    .tableListCombo, .add {
      @include inline-block();
    }

    .add {
      padding: 3px 8px;
      font-size: 13px;
      font-weight: bold;
      color:#333;
      border: 1px solid #9E9E9E;
      @include border-radius(3px);

      background-color: #fff;
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
      background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
      background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
      background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
      background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
      background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);

    }
  }

}
