
  /*
   *  Tables and visualizations paginator styles
   */

  @import "compass/css3/border-radius";
  @import "compass/css3/inline-block";
  @import "compass/css3/images";
  @import "../common/mixins";
  @import "../common/vars";
  @import "../dashboard/dashboard-sprite";

  // Block
  .tables .content .paginator,
  section.visualizations .paginator {
    position:relative;
    @include display-flex();
    @include justify-content(space-between, justify);
    @include align-items(center, center);
    margin:10px 22px 0;
    padding:12px 0;
    letter-spacing:0;
    border-top:1px solid #E2E2E2;
    border-bottom:1px solid #E2E2E2;

    .dropdown {
      display:block;
      position:relative;
    }

    .paginator_filter {
      position:relative;
      color: #333;
      font-size: 13px;
      font-weight:bold;
      border: 1px solid #B0B0B0;
      text-align:left;
      padding: 4px 17px 4px 9px;
      margin: 0 5px 0 0;
      @include border-radius(3px);

      background: #f9f9f9; /* Old browsers */
      background: -moz-linear-gradient(top,  #f9f9f9 0%, #f9f9f9 24%, #f0f0f0 86%, #f0f0f0 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(24%,#f9f9f9), color-stop(86%,#f0f0f0), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f9f9f9 24%,#f0f0f0 86%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #f9f9f9 0%,#f9f9f9 24%,#f0f0f0 86%,#f0f0f0 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #f9f9f9 0%,#f9f9f9 24%,#f0f0f0 86%,#f0f0f0 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #f9f9f9 0%,#f9f9f9 24%,#f0f0f0 86%,#f0f0f0 100%); /* W3C */

      &.selected {
        background: #cacaca; /* Old browsers */
        background: -moz-linear-gradient(top,  #cacaca 0%, #e9e9e9 5%, #eeeeee 10%, #f9f9f9 86%, #f9f9f9 90%, #f2f2f2 95%, #cacaca 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cacaca), color-stop(5%,#e9e9e9), color-stop(10%,#eeeeee), color-stop(86%,#f9f9f9), color-stop(90%,#f9f9f9), color-stop(95%,#f2f2f2), color-stop(100%,#cacaca)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #cacaca 0%,#e9e9e9 5%,#eeeeee 10%,#f9f9f9 86%,#f9f9f9 90%,#f2f2f2 95%,#cacaca 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #cacaca 0%,#e9e9e9 5%,#eeeeee 10%,#f9f9f9 86%,#f9f9f9 90%,#f2f2f2 95%,#cacaca 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #cacaca 0%,#e9e9e9 5%,#eeeeee 10%,#f9f9f9 86%,#f9f9f9 90%,#f2f2f2 95%,#cacaca 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #cacaca 0%,#e9e9e9 5%,#eeeeee 10%,#f9f9f9 86%,#f9f9f9 90%,#f2f2f2 95%,#cacaca 100%); /* W3C */
      }

      &:hover {
        text-decoration:none;
      }

      &:before {
        top: 7px;
        left: 66%;
        content: ' ';
        position:absolute;
        width: 0;
        height: 0;
        border-left:2px solid transparent;
        border-right:2px solid transparent;
        border-bottom:3px solid #888888;
      }
      &:after {
        top: 12px;
        left: 66%;
        content: ' ';
        position:absolute;
        width: 0;
        height: 0;
        border-left:2px solid transparent;
        border-right:2px solid transparent;
        border-top:3px solid #888888;
      }

    }

    &.view_all {
      border-bottom: none;
      padding: 20px 0 10px 0;
    }

    &.empty { display:none }

    & > ul {

      li {
        @include inline-block();

        padding: 0;

        &:last-child { margin:0; }

        a {
          @include inline-block();

          &:hover { cursor:pointer; }

          &.button {
            padding: 3px 10px;
            font-size:13px;
            font-weight:bold;
            margin: 0 5px 0 0;

            i {
              display:block;
              @include size(100%);
            }

            &.prev, &.next { padding: 0; width: 28px; height: 21px; }

            &.prev {
              margin: 0 5px 0 0;
              i { @include dashboard-sprite(paginator_arrows, $offset-x: 12px, $offset-y:7px); }
            }

            &.next {
              margin: 0;
              i { @include dashboard-sprite(paginator_arrows, $offset-x: 13px, $offset-y:-11px); }
            }

          }

          &.selected:hover {
            cursor:default;
          }

        }
      }
    }
  }



  // Dropdown paginator!
  .dropdown.paginator {

    &.tick_right:before {right:10px;}
    &.border.tick_right:after  {right:10px;}

    ul {

      li {
        padding: 5px;

        &:hover {
          background:$cWhite;
          a { color:#333; }
        }

        a {
          font-size:13px;
          color:$cBlue;

          padding: 5px;
          text-align: center;

          border-radius:2px;

          &:hover {
            color:$cBlue;
            background:#f1f1f1;
          }

          &.selected {
            color:$cWhite;
            background:$cBlue;
          }
        }
      }
    }
  }

  // Visualizations paginator
  section.visualizations .paginator {
    margin:10px 38px 0 0;
  }
