// Permission label
// --------------------------------------------------

@import "../variables/mixins";
@import "../variables/sizes";

$c: #E2DFDF; 

.PermissionIndicator {
  padding:0 10px;
  border:1px solid $c;
  border-radius: 28px;
  color:$c;
  font-size: $sFontSize-smaller;
  line-height: $sLineHeight-smaller;
  font-weight: $sFontWeight-normal;
  min-width: 25px;
}
