
  /**
   *  Default styles for tables and visualizations loader
   */

  @import "compass/css3/transform";
  @import "../common/mixins";
  @import "../common/vars";

  div.bar_loader {
    position:relative;
    display:block;
    width:100%;
    height:2px;
    background:transparent;
    overflow:hidden;

    &:before {
      content:'';
      position:absolute;
      display:none;
      top:0;
      width:600px;
      right:100%;
      height:2px;
      background: #82ABDA;
      @include animation(pulsate 1.5s linear infinite);      
    }

    &.active {
      &:before {
        display:block;
        right:0;
      }
    }
  }

  // Animation function
  @include keyframes(pulsate) {
    0% {right:100%;}
    50% {right:0%}
    100% {right:-100%}
  }