
  /**
   *  Default styles for table and visualization item
   */

  @import "compass/css3/border-radius";
  @import "compass/css3/inline-block";
  @import "compass/css3/transform";
  @import "../common/mixins";
  @import "../common/vars";


  
  .vis-item,
  .table-item {

    // Title and description
    h3 {
      font-size:17px;
      @include text-overflow();
      color:#AAA;

      a {
        color:#2483B4;
        font:bold 17px $title-fonts;
        @include transform-style("linear");
        @include transition-property("color");
        @include transition-duration(250ms);
      }
    }

    p {
      margin-top:5px;
      display:block;
      color:#999;
      font-size:13px;
    }

    // Components

    .round {
      height:auto;
      padding:2px 6px 1px;
      line-height:normal;
      font-weight:400;
      font-size:10px;
      border:1px solid black;
      @include border-radius(15px);

      @mixin round-type($color) {
        color: $color;
        border-color: $color;
      }

      &.grey {
        @include round-type(#BBB);
      }
    }

    img.avatar {
      width:18px;
      height:18px;
      background:#CCC;
      @include border-radius(18px); 
    }

    // Small texts

    // Tags
    .vis-tags,
    .table-tags {
      @include display-flex();
      
      a {
        @include size(auto, 13px);
        padding:2px 7px;
        margin-top:3px;
        font:normal 11px $text-fonts2;
        color:#666666;
        line-height:14px;
        background:#E1ECF5;
        @include border-radius(2px);
        border:1px solid #C7D1D9;

        &:hover { color:#333333; }
      }

      span.more {
        margin-left:5px;
        font-size:11px;
        color:#c3c3c3;
      }
    }


    ///////////
    // Icons //
    ///////////

    // Delete icon
    i.delete {
      position:relative;
      display:none;
      width:20px;
      height:20px;
      @include border-radius(3px);
      background:#E7E7E7;
      
      &:before, &:after {
        content:'';
        position:absolute;
        width:2px;
        height:8px;
        background:#888888;
        @include border-radius(2px);
        top:6px;
        left:9px;
      }

      &:before { @include transform(rotate(45deg)) }
      &:after { @include transform(rotate(-45deg)) }
      &:hover { background:#DEDEDE }
    }

    // Lock icon
    i.lock {
      position:relative;
      display:none;
      width:20px;
      height:20px;
      @include border-radius(3px);
      background:#E7E7E7;
      
      &:before {
        content:'';
        position:absolute;
      }

      &:before { 
        top:6px;
        left:7px;
        width:3px;
        height:6px;
        border:2px solid #888888;
        border-top:0;
        border-right:0;
      }
      &:hover { background:#DEDEDE }
    }

    // Unlock icon
    i.unlock {
      position:relative;
      display:none;
      width:20px;
      height:20px;
      @include border-radius(3px);
      background:#E7E7E7;
      
      &:before, &:after {
        content:'';
        position:absolute;
      }

      &:before { 
        top:6px;
        left:7px;
        width:3px;
        height:6px;
        border:2px solid #888888;
        border-top:0;
        border-right:0;
      }

      &:after {
        top:10px;
        left:5px;
        width:10px;
        height:1px;
        background:#CACACA;
        @include box-shadow(0 0 0 1px rgba(white,1));
        @include transform(rotate(-45deg));
        @include border-radius(5px);
      }

      &:hover { background:#DEDEDE }
    }

  }


  // Hover!
  .vis-item:hover,
  .table-item:hover {
    h3 {
      a {
        color:black;
        text-decoration:none;
      }
    }

    i.delete, i.lock, i.unlock { @include inline-block() }
    .table-order,
    .vis-order { display:inherit; }
  }