
  /**
   *  Styles when there is no tables screen (_start_tables view)
   */

   @import "compass/css3/inline-block";
   @import "compass/css3/border-radius";
   @import "compass/css3/transform";
   @import "compass/css3/transition";

  article.no_tables {

    div.head, div.foot {
      text-align:center;
    }

    div.content {
      padding:40px 0 0;
      background:#F5F5F5;

      // Video block
      div.video {
        position:relative;
        margin:0 auto 0;
        width:640px;
        height:360px;
        padding:8px;
        background:#333333;
        @include border-radius(5px);

        div.iframe {
          position:absolute;
          display:block;
          top:8px; right:8px; bottom:8px; left:8px;
          z-index:2;
        }
      }

      // Video options
      ul {
        display:block;
        height:155px;
        margin-top:40px;
        background:white;
        border-top:1px solid #E5E5E5;

        li {
          float:left;
          display:inline;
          width:340px;
          height:155px;
          border:none;
          border-right:1px solid #E5E5E5;
          text-align: center;

          h4 {
            display:block;
            font-size:17px;
            @include transform-style("linear");
            @include transition-property("color");
            @include transition-duration(500ms);
            color:#397DB8;
          }

          span {
            display:block;
            margin-top:10px;
            font-size:15px;
            color:#666666;
            line-height:18px;
          }

          // link
          a {
            position:relative;
            display:block;
            width:260px;
            height:90px;
            padding:35px 40px 30px;
            text-decoration:none;

            &:hover {
              h4 {color:#333333;}
            }

            &.selected {
              
              h4 {color:#333333; @include transition-duration(0ms);}
              
              &:before, &:after {
                content:'';
                position:absolute;
                top:-16px; left:50%;
                margin-left:-16px;
                border-left:solid 16px transparent;
                border-right:solid 16px transparent;
                z-index:1;
              }

              &:before {border-bottom:solid 16px #E5E5E5;}
              &:after {top:-15px; border-bottom:solid 16px white;}
              &:hover {cursor:default}
            }
          }

          &:last-child {border:none}
        }
      } // Video options
    }

    div.foot {
      padding-top:28px;
      padding-bottom:28px;



      a.create_new {
        @include inline-block();
        font-size:17px;
        font-weight:normal;
      }
    }
  }