

  /**
   * Table header content styles
   *
   *  - It contents the styles of the table/vis header
   *    (description, title, tags, options, ...)
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/border-radius";
  @import "compass/css3/images";
  @import "compass/css3/opacity";
  @import "../../old_common/mixins";
  @import "../../old_common/vars";
  @import "../../old_common/common-sprite";
  @import "../../table/table-sprite";
  @import "../variables/colors";
  @import "../variables/mixins";

  $text-shadow-color: rgba(black,0.25);


  .header_content {

    div.left {
      position:relative;
      width:65%;
      height:auto;
      margin-left:17px;
      z-index: 10;

      // Back button
      a.back {
        @include inline-block();
        width:14px;
        height:13px;
        margin:0;
        @include table-sprite(back);
        @include text-indent();
        @include opacity(.5);

        &:focus,&:hover {
          outline:none;
          @include opacity(1);
        }
      }

      // Vis type icon
      span.type {
        @include inline-block();
        vertical-align: middle;
        width:23px;
        height:18px;
        margin:2px 0 0 12px;
        text-indent:-9999px;
        &.table { @include table-sprite(vis_type, $offset-y:0); }
        &.derived { @include table-sprite(vis_type, $offset-y:-18) }
      }

      // Visualization title
      h1 {
        position:relative;
        margin:0;

        a {
          &.title {
            display:block;
            max-width:440px;
            width:auto;
            height:auto;
            margin:0 0 1px 8px;
            padding:0;
            font:500 1.313em $title-fonts2;
            color:white;
            @include text-overflow();
            white-space:nowrap;
            text-shadow:0 1px $text-shadow-color;
            background:none;
            text-indent:0;
            line-height:normal;
            text-transform: none;

            &.disabled {@include opacity(1)}
          }
          &.logo {
            margin:1px 0 0 24px;
          }
        }
      }

      // Public vis title
      h2 {
        width:auto;
        height:auto;
        margin:0 0 0 10px;
        padding:0;
        font:500 20px $title-fonts2;
        color:white;
        text-shadow:0 1px $text-shadow-color;
        letter-spacing:0;
        line-height:normal;

        &:before {
          content:'|';
          margin-right:10px;
          font-weight:300!important;
          text-shadow:none;
          color: rgba(white, 0.25);
        }
      }

      // Clear view button type
      a.button_header {
        margin:3px 0 0 10px;
        @include inline-block();
        &.clearview {display:none;}
      }

      // Metadata
      div.metadata {
        display:block;
        margin: 0 0 0 11px;
        width: 200px;

        p {
          @include inline-block();
          width:auto;
          font-size: 0.938em;
          font-weight:300;
          color: rgba(255, 255, 255, 0.5);
          font-style: italic;
          padding-left:15px;

          &.public { margin-left:116px }

          em { font-style: italic; }

          .link { text-decoration: none; }

          a {
            font-style:normal;
            font-weight:300;
            color: rgba(255, 255, 255, 0.5);
            &:hover { cursor:pointer; color:rgba(255, 255, 255, 1); }
            &.disabled {@include opacity(1)}
          }
        }
      }
    }

    // Actions list
    ul.actions {
      @include display-flex();
      @include justify-content(flex-start, start);
      @include align-items(center, center);
      height:28px;
      margin:0;

      li { margin:0; }

      .privacy {

        margin-left: 11px;

        &.public             i { background: rgba(#D0DDA5, .9) sprite( $table-sprites, lock_open,   $offset-x: 5px, $offset-y: 4px) no-repeat; }
        &.link_protected     i { background: rgba(#F7CB9E, .9) sprite( $table-sprites, lock_open_2, $offset-x: 5px, $offset-y: 4px) no-repeat; } // lock_open_2 (so the transition between open locks work)
        &.password_protected i { background: rgba(#F7CB9E, .9) sprite( $table-sprites, lock_key,    $offset-x: 5px, $offset-y: 4px) no-repeat; }
        &.organization       i { background: rgba(#F7CB9E, .9) sprite( $table-sprites, lock_user,   $offset-x: 5px, $offset-y: 4px) no-repeat; }
        &.private            i { background: rgba(#F2ACAC, .9) sprite( $table-sprites, lock_closed, $offset-x: 5px, $offset-y: 4px) no-repeat; }

        &.public:hover            i { background-color: rgba(#D0DDA5, 1); }
        &.link_protected:hover    i { background-color: rgba(#F7D0A8, 1); }
        &.password_protected:hoveri { background-color: rgba(#F7D0A8, 1); }
        &.organization:hover      i { background-color: rgba(#F7D0A8, 1); }
        &.private:hover           i { background-color: rgba(#F2ACAC, 1); }

        i {
          @include inline-block();
          margin: 0;
          height: 20px;
          background: rgba(#EEE, .8) sprite($table-sprites, lock_open, $offset-x: 5px, $offset-y: 4px) no-repeat;
          @include simple-transition(all, 150ms);
          @include border-radius(2px);

          &.disabled {
            @include opacity(0.5);
            &:hover { cursor:default }
          }
        }

      }
    }

    // Options menu
    ul.options {
      position:absolute;
      top:0;
      right: 0;
      width:auto;
      margin:5px 35px 0 0;

      li {
        position:relative;
        padding:0;
        margin:0;

        a.share {
	  @include actionButton;
          line-height:20px;
          span{
            @include inline-block();          
            font-size: 12px;
          }
        }

        &.dropdown { 
          padding-right: 12px; 
          @include bb_button_style; 
        }

        &:after {
          position:absolute;
          content:'';
          top:0px;
          right:0;
          margin:0;
          width: 1px;
          height: 16px;
        }

        &:last-child {
          margin-left: 15px;
          &:after { display:none; }
        }

        a {
          display: block;
          font-weight:300;
        }

      }
    }
  }
