
  /**
   *  Sync now modal
   */

  @import "compass/css3/images";

  
  .modal.syncing {
    display:block;
    padding:40px;

    div.loader {
      display:block;
      margin-top:10px;
      padding-top:40px;
      @include background(image-url('layout/loader.gif') no-repeat center top);
    }

    p { text-align:center }
  }