
  /**
   *  Table header sync block
   *
   *  - Only sync header table/vis styles.
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/border-radius";
  @import "compass/css3/images";
  @import "compass/css3/transition";
  @import "compass/css3/transform";
  @import "../../old_common/mixins";
  @import "../../old_common/vars";


  div.sync_info {
    position:absolute;
    display:block;
    bottom:0;
    left:0;
    right:0;
    padding:0 0 8px 43px;
    height:auto;
    z-index:1;

    &.failure {
      background: image-url('layout/sync_error_bkg.png') repeat-x 0 0;
      border-top:1px solid rgba(black, .2);
    }

    ul {
      position:relative;
      top:0;
      @include display-flex();
      @include align-items(center, center);
      @include justify-content(flex-start, start);
      height:20px;
      margin-top:0;

      li {
        position:relative;
        margin:0;
        padding:0 7px 0 0;

        &.separator {
          padding:0 7px 0 10px;
          
          &:before {
            content:'';
            position:absolute;
            display:block;
            top:50%;
            left:0;
            width:2px;
            height:2px;
            background:#365C82;
            @include border-radius(2px);
          }
        }
      }
    }

    div.circle {
      position:relative;
      @include inline-block();
      vertical-align:top;
      width:10px;
      height:10px;
      margin-top:3px;

      span.point {
        position:absolute;
        top:0;
        left:0;
        width:8px;
        height:8px;
        margin:0;
        padding:0;
        border:1px solid rgba(black,.5);
        @include border-radius(10px);
        @include background(linear-gradient(#C9FF26,#41B200));
        text-shadow:none;
        z-index:1;
      }

      span.pulse {
        position: absolute;
        left:-2px;
        top:-2px;
        height: 8px;
        width: 8px;
        @include animation(pulsate 1.5s ease-out infinite);
        border: 3px solid #BBB;
        @include border-radius(20px);
        opacity: 0.0;
        z-index:0;
      }

      &.syncing {
        span.point {
          @include background(linear-gradient(#FFFF73,#D9D900));
          border-color:rgba(black, .75);
        }
      }

      &.failure {
        span.point {
          @include background(linear-gradient(#FFFF4D,#D18400));
          border-color:rgba(black, .75);
        }
      }
    }

    p {
      font-size:13px;
      font-family:$text-fonts;
      font-weight:300;
      color:white;
      letter-spacing:0;
    }

    .light {color:rgba(white, .35)}

    a {
      font-size:13px;
      color:white;
      text-decoration:underline;
    }

  }




  // Animation function
  @include keyframes(pulsate) {
    0% {@include transform(scale(0.1, 0.1)); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {@include transform(scale(1.4, 1.4)); opacity: 0.0;}
  }