<div class="basemap_chooser">
  <div class="input">
    <div class="loader"></div>
    <span class="type"></span>
    <input type="text" name="url" value="" placeholder="<%- placeholder %>"/>
  </div>
  <div class="info error"><p><%- error %></p></div>
</div>
