<div class="custom">
  <ul>
    <li>Here</li>
    <li>
      <ul class="thumbs here"></ul>
    </li>
  </ul>
  <ul>
    <li>Gmaps</li>
    <li>
      <ul class="thumbs gmaps"></ul>
    </li>
  </ul>
  <ul>
    <li>CartoDB</li>
    <li>
      <ul class="thumbs cartodb"></ul>
    </li>
  </ul>
  <ul>
    <li>Yours</li>
    <li>
      <ul class="thumbs yours"></ul>
    </li>
  </ul>
</div>
