<div class="basemap_chooser basemap_chooser_mapbox">
  <div class="input">
    <div class="loader"></div>
    <span class="type"></span>
    <input type="text" name="url" value="" placeholder="<%- placeholder %>"/>
  </div>
  <div class="input access_token">
    <div class="loader"></div>
    <span class="type"></span>
    <input type="text" name="access_token" value="" placeholder="<%- placeholder_access_token %>"/>
  </div>
  <div class="info error"><p><%- error %></p></div>
</div>

