<div class="custom">
  <ul>
    <li>CartoDB</li>
    <li>
      <ul class="thumbs cartodb"></ul>
    </li>
  </ul>
  <% if (available_basemaps.here){ %>
  <ul>
    <li>Here</li>
    <li>
      <ul class="thumbs here"></ul>
    </li>
  </ul>
  <% } %>
  <% if (available_basemaps.stamen){ %>
  <ul>
    <li>Stamen</li>
    <li>
      <ul class="thumbs stamen"></ul>
    </li>
  </ul>
  <% } %>
  <ul>
    <li>Custom</li>
    <li>
      <ul class="thumbs custom"></ul>
    </li>
  </ul>
  <ul>
    <li>Yours</li>
    <li>
      <ul class="thumbs yours"></ul>
    </li>
  </ul>
</div>
