<div class="basemap_chooser">
  <div class="text">
    <p class="disclaimer">These base maps are provided by <a href="http://earthdata.nasa.gov/labs/worldview/" target="_blank">NASA Worldview</a>. Select a date from which you want a global basemap.</p>
  </div>
  <div class="input">
    <input type="text" class="url" readonly value="" />
    <div class="date"></div>
    <div class="type"></div>
  </div>
  <div class="info error"><p><%- error %></p></div>
</div>
