<div class="custom js-customBasemaps">
  <ul class="fixed_basemaps">
    <li>Custom</li>
    <li>
      <ul class="thumbs custom"></ul>
    </li>
  </ul>
  <% if (!googleMapsEnabled) { %>
  <ul>
    <li>Yours</li>
    <li>
      <ul class="thumbs yours"></ul>
    </li>
  </ul>
  <% } %>
</div>
