<div class="custom">
  <ul class="fixed_basemaps">
    <li>Custom</li>
    <li>
      <ul class="thumbs custom"></ul>
    </li>
  </ul>
  <ul>
    <li>Yours</li>
    <li>
      <ul class="thumbs yours"></ul>
    </li>
  </ul>
</div>
