<ul class="basemap-tabs">
  <li class="basemap-tab"><a href="#/xyz" class="zxy"><i></i>XYZ</a></li>
  <li class="basemap-tab"><a href="#/wms" class="wms"><i></i>WMS</a></li>
  <li class="basemap-tab"><a href="#/nasa" class="nasa"><i></i>NASA</a></li>
  <li class="basemap-tab"><a href="#/mapbox" class="mapbox">Mapbox</a></li>
</ul>
<div class="basemap-panes"></div>
