<a href='#/change-color' class='button plain color' title='click to change the map background color'>
  <div class='thumb' <% if (typeof color != "undefined" && color) { %>style='background-color:<%- color %>'<% } %>></div>
  <!--<div class='name'>-->
    <!--Color<% if (typeof color != "undefined" && color) { %>: <%- color %><% } %>-->
  <!--</div>-->
</a>
