<a href='#/change-pattern' class='button plain pattern' title='click to change the map background image'>
  <div class='thumb'
    <% if (typeof image != "undefined" && image) { %>
      style='background:url(<%- image %>) repeat 0 0; background-size:34px; background-position:50% 50%; background-color:transparent'
    <% } %>
  ></div>
  <!--<div class='name'>Image pattern</div>-->
</a>
