<div class="info <% if (switch_user_enabled) { %>disabled<% } %>">
  <% if (avatar_url) { %>
    <img src="<%= avatar_url %>" title="<%- username %>" alt="<%- username %>" />
  <% } %>
  <p class="ellipsis"><%- username %></p>
</div>
<div class="switches">
  <a href="#/can-write" class="checkbox small light canwrite">
    <span class="check"></span>
    Can write
  </a>
  <% if (switch_user_enabled) { %>
    <a href="#/enabled" class="switch disabled">
      <span class="handle"></span>
    </a>
  <% } %>
</div>