@import '../variables/sizes';
@import '../variables/mixins';

/* new infowindow */
.Cdb-infowindow {
  background: #fff;
  border-radius: 4px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .24);
  font-family: 'Open Sans';
}

.Cdb-infowindow-inner, .Cdb-infowindow-header-bg {
  padding: $sMargin-section;
}

.is-header .Cdb-infowindow-header-bg {
  padding-bottom: $sMargin-element;
}

.is-header .Cdb-infowindow-inner {
  padding-top: $sMargin-element;
}

.Cdb-infowindow-header {
  border-radius: 4px;
  overflow: hidden;
}

.is-header .Cdb-infowindow-header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Cdb-infowindow-subtitle {
  font-size: $sFontSize-smaller;
  font-weight: $sFontWeight-lighter;
  line-height: $sLineHeight-smaller;
} 

.Cdb-infowindow-title {
  font-size: $sFontSize-small;
  font-weight: $sFontWeight-semibold;
  line-height: $sLineHeight-small;
}

.is-scroll {
  padding-bottom: 24px;
  max-height: 200px;
  overflow: scroll;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 32px;
  }
}

.Cdb-infowindow-list-item {
  margin-top: 8px;
  &:first-child {
    margin-top: 0;
  }
}

.is-header .Cdb-infowindow-media-title {
  bottom: 12px;
}

.Cdb-infowindow-media-title {
  position: absolute;
  right: 24px;
  bottom: 24px;
  left: 24px;
}

.Cdb-infowindow-header-media {
  position: relative;
  overflow: hidden;
}

.Cdb-infowindow-media-item {
  display: block;
}


.Cdb-infowindow-header-media {

  .Cdb-infowindow-title > span {
    display: inline;
    padding: 2px 0;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 4px 0 0 rgba(0, 0, 0, .8), -4px 0 0 rgba(0, 0, 0, .8);
  }
  .Cdb-infowindow-subtitle {
    margin-bottom: 4px;
  }
  .Cdb-infowindow-subtitle > span {
    display: inline;
    padding: 2px 0;
    background-color: rgba(0, 0, 0, .64);
    box-shadow: 4px 0 0 rgba(0, 0, 0, .64), -4px 0 0 rgba(0, 0, 0, .64);
  }
}

.Cdb-hook {
  position: absolute;
  left: 20px;
  bottom: 0;
  z-index: 10;
}

.Cdb-hook:before {
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-right: 24px solid transparent;
  z-index: 3;
}

.Cdb-hook--green.Cdb-hook:before{
  border-top: 16px solid #98E0A8 !important;
}

.Cdb-hook--orange.Cdb-hook:before{
  border-top: 16px solid #E68165 !important;
}

.Cdb-hook:after {
  content:"";
  position: absolute;
  left: 0;
  top: 3px;
  width: 0;
  height: 0;
  border-top: 16px solid rgba(0, 0, 0, .14);
  border-right: 24px solid transparent;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  z-index: 2;
}

.is-header-image {

  .Cdb-hook:before {
    display: none;
  }

  .Cdb-hook-inner {
    position: absolute;
    height: 16px;
    width: 24px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    z-index: 3;
    background: #fff; 

    img {
      margin-left: -20px;
    }
  }
}