@import '../variables/sizes';
@import '../variables/mixins';

/* new infowindow */
.cartodb-infowindow {
  position: absolute;
}
.CDB-infowindow {
  position: relative;
  /* remove when fix the position */
  transform: translateY(-24px) translateX(4px);
  border-radius: 4px;
  background: #FFF;
  font-family: 'Open Sans';
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  cursor: default;
}
.CDB-infowindow-container {
  border-radius: 4px;
  overflow: hidden;
}
.CDB-infowindow-inner,
.CDB-infowindow-headerBg {
  padding: 20px 24px 18px;
}
.CDB-infowindow-inner.CDB-infowindow-inner--scroll .CDB-infowindow-list {
  max-height: 200px;
}
.is-header {
  .CDB-infowindow-headerBg {
    padding-bottom: 12px;
  }
  .CDB-infowindow-inner {
    padding-top: 12px;
  }
}
.CDB-infowindow-header .CDB-infowindow-tabs {
  margin: -20px -24px 18px;
}
.CDB-infowindow-subtitle {
  font-size: 9px;
  font-weight: $sFontWeight-lighter;
  line-height: $sLineHeight-smaller;
  text-transform: uppercase;
}
.CDB-infowindow-title {
  font-size: $sFontSize-small;
  font-weight: $sFontWeight-lighter;
  line-height: $sLineHeight-small;
}
.CDB-infowindow-link {
  width: 90%;
  display: inline-block;
  word-break: break-word;
  // TODO: add style for the hovers
}

.CDB-infowindow-inner.has-scroll {
  position: relative;
  padding-right: 12px;
}

.has-scroll .CDB-infowindow-list {
  position: relative;
  max-height: 200px;
  overflow: scroll;
}

.CDB-infowindow-listItem {
  margin-top: 8px;
  &:first-child {
    margin-top: 0;
  }
}

.CDB-infowindow-list .ps-scrollbar-y-rail {
  width: 1px !important; // Resets standard scroll track color
  opacity: 0.2 !important; // Resets standard scroll track color
  margin-right: 5px;
  background: #EEE;
  z-index: 3;
}

.CDB-infowindow-list .ps-scrollbar-y-rail > .ps-scrollbar-y {
  width: 5px !important; // Resets standard scroll track color
  margin: 0 -2px;
  padding: 0;
  transition: background-color 150ms ease-in-out !important;
  cursor: move;
}

.CDB-infowindow-list .ps-scrollbar-y-rail > .ps-scrollbar-y:hover {
  background: #888 !important;
}

.is-header .CDB-infowindow-mediaTitle {
  bottom: 12px;
}

.CDB-infowindow-mediaTitle {
  position: absolute;
  right: 24px;
  bottom: 24px;
  left: 24px;
}
.CDB-infowindow-headerMedia {
  position: relative;
  overflow: hidden;
  z-index: 1;
  .CDB-infowindow-title > span {
    display: inline;
    padding: 2px 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 4px 0 0 rgba(0, 0, 0, 0.8), -4px 0 0 rgba(0, 0, 0, 0.8);
  }
  .CDB-infowindow-subtitle {
    margin-bottom: 4px;
  }
  .CDB-infowindow-subtitle > span {
    display: inline;
    padding: 2px 0;
    background-color: rgba(0, 0, 0, 0.64);
    box-shadow: 4px 0 0 rgba(0, 0, 0, 0.64), -4px 0 0 rgba(0, 0, 0, 0.64);
  }
}
.CDB-infowindow-media-item {
  display: block;
  width: 100%;
}
.CDB-hook {
  position: absolute;
  bottom: 1px;
  left: 24px;
  z-index: 10;
}
.CDB-hook:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 24px solid transparent;
  content: '';
  z-index: 3;
}
.CDB-hook--green.CDB-hook:before {
  border-top: 16px solid #98E0A8 !important;
}
.CDB-hook--orange.CDB-hook:before {
  border-top: 16px solid #E68165 !important;
}
.CDB-hook:after,
.CDB-hook-image:after {
  position: absolute;
  top: 3px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 16px solid rgba(0, 0, 0, 0.14);
  border-right: 24px solid transparent;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  content: '';
  z-index: 2;
}
.CDB-infowindow.is-header-image .CDB-hook-image {
  position: absolute;
  left: 24px;
  width: 24px;
  height: 16px;
  z-index: 3;
  img {
    margin-left: -24px;
  }
}

.CDB-infowindow.is-header-image .CDB-hook-image-inner {
  -webkit-clip-path: polygon(0px 0px, 0px 100%, 100% 0px);
  clip-path: url(&quot;#clipPathPolygonGenId1&quot;);
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}

.CDB-infowindow-tabs {
  position: relative;
  width: auto;
  padding: 21px 24px 0;
  font-size: 10px;
  line-height: 14px;
  overflow: hidden;
}
.CDB-infowindow-tabsItem {
  position: relative;
  margin-right: 16px;
  float: left;
  z-index: 2;
}
.CDB-infowindow-tabsLinks {
  display: block;
  padding-bottom: 13px;
  text-decoration: none;
}
.CDB-infowindow-navigation {
  position: relative;
  margin: -1px 24px 0;
  padding: 14px 0 24px;
  border-top: 1px solid #F2F6F9;
  color: #636D72;
  font-size: 10px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.CDB-infowindow-navigation-info {
  pointer-events: none;
}
.CDB-infowindow-navigationPrev {
  display: block;
  position: absolute;
  top: 19px;
  left: 0;
  width: 4px;
  height: 7px;
  cursor: pointer;
  z-index: 10;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0; 
    width: 6px;
    height: 1px;
    transform: rotate(-45deg);
    background: #3AA9E3;
    content: '';
  }
  &:after {
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0; 
    width: 6px;
    height: 1px;
    transform: rotate(45deg);
    background: #3AA9E3;
    content: '';
  }
}
.CDB-infowindow-navigationNext {
  display: block;
  position: absolute;
  top: 19px;
  right: 0;
  width: 4px;
  height: 7px;
  cursor: pointer;
  z-index: 10;
  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 1px;
    transform: rotate(45deg);
    background: #3AA9E3;
    content: '';
  }
  &:after {
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0; 
    width: 6px;
    height: 1px;
    transform: rotate(-45deg);
    background: #3AA9E3;
    content: '';
  }
}

.CDB-loading {
  padding: 4px 0 10px;
}
.CDB-loading-subtitle {
  width: 40%;
  height: 4px;
  margin-bottom: 8px;
}
.CDB-loading-title {
  width: 90%;
  height: 8px;
}
.CDB-loading-text {
  position: relative;
  overflow: hidden;
}

@-webkit-keyframes placeholder {
  0% {
    left: -100%;
  }
  100% {
    left: 70%;
  }
}
@keyframes placeholder {
  0% {
    left: -100%;
  }
  100% {
    left: 70%;
  }
}
.CDB-loading-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  -webkit-animation: placeholder ease-in-out 2s infinite;
  animation: placeholder ease-in-out 2s infinite;
}
