@import '../variables/sizes';
@import '../variables/mixins';

/* new infowindow */
.Cdb-infowindow {
  background: #fff;
  border-radius: 4px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .24);
  font-family: 'Open Sans';
}

.Cdb-infowindow-container {
  border-radius: 4px;
  overflow: hidden;
}

.Cdb-infowindow-inner, .Cdb-infowindow-header-bg {
  padding: 20px 24px 14px 24px;
}

.is-header {
  .Cdb-infowindow-header-bg {
    padding-bottom: 12px;
  }
  .Cdb-infowindow-inner {
    padding-top: 12px;
  }
}

.Cdb-infowindow-subtitle {
  font-size: $sFontSize-smaller;
  font-weight: $sFontWeight-lighter;
  line-height: $sLineHeight-smaller;
} 

.Cdb-infowindow-title {
  font-size: $sFontSize-small;
  font-weight: $sFontWeight-semibold;
  line-height: $sLineHeight-small;
}

.is-scroll {
  padding-bottom: 24px;
  max-height: 200px;
  overflow: scroll;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 32px;
  }
}

.Cdb-infowindow-list-item {
  margin-top: 8px;
  &:first-child {
    margin-top: 0;
  }
}

.is-header .Cdb-infowindow-media-title {
  bottom: 12px;
}

.Cdb-infowindow-media-title {
  position: absolute;
  right: 24px;
  bottom: 24px;
  left: 24px;
}

.Cdb-infowindow-header-media {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.Cdb-infowindow-media-item {
  display: block;
  width: 100%;
}


.Cdb-infowindow-header-media {

  .Cdb-infowindow-title > span {
    display: inline;
    padding: 2px 0;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 4px 0 0 rgba(0, 0, 0, .8), -4px 0 0 rgba(0, 0, 0, .8);
  }
  .Cdb-infowindow-subtitle {
    margin-bottom: 4px;
  }
  .Cdb-infowindow-subtitle > span {
    display: inline;
    padding: 2px 0;
    background-color: rgba(0, 0, 0, .64);
    box-shadow: 4px 0 0 rgba(0, 0, 0, .64), -4px 0 0 rgba(0, 0, 0, .64);
  }
}

.Cdb-hook {
  position: absolute;
  left: 24px;
  bottom: 0;
  z-index: 10;
}

.Cdb-hook:before {
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-right: 24px solid transparent;
  z-index: 3;
}

.Cdb-hook--green.Cdb-hook:before{
  border-top: 16px solid #98E0A8 !important;
}

.Cdb-hook--orange.Cdb-hook:before{
  border-top: 16px solid #E68165 !important;
}

.Cdb-hook:after, .Cdb-hook-image:after {
  content:"";
  position: absolute;
  left: 0;
  top: 3px;
  width: 0;
  height: 0;
  border-top: 16px solid rgba(0, 0, 0, .14);
  border-right: 24px solid transparent;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  z-index: 2;
}

.is-header-image {

  .Cdb-hook-image {
    position: absolute;
    height: 16px;
    width: 24px;
    z-index: 3;
    left: 24px;

    img {
      margin-left: -24px;
    }
  }
  .Cdb-hook-image-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 3;
  }
}

.Cdb-infowindow-tabs {
  font-size: 10px;
  line-height: 14px;
  padding: 21px 24px 0 24px;
  width: auto;
  overflow: hidden;
  position: relative;
}

.Cdb-infowindow-tabs-item {
  float: left;
  margin-right: 16px;
  position: relative;
  z-index: 2;
}

.Cdb-infowindow-tabs-links {
  display: block;
  padding-bottom: 13px;
}

.Cdb-infowindow-navigation {
  padding: 14px 0 24px ;
  margin: 0 24px;
  border-top: 1px solid #F2F6F9;
  font-size: 10px;
  position: relative;
  text-align: center;
  color: #636D72;
  position: relative;
  margin-top: -1px;
}

.Cdb-infowindow-navigation-prev {
  display: block;
  width: 4px;
  height: 7px;
  position: absolute;
  top: 16px;
  left: 0;

  &:before {
    content:"";
    position: absolute;
    display: block;
    width: 6px;
    height: 1px;
    background: #3AA9E3;
    top: 0;
    left: 0; 
    transform: rotate(-45deg);
  }
  &:after {
    content:"";
    position: absolute;
    display: block;
    width: 6px;
    height: 1px;
    background: #3AA9E3;
    bottom: 2px;
    left: 0; 
    transform: rotate(45deg);
  }
}

.Cdb-infowindow-navigation-next {
  display: block;
  width: 4px;
  height: 7px;
  position: absolute;
  top: 16px;
  right: 0;

  &:before {
    content:"";
    position: absolute;
    display: block;
    width: 6px;
    height: 1px;
    background: #3AA9E3;
    top: 0;
    left: 0; 
    transform: rotate(45deg);
  }
  &:after {
    content:"";
    position: absolute;
    display: block;
    width: 6px;
    height: 1px;
    background: #3AA9E3;
    bottom: 2px;
    left: 0; 
    transform: rotate(-45deg);
  }
}

.Cdb-loading {
  padding: 4px 0 10px 0;
}
.Cdb-loading-subtitle {
  height: 4px;
  margin-bottom: 8px;
  width: 40%;
}
.Cdb-loading-title {
  height: 8px;
  width: 90%;
}
.Cdb-loading-text {
  overflow: hidden;
  position: relative;
}

@-webkit-keyframes placeholder {
  0% {
    left: -100%;
  }
  100% {
    left: 70%;
  }
}

@keyframes placeholder {
  0% {
    left: -100%;
  }
  100% {
    left: 70%;
  }
}

.Cdb-loading-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: linear-gradient(to right,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
  -webkit-animation: placeholder ease-in-out 2s infinite ;
  animation: placeholder ease-in-out 2s infinite;
}



