/*
Syntax error: Undefined mixin 'font-face'.
        on line 3 of app/assets/css/fonts.scss, in `font-face'
        from line 3 of app/assets/css/fonts.scss

1:   // NEW FONTS
2:   /*SegoUI*/ 
3:   @include font-face("Segoe UI Bold", font-files("fonts/SEGOEUIB.woff", "fonts/SEGOEUIB.ttf", "fonts/SEGOEUIB.svg"), "SEGOEUIB.eot", bold, normal);
4:   @include font-face("Segoe UI Bold Italic", font-files("SEGOEUIZ.woff", "SEGOEUIZ.ttf", "SEGOEUIZ.svg"), "SEGOEUIZ.eot", bold, italic);

Backtrace:
app/assets/css/fonts.scss:3:in `font-face'
app/assets/css/fonts.scss:3
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:170:in `visit_mixin'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/engine.rb:248:in `block in render'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/util.rb:348:in `silence_sass_warnings'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/engine.rb:248:in `render'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `each'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/plugin.rb:54:in `check_for_updates'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/sass-3.1.20/lib/sass/plugin/rack.rb:51:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/actionpack-3.0.10/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/actionpack-3.0.10/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/rack-1.2.5/lib/rack/methodoverride.rb:24:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/actionpack-3.0.10/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/actionpack-3.0.10/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/actionpack-3.0.10/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/actionpack-3.0.10/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/activesupport-3.0.10/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/rack-1.2.5/lib/rack/sendfile.rb:106:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/actionpack-3.0.10/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/actionpack-3.0.10/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/railties-3.0.10/lib/rails/rack/logger.rb:13:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/rack-1.2.5/lib/rack/runtime.rb:17:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/activesupport-3.0.10/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/rack-1.2.5/lib/rack/lock.rb:13:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/rack-1.2.5/lib/rack/lock.rb:13:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/actionpack-3.0.10/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/airbrake-3.0.9/lib/airbrake/user_informer.rb:12:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/railties-3.0.10/lib/rails/application.rb:168:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/railties-3.0.10/lib/rails/application.rb:77:in `method_missing'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/railties-3.0.10/lib/rails/rack/log_tailer.rb:14:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/rack-1.2.5/lib/rack/content_length.rb:13:in `call'
/home/ubuntu/.rvm/gems/ruby-1.9.2-p320@cartodb/gems/rack-1.2.5/lib/rack/handler/webrick.rb:52:in `service'
/home/ubuntu/.rvm/rubies/ruby-1.9.2-p320/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/ubuntu/.rvm/rubies/ruby-1.9.2-p320/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/ubuntu/.rvm/rubies/ruby-1.9.2-p320/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'font-face'.\A         on line 3 of app/assets/css/fonts.scss, in `font-face'\A         from line 3 of app/assets/css/fonts.scss\A \A 1:   // NEW FONTS\A 2:   /*SegoUI*/ \A 3:   @include font-face(\"Segoe UI Bold\", font-files(\"fonts/SEGOEUIB.woff\", \"fonts/SEGOEUIB.ttf\", \"fonts/SEGOEUIB.svg\"), \"SEGOEUIB.eot\", bold, normal);\A 4:   @include font-face(\"Segoe UI Bold Italic\", font-files(\"SEGOEUIZ.woff\", \"SEGOEUIZ.ttf\", \"SEGOEUIZ.svg\"), \"SEGOEUIZ.eot\", bold, italic);"; }
