<div class="Dialog-header Dialog-header--expanded js-header"></div>
<div class="Dialog-body Dialog-body--expanded js-panes"></div>
<div class="Dialog-footer Dialog-footer--expanded js-footer">
  <div class="u-inner"></div>
</div>