<div class="MapCard">
  <div class="MapCard-fake"></div>
  <div class="MapCard-header js-header">
    <div class="MapCard-loader"></div>
    <div class="MapviewsGraph js-header-graph"></div>
  </div>
  <div class="MapCard-content">
    <div class="MapCard-contentBody">
      <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
        <h3 class="MapCard-title DefaultTitle u-ellipsLongText"><%= name %></h3>
      </div>
      <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
        <div class="MapCard-desc"><%= description %></div>
      </div>
    </div>
    <div class="MapCard-contentFooter">
      <div class="MapCard-contentFooterDetails--left">
        <span><%= timesUsed %></span>
      </div>
    </div>
  </div>
</div>
