<ul class="CreateDialog-headerSteps">
  <li class="CreateDialog-headerStep is-selected">
    <div class="Dialog-headerIcon Dialog-headerIcon--main">
      <i class="iconFont iconFont-Wizard"></i>
    </div>
    <p class="Dialog-headerTitle">Choose template</p>
    <p class="Dialog-headerText">This is the first step</p>
  </li>
</ul>

<% if (false) { %>
  <button class="CreateDialog-headerButton js-back">
    <i class="iconFont iconFont-ArrowPrev"></i>
  </button>
<% } %>
