/*
 * Map panel for table view
 */

@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/inline-block";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/transform";
@import "../old_common/vars";
@import "../old_common/mixins";
@import "../map/map-sprite";
@import "../old_elements/elements-sprite";
@import "../variables/colors";
@import "../variables/mixins";

div.map {
  @include box-sizing(border-box);
  @include position(0px, 0, 0, 0); // 1px to cause header opacity black border needs to be present
  @include size(100%);
  background: #333 image-url('layout/noise.png') repeat 0 0;
  z-index:1;
}

div.map, .mobile_bkg {
  padding: 84px 84px 20px 20px;
}

div.map.animated .cartodb-map {
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

div.map {

  &.mobile #cartodb-gmaps-attribution {
    display: none;
  }

  &.mobile div.editing {
    top: 10px;
    margin-left: -68px;
    z-index: 1000000;

    span.tooltip {
      width:270px;
      left:-68px;
    }
    span.tooltip p {
      font-size: 11px;
    }
  }

  &.table { // TABLE'S MAP

    div.cartodb-legend-stack {
      @include position(false, 80px, 20px, false);
    }

    .leaflet-right .leaflet-control, #cartodb_attribution {
      margin-right: 62px;
    }

    div.cartodb-map div.cartodb-logo {
      bottom: 0!important;
    }

  }

  &.derived { // VISUALIZATION'S MAP

    div.cartodb-legend-stack {
      @include position(false, 20px, 20px, false);
    }

    &.hide_legends div.cartodb-map div.cartodb-legend-stack {
      display:none!important;
    }

    &.mobile div.cartodb-map { // MOBILE VERSION

      @include border-radius(0);

      .cartodb-logo {
        margin-bottom: 0px;
        bottom: 10px!important;
      }

      .leaflet-control-attribution.leaflet-control {
        margin-right: 0;
        right: 0;
        width: 132px;
      }

      .leaflet-right .leaflet-control, #cartodb_attribution {
        margin-right: 0px;
      }

      & > div.cartodb-searchbox {
        right: 15px!important;
      }

      .cartodb-tiles-loader{
        right: 10px!important;
        top: 10px!important;
      }

      .cartodb-mobile .cartodb-searchbox,
      .cartodb-mobile .cartodb-header {
        display: block;
      }

      // Overlays hidden in mobile
      div.cartodb-layer-selector-box,
      div.cartodb-share,
      & > div.cartodb-searchbox,
      div.cartodb-fullscreen,
      & > div.cartodb-timeslider,
      & > div.header,
      div.cartodb-logo,
      div.cartodb-zoom,
      div.cartodb-legend-stack,
      div.cartodb-zoom-info {
        display:none!important;
      }

    }

  } // derived

  &.animated .mobile_bkg:before {
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .mobile_bkg {
    @include opacity(0);
    @include box-sizing(border-box);
    @include position(0,0,0,0);
    @include size(100%);
    background: #333;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position:absolute;
      background: image-url('layout/mobile_bkg.png') no-repeat 50% 50%;
    }
  }

//map toolbar

  div.map_toolbar {
    @include position(0, false, false, 0px);
    @include size(100%, 66px);
    background-color: $DarkGrey8;
    border-bottom: 1px solid $Black;
    padding: 3px 7px 4px;
    &.animated {
      overflow:hidden;
    }

    @include clearfix();

    z-index:6;

    .options {
      position:absolute;
      top: 0;
      left: 0;
      @include inline-block();
      padding-top:15px;
      padding-left: 8px;
    }
  }

  .options {
    float: left;
    @include inline-block();

    & > li.button {

      &.canvas_setup, &.add_overlay, &.toggle_slides, &.export_image {

        position:relative;

        & > .thumb {
          @include size(26px);
          display: none; //remove_icons
        }

      }

      &.canvas_setup  > .thumb { @include map-sprite(setup_canvas); }
      &.add_overlay   > .thumb { @include map-sprite(add_element);  }
      &.export_image  > .thumb { @include map-sprite(export_image); }
      &.toggle_slides > .thumb { @include map-sprite(toggle_slides); }
      &.toggle_slides.active > .thumb { @include map-sprite(toggle_slides_active); }

    }

    & > li {

      &.export_image .info h5 {
        padding: 0 0 0 0;
      }

      &.export_image .info h5:before,
      &.export_image .info h5:after {
        display:none;
      }

      &.full_screen .thumb {
        border: none;
        @include map-sprite(full_screen);
        @include border-radius(0px);
      }

      &.dropdown > h5 {

        &:before {
          content:' ';
          @include position(-3px, -20px, false, false);
          margin:16px 0 0 5px;

          border-left:4px solid transparent;
          border-right:4px solid transparent;
          border-top:5px solid $Grey1;

          z-index:1;
        }

        &:after {
          content:' ';
          @include position(-1px, -20px, false, false);
          margin:16px 0 0 5px;

          border-left:4px solid transparent;
          border-right:4px solid transparent;
          border-top:5px solid $Grey1;

          z-index:0;
        }

      }

      @include inline-block();      
      @include bb_button_style;
      height: 40px;
      margin: 0 1px 0 0;
      padding: 0px 12px 0px 6px;


      & > .thumb {
        position:relative;
        margin: 0 5px 0 0;
        @include inline-block();
        @include size(30px);
        @include border-radius(2px);

        background-size: 34px;
        background-color: rgba(0, 0, 0, 0);
        background-position: 50% 50%;

        &:before {
          content: ' ';
          @include position(0, 0, 0, 0);
          @include border-radius(2px);
          border: 1px solid rgba(0,0,0, 0.15);
        }

        h5 {
          position:relative;
          padding:0 12px 0 0;
          display:block;
          font-weight:normal;
          line-height:15px;
        }
      }

      .info {
        @include inline-block();
        padding-top:2px;

        h5, .name {
          font-size: 13px;
          color: $Grey1;
        }

        //bb remove second line
        .name {
          display: none;
        }

        h5 {
          position:relative;
          padding:0 12px 0 0;
          display:block;
          line-height:35px;

          &:before {
            position:absolute;
            content:' ';
            top:0px;
            right:-5px;
            margin:16px 0 0 5px;
            border-left:4px solid transparent;
            border-right:4px solid transparent;
            border-top:5px solid $Grey1;
            z-index:1;
          }

          &:after {
            position:absolute;
            content:' ';
            top:-1px;
            right:-20px;
            margin:16px 0 0 5px;
            border-left:4px solid transparent;
            border-right:4px solid transparent;
            border-top:5px solid transparent;
            z-index:0;
          }
        }

      }
    }
  } // .dropdowns


  .map-options {
    @include position(false, false, 18px, 18px);
    z-index: 100;
  }

  .option-button {
    position:relative;
    box-sizing: border-box;
    @include inline-block();
    @include bb_button_style;
    padding: 10px 14px 10px 37px;
    margin: 0 3px 0 0;
    height: auto;
    min-width: 70px;
    color: #fff;
    font-size: 13px;


    &:last-child {
      margin-right: 0;
    }

  }

  .option-button.show-table-options {

    &.open:before {

      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);

    }

    &:before, &:after {
      content: '';
      position: absolute;
      left: 5px; top: 6px;
      display: block;
      width: 22px;
      height: 22px;
    }

    &:before {
      @include map-sprite(cog, $offset-x:3px, $offset-y:3px);

      -moz-transition: all 750ms ease;
      -webkit-transition: all 750ms ease;
      -o-transition: all 750ms ease;
      transition: all 750ms ease;

      z-index: 10;

    }

    &:after {
      background-color: #fff;
      @include box-shadow(0 0 1px rgba(#000, .9));
      @include border-radius(2px);
    }
  }

  div.dropdown.widgets_dropdown {
    width: 200px;
  }

  /* CartoDB map styles */

  &.table div.cartodb-map {

    @include position(66px, 0, 0, 0);
    @include border-radius(0);

  }

  &.derived div.cartodb-map {

    @include position(74px, 64px, 0px, 0px);
    @include size(auto);

  }

  div.cartodb-map {

    & > div.cartodb-searchbox{
      top: 20px;
      right: 77px;
      float: right;
      position: absolute;

      background-color: $Amber1;
      border: 1px solid $Black;
      input.text {
        border:none;
        color: $Black;
      }
    } 


    z-index:1;

  }

  div.cartodb-legend-stack {
    @include position(false, 80px, 20px, false);
    margin: 0;

    z-index: 10001;
    background-color: $DarkGrey2;
    border:1px solid Black;
    div.cartodb-legend {
      display:none;
      @include position(false, 0, 0, false);
      position:relative;
      margin: 0;
      ul li {
        color: $Amber1;
      }
      &.custom, &.cluster, &.bubble, &.color, &.intensity, &.density { display: block; }
    }
  }

  // animations
  .leaflet-control-attribution.leaflet-control,
  div.cartodb-legend,
  div.cartodb-legend-stack,
  div.cartodb-share,
  div.cartodb-layer-selector-box,
  div.cartodb-searchbox {
    @include transform-style("linear");
    @include transition-property("margin");
    @include transition-duration(300ms);
  }

  div.cartodb-legend {
    @include position(false, 0, 20px, false);
    margin: 0 80px 0 0;

    .warning {
      text-transform: none;
      font-style:italic;
      font-size: 13px;
      font-weight: normal;
    }

    z-index: 10001;

  }

  div.cartodb-layer-selector-box {
    display:none;
    font-weight: normal;
    margin: 0;
    @include bb_button_style;
    border: 1px solid $Black;

  }
  div.cartodb-dropdown.border {
    background-color: #1d1d1d;
    border: 1px solid $Grey2;
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li {
    border: none;
    &:hover { 
      background: none;
      a.layer {
        text-decoration: none;
      }
    }
  }

  div.cartodb-layer-selector-box div.cartodb-dropdown ul li a.layer {
    color: $Amber1;
    border: none;

  }
  div.cartodb-dropdown div.tail span.border {
    top: 0px;
  }

  div.cartodb-layer-selector-box a.layers .count, &:hover{
    background: none;
  }


  div.cartodb-layer-selector-box div.cartodb-dropdown ul li a.switch {
    border: none;
    &.enabled {
      background-color: $Amber1
    }
    span.handle {
      border: none;
      top: 1px;
    }
  }

  // Zoom
  div.cartodb-zoom,
  div.cartodb-zoom-info {
    position:absolute;
    margin: 0;
  }

  // Tiler in core map
  div.cartodb-tiles-loader {
    clear:both;
    position:absolute;

    div.loader {
      position:relative;
      top: 0;
      left: 0;
      margin:0;
    }
  }

  // Fullscreen
  div.cartodb-fullscreen {
    display:none;
    position:absolute;
    margin: 0;
    a {
      @include bb_button_style;
      border: 1px solid $Black;
    }
  }

  div.cartodb-share {
    margin: 0;
    position:absolute;
     a {
      @include bb_button_style;
      border: 1px solid $Black;
    }
  }

  // Search box in core map
  div.cartodb-searchbox {
    display:none;
    position:absolute;
    margin:0;
  }

  // [done | discard] dialog shown when a geometry is being edited or created
  div.editing {
    position: absolute;
    @include inline-block;
    top: 20px;
    left: 50%;
    margin-left:-120px;
    padding:11px;
    background: #FFF;
    border:1px solid #999999;
    @include box-shadow(rgba(0,0,0,0.1) 0 0 4px 3px);
    background:white;
    @include border-radius(2px);
    z-index: 1000;

    a {
      position:relative;
      @include inline-block();
      vertical-align: top;
    }

    span.tooltip {
      position:absolute;
      width:313px;
      top:65px;
      left:-90px;
      background:rgba(0,0,0,0.8);
      @include border-radius(2px);
      text-align:center;

      p {line-height:35px; font-size:13px;}

      &:before {
        position:absolute;
        content:'';
        width:0;
        height:0;
        left:50%;
        top:-6px;
        margin-left:-3px;
        border-left:6px solid transparent;
        border-right:6px solid transparent;
        border-bottom:6px solid rgba(0,0,0,0.8);
      }
    }
  }

  div.sqlview {
    position: relative;
    display: block;
    width: 100%;
    height: 37px;
    margin: -18px 0 0 0;
    z-index:1;

    p {
      position: fixed;
      left: 50%;
      display: inline;
      margin: 0 0 0 -50%;
      padding: 12px 0;
      width: 100%;
      border-bottom: 1px solid #ccc;
      background-color: #E5FAEA;
      color: #333;
      color: #666666;
      text-align: center;
      font-size: 13px;
      font-family: $text-fonts;
      text-indent:0;
      z-index:2;
      @include transform-style("linear");
      @include transition-property("text-indent");
      @include transition-duration(300ms);
      @include box-shadow(rgba(0, 0, 0, 0.055) 0 3px 1px 0);

      &.warn {
        background-color: rgba(#FFFFBF, 0.90);
      }
    }
  } //div.sqlview

  // When a panel view is open or closed
  &.displaced {

    div.sqlview p {
      text-indent: -600px;
    }

    // Vis
    &.map.derived .cartodb-map {

      .leaflet-control-attribution.leaflet-control,
      div.cartodb-share,
      div.cartodb-layer-selector-box,
      div.cartodb-legend-stack,
      div.cartodb-searchbox {
        margin-right:520px;
      }
    }

    &.map.derived.mobile .mobile_bkg:before {
      left: -300px;
    }
    &.map.derived.mobile .cartodb-map {
      margin-left: -445px!Important;
    }

    &.narrow.map.derived.mobile .mobile_bkg:before {
      left: -155px;
    }
    &.narrow.map.derived.mobile .cartodb-map {
      margin-left: -300px!Important;
    }

    // Vis Narrow
    &.narrow.map.derived .cartodb-map {

      .leaflet-control-attribution.leaflet-control,
      div.cartodb-share,
      div.cartodb-share,
      div.cartodb-layer-selector-box,
      div.cartodb-legend-stack,
      div.cartodb-searchbox {
        margin-right:375px;
      }

    }

    // Table
    &.map.table .cartodb-map {

      .leaflet-control-attribution.leaflet-control,
      div.cartodb-share,
      div.cartodb-layer-selector-box,
      div.cartodb-legend-stack,
      div.cartodb-searchbox {
        margin-right:540px;
      }
    }

    // Table Narrow
    &.narrow.map.table .cartodb-map {

      .leaflet-control-attribution.leaflet-control,
      div.cartodb-share,
      div.cartodb-layer-selector-box,
      div.cartodb-legend-stack,
      div.cartodb-searchbox {
        margin-right:394px;
      }

      div.sqlview p { text-indent:-450px; }

    }

    &.narrow.map.derived.mobile .cartodb-map,
    &.map.derived.mobile .cartodb-map {

      .leaflet-control-attribution.leaflet-control,
      div.cartodb-share,
      div.cartodb-layer-selector-box,
      div.cartodb-legend-stack,
      div.cartodb-searchbox {
        margin-right: 0!important;
      }

      div.sqlview p { text-indent:-450px; }

    }

  } // &.displaced

} // div.cartodb-map

/* FOOTER EDIT BUTTONS  for infowindow */
@mixin edit-bottom-states($x,$y,$c1,$c2,$c3,$c4) {
  @include background(sprite($map-sprites, infowindow-edit-tools, $offset-x: $x, $offset-y: $y) no-repeat, $c1); // IE
  @include background(sprite($map-sprites, infowindow-edit-tools, $offset-x: $x, $offset-y: $y) no-repeat, linear-gradient($c1,$c2) 0 0);

  &:hover, &:active, &:focus {
    @include background(sprite($map-sprites, infowindow-edit-tools, $offset-x: $x, $offset-y: $y) no-repeat, $c3); // IE
    @include background(sprite($map-sprites, infowindow-edit-tools, $offset-x: $x, $offset-y: $y) no-repeat, linear-gradient($c1,$c4) 0 0);
  }
}

div.cartodb-edit-buttons {
  border-top:1px solid #E5E5E5;
  display:block;
}

// FOR INFOWINDOWS //

.cartodb-popup-content-wrapper
div.cartodb-edit-buttons {
  width:100%;
  padding:11px 0 6px;
  margin:10px 0 0;
  letter-spacing: -4px;

  // CartoDB id
  .cartodb_id {
    @include inline-block();
    color: #999;
    font-size: 13px;
    margin-top:8px;
    letter-spacing:0px;
    word-spacing:0px;
  }

  // Edit buttons
  div.right {width:auto; margin-top:4px;}

  a.button {
    float:left;
    vertical-align:top;
    width:29px;
    height:24px;
    border-right:0;
    margin:0;
    padding:0!important;
    margin:0;
    text-indent: -9999px;
    font-size:0;
    line-height:0;
    letter-spacing:0px;
    @include border-radius(0);

    &.edit_data {@include edit-bottom-states(10, 6, #F9F9F9, #EBEBEB, #DEDEDE, #E1E1E1);}
    &.edit_geo {@include edit-bottom-states(-20, 6, #F9F9F9, #EBEBEB, #DEDEDE, #E1E1E1);}
    &.remove {@include edit-bottom-states(-52, 6, #F9F9F9, #EBEBEB, #DEDEDE, #E1E1E1);}

    &.add_point {@include edit-bottom-states(-80, 7, #F9F9F9, #EBEBEB, #DEDEDE, #E1E1E1);}
    &.add_annotation {@include edit-bottom-states(-110, 7, #F9F9F9, #EBEBEB, #DEDEDE, #E1E1E1);}

    &:first-child {@include border-left-radius(3px);}
    &:last-child {@include border-right-radius(3px); border-right:1px solid #B0B0B0;}
  }
}

// Dark buttons
div.cartodb-popup.dark  {
  div.cartodb-edit-buttons {
    border-color:#676767;
    a.button {
      border-color:#676767!important;
      &.edit_data {@include edit-bottom-states(10, -16, #222, #222, #222, #222);}
      &.edit_geo {@include edit-bottom-states(-20, -16, #222, #222, #222, #222);}
      &.remove {@include edit-bottom-states(-52, -16, #222, #222, #222, #222);}
    }
  }
}

// Custom styles for Leaflet maps

// Same css for editing markers in Leaflet and GMaps
.leaflet-editing-icon {
  width:9px!important;
  height:9px!important;
  margin:-5px 0 0 -5px!important;
  @include border-radius(6px);
  border:1px solid #397DBA;
}

:-webkit-full-screen {
  top: 0!Important; left: 0!Important; right: 0!Important; bottom: 0!Important;
}
:-moz-full-screen {
  top: 0!Important; left: 0!Important; right: 0!Important; bottom: 0!Important;
}
:-ms-fullscreen {
  top: 0!Important; left: 0!Important; right: 0!Important; bottom: 0!Important;
}
:fullscreen {
  top: 0!Important; left: 0!Important; right: 0!Important; bottom: 0!Important;
}
