
/**
 * share map dialog
 */
@import "compass";
@import "../common/vars";

.map_share_dialog {
  .map_wrapper {
    position: relative;
    width: 521px;
    height: 249px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @include border-radius(5px);

    .map {
      height: auto;
      width: 100%;
      @include border-radius(5px);
    }

    .map_header {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      background: #FFF;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding: 20px 0 20px 0;
      h1 {
        font:normal 17px $text-fonts;
        color: #397DBA;
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 20px;
      }
      p {
        font:normal 13px $text-fonts;
        color: #999999;
        margin-left: 20px;
      }
    }
  }

  ul.switches {
    margin-top: 30px;
    li {
      @include inline-block();
      border: none !important;
      width: 154px;
      color: #999999;
      margin-right: 24px;
      font:normal 15px $text-fonts;

      &:last-child {
        margin-right: 0;
      }

      a.form_switch {
        float: right;
      }
    } 
  } // ul.switches

  ul.format_selector {
    float:right;
    li {
      @include inline-block();
    }
  } // ul.format_selector

}
