
/**
 * share map dialog
 */
@import "compass";
@import "../common/vars";
@import "../common/sprites";
@import "../common/mixins";

.map_share_dialog {
  .map_wrapper {
    position: relative;
    display:block;
    height: 249px;
    border: 1px solid #CCC;
    margin:0;
    @include translateZ(10px);
    @include border-radius(3px);
    @include translate3d(0,0,10px);
    overflow:hidden!important;

    .map {
      height: auto;
      width: 100%;
      @include border-radius(3px);
      overflow:hidden!important;
    }

    .leaflef-container {
      @include border-radius(3px);
      @include translate3d(0,0,0);
      @include translateZ(0);
      overflow:hidden;
    }

    .leaflet-control-attribution {
      @include border-bottom-right-radius(1px);
      @include border-top-left-radius(1px);
      overflow:hidden;
    }

    div.header {
      div.social {display:none;}
    }

    div.search_box {display:none;}

    div#zoom {top:0;}
  }

  ul.switches {
    margin-top: 18px;
    letter-spacing:-4px;
    word-spacing:-4px;

    li {
      @include inline-block();
      border: none !important;
      width: 130px;
      color: #999999;
      margin-right: 24px;
      letter-spacing:0px;
      word-spacing:0px;
      font:normal 15px $text-fonts;

      &:last-child {
        margin-right: 0;
      }

      a.form_switch {
        float: right;
      }
    }
  } // ul.switches

  ul.format_selector {
    float:right;
    li {
      @include inline-block();
    }
  } // ul.format_selector

  .description {
    margin: 0 0 40px;
    color: #666;
    font-size:15px;
    line-height: 1.2em;
  }
}
