/**
 * share map dialog
 */
@import "compass";
@import "../common/vars";
@import "../common/sprites";
@import "../common/mixins";

// Map preview
.share_dialog {

  div.head {
    padding:30px 40px!important;
  }

  div.torque_warning {
    display: none;
    padding: 13px 40px;
    background-color: #FCF3DB;
    font-size: 13px;
    color: $cGray2;
    border-bottom: 1px solid #E5E5E5;
  }

  .cartodb-map_wrapper {
    position: relative;
    @include inline-block();
    vertical-align:top;
    width:480px;
    height: 340px;
    border: 1px solid #CCC;
    margin:0;
    @include translateZ(10px);
    @include border-radius(3px);
    @include translate3d(0,0,10px);
    overflow:hidden!important;

    .cartodb-map {
      position:absolute;
      top:65px;
      bottom:30px;
      right:0;
      left:0;
      width: 100%;
      @include border-bottom-radius(3px);
      overflow:hidden!important;
    }

    .leaflef-container {
      @include border-radius(3px);
      @include translate3d(0,0,0);
      @include translateZ(0);
      overflow:hidden;
    }

    .leaflet-control-attribution {
      @include border-bottom-right-radius(1px);
      @include border-top-left-radius(1px);
      overflow:hidden;
    }

    div.cartodb-header {
      div.social {display:none; letter-spacing:-4px;}
    }

    div.cartodb-searchbox {display:none;}
    div.cartodb-zoom {top:0;}

    div.cartodb-legends {
      position:absolute;
      bottom: 60px;
      right: 20px;

      @include box-shadow(rgba(0, 0, 0, 0.2) 0 0 4px 2px);
      @include border-radius(4px);

      border: 1px solid #999999;
      background: white;
      z-index: 5;

      padding: 6px 8px;

      font:normal 13px "Helvetica",Arial;
      color:#858585;
    }

    .cartodb-text {
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      display:block;
      margin:0;
      padding:0 10px;
      background:white;
      font-size:11px;
      color:#999999;
      border-top:1px solid #CCC;
      border-top:1px solid rgba(0,0,0,0);
      line-height:29px;
      @include box-shadow(rgba(0,0,0,0.6) 0 0 1px 0);
      a {text-decoration: underline}
    }

    &.no-logo {
      .cartodb-map {bottom:0}
      .cartodb-text {display:none}
      .cartodb-legends {bottom:30px}
    }
  }

  // Sharing options
  div.sharing_options {
    display:inline-block!important;
    vertical-align:top;
    width:173px;
    margin-left:25px;

    h5 {
      font-size:17px;
      line-height:67px;
      border-bottom:1px solid rgba(204, 204, 204, 0.75);
      letter-spacing:-1px;
    }

    ul.switches {
      display:block;
      letter-spacing:-4px;
      word-spacing:-4px;

      li {
        @include inline-block();
        width: 100%;
        padding:12px 0;
        color: #999999;
        letter-spacing:0px;
        word-spacing:0px;
        font:normal 15px $text-fonts;
        // border: none !important;

        &:last-child {
          margin-right: 0;
          border:none;
        }

        a.form_switch {
          float: right;
        }
      }
    } // ul.switches
  }

  ul.format_selector {
    float:right;
    li {
      @include inline-block();
    }
  }

  .input {

    p {
      width:480px;
      overflow:hidden;
      text-overflow:ellipsis;
    }

    input {
      width:484px;
      padding: 0;
      margin: 0;
      overflow:hidden;
      border:none;
      outline:none;

      &.loading {
        background: image-url('layout/loader_transparent.gif') no-repeat;
      }

      &:focus { @include box-shadow(none); }
    }

    ul {
      clear:both;
      overflow:hidden;
      @include position(false, 45px, 11px, false);

      li {
        float:left;
        background:#E7E7E7;
        padding: 5px 6px;
        margin: 0 1px 0 0;
        border:none!important;
        line-height:14px;

        &:hover {
          color: #fff;
        }

        &:first-child { @include border-radius(3px 0 0 3px); }
        &:last-child  { margin: 0; @include border-radius(0 3px 3px 0); }

        &.selected {
          background:$cBlue;
          a { color: #fff; }
        }
      }

    }


    display:block;
    margin-top:5px;
    padding:14px 50px 14px 14px;
    @include border-radius(3px);
    line-height:normal;
    border:1px solid #CCCCCC;
    background:#F5F5F5;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    font-size:15px;

    &:hover {
      border-color:#999999;
    }

  }


  div.description {
    margin: 0 0 30px;
    color: #666;
    font-size:15px;
    line-height: 1.2em;
  }
}
