/**
 * share map dialog
 */
@import "compass/css3/box";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/inline-block";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "../common/vars";
@import "../common/mixins";
@import "../table/table-sprite";

.share_dialog {

  & > .mamufas > section.block {
    top: auto;
    margin-top: 0;
  }

  section.block > .foot {
    border:none;
  }

  section.block > .content {

    padding: 40px 40px 0 40px;

    h3 { margin: 0 0 13px 0; }

        border: 1px solid #999999;

        background: #fff sprite( $table-sprites, share, $offset-x: 8px, $offset-y: 8px) no-repeat;

        &:hover {
          background: #fff sprite( $table-sprites, share, $offset-x: -27px, $offset-y: 8px) no-repeat;
        }

        &:active, &:hover:active {
          background: #fff sprite( $table-sprites, share, $offset-x: 8px, $offset-y: 8px) no-repeat!important;
        }

      }

    }

    div.cartodb-searchbox { display:none; margin: 15px 10px 0 0; }
    div.cartodb-zoom { top:0; margin: 15px 0 0 15px; }
    div.cartodb-layer-selector-box { display:none; font-weight: normal; margin: 15px 10px 0 0; }
    div.cartodb-legends {
      position:absolute;
      display:none;
      bottom: 30px;
      right: 15px;

      @include box-shadow(rgba(0, 0, 0, 0.2) 0 0 4px 2px);
      @include border-radius(4px);

      border: 1px solid #999999;
      background: white;
      z-index: 5;

      padding: 6px 8px;

      font:normal 13px $text-fonts2;
      color:#858585;
    }

    &.no-logo {
      .cartodb-map {bottom:0}
      .cartodb-legends {bottom:30px}
    }
  }

  // Sharing and privacy options
  div.options {

    @include flex(1);
    position:relative;
    width:299px;
    max-width:299px;
    min-width:299px;
    height: 100%;

    h3 {
      height: 94px; // prevents the jump in size due to the webfont loading
      @include box-sizing(border-box);
      padding: 31px 0 30px 0;

      .inner { width: 221px; }
    }

    h4 {

      height: 41px; // prevents the jump in size due to the webfont loading
      @include box-sizing(border-box);

      position:relative;
      z-index: 11;

      .inner { width: 221px; }

      padding: 12px 0;
      background: #F6F6F6;
      border-top: 1px solid #E5E5E5;
      border-bottom: 1px solid #E5E5E5;
      color: #CCCCCC;
      font-size: 11px;
      font-weight:bold;
      text-transform: uppercase;
    }

    h5 {
      font-size:17px;
      line-height:67px;
      border-bottom:1px solid rgba(204, 204, 204, 0.75);
      letter-spacing:-1px;
    }

    .white-gradient-shadow {

      pointer-events: none;

      &.top    { @include opacity(1); @include position(135px, false, false, 0); @extend .white-gradient-shadow-top; z-index: 10; }
      &.bottom { @include opacity(1); @include position(0, false, false, 0);  @extend .white-gradient-shadow-bottom; z-index: 10; }

      @include size(100%, 16px);

    }

    .scrollpane {
      overflow: hidden;
      outline:none;

      &:hover .jspVerticalBar { @include opacity(1); }

      .jspContainer { overflow: hidden; position: relative; }
      .jspPane { position: absolute; }
      .jspVerticalBar   { @include simple-transition(opacity, 150ms); @include opacity(0); position: absolute; top: 0; right: 7px; width: 5px; height: 100%; background: none; z-index: 20; }
      .jspVerticalBar * { margin: 0; padding: 0; }
      .jspCap { display: none; }
      .jspTrack { background: none; position: relative; }
      .jspDrag { background: rgba(#BBB, .5); @include border-radius(5px); position: relative; top: 0; left: 0; cursor: pointer; }
      .jspArrow { background: none; text-indent: -20000px; display: block; cursor: pointer; }
      .jspVerticalBar .jspArrow { height: 10px; }
      .jspVerticalBar .jspArrow:focus { outline: none; }
      .jspCorner { background: #eeeef4; float: left; height: 100%; }

    }

    ul.switches {
      display:block;
      width: 221px;
      letter-spacing:-4px;
      word-spacing:-4px;
      padding: 7px 40px;

      &.privacy, &.privacy li:last-child {
        padding-bottom: 0;
      }

      &.privacy li.upgrade_message { padding: 18px; }
>>>>>>> CDB-2891

      li {
        position:relative;
        width: 240px;
        display:block;
        column-rule:3px outset #ff00ff;
        -moz-column-rule:3px outset #ff00ff; /* Firefox */
        -webkit-column-rule:3px outset #ff00ff; /* Safari and Chrome */
        height:280px;
        background: #f1f1f1;
        border:none;

        &:hover { 
          background:#E9E9E9;
          @include simple-transition(background, 150ms, ease-in-out);
        }

        &:first-child { @include border-radius(4px 0 0 4px); }
        &:last-child { @include border-radius(0 4px 4px 0); }

        h4  {
          width: 100%;
          position:absolute;
          top: 136px;
          margin: auto;
          text-align:center;
          font-size: 17px;
          font-weight:bold;
        }

        .input_field {
          @include absolute-landscape-center(183px);
          top: 166px;
          padding: 2px;
          @include border-radius(4px);
          background:#fff;
          clear:both;
          border: 1px solid #CCCCCC;
          overflow: hidden;

          &.loading input {
            background: image-url('layout/loader_transparent.gif') no-repeat 5px 50%;
          }

          input {
        min-height:17px;
            float:left;
            width: 142px;
            border:none;
            padding: 5px 5px;
            color: #999999;
            font-size: 13px;
            background: transparent;
            outline: none;
            @include box-sizing(border-box);
          }

          a.copy {
            width:38px;
            height: 25px;
            float:right;
            display: block;
            @include box-sizing(border-box);
            font-size:9px;
            padding: 8px 7px;
            text-align:center;
            @include border-radius(2px);
            text-transform: uppercase;
            color: #fff;
            background: #3B7EBB;
          }

        }

        p {
          top: 206px;
          @include absolute-landscape-center(182px);
          font-size:13px;
          color: #666666;
          text-align: center;

          a { text-decoration: underline; }

        }

        i {
          top:43px;
          @include absolute-landscape-center(64px);
          display:block;
        }
        
        &.link i {
          top: 44px;
          height: 60px;
          background: transparent image-url('layout/plane.png') no-repeat;
        }

        &.embed i {
          top: 54px;
          height: 40px;
          background: transparent image-url('layout/tag.png') no-repeat;
        }

        &.api i {
          top: 47px;
          height: 54px;
          background: transparent image-url('layout/map.png') no-repeat;
        }
        
      }
    
    }
  
  }

}

