@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/inline-block";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/transform";
@import "../common/fonts";
@import "../common/vars";
@import "../common/mixins";
@import "../map/map-sprite";
@import "../elements/elements-sprite";

.slides_panel {

  width: 134px;
  position:absolute;
  top: 54px;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: #333 image-url('layout/noise.png') repeat 0 0;
  padding-top: 16px;

  .slide_view {

    &.active { 
      .count { background: #BECFDE; }
    }

    .count {
      @include box-sizing(border-box);
      margin: auto;
      padding: 3px;
      width: 43px;
      height: 43px;

      @include border-radius(200px);
      background: #D1D1D1;
      line-height: normal;
      vertical-align: middle;
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 31px;
      @include simple-transition(background, 150ms);
    }

    display: block;
    width: 104px;
    height: 64px;
    margin: 0 auto 20px auto;
    padding: 11px;

    @include box-sizing(border-box);
    @include border-radius(2px);
    text-decoration:none;

    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#e5e5e5 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#e5e5e5 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#e5e5e5 100%);
    background: linear-gradient(to bottom, #eeeeee 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e5e5e5',GradientType=0 );

  }

}
