<div class="Dialog-body ChangePrivacy-shareHeader u-inner">
  <button class="js-back NavButton ChangePrivacy-shareHeaderBackIcon">
    <i class="iconFont iconFont-ArrowPrev"></i>
  </button>
  <div class="DefaultSecondary">Share with your <%= usersCount %> <%= colleagueOrColleaguesStr %></div>
</div>

<div class="Dialog-body u-inner">
  <div class="js-permissions ChangePrivacy-shareList"></div>
</div>

<div class="ChangePrivacy-shareFooter">
  <div class="Dialog-footer u-inner ChangePrivacy-shareFooterInner">
    <div class="ChangePrivacy-shareFooterGroup">
      <i class="iconFont iconFont-Info ChangePrivacy-infoIcon"></i>
        <div class="DefaultSecondary">Be open my friend</div>
    </div>
    <div class="ChangePrivacy-shareFooterGroup">
      <button class="Button Button--secondary Dialog-footerBtn cancel">
        <span>cancel</span>
      </button>
      <button class="js-save Button Button--positive">
        <span>Save settings</span>
      </button>
    </div>
  </div>
</div>
