<div class="IntermediateInfo">
  <div class="Spinner"></div>
  <h4 class="IntermediateInfo-title"><%- q || tag  ? 'Searching' : 'Loading' %>...</h4>
  <div class="DefaultParagraph DefaultParagraph--short"><%= quote %></div>
</div>
