<div class="IntermediateInfo">
  <div class="Spinner"></div>
  <h4 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m"><%- q || tag  ? 'Searching' : 'Loading' %>...</h4>
  <div class="CDB-Text CDB-Size-medium u-altTextColor"><%= quote %></div>
</div>
