<div class="IntermediateInfo">
  <div class="LayoutIcon">
    <i class="iconFont iconFont-Lens" />
  </div>
  <h4 class="IntermediateInfo-title">
    <% if (isSearching && totalItems === 0 && totalEntries === 0) { %>
      0 <%- tag || q %> datasets found
    <% } %>
  </h4>
</div>

