<div class="IntermediateInfo">
  <div class="LayoutIcon">
    <i class="iconFont iconFont-Lens" />
  </div>
  <h4 class="IntermediateInfo-title">
    <% if (page > 1 && totalItems === 0 && totalEntries > 0) { %>
      There are no results in this page
    <% } %>
  </h4>
  <p class="DefaultParagraph DefaultParagraph--short">
    <% if (page > 1 || totalItems === 0 && totalEntries > 0) { %>
      No <%- type %>, no fun
    <% } %>
  </p>
</div>
