<div class="RadioButton EditField-radiobutton js-true <% if (readOnly) { %> is-disabled <% } %>">
  <button class="RadioButton-input <% if (value === true) { %> is-checked <% } %>"></button>
  <label class="RadioButton-label">True</label>
</div>
<div class="RadioButton EditField-radiobutton js-false <% if (readOnly) { %> is-disabled <% } %>">
  <button class="RadioButton-input <% if (value === false) { %> is-checked <% } %>"></button>
  <label class="RadioButton-label">False</label>
</div>
<div class="RadioButton EditField-radiobutton js-null <% if (readOnly) { %> is-disabled <% } %>">
  <button class="RadioButton-input <% if (value === null) { %> is-checked <% } %>"></button>
  <label class="RadioButton-label">Null</label>
</div>