@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

.VideoTutorial-list {
  width: 100%;
}
.VideoTutorial-item {
  float: left;
  margin: 10px 20px 10px 0;
}
.VideoTutorial-item:nth-child(4n) { margin-right: 0 }
.VideoTutorial-itemButton {
  @include css3-prefix(box-sizing,content-box);
  width: 218px;
  height: auto;
  padding: 18px 0 10px;
  background: transparent;
  text-align: center;
  border: 1px solid $cStructure-mainLine;
  border-radius: 4px;
  outline: none;
}
.VideoTutorial-itemTitle {
  display: block;
  margin-top: 10px;
  padding: 10px 10px 5px;
  font-size: $sFontSize-large;
  font-weight: $sFontWeight-normal;
  color: #6E6666;
  line-height: 12px;
}
.VideoTutorial-itemIcon {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  line-height: 48px!important; // Overwritten by icon font style
  font-size: 20px;
  border: 1px solid #6F9FD0;
  color: #6F9FD0;
  background: transparent;
  margin-left: auto;
  margin-right: auto;
}
// Templates icons
.VideoTutorial-itemIcon.iconFont-People {
  line-height: 35px!important;
  font-size: 30px;
}
.VideoTutorial-itemIcon.iconFont-Snake {
  line-height: 33px!important;
  font-size: 30px;
}
.VideoTutorial-itemIcon.iconFont-Points {
  line-height: 38px!important;
  font-size: 24px;
}
.VideoTutorial-itemIcon.iconFont-Notes { font-size: 26px }
.VideoTutorial-itemIcon.iconFont-Mountain {
  font-size: 28px;
  line-height: 40px!important
}
.VideoTutorial-itemIcon.iconFont-Rectangles { font-size: 22px }
.VideoTutorial-itemIcon.iconFont-Email {
  font-size: 26px;
  line-height: 44px!important;
}
.VideoTutorial-itemDes {
  margin: 3px 25px 0 25px;
  font-size: $sFontSize-normal;
  color: $cTypography-secondary;
}
.VideoTutorial-itemInfo {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center);
  margin: 10px 18px 0 18px;
  padding: 8px 0 0;
  border-top: 1px solid $cStructure-mainLine;
  font-size: $sFontSize-smallUpperCase;
  color: $cTypography-help;
}
.VideoTutorial-itemDuration {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
}
.VideoTutorial-itemDurationIcon {
  font-size: 10px;
  margin-right: 3px;
}
.VideoTutorial-itemDifficulty { text-transform: capitalize }
.VideoTutorial-item:hover {
  .VideoTutorial-itemButton {
    background: $cCard-hoverFill;
    cursor: pointer;
    border-color: $cCard-hoverBorder;  
  }
}