
 <div class='oauth-form__avatars'>
  <%if (current_user && current_user.avatar) %> <!-- #TODO use variable like 'current_app' & 'current_app.avatar' -->
    <img class='oauth-form__avatar-image' src="<%= current_user.avatar %>" alt="<%= current_user.username %>" />
  <% else %>
    <svg width="48px" height="48px" style='margin-right: 8px;' viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="unknown_app_avatar" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-3962.000000, -220.000000)" fill="#F2F6F9" fill-rule="nonzero" id="#8">
            <g transform="translate(3840.000000, 180.000000)">
                <g id="Header" transform="translate(40.000000, 40.000000)">
                    <g id="Avatars" transform="translate(82.000000, 0.000000)">
                        <g id="Icono_App">
                            <circle id="Oval" cx="24" cy="24" r="24"></circle>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
    </svg> 
  <% end %>
  
  <svg width="20px" height="24px" viewBox="0 0 20 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="arrow_symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Header" transform="translate(-140.000000, -12.000000)">
          <g id="Avatars">
              <g transform="translate(82.000000, 0.000000)">
                  <g id="Icon" transform="translate(56.000000, 12.000000)">
                      <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                      <g id="Group" transform="translate(2.000000, 0.000000)" fill="#757575" fill-rule="nonzero">
                          <polygon id="Shape" points="15.707 0.294 14.293 1.708 15.586 3 7 3 7 5 15.586 5 14.293 6.294 15.707 7.708 19.414 4"></polygon>
                          <polygon id="Shape" points="5.707 17.708 4.293 16.294 0.586 20 4.293 23.708 5.707 22.294 4.414 21 13 21 13 19 4.414 19"></polygon>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </g>
  </svg>
  
  <img class='oauth-form__avatar-image' src="<%= current_user.avatar %>" alt="<%= current_user.username %>" />

  </div>