<div class='oauth-error'>
  <h3 class='oauth-error__title'>Technical details:</h3>
  <ul class='oauth-error__list'>
    <li class='oauth-error__item'>The specified `redirect_uri` is not registered with the application.</li>
    <!--
    <li class='oauth-error__item'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis libero metus. Quisque viverra aliquam nisl, vitae tincidunt nunc tristique id. Nam ultricies accumsan libero. Cras in neque non nisi fringilla rhoncus quis eu diam. Donec ut est in sapien consequat condimentum. Duis tincidunt nibh ornare facilisis aliquet. Vivamus vestibulum orci ipsum, eu mattis felis sollicitudin non. Nulla facilisi. Duis id posuere arcu, id malesuada dui. Etiam a urna eros. Ut in neque sed leo dignissim ornare. In nisl dui, molestie eget condimentum non, pulvinar a lorem. Aenean quis laoreet diam, eu vehicula urna. Cras ultricies, arcu non euismod tincidunt, neque tortor viverra diam, non iaculis nibh sem a arcu. Pellentesque ac interdum nisl.</li>
    -->
  </ul>
</div>
