<div class='oauth-permission'>
    <h3 class='oauth-permission__title'>Personal user data</h3>
    <ul class='oauth-permission__list'>
        <li class='oauth-permission__item'>Username</li>
        <li class='oauth-permission__item'>Email adresses</li>
        <li class='oauth-permission__item'>Organization name</li>
    </ul>
</div>
<!--
<div class='oauth-permission'>
    <h3 class='oauth-permission__title'>Access to list your datasets</h3>
    <ul class='oauth-permission__list'>
        <li class='oauth-permission__item oauth-permission__item--disabled'>reqs_per_tile</li>
        <li class='oauth-permission__item oauth-permission__item--disabled'>twitter_theforcewakens</li>
        <li class='oauth-permission__item'>reqs_per_tile 2</li>
        <li class='oauth-permission__item'>twitter_theforcewakens 2</li>
        <li class='oauth-permission__item'>reqs_per_tile 3</li>
        <li class='oauth-permission__item'>twitter_theforcewakens 3</li>
        <li class='oauth-permission__item'>reqs_per_tile 4</li>
        <li class='oauth-permission__item'>twitter_theforcewakens 4</li>
    </ul>
</div>
-->
