<% @scopes_by_category.each do |category| %>
  <div class='oauth-scopes-category'>
  <h3 class='oauth-scopes-category__title'><%= category[:description] %></h3>
  <ul class='oauth-scopes-category__list'>
    <% category[:scopes].each do |scope| %>
      <li class='oauth-scopes-category__scope <%= "oauth-scopes-category__scope--disabled" unless scope[:new] %>'>
        <%= scope[:description] %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
