<% scopes = [
  {
    "description" => "Personal user data",
    "items" => [
      {"name" => "Username", "isNew" => true},
      {"name" => "Email addreses", "isNew" => true},
      {"name" => "Organization name", "isNew" => true}
    ]
  },
  {
    "description" => "Access to list your datasets",
    "items" => [
      {"name" => "reqs_per_tile", "isNew" => false},
      {"name" => "twitter_theforcewakens", "isNew" => false},
      {"name" => "omg", "isNew" => true},
      {"name" => "omg 2", "isNew" => true},
      {"name" => "omg 3", "isNew" => true},
      {"name" => "omg 4", "isNew" => true},
      {"name" => "omg 5", "isNew" => true}
    ]
  },
] %>

<% scopes.each do |scope| %>
  <div class='oauth-scope'>
  <h3 class='oauth-scope__title'><%= scope["description"] %></h3>
  <ul class='oauth-scope__list'>
    <% scope["items"].each do |item| %>
      <li class='oauth-scope__item <%= "oauth-scope__item--disabled" if item["isNew"] == false %>'>
        <%= item["name"] %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
