<div class='oauth-scope'>
    <h3 class='oauth-scope__title'>Personal user data</h3>
    <ul class='oauth-scope__list'>
        <li class='oauth-scope__item'>Username</li>
        <li class='oauth-scope__item'>Email adresses</li>
        <li class='oauth-scope__item'>Organization name</li>
    </ul>
</div>
<!--
<div class='oauth-scope'>
    <h3 class='oauth-scope__title'>Access to list your datasets</h3>
    <ul class='oauth-scope__list'>
        <li class='oauth-scope__item oauth-scope__item--disabled'>reqs_per_tile</li>
        <li class='oauth-scope__item oauth-scope__item--disabled'>twitter_theforcewakens</li>
        <li class='oauth-scope__item'>reqs_per_tile 2</li>
        <li class='oauth-scope__item'>twitter_theforcewakens 2</li>
        <li class='oauth-scope__item'>reqs_per_tile 3</li>
        <li class='oauth-scope__item'>twitter_theforcewakens 3</li>
        <li class='oauth-scope__item'>reqs_per_tile 4</li>
        <li class='oauth-scope__item'>twitter_theforcewakens 4</li>
    </ul>
</div>
-->
