<% @scopes_by_category.each do |category| %>
  <div class='oauth-scope'>
  <h3 class='oauth-scope__title'><%= category[:description] %></h3>
  <ul class='oauth-scope__list'>
    <% category[:scopes].each do |scope| %>
      <li class='oauth-scope__item <%= "oauth-scope__item--disabled" unless scope[:new] %>'>
        <%= scope[:description] %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
