<nav>
  <a data-value="true" class="radiobutton true" href="#true"><span class="radio"></span>True</a>
  <a data-value="false" class="radiobutton false" href="#false"><span class="radio"></span>False</a>
  <a data-value="null" class="radiobutton null italic" href="#null"><span class="radio"></span>Null</a>
</nav>