<div class="field">
  <label>DAY</label>
  <div class="form_spinner day"></div>
</div>
<div class="field">
  <label>MONTH</label>
  <div class="form_combo month"></div>
</div>
<div class="field">
  <label>YEAR</label>
  <div class="form_spinner year"></div>
</div>
<div class="field">
  <label>TIME</label>
  <input type="text" class="time" value="<%= time %>"/>
</div>