<div class="loader"></div>
<div class="rest">
  <textarea></textarea>
</div>
<div class="point">
  <span>
    <label class="longitude">Lon</label>
    <input type="text" class="longitude" />
  </span>
  <p class="bigger">,</p>
  <span>
    <label class="latitude">Lat</label>
    <input type="text" class="latitude" />
  </span>
</div>