

  /** 
   *  Geocoder user stats styles
   *
   *  For the moment only used in geocoding dialog.
   */

  @import "compass/css3/border-radius";
  @import "compass/css3/images";

  div.geocoder_stats {
    position:relative;
    display:block;

    a { text-decoration:underline; font-weight:bold; }

    p strong.cost {
      color: #E95850;
    }

    div.progress {
      display:block;
      height:8px;
      margin: 9px 0;

      @include border-radius(8px);
      background:#E2E2E2;
      overflow:hidden;

      span.used {
        display:block;
        height:8px;
        min-width:3%;
        margin:0;
        @include background(linear-gradient(#85acdc, #5990ce));
        @include border-radius(8px);

        &.warning {@include background(linear-gradient(#E7B100, #FF9326));}
        &.danger {@include background(linear-gradient(#FF7373, #FF4D4D));}
      }
    }
  }
