/**
 * Georeference dialog
 */

@import "compass/css3/inline-block";
@import "compass/css3/filter";
@import "../../common/vars";
@import "../../common/form-elements";
@import "../../common/mixins";


.tipsy {
  line-height: 120%;
}

.georeference_message_dialog {
  text-align: center;

  h4 { margin: 0 0 10px 0; padding: 0; font-size: 17px; line-height:normal; }
  p  { font-size: 15px; color: #666666; line-height:normal; }

  .mamufas .block.modal a.close {
    right: -18px;
    top: -18px;
  }

  .mamufas .block.modal div.content { padding: 40px; }
  .mamufas .block.modal div.foot { overflow: visible; padding: 0px 40px 48px 40px; }
  .mamufas .block.modal div.foot a { padding: 12px 32px; }

  .marker {

    &.a { top: 0px;  left: 14px; }
    &.b { top: 30px; left: 42px; }
    &.c { top: 20px; left: 72px; }

    @include opacity(0);
    width: 12px;
    height: 12px;
    display:block;
    position:absolute;
    @include border-radius(100px);
    background: #ccc;
    border: 1px solid #bbb;

    &.a {
      -webkit-transition: all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 300ms ease-in-out, opacity 200ms ease-in;
      -moz-transition:    all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 300ms ease-in-out, opacity 200ms ease-in;
      -o-transition:      all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 300ms ease-in-out, opacity 200ms ease-in;
      transition:         all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 300ms ease-in-out, opacity 200ms ease-in;
    }

    &.b {
      -webkit-transition: all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 200ms ease-in-out, opacity 200ms ease-in;
      -moz-transition:    all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 200ms ease-in-out, opacity 200ms ease-in;
      -o-transition:      all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 200ms ease-in-out, opacity 200ms ease-in;
      transition:         all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 200ms ease-in-out, opacity 200ms ease-in;
    }

    &.c {
      -webkit-transition: all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 400ms ease-in-out, opacity 400ms ease-in;
      -moz-transition:    all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 400ms ease-in-out, opacity 400ms ease-in;
      -o-transition:      all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 400ms ease-in-out, opacity 400ms ease-in;
      transition:         all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 400ms ease-in-out, opacity 400ms ease-in;
    }

    &.error:after {
      content: '×';
      color: #f1f1f1;
      display: block;
      position: relative;
      top: -3px;
      font-size: 15px;
    }

  }

  .icon_container {
    margin: 0 auto 5px auto;
    position:relative;
    width: 96px;
    height: 96px;
    @include border-radius(200px);
    border: 2px solid rgba(#333, .55);

    -webkit-background-clip: padding-box;
    -moz-background-clip:    padding;
    background-clip:         padding-box;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    background-size: cover;

    clear:both;
    overflow:hidden;

    .icon { width: 96px; height: 96px; }
  }

  .opt {
    position:relative;
    margin: auto;
    width: 96px; height: 96px;
    margin: 0 auto 25px auto;
  }

  .opt .icon_container .icon {
    @include filter(grayscale(100%));
    @include opacity(.9);
  }

  .opt, .opt > .icon {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition:    all 250ms ease-in-out;
    -o-transition:      all 250ms ease-in-out;
    transition:         all 250ms ease-in-out;
  }

  .opt > .icon {
    position:absolute;
    top: 0px;
    right: -5px;
    width:31px;
    height:31px;
    @include simple-transition(all, 170ms, ease-in);
  }

  .opt .icon.warning {
    @include background(image-url("layout/georeference_warning.png") repeat center center);
  }

  .opt .icon.error {
    @include background(image-url("layout/georeference_error.png") repeat center center);
  }

  .point .icon_container .icon { @include background(image-url("layout/georeference_points.png") repeat center center); }

  .point.selected.animated .icon_container .icon .marker.a { top: 33px; @include opacity(1);-webkit-transform: scale(1, 1); transform: scale(1, 1); }
  .point.selected.animated .icon_container .icon .marker.b { top: 60px; @include opacity(1);-webkit-transform: scale(1, 1); transform: scale(1, 1); }
  .point.selected.animated .icon_container .icon .marker.c { top: 40px; @include opacity(1);-webkit-transform: scale(1, 1); transform: scale(1, 1); }

  .point.animated .icon_container .icon .marker.a { top: 33px; @include opacity(.7); -webkit-transform: scale(.6, .6); transform: scale(.6, .6); }
  .point.animated .icon_container .icon .marker.b { top: 60px; @include opacity(.7); -webkit-transform: scale(.6, .6); transform: scale(.6, .6); }
  .point.animated .icon_container .icon .marker.c { top: 40px; @include opacity(.7); -webkit-transform: scale(.6, .6); transform: scale(.6, .6); }

  .polygon {

    .icon_container:before {
      content: '';
      width: 100px;
      height: 100px;
      display: block;
      border: 3px solid #fff;
      background: none;
      position: absolute;
      border-radius: 300px;
      top: 50%;
      left: 50%;
      margin-left: -49px;
      margin-top: -49px;
      padding: 0;
      @include box-sizing(border-box);
      z-index:1;
    }

    .icon_container .icon {
      -webkit-transform: scale(.5, .5) rotate(10deg);
      -moz-transform: scale(.5, .5) rotate(10deg);
      transform: scale(.5, .5) rotate(10deg);
      @include background(image-url("layout/georeference_polygons.png") repeat center center);
      width: 400px;
      height: 400px;
      top: -132px;
      left: -137px;
      position: absolute;
    }

    &.selected .icon_container .icon {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }

}

.georeference_dialog {

  // option container
  .cont {
    display:none;
    margin-left:19px;
  }

  .geocoder_stats { display: none; }

  .inner {
    width: 2000px;
    clear:both;
    overflow:hidden;
    padding:40px 40px 40px 40px;
  }

  &.no_data {
    div.content, div.content .inner { overflow: visible; }
    div.content, div.content .inner { width: auto; }
    div.content div.inner {
      padding:40px 39px 20px 39px;
    }
  }

  // Dialog styles
  div.content {
    width: 532px;
    padding: 0!Important;

    clear:both;
    overflow: hidden;

    p { line-height: 120%; }

    ul.options {
      width: 492px;
      float:left;
      margin-right: 60px;
    }

    .georeference_styles {

      float:left;
      width: 493px;

      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      li {
        position:relative;
        border:none;
        outline:none;

        -webkit-transition: background-color 350ms ease-in-out;
        -moz-transition:    background-color 350ms ease-in-out;
        -o-transition:      background-color 350ms ease-in-out;
        transition:         background-color 350ms ease-in-out;

        &.selected {

          .opt {
            color: #333333;
            background: #F2F2F2;
          }

          .marker {
            background: #4F79BD;
            border-color: #25527C;
          }

        }

        .opt {

          display: block;
          position:relative;
          outline:none;
          padding: 25px 20px;
          float:left;
          width: 245px;
          @include box-sizing(border-box);
          min-height: 203px;

          border: 1px solid #E4E4E4;

          font-size:15px;
          font-weight:bold;
          text-align:center;

        }

        &:first-child .opt { border-right: none; @include border-radius(5px 0px 0px 5px); }
        &:last-child  .opt { border-bottom: 1px solid #E4E4E4; @include border-radius(0px 5px 5px 0px); }

        span {
          position:absolute;
          bottom: 25px;
          @include inline-block();
          $width: 163px;
          width: $width;
          left: 50%;
          margin-left: -$width/2;
          line-height:normal;
        }

        &:last-child span {
          $width: 200px;
          width: $width;
          margin-left: -$width/2;
        }

        .marker {

          &.a { top: 0px;  left: 14px; }
          &.b { top: 30px; left: 42px; }
          &.c { top: 20px; left: 72px; }

          @include opacity(0);
          position:absolute;
          width: 12px; 
          height: 12px;
          display: block;
          @include border-radius(100px);
          background: #ccc;
          border: 1px solid #bbb;

          &.a {
            -webkit-transition: all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 300ms ease-in-out, opacity 200ms ease-in;
            -moz-transition:    all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 300ms ease-in-out, opacity 200ms ease-in;
            -o-transition:      all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 300ms ease-in-out, opacity 200ms ease-in;
            transition:         all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 300ms ease-in-out, opacity 200ms ease-in;
          }

          &.b {
            -webkit-transition: all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 200ms ease-in-out, opacity 200ms ease-in;
            -moz-transition:    all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 200ms ease-in-out, opacity 200ms ease-in;
            -o-transition:      all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 200ms ease-in-out, opacity 200ms ease-in;
            transition:         all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 200ms ease-in-out, opacity 200ms ease-in;
          }

          &.c {
            -webkit-transition: all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 400ms ease-in-out, opacity 400ms ease-in;
            -moz-transition:    all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 400ms ease-in-out, opacity 400ms ease-in;
            -o-transition:      all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 400ms ease-in-out, opacity 400ms ease-in;
            transition:         all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 400ms ease-in-out, opacity 400ms ease-in;
          }

        }

        .icon_container {
          margin: 0 50px 5px 50px;
          position:relative;
          width: 96px;
          height: 96px;

          @include border-radius(200px);
          border: 2px solid rgba(#333, .55);

          -webkit-background-clip: padding-box;
          -moz-background-clip:    padding;
          background-clip:         padding-box;

          -webkit-transform: translate3d(0,0,0);
          -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
          background-size: cover;

          clear:both;
          overflow:hidden;

          .icon { width: 96px; height: 96px; }

        }

        .opt .icon {
          @include filter(grayscale(100%));
          @include opacity(.9);
        }

        .opt, .opt .icon {
          -webkit-transition: all 250ms ease-out;
          -moz-transition:    all 250ms ease-out;
          -o-transition:      all 250ms ease-out;
          transition:         all 250ms ease-out;
        }


        &.disabled {

          &.animated {

            
            .icon .marker.a { top: 33px; @include opacity(1); }
            .icon .marker.b { top: 60px; @include opacity(1); }
            .icon .marker.c { top: 40px; @include opacity(1); }
          
          }

          .opt, &.selected .opt {

            .icon_container {

              border: 2px solid rgba(#333, .3);

              .icon {
                @include filter(grayscale(80%));
                @include opacity(.5);
                .marker { 
                  background: #666;
                  border-color: #333;

                }
              }
            }

            span { color: #999999; font-weight:normal;}
            background:#fff;
          }

          &.point span {
            width: 200px;
            margin-left: -100px;
          }

          &.polygon .icon,
          &.selected.polygon .icon {
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
          }

          .warning {
            display:block;
            @include opacity(1);
            top: 30px;
            right:65px;
          }

        }

        .opt .warning {
          display:none;
          position:absolute;
          top: 20px;
          right:65px;
          width:31px;
          height:31px;
          @include background(image-url("layout/georeference_warning.png") repeat center center);
          @include simple-transition(all, 170ms, ease-in);
          @include opacity(0);
        }

        &.selected .opt {

          .icon_container {
            border: 2px solid rgba(#333, .75);
            .icon { @include opacity(1); }
          }

          .icon {
            @include filter(grayscale(0%));
            @include opacity(1);
          }

        }

        &.point {

          .icon { @include background(image-url("layout/georeference_points.png") repeat center center); }

          &.selected.animated .icon .marker {
            &.a { top: 33px; @include opacity(1); }
            &.b { top: 60px; @include opacity(1); }
            &.c { top: 40px; @include opacity(1); }
          }

          &.animated .icon .marker {
            &.a { top: 33px; @include opacity(.7); }
            &.b { top: 60px; @include opacity(.7); }
            &.c { top: 40px; @include opacity(.7); }
          }

        }

        &.polygon {

          .icon_container:before {
            content: '';
            width: 100px;
            height: 100px;
            display: block;
            border: 3px solid #fff;
            background: none;
            position: absolute;
            border-radius: 100px;
            top: 50%;
            left: 50%;
            margin-left: -50px;
            margin-top: -50px;
            padding: 0;
            @include box-sizing(border-box);
            z-index:1;
          }

          .icon {
            -webkit-transform: scale(.5, .5) rotate(10deg);
            transform: scale(.5, .5) rotate(10deg);
            @include background(image-url("layout/georeference_polygons.png") repeat center center);
            width: 400px;
            height: 400px;
            top: -132px;
            left: -137px;
            position: absolute;
          }

          &.selected .icon {
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
          }
        } // polygon

      }
    }

    .message { display: none; }

    .options li {
      margin-bottom:25px;
      border-bottom:none!important;

      &:last-child {margin-bottom:0}
      &.active {
        div.cont {display:block}
      }
    }
  }

  .option > .hint {
    font-size: 13px;
    color: #999999;
    margin: 6px 0 0 20px;
    line-height:normal;
  }

  div.content .option .cont ul {
    margin: 20px 0 0 0;

    li {
      margin: 0;
      padding: 15px 0;
      line-height:normal;
      color: #999999;
      border-top: 1px solid #E5E5E5;
      font-size: 15px;

      #s2id_adm, #s2id_columns { float:right; }
      .select2-container { margin-top: -1px; }
      .by { margin: 0 21px 0 24px; }
      .margin-right { margin: 0 21px 0 0; }
    }

  }

  // Address option
  .address {
    div.info {
      margin-left:0!important;
      /*margin-right:20px!important;*/
    }

    .help {
      position: absolute;
      top: 12px;
      right: 0;
      width: 16px;
      height: 16px;
      padding: 0 !important;
      line-height: 16px;
      font-size: 12px;
      color: white;
      text-align: center;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px;
      background: #E5E5E5;
      border: none;
      z-index: 10;
    }

    .tipsy {
      line-height: 120%;
    }

    // Default input
    @include default-input;
    @include default-form-info();

    input {
      padding-right: 40px;
      width: 448px - 40px + 11;
    }

    .input_field {
      position:relative;
      margin-top:15px;
      width: 448px + 11;
    }


    .hint {
      font-size: 13px;
      color: #999999;
      margin: 6px 0 0 0;
    }

  }

  // Column selector
  .column_selector {
    @include inline-block();
    background: #F2F2F2;
    margin:20px 10px 0 0;
    width: 207px;
    padding: 11px;
    @include border-radius(3px);

    &:last-child {margin-right:0;}

    & > span {
      @include inline-block();
      vertical-align: middle;
      width:40px;
      font: 15px;
      color: #CCCCCC;
    }

    div.form_combo {
      @include inline-block();
      vertical-align: middle;
    }
  }

  &.option_0 section.block.modal .foot,
  &.option_2 section.block.modal .foot { border-top: 1px solid #E5E5E5; }

  &.option_2.step_1 section.block.modal .foot { border-top: none; }

  section.block.modal div.foot {
    border-top:none;
    margin-top:0;

    a.back { margin-top:15px; }

  }
}
