<div class="ImportPanel">
  <div class="ImportPanel-header">
    <h3 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">Basemaps provided by NASA Worldview</h3>
    <p class="CDB-Text CDB-Size-medium u-altTextColor u-bSpace--xl ImportPanel-headerDescription">Select a date from which you want a global basemap.</p>
  </div>
  <div class="Form-row Form-row--centered">
    <div class="Form-rowData Form-rowData--short Form-rowData--alignLeft">
      <div class="Form-rowData Form-rowData--full">
        <div class="RadioButton js-day">
          <button type="button" class="RadioButton-input <% if (layerType === 'day') { %>is-checked<% } %>"></button>
          <label class="RadioButton-label" for="nasa-type-day">Day</label>
        </div>
      </div>
      <div class="Form-rowData Form-rowData--full">
        <div class="RadioButton js-night">
          <button type="button" class="RadioButton-input <% if (layerType === 'night') { %>is-checked<% } %>"/></button>
          <label class="RadioButton-label" for="nasa-type-night">Night</label>
        </div>
      </div>
    </div>
    <div class="Form-rowData Form-rowData--short">
      <div class="js-datePicker" data-title="You can't select a date in night mode"></div>
    </div>
  </div>
</div>
<div class="Dialog-footer Dialog-footer--withoutBorder u-inner">
  <%/* ok class == let parent dialog view handle the click event */%>
  <button class="Button Button--main Button--inline ok">
    <span>Add basemap</span>
  </button>
</div>
