<div class="ImportPanel">
  <div class="ImportPanel-header">
    <h3 class="ImportPanel-headerTitle">Basemaps provided by NASA Worldview</h3>
    <h3 class="ImportPanel-headerDescription">Select a date from which you want a global basemap.</h3>
  </div>
  <div class="Form-row Form-row--centered">
    <div class="Form-rowData Form-rowData--short Form-rowData--alignLeft">
      <div class="Form-rowData Form-rowData--full">
        <div class="RadioButton">
          <input type="radio" class="RadioButton-input" name="day_or_night" id="nasa-day" value="day" checked="checked" />
          <label class="RadioButton-label" for="nasa-day">Day</label>
        </div>
      </div>
      <div class="Form-rowData Form-rowData--full">
        <div class="RadioButton">
          <input type="radio" class="RadioButton-input" name="day_or_night" id="nasa-night" value="night" />
          <label class="RadioButton-label" for="nasa-night">Night</label>
        </div>
      </div>
    </div>
    <div class="Form-rowData Form-rowData--short">
      <div class="js-date-picker">
        <input type="text" class="Form-input Form-input--short has-icon js-url" value="<%= todayDateStr %>">
        <i class="iconFont iconFont-Calendar Form-inputIcon js-idle"></i>
      </div>
    </div>
  </div>
</div>
<div class="Dialog-footer Dialog-footer--withoutBorder u-inner">
  <%/* ok class == let parent dialog view handle the click event */%>
  <button class="Button Button--main Button--inline ok is-disabled">
    <span>Add basemap</span>
  </button>
</div>
