<div class="ImportPanel">
  <div class="ImportPanel-header">
    <h3 class="ImportPanel-headerTitle">Basemaps provided by NASA Worldview</h3>
    <h3 class="ImportPanel-headerDescription">Select a date from which you want a global basemap.</h3>
  </div>
  <div class="Form-row">
    <div class="Form-rowLabel">
      <div>
        <input type="checkbox" class="js-day" name="day_or_night" value="day" /> Day
      </div>
      <div>
        <input type="checkbox" class="js-night" name="day_or_night" value="night" /> Night
      </div>
    </div>
    <div class="Form-rowData Form-rowData--short">
      <input type="text" class="Form-input Form-input--longer has-icon js-url" value="<%= todayDateStr %>">
      <i class="iconFont iconFont-Dribbble Form-inputIcon js-idle"></i>
    </div>
  </div>
</div>
<div class="Dialog-footer Dialog-footer--withoutBorder u-inner">
  <%/* ok class == let parent dialog view handle the click event */%>
  <button class="Button Button--main Button--inline ok is-disabled">
    <span>Add basemap</span>
  </button>
</div>
