<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--positive">
    <i class="iconFont iconFont-Map"></i>
  </div>
  <p class="Dialog-headerTitle"><%= title %></p>
  <p class="Dialog-headerText"><%= explanation %></p>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>cancel</span>
  </button>
  <button class="Button Button--positive ok">
    <span>Ok, create map</span>
  </button>
</div>
