<i class="iconFont iconFont-Heart--fill LikesIndicator-icon <% if ((typeof size != "undefined") && size == 'big') { %>LikesIndicator-icon--big<% } %>"></i><% if (likes > 2) { %><span class="LikesIndicator-count"><%= likes %></span><% } %>
