<div class="Modal-header">
  <div class="Modal-headerContainer">
    <h2 class="CDB-Text CDB-Size-huge is-light u-bSpace">Organization icons</h2>
    <h3 class="CDB-Text CDB-Size-medium u-altTextColor"><a data-type="upload_file" href="#/upload" class="js-addIcon">Upload organization icons</a></h3>
  </div>
</div>

<div class="Modal-container IconModal">
  <div class="Tab-pane">
    <div class="Modal-inner">
      <div class="Dialog-body Dialog-body--expanded Dialog-body--create Dialog-body--withoutBorder">
        <div class="u-inner">
          <div class="js-dialogIconPicker"></div>
        </div>
      </div>
    </div>
  </div>
</div>
