<li class="CDB-NavMenu-item is-disabled js-your-icons<%- pane === 'your_icons' ? ' is-selected' : '' %>">
  <button data-type="your_icons" class="CDB-NavMenu-link js-item u-upperCase">Organization icons</button>
</li>
