<button class="js-date DatePicker-dates DatePicker-dates--singleDate has-icon">
  <strong class="js-date-str"><%- initialDateStr %></strong>
  <i class="iconFont iconFont-Calendar DatePicker-datesIcon"></i>
</button>
<div class="DatePicker-dropdown DatePicker-dropdown--singleCalendar DatePicker-dropdown--openRight" style="display: none;">
  <div class="DatePicker-calendar"></div>
</div>
