<button class="js-date-picker DatePicker-dates DatePicker-dates--singleDate has-icon">
  <strong class="js-date-str"><%- date %></strong>
  <i class="iconFont iconFont-Calendar DatePicker-datesIcon"></i>
</button>
