@import "../../new_common/mixins";
@import "../../new_common/colors";

/**
 * Row is distributed over the total size of 940px as:
 * Category(40px) + margin(20px) PrimaryInfo(480px) + margin(20px) + SecondaryInfo(380px)
 */
.DatasetsList {
  position: relative;
  width: 940px;
  margin: 0 auto;
  padding: 20px 0;
}
.DatasetsList-item {
  @include display-flex();
  @include justify-content(center, center);
  padding: 28px 0;
  border-bottom: 1px $cGray8 solid;
}
.DatasetsList-item:hover,
.DatasetsList-item.is-selected {
  padding: 28px 19px; /* compensate for the negative margins and border */
  margin: -1px -20px 0px -20px;
  background-color: $cSelectBg;
  border: 1px $cSelectBorder solid;
  @include border-radius(5px);
}
.DatasetsList-itemCategory {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border: 1px $cGray8 solid
}
.DatasetsList-itemPrimaryInfo {
  @include display-flex();
  @include flex-direction(column);
  width: 480px;
  margin-right: 20px;
}
.DatasetsList-itemSecondaryInfo {
  @include display-flex();
  @include flex-direction(column);
  width: 380px;
}
.DatasetsList-itemMeta {
  @include display-flex();
  @include justify-content(flex-end, flex-end);
  @include align-items(center, center);
  font-size: 16px;
  line-height: 19px;
}
.DatasetsList-itemMeta > * {
  margin-right: 20px;
}
.DatasetsList-itemMeta > *:last-child {
  margin-right: 0;
}
.DatasetsList-itemTags {
  @include display-flex();
  @include justify-content(flex-end, flex-end);
  @include align-items(flex-end, flex-end);
  margin-top: 5px;
}
.DatasetsList-itemTitle {
  @include display-flex();
  @include align-items(center, center);
}
.DatasetsList-itemTitlePermission {
  margin-left: 10px;
}
.DatasetsList-itemDescription {
  margin-top: 7px;
}
