<div class="u-inner">
  <div class="Dialog-header">
    <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
      <i class="CDB-IconFont CDB-IconFont-download"></i>
    </div>
    <p class="Dialog-headerTitle">Export custom image size</p>
    <p class="Dialog-headerText Dialog-headerText--ellipsis Dialog-headerText--centered Dialog-headerText--small ">The image will be centered using the map's current center and won't export your widgets.<br />Please, be sure you have the pop-up blocker deactivated for this site.</p>
  </div>
  <div class="Dialog-body Dialog-body--small">

    <form class="Form js-form">
      <div class="Form-row Form-row--centered">

        <div class="Form-rowLabel Form-rowLabel--export">
          <label class="Form-label">Width</label>
        </div>

        <div class="Form-rowData Form-rowData--export">
          <div class="Form-inputField Form-inputField--withLabel">
            <input type="text" class="Form-input Form-input--shorter js-width js-textInput" value="<%- width %>" /> <span class="Form-inputLabel">px</span>
          </div>
          <label class="Form-label">Height</label>
          <div class="Form-inputField Form-inputField--withLabel">
            <input type="text" class="Form-input Form-input--shorter js-height js-textInput" value="<%- height %>" /> <span class="Form-inputLabel">px</span>
          </div>
        </div>

      </div>

      <div class="Form-row Form-row--centered">
        <div class="Form-rowLabel Form-rowLabel--export">
          <label class="Form-label">Format</label>
        </div>

        <div class="Form-rowData Form-rowData--export">
          <ul class="ExportImage-formatList">
            <li class="ExportImage-formatItem">
              <div class="RadioButton RadioButton--export js-format" data-format="png">
                <button class="RadioButton-input <% if (format == 'png') {%>is-checked<% } %> js-radioButton js-png"></button>
                <label class="RadioButton-label">.png</label>
              </div>
            </li>
            <li class="ExportImage-formatItem">
              <div class="RadioButton RadioButton--export js-format" data-format="jpg">
                <button class="RadioButton-input <% if (format == 'jpg') {%>is-checked<% } %> js-radioButton js-jpg"></button>
                <label class="RadioButton-label">.jpg</label>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </form>

  </div>
  <div class="Dialog-footer Dialog-footer--small Dialog-footer Dialog-footer--simple u-inner">
    <button class="Button Button--main ok js-ok">
      <span>Export</span>
    </button>
  </div>
</div>
