<div class="u-inner">
  <div class="Dialog-header">
    <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
      <i class="CDB-IconFont CDB-IconFont-ray"></i>
    </div>
    <p class="Dialog-headerTitle">Saved to AVMM</p>
    <div class="Dialog-body">
      <p><img src="<%- response.content %>"
              style="max-width:33vw; max-height:50vh;"></p>
    </div>
    <div class="Dialog-body">
      <div class="Form">
        <div class="Form-row">
          <div class="Form-rowLabel">
            Title:
          </div>
          <div class="Form-rowData">
            <%- response.title %>
          </div>
        </div>
        <div class="Form-row">
          <div class="Form-rowLabel">
            ID:
          </div>
          <div class="Form-rowData">
            1234567890
          </div>
        </div>
    </div>
  </div>
  <div class="Dialog-footer Dialog-footer--simple">
    <button class="Button Button--secondary Dialog-footerBtn cancel">
      <span>close</span>
    </button>
  </div>
</div>
