
  /**
   *  Common data main styles
   *
   */

  @import "compass/css3/box-shadow";
  @import "compass/css3/border-radius";
  @import "compass/css3/images";
  @import "compass/css3/inline-block";
  @import "compass/css3/opacity";
  @import "compass/css3/transform";
  @import "../common/mixins";
  @import "../common/vars";


  // Subheader
  .subheader {
    border-bottom:1px solid #CCCCCC;
    @include box-shadow(rgba(black,0.1) 0 0 3px 3px);
    
    div.inner {
      padding:40px 0;
    }

    h2 {
      font-size:23px;
      font-weight:bold;
      font-family:$title-fonts;
      color:#333333;
      line-height:25px;
      letter-spacing:0;
    }
  }

  // Loader
  .main_loader {
    display:block;
    height:auto!important;
    padding-top:200px;

    span.loader {
      display:block;
      height:16px;
      background:image-url("layout/loader_transparent.gif") no-repeat center 0;
    }
    
    p {
      display:block;
      margin-top:10px;
      text-align: center;
    }
  }

  // Empty block
  .empty {
    display:none;
    padding-top:80px;

    div.inner {
      padding:100px 0;
      background:white;
      border:1px solid #D1D1D1;
      @include border-radius(3px);
      text-align: center;
      @include box-shadow(0 0 3px 3px rgba(black, .08) );
    }
    
    p, h3 {
      margin:10px auto 0;
      width:500px;
      text-align: center;
      letter-spacing:0;
    }

    p { line-height:18px }
  }

  // Content -> Aside + Tables
  .public_tables {
    display:block;
    padding:28px 0 50px;

    .inner {
      @include display-flex();
      @include justify-content(space-between, justify);
      width:1063px;
      min-height:500px;
    }

  }

  // Aside
  aside {
    display:none;
    width:280px;

    ul { display:block }

    li {

      a {
        @include display-flex();
        @include justify-content(flex-start, start);
        @include align-items(center, center);
        height:52px;
        padding:0 20px;
        border:1px solid transparent;
        border-top:1px solid #E2E2E2;
        color:#666666;
      }

      // First child doesn't have border
      &:first-child {
        a { border-top:1px solid transparent }
      }

      &.selected a {
        font-weight:500;
        border:1px solid #E2E2E2!important;
        @include border-radius(2px);
        cursor:default;
        text-decoration:none;
        color:#666;
        background:white;
      }

      &.selected + li a {
        border-top:none!important
      }

    }
  }

  // Tables
  section.tables {
    display:none;
    width:720px;
    margin-right:20px;

    // Hide all tables sections (index, tag, latest)
    .tables-tag,
    .tables-index,
    .tables-latest {
      display:none
    }

    // Tables index
    .tables-index .margin {
      margin-top:37px;
    }

    // Tables title
    .common-data-title {
      @include display-flex();
      @include align-items(center, center);
      height:53px;
      padding:0 20px;
      @include border-radius(2px);
      background:image-url('layout/default_common_data_bkg.jpg') no-repeat 0 0;

      h3 {
        font-weight:500;
        font-size:13px;
        font-family: $title-fonts;
        color:white;
        text-transform:uppercase;
        text-shadow: -1px 1px 5px rgba(black,0.4), 1px -1px 5px rgba(black,0.4);
      }
      
      &.Cultural-datasets               { background:image-url('layout/cultural_bkg.jpg') no-repeat 0 0 }
      &.Cities-buildings-roads-and-POIs { background:image-url('layout/natural_bkg.jpg') no-repeat 0 0 }
      &.Administrative-regions          { background:image-url('layout/administrative.png') no-repeat 0 0 }
    }

    // Tables list
    ul.tables,
    div.tables-index,
    div.tables-tag,
    div.tables-featured {
      li:first-child .table-item-inner { border-top:none }
      li:last-child .table-item-inner { border-bottom:1px solid rgba(204,204,204,0.5); }
    }

    .table-item-inner {
      padding:21px 20px;
      border-right:1px solid transparent;
      border-left:1px solid transparent;

      &:hover {
        background:white;
        border-right:1px solid rgba(204,204,204,0.5);
        border-left:1px solid rgba(204,204,204,0.5);
        @include border-radius(3px);

        h4 a { color:black }
      }
    }

    // Tables attributes
    .table-title {
      a {
        @include transform-style("linear");
        @include transition-property("color");
        @include transition-duration(250ms);
      }
    }
    .table-desc h3 { font-size:17px }
    .table-desc p {
      margin-top:8px;
      font-size:13px;
      color:#868686;
    }

    .table-source {

      p, a { font-family:$text-fonts2 }

      a {
        color:#878787!important;
        &:hover { color:#666 }
      }
    }

    .table-license {
      display:block;
      margin-top:8px;
      text-align:right;
      font-size:13px;
      color:#868686;

      .icon-license {
        @include inline-block();
        width:8px;
        height:8px;
        margin-left:4px;
        @include border-radius(2px);
        background:#999;

        &.Free { background:#6DD900 }
        &.Free-non-commercial { background:#FFD24D }
      }
    }

    // When user can't import that file,
    // let's apply disabled state
    .table-item-inner.disabled {
      
      .table-size > span { color:rgba(red, 0.6) }
      
      h4 a {
        color:#999;
        @include opacity(0.75);
        
        &:hover {
          cursor:not-allowed;
          color:#999;
          text-decoration:none;
        }
      }

      .table-description,
      .table-source p a,
      .table-rows > span,
      .table-license {
        color:#999;
        @include opacity(0.50);
      }

      &:hover {
        h4 a { color:#999 }
        background:none;
        border-right:1px solid transparent;
        border-left:1px solid transparent;
      }
    }

    // View all
    .tables-view-all {
      padding:15px 20px;
      border-top: 0;
      border-bottom:1px solid #E2E2E2;

      a { text-decoration:underline }
    }

  }

  