<button class="Button Button--main is-smaller js-add-users">
  <span>Add users</span>
</button>
<button class="Button Button--negative is-smaller js-rm-users" style="display: none;">
  <span>Remove from group</span>
</button>
