<div class="FormAccount-separator"></div>
<div class="FormAccount-row">
  <div class="FormAccount-rowLabel">
    <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor" for="group-name">Group name</label>
  </div>
  <div class="FormAccount-rowData">
    <input type="text" class="CDB-InputText CDB-Text js-name" id="group-name" size="30" maxlength="28" placeholder="Enter a name of group" />
    <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
    </div>
  </div>
</div>
<div class="FormAccount-footer u-justifyEnd">
  <button class="CDB-Button CDB-Button--primary is-disabled js-create">
    <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Create group</span>
  </button>
</div>
