<form>
  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="FormAccount-label" for="group-name">Group name</label>
    </div>
    <div class="FormAccount-rowData">
      <input type="text" class="FormAccount-input FormAccount-input--med is-disabled js-name" id="group-name" size="30" value="<%- displayName %>" placeholder="Enter a name of group" />
      <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
      </div>
    </div>
  </div>
  <div class="FormAccount-footer">
    <button type="submit" class="FormAccount-footerItemAsSecond Button Button--main is-disabled js-save">
      <span>Save changes</span>
    </button>
    <button type="submit" class="FormAccount-footerItemAsFirst Button Button--link is-destructive is-inline js-delete">Delete this group</button>
  </div>
</form>
