<a class="OrganizationList-userLink" href="<%- url %>">
  <div class="OrganizationList-userInfo">
    <div class="OrganizationList-userInfoName">
      <h3 class="OrganizationList-userInfoTitle u-ellipsLongText" title="<%- displayName %>">
        <%- displayName %>
      </h3>
      <h4 class="OrganizationList-userInfoSubtitle u-ellipsLongText">
        <%/* TODO: replace w/ meta info about group */%>&nbsp;
      </h4>
    </div>
  </div>
</a>
