<div class="OrganizationSearch">
  <div class="OrganizationSearch-Item"></div>
  <div class="OrganizationSearch-Item">
    <button class="Button Button--main is-smaller js-add-users">
      <span>Add users</span>
    </button>
  </div>
</div>
