<div class="OrganizationSearch js-default-header">
  <div class="OrganizationSearch-Item"></div>
  <div class="OrganizationSearch-Item">
    <button class="Button Button--main is-smaller js-add-users">
      <span>Add users</span>
    </button>
  </div>
</div>
<div class="OrganizationSearch js-selected-users-header" style="display: none;">
  <div class="OrganizationSearch-Item"></div>
  <div class="OrganizationSearch-Item">
    <button class="Button Button--negative is-smaller js-rm-users">
      <span>Remove from group</span>
    </button>
  </div>
</div>
