<div class="Filters is-relative Filters--thin">
  <div class="Filters-inner">
    <div class="Filters-row">
      <div class="Filters-typeItem"></div>
      <div class="Filters-group">
        <button class="Button Button--main is-smaller js-add-users">
          <span>Add users</span>
        </button>
        <button class="Button Button--negative is-smaller js-rm-users" style="display: none;">
          <span>Remove from group</span>
        </button>
      </div>
    </div>
  </div>
  <span class="Filters-separator"></span>
</div>
