@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  div.cartodb-timeslider .ui-slider .ui-slider-handle {
    top: -12px!Important;
    padding: 9px 3px;
    background:transparent url('../img/handle@2x.png') center center no-repeat!Important;
    border:none!Important;
    background-size: 11px 12px!Important;
  }

  div.cartodb-mobile .toggle {
    float:right;

    display:block;
    width: 40px;
    height: 30px;
    margin: auto;

    padding: 5px 0;

    background: url('../img/burguer@2x.png') no-repeat center center white;
    background-size: 18px 11px;
  }

}


@media only screen 
and (max-device-width : 320px) 
and (max-device-width : 480px) {
  div.cartodb-timeslider .ui-slider .ui-slider-handle {
    top: -12px!Important;
    padding: 9px 3px;
    background:transparent url('../img/handle@2x.png') center center no-repeat!Important;
    border:none!Important;
    background-size: 11px 12px!Important;
  }

}

/* iPhone portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait) { 

  .cartodb-text {display:none}
  .cartodb-map-wrapper { bottom: 0!Important;}

}

/* iPhone landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) { 

  .cartodb-text {display:none}
  .cartodb-map-wrapper { bottom: 0!Important;}

  .torque div.cartodb-timeslider .slider-wrapper {
    width:98px!important;
  }

  .torque div.cartodb-timeslider .slider {
    width:98px!important;
  }
}

@media only screen and (min-width: 360px) and (max-width: 490px) {

  div.cartodb-timeslider .slider-wrapper {
    width:198px!important;
  }

  div.cartodb-timeslider .slider {
    width:198px!important;
  }

}

/* iPhone 5 portrait */
@media screen and (device-aspect-ratio: 40/71)
and (orientation : portrait) { 
  .cartodb-text {display:none}
  .cartodb-map-wrapper { bottom: 0!Important;}
  div.cartodb-timeslider .ui-slider .ui-slider-handle {
    top: -12px!Important;
    padding: 9px 3px;
    background:transparent url('../img/handle@2x.png') center center no-repeat!Important;
    border:none!Important;
    background-size: 11px 12px!Important;
  }
}

/* iPhone 5 landscape */
@media screen and (device-aspect-ratio: 40/71)
and (orientation : landscape) { 
  .cartodb-text {display:none}
  .cartodb-map-wrapper { bottom: 0!Important;}

  div.cartodb-timeslider .ui-slider .ui-slider-handle {
    top: -12px!Important;
    padding: 9px 3px;
    background:transparent url('../img/handle@2x.png') center center no-repeat!Important;
    border:none!Important;
    background-size: 11px 12px!Important;
  }

}

/* Nexus portrait */
@media only screen 
and (min-device-width : 340px) 
and (max-device-width: 768px) 
and (orientation : portrait) { 

  .cartodb-text {display:none}
  .cartodb-map-wrapper { bottom: 0!Important;}

  div.cartodb-timeslider .ui-slider .ui-slider-handle {
    top: -12px!Important;
    padding: 9px 3px;
    background:transparent url('../img/handle@2x.png') center center no-repeat!Important;
    border:none!Important;
    background-size: 11px 12px!Important;
  }


}

/* Nexus landscape */
@media only screen 
and (max-device-width : 768px) 
and (orientation : landscape) { 

  .cartodb-text {display:none}
  .cartodb-map-wrapper { bottom: 0!Important;}

  div.cartodb-timeslider .ui-slider .ui-slider-handle {
    top: -12px!Important;
    padding: 9px 3px;
    background:transparent url('../img/handle@2x.png') center center no-repeat!Important;
    border:none!Important;
    background-size: 11px 12px!Important;
  }



}

div.cartodb-timeslider .slider-wrapper {
  display:inline-block;
  zoom: 1;
  *display: inline;
  vertical-align:top;
  width:298px;
  height:4px;
  _height:4px;
  padding:18px 15px;
}

div.cartodb-timeslider .slider {
  width:298px;
  height:4px;
}

div.cartodb-timeslider .ui-helper-hidden {
  display: none;
}

div.cartodb-timeslider .ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
div.cartodb-timeslider .ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
div.cartodb-timeslider .ui-helper-clearfix:before,
div.cartodb-timeslider .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
div.cartodb-timeslider .ui-helper-clearfix:after {
  clear: both;
}
div.cartodb-timeslider .ui-helper-clearfix {
  min-height: 0;
}
div.cartodb-timeslider .ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter:Alpha(Opacity=0);
}

div.cartodb-timeslider .ui-front {
  z-index: 100;
}

div.cartodb-timeslider .ui-state-disabled {
  cursor: default !important;
}

div.cartodb-timeslider .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

div.cartodb-timeslider .ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div.cartodb-timeslider .ui-slider {
  background-color: #E0E0E0;
  position: relative;
  text-align: left;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -o-border-radius:2px;
}
div.cartodb-timeslider .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 102;
  width: 9px;
  height: 10px;
  cursor: default;
  background:url('../img/slider.png') no-repeat -98px -18px white;
  border:1px solid #555555;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -o-border-radius:2px;
  outline:none;
}

div.cartodb-timeslider .ui-slider .ui-slider-handle:hover {
  cursor:col-resize;
  background-position:-112px -18px;
}

div.cartodb-timeslider .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 100;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
  background-color:#397DBA;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -o-border-radius:2px;
}

div.cartodb-timeslider .ui-slider.ui-state-disabled .ui-slider-handle,
div.cartodb-timeslider .ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

div.cartodb-timeslider .ui-slider-horizontal {
  height: 4px;
  cursor:pointer;
}
div.cartodb-timeslider .ui-slider-horizontal .ui-slider-handle {
  top: -4px;
  margin-left: -6px;
}
div.cartodb-timeslider .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
  cursor:pointer;
}
div.cartodb-timeslider .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
div.cartodb-timeslider .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

div.cartodb-timeslider .ui-slider-vertical {
  width: .8em;
  height: 100px;
}
div.cartodb-timeslider .ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}
div.cartodb-timeslider .ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
div.cartodb-timeslider .ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
div.cartodb-timeslider .ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
