// Buttons
// --------------------------------------------------

@import "mixins";
@import "colors";

.Button {
  @include inline-block();
  @include border-radius(28px);
  background-color: $cLightGray;
  padding: 13px 29px;
}
.Button:hover {
  text-decoration:none;
  background-color: darken($cLightGray, 5%);
}
.Button,
.Button span {
  font-family: "Lato", "san-serif";
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: $cWhite;
  text-transform: uppercase;
}
.Button--border {
  border-style: solid;
  border-width: 2px;
}
.Button--green {
  background-color: $cGreen;
  &:hover {
    background-color: darken($cGreen, 5%);
  }
}
.Button--white {
  border-color: white;
  background-color: transparent;
  
  &:hover {
    background-color: transparent;
  }
}
