@import "../new_variables/colors";
@import "../new_variables/sizes";

// Used to hint user to add some optional piece of information, e.g. tags, description.
// TODO: check this component, probably not necessary
.CallToAction {
  font-weight: $sFontWeight-lighter;
  font-style: italic;
  color: $cTypography-link;
}
