@import "../new_variables/mixins";
@import "../new_variables/colors";
@import "../new_variables/sizes";

.ChangePrivacy-optionsList {
  @include display-flex();
  @include justify-content(center);
  @include align-items(stretch);
  @include align-content(space-between, justify);
}
.ChangePrivacy-upgradeBanner {
  background-color: rgba(#E8F0D6, 0.3);
}
.ChangePrivacy-upgradeBannerInner {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center);
  margin: 0 $sMargin-group;
}
.ChangePrivacy-upgradeBannerIcon {
  margin-right: $sMargin-group;
  color: rgba(#ADAFA8, 1);
}
.ChangePrivacy-shareBanner {
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
}
.ChangePrivacy-shareBannerIcon {
  margin-right: $sMargin-elementInline;
}
.ChangePrivacy-startFooter {
  @include display-flex();
  @include justify-content(center);
  @include align-items(stretch);
  @include align-content(space-between, justify);
}
.ChangePrivacy-shareFooter {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center);
}
.ChangePrivacy-shareFooterGroup {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center);
}
.ChangePrivacy-passwordInput {
  width: 200px;
  margin-right: 120px;
}
.ChangePrivacy-infoIcon {
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
  width: 21px;
  height: 21px;
  color: white;
  background-color: #F6D35C;
  border: 1px solid #F2C000;
  border-radius: 30px;
  margin-right: $sMargin-elementInline;
}
