// Content Result
// 
// Show the result of any action made in the
// dashboard, example (search, no results, error,
// loading, ...) 
// --------------------------------------------------

@import "../new_variables/colors";
@import "../new_variables/mixins";
@import "../new_variables/sizes";

.ContentResult {
  width: 460px;
  min-height: 360px;
  margin: 80px auto 0;
  text-align: center;
}
.ContentResult.empty--content {
  width: auto;
  margin: 0 auto;
  min-height: 0;
}
.ContentResult-loader {
  position: relative;
  margin: 0 auto;
  border-top: 2px solid rgba(#DDDDDD, 1);
  border-right: 2px solid rgba(#DDDDDD, 1);
  border-bottom: 2px solid rgba(#DDDDDD, 1);
  border-left: 2px solid #0090D7;
  @include animation(load8 1.1s infinite linear);
}
.ContentResult-loader,
.ContentResult-loader:after {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.ContentResult-smallLoader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  overflow: hidden;
  z-index: 100;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 600px;
    right: 0;
    height: 2px;
    background: #82ABDA;
    @include animation(pulsate 1.5s linear infinite);      
  }
}
.ContentResult-icon {
  @include inline-block();
  width: 38px;
  height: 38px;
  border: 1px solid $cStructure-mainLine;
  border-radius: 2px;
  line-height:36px;
  font-size: 22px;
  color: $cTypography-help;
}
// Icon types
.ContentResult-iconNegative {
  border-color: $cHighlight-negative;
  color: $cHighlight-negative;
}
.ContentResult-iconPositive {
  border-color: $cHighlight-positive;
  color: $cHighlight-positive;
}
.ContentResult-iconAlert {
  border-color: $cHighlight-alert;
  color: $cHighlight-alert;
}
.ContentResult-title {
  display: block;
  margin: 15px 0 10px 0;
  font-size: $sFontSize-largest;
  font-weight: $sFontWeight-normal;
  line-height: $sLineHeight-largest;
  color: $cTypography-paragraphs;
}
.ContentResult-text {
  display: block;
  font-size: $sFontSize-large;
  color: $cTypography-paragraphs;
  font-weight: $sFontWeight-lighter;
}

// Animation functions
@include keyframes(pulsate) {
  0% {right:100%;}
  50% {right:0%}
  100% {right:-100%}
}
@include keyframes(load8){
  0% { @include css3-prefix(transform, rotate(0deg)) }
  100% { @include css3-prefix(transform, rotate(360deg)) }
}
