// Content controller
// 
// Main view for new dashboard, where maps or
// datasets results appear.
// --------------------------------------------------

.ContentController {
  position: relative;
  display: block;
  // width: 940px;
  min-height: 600px;
  margin: 0 auto;
}