@import "../new_variables/mixins";
@import "../new_variables/colors";
@import "../new_variables/sizes";

.ContentFooter > .u-inner {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  position:relative;
  height: 81px;
  padding: 0 0 50px 0;
  overflow:hidden;
}
.ContentFooter-lockedIcon {
  font-size: $sFontSize-small;
  color: $cTypography-help;
}

