@import "../new_common/mixins";
@import "../new_common/colors";
@import "../new_common/sizes";

.ContentFooter > .u-inner {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  position:relative;
  width: $sLayoutWidth;
  height:81px;
  margin: 0 auto;
  padding: 0;
  overflow:hidden;
}
.ContentFooter-lockedIcon {
  font-size: $sFontSmall;
  color: $cTypography-help;
}

