@import "common/mixins";
@import "common/common-sprite";
@import "common/vars";
@import "colors";

body {
  font-family: "Lato-Regular", "san-serif";
  font-weight: 400;
}

a {
  font-family: "Lato-Regular", "san-serif";
  font-weight: 400;
}

strong {
  font-family: "Lato-Bold", "san-serif";
  font-weight: 700;
}

/* DashboardFilters */

.DashboardFilters {
}
.DashboardFilters .FilterList li .shadow {
  display: none;
  position:absolute;
  width: 100%;
  bottom: -35px;
  border-bottom: 1px solid $cGray4;
}
.DashboardFilters-inner {
  @include clearfix();
  position:relative;
  width: 940px;
  margin: auto;
  padding: 20px 0;

  border-bottom: 1px solid $cLightGray;
}
.DashboardFilters-order {
}
.DashboardFilters .Button {
  float: right;
}

.VisList {

}
.VisList-Inner {
  @include clearfix();
  position:relative;
  width: 940px;
  margin: auto;
  padding: 20px 0;
}
