// Default title for datasets and maps
// --------------------------------------------------

@import "../new_variables/colors";
@import "../new_variables/sizes";


.DefaultTitle {
  font-weight: $sFontWeight-normal;
  font-size: $sFontSize-larger;
  line-height: $sLineHeight-larger;
  color: $cTypography-paragraphs;
}
.DefaultTitle-link {
  &:hover {
    color: $cTypography-headers;
    text-decoration: underline;
  }
}
