// Default secondary paragraph texts
// --------------------------------------------------

@import "../new_variables/colors";
@import "../new_variables/sizes";

.DefaultSecondary {
  font-size: $sFontSize-large;
  font-weight: $sFontWeight-lighter;
  line-height: $sLineHeight-large;
  color: $cTypography-secondary;
}
