// Default description for datasets and maps
// --------------------------------------------------

@import "../new_common/colors";
@import "../new_common/sizes";

.DefaultDescription {
  font-size: $sFontSize-default;
  font-weight: $sFontWeight-lighter;
  color: $cTypography-secondary;
}
