// Default tags for datasets and maps
// --------------------------------------------------

@import "colors";


.DefaultTags {
  font-weight:300;
  font-size:13px;
  color:$cGray6;
  line-height:16px;
}
.DefaultTags-item {

}
