// Default title for datasets and maps
// --------------------------------------------------

@import "../new_common/colors";


.DefaultTitle {
  font-weight:400;
  font-size:16px;
}
.DefaultTitle-link {
  color: $cTypography-paragraphs;
  &:hover {
    color: $cTypography-headers;
    text-decoration:underline;
  }
}
