// Time diff indicator (2 weeks ago by ...)
// --------------------------------------------------

@import "../new_variables/colors";
@import "../new_variables/mixins";
@import "../new_variables/sizes";

.DefaultTimeDiff {
  font-size: $sFontSize-normal;
  font-weight: $sFontWeight-lighter;
  color:$cTypography-secondary;
}
.DefaultTimeDiff-icon {
  font-size: $sFontSize-smaller;
  font-weight: $sFontWeight-lighter;
  color: $cTypography-help;
}
