@import "compass/css3/inline-block";
@import "colors";

/* FilterList */

.FilterList {

}
.FilterList--vertically-centered {
  position:absolute;
  top: 50%;
  height: 20px;
  margin-top: -10px;
}
.FilterList li {
  @include inline-block();
  position:relative;
  margin-right: 45px;
}
.FilterList li .shadow {
  display: none;
  position:absolute;
  width: 100%;
  bottom: -39px;
  border-bottom: 1px solid $cGray4;
}
.FilterList li:after {
  content: '|';
  position: absolute;
  top: 0;
  right: -27px;
  color: $cGray9;
}
.FilterList li:last-child {
  margin-right: 0;
}
.FilterList li:last-child:after {
  display: none;
}
.FilterList li a:hover {
  text-decoration: none;
}
.FilterList li.is-selected a {
  color: $cGray2;
}
.FilterList li.is-selected .shadow {
  display: block;
}
