// Likes indicator (12♥)
// --------------------------------------------------

@import "../new_common/colors";
@import "../new_common/mixins";
@import "../new_common/sizes";

.LikesIndicator {
  font-weight: $sFontWeight-lighter;
  color:$cTypography-secondary;
}
.LikesIndicator-icon {
  margin-right:6px;
  font-size: $sFontSize-small;
  color: $cTypography-help;
}
.LikesIndicator:hover {
  color:$cTypography-paragraphs;
  text-decoration:none;
  .LikesIndicator-icon { color:#D93F56 }
}
