// List view
// 
// Place to render datasets/maps items
// --------------------------------------------------
@import "../new_common/sizes";

.List {
  width: $sLayoutWidth;
  margin: 0 auto;
  padding: 10px 0 0;
}
