// Map card item
// --------------------------------------------------

@import "compass/css3/images";
@import "../new_variables/colors";
@import "../new_variables/mixins";
@import "../new_variables/sizes";

.MapCard {
  position:relative;
  @include inline-block();
  width: 298px;
  height: 352px;
  margin-top: $sMargin-element;
  margin-right: $sMargin-element;
  border: 1px solid rgba(#DBDBDB, 1);
  border-radius: 4px;
}

.MapCard:hover {
  background-color: #F5FAFE;
  border-color: #BCD8F1;
}
.MapCard.is--selected {
  background-color: #EFF8FF;
  border-color: #BCD8F1;
}
.MapCard-header {
  position: relative;
  width: 100%;
  height: 170px;
  @include background(image-url("layout/default-map-bkg.png") no-repeat center 0);
  border-radius: 2px 2px 0 0;
}
.MapCard-headerShadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: black;
  @include opacity(.1);
  z-index:2;
}
.MapCard-headerGraph {
  position:absolute;
  width: 70px;
  height: 18px;
  bottom:10px;
  right:12px;
  padding: 5px;
  border-radius: 2px;
  background:rgba(black,.4);
  z-index:2;
}
.MapCard-headerLayers {
  position:absolute;
  top:10px;
  left:12px;
  width:29px;
  height:29px;
  border-radius: 2px;
  z-index:2;
}
.MapCard-headerLayers {
  position:absolute;
  top:10px;
  left:12px;
  width:29px;
  height:29px;
  border-radius: 2px;
  z-index:2;
}
.MapCard-content {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  @include flex-direction(column);
  height:142px;
  padding: $sMargin-element;
}
.MapCard-contentDetail {
  display:block;
  width:100%;
}
.MapCard-contentInfo {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
}
.MapCard-contentDescription {
  display:block;
  margin-top:10px;
}
.MapCard-contentTags {
  display:block;
  margin-top:10px;
}
.MapCard-contentFooter {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  width:100%;
  padding-top:15px;
  border-top:1px solid $cStructure-softLine;
}
.MapCard-contentFooterDetails--left {
  @include display-flex();
  @include align-items(center, center);
  @include justify-content(space-between, justify);
}
.MapCard-contentFooterTimeDiff {
  padding-left:14px;
}
