/*
 * Image sprite for dashboard page
 */

@import "compass/utilities/sprites/base";
 
// General Sprite Defaults
// You can override them before you import this file.
$new-dashboard-sprite-base-class: ".new-dashboard-sprite" !default;
$new-dashboard-sprite-dimensions: false !default;
 
$new-dashboard-sprites: sprite-map("sprites/new-dashboard/*.png",
  $position:                                  0%,
  $spacing:                                   0,
  $repeat:                                    no-repeat,
  $readonly-spacing:                          0
);
 
// All sprites should extend this class
// The dashboard-sprite mixin will do so for you.
#{$new-dashboard-sprite-base-class} {
  background: $new-dashboard-sprites no-repeat;
}
 
// Use this to set the dimensions of an element
// based on the size of the original image.
@mixin new-dashboard-sprite-dimensions($name) {
  @include sprite-dimensions($new-dashboard-sprites, $name)
}
 
// Move the background position to display the sprite.
@mixin new-dashboard-sprite-position($name, $offset-x: 0, $offset-y: 0) {
  @include sprite-position($new-dashboard-sprites, $name, $offset-x, $offset-y)
}
 
// Extends the sprite base class and set the background position for the desired sprite.
// It will also apply the image dimensions if $dimensions is true.
@mixin new-dashboard-sprite($name, $dimensions: $new-dashboard-sprite-dimensions, $offset-x: 0, $offset-y: 0) {
  @extend #{$new-dashboard-sprite-base-class};
  @include sprite($new-dashboard-sprites, $name, $dimensions, $offset-x, $offset-y)
}
 
@mixin new-dashboard-sprites($sprite-names, $dimensions: $new-dashboard-sprite-dimensions, $prefix: sprite-map-name($new-dashboard-sprites)) {
  @include sprites($new-dashboard-sprites, $sprite-names, $new-dashboard-sprite-base-class, $dimensions, $prefix)
}
 
// Generates a class for each sprited image.
@mixin all-new-dashboard-sprites($dimensions: $new-dashboard-sprite-dimensions, $prefix: sprite-map-name($new-dashboard-sprites)) {
  @include new-dashboard-sprites(favorite important photos readonly symbolic-link system unreadable, $dimensions, $prefix);
}