@import "../new_variables/mixins";
@import "../new_variables/colors";
@import "../new_variables/sizes";

.OptionCard {
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include align-items(center);
  @include align-content(space-between, justify);
  text-align: center;
  padding: $sMargin-element;
  border: 1px solid $cStructure-mainLine;
  border-radius: $sCard-borderRadius;
  background-color: $cStructure-mainBkg;
  width: 220px;
}
.OptionCard.is-disabled {
  background-color: $cStructure-grayBkg;
  @include opacity(0.4);
}
.OptionCard.is-selected {
  border-color: $cCard-selectedBorder;
  background-color: $cCard-selectedFill;
  cursor: default;
}
.OptionCard:not(.is-disabled):not(.is-selected):hover {
  border-color: $cCard-selectedBorder;
  background-color: $cCard-hoverFill;
  cursor: pointer;
}
.OptionCard:not(:last-child) {
  margin-right: $sMargin-element;
}
.OptionCard > *:first-child {
  margin-bottom: $sMargin-elementInline;
}
.OptionCard > *:not(:first-child) {
  margin-bottom: $sMargin-min;
}
.OptionCard-title {
  font-size: $sFontSize-large;
  line-height: $sLineHeight-large;
}
.OptionCard-desc {
  font-size: $sFontSize-normal;
  line-height: $sLineHeight-normal;
  color: $cTypography-secondary;
  @include nicer-lato-typography();
}
