// Permission label
// --------------------------------------------------

@import "../new_common/mixins";

$c: #E2DFDF; 

.PermissionIndicator {
  padding:0 10px;
  line-height:15px;
  border:1px solid $c;
  border-radius: 28px;
  color:$c;
  font-size:10px;
  font-weight:500;
}
