// Permission label
// --------------------------------------------------

@import "../new_common/mixins";
@import "../new_common/sizes";

$c: #E2DFDF; 

.PermissionIndicator {
  padding:0 10px;
  border:1px solid $c;
  border-radius: 28px;
  color:$c;
  font-size: $sFontSmaller;
  line-height: $sLineHeightSmaller;
  font-weight: $sFontWeightDefault;
}
