@import "../new_common/mixins";
@import "../new_common/colors";


/* PrivacyIndicator */

.PrivacyIndicator {
  position: relative;
  padding: 0 0 0 12px;
  color: $cGray6;
  font-family: "Lato", "san-serif";
  font-size: 12.18px;
  font-weight: 300;
  line-height: 15px;
}
.PrivacyIndicator:hover {
  text-decoration: none;
  color: $cGray6;
}
.PrivacyIndicator:before {
  content: '';
  position: absolute;
  top: 5px; left: 0;
  width: 8px;
  height: 8px;
  background-color: $cLightGray;
  @include border-radius(100%);
}
.PrivacyIndicator.is-public:before {
  background-color: $cPublic;
}
.PrivacyIndicator.is-private:before {
  background-color: $cPrivate;
}
