@import "../new_common/mixins";
@import "../new_common/colors";


/* PrivacyIndicator */

$cPrivacy-private:  rgba(#FF6C6C, 1);
$cPrivacy-public:   rgba(#8EB83F, 1);
$cPrivacy-other:    rgba(#F5A623, 1);

.PrivacyIndicator {
  position: relative;
  padding: 0 0 0 12px;
  color: $cTypography-secondary;
  font-family: "Lato", "san-serif";
  font-size: 12.18px;
  font-weight: 300;
  line-height: 15px;
}
.PrivacyIndicator:hover {
  text-decoration: none;
  color: $cTypography-secondary;
}
.PrivacyIndicator:before {
  content: '';
  position: absolute;
  top: 5px; left: 0;
  width: 8px;
  height: 8px;
  background-color: $cTypography-help;
  @include border-radius(100%);
}
.PrivacyIndicator.is-public:before {
  background-color: $cPrivacy-public;
}
.PrivacyIndicator.is-private:before {
  background-color: $cPrivacy-private;
}
.PrivacyIndicator.is-link:before,
.PrivacyIndicator.is-password:before {
  background-color: $cPrivacy-other;
}