@import "../new_common/colors";

.RowsIndicator {
  font-weight: 300;
  color: $cGray6;
  font-size: 13px;
}
.RowsIndicator-icon {
  font-family: 'CartoIcon';
  font-size: 10px;
  font-weight: 300;
  color: $cGrayUndefined;
}
