@import "../new_common/colors";
@import "../new_common/sizes";

.RowsIndicator {
  font-weight: $sFontWeight-lighter;
  color: $cTypography-secondary;
}
.RowsIndicator-icon {
  font-size: $sFontSize-smaller;
  line-height: $sLineHeight-smaller;
  font-weight: $sFontWeight-lighter;
  color: $cTypography-help;
}
