@import "../new_common/colors";
@import "../new_common/sizes";

.SizeIndicator {
  font-weight: $sFontWeightLighter;
  color: $cTypography-secondary;
}
.SizeIndicator-icon {
  font-size: $sFontSmall;
  font-weight: $sFontWeightLighter;
  color: $cTypography-help;
}
