// Dashboard filters
// --------------------------------------------------

@import "compass/css3/images";
@import "new-dashboard-sprite";
@import "../new_common/mixins";
@import "../new_common/colors";


.DashboardFilters {
  display:block;
  width:100%;
}
.DashboardFilters > .u-inner {
  position:relative;
  display:block;
  width: 940px;
  height:80px;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid $cStructure-softLine;
  overflow:hidden;
}
.DashboardFilters-inner {
  display:block;
  padding: 0;
  @include transition(margin,250ms);
}
.DashboardFilters-inner.items--selected {
  margin-top:-80px;
}
.DashboardFilters-row {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  height:80px;
}
.DashboardFilters-list {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
}
.DashboardFilters-typeItem {
  position:relative;
  height:80px;
  margin:0 25px;

  &:after {
    content:'|';
    position:absolute;
    top:50%;
    right:-25px;
    margin-top:-8px;
    font-weight:300;
    color:$cStructure-softLine;
  }

  &:first-child { margin-left:0 }
  &:last-child:after { display:none }
}
.DashboardFilters-search {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  height:80px;
}
.DashboardFilters-searchButton {
  width:14px;
  height:16px;
  border:none;
  @include background(sprite($new-dashboard-sprites, lens-icon));
  &:hover { @include background(sprite($new-dashboard-sprites, lens-icon, $offset-x:-14px)); }
}
.DashboardFilters-searchValue {
  width:58px;
  padding-left:5px;
  outline:none;
  border:none;
  background:none;
  font-size:14px;
}
.DashboardFilters-typeLink {
  line-height:80px;

  &:hover {
    color:$cTypography-linkSelected;
    text-decoration: none;
  }
}
.DashboardFilters-typeLink.is-selected {
  color:$cTypography-linkSelected;

  &:before {
    content:'';
    position:absolute;
    bottom:-1px;
    left:0;
    right:0;
    width:100%;
    height:1px;
    background:$cTypography-linkSelected;
  } 
  &:hover {
    cursor:default;
    text-decoration: none;
  }
}
.DashboardFilters-order {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
}
.DashboardFilters-orderList {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
}
.DashboardFilters-orderItem {
  @include inline-block();
  padding-right:24px;
  font-size:13px;
  color:$cTypography-secondary;
  font-weight:300;
}
.DashboardFilters-orderLink { @include inline-block() }
.DashboardFilters-orderLink.is-selected {
  &:hover { cursor:default }
}
.DashboardFilters-orderLink--heart {
  width:18px;
  height:16px;
  @include background(sprite($new-dashboard-sprites, heart-icon));
  &:hover { @include background(sprite($new-dashboard-sprites, heart-icon, $offset-x:-18px)); }
}
.DashboardFilters-orderLink--heart.is-selected {
  @include background(sprite($new-dashboard-sprites, heart-icon, $offset-x:-18px));
}
.DashboardFilters-orderLink--graph {
  width:20px;
  height:12px;
  @include background(sprite($new-dashboard-sprites, graph-icon));
  &:hover { @include background(sprite($new-dashboard-sprites, graph-icon, $offset-x:-20px)); }
}
.DashboardFilters-orderLink--graph.is-selected {
  @include background(sprite($new-dashboard-sprites, graph-icon, $offset-x:-20px));
}
.DashboardFilters-orderLink--clock {
  width:18px;
  height:19px;
  @include background(sprite($new-dashboard-sprites, clock-icon));
  &:hover { @include background(sprite($new-dashboard-sprites, clock-icon, $offset-x:-18px)); }
}
.DashboardFilters-orderLink--clock.is-selected {
  @include background(sprite($new-dashboard-sprites, clock-icon, $offset-x:-18px));
}
.DashboardFilters-selectedItems {
  font-size:15px;
  font-weight:300;
  color:$cTypography-secondary;
}
.DashboardFilters-actionsList {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
}
.DashboardFilters-actionsLink {
  font-size:13px;
  padding-left:25px;
}
.DashboardFilters-actionsLink.is--critical {
  color:#FF6C6C;
}