// User notifications
// --------------------------------------------------

@import "../new_variables/mixins";
@import "../new_variables/colors";
@import "../new_variables/sizes";

.UserNotifications {
  position:relative;
  @include display-flex();
  text-decoration: none!important;
  color: $cIcons-default;
}
.UserNotifications:hover {
  color: $cIcons-active;
}
.UserNotifications-icon {
  color: #999;
  &:hover { color: #666 }
}
.UserNotifications-badge {
  @include opacity(0);
  @include transition(all, .5s, ease-in-out);
  @include transform(scale(0));
  color: $cHighlight-negative;
}
// States
.UserNotifications.has--alerts {
  color: #666;
  .UserNotifications-badge {
    @include transition(all, .1s, ease-in-out);
    @include transform(scale(1));
    @include opacity(1);
    color: white;
  }
}
.UserNotifications.has--alerts:hover {
  .UserNotifications-badge {
    @include transition(all, .1s, ease-in-out);
    @include transform(scale(1.1))
  }
}


