@import "mixins";
@import "colors";

.VisList {
  @include display-flex();
}
.VisList > .u-inner {
  position:relative;
  width: 940px;
  margin: 0 auto;
  padding: 20px 0;

}
.VisList .VisList-Row {
  margin: 0 0 20px 0;
  @include display-flex();
  @include flex-direction(row);
}
.VisList .VisList-Row .VisList-RowItem {
  @include flex-grow(1);
  margin: auto;
}
