@import "compass/css3/inline-block";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "common/mixins";
@import "common/vars";
@import "colors";

/* VisCard */

.VisCard {
  position:relative;
  width: 300px;
  height: 352px;

  @include inline-block();
  border: 1px solid $cGray7;
  @include border-radius(4px);
  overflow:hidden;
}
.VisCard-Header {
  width: 100%;
  height: 170px;
  position: relative;
  background: $cLightGray;
}
.VisCard-Shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: $cBlack;
  @include opacity(.2);
}
.VisCard > .u-inner {
  padding: 20px;
}
.VisCard-Info {
  width: 260px;
}
.VisCard-Title {
  display: block;
  margin: 0 0 10px 0;
  font-size: 16px;
  color: #666666;
  line-height: 19px;
}
.VisCard-Description {
  margin: 0 0 5px 0;
  font-family: "Lato-Light", "san-serif";
  font-size: 13px;
  font-weight: 300;
  color: #999999;
  line-height: 16px;
}
.VisCard-Tags {
  color: $cDefaultLink;
  font-weight: 300;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
}
.VisCard-Tags a {
  color: $cDefaultLink;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
}
.VisCard-Footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.VisCard-Footer > .u-inner {
  @include box-sizing(border-box);
  width: 260px;
  margin: auto;
  padding: 10px 0 15px 0;
  border-top: 1px solid $cGray9;
  color: $cGray6;
  font-family: "Lato-Light", "san-serif";
  font-size: 12.18px;
  font-weight: 300;
  line-height: 15px;
}