<h2>CARTO</h2>
<p>This visualization only works in modern browsers. Upgrade yours and enjoy.</p>
<ul>
  <li><a href="http://www.apple.com/safari/" class="safari">Safari</a></li>
  <li><a href="https://www.google.com/chrome/" class="chrome">Chrome</a></li>
  <li class="last"><a href="http://www.mozilla.org/en-US/firefox/all/‎" class="firefox">Firefox</a></li>
</ul>
