// Custom styles for custom basemap styles
// --------------------------------------------------

@import 'cdb-variables/colors';

// XYZ panel view
.XYZPanel-inputIcon--loader {
  right: 75px;
}

.XYZPanel-inputCheckbox {
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 14px;

  &:hover {
    cursor: pointer;
  }
}

// WMS panel view
.WMSSSelectLayer-Filter {
  z-index: 0;
  width: 900px;
  margin: auto;
  margin-top: -20px;
}

.XYZPanel-error {
  display: none;
  right: -180px;
  left: calc(100% + 20px);
  box-sizing: border-box;

  a {
    color: $cWhite;
    text-decoration: underline;
  }

  &.is-visible {
    display: inline-block;
  }
}
