@import 'cdb-variables/colors';

.DataObservatory-addMeasure {
  width: 100%;
}

.DataObservatory-description {
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.DataObservatory-addMeasure .is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.DataObservatory-license {
  white-space: normal;
}

.DataObservatory-count {
  padding: 8px 16px;
  border-bottom: 1px solid $cMainLine;
}

.Measurement {
  margin: 0 -24px;
  padding: 0 24px;
}

.Measurement + .Measurement {
  margin-top: 32px;
}

.Measurements {
  margin-bottom: 32px;
}
