@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

.Modal {
  @include display-flex();
  @include flex-direction(column);
  height: 100vh;
  background: $cThirdBackground;
  overflow: hidden;
}
.Modal-header {
  border-bottom: 1px solid $cSecondaryLine;
  background: $cWhite;
}
.Modal-container {
  @include display-flex();
  @include justify-content(center);
  @include flex(1 1 auto);
  padding: 32px 0 0;
  overflow: hidden;
}
.Modal-container .ScrollView {
  @include align-items(center);
  margin-right: 0;
  margin-left: 0;
  margin-top: -32px;
}
.Modal-container--analysis .ScrollView {
  padding-bottom: 250px;
}
.Modal-container--analysis .ScrollView-shadow--bottom {
  bottom: 250px;
}

.Modal-footer,
.Modal-header {
  @include display-flex();
  @include justify-content(center);
  @include flex(0 0 auto);
}
.Modal-footer {
  border-top: 1px solid $cSecondaryLine;
}
.Modal-footer.is-disabled {
  display: none;
}
.Modal-navigation {
  position: fixed;
  width: 100%;
  margin-top: -33px;
  padding-top: 1px;
  border-bottom: 1px solid $cMainLine;
  background: $cWhite;
  z-index: 2;
}
.Modal-container .ScrollView-wrapper {
  width: 100%;
}
.Modal-inner .ScrollView-content,
.Modal-navigationInner,
.Modal-headerContainer,
.Modal-footerContainer {
  @include flex(0 0 auto);
  width: 940px;
  margin: 0 auto;
}
.Modal-footerContainer,
.Modal-header {
  padding: $baseSize * 3 0;
}
.Dialog-contentWrapper--withBreadcrumbs .Modal-header {
  padding-top: 0;
}
.Dialog-headerWrapper {
  flex: 0 0 auto;
  width: 940px;
  margin: 0 auto;
  padding-top: $baseSize * 3;
}
.Modal-inner--with-navigation {
  padding: 32px 0 0;
}
.Modal-inner .ScrollView-content {
  margin-top: 5px;
}

.Modal-inner {
  @include display-flex();
  @include flex(1);
  overflow: hidden;
}
.Modal-inner--grid {
  @include flex(0 503px);
  overflow: visible;
}
.Modal-inner--medium {
  @include flex(0 780px);
}
.Modal-inner--full {
  @include flex(0 944px);
}
.Modal-outer {
  @include display-flex();
  @include flex(1);
  overflow: hidden;
}
.Modal-basemapContainer {
  @include flex-direction(column);
}

.Dialog-content--expanded {
  height: 100vh;
}
