// Progress bar styles
// --------------------------------------------------

@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

$border-radius: $baseSize / 2;
$height: $baseSize / 2;

.Progress {
  width: 100%;
  height: $height;
  overflow: hidden;
  border-radius: $border-radius;
  background: rgba($cMainLine, 0.5);
}

.Progress-bar {
  min-width: 3px;
  max-width: 100%;
  height: $height;
  border-radius: $border-radius;
  background: $cHighlight;
}

.Progress-bar--caution {
  background: $cError;
}

.Progress-bar--alert {
  background: $cAlert;
}
