/* GEOREFERENCE */
.Analysis-animation.is-georeference .Georeference-point02-text,
.Analysis-animation.is-georeference .Georeference-point01-text {
  opacity: 0;
}

.Analysis-animation.is-georeference {
  &.has-autoplay,
  &:hover {
    .Dot-01,
    .Dot-02 {
      transform-origin: 50% 50%;
      opacity: 0;
      animation-name: Analysis-fadeOut, Analysis-fadeIn, Animation-scaleIn;
      animation-duration: 300ms, 500ms, 500ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-delay: 100ms, 550ms;
    }
    .Dot-02 {
      animation-delay: 600ms, 550ms;
    }

    .Georeference-point01-text {
      animation-name: Analysis-fadeIn;
      animation-duration: 300ms;
      animation-delay: 800ms;
      animation-fill-mode: forwards;
    }
    .Georeference-point02-text {
      animation-name: Analysis-fadeIn;
      animation-duration: 300ms;
      animation-delay: 500ms;
      animation-fill-mode: forwards;
    }

    .Georeference-street00 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: Animation-dash 800ms ease-in forwards;
    }

    .Georeference-street01 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: Animation-dash 600ms ease-in forwards;
    }

    .Georeference-street02 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: Animation-dash 600ms ease-in forwards;
      animation-delay: 100ms;
    }
  }
}

/* DATA OBSERVATORY */
.Analysis-animation.is-data-observatory-measure {
  &.has-autoplay,
  &:hover {
    .rect-01,
    .rect-01,
    .rect-02,
    .rect-03,
    .rect-04,
    .rect-05,
    .rect-06,
    .rect-07 {
      transform-origin: 50% 50%;
      animation-name: Analysis-fadeOutRect, Analysis-fadeInRect;
      animation-duration: 100ms, 300ms;
      animation-fill-mode: forwards, forwards;
      animation-timing-function: ease-in, ease-in;
      animation-delay: 0ms, 500ms;
      fill: transparent;
    }

    .rect-01 {
      animation-delay: 0ms, 500ms;
    }
    .rect-02 {
      animation-delay: 0ms, 900ms;
    }
    .rect-03 {
      animation-delay: 0ms, 300ms;
    }
    .rect-04 {
      animation-delay: 0ms, 600ms;
    }
    .rect-05 {
      animation-delay: 0ms, 750ms;
    }
    .rect-06 {
      animation-delay: 0ms, 600ms;
    }
    .rect-07 {
      animation-delay: 0ms, 420ms;
    }
  }
}

/* FILTER BY LAYER */
.Analysis-animation.is-filter-layer {
  .Line {
    fill-opacity: 0;
  }
  &.has-autoplay,
  &:hover {
    .Line {
      opacity: 1;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation-name: Animation-dash;
      animation-duration: 800ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      animation-delay: 500ms;
    }

    .Line--withFade {
      opacity: 1;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation-name: Animation-dash, Analysis-fadeOut;
      animation-duration: 800ms,800ms;
      animation-timing-function: ease-in,ease-in;
      animation-fill-mode: forwards,forwards;
      animation-delay: 500ms,900ms;
    }

    .Line--withHighlight {
      stroke-width: 1;
      fill: none;
      transform-origin: 50% 50%;
      animation-name: Analysis-lineAnalysisGreenIn;
      animation-duration: 100ms;
      animation-fill-mode: forwards;
      animation-delay: 850ms;
      opacity: 0;
    }

    .Dot--withHighlight {
      transform-origin: 50% 50%;
      animation-name: Analysis-fadeIn,Animation-scaleIn,Analysis-dotAnalysisGreenIn;
      animation-duration: 200ms,600ms,500ms;
      animation-fill-mode: forwards,forwards,forwards;
      opacity: 0;
    }
    .Dot-01 {
      animation-delay: 100ms,100ms,900ms;
    }
    .Dot-02 {
      animation-delay: 500ms,500ms,900ms;
    }
    .Dot-03 {
      animation-delay: 50ms,50ms,900ms;
    }
    .Dot-04 {
      animation-delay: 200ms,200ms,900ms;
    }

    .Dot {
      transform-origin: 50% 50%;
      animation-name: Analysis-fadeIn, Animation-scaleIn;
      animation-duration: 200ms, 600ms;
      animation-fill-mode: forwards, forwards;
      opacity: 0;
    }

    .Dot:nth-child(0) {
      animation-delay: 400ms;
    }
    .Dot:nth-child(1) {
      animation-delay: 300ms;
    }
    .Dot:nth-child(2) {
      animation-delay: 50ms;
    }
    .Dot:nth-child(3) {
      animation-delay: 100ms;
    }
    .Dot:nth-child(4) {
      animation-delay: 150ms;
    }
    .Dot:nth-child(5) {
      animation-delay: 250ms;
    }
    .Dot:nth-child(6) {
      animation-delay: 300ms;
    }
    .Dot:nth-child(7) {
      animation-delay: 350ms;
    }
    .Dot:nth-child(8) {
      animation-delay: 400ms;
    }
    .Dot:nth-child(9) {
      animation-delay: 150ms;
    }
    .Dot:nth-child(10) {
      animation-delay: 250ms;
    }
    .Dot:nth-child(11) {
      animation-delay: 300ms;
    }
    .Dot:nth-child(12) {
      animation-delay: 150ms;
    }
    .Dot:nth-child(13) {
      animation-delay: 200ms;
    }
    .Dot:nth-child(14) {
      animation-delay: 250ms;
    }
    .Dot:nth-child(15) {
      animation-delay: 250ms;
    }
    .Dot:nth-child(16) {
      animation-delay: 250ms;
    }
    .Dot:nth-child(17) {
      animation-delay: 350ms;
    }
    .Dot:nth-child(18) {
      animation-delay: 150ms;
    }
    .Dot:nth-child(19) {
      animation-delay: 250ms;
    }
    .Dot:nth-child(20) {
      animation-delay: 250ms;
    }
    .Dot:nth-child(21) {
      animation-delay: 350ms;
    }
    .Dot:nth-child(22) {
      animation-delay: 150ms;
    }
  }
}

/* CENTROID */

.Analysis-animation.is-centroid {
  .Centroid-points {
    opacity: 1;
  }
  .Centroid-pointsHighlight {
    transform-origin: 50% 50%;
    opacity: 0;
  }
  &.has-autoplay,
  &:hover {
    .Centroid-line {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation-name: Animation-dash, Analysis-fadeOut;
      animation-duration: 500ms, 300ms;
      animation-fill-mode: forwards, forwards;
      animation-timing-function: ease-in, ease-in;
      animation-delay: 300ms, 800ms;
    }

    .Centroid-pointsHighlight {
      animation-name: Animation-scale;
      animation-duration: 300ms;
      animation-delay: 600ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }

    .Centroid-points01,
    .Centroid-points02,
    .Centroid-points03,
    .Centroid-points04,
    .Centroid-points05,
    .Centroid-points06,
    .Centroid-points07,
    .Centroid-points08,
    .Centroid-points09,
    .Centroid-points10 {
      opacity: 0;
      animation-name: Analysis-fadeIn;
      animation-duration: 200ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }

    .Centroid-points02 {
      animation-delay: 400ms;
    }
    .Centroid-points03 {
      animation-delay: 300ms;
    }
    .Centroid-points04 {
      animation-delay: 150ms;
    }
    .Centroid-points05 {
      animation-delay: 100ms;
    }
    .Centroid-points06 {
      animation-delay: 350ms;
    }
    .Centroid-points07 {
      animation-delay: 250ms;
    }
    .Centroid-points08 {
      animation-delay: 100ms;
    }
    .Centroid-points09 {
      animation-delay: 250ms;
    }
    .Centroid-points10 {
      animation-delay: 400ms;
    }
  }
}

/* GROUP POINTS INTO POLYGONS */
.Analysis-animation.is-group-points {
  .Group-line {
    opacity: 0;
  }
  &.has-autoplay,
  &:hover {
    .Group-line {
      opacity: 1;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: Animation-dash 800ms ease-in forwards;
      animation-delay: 600ms;
    }

    .Group-point01,
    .Group-point02,
    .Group-point03,
    .Group-point04,
    .Group-point05,
    .Group-point06,
    .Group-point07,
    .Group-point08,
    .Group-point09,
    .Group-point10,
    .Group-point11,
    .Group-point12,
    .Group-point13,
    .Group-point14,
    .Group-point15 {
      transform-origin: 50% 50%;
      animation-name: Analysis-fadeOut, Analysis-fadeIn, Animation-scaleIn;
      animation-duration: 300ms, 500ms, 500ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-delay: 0ms, 600ms, 650ms;
      opacity: 0;
    }

    .Group-point01 {
      animation-delay: 0ms, 350ms, 350ms;
    }
    .Group-point02 {
      animation-delay: 0ms, 600ms, 650ms;
    }
    .Group-point03 {
      animation-delay: 0ms, 450ms, 450ms;
    }
    .Group-point04 {
      animation-delay: 0ms, 600ms, 650ms;
    }
    .Group-point05 {
      animation-delay: 0ms, 500ms, 500ms;
    }
    .Group-point06 {
      animation-delay: 0ms, 600ms, 650ms;
    }
    .Group-point07 {
      animation-delay: 0ms, 550ms, 550ms;
    }
    .Group-point08 {
      animation-delay: 0ms, 600ms, 650ms;
    }
    .Group-point09 {
      animation-delay: 0ms, 500ms, 500ms;
    }
    .Group-point10 {
      animation-delay: 0ms, 600ms, 650ms;
    }
    .Group-point11 {
      animation-delay: 0ms, 450ms, 450ms;
    }
    .Group-point12 {
      animation-delay: 0ms, 600ms, 650ms;
    }
    .Group-point13 {
      animation-delay: 0ms, 400ms, 400ms;
    }
    .Group-point14 {
      animation-delay: 0ms, 600ms, 650ms;
    }
    .Group-point15 {
      animation-delay: 0ms, 700ms, 750ms;
    }
  }
}

/* AREAS OF INFLUENCE */
.Analysis-animation.is-area-of-influence {
  .aoi-area {
    transform-origin: 50% 50%;
    opacity: 0;
  }
  &.has-autoplay,
  &:hover {
    .area-point01,
    .area-point02,
    .area-point03,
    .area-point04,
    .area-point05,
    .area-point06 {
      opacity: 0;
      animation-name: Analysis-fadeIn;
      animation-duration: 200ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }
    .area-point01 {
      animation-delay: 400ms;
    }
    .area-point02 {
      animation-delay: 300ms;
    }
    .area-point03 {
      animation-delay: 50ms;
    }
    .area-point04 {
      animation-delay: 100ms;
    }
    .area-point05 {
      animation-delay: 150ms;
    }
    .area-point06 {
      animation-delay: 200ms;
    }

    .area01,
    .area02,
    .area03,
    .area04,
    .area05,
    .area06 {
      animation-name: Animation-scale;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
    }

    .area01 {
      animation-delay: 1000ms;
    }
    .area02 {
      animation-delay: 900ms;
    }
    .area03 {
      animation-delay: 650ms;
    }
    .area04 {
      animation-delay: 700ms;
    }
    .area05 {
      animation-delay: 750ms;
    }
    .area06 {
      animation-delay: 800ms;
    }

  }
}

.Analysis-animation.is-intersect {
  .intersect-layer {
    fill-opacity: 0;
  }

  &.has-autoplay,
  &:hover {
    .intersect-layer {
      opacity: 1;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation-name: Animation-dash, Animation-fill;
      animation-duration: 800ms, 400ms;
      animation-timing-function: ease-in, linear;
      animation-fill-mode: forwards, forwards;
      animation-delay: 600ms, 1100ms;
    }

    .intersect-circle1,
    .intersect-circle2,
    .intersect-circle3,
    .intersect-circle4,
    .intersect-circle5,
    .intersect-circle6,
    .intersect-circle7,
    .intersect-circle8,
    .intersect-circle9 {
      opacity: 0;
      animation-name: Analysis-fadeIn;
      animation-duration: 200ms;
      animation-fill-mode: forwards;
    }

    .intersect-circle1 {
      animation-delay: 400ms;
    }
    .intersect-circle2 {
      animation-delay: 300ms;
    }
    .intersect-circle3 {
      animation-delay: 50ms;
    }
    .intersect-circle4 {
      animation-delay: 100ms;
    }
    .intersect-circle5 {
      animation-delay: 150ms;
    }
    .intersect-circle6 {
      animation-delay: 250ms;
    }
    .intersect-circle7 {
      animation-delay: 300ms;
    }
    .intersect-circle8 {
      animation-delay: 350ms;
    }
    .intersect-circle9 {
      animation-delay: 400ms;
    }

    .intersect-circle4Highlight {
      opacity: 0;
      animation-name: Analysis-fadeIn, Analysis-changeColor;
      animation-duration: 200ms, 400ms;
      animation-fill-mode: forwards, forwards;
      animation-delay: 300ms, 600ms;
    }

    .intersect-circle2Highlight {
      opacity: 0;
      animation-name: Analysis-fadeIn, Analysis-changeColor;
      animation-duration: 200ms, 400ms;
      animation-fill-mode: forwards, forwards;
      animation-delay: 150ms, 650ms;
    }

    .intersect-circle1Highlight {
      opacity: 0;
      animation-name: Analysis-fadeIn, Analysis-changeColor;
      animation-duration: 200ms, 400ms;
      animation-fill-mode: forwards, forwards;
      animation-delay: 100ms, 700ms;
    }

    .intersect-circle3Highlight {
      opacity: 0;
      animation-name: Analysis-fadeIn, Analysis-changeColor;
      animation-duration: 200ms, 400ms;
      animation-fill-mode: forwards, forwards;
      animation-delay: 250ms, 800ms;
    }
    .intersect-circle5Highlight {
      opacity: 0;
      animation-name: Analysis-fadeIn, Analysis-changeColor;
      animation-duration: 200ms, 400ms;
      animation-fill-mode: forwards, forwards;
      animation-delay: 350ms, 820ms;
    }
  }
}

/* JOIN COLUMNS */

.Analysis-animation.is-join-columns {
  &.has-autoplay,
  &:hover {
    .Path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation-name: Animation-dash;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
    }
    .Dot {
      animation-name: Animation-scale;
      animation-duration: 200ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
      transform-origin: 50% 50%;
      opacity: 0;
    }
    .Dot-01 {
      animation-delay: 150ms;
    }
    .Dot-02 {
      animation-delay: 200ms;
    }
    .Dot-03 {
      animation-delay: 300ms;
    }
  }

  .Path-01 {
    animation-delay: 300ms;
  }
  .Path-02 {
    animation-delay: 400ms;
  }
  .Path-03 {
    animation-delay: 500ms;
  }

  .Path-01Green {
    animation-delay: 350ms;
  }
  .Path-02Green {
    animation-delay: 450ms;
  }
  .Path-03Green {
    animation-delay: 550ms;
  }
}


/* SUBSAMPLE */
.Analysis-animation.is-sampling {
  &.has-autoplay,
  &:hover {
    .Dot--withFadeOut {
      transform-origin: 50% 50%;
      animation-name: Analysis-greenOut;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
      animation-delay: 300ms;
    }

    .Dot-01 {
      animation-delay: 50ms;
    }
    .Dot-02 {
      animation-delay: 500ms;
    }
    .Dot-03 {
      animation-delay: 150ms;
    }
    .Dot-04 {
      animation-delay: 450ms;
    }
    .Dot-05 {
      animation-delay: 250ms;
    }
    .Dot-06 {
      animation-delay: 350ms;
    }
  }
}


/* FILTER BY COLUMN VALUE */
.Analysis-animation.is-filter {
  .Dot,
  .Dot--green {
    fill: #636D72;
  }
  &.has-autoplay,
  &:hover {
    .Dot--withSplash {
      stroke-width: 1;
      fill: none;
      transform-origin: 50% 50%;
      animation-name: Animation-highlightIn;
      animation-duration: 400ms;
      animation-fill-mode: forwards;
      animation-delay: 300ms;
      stroke-dasharray: 1;
      opacity: 0;
    }

    .Dot--green {
      fill: #9DE0AD;
      transform-origin: 50% 50%;
      animation-name: Analysis-fadeOut, Analysis-fadeIn, Animation-scaleIn;
      animation-duration: 300ms, 500ms, 500ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-delay: 500ms, 550ms;
      opacity: 0;
    }
    .Dot--green.Dot-02 {
      animation-delay: 600ms, 750ms;
    }
    .Dot--green.Dot-03 {
      animation-delay: 700ms, 750ms;
    }
    .Dot--green.Dot-04 {
      animation-delay: 800ms, 850ms;
    }
  }
}

/* FILTER POINTS IN POLYGONS */
.Analysis-animation.is-intersection {
  &.has-autoplay,
  &:hover {
    .Filter-line {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation-name: Animation-dash;
      animation-duration: 800ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      animation-delay: 600ms;
    }

    .Filter-dot {
      transform-origin: 50% 50%;
      animation-name: Analysis-fadeIn, Animation-scaleIn;
      animation-duration: 200ms, 600ms;
      animation-fill-mode: forwards, forwards;
      opacity: 0;
    }

    .circle01 {
      animation-delay: 400ms;
    }
    .circle02 {
      animation-delay: 300ms;
    }
    .circle03 {
      animation-delay: 50ms;
    }
    .circle04 {
      animation-delay: 100ms;
    }
    .circle05 {
      animation-delay: 150ms;
    }
    .circle06 {
      animation-delay: 250ms;
    }
    .circle07 {
      animation-delay: 300ms;
    }
    .circle08 {
      animation-delay: 350ms;
    }
    .Filter-dotHighlight {
      transform-origin: 50% 50%;
      animation-name: Analysis-fadeIn, Animation-scaleIn, Analysis-greenIn;
      animation-duration: 200ms, 400ms, 300ms;
      animation-fill-mode: forwards, forwards, forwards;
      opacity: 0;
    }

    .Filter-dotHighlight--01 {
      animation-delay: 200ms, 200ms, 800ms;
    }
    .Filter-dotHighlight--02 {
      animation-delay: 250ms, 250ms, 850ms;
    }
    .Filter-dotHighlight--03 {
      animation-delay: 300ms, 300ms, 900ms;
    }
    .Filter-dotHighlight--04 {
      animation-delay: 400ms, 400ms, 1000ms;
    }
    .Filter-dotHighlight--05 {
      animation-delay: 500ms, 500ms, 1050ms;
    }
    .Filter-dotHighlight--06 {
      animation-delay: 600ms, 600ms, 1060ms;
    }
  }
}

/* CONNECT WITH LINES */
.Analysis-animation.is-connect-with-lines {
  .Line {
    fill: none;
  }
  &.has-autoplay,
  &:hover {
    .Line {
      opacity: 1;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation-name: Animation-dash;
      animation-duration: 800ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      animation-delay: 1s;
    }
    .Dot {
      transform-origin: 50% 50%;
      animation-name: Analysis-fadeIn, Analysis-greenIn;
      animation-duration: 200ms, 300ms;
      animation-fill-mode: forwards, forwards;
      opacity: 0;
    }

    .Dot-01 {
      animation-delay: 400ms, 950ms;
    }
    .Dot-02 {
      animation-delay: 300ms, 1200ms;
    }
    .Dot-03 {
      animation-delay: 50ms, 1250ms;
    }
    .Dot-04 {
      animation-delay: 100ms, 1280ms;
    }
    .Dot-05 {
      animation-delay: 150ms, 1300ms;
    }
    .Dot-06 {
      animation-delay: 250ms, 1320ms;
    }
    .Dot-07 {
      animation-delay: 300ms, 1340ms;
    }
    .Dot-08 {
      animation-delay: 350ms, 1360ms;
    }
    .Dot-09 {
      animation-delay: 400ms, 1380ms;
    }
    .Dot-10 {
      animation-delay: 50ms, 1400ms;
    }
    .Dot-11 {
      animation-delay: 100ms, 1420ms;
    }
  }
}


/* MORAN */
.Analysis-animation.is-moran {
  &.has-autoplay,
  &:hover {
    .Line-horizontal {
      transform: translateX(-100%);
      animation-name: Analysis-lineH;
      animation-duration: 500ms;
    }

    .Line-vertical {
      transform: translateY(-100%);
      animation-name: Analysis-lineV;
      animation-delay: 200ms;
    }

    .Line {
      animation-duration: 400ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }

    .Text {
      opacity: 0;
      animation-name: Analysis-fadeIn;
      animation-delay: 200ms;
      animation-duration: 400ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }

    .Text-LH {
      animation-delay: 800ms;
    }

    .Text-HH {
      animation-delay: 1400ms;
    }

    .Text-HL {
      animation-delay: 1000ms;
    }

    .Text-LL {
      animation-delay: 1200ms;
    }

    .Dot {
      opacity: 0;
      animation-name: Analysis-fadeIn;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    .Dot-08 {
      animation-delay: 800ms;
    }

    .Dot-04 {
      animation-delay: 1000ms;
    }

    .Dot-06 {
      animation-delay: 1200ms;
    }
    .Dot-1 {
      animation-delay: 1400ms;
    }
  }
}


/* PREDICT TRENDS */
.Analysis-animation.is-spatial-markov-trend {
  &.has-autoplay,
  &:hover {
    .Line {
      animation-duration: 400ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }
    .Line-horizontal {
      transform: translateX(-100%);
      animation-name: Analysis-lineH;
      animation-duration: 500ms;
    }
    .Line-vertical {
      transform: translateY(-100%);
      animation-name: Analysis-lineV;
      animation-delay: 250ms;
    }
    .Line-01,
    .Arrow-01 {
      opacity: 1;
      stroke-dasharray: 400;
      stroke-dashoffset: 400;
      animation-name: Analysis-shortDash;
      animation-duration: 500ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      animation-delay: 500ms;
    }
    .Arrow-01 {
      animation-delay: 700ms;
    }
    .Line-02,
    .Arrow-02 {
      opacity: 1;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation-name: Analysis-shortDash;
      animation-duration: 500ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      animation-delay: 100ms;
    }
    .Arrow-02 {
      animation-delay: 200ms;
    }
    .Line-03 {
      opacity: 1;
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      animation-name: Analysis-shortDashReverse;
      animation-duration: 500ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      animation-delay: 800ms;
    }
    .Line-04,
    .Arrow-04 {
      opacity: 1;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation-name: Analysis-shortDash;
      animation-duration: 500ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      animation-delay: 800ms;
    }
    .Arrow-04 {
      animation-delay: 1s;
    }
    .Dot--center {
      opacity: 0;
      animation-name: Analysis-fadeIn;
      animation-duration: 400ms;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      animation-delay: 350ms;
    }
    .Dot {
      transform-origin: 50% 50%;
      animation-name: Analysis-fadeIn, Animation-scaleIn;
      animation-duration: 200ms, 600ms;
      animation-fill-mode: forwards, forwards;
      opacity: 0;
    }
    .Dot.Dot-02 {
      transform-origin: 50% 50%;
      animation-name: Analysis-fadeIn;
      animation-duration: 200ms;
      animation-fill-mode: forwards;
      animation-delay: 100ms;
      opacity: 0;
    }
    .Dot.Dot-01 {
      animation-delay: 600ms,600ms;
    }
    .Dot-03 {
      animation-delay: 1200ms,1200ms;
    }
    .Dot-04 {
      animation-delay: 900ms,900ms;
    }
  }
}

/* CALCULATE CLUSTERS OF POINTS */
.Analysis-animation.is-kmeans {
  .Dot {
    fill: #636D72;
  }
  &.has-autoplay,
  &:hover {
    .Dot {
      transform-origin: 50% 50%;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }
    .Dot.Dot--gray {
      animation-name: Analysis-toColorGray;
      animation-delay: 200ms;
    }
    .Dot.Dot--green {
      animation-name: Analysis-toColorGreen;
      animation-delay: 500ms;
    }
    .Dot.Dot--darkGray {
      animation-name: Analysis-toColorDarkGray;
      animation-delay: 800ms;
    }
    .Dot.Dot--white {
      animation-name: Analysis-toColorWhite;
      animation-delay: 1000ms;
    }
  }
}

@keyframes Analysis-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes Analysis-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Animation-dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes Analysis-dashDotted  {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes Analysis-shortDashReverse {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 200;
  }
}
@keyframes Analysis-shortDash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes Analysis-dashDotted  {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes Animation-scale {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes Animation-scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes Animation-highlightIn {
  0% {
    transform: scale(0);
    opacity: 0;
    stroke: #9DE0AD;
  }
  0% {
    transform: scale(1);
    opacity: 1;
    stroke: #9DE0AD;
  }
  100% {
    transform: scale(5);
    stroke: #9DE0AD;
    stroke-width: 0.5;
    opacity: 0;
  }
}

@keyframes Analysis-lineAnalysisGreenIn {
  0% {
    opacity: 0;
  }
  100% {
    stroke: #9DE0AD;
    opacity: 1;
  }
}

@keyframes Analysis-dotAnalysisGreenIn {
  100% {
    fill: #9DE0AD;
  }
}

@keyframes Analysis-greenIn {
  0% {
    transform: scale(1.3);
    opacity: 0.7;
    fill: #9DE0AD;
  }
  100% {
    transform: scale(1);
    fill: #9DE0AD;
    opacity: 1;
  }
}

@keyframes Analysis-greenOut {
  0% {
    fill: #9DE0AD;
  }
  50% {
    fill: #636D72;
    opacity: 1;
  }
  100% {
    fill: #636D72;
    opacity: 0;
  }
}

@keyframes Analysis-fadeOutRect {
  0% {
    fill: #9DE0AD;
  }
  100% {
    fill: transparent;
  }
}

@keyframes Analysis-fadeInRect {
  0% {
    fill: transparent;
  }
  100% {
    fill: #9DE0AD;
  }
}

@keyframes Animation-fill {
  from {
    stroke-opacity: 1;
    fill-opacity: 0;
  }
  to {
    stroke-opacity: 0;
    fill-opacity: 1;
  }
}

@keyframes Analysis-changeColor {
  from {
    fill: #636D72;
  }
  to {
    fill: #9DE0AD;
  }
}

@keyframes Analysis-toColorGreen {
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
    fill: #9DE0AD;
  }
}

@keyframes Analysis-toColorGray {
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
    fill: #979EA1;
  }
}

@keyframes Analysis-toColorDarkGray {
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
    fill: #636D72;
  }
}

@keyframes Analysis-toColorWhite {
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
    fill: #FFF;
  }
}

@keyframes Analysis-lineH {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes Analysis-lineV {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

