@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

.CodeMirror-hints {
  display: block;
  position: absolute;
  width: 200px;
  max-width: 240px;
  height: auto;
  max-height: 128px;
  border-radius: 3px;
  overflow-y: auto;
  background: #243840;
  box-shadow: 0 2px 2px #1D2F35;
  z-index: 1000;
}

.CodeMirror-hint {
  display: block;
  position: relative;
  margin: 0;
  padding: $baseSize;
  color: $cHintText;

  span {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .has-letter {
    width: 85%;
  }

  .has-letter::after {
    @include transform(translateY(-50%));
    position: absolute;
    top: 50%;
    right: 2 * $baseSize;
    color: $cHintText;
    font-size: $sFontSize-medium - 1;
    font-weight: bold;
    text-transform: uppercase;
    content: attr(data-type);
    z-index: 1;
  }
}

.CodeMirror-hint-active {
  background: $cHighlightYellow;
  color: $cMainText;
  text-decoration: none;

  .has-letter::after {
    color: $cMainText;
  }
}
