// Context switcher styles (map view, table view)
// ----------------------------------------------

@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';

.Editor-contextSwitcher {
  position: absolute;
  right: 32px;
  bottom: 32px;
  border-radius: 4px;
  background: $cBlue;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24), 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  overflow: hidden;
  z-index: 4;
}
.Editor-contextSwitcher.is-moved {
  right: 392px;
}
.Editor-contextSwitcher.has-timeSeries {
  bottom: 190px;
}
.Editor-contextSwitcherButton {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  width: 32px;
  height: 32px;
  text-align: center;
  cursor: pointer;
}
.Editor-contextSwitcherItem {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  &:last-child {
    border-right: 0;
  }
}
.Editor-contextSwitcherButton.is-selected .Editor-contextSwitcherMedia {
  fill: rgba(0, 0, 0, 0.16);
}
.Editor-contextSwitcherMedia {
  fill: $cWhite;
}
@media (max-width: 1300px) {
  .Editor-contextSwitcher.is-moved {
    right: 318px;
  }
}
