// Custom list styles
// --------------------------------------------------

@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

.CustomList {
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 100;
}
.CustomList.is-visible {
  display: block;
}
.CustomList.is-up {
  bottom: 36px;
}
.CustomList-listWrapper {
  position: relative;
}
.CustomList-list {
  position: relative;
  width: 246px;
  max-height: 185px;
  overflow: hidden;
}


