// Custom list styles
// --------------------------------------------------

@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

.CustomList {
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  width: 246px;
  z-index: 100;
}
.CustomList--small {
  width: 215px;
}
.CustomList.is-visible {
  display: block;
}
.CustomList.is-up {
  bottom: 36px;
}
.CustomList-listWrapper {
  position: relative;
}
.CustomList-list {
  position: relative;
  width: 100%;
  max-height: 185px;
  overflow: hidden;
}
.CustomList-message {
  padding: 16px;
  text-align: center;
}

.CustomList-item.is-highlighted,
.CustomList-item:hover {
  background: rgba($cHighlight, 0.16);
  cursor: pointer;
}
