// Styles for dataset
// --------------------------------------------------

// @import 'cdb-variables/colors';
// @import 'cdb-variables/sizes';
@import 'cdb-utilities/mixins';

.Dataset {
  @include display-flex();
  @include flex-direction(column);
  @include flex(1);
}
.Dataset-view {
  @include display-flex();
  @include flex-direction(column);
  position: relative;
  // Safari has a bug with height: 100%
  height: 100vh;
}
.Dataset-viewInfo {
  padding: 19px 25px 0;
  box-sizing: content-box;
}
.Dataset-viewTable {
  @include flex(1);
  position: relative;
  width: 100%;
  padding-bottom: 20px;
}
