// Styles for Editor window
// --------------------------------------------------

@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';

@mixin block-shadow() {
  @include css3-prefix(box-shadow, inset 10px 0 10px -10px rgba(0, 0, 0, 0.3));
};

.Editor {
  @include display-flex();
  position: relative;
  width: 100vw;
  height: 100vh;
}
.Editor-wrapper {
  @include display-flex();
  position: relative;
  height: 100%;
}
.Editor-panel {
  @include transition(width, 300ms, ease-in-out);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 18px 25px;
  box-sizing: border-box;
}
.Editor-panelWrapper {
  position: relative;
  width: 344px;
}
.Editor-panel.is-larger {
  width: 488px;
}
.Editor-content .CDB-HeaderInfo {
  margin: 0 0 32px;
}
.CDB-Dashboard-canvas {
  @include block-shadow();
}
.Editor-panel .ps-scrollbar-y-rail {
  right: 0 !Important;
  width: 2px !Important; // Resets standard scroll track color
  background: #EEE;
  z-index: 3;
}
.Editor-panel .ps-scrollbar-y {
  width: 2px !Important; // Resets standard scroll bar color
  background: #AAA;
}
.Editor-panel .ps-scrollbar-x-rail {
  height: 2px !Important; // Resets standard scroll track color
  background: #EEE;
  z-index: 3;
}
.Editor-panel .ps-scrollbar-x {
  height: 2px !Important; // Resets standard scroll bar color
  background: #AAA;
}
