// Styles for Editor window
// --------------------------------------------------

@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

@mixin block-shadow() {
  @include css3-prefix(box-shadow, inset 10px 0 10px -10px rgba(0, 0, 0, 0.3));
};

.Editor {
  @include display-flex();
  position: relative;
  width: 100vw;
  min-width: 1024px;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

.Editor--topBar {
  height: calc(100vh - 40px);
}

.Editor-wrapper {
  @include display-flex();
  position: relative;
  height: 100%;
  min-height: 450px;
}
.Editor-panel {
  @include transition(width, 300ms, ease-in-out);
  @include display-flex();
  @include flex-direction(column);
  @include flex(1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 0;
  padding: 19px 25px 0;
  box-sizing: border-box;
}
.Editor-panel.is-dark {
  background: $cMainBg;
}
.Editor-content {
  @include display-flex();
  @include flex(1);
  @include flex-direction(column);
  position: relative;
  min-height: 0;
}
.Editor-content.is-disabled {
  opacity: 0.24;
}
.Editor-panelWrapper {
  position: relative;
  width: 344px;
}
.Editor-panelWrapper.is-larger {
  width: 488px;
}

.Editor-panel .ps-scrollbar-y-rail {
  right: 0 !Important;
  width: 2px !Important; // Resets standard scroll track color
  background: #EEE;
  z-index: 3;
}
.Editor-panel .ps-scrollbar-y {
  width: 2px !Important; // Resets standard scroll bar color
  background: #AAA;
}
.Editor-panel .ps-scrollbar-x-rail {
  height: 2px !Important; // Resets standard scroll track color
  border-top: 12px solid $cWhite;
  border-bottom: 2px solid $cWhite;
  background: #EEE;
  z-index: 3;
}
.Editor-panel .ps-scrollbar-x-rail .ps-scrollbar-x {
  bottom: -1px !Important; // Resets standard scroll bar position
  height: 4px !Important; // Resets standard scroll bar color
  background: #AAA;
  min-width: 120px;
  pointer-events: all;
  opacity: 0.6;
}

.Editor .CDB-Zoom-info {
  display: block;
}

/* deep insights */
.CDB-Dashboard-canvas {
  @include block-shadow();
  @include flex(1);
}
.CDB-Dashboard-canvas.is-dark {
  background: #293A41;
}



/* Responsive views */
@media (max-width: 1600px) {
  .Editor {
    .CDB-Widget-canvas,
    .CDB-Widget {
      width: 280px;
    }
    .CDB-Widget-canvas {
      min-width: 280px;
      max-width: 280px;
    }
  }
}

@media (max-width: 1280px) {
  .Editor {
    .CDB-Dashboard-canvas {
      @include flex-direction(column);
      width: 0;
    }
    .CDB-Widget-canvas {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      min-height: 180px;
      margin: 8px 0 0;
    }
    .CDB-Widget {
      @include flex(1);
      width: auto;
      margin-bottom: 0;
      padding: $baseSize * 2 0;
      border-right: 2px solid $cSecondaryBackground;
    }
    .CDB-Widget-canvasInner {
      @include display-flex();
      position: relative;
    }
    .CDB-Widget-header,
    .CDB-Widget-footer,
    .CDB-Widget-content {
      margin-right: 16px;
      margin-left: 16px;
    }
    .CDB-Widget-list {
      @include display-flex();
    }
    .CDB-Widget-listButton {
      padding: 4px 0;
    }
    .CDB-Widget-listGroup {
      @include display-flex();
      @include flex-wrap(wrap);
      margin: 0 -8px;
    }
    /* one or two items */
    .CDB-Widget-listItem:nth-child(1):nth-last-child(1),
    .CDB-Widget-listItem:nth-child(1):nth-last-child(2),
    .CDB-Widget-listItem:nth-child(2):nth-last-child(1) {
      width: 100%;
    }
    .CDB-Widget-listItem {
      width: 33%;
      padding: 0 8px;
      box-sizing: border-box;
    }
    .CDB-Widget-listWrapper .CDB-Widget-contentSpaced--sideMargins {
      margin-right: 0;
      margin-left: 0;
    }
    .CDB-Widget-listItemInner {
      margin: 0;
    }
  }
}



