@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';
@import 'cdb-utilities/mixins';

ul.tagit {
  padding: 1px 5px;
  overflow: auto;
  margin-left: inherit; /* usually we don't want the regular ul margins. */
  margin-right: inherit;
}
ul.tagit li {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
}
ul.tagit li.tagit-choice {
  padding: .2em 18px .2em .5em;
  position: relative;
  line-height: inherit;
}
ul.tagit li.tagit-new {
  padding: .25em 4px .25em 0;
}

ul.tagit li.tagit-choice a.tagit-label {
  cursor: pointer;
  text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
  cursor: pointer;
  position: absolute;
  right: .1em;
  top: 50%;
  margin-top: -8px;
}

/* used for some custom themes that don't need image icons */
ul.tagit li.tagit-choice .tagit-close .text-icon {
  display: none;
}

ul.tagit li.tagit-choice input {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
}
ul.tagit input[type="text"] {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  width: inherit;
  background-color: inherit;
  outline: none;
}

.Form-tags {
  box-sizing: border-box;
  font-size: $sFontSize-medium;
  position: relative;
  width: 100%;
  min-height: 0;
  padding: 0;
  outline: none;
  border: 1px solid $cMainLine;
  border-radius: 4px;
  background: $cWhite;
  z-index: 2;
}

.Form-tagsList.tagit {
  padding: 0 5px;
}

.Form-tagsList.tagit .tagit-choice {
  font-size: $sFontSize-small;
  margin: 7px 5px 0 0;
  padding: 0 20px 0 4px;
  line-height: 14px;
  border: 1px solid $cBlue;
  border-radius: 2px;
  background: $cWhite;
  color: $cBlue;
  text-transform: uppercase;
  overflow: hidden;
}
.Form-tagsList.tagit .tagit-choice .tagit-close {
  background-color: $cBlue;
  right: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  overflow: hidden;
  margin-top: -7px;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 10px;
    top: 6px;
    left: 2px;
    background: $cWhite;
  }
  &::before {
    @include transform(rotate(45deg));
  }
  &::after {
    @include transform(rotate(-45deg));
  }
}
.Form-tagsList.tagit .tagit-choice .tagit-close .text-icon {
  display: none;
}
.Form-tagsList.tagit li.tagit-new {
  padding: 4px 4px 5px 7px;
}
.Form-tagsList.tagit .ui-autocomplete-input::-webkit-input-placeholder {
  color: #AAA;
  font-style: normal;
  font-weight: $sFontWeight-normal;
}
.Form-tagsList.tagit .ui-autocomplete-input::-moz-placeholder {
  color: #AAA;
  font-style: normal;
  font-weight: $sFontWeight-normal;
}
.Form-tagsList.tagit .ui-autocomplete-input:-ms-placeholder {
  color: #AAA;
  font-style: normal;
  font-weight: $sFontWeight-normal;
}
.Form-tags.is-hover {
  border-color: $cHoverLine;
}
.Form-tags.is-focus {
  border-color: $cBlue;
}
.Form-tags.is-disabled {
  background: rgba(#F9F9F9, 1);

  .tagit-choice { padding: 0 11px }
  .tagit-choice .tagit-close { display: none }
}