.Form-tags {
  position: relative;
  width: 100%;
  min-height: 38px;
  padding: 0;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: white;
  z-index: 2;
}
.Form-tagsList.tagit { padding: 0 5px 5px 5px }
.Form-tagsList.tagit .tagit-choice {
  padding: 0 30px 0 11px;
  margin: 5px 5px 0 0;
  line-height: 28px;
  background: #EFF8FF;
  color: #746E76;
  border-radius: 2px;
}
.Form-tagsList.tagit .tagit-choice .tagit-close {
  line-height: normal;
  right: 10px;
}
.Form-tagsList.tagit .tagit-choice .tagit-close .text-icon {
  display: inline-block;
  color: #C5CCD1;
  &:hover { color: #AAA }
}
.Form-tagsList.tagit li.tagit-new { padding: 7px 4px 2px 7px }
.Form-tagsList.tagit .ui-autocomplete-input::-webkit-input-placeholder {
  font-weight: $sFontWeight-normal;
  font-style: italic;
  color: #AAA
}
.Form-tagsList.tagit .ui-autocomplete-input::-moz-placeholder {
  font-weight: $sFontWeight-normal;
  font-style: italic;
  color: #AAA
}
.Form-tagsList.tagit .ui-autocomplete-input:-ms-placeholder {
  font-weight: $sFontWeight-normal;
  font-style: italic;
  color: #AAA
}
.Form-tags.is-focus { border-color: #999 }
.Form-tags.is-disabled {
  background: $cStructure-grayBkg;

  .tagit-choice { padding: 0 11px }
  .tagit-choice .tagit-close { display: none }
}