// Styles for Form Layout
// --------------------------------------------------

@import 'cdb-utilities/mixins';

.Editor-FormInner {
  @include display-flex();
  @include align-items(center);
}

.Editor-FormInput {
  @include flex(1);
  position: relative;
}

.Editor-FormDialog {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 500px;
  height: 500px;
  background: #FFF;
}
