// Styles for Header Editor
// --------------------------------------------------

@import 'cdb-utilities/mixins';
@import 'cdb-variables/sizes';
@import 'cdb-variables/colors';

.Editor-HeaderInfoEditor {
  @include display-flex();
  height: 64px;
  margin-bottom: 21px;
}
.Editor-HeaderInfoEditorShape {
  line-height: 44px;
}

.Editor-HeaderInfo {
  @include display-flex();
  margin-bottom: 32px;

  &.is-block {
    display: block;
  }
}

.Editor-HeaderInfo--noMargin {
  margin-bottom: 0;
}

.Editor-HeaderInfo-listItem {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;

  &:last-child {
    margin-right: 0;
  }
}

.Editor-HeaderInfo-inner {
  @include flex(1);
  max-width: calc(100% - 32px);
}
.Editor-HeaderInfo-inner--wide {
  max-width: 100%;
}
.Editor-HeaderInfo-back {
  margin-top: 7px;
}
.Editor-HeaderInfo-title {
  @include display-flex();
  @include align-items(center);
  margin-bottom: 7px;
}
.Editor-HeaderInfo-titleText {
  @include flex(1);
  display: block;
  width: 0;
  padding-right: 16px;
}
.Editor-HeaderInfo-actions {
  @include display-flex();
  @include align-items(center);
}
.Editor-HeaderInfo-actionsItem {
  margin-left: 4px;
}
.Editor-HeaderInfo-actionsItem:first-child {
  margin-left: 0;
}

.Editor-HeaderPad {
  width: $baseSize * 3;
  min-width: $baseSize * 3;
  height: $baseSize * 3;
  box-sizing: border-box;
}

.Editor-HeaderNumeration {
  width: $baseSize * 3;
  min-width: $baseSize * 3;
  height: $baseSize * 3;
  border: 1px solid $cMainLine;
  border-radius: 4px;
  background-color: $cWhite;
  color: $cAltText;
  font-size: $sFontSize-small;
  line-height: 23px;
  text-align: center;
  box-sizing: border-box;
}

.Editor-headerLayerName {
  @include flex(1);
}

.Editor-HeaderInfo.is-dark {
  .Editor-HeaderInfo-titleText {
    color: $cWhite;
  }
  .CDB-IconFont-arrowPrev {
    color: $cWhite;
  }
}
.Editor-HeaderInfo-publishDate {
  max-width: 160px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
