@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

.Infobox {
  margin-right: -25px;
  margin-left: -25px;
  padding: 25px;
  background: $cThirdBackground;

  &.is-error {
    background: $cError;
    color: $cWhite;
  }

  &.is-alert {
    background: rgba($cHighlightYellow, 0.6);
  }
}

.Infobox-buttons {
  @include display-flex();
}

.Infobox-button {
  @include flex(1);

  &.Infobox-button--right {
    text-align: right;
  }
}
