@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';
@import '_vars';

.EditorMenu {
  @include flex(0 0 72px);
  position: relative;
  width: 72px;
  min-height: 450px;
  box-sizing: border-box;
  padding: 24px 0 $baseSize * 2;
  background: $cBlue;
}

.EditorMenu-navigation {
  @include display-flex();
  @include align-items(center);
  @include flex-direction(column);
}

.EditorMenu-navigationItem {
  @include transition(background, 300ms, ease-in);
  width: $baseSize * 4;
  height: $baseSize * 4;
  margin-bottom: $baseSize;
  border-radius: 4px;
}
.EditorMenu-navigationItem.is-selected,
.EditorMenu-navigationItem.is-selected:hover,
.EditorMenu-navigationItem.is-selected:active {
  background: rgba($cMainBg, 0.32);
}
.EditorMenu-navigationItem:hover {
  background: rgba($cMainBg, 0.16);
}
.EditorMenu-navigationItem:active {
  background: rgba($cMainBg, 0.48);
}

.EditorMenu-navigationLink {
  display: block;
  width: 100%;
  height: 100%;
}
.EditorMenu-navigationIcon {
  color: $cWhite;
  font-size: 18px;
}

.EditorMenu-logo {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  width: 32px;
  height: 32px;
  margin: 0 auto 44px;

  .arrow {
    @include opacity(0);
    @include transition(all 250ms ease-out 100ms);
    @include transform(translateX(30px) translateY(15px));
    @include css3-prefix(transform-origin, left center);
  }
  .point {
    @include transition(all 250ms ease-out);
    @include css3-prefix(transform-origin, 50%);
  }
  .imago:hover .point {
    @include transform(scale(3));
  }
  .imago:hover .arrow {
    @include opacity(1);
    @include transform(translateX(10px) translateY(15px));
  }

  .imago .arrowTop,
  .imago .arrowBottom {
    @include transition(all 100ms ease-out 300ms);
    @include transform(rotate(0deg));
    @include css3-prefix(ltransform-origin, left center);
  }

  .imago:hover .arrowTop {
    @include transform(rotate(45deg));
  }
  .imago:hover .arrowBottom {
    @include transform(rotate(-45deg));
  }
}
.EditorMenu-feedback {
  @include transform(translateX(-50%));
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.Editor-feedbackModal {
  position: absolute;
  top: 65px;
  right: 0;
  bottom: 0;
  left: 0;
}
.EditorMenu-avatar {
  position: absolute;
  bottom: $baseSize * 2;
  left: $baseSize * 2;
  width: 40px;
  height: 40px;
}
.EditorMenu-avatarImage {
  width: 100%;
  border-radius: $baseSize / 2;
}


/* Responsive views */
@media (max-width: $reponsiveWidth) {
  .EditorMenu {
    @include flex(0 0 48px);
    width: 48px;
  }
  .EditorMenu-logo svg {
    width: 24px;
    height: 24px;
  }
  .EditorMenu-navigationIcon {
    font-size: 14px;
  }
  .EditorMenu-navigationItem {
    width: $baseSize * 3;
    height: $baseSize * 3;
  }
}
