@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

.EditorMenu {
  position: relative;
  width: 72px;
  min-height: 450px;
  box-sizing: border-box;
  padding: $baseSize * 2 0;
  background: $cBlue;
}

.EditorMenu-navigation {
  @include display-flex();
  @include align-items(center);
  @include flex-direction(column);
}

.EditorMenu-navigationItem {
  width: $baseSize * 4;
  height: $baseSize * 4;
  margin-bottom: $baseSize;
}
.EditorMenu-navigationItem.is-selected {
  @include transition(background, 300ms, ease-in);
  border-radius: 4px;
  background: rgba($cMainBg, 0.16);
}

.EditorMenu-navigationLink {
  display: block;
  width: 100%;
  height: 100%;
}
.EditorMenu-navigationIcon {
  color: $cWhite;
  font-size: 18px;
}
.EditorMenu-navigationLink:hover .EditorMenu-navigationIcon {
  opacity: 1;
}

.EditorMenu-logo {
  width: 40px;
  height: 40px;
  margin: 0 auto $baseSize * 2;
  padding: $baseSize - 2 0;
  border-radius: $baseSize / 2;
  background: #FFF;
  box-sizing: border-box;
  font-size: $baseSize * 3;
  text-align: center;
}

.EditorMenu-avatar {
  position: absolute;
  bottom: $baseSize * 2;
  left: $baseSize * 2;
  width: 40px;
  height: 40px;
}
.EditorMenu-avatarImage {
  width: 100%;
  border-radius: $baseSize / 2;
}
