// Mosaic styles
// ----------------------------------------------

/* SG
# Mosaic
```
<ul class="Mosaic">
  <li class="Mosaic-item"></li>
  <li class="Mosaic-item"></li>
  <li class="Mosaic-item"></li>
</ul>
```
*/

@import 'cdb-utilities/mixins';
@import 'cdb-variables/sizes';
@import 'cdb-variables/colors';


.Mosaic-list {
  @include display-flex();
  @include flex-wrap(wrap);
}
.Mosaic-item {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: $halfBaseSize;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    &::before {
      @include transition(all, 300ms);
      border: 1px solid rgba(#000, 0.24);
    }

    .Mosaic-remove {
      opacity: 1;
    }
  }
}
.Mosaic-item::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: $halfBaseSize;
  pointer-events: none;
  content: '';
}
.Mosaic-item--dashed::before {
  border: 1px dashed rgba(0, 0, 0, 0.08);
}
.Mosaic-item.is-selected::before {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 2px solid $cBlue;
}
.Mosaic-image {
  display: block;
  width: 100%;
  height: 100%;
}
.Mosaic-inner {
  border-radius: $halfBaseSize;
  overflow: hidden;
  pointer-events: none;
}
.Mosaic-button {
  width: 40px;
  color: #1785FB;
  line-height: 40px;
}
.Mosaic-remove {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  padding: 0;
  transition: opacity 0.1s;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background: rgba(#000, 0.5);
  text-indent: 0;
  opacity: 0;
  z-index: 2;
  pointer-events: auto;

  &::before {
    position: absolute;
    top: 4px;
    left: 4px;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    content: '';
  }
}
