@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

.Notifier {
  @include css3-prefix(hyphens, auto);
  margin: 0 -25px;
  border-top: 1px solid $cSecondaryLine;
  word-wrap: break-word;
  overflow-wrap: break-word;

  &.is-dark {
    border-color: #3A484E;
    background: $cMainBg;
  }

  &:empty {
    display: none;
  }
}


.Notifier-inner {
  position: relative;
  border-top: 1px solid $cSecondaryLine;

  .is-dark & {
    border-color: #3A484E;
  }

  &:first-child {
    border-top: 0;
  }
}

.Notifier-item {
  @include display-flex();
  padding: 20px $baseSize * 3;
  color: $cSecondaryText;
}

.Notifier-item--success {
  border-top: 1px solid #9DE0AD;
  background: rgba(#9DE0AD, 0.12);
  margin-top: -1px;
}
.Notifier-item--error {
  border-top: 1px solid #F15743;
  background: rgba(#F15743, 0.12);
  margin-top: -1px;
}
.Notifier-item--warning {
  border-top: 1px solid #F5A623;
  background: #FEFEDD;
  margin-top: -1px;
}


.Notifier-info {
  @include flex(1);
  min-width: 0; // To prevent firefox screw up
  padding-right: $baseSize * 2;
}

.Notifier-actions {
  margin-left: $baseSize * 3;

  &:first-of-type {
    margin-left: 0;
  }
}

.Notifier-icon {
  margin-top: 1px;
}

// Loader styles
.Notifier .CDB-LoaderIcon .CDB-LoaderIcon-path {
  stroke: rgba(0, 0, 0, 0.24);
}
.Notifier.is-dark .CDB-LoaderIcon .CDB-LoaderIcon-path {
  stroke: rgba(255, 255, 255, 0.88);
}
