@import 'cdb-variables/colors';
@import 'cdb-utilities/mixins';

.Options-bar {
  @include align-items(center);
  position: relative;
  margin-right: -25px;
  margin-left: -25px;
  padding: 25px;
  box-sizing: border-box;
}
.Options-bar.is-dark {
  color: $cWhite;
}
