@import 'cdb-variables/sizes';
@import 'cdb-variables/colors';

.Privacy-dropdown {
  position: relative;
}

.Privacy-dropdownTrigger {
  height: 24px;
  overflow: hidden;
}

.Privacy-dropdownButton {
  width: 100%;

  &.is-selected {
    background: rgba($cHighlight, 0.16);
  }
}

.Privacy-dropdownArrow {
  fill: currentColor;
  width: 6px;
  margin-left: 2px;
}

.Editor-PrivacyDialog {
  position: absolute;
  top: $baseSize * 4;
  right: 0;
  left: 0;
  width: 248px;
  z-index: 100;
}

.Privacy-passwordField {
  padding: $baseSize $baseSize + 4;
}
