// Entry point for public maps
// ----------------------------------------------

@import 'tipsy-tooltip';

#dashboard {
  height: 100%;
}

.CDB-Embed-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.CDB-Embed-header {
  padding: 1rem;
  border-bottom: 1px solid #DDD;
  background: white;

  h1 {
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .CDB-Embed-description {
    margin-top: 8px;
  }
}

.CDB-Embed-description {
  max-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  &.is-legends {
    margin-bottom: 16px;
  }
}

.CDB-Embed-content {
  flex: 1;
}

.CDB-NavMenu-inner {
  margin: 0;
  padding: 1rem 1rem 0;
}

.CDB-Embed-tab {
  &:not(.is-active) {
    display: none !important;
  }

  &.is-active {
    display: flex;
  }
}

.CDB-Embed-legends {
  height: 100%;
}

.CDB-Overlay-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.is-collapsed {
    margin-bottom: 16px;
  }

  h1 {
    margin: 0;
  }
}

.CDB-Overlay-inner {
  display: none;
  margin-top: 8px;

  &.is-active {
    display: block;
  }

  &.is-description {
    margin-bottom: 16px;
  }
}

// Override carto.js legends styles
.CDB-Legends-canvas .CDB-Legends-canvasInner {
  padding: 16px 16px 0;
}

@media (min-width: 1200px) {
  .CDB-Overlay-title {
    display: none;

    &.is-collapsed {
      margin-bottom: 24px;
    }

    &.is-menu {
      display: flex;
    }
  }

  .CDB-Overlay-inner {
    margin-top: 0;

    &.is-menu {
      margin-top: 8px;
    }

    .CDB-Embed-description {
      display: none;

      &.is-menu {
        display: block;
      }
    }
  }

  // Override carto.js legends styles
  .CDB-Legends-canvas {
    &.is-overlay {
      display: none;
    }

    .CDB-Legends-canvasInner {
      padding: 24px 24px 0;
    }
  }
}

@media (min-width: 601px) {
  .CDB-Embed-header,
  .CDB-Embed-tabs,
  .CDB-Embed-legends {
    display: none;
  }
}

@media (max-width: 600px) {
  .CDB-Embed-content {
    // 103px = header + tabs height
    height: calc(100% - 103px);
  }

  .CDB-Overlay-title {
    display: none;

    &.is-menu {
      display: flex;
    }
  }

  .CDB-Overlay-inner {
    .CDB-Embed-description {
      display: none;

      &.is-menu {
        display: block;
      }
    }
  }

  .CDB-Legends-canvas {
    &.is-overlay {
      display: none;
    }
  }
}

// Override carto.js legends styles
.CDB-Embed-legends {
  .CDB-Legends-canvas {
    display: block !important;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: none;
    border-radius: 0;
    box-shadow: none;
  }

  .CDB-Legends-canvasInner {
    height: 100%;
    max-height: none;
    border-radius: 0;
  }
}

@media (max-width: 759px) {
  body {
    position: fixed !important;
    width: 100%;
    overflow: hidden; // Avoid scroll in small screens
  }
}
