@import 'cdb-utilities/mixins';
@import 'cdb-variables/sizes';
@import 'cdb-variables/colors';

.CustomRamp-list {
  border-top: 1px solid #DDD;
}
.CustomRamp {
  display: flex;
}

.CustomRamp > div {
  flex: 1;
}
.CustomRamp-clear {
  color: $cBlue;
}

