@import 'cdb-utilities/mixins';
@import 'cdb-variables/sizes';
@import 'cdb-variables/colors';

.CustomRamp {
  display: flex;
}
.CustomRamp .CustomRamp-list {
  flex: 1;
}
.CustomRamp-list {
  border-top: 1px solid #DDD;
}
.CustomRamp-clear {
  padding: 12px 12px 12px 0;
  color: $cBlue;
}
