@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

.Share-input {
  position: relative;
}

.Share-input-field {
  padding-right: 50px;
}

.Share-copy {
  @include transform(translateY(-50%));
  position: absolute;
  top: 50%;
  right: 10px;
  padding-right: 0;
  padding-left: 0;
}

.Share-info {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  height: 30px;
  padding: $baseSize * 4 0 0;
  text-align: center;

  .CDB-Button {
    padding: 0 4px;
  }
}

.Share-hr {
  width: 80%;
  max-width: 640px;
  margin: $baseSize * 4 auto 0;
  border: 0;
  border-top: 1px solid $cMainLine;
}

.Share-user {
  height: 16px;
  border-radius: $halfBaseSize / 2;
}

.Share-wrapper {
  overflow: auto;
}

.Share-filtersRow {
  height: 60px;
}

.Share-user--big {
  height: 24px;
}

.Share-permission {
  @include display-flex();
  @include align-items(center);
  margin-bottom: $baseSize;
  padding: $baseSize * 2;
  border: 1px solid $cWhite;
  border-radius: $halfBaseSize;
  background-color: $cWhite;

  &.is-selected {
    border: 1px solid $cHighlight;
    background-color: rgba($cHighlight, 0.1);
  }
}

.Share-permissionInfo {
  @include display-flex();
  @include align-items(center);
  @include flex(1 1 auto);
}

.Share-permissionIcon {
  @include display-flex();
  @include justify-content(center);
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: $baseSize * 2;
  box-sizing: border-box;
  border: 1px solid $cMainLine;
  border-radius: 3px;
  font-size: 22px;

  img {
    max-width: 100%;
  }
}

.Share-togglers {
  @include display-flex();

  .Share-toggler.is-disabled {
    opacity: 0.4;

    // In order to make parent tipsyable on mouseover
    .CDB-Toggle {
      visibility: hidden;
    }
  }
}
