@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

.StatsList-item.is-hidden {
  display: none;
}
.StatsList-item {
  @include display-flex;
  margin: 0 0 $baseSize * 3;
  box-sizing: border-box;
}
.StatsList-header {
  margin-top: 1px;
}
.StatsList-arrow {
  @include transform(rotate(90deg));
}
.StatsList-tag {
  padding: 1px $baseSize / 2;
  border-radius: $baseSize / 2;
  background-color: $cThirdBackground;
  color: $cAltText;
}
.StatsList-style.is-hidden {
  display: none;
}
