@import 'cdb-utilities/mixins';

.Tab-pane,
.Tab-paneContent {
  @include display-flex();
  @include flex(1);
  @include flex-direction(column);
  min-height: 0;
}

.Tab-paneLabel-image-container {
  display: inline-block;
  min-width: 18px;
  height: 18px;
}

.Tab-paneLabel-image {
  height: 18px;
}
