@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

.Tag {
  display: inline-block;
  height: 16px;
  padding: 0 4px;
  border-radius: $halfBaseSize / 2;
  background-color: $cThirdBackground;
  color: $cAltText;
  box-sizing: border-box;
  line-height: 14px;
}

.Tag-fill {
  height: auto;
  padding: 5px 12px;
  border-radius: $halfBaseSize;
  background-color: $cThirdBackground;
  color: $cWhite;
}
.Tag-fill--yellow {
  background: #FFB927;
}
.Tag-fill--orange {
  background: $cAlert;
}
.Tag-fill--orange-dark {
  background: $cPassword;
}
.Tag-fill--red {
  background: $cError;
}
.Tag-fill--blue {
  background: $cBlue;
}
.Tag-fill--green {
  background: $cPublic;
}

.Tag--big {
  height: 24px;
  padding: 0 8px;
  line-height: 22px;
}

.Tag--outline {
  background-color: transparent;
}

.Tag-outline--dark {
  border: 1px solid $cSecondaryDark;
  color: $cSecondaryDark;
}
.Tag-outline--grey {
  border: 1px solid $cAltText;
  color: $cAltText;
}


.Tag--Builder {
  color: $cMainText;
}
