@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

.WidgetList {
  @include display-flex;
  flex-wrap: wrap;
}

.WidgetList-fakeInner { // TODO: REMOVE ME
  width: 940px;
  margin: auto;
  .CDB-NavMenu-item {
    margin-right: 10px;
  }
  .CDB-NavMenu-link {
    padding: 32px 0;
  }
}

.WidgetList-option {
  margin-right: 16px;
}
.WidgetList-item {
  @include display-flex;
  @include align-items(baseline);
  flex: 0 0 304px;
  width: 304px;
  margin: 0 4px 8px;
  box-sizing: border-box;
  padding: $baseSize * 2;
  border: 1px solid transparent;
  border-radius: $baseSize / 2;
  background: $cWhite;
}
.WidgetList-item:hover {
  border: 1px solid $cBlue;
  background: #F5FAFE;
}
.WidgetList-inner {
  @include display-flex;
  flex-wrap: wrap;
  width: 100%;
}
.WidgetList-title {
  @include display-flex;
}

.WidgetPlaceHolder {
  @include display-flex();
  @include flex(1);
  margin-right: 24px;
}
.WidgetPlaceHolder-media {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 2px;
  background: $cThirdBackground;
}
.WidgetPlaceHolder-txt {
  @include flex(1);
}
.WidgetPlaceHolder-title {
  height: 16px;
  margin-bottom: 8px;
  border-radius: 2px;
  background: $cThirdBackground;
}
.WidgetPlaceHolder-text {
  height: 8px;
  border-radius: 2px;
  background: $cThirdBackground;
}

