@import 'cdb-utilities/mixins';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

.WidgetList {
  @include display-flex;
  flex-wrap: wrap;
}

.WidgetList-fakeInner { // TODO: REMOVE ME
  width: 940px;
  margin: auto;
  .CDB-NavMenu-Item {
    margin-right: 10px;
  }
  .CDB-NavMenu-Link {
    padding: 32px 0;
  }
}

.WidgetPlaceHolder {
  @include display-flex();
  @include flex(1);
  margin-right: 24px;
}
.WidgetPlaceHolder-media {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 2px;
  background: $cThirdBackground;
}
.WidgetPlaceHolder-txt {
  @include flex(1);
}
.WidgetPlaceHolder-title {
  height: 16px;
  margin-bottom: 8px;
  border-radius: 2px;
  background: $cThirdBackground;
}
.WidgetPlaceHolder-text {
  height: 8px;
  border-radius: 2px;
  background: $cThirdBackground;
}

