<div class="content">
  <div class="left">
    <h2>Create your first visualization</h2>
    <p class="margin20">A visualization is a mashup of one or more layers that can be published from your CartoDB account. Your data is now available under your tables section.</p>
    <ul>
      <li>Visualizations can be public or private.</li>
      <li>You can have maximum 3 layers in a single visualization.</li>
      <li>You have unlimited visualizations under your CartoDB account.</li>
      <li>Don’t worry, your old maps (if applicable) will still work as usually.</li>
    </ul>
  </div>
  <div class="right">
    <div class="visualizations">
      <a href="#create_a_table" class="green button create_new">Create your first vizz</a>
    </div>
  </div>
</div>
