<article class="no_tables">
  <div class="inner">
    <section class="block longest">
      <%= render 'admin/visualizations/index/start_tables' %>
    </section>
  </div>
</article>

<article class="no_vis">
  <div class="inner">
    <section class="block empty">
      <%= render 'admin/visualizations/index/start_visualizations' %>
    </section>
  </div>
</article>

<article class="vis_empty_search empty_search">
<div class="inner">
  <section class="block empty">
  <div class="content">
    <h3>There are no results for your search</h3>
    <p>Try viewing <a href="#" class="show">all your visualizations</a> or just <a href="#" class="create">create a new one</a>.</p>
  </div>
  </section>
</div>
</article>

<article class="tables_empty_search empty_search">
<div class="inner">
  <section class="block empty">
  <div class="content">
    <h3>There are no results for your search</h3>
    <p>Try viewing <a href="#" class="show">all your tables</a> or just <a href="#" class="create">create a new one</a>.</p>
  </div>
  </section>
</div>
</article>

<article class="visualizations"></article>
<article class="tables"></article>
