
<article class="no_tables">
</article>

<article class="no_vis">
  <div class="inner">
    <section class="block empty">
      <%= render 'admin/visualizations/index/start_visualizations' %>
    </section>
  </div>
</article>

<article class="no_shared no_results">
  <div class="inner">
    <section class="block empty">
      <div class="content">
        <h3>Looks like nobody has shared a visualization with you.</h3>
        <p>Since you are within an enterprise account you can share your visualizations with your colleagues by simply changing your visualization privacy settings.</p>
      </div>
    </section>
  </div>
</article>

<article class="empty_search">
  <div class="inner">
    <section class="block empty">
      <div class="content">
        <h3>There are no results for your search</h3>
        <p>Try viewing <a href="#/your-tables" class="show">your tables</a> or just <a href="#/create-new" class="create">create a new one</a>.</p>
      </div>
    </section>
  </div>
</article>

<article class="error">
  <div class="inner">
    <section class="block empty">
      <div class="content">
        <h3>Oouch! There has been an error</h3>
        <p>Try viewing <a href="#/all-visualizations" class="show visualizations">your visualizations</a> or if the problem persists contact us at <a href="mailto:support@cartodb.com">support@cartodb.com</a>.</p>
      </div>
    </section>
  </div>
</article>

<article class="visualizations"></article>
<article class="tables"></article>
