<div class="onboardingNotification Color-MainDark CDB-Text CDB-Size-medium u-flex u-justifyCenter">
  <p>CARTO Builder has been activated in your account. <a href="https://carto.com/learn/guides" class="onboardingNotification-link">Learn more</a> about it and let us know what you think or <a href="mailto:builder-support@carto.com" class="onboardingNotification-link">contact us</a>. Happy mapping!</p>

  <button class="onboardingNotification-closeButton js-close">
    <div class="CDB-Shape-close is-large is-white"></div>
  </button>
</div>
