body {position:relative; background:url('/images/admin/common/header_bkg.jpg') repeat-x center 0 #2D3451; overflow-x:hidden;}
body, html {height:100%;} /*table hack*/
a:focus {outline:none;}


/*HEADER*/
header {width:100%; min-width:880px; height:58px; margin:0 auto; background:none; z-index:100;}
header a.logo {float:left; width:70px; height:15px; margin:23px 0 0 40px; background:url('/images/admin/common/logo.png') no-repeat 0 0; text-indent:-9999px;}
header ul {float:right; margin: 24px 40px 0 0; }
header ul li {float:left; display: inline; list-style: none; padding: 0 10px 0 0; border-right: solid 1px #949BAB; }
header ul li.last {padding: 0; border: none; }
header ul li a { float:left; margin:0 0 0 10px; font:normal 13px Arial; color:#949BAB; text-decoration: none;}
header ul li a:hover {color:#FFFFFF;}
header ul li span a { margin:0 0 0 4px; text-decoration: underline; color:#949BAB;}
header ul li span a:hover {color:#FFFFFF;}


/*SUBHEADER*/
section.subheader {position:fixed; top:58px; left:0; width:100%; min-width:880px; height:103px; background:url('/images/admin/common/header_bkg.jpg') repeat-x center -58px #2D3451; z-index:100;}
section.subheader div.outer {float:left; width:100%; background:url('/images/admin/common/sub_header_bkg.png') repeat-x 0 0;}
section.subheader div.left {position:relative; float:left; width:600px; height:88px; padding:15px 0 0 0; margin:0 0 0 40px;}
section.subheader h2 {float:left; width:auto; font:bold 21px Arial; color:white;}
section.subheader h2 a {color:white; text-decoration:none;}
section.subheader h2 a:hover {}
section.subheader p.status {float:left; width:auto;}
section.subheader p.status a {float:left; padding:2px 7px; margin:4px 0 0 10px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; font:bold 11px Arial; color:white; text-decoration:none; text-transform:uppercase;}
section.subheader p.status a.public {background:#6FBE6F;}
section.subheader p.status a.private {background:#FF3300;}
section.subheader p.status a.save {background:#FFCC00;}
section.subheader p.status a.selected {background:black; color:white;}
section.subheader p.status a:hover {background:black;}
section.subheader p.status a.save:hover {background:#FFCC00;}
section.subheader span.privacy_window {position:absolute; display:none; top:18px; width:216px; height:108px; background:url('/images/admin/table/privacy_options_bkg.png') no-repeat center center;}
section.subheader span.privacy_window ul {float:left; width:175px; margin:34px 0 0 20px;}
section.subheader span.privacy_window ul li {width:161px; padding:5px 7px 6px; margin:0 0 2px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
section.subheader span.privacy_window ul li.last {margin:0;}
section.subheader span.privacy_window ul li a {padding:0 0 0 16px; font:normal 13px Arial; color:black; background:url('/images/admin/icons/selected_privacy.png') no-repeat 0 -28px; text-decoration:none;}
section.subheader span.privacy_window ul li.selected.public {background:#6FBE6F;}
section.subheader span.privacy_window ul li.selected.private {background:#FF2F1E;}
section.subheader span.privacy_window ul li.selected a {color:white; background-position:0 2px;}
section.subheader span.privacy_window ul li.public:hover {background:#6FBE6F;}
section.subheader span.privacy_window ul li.private:hover {background:#FF2F1E;}
section.subheader span.privacy_window ul li:hover a {color:white; background-position:0 2px;}
section.subheader span.privacy_window ul li.disabled {background:none; opacity:0.3;}
section.subheader span.privacy_window ul li.disabled:hover {background:none;}
section.subheader span.privacy_window ul li.disabled:hover a {color:black; background-position:0 -28px; cursor:default;}


section.subheader span.tags {float:left; width:100%;}
section.subheader span.tags p {float:left; width:auto; padding:3px 7px; margin:4px 4px 0 0; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; font:normal 11px Arial; color:white; text-decoration:none; background:#121621;}
section.subheader span.tags p.last {margin:4px 6px 0 0;}
section.subheader span.tags span.separator {float:left; width:auto; padding:2px; margin: 0; background-color: transparent;}
section.subheader span.tags a.add {float:left; width:auto; padding:3px 0; margin:4px 0 0 0; background:none; color:#FFCC00; text-shadow:0 1px black; font:normal 11px Arial;}
section.subheader span.tags a:hover {background:black; text-decoration:underline;}
section.subheader span.tags a.add:hover {background:none;}
section.subheader ul.tab_menu {position:absolute; bottom:0; left:0; height:auto; width:100%; padding:0; margin:0;}
section.subheader ul.tab_menu li {float:left; width:auto; height:auto; margin:0 3px 0 0; padding:0;}
section.subheader ul.tab_menu li a {float:left; padding:7px 15px; color:white; font:bold 13px Arial; text-decoration:underline; background-color:rgba(256,256,256,0.1); -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; border-top-left-radius:5px; border-top-right-radius:5px;}
section.subheader ul.tab_menu li a:hover {color:#272E48; background-color:rgba(256,256,256,1); text-decoration:none;}
section.subheader ul.tab_menu li.selected a {background-color:rgba(256,256,256,1); color:#272E48; text-decoration:none;}
section.subheader ul.tab_menu li.selected a:hover {color:#272E48; text-decoration:none;}
section.subheader ul.tab_menu li a.disabled {text-decoration:none; color:#999999; }
section.subheader ul.tab_menu li a.disabled:hover {background-color:rgba(256,256,256,0.1);}
section.subheader div.right {position:relative; float:right; width:180px; height:88px; padding:15px 0 0 0; margin:0 40px 0 0; color:white!important;}
section.subheader div.right p.settings {float:right; font:normal 15px Arial; color:white; z-index:10;}
section.subheader div.right p.settings a {font:normal 13px Arial; text-shadow:0 1px black;}
section.subheader div.right p.settings a.delete {padding:0 3px 0 0; color:#FF3300;}
section.subheader div.right p.settings a.delete:hover {color:#FF4400;}
section.subheader div.right p.settings a.settings {padding:0 20px 0 3px; color:white; background:url('/images/admin/icons/settings.png') no-repeat right 1px;}
section.subheader div.right p.settings a.settings:hover {color:white;}
section.subheader div.right span.advanced_options {position:absolute; display:none; right:-10px; top:9px; width:122px; z-index:100;}
section.subheader div.right span.advanced_options a.advanced {position:relative; float:right; padding:7px 29px 7px 9px; font:normal 13px Arial; text-shadow:0 1px black;
text-decoration:none; color:#949BAA; z-index:100; border:1px solid black; border-bottom:0; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
border-top-left-radius: 5px; border-top-right-radius: 5px; background:url('/images/admin/table/advanced_options_bkg.jpg') repeat-x 0 top;}
section.subheader div.right span.advanced_options a.advanced span {position:absolute; right:9px; top:6px; height:16px; width:13px; background:url('/images/admin/icons/settings.png') no-repeat right -13px;}
section.subheader div.right span.advanced_options ul {float:left; width:100px; height:auto; padding:5px 11px 5px 9px; margin:-1px 0 0 0; background-image:-moz-linear-gradient(100% 100% 90deg, #232B46, #233151); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#233151), to(#232B46)); border:1px solid black; -webkit-border-radius: 5px;
  -webkit-border-top-right-radius: 0; -moz-border-radius: 5px; -moz-border-radius-topright: 0; border-radius: 5px; border-top-right-radius: 0;}
section.subheader div.right span.advanced_options ul li {background:none; margin: 0 0 4px 0;}
section.subheader div.right span.advanced_options ul li a {background:none; font:normal 11px "Helvetica"; color:white; text-decoration:none;}
section.subheader div.right span.advanced_options ul li a:hover {text-decoration:underline; cursor:pointer;}
section.subheader div.right span.advanced_options ul li.disabled a {color:#999;}
section.subheader div.right span.advanced_options ul li.disabled a:hover {color:#999; cursor:default; text-decoration:none;}
section.subheader div.right span.paginate {position:absolute; right:0; bottom:5px;  width:100%;}
section.subheader div.right span.paginate a {float:right; width:27px; height:23px; text-indent:-9999px;}
section.subheader div.right span.paginate a.previous {margin:0 3px 0 0; background:url('/images/admin/icons/left_button.png') no-repeat 0 0;}
section.subheader div.right span.paginate a.previous.disabled {background-position:0 -46px;}
section.subheader div.right span.paginate a.next {background:url('/images/admin/icons/right_button.png') no-repeat 0 0;}
section.subheader div.right span.paginate a.next.disabled {background-position:0 -46px;}
section.subheader div.right span.paginate a:hover {background-position:0 -23px;}
section.subheader div.right span.paginate a.disabled:hover {cursor:default;}



/*Performing operation*/
section.subheader div.performing_op {position:absolute; display:block; bottom:0; left:50%; width:100px; height:0; margin:0 0 0 -50px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; background-color:#FFEAA4; overflow:hidden; opacity:1; z-index:0;}
section.subheader div.performing_op p {position:absolute; top:0; left:50%; margin:0 0 0 -50px; padding:8px 12px; font:normal 13px Arial; color:#333333; padding:8px 12px; text-align:center; opacity:1; white-space:nowrap;}
section.subheader div.performing_op p.loading {padding:8px 12px 8px 32px; background:url('/images/admin/icons/watch.png') no-repeat 12px 9px;}


/*Change table title*/
section.subheader span.title_window {position:absolute; display:none; top:22px; left:5px; width:200px; height:67px; padding:33px 18px 0 18px; background:url('/images/admin/table/save_title_bkg.png') no-repeat 0 0;}
section.subheader span.title_window p {font:bold 13px Arial; color:#000000;}
section.subheader span.title_window input[type="text"] {float:left; width:134px; height:14px; margin:5px 0 0 0; padding:6px 7px; background:white; color:#999999; border:none; font:normal 14px Arial; border:1px solid #999999; border-right:0;
  -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
section.subheader span.title_window input:focus {outline:none; color:#333333;}
section.subheader span.title_window input[type="submit"] {float:right; width:50px; height:28px; margin:5px 1px 0 0; padding:6px 0; font:bold 12px Arial; color:#333333; text-align:center; border:1px solid #999999; text-decoration:none;
  -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px;
  background-image:-moz-linear-gradient(100% 100% 90deg, #FFFFFF, #CACBCE); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CACBCE));}
section.subheader span.title_window input[type="submit"]:hover {background-image:-moz-linear-gradient(100% 100% 90deg, #CACBCE, #FFFFFF); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#CACBCE), to(#FFFFFF)); cursor:pointer;}
section.subheader span.title_window span {position:absolute; display:none; top:20px; left:80px; width:141px; height:32px; padding:8px 0 0 10px; background:url('/images/admin/table/error_name.png') no-repeat 0 0; font:normal 11px "Helvetica",Arial; color:white; text-shadow:0 -1px #C05928;}


/*Tags list*/
section.subheader span.tags_window {position:absolute; display:none; left:0; top:35px; min-width:327px; max-width:600px; min-height:28px; padding:0; border:1px solid #000000; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background:#131723; -moz-box-shadow: 0 0 50px 1px #222222;
-webkit-box-shadow: 0 0 50px 1px #222222; box-shadow: 0 0 50px 1px #222222;}
section.subheader span.tags_window ul {float:left; min-width:262px; min-height:25px; margin:6px 5px 0 5px; padding:1px 0 0 3px; background:white; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
section.subheader span.tags_window ul#tags_list li {display: block; float:left; margin:2px 5px 2px 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
section.subheader span.tags_window ul#tags_list li.tagit-choice {padding:2px 4px 2px; font:normal 12px Arial; background-color:#DEE7F8; border:1px solid #CAD8F3; }
section.subheader span.tags_window ul#tags_list li.tagit-choice:hover {background-color:#bbcef1; border-color:#6d95e0;}
section.subheader span.tags_window ul#tags_list li.tagit-new {padding:0px 4px 1px 0;}
section.subheader span.tags_window ul#tags_list li.tagit-choice input { display:block; float:left; margin:2px 5px 2px 0;}
section.subheader span.tags_window ul#tags_list li.tagit-choice a.remove_tag {float:none; width:auto; padding:2px 0 2px 3px!important; font:bold 12px Arial; color:#777777; cursor:pointer; text-decoration:none; text-shadow:none; border:none; background:none;}
section.subheader span.tags_window ul#tags_list li.tagit-choice a.remove_tag:hover {color:#333333;}
section.subheader span.tags_window ul#tags_list input[type="text"] {width:120px; margin:0; padding:0; background-color:#FFFFFF; color:#333333; border:none; font:normal 12px Arial;}
section.subheader span.tags_window ul#tags_list input[type="text"]:focus {outline:none;}
section.subheader span.tags_window a {float:right; width:46px; height:14px; margin:5px 5px 5px 0; padding:6px 0; font:bold 12px Arial; color:#333333; text-align:center; border:1px solid #000000; text-decoration:none; text-shadow:0 1px white;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-image:-moz-linear-gradient(100% 100% 90deg, #CACBCE, #FFFFFF); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CACBCE));}
section.subheader span.tags_window a:hover {background-image:-moz-linear-gradient(100% 100% 90deg, #FFFFFF, #CACBCE); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#CACBCE), to(#FFFFFF)); cursor:pointer;}


/*Mamufas*/
div.mamufas {position:fixed; display:none; top:0; left:0; height:100%; width:100%; background:rgba(0,0,0,0.65); z-index:1000;}

div.mamufas div.delete_window {position:absolute; display:none; top:50%; left:50%; width:434px; height:139px; margin:-120px 0 0 -217px; padding:8px; background:white; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-box-shadow:0 0 50px 3px #111111;
  -moz-box-shadow:0 0 50px 3px #111111;}
div.mamufas div.delete_window a.close_delete {position:absolute; right:-8px; top:-8px; width:24px; height:24px; background:url('/images/admin/table/close_delete.png') no-repeat 0 0;}
div.mamufas div.delete_window a.close_delete:hover {background-position:0 -24px;}
div.mamufas div.delete_window div.inner_ {width:430px; height:135px; border:2px solid #FF6600; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; background:#EDEEF0;}
div.mamufas div.delete_window div.inner_ span.top {float:left; width:402px; padding:14px; border-bottom:1px solid #CCCCCC;}
div.mamufas div.delete_window div.inner_ span.top h3 {float:left; width:100%; font:bold 15px Helvetica,Arial; color:#333333; text-shadow:0 1px white;}
div.mamufas div.delete_window div.inner_ span.top p {position:relative; float:left!important; height:auto; width:100%; padding:10px 0 0 0!important; margin:0!important; font:normal 13px Helvetica,Arial; color:#666666; text-shadow:0 1px white;}
div.mamufas div.delete_window div.inner_ span.top p a {color:#444444;}
div.mamufas div.delete_window div.inner_ span.top p a:hover {color:#222222;}
div.mamufas div.delete_window div.inner_ span.bottom {float:left; width:430px; border-top:1px solid white;}
div.mamufas div.delete_window div.inner_ span.bottom a.cancel {float:left; margin:15px 0 0 15px; font:normal 13px "Helvetica",Arial; color:#666666;}
div.mamufas div.delete_window div.inner_ span.bottom a.cancel:hover {color:#333333;}
div.mamufas div.delete_window div.inner_ span.bottom a.confirm_delete {float:right; height:14px; margin:10px 10px 0 0; padding:6px 9px; font:bold 12px Arial; color:#333333; text-align:center; border:1px solid #999999; text-decoration:none; text-shadow:0 1px white;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-image:-moz-linear-gradient(100% 100% 90deg, #CACBCE, #FFFFFF); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CACBCE));}
div.mamufas div.delete_window div.inner_ span.bottom a.confirm_delete:hover {background-image:-moz-linear-gradient(100% 100% 90deg, #FFFFFF, #CACBCE); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#CACBCE), to(#FFFFFF)); cursor:pointer;}


div.mamufas div.save_window {position:absolute; display:none; top:50%; left:50%; width:389px; margin:-120px 0 0 -203px; padding:8px; background:white; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-box-shadow:0 0 50px 3px #111111;
  -moz-box-shadow:0 0 50px 3px #111111;}
div.mamufas div.save_window a.close_save {position:absolute; right:-9px; top:-7px; width:24px; height:24px; background:url('/images/admin/table/close_georeference.png') no-repeat 0 0;}
div.mamufas div.save_window a.close_save:hover {background-position:0 -24px;}
div.mamufas div.save_window div.inner_ {float:left; width:387px; border:2px solid #FFC209; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; background:#EDEEF0;}
div.mamufas div.save_window div.inner_ span.top {float:left; width:357px; padding:14px; border-bottom:1px solid #CCCCCC;}
div.mamufas div.save_window div.inner_ span.top h3 {float:left; width:100%; font:bold 15px Helvetica,Arial; color:#333333; text-shadow:0 1px white;}
div.mamufas div.save_window div.inner_ span.top input {width:341px; height:13px; padding:9px 7px!important; margin:15px 0 0 0; background:url('/images/admin/api/input_bkg.png') repeat 1px 0; border:1px solid #999999; webkit-border-radius:4px;
border-radius:4px; -moz-border-radius:4px; font:normal 13px Arial; color:#333333; line-height:13px;}
div.mamufas div.save_window div.inner_ span.top input:focus {outline:none;}
div.mamufas div.save_window div.inner_ span.bottom a.cancel {float:left; margin:15px 0 0 15px; padding:0 0 18px 0; font:normal 13px "Helvetica",Arial; color:#666666;}
div.mamufas div.save_window div.inner_ span.bottom a.cancel:hover {color:#333333;}
div.mamufas div.save_window div.inner_ span.bottom a.table_save {float:right; height:14px; margin:10px 10px 0 0; padding:6px 9px; font:bold 12px Arial; color:#333333; text-align:center; border:1px solid #999999; text-decoration:none; text-shadow:0 1px white;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-image:-moz-linear-gradient(100% 100% 90deg, #CACBCE, #FFFFFF); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CACBCE));}
div.mamufas div.save_window div.inner_ span.bottom a.table_save:hover {background-image:-moz-linear-gradient(100% 100% 90deg, #FFFFFF, #CACBCE); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#CACBCE), to(#FFFFFF)); cursor:pointer;}



div.mamufas div.export_window {position:absolute; display:none; top:50%; left:50%; width:389px; margin:-150px 0 0 -217px; padding:8px; background:white; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-box-shadow:0 0 50px 3px #111111;
  -moz-box-shadow:0 0 50px 3px #111111;}
div.mamufas div.export_window a.close_delete {position:absolute; right:-8px; top:-7px; width:23px; height:23px; background:url('/images/admin/table/export_close.png') no-repeat 0 0;}
div.mamufas div.export_window a.close_delete:hover {background-position:0 -23px;}
div.mamufas div.export_window div.inner_ {float:left; width:387px; border:1px solid #ccc; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; background:#EDEEF0;}
div.mamufas div.export_window div.inner_ span.top {float:left; width:357px; padding:14px; border-bottom:1px solid #CCCCCC;}
div.mamufas div.export_window div.inner_ span.top h3 {float:left; width:100%; font:bold 15px Helvetica,Arial; color:#333333; text-shadow:0 1px white;}
div.mamufas div.export_window div.inner_ span.top p {position:relative; float:left!important; height:auto; width:100%; padding:8px 0 0 0!important; margin:0!important; font:normal 13px Helvetica,Arial; color:#666666; text-shadow:0 1px white;}
div.mamufas div.export_window div.inner_ span.top p a {color:#444444;}
div.mamufas div.export_window div.inner_ span.top p a:hover {color:#222222;}
div.mamufas div.export_window div.inner_ span.top ul {float:left; margin:10px 0 0 0;}
div.mamufas div.export_window div.inner_ span.top ul li {float:left; width:100%; margin:10px 0 0 0;}
div.mamufas div.export_window div.inner_ span.top ul li a {float:left; margin:0 0 0 10px; padding:0 0 0 15px; background:url('/images/admin/icons/select_geo.png') no-repeat 0 2px; font:normal 13px "Helvetica",Arial; color:#666666; text-shadow:0 1px white; text-decoration:none;}
div.mamufas div.export_window div.inner_ span.top ul li.selected {padding:10px 0; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:white; -webkit-box-shadow:1px 3px 5px 1px #dddddd; -moz-box-shadow:1px 3px 5px 1px #dddddd; box-shadow:1px 3px 5px 1px #dddddd;}
div.mamufas div.export_window div.inner_ span.top ul li.selected a {width:315px; background-position: 0 -28px; color:#333333;}
div.mamufas div.export_window div.inner_ span.top ul li a:hover {background-position:0 -28px; color:#333333;}
div.mamufas div.export_window div.inner_ span.bottom a.cancel {float:left; margin:15px 0 0 15px; padding:0 0 18px 0; font:normal 13px "Helvetica",Arial; color:#666666;}
div.mamufas div.export_window div.inner_ span.bottom a.cancel:hover {color:#333333;}
div.mamufas div.export_window div.inner_ span.bottom input.download {float:right; margin:10px 10px 0 0; padding:6px 9px; font:bold 12px Arial; color:#333333; text-align:center; border:1px solid #999999; text-decoration:none; text-shadow:0 1px white;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-image:-moz-linear-gradient(100% 100% 90deg, #CACBCE, #FFFFFF); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CACBCE));}
div.mamufas div.export_window div.inner_ span.bottom input.download:hover {background-image:-moz-linear-gradient(100% 100% 90deg, #FFFFFF, #CACBCE); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#CACBCE), to(#FFFFFF)); cursor:pointer;}
