
  /*
   *  Visualization list styles within dashboard
   */

  @import "compass/css3/inline-block";
  @import "../common/mixins";


  // Article
  article.visualizations {
    position:relative;

    &.active {
      display:block;
      padding:60px 0 50px 0;
    }
  }

  // Section
  section.visualizations {
    margin:28px 0 0 22px;
    @include inline-block();
    width: 928px;

    // Tables list
    div.content {
      padding:0;

      #vislist {
        @include display-flex();
        @include justify-content(space-between, justify);
        @include align-items(center, center);
        @include cross-browser(flex-wrap, wrap);
        width:890px;
      }

      &.hidden { display: none; }
    }
  }