
  /*
   *  Visualization list styles within dashboard
   */

  @import "compass/css3/inline-block";

  section.visualizations {
    margin-left:22px;

    // Tables list
    div.content {
      padding:0;

      #tablelist { margin-top:10px }

      &.hidden { display: none; }
    }
  }