<button class="CDB-Button CDB-Button--primary js-add-users">
  <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Add users</span>
</button>
<button class="CDB-Button CDB-Button--error js-rm-users" style="display: none;">
  <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Remove from group</span>
</button>
