@import "../../new_variables/colors";
@import "../../new_variables/sizes";

// Default form styles as defined by style guide
//
// -------------------------------------------------------------------------------------------------------------------

.Input {
  border: 1px solid $cStructure-secondaryLines;
  height: $sForm-elementHeight;
  color: $cTypography-paragraphs;
  border-radius: $sForm-borderRadius;
  padding: 0 $sMargin-elementInline;

  ::-webkit-input-placeholder { color: $cTypography-help;  }
  :-moz-placeholder { color: $cTypography-help;  }
  ::-moz-placeholder {  color: $cTypography-help;  }
  :-ms-input-placeholder {  color: $cTypography-help;  }
}
