<div class="basemap_chooser_wms_items">
  <span class="top scroll" style="display: block;"></span>
  <span class="bottom scroll" style="display: block;"></span>

  <ul class="scrollpane"></ul>
</div>
