  /**
   *  ArcGIS import pane styles
   *
   */

  .import-pane.import-salesforce-pane {
    position:inherit;

    form.upload {
      .upload {
        margin-top:25px;
      }
    }

    div.message {
      position:absolute;
      left:40px;
      bottom:-38px;
      width:250px;
      
      p {
        font-size:12px;
        color:#999999;
      }
    }
  }