
  /**
   *  ArcGIS import pane styles
   *
   */

  @import "compass/css3/images";


  .import-pane.import-arcgis-pane {
    position:inherit;

    form.upload {
      .upload {
        margin-top:25px;
      }

      ul {
        margin-top:15px;

        li {
          display:block;
          padding-left:12px;
          margin-top:10px;
          font-size:12px;
          color: #666666;
          border:none;
          @include background(image-url("layout/list.png") no-repeat 0 4px);
        }
      }
    }

    div.message {
      position:absolute;
      left:40px;
      bottom:-38px;
      width:250px;
      
      p {
        font-size:12px;
        color:#999999;
      }
    }
  }