<div class="CDB-Text FormAccount-Section u-inner">
  <div class="SideMenu CDB-Text CDB-Size-medium js-SideMenu"></div>

  <div class="FormAccount-Content">
    <div class="FormAccount-title">
      <p class="FormAccount-titleText"><%= _t('profile.views.content.title') %></p>
    </div>

    <span class="FormAccount-separator"></span>
    
    <div class="js-ProfileContent"></div>
  </div>
</div>
