<div class="Dialog-header Dialog-header--expanded u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--positive">
    <i class="iconFont iconFont-Unlock"></i>
  </div>
  <p class="Dialog-headerTitle u-ellipsLongText">
    <%= itemName %> privacy
  </p>
  <p class="DefaultSecondary">
    Although we believe in the power of open data, you can also protect your <%= itemType %>.
  </p>
</div>
