<div class="Dialog-body u-inner">
  <div>
    <button class="js-back">
      <span>&lt;-</span>
    </button>
    Share with your <%= orgUsersCount %> <%= colleagueOrColleaguesStr %>
  </div>
  <div>
    Listing goes here
  </div>
</div>

<div class="Dialog-footer u-inner ChangePrivacy-footer">
  <div>
    Be open my friend
  </div>
  <div>
    <button class="Button Button--secondary Dialog-footerBtn cancel">
      <span>cancel</span>
    </button>
    <button class="js-save Button Button--positive">
      <span>Save settings</span>
    </button>
  </div>
</div>
