<div class="cartodb-popup header with-image v2" data-cover="true">
  <a href="#close" class="cartodb-popup-close-button close">x</a>
  <div class="cartodb-popup-header">
  <div class="cover">
      <div id="spinner"></div>
      <div class="image_not_found"> <i></i> <a href="#map" class="help">Non-valid picture URL</a></div>
      {{#content.fields}}
        {{#index}}
          {{#value}}
            <h1 class="order{{index}}">{{{ value }}}</h1>
          {{/value}}
          {{^value}}
            <h1 class="order{{index}}">null</h1>
          {{/value}}
        {{/index}}
        {{^index}}
          {{^value}}
            <h1 class="empty">null</h1>
          {{/value}}
          <span class="separator"></span>      
        {{/index}}
      {{/content.fields}}

      <div class="shadow"></div>
    </div>
  </div>

  <div class="cartodb-popup-content-wrapper">
    <div class="cartodb-popup-content">
      {{#content.fields}}
        <div class="order{{index}}">
            {{#index}}
              {{#title}}<h4>{{title}}</h4>{{/title}}
              {{#value}}
                <p>{{{ value }}}</p>
              {{/value}}
              {{^value}}
                <p class="empty">null</p>
              {{/value}}
            {{/index}}
        </div>
      {{/content.fields}}
    </div>
  </div>
  <div class="cartodb-popup-tip-container"></div>
</div>