<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>CartoDB - API endpoint</title>
    <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/front/error.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon/favicon_32x32.ico" />
  </head>
  <body>
    <div class="section endpoint">
      <h1>You are visiting CartoDB API endpoint</h1>
      <p>Maybe you don't want to be here, visit <a href="<%= APP_CONFIG[:developers_host] %>">documentation's page</a> or go back to <a href="<%= APP_CONFIG[:app_host] %>/dashboard">your dashboard</a></p>
    </div>
    <div class="footer">CartoDB is a product from <a href="http://www.vizzuality.com" target="_blank">vizzuality</a></div>
  </body>
</html>