<h3>Filters</h3>

<div class="main white-gradient-shadow top"></div>
<div class="content">

  <div class="chooser">
    <div class="no_filters"></div>
    <p>Start filtering your data by selecting a column to filter by</p>
  </div>
  <div class="scrollpane">
    <ul class="filters"></ul>
    <div class="add_filter">
      <a href="#" class="add">+</a>
      <div class="combo">
        <a href="#" class="remove"></a>
      </div>
    </div>
  </div>

</div>

<div class="main white-gradient-shadow bottom"></div>
