<h3>Filters</h3>

<div class="main white-gradient-shadow top"></div>
<div class="content">
  <div class="no_filters"></div>
  <div class="scrollpane">
    <ul class="filters"></ul>
    <a href="#" class="add_filter">+</a>
  </div>
</div>

<div class="main white-gradient-shadow bottom"></div>
