<div class="main white-gradient-shadow top"></div>
<div class="content">

  <div class="chooser">
    <div class="no_filters"></div>

    <div class="applied_query">
      <p>You have a query applied.</p>
      <p class="clear"><a href="#">Clear view</a> before adding a filter</p>
    </div>

    <p class="help">Start filtering your data by selecting a column to filter by</p>

  </div>
  <div class="scrollpane">
    <ul class="filters"></ul>
    <div class="add_filter">
      <a href="#" class="add">+</a>
      <div class="combo">
        <a href="#" class="remove"></a>
      </div>
    </div>
  </div>

</div>

<div class="main white-gradient-shadow bottom"></div>
