<a href="#remove" class="remove"></a>

<div class="header">
  <div class="title">
    <strong class="legend"><%= legend %>:</strong> <span class="range"></span>
  </div>
</div>

<div class="hist <%= cid %>"></div>
