<a href="#remove" class="remove"></a>

<div class="header">
  <div class="title">
    <strong class="legend"><%= legend %>:</strong> <span class="empty">This column is empty</span> <span class="only">This column has an unique value</span> <span class="range"></span>
  </div>
</div>

<div class="hist <%= cid %>"></div>
