<a href="#remove" class="remove"></a>

<div class="header">
  <div class="title">
    <strong class="legend"><%- legend %>:</strong>
    <div class="loading">Loading</div>
    <div class="empty">This column is empty</div>
    <div class="only">This column has one unique value</div>

    <div class="range-number">
        <input type="number" class="min" /> - <input type="number" class="max" />
        <br />
        <span class="subtext">Hit 'Enter' to save...</span>
    </div>
    <div class="range"></div>
  </div>
</div>

<div class="hist <%- cid %>"></div>
