<div class="header">
  <div class="title">
    <strong class="legend"><%= legend %></strong><span class="count"> - <%= count %> selected</span>
  </div>
  <a class="remove" href="#close"></a>
</div>

<div class="scroll">
  <ul class="items"></ul>
</div>
