<a class="remove" href="#close"></a>

<div class="header">

  <div class="title">
    <strong class="legend"><%= legend %></strong>

    <ul class="controllers<% if (reached_limit) { %> hidden<% } %>">
      <li>-</li>
      <li><a href="#" class="all">select all</a><a href="#" class="none">clear selection</a></li>
    </ul>

  </div>

</div>

<div class="fields">

  <div class="data">
    <div class="white-gradient-shadow top"></div>
    <div class="scroll">
      <ul class="items"></ul>
    </div>
    <div class="white-gradient-shadow bottom"></div>
  </div>

  <div class="textarea">
    <textarea name="query" placeholder="Start writing to search in this column"></textarea>
  </div>

  <div class="options">

    <div class="view_mode"<% if (reached_limit) { %> title="List view is disabled due to<br />the large amount of registers" <% } %>>
      <a href="#switch" class="switch enabled<% if (reached_limit) { %> disabled<% } %>"><span class="handle"></span></a> 
      <label>view as list</label>
    </div>

    <div class="scrollers">
      <a href="#" class="up disabled btn"></a>
      <a href="#" class="down btn"></a>
    </div>
  </div>

</div>
