<a class="remove" href="#close"></a>

<div class="header">

  <div class="title">
    <strong class="legend"><%= legend %></strong><span class="count"> - <%= count %> selected</span>
  </div>

  <ul class="controllers">
    <li>select</li>
    <li><a href="#" class="all btn">All</a><a href="#" class="none btn">None</a></li>
  </ul>

</div>

<div class="fields">

  <div class="data">
    <div class="white-gradient-shadow top"></div>
    <div class="scroll">
      <ul class="items"></ul>
    </div>
    <div class="white-gradient-shadow bottom"></div>
  </div>

  <div class="options">
    <div class="scrollers">
      <a href="#" class="up btn"></a>
      <a href="#" class="down btn"></a>
    </div>
  </div>

</div>
