<div class="ApiKeysCTA-container">
  <div class="u-flex u-justifySpace">
    <div class="ApiKeysCTA-leftBox">
      <p class="CDB-Text CDB-Size-large">Unlock the potential in your applications</p>
      <p class="CDB-Text CDB-Size-medium u-altTextColor u-tSpace--m">Create solutions using different add-ons and APIs.</p>
    </div>

    <div class="ApiKeysCTA-rightBox">
      <div class="u-flex u-justifySpace u-alignCenter">
        <div>
          <p class="CDB-Text CDB-Size-large">Engine</p>
          <p class="CDB-Text CDB-Size-medium u-altTextColor u-tSpace--m">Free for internal and non-commercial applications</p>
        </div>

        <a href="<%= current_user.upgrade_url(request.protocol) %>" class="CDB-Text CDB-Size-small is-semibold CDB-Button CDB-Button--primary u-upperCase">Discover</a>
      </div>

      <ul class="ApiKeysCTA-list CDB-Text CDB-Size-medium">
        <li class="ApiKeysCTA-listItem">
          <i class="ApiKeysCTA-listIcon CDB-IconFont CDB-IconFont-check Size-small u-rSpace--s"></i>
          <span>In the cloud or on-premises</span>
        </li>
        <li class="ApiKeysCTA-listItem">
          <i class="ApiKeysCTA-listIcon CDB-IconFont CDB-IconFont-check Size-small u-rSpace--s"></i>
          <span>Access to Enterprise BI connectors</span>
        </li>
        <li class="ApiKeysCTA-listItem">
          <i class="ApiKeysCTA-listIcon CDB-IconFont CDB-IconFont-check Size-small u-rSpace--s"></i>
          <span>Full API access</span>
        </li>
        <li class="ApiKeysCTA-listItem">
          <i class="ApiKeysCTA-listIcon CDB-IconFont CDB-IconFont-check Size-small u-rSpace--s"></i>
          <span>Pay-per-developer seat</span>
        </li>
      </ul>
    </div>
  </div>
</div>
