<div class="ApiKeysCTA-container">
  <div class="u-flex u-justifySpace">
    <div>
      <p class="CDB-Text CDB-Size-large">Your plan doesn't include API keys</p>
      <div class="u-flex u-justifySpace u-tSpace--m">
        <p class="CDB-Text CDB-Size-medium u-altTextColor">Upgrade your plan to start developing custom applications with our suite of frontend libraries and APIs, and integrating spatial data into your Python scripts. Learn more about
          <a href="https://carto.com/developers/fundamentals/authorization/" class="CDB-Text CDB-Size-medium" target="_blank" rel="noopener noreferrer">API keys</a>.
        </p>
        <div>
          <a href="<%= current_user.upgrade_url(request.protocol) %>" class="u-iblock CDB-Button CDB-Button--primary CDB-Text CDB-Size-medium is-semibold u-whiteSpace-nowrap">Upgrade now</a>
          </div>
        </div>
    </div>
  </div>
</div>
