  <div class="head">
    <h3>Your first CartoDB app?</h3>
  </div>
  <div class="content">
    <ul>
      <li>
        <label class="dark uppercase smaller strong">SIMPLE KEY</label>
        <p class="margin5">Use your API key with the SQL API and Maps API for full API access to your CartoDB tables. <%= link_to "Learn more", APP_CONFIG[:developers_host] + "/api/", :class => "underline" %>.</p>
      </li>
      <li class="margin35">
        <label class="dark uppercase smaller strong">OAUTH</label>
        <p class="margin5">For more information on OAuth in CartoDB, and on our preconfigured API client libraries, <%= link_to "take a look", APP_CONFIG[:developers_host], :class => "underline" %> at our developers page.</p>
      </li>
      <li class="margin35">
        <label class="dark uppercase smaller strong">GETTING STARTED?</label>
        <p class="margin5">Learn a <%= link_to "basic recipe", APP_CONFIG[:developers_host], :class => "underline" %> or take a look at how to use our API’s.</p>
      </li>
    </ul>
  </div>