<div class="banner">
  <div class="top_white_short"></div>
  <div class="middle_white_short">
    <h3>Your first CartoDB app?</h3>
    <p>Take a look at our documentation</p>
    <ul>
      <li><a href="<%= oauth_credentials_path %>">OAuth authentication</a></li>
      <li><a href="<%= jsonp_credentials_path %>">JSONP Authentication</a></li>
      <li><a href="<%= APP_CONFIG[:developers_host] %>">Activating your apps</a></li>
    </ul>
  </div>
  <div class="bottom_white_short"></div>
</div>