<div class="banner">
  <div class="top_white_short"></div>
  <div class="middle_white_short">
    <h3>Your first CartoDB app?</h3>
    <p>Take a look at our documentation</p>
    <ul>
      <li><a href="<%= APP_CONFIG[:developers_host] %>/api/">Take a look at our SQL API</a></li>
      <li><a href="<%= APP_CONFIG[:developers_host] %>/api/sql/getallrows.html">Learn a basic recipe</a></li>
      <li><a href="http://support.cartodb.com/">Need help? Go to support</a></li>
    </ul>
  </div>
  <div class="bottom_white_short"></div>
</div>