  <div class="head">
    <h3>Your first CartoDB app?</h3>
  </div>
  <div class="content">
    <ul>
      <li>
        <label class="dark uppercase smaller strong">SIMPLE KEY</label>
        <p class="margin5">Use the API key with the SQL and MAPS APIs for full access to your CartoDB tables. <%= link_to "Learn more", Cartodb.config[:developers_host] + "/documentation/apis-overview.html", :class => "underline" %>.</p>
      </li>
      <li class="margin35">
        <label class="dark uppercase smaller strong">OAUTH</label>
        <p class="margin5">For more information on OAuth in CartoDB, and on our preconfigured API client libraries, <%= link_to "take a look", Cartodb.config[:developers_host] + "/documentation/sql-api.html#authentication", :class => "underline" %> at our developers page.</p>
      </li>
      <li class="margin35">
        <label class="dark uppercase smaller strong">GETTING STARTED?</label>
        <p class="margin5">Learn a <%= link_to "basic recipe", Cartodb.config[:developers_host] + "/documentation/sql-api.html#sec-2", :class => "underline" %> or take a look at how to use our API’s.</p>
      </li>
    </ul>
  </div>