<div class="FormAccount-rowLabel">
  <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor js-iconMainLabel">Icons</label>
  <label class="CDB-Text CDB-Size-medium u-lSpace--xl js-viewAllIcons" style="display: none;"><a href="">View all icons</a></label>
  <label class="CDB-Text CDB-Size-small u-lSpace--xl u-altTextColor js-iconsInfo">These icons can be used as markers.</label>
  <label class="CDB-Text CDB-Size-small u-lSpace--xl u-altTextColor js-runningInfo"></label>
  <label class="CDB-Text CDB-Size-medium u-lSpace--xl js-selectAllIcons" style="display: none;"><a href="">Select all</a></label>
  <label class="CDB-Text CDB-Size-medium u-lSpace--xl js-deselectAllIcons" style="display: none;"><a href="">Deselect all</a></label>
  <label class="CDB-Text CDB-Size-medium u-lSpace--xl js-deleteIcons" style="display: none;"><a class="IconText is--critical" href="">Delete icons...</a></label>
</div>
<div class="FormAccount-rowData js-asset-icons">
  <ul class="IconList js-items">
    <li class="IconList-item IconList-item--small IconList-item--dashed js-addIcon">
      <div class="IconItem-icon js-asset">
        <svg width="11px" height="11px" viewBox="15 15 11 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <polygon id="Mas" stroke="none" fill="#1785FB" fill-rule="evenodd" points="15 20 15 21 20 21 20 26 21 26 21 21 26 21 26 20 21 20 21 15 20 15 20 20"></polygon>
        </svg>
      </div>
    </li>
  </ul>
</div>
<div class="FormAccount-rowData js-errorMessage" style="display: none;">
  <label class="CDB-Text CDB-Size-medium IconText is--critical"></label>
</div>
<input type="file" value="Choose icon" accept="image/jpeg,image/jpg,image/gif,image/png,image/svg+xml" id="iconfile" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px); opacity: 0;" multiple>
