body {background:url('/images/front/home/carto_bkg.jpg') repeat-x center 0;}
section {position:absolute; top:50%; left:50%; width:345px; height:250px; margin:-175px 0 0 -173px; z-index:10;}
section h1 {width:100%; padding:0; margin:0; font:normal 31px "Aller"; color:white; text-align:center; text-shadow:0 2px #222222;}
section p {width:100%; padding:0; margin:25px 0 0 0; text-shadow:0 -1px black; font:normal 17px "Helvetica",Arial; color:#6C7690; text-align:center;}
section p a {text-shadow:0 -1px black; font:normal 17px "Helvetica",Arial; color:#6C7690;}
section p a:hover {color:#bbbbbb;}
section div.no_table {width:345px; height:155px; margin:40px 0 0 0; background:url('/images/front/404/no_table.png') no-repeat 4px 0;}
footer {position:absolute; left:50%; bottom:15px; width:200px; margin:0 0 0 -100px; z-index:1; font:normal 13px "Helvetica", Arial; color:white; text-align:center;}
footer a {color:white;}
footer a:hover {color:white;}