body {background:url('/images/front/home/carto_bkg.jpg') repeat-x center 0;}
section {position:absolute; top:50%; left:50%; width:540px; height:250px; margin:-175px 0 0 -270px; z-index:10;}
section h1 {width:100%; padding:0; margin:0; font:normal 31px "Aller"; color:white; text-align:center; text-shadow:0 2px #222222;}
section p {width:100%; padding:0; margin:30px 0 0 0; text-shadow:0 -1px black; font:normal 17px "Helvetica",Arial; color:#6C7690; text-align:center;}
section div.browsers {width:400px; padding:30px 0 0 73px;}
section div.browsers a {float:left; width:84px; height:84px; margin:0 20px 0 0; text-indent:-9999px; background:url('/images/front/browsers/browsers.png') no-repeat 0 0;}
section div.browsers a.safari {background-position:-84px 0;}
section div.browsers a.safari:hover {background-position:-84px -84px;}
section div.browsers a.firefox {background-position:-168px 0;}
section div.browsers a.firefox:hover {background-position:-168px -84px;}
section div.browsers a.chrome {background-position:-252px 0; margin:0;}
section div.browsers a.chrome:hover {background-position:-252px -84px;}
section div.browsers a.ie {}
section div.browsers a.ie:hover {background-position:0 -84px;}
footer {position:absolute; left:50%; bottom:15px; width:200px; margin:0 0 0 -100px; z-index:1; font:normal 13px "Helvetica", Arial; color:white; text-align:center;}
footer a {color:white;}
footer a:hover {color:white;}