body {background:url('/images/front/home/carto_bkg_2.jpg') repeat-x center 0;}
section {position:absolute; top:50%; left:50%; width:450px; height:250px; margin:-175px 0 0 -225px; z-index:10;}
section h1 {width:100%; padding:0; margin:0; font:normal 31px "Aller"; color:white; text-align:center; text-shadow:0 2px #222222;}
section p {width:100%; padding:0; margin:25px 0 0 0; text-shadow:0 -1px black; font:normal 17px "Helvetica",Arial; color:#6C7690; text-align:center;}
section p a {text-shadow:0 -1px black; font:normal 17px "Helvetica",Arial; color:#6C7690;}
section p a:hover {color:#bbbbbb;}
section div.byebye {width:100%; height:155px; margin:40px 0 0 0; background:url('/images/front/byebye/illustration.png') no-repeat center center;}
footer {position:absolute; left:50%; bottom:15px; width:250px; margin:0 0 0 -125px; z-index:1; font:normal 13px "Helvetica", Arial; color:white; text-align:center;}
footer a {color:white;}
footer a:hover {color:white;}