body {background:url('/images/front/home/carto_bkg_2.jpg') repeat-x 0 0 #2D3452;}
section {position:absolute; top:50%; left:50%; width:500px; height:400px; margin:-250px 0 0 -250px; z-index:10;}
section h1 {width:100%; padding:0; margin:0; font:normal 41px "Aller"; color:white; text-align:center; text-shadow:0 1px #222222;}
section h1 span {}
section p {width:100%; padding:0; margin:20px 0 0 0; text-shadow:0 -1px black; font:normal 17px "Helvetica",Arial; color:#6C7690; text-align:center;}
section form {position:relative; margin:35px 0 0 74px; width:300px; height:224px; padding:24px 26px; border-radius:5px; -moz-box-shadow:0 0 10px 5px rgba(0,0,0,0.1); -webkit-box-shadow:0 0 10px 5px rgba(0,0,0,0.1); box-shadow:0 0 10px 5px rgba(0,0,0,0.1);
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius:5px;
  background-image:linear-gradient(-90deg, #F9FAFE, #D9DBE4);
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#F9FAFE), to(#D9DBE4));
  background-image:-moz-linear-gradient(-90deg, #F9FAFE, #D9DBE4);
  background-image: -o-linear-gradient(#F9FAFE,#D9DBE4); 
  background: #e7e7e7\9;
}
section form p {width:100%; padding:0 0 10px; margin:0; text-align:left; font:bold 17px "Aller"; color:#26324C; text-shadow:none;}
section form label {float:left; width:100%; padding:12px 0 0 0; font:normal 13px "Helvetica",Arial; color:#999999;}
section form input {width:300px; width:286px\9; height:36px; height:34px\9; margin:6px 0 0 0; padding:6px; padding:0 6px\9; font:normal 15px "Helvetica",Arial; color:#333333;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius:5px; border:1px solid #666666;
  -moz-box-shadow:0 1px 0 0 white; -webkit-box-shadow:0 1px 0 0 white; box-shadow:0 1px 0 0 white;
  background-image:linear-gradient(-90deg, #eeeeee, #ffffff);
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#eeeeee), to(#ffffff));
  background-image:-moz-linear-gradient(-90deg, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(#eeeeee,#ffffff); 
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee', endColorstr='#ffffff');
}
section form input:focus {outline:none; border-color:#333333;}
section form input.error {border-color:#C04E03;}
section form input.error:focus {border-color:#C04E03;}
section form input[type="submit"] {float:right; width:173px; height:36px; padding:0; margin:21px 0 0 0; font:bold 15px Arial; color:#305233; text-shadow:0 1px #A2D797;
  -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; border:1px solid #538C55;
  background:url('/images/front/home/button_border.png') no-repeat 0 -1px,linear-gradient(-90deg, #8FD484, #67BA6A); 
  background:url('/images/front/home/button_border.png') no-repeat 0 -1px,-webkit-gradient(linear, 50% 0%, 50% 100%, from(#8FD484), to(#67BA6A));
  background:url('/images/front/home/button_border.png') no-repeat 0 -1px,-moz-linear-gradient(-90deg, #8FD484, #67BA6A);
  background:url('/images/front/home/button_border.png') no-repeat 0 -1px, -o-linear-gradient(#8FD484,#67BA6A);
  background:url('/images/front/home/button_border.png') no-repeat 0 -1px #8FD484\9;
  filter:none;
}
section form input[type="submit"].login {width:82px;}
section form input[type="submit"]:hover {cursor:pointer;
  background:url('/images/front/home/button_border.png') no-repeat 0 -1px,linear-gradient(-90deg, #67BA6A, #8FD484); 
  background:url('/images/front/home/button_border.png') no-repeat 0 -1px,-webkit-gradient(linear, 50% 0%, 50% 100%, from(#67BA6A), to(#8FD484));
  background:url('/images/front/home/button_border.png') no-repeat 0 -1px,-moz-linear-gradient(-90deg, #67BA6A, #8FD484);
  background:url('/images/front/home/button_border.png') no-repeat 0 -1px, -o-linear-gradient(#67BA6A,#8FD484); 
  background:url('/images/front/home/button_border.png') no-repeat 0 -1px #67BA6A\9;
  filter:none;
}
section form input:-webkit-autofill {border:1px solid #666666;}
section form input.error:-webkit-autofill {border:1px solid #C04E03;}
section form div.error_content {position:absolute; z-index:10; right:22px; top:112px;}
section form div.error_content p {float:left; height:52px; padding:0 0 0 19px; background:url('/images/front/home/left_error.png') no-repeat 0 0;}
section form div.error_content p span {float:left; height:37px; padding:15px 19px 0 0; background:url('/images/front/home/right_error.png') no-repeat right 0; font:normal 11px "Helvetica",Arial; color:white; text-shadow:0 -1px #C55B14;}
footer {position:absolute; left:50%; bottom:15px; width:300px!important; padding:0; margin:0 0 0 -150px; z-index:1; font:normal 13px "Helvetica", Arial; color:white; text-align:center;}
footer a {color:white;}
footer a:hover {color:white;}