<span class="field"><%- title %></span> <% if (removable) { %><a href="#" class="remove"></a><% } %>

<div class="right">
  <% if (show_switch) { %>
  <a href="#title" class="checkbox small light title<% if (show_title){ %> enabled<% } %>"><span class="check"></span>show</a>
  <% } %>
  <div class="input"></div>
</div>
