<ul></ul>

<div class="no_content">
  Custom legends allow you to create a legend from scratch. Click on the plus icon below and start creating your legend.
</div>

<div class="footer">
  <a href="#" class="add">+</a>
</div>

