<div class="menu">
  <ul>
    <li class="editor"><a href="#/fields" title="Toggle fields and titles"></a></li>
    <li class="html_editor"><a href="#/html" title="Change HTML"></a></li>
  </ul>
  <div class="tip"></div>
</div>
<div class="pane"></div>
