<label><%- name %></label> 
<div class="right">

  <% if (show_switch) { %>
  <a href="#title" class="checkbox sync small light <% if (sync){ %> enabled<% } %>"><span class="check"></span>lock</a>
  <% } %>

  <div class="input"></div>
</div>
