<% var bbgProUI = $.inArray("bbg_pro_ui", user_data.feature_flags) !== -1; %>
<div class="panel_content">
  <div class="wrapper" <% if (!bbgProUI) { %>
       style="top:0px !important"
       <% } %>
       >
    <div class="content">
      <ul class="fields"
      <% if (!bbgProUI) { %>
        style="visibility:hidden"
      <% } %>
      ></ul>
      <div class="forms panel_content" 
       <% if (!bbgProUI) { %>
       style="top:0px !important"
       <% } %>
       ></div>
    </div>
    <div class="blocked">
      <span class="block-icon"></span>
      <p>Customizing the legend in this view will discard your HTML code.</p> 
      <a href="#/proceed" class="button grey reset">Proceed</a>
    </div>
  </div>
</div>
