<div class="header">
  <h3>Legends</h3>
  <div class="blocked"></div>
</div>
<div class="menu">
  <ul>
    <li class="editor"><a href="#/fields" data-tipsy="Toggle fields and titles"></a></li>
    <li class="html_editor"><a href="#/html" data-tipsy="Change HTML"></a></li>
  </ul>
  <div class="tip"></div>
</div>
<div class="pane"></div>
