<ul></ul>

<div class="no_content">
  <% if ($.inArray("bbg_pro_ui", user_data.feature_flags) === -1) { %>
    Legend is not available for this Design.
  <% } else { %>
    Enable your legend by selecting a template from the selector above.
  <% } %>
</div>

