@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";


$c: #649DD0;

.TwitterImportDetails {}
.TwitterImportDetails-header .Dialog-headerIcon {
  border-color: $c;
  color: $c;
}