<form class="Form js-form">
  <div class="Form-row u-alignCenter">
    <div class="Form-rowLabel">
      <label class="Form-label CDB-Text CDB-Size-medium u-mainTextColor">Enter a URL</label>
    </div>
    <div class="Form-rowData Form-rowData--longer">
      <input type="text" class="Form-input Form-input--longer has-submit js-textInput CDB-Text CDB-Size-medium" value="" placeholder="Paste here your Salesforce URL" />
      <button type="submit" class="CDB-Text CDB-Size-small u-upperCase u-actionTextColor Form-inputSubmit"><span>submit</span></button>
      <div class="Form-inputError CDB-Text u-flex u-alignCenter">Error. Your URL doesn’t look correct.</div>
    </div>
  </div>
</form>
