<div class="panel_content">
  <div class="wrapper">
    <div class="content">
      <ul class="fields"></ul> 
    </div>
    <div class="blocked">
      <p>You have a custom template applied.</p> 
      <p><a href="#" class="reset">Reset the template</a> to edit the infowindow.</p>
    </div>
  </div>
</div>
