<div class="cartodb-popup">
  <div class="cartodb-popup-content-wrapper">
    <div class="cartodb-popup-content">
      <%- content %>
    </div>
  </div>
  <div class="cartodb-popup-tip-container">
  </div>
</div>
