<div class="panel_content">
  <div class="wrapper">
    <div class="content">
      <ul class="fields"></ul> 
      <div class="all"> 
        <a href="#switch" class="right selectall switch enabled"> <span class="handle"></span> </a> <span class="label lighter right">all</span> 
      </div>
    </div>
    <div class="blocked">
      <span class="block-icon"></span>
      <p>Customizing the infowindow in this view will discard your HTML code.</p> 
      <a href="#/proceed" class="button grey reset">Proceed</a>
    </div>
    <div class="no_content">
      There are no valid columns on your table to select for your infowindow. Please add a new column or change your query.
    </div>
  </div>
</div>
