<div class="panel_content">
  <div class="wrapper">
    <div class="content">
      <ul class="fields"></ul> 
    </div>
    <div class="blocked">
      <p>You have a custom template applied.</p> 
      <p>You can <a href="#/reset" class="reset">reset your custom template</a> to edit the infowindow, but you will lose your changes.</p>
    </div>
  </div>
</div>
