<div class="cartodb-edit-buttons">
  <% if (cartodb_id) { %>
    <span class="cartodb_id"> <%- cartodb_id %> </span>
  <% } %>
  <div class="right">
    <a class="edit_data small grey button" href="#">edit data</a>
    <a class="edit_geo small grey button" href="#">edit geometry</a>
    <a class="remove small grey button" href="#">delete</a>
  </div>
</div>