<div class="panel_content">
  <div class="wrapper">
    <div class="content">
      <ul class="fields"></ul> 
    </div>
    <div class="blocked">
      <span class="block-icon"></span>
      <p>Customizing the infowindow in this view will discard your HTML code.</p> 
      <a href="#/proceed" class="button grey reset">Proceed</a>
    </div>
  </div>
</div>
