<i class="twitter-icon"></i>
<input type="text" class="long terms text" value="<%= terms.join(",") %>" placeholder="Insert your terms separated by commas"/>
<div class="counter">
  <span class="counter-label" title="Letters like ' ', '.', ':', '_' and '-' take 2 characters. Also each term occupies 4 characters. "><%= counter %></span>
</div>
<input type="text" class="short category text" value="<%= category %>" placeholder="Assign a category" readonly tabindex="-1" />