<div class="Dialog-contentWrapper">
  <% /* Note that some CSS class names are required by parent Dialog view, e.g. "close", "content", ... */ %>
  <a href="#close" class="Dialog-closeBtn close">
    <i class="iconFont iconFont-Close"></i>
  </a>
  <div class="Dialog-content content"></div>
</div>
