<div class="CDB-infowindow CDB-infowindow--light js-infowindow">
  <div class="CDB-infowindow-close js-close"></div>
  <div class="CDB-infowindow-container">
    <div class="CDB-infowindow-bg">
      <div class="CDB-infowindow-inner js-inner">
        {{#loading}}
          <div class="CDB-Loader js-loader is-visible"></div>
        {{/loading}}
        <ul class="CDB-infowindow-list js-content">
          {{#content.fields}}
          <li class="CDB-infowindow-listItem">
            {{#title}}<h5 class="CDB-infowindow-subtitle">{{title}}</h5>{{/title}}
            {{#value}}<h4 class="CDB-infowindow-title">{{{ value }}}</h4>{{/value}}
            {{^value}}<h4 class="CDB-infowindow-title">null</h4>{{/value}}
          </li>
          {{/content.fields}}
        </ul>
      </div>
    </div>
    <div class="CDB-hook">
      <div class="CDB-hook-inner"></div>
    </div>
  </div>
</div>
