// Custom infowindow styles
// ----------------------------------------------

.CDB-infowindow--custom .CDB-hook:before {
  border-top: 16px solid #FFF;
}

.CDB-infowindow--custom .CDB-infowindow-tabs:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

.CDB-infowindow--custom .CDB-infowindow-tabs,
.CDB-infowindow--custom .CDB-infowindow-tabs:before {
  background: rgba(0, 0, 0, 0.16);
}

.CDB-infowindow--custom .CDB-infowindow-tabsLinks {
  color: #FFF;
}

.CDB-infowindow--custom .CDB-infowindow-tabsLinks.is-active {
  border-bottom: 1px solid #2E3C43;
  color: #2E3C43;
}

.CDB-infowindow--custom .CDB-loading-title,
.CDB-infowindow--custom .CDB-loading-subtitle {
  background: #F9F9F9;
}
