/**
 *  CartoDB infowindow custom styles
 */


.CDB-infowindow--custom {
  .CDB-hook:before {
    border-top: 16px solid #FFF;
  }
  .CDB-infowindow-tabs:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: r
    gba(0, 0, 0, 0.16);
    content: '';
  }
  .CDB-infowindow-tabsLinks {
    color: #FFF;
    &.is-active {
      border-bottom: 1px solid #2E3C43;
      color: #2E3C43;
    }
  }
  .CDB-loading-subtitle {
    background: #F9F9F9;
  }
  .CDB-loading-title {
    background: #F9F9F9;
  }
}