<% if cookies[:flash] || flash[:success] %>
<div class="notification section">
  <div class="top_white"></div>
    <div class="middle_white">
      <a class="close" href="#close_notification">close</a>
      <p><%= cookies[:flash] || flash[:success] %></p>
    </div>
  <div class="bottom_white"></div>
</div>
<% end %>