<% if cookies[:flash] || flash[:success] || flash[:error] %>
  <li class="flash <%= 'success' if (flash[:success]) %><%= 'error' if flash[:error] %>">
		<p class="dark"><%= cookies[:flash] || flash[:success] || flash[:error] %></p>
		<a class="smaller close" href="#close">x</a>
	</li>
<% end %>
