<span class="js-Loading-anim" style="display: none;">
  <span class="Loading-item">
    <span class="Loading-itemInner Loading-itemInner--01"></span>
  </span>

  <span class="Loading-item">
    <span class="Loading-itemInner Loading-itemInner--02"></span>
  </span>

  <span class="Loading-item">
    <span class="Loading-itemInner Loading-itemInner--03"></span>
  </span>
</span>