
  /*
   *  Table item styles within dashboard
   */

  @import "../../common/vars";
  @import "../../common/mixins";
  @import "compass/css3/border-radius";
  @import "compass/css3/transform";
  @import "compass/css3/inline-block";
  @import "../dashboard/dashboard-sprite";


  .table-item {
    display:block;
    padding:0 22px;
    border:1px solid transparent;
    @include border-radius(4px);
  }

  .table-item-inner {
    @include display-flex();
    @include justify-content(space-between, justify);
    overflow:hidden;
    padding:21px 0 22px;
    border-top:1px solid rgba(#CCCCCC, 0.5);
  }



  // Info, tags, syncing status,...  
  .table-info {
    width:40%;

    .table-list-info {
      display:block;
      line-height:20px;

      ul {
        @include display-flex();
        @include justify-content(flex-end, end);
        @include align-items(center, center);
        height:20px;
      }

      li {
        position:relative;
        @include display-flex();
        @include justify-content(flex-end, end);
        @include align-items(center, center);
        width:auto;
        padding:0 7px 0 5px;
        font:300 11px $text-fonts2;
        color:#878787;

        // Separator :)
        span.dot-separator {
          position:absolute;
          top:50%;
          right:0;
          width:2px;
          height:2px;
          margin:-1px 0 0;
          background: #999999;
          @include border-radius(2px);
        }

        // Table order text hidden by default
        &.table-order { display:none }

        // First item
        &:last-child {
          padding-right:0;
          span.dot-separator { display:none }
        }
      }

      .LikeButton {
        line-height:.0;
      }
      .LikeButton .LikeButton-icon {
        margin: 0 0 0 0;
      }
    }

    // Synchronization
    .table-sync {
      margin-top:1px;
      
      span {
        color: #E7BF5B;
        text-transform: lowercase;
        border-bottom:1px dotted #E7BF5B;

        &.feed {
          @include display-flex();
          @include align-items(center, center);
          @include cross-browser(flex-wrap, wrap);
        }

        &.failure {
          color: #FF7272;
          border-bottom-color: #FF7272;
        }
      }

      i {
        display:inline;
        @include size(8px);
        margin-right:5px;
        line-height:14px;
        @include dashboard-sprite(feed);

        &.failure {
          @include dashboard-sprite(feed_error);
        }
      }
    }

    // Table kind
    .table-kind {
      text-transform: capitalize;
    }

    // Table sharing
    .table-shared {
      @include display-flex();
      @include justify-content(flex-end, end);
      @include align-items(inherit, inherit);

      .round,
      img.avatar { margin-right:5px }
    }

    // Tags
    .table-tags {
      @include justify-content(flex-end, end);
      @include align-items(center, center);

      a { margin-left:3px }
    }
  }


  // Title and description
  .table-desc {
    width:60%;

    // Title
    h3 {
      @include inline-block();
      width:auto;
      max-width:76%;
      margin-right:10px;
    }

    .table-title > a {
      text-decoration: none;
    }

    // Description
    p { @include text-overflow() }
  }

  
  // Hover effect with table-item border
  .table-item {
    &:last-child {}
    &:first-child .table-item-inner {
      border-color:transparent;
    }

    &:hover {
      border-color:#D7D7D7;
      cursor: pointer;
      background:white;

      .table-item-inner {
        .table-info { width:50% }
        .table-desc { width:50% }

        // Shared type
        &.shared {
          .table-info { width:55% }
          .table-desc { width:45% }
        }

        // Raster type
        &.raster { cursor:default }
      }

      & + .table-item {
        .table-item-inner { border-color:transparent }
      }

      .table-info li.table-order { display:inline-block; }
      .table-item-inner { border-color: transparent }
    }
  }


  // If table item is shared
  .table-item-inner.shared {
    .table-info { width:40% }
    .table-desc { width:60% }
  }
