
  /*
   *  Table list styles within dashboard
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/transform";
    @import "../common/mixins";

  section.tables {
    @include inline-block();
    width: 928px;
    letter-spacing:0px;

    // Tables list
    div.content {
      padding:0;

      #tablelist { margin-top:10px }

      &.hidden { display: none; }
    }
  }


  // div.loader {
  //   position:absolute;
  //   display:block!important;
  //   top:0;
  //   left:0;
  //   width:100%;
  //   right:0;
  //   height:3px;
  //   background:transparent;
  //   overflow:hidden;
  // }

  // div.loader:before {
  //   content:'';
  //   position:absolute;
  //   top:0;
  //   left:0;
  //   width:100%;
  //   right:0;
  //   height:2px;
  //   background: #82ABDA;
  //   @include animation(pulsate 1.5s linear infinite);      
  // }


  // //     // Animation function
  // @include keyframes(pulsate) {
  //   0% {@include transform(translate(-100%,0%));}
  //   50% {@include transform(translate(0%,0%));}
  //   100% {@include transform(translate(100%,0%));}
  // }


  // // Tables loader :)
  //   div.loader {
  //     position:absolute;
  //     display:block!important;
  //     top:0;
  //     left:0;
  //     width:100%;
  //     right:0;
  //     height:5px;
  //     background: -webkit-gradient(radial, center center, 0, center center, 800, from(#6698D2), to(transparent));
  //     @include animation(pulsate 1.5s ease-out infinite);
  //   }


  // //     // Animation function
  // @include keyframes(pulsate) {
  //   0% {@include transform(scale(0.1, 0.1)); opacity: 0.0;}
  //   50% {opacity: 1.0;}
  //   100% {@include transform(scale(0.3, 0.1)); opacity: 0.0;}
  // }