
  /*
   *  Table item styles within dashboard
   */

  @import "../../common/vars";
  @import "../../common/mixins";
  @import "compass/css3/border-radius";
  @import "compass/css3/transform";
  @import "compass/css3/inline-block";
  @import "../dashboard/dashboard-sprite";


  .table-item {
    display:block;
    padding:0 22px;
    border:1px solid transparent;
    @include border-radius(4px);
  }

  .table-item-inner {
    display:block;
    overflow:hidden;
    padding:21px 0 22px;
    border-top:1px solid rgba(#CCCCCC, 0.5);
  }

  .table-desc,
  .table-info {
    @include inline-block();
    vertical-align: top;
  }



  // Info, tags, syncing status,...  
  .table-info {
    float:right;
    width:45%;
    text-align: right;

    .table-list-info {
      display:block;
      line-height:20px;

      li {
        position:relative;
        @include inline-block();
        width:auto;
        padding:0 13px 0 0;
        font:300 11px $text-fonts2;
        color:#878787;

        // Separator :)
        &:before {
          content: '';
          position:absolute;
          right:4px;
          top:4px;
          width:2px;
          height:2px;
          background: #999999;
          @include border-radius(2px);
        }

        // Table order text hidden by default
        &.table-order { display:none }

        // First item
        &:last-child {
          padding:0;
          &:before { display:none }
        }
      }
    }

    // Synchronization
    .table-sync {
      
      span {
        color: #E7BF5B;
        border-bottom:1px dotted #E7BF5B;

        &.failure {
          color: #FF7272;
          border-bottom-color: #FF7272;
        }
      }

      i {
        @include inline-block();
        vertical-align:top;
        @include size(8px);
        margin-right:2px;
        line-height:14px;
        @include dashboard-sprite(feed);

        &.failure {
          @include dashboard-sprite(feed_error);
        }
      }
    }

    // Tags
    .table-tags {
      display:block;
      margin-top:4px;
      
      a {
        @include inline-block();
        @include size(auto, 13px);
        padding:2px 7px;
        margin-left:1px;
        font:normal 11px $text-fonts2;
        color:#666666;
        line-height:14px;
        background:#E1ECF5;
        @include border-radius(2px);
        border:1px solid #C7D1D9;

        &:hover { color:#333333; }
      }
    }
  }


  // Title and description
  .table-desc {
    float:left;
    width:55%;

    // Title
    h3 {
      @include inline-block();
      width:auto;
      max-width:88%;
      margin-right:10px;
      font-size:17px;
      @include text-overflow();
      color:#2483B4;

      a {
        font:bold 17px $title-fonts;
        @include transform-style("linear");
        @include transition-property("color");
        @include transition-duration(250ms);
      }
    }

    // Delete icon
    i.delete {
      position:relative;
      display:none;
      width:20px;
      height:20px;
      @include border-radius(3px);
      background:#E7E7E7;
      
      &:before, &:after {
        content:'';
        position:absolute;
        width:2px;
        height:8px;
        background:#888888;
        @include border-radius(2px);
        top:6px;
        left:9px;
      }

      &:before { @include transform(rotate(45deg)) }
      &:after { @include transform(rotate(-45deg)) }

      &:hover { background:#DEDEDE }
    }


    // Description
    p {
      margin-top:5px;
      display:block;
      color:#888;
      font-size:13px;
    }
  }

  
  // Hover effect with table-item border
  .table-item {
    &:last-child {}
    &:first-child .table-item-inner {
      border-color:transparent;
    }

    &:hover {
      border-color:#D7D7D7;
      cursor: pointer;
      background:white;

      & + .table-item {
        .table-item-inner { border-color:transparent }
      }

      h3 {
        color:black;
        a {
          color:black;
          text-decoration:none;
        }
      }

      i.delete { @include inline-block() }
      .table-info li.table-order { @include inline-block() }
      .table-item-inner { border-color: transparent }
    }
  }