<ul class="create-tabs-navigation">
  <li><a class="popular selected" href="#/popular">Popular</a></li>
  <li><span>/</span></li>
  <li><a class="other" href="#/other">Other</a></li>
</ul>

<div class="create-tabs-wrapper">
  <ul class="create-tabs">
    <div class="popular"></div>
    <div class="other"></div>
  </ul>
</div>

<div class="create-content">
  <div class="create-panes"></div>

  <div class="create-progress">
    <div class="progress-bar">
      <span class="progress-total"></span>
    </div>
    <div class="progress-text">
      <p class="message">Uploading your data</p>
      <span class="progress-stop">
        (<a href="#/stop-process" class="stop">stop</a>)
      </span>
    </div>
  </div>
</div>