<div class="create-dialog-progress">
  <div class="progress-bar">
    <span class="progress-total"></span>
  </div>
  <p class="message">Uploading your data - <a href="#/stop-process" class="stop">stop</a></p>
</div>