<div class="Editor">
  <div class="Editor-wrapper">
    <div class="Editor-menu"></div>
    <div class="Editor-panel js-panel"></div>
  </div>
  <div id="dashboard"></div>
</div>

<script>
  var mapId = '<%= @visualization.map.id %>';
  var vizJSON = <%= safe_js_object @vizjson.to_hash.to_json %>;
  var userData = <%= safe_js_object current_user.data({ show_api_calls: false }).to_json %>;
</script>
<%= javascript_include_tag 'editor3.js' %>
