<ul>
  
    <li class=""><a class="small export_table" href="#/export">Export...</a></li>
    
      <li class="">
        <a class="small georeference" href="#/georeference">
          Georeference
          <div class="progress-bar">
            <div class="bar-2"></div>
          </div>
        </a>
      </li>
      <li><a class="small duplicate_table" href="#/duplicate">Duplicate table...</a></li>
      <li><a class="small merge_tables" href="#/merge-tables">Merge tables...</a></li>
      
      <li class="disabled"><a class="small">Change privacy...</a></li>
      
    
    <li class="disabled"><a class="small append">Append data...</a></li>
    
    <li><a class="small delete_table red" href="#/delete">Delete this table...</a></li>
  
</ul>
</div>
