<div class="content">
  <div class="title<%= show_title ? '' : ' hidden' %>"><%= title %></div>
  <div class="description<%= show_description ? '' : ' hidden' %>"><%= description %></div>
  <a href="#" class="close">x</a>
</div>
