<div>
  <label class="strong small">
    <a class="coloptions" href="">
      <%= col_name %>
      <% if (col_type == 'geometry') { %>
        <span class="tiny geo">GEO</span>
      <% } %>
    </a>
  </label>
  <p class="margin5 small"><a href=""><%= col_type %></a></p>
</div>