<div>
  <div class="js-no-selected-users">
    Select users and add them to this group
  </div>
  <button class="Button Button--main js-add-selected-users" style="display: none;">
    <span></span>
  </button>
  <ul class="OrganizationList js-users"></ul>
  <div class="OrganizationList-paginator js-pagination"></div>
</div>
