<div>
  <a href="<%- backHref %>" class="js-back">back</a>
  <div>Group name</div>
  <div>
    <input type="text" class="js-name" placeholder="Enter a name of group" />
  </div>
  <button class="Button Button--main is-disabled js-create">
    <span>Create group</span>
  </button>
</div>
