<div>
  <div>Group name</div>
  <div>
    <input type="text" class="js-name" value="<%- displayName %>" placeholder="Enter a name of group" />
  </div>
  <button class="Button--link js-delete">Delete this group</button>
  <button class="Button Button--main is-disabled js-save">
    <span>Save changes</span>
  </button>
</div>
