<ul>
  <li>
    <a href="#" class="radiobutton selected small visible" data-transition="click"><span class="radio"></span>on click</a>
  </li>
  <li class="seconds">
    <a href="#" class="radiobutton small visible" data-transition="time"><span class="radio"></span>seconds</a>
    <div class="form"></div>
  </li>
</ul>
