<ul>
  <li>
    <a href="#" title="test" class="radiobutton small visible" data-transition="click"><span class="radio"></span>on click</a>
  </li>
  <li class="seconds">
    <a href="#" title="test" class="radiobutton small visible" data-transition="time"><span class="radio"></span>time</a>
    <div class="form"></div>
  </li>
</ul>
