// Dashboard canvas
// --------------------------------------------------

.CDB-Dashboard-canvas {
  display: flex;
  position: relative;
  box-sizing: border-box; // to avoid height to overflow the 100% due to the extra padding
  justify-content: space-between;
  width: 100%;
  height: 100%; // fill content to the visible viewport, but add scroll for overflowing inline content (e.g. widgets)
  padding: 16px; // padding is necessary for the background below to be used (otherwise would use the container's bg)
  background: #F2F6F9; // Canvas is out of widget themes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.CDB-Dashboard-mapWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.CDB-Map-canvas {
  position: relative;
  flex-grow: 1;
}

.CDB-Map {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-radius: 4px;
}

.CDB-Dashboard-belowMap {
  margin-top: 8px;
}

@media (min-width: 1200px) {
  .CDB-Dashboard-mapWrapper--withMenu {
    margin-left: 56px;
  }
}

@media (max-width: 1200px) {
  .CDB-Dashboard-canvas {
    padding: 8px;
  }
}

@media (max-width: 759px) {
  body {
    position: fixed !important;
    width: 100%;
    overflow: hidden; // Avoid scroll in small screens
  }

  .CDB-Dashboard-canvas {
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    margin: $halfBaseSize;
    padding: 0;
    overflow: hidden;
    border-radius: $halfBaseSize;
    box-shadow: 0 2px 4px 0 rgba($cMainBg, 0.12);
  }

  .CDB-Dashboard-canvas::after {
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba($cMainBg, 0.16);
    border-radius: $halfBaseSize;
    pointer-events: none;
  }

  .CDB-Dashboard-mapWrapper--withMenu {
    order: 1;
    margin-left: 0;
  }

  .CDB-Dashboard-belowMap {
    margin-top: 2px;
  }

  .CDB-Map {
    border-radius: 0;
    border-top-left-radius: $halfBaseSize;
    border-top-right-radius: $halfBaseSize;
  }
}

@media (max-width: 758px) {
  .CDB-Dashboard-canvas,
  .CDB-Map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .CDB-Dashboard-canvas::after {
    border-radius: 0;
  }
}
