$sEmbedTabs: 1rem;
$cEmbedTabs-Primary: #FFF;
$cEmbedTabs-Secondary: #DDD;
$cEmbedTabs-Shadow: rgba(#828282, 0.3);

.CDB-Embed-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.CDB-Embed-header {
  padding: $sEmbedTabs;
  border-bottom: 1px solid $cEmbedTabs-Secondary;
  background: $cEmbedTabs-Primary;

  h1 {
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.CDB-Embed-content {
  flex: 1;
}

.CDB-NavMenu-inner {
  margin: 0;
  padding: $sEmbedTabs $sEmbedTabs 0;
}

.CDB-Embed-tab {
  display: flex;

  &:not(.is-active) {
    display: none;
  }

  &.is-active {
    display: flex;
  }
}

.CDB-Embed-tabs {
  box-sizing: border-box;
  width: 100%;
  background-color: $cEmbedTabs-Primary;
  box-shadow: 0 5px $sEmbedTabs $cEmbedTabs-Shadow;

  .CDB-NavMenu-inner {
    border: none;
  }
}

.CDB-Embed-legends {
  height: 100%;
}

@media (min-width: $sMedia-min-w-vertical) {
  .CDB-Embed-header,
  .CDB-Embed-tabs,
  .CDB-Embed-legends {
    display: none;
  }
}

@media (max-width: $sMedia-max-w-vertical) {
  .CDB-Embed-tab {
    display: flex;
    width: 100%;
    overflow-x: hidden;
  }
}
