<div class="panel_content">
  <div class="wrapper">
    <div class="content">
      <textarea></textarea>
    </div>
  </div>
</div>
<div class="actions">
  <button class="right small grey apply">Apply</button>
</div>
<div class="info"></div>