<% content_for :head do %>
  <%= stylesheet_link_tag('reset', 'front/limitations') %>
<% end %>
    <section>
        <h1><strong>*limits?</strong> Just common sense</h1>
      <p>We are still thinking about the free service limitations, but we have one thing pretty clear: <strong>Storaging open data will be always free until you need an extraordinary use of our servers.</strong></p>
    </section>
    <footer>CartoDB is a product from <a href="http://www.vizzuality.com" target="_blank">vizzuality</a></footer>