<% content_for :head do %>
  <%= stylesheet_link_tag('reset', 'front/limitations') %>
<% end %>

<section>
  <h1><strong>*limits?</strong> Just common sense</h1>
  <p>We are still thinking about our free service limits, but we have one thing decided: <strong>Use for Open Data will always be free.</strong></p>
</section>

<footer>
	<%= render :partial => 'footer' %>
</footer>