@import "../old_common/mixins";
@import "../variables/mixins";

// Data Library Header
// --------------------------------------------------

.DataLibraryMap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.DataLibraryMap,
.DataLibraryMap .leaflet-zoom-animated {
  background: #2E3C43 !important;
}
// .DataLibrary-header {
//   pointer-events: none;

//   &.is-active {
//     pointer-events: auto;
//   }
// }

