@import '../variables/mixins';

// Public data dashboard content
// --------------------------------------------------

.DataLibrary {
  position: relative;
  min-height: 600px;
  margin: 0 auto;
  padding-top: 81px;
}
.DataLibrary-inner {
  margin-bottom: 120px;
}
.DataLibrary-columns * {
  @include css3-prefix(box-sizing, border-box);
}
.DataLibrary-text {
  color: #333;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
}
.DataLibrary-text--column {
  color: #797F8A;
  font-size: 18px;
}
.Filters.Filters-datalibrary .Filters-orderItem:last-child {
  margin-right: 0;
}
