// Header
// --------------------------------------------------

.Header {
  background: url('/img/header-bg.png') center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.Header-inner {
  width: 400px;
}

.Header-title {
  position: relative;
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 40px;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin-left: -36px;
    width: 72px;
    height: 1px;
    background: rgba(#fff, .5);
  }

  strong {
    font-weight: 700;
  }
}

.Header-description {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 22px;
}


// TabPanes
// --------------------------------------------------

.TabPanes {
  margin: 20px 0 40px;
}


// Tabs
// --------------------------------------------------

.Tabs {
  margin-bottom: 5px;
}

.Tab {
  margin-left: 5px;

  &:first-child {
    margin-left: 0;
  }

  &.is-selected,
  &:hover {
    .Tab-link {
      background: #666;
      color: #fff;
      text-decoration: none;
    }
  }
}

.Tab-link {
  display: block;
  padding: 0 10px;
  border: 1px solid #666;
  font: 13px/23px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  text-decoration: none;
  border-radius: 2px;
  transition: all .15s;
}


// Panes
// --------------------------------------------------

.CodeMirror {
  height: auto !important;
  font: 13px Consolas, Menlo, Courier, monospace;
  padding: 2px;
  margin: 0;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  color: #666;
  border-radius: 4px;
}

pre {
  overflow: auto;
  line-height: 19px;
  margin-bottom: 24px;
  padding: 18px;
}


// Examples
// --------------------------------------------------

.Examples {
  margin-left: -10px;
  margin-right: -10px;
}

.Example {
  width: 300px;
}

.Example-inner {
  display: block;
  overflow: hidden;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(#000, .15);
  transition: all .15s;

  &:hover {
    text-decoration: none;
    box-shadow: 0 0 8px rgba(#000, .2);
  }
}

.Example-content {
  border-top: 1px solid rgba(#000, .15);
  padding: 10px 20px 20px;
}

.Example-img {
  display: block;
  border-radius: 4px 4px 0 0;
}

.Example-title {
  width: 50%;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.4;
  color: #111;
}

.Example-description {
  font-size: 13px;
  line-height: 1.4;
  color: #999;
}

.Example-type {
  display: inline-block;
  float: right;
  max-width: 50%;
  padding: 0 10px;
  font-size: 11px;
  line-height: 22px;
  background: #999;
  color: #fff;
  border-radius: 12px;
  text-transform: uppercase;
}


// Components
// --------------------------------------------------

.Components {
  padding-left: 82px;
}

.Component-item {
  float: left;
  margin-left: -82px;
}
