<div class="CreateDialog-footerShadow"></div>
<div class="CreateDialog-footerLine"></div>
<div class="CreateDialog-footerInner ">
  <div class="CreateDialog-footerInfo">
    <% if (listing === 'datasets') { %>
      <i class="iconFont iconFont-Info CreateDialog-footerInfoIcon"></i> Once you click on an item it will be added as a new layer directly
    <% } %>
  </div>
  <div class="CreateDialog-footerActions">
    <% if (listing === 'import') { %>
      <button class="js-ok Button Button--positive">
        <span>Add layer</span>
      </button>
    <% } %>
  </div>
</div>
