
  /**
   *  All tags dialog
   */

  @import "compass/css3/inline-block";

  .all_tags .modal div.content {
    overflow:auto;
    max-height:250px;
    
    ul {
      display:block;
      width:100%;
      letter-spacing: -4px;
      word-spacing: -4px;

      li {
        @include inline-block();
        vertical-align: top;
        width:190px;
        margin:0 10px 0 0;
        padding:9px 0;
        letter-spacing: 0px;
        word-spacing: 0px;

        a {
          display:block;
          width:100%;
          color:#666666;
          font-size:15px;
          &.dark {color:#333333;}
        }
      }
    }
  }