/*
 * Awesomico loader after uploading a table
 */

@import "compass/css3/background-size";
@import "../old_elements/elements-sprite";
@import "../old_common/mixins";

.background_importer{
  position: fixed;
  z-index: 100;
  background: white;
  bottom: -100px;
  left: 20px;
  padding: 8px 12px 8px 8px;
  border: solid 1px #CCC;
  @include border-radius(5px);
  @include box-shadow(rgba(black, 0.2) 0 0 5px);

  span{
    font-size: 15px;
    color: #333;
    letter-spacing: 0px;
    margin: 0 7px 0 0;

    &.tip {
      color: #999;
      margin: 0 0 0 7px;
    }

    &.ok{
      padding: 0 0 0 22px;
      @include elements-sprite(background_loader_ok);
      margin:0;
    }

    &.error{
      padding: 0 0 0 22px;
      @include elements-sprite(background_loader_error);
      margin:0;
      color:#EB2466;

      a {
        color:#EB2466;
        text-decoration:underline;
        &:hover {color:#C61D54;}
      }
    }

  }

  .mini-bar {
    position:relative;
    top: 1px;
    @include size(120px, 10px);
    @include border-radius(2px);

    background: transparent;
    display:inline-block;

    span {
      display:block;
      @include size(100%);
      @include box-sizing(border-box);
      @include background-size(20px 20px);
      @include border-radius(2px);

      background-color:#5DA1D6;
      background-image:-webkit-linear-gradient( -45deg, rgba(85, 128, 197, 1) 25%, transparent 25%, transparent 50%, rgba(85, 128, 197, 1) 50%, rgba(85, 128, 197, 1) 75%, transparent 75%, transparent);
      background-image:-moz-linear-gradient( -45deg, rgba(85, 128, 197, 1) 25%, transparent 25%, transparent 50%, rgba(85, 128, 197, 1) 50%, rgba(85, 128, 197, 1) 75%, transparent 75%, transparent);
      background-image:-ms-linear-gradient( -45deg, rgba(85, 128, 197, 1) 25%, transparent 25%, transparent 50%, rgba(85, 128, 197, 1) 50%, rgba(85, 128, 197, 1) 75%, transparent 75%, transparent);
      background-image:linear-gradient( -45de rgba(85, 128, 197, 1) 25%, transparent 25%, transparent 50%, rgba(85, 128, 197, 1) 50%, rgba(85, 128, 197, 1) 75%, transparent 75%, transparent);

      -webkit-animation:move 1s linear infinite;
      -moz-animation:move 1s linear infinite;
      -ms-animation:move 1s linear infinite;
      animation:move 1s linear infinite;
      overflow: hidden;
    }
  }
}

@-webkit-keyframes move{
  0% {background-position: 0 0;}
  100% {background-position: 20px 20px;}
}
@-moz-keyframes move{
  0% {background-position: 0 0;}
  100% {background-position: 20px 20px;}
}
@-ms-keyframes move{
  0% {background-position: 0 0;}
  100% {background-position: 20px 20px;}
}
@keyframes move{
  0% {background-position: 0 0;}
  100% {background-position: 20px 20px;}
}
