
  /**
   *  Common users list styles
   *  - Showing:
   *  
   *    · Avatar
   *    · Username
   *    · Other info (visualizations, description, etc)
   *
   */

  @import "compass/css3/border-radius";
  @import "compass/css3/images";
  @import "../old_common/mixins";


  .common-users-list {

    div.list-wrapper {
      position:relative;
      display:block;
    }
    
    ul {
      display:block;
      max-height:170px;
      overflow-x:hidden;
      overflow-y:auto;
      margin-top:20px;
      
      li {
        @include display-flex();
        @include justify-content(space-between, justify);
        @include align-items(center, center);
        padding:14px 0;
      }

      div.info {
        @include display-flex();
        @include justify-content(flex-start, start);
        @include align-items(center, center);
      }

      div.visualizations {
        max-width:48%
      }

      img {
        width:18px;
        height:18px;
        margin-right:9px;
        @include border-radius(18px);
      }

      h5 {
        font-weight:normal;
        color:#666666;
      }
      
    }

    // Gradients for scroll purposes
    .scroll {
      position:absolute;
      left:0;
      right:5px;
      width:100%;
      height:10px;
      padding:0;
      margin:0;
      @include border-radius(0);
      z-index:10;
      pointer-events:none;

      &.top {
        top:0;
        @include background(linear-gradient(white, rgba(white,0)));
      }
      &.bottom {
        bottom:0px;
        @include background(linear-gradient(rgba(white,0),white));
      }
    }
    
  }