
  /*
   * Custom objects
   * - Horizontal slider
   * - Form color
   * - Form spinner
   * - Custom radiobutton
   * - Custom checkbox
   * - iPhone style switch
   * - Rounded white button
   */


  @import "compass/css3/inline-block";
  @import "compass/css3/images";
  @import "compass/css3/opacity";
  @import "compass/css3/transform";
  @import "../old_common/mixins";
  @import "../old_common/vars";
  @import "../old_elements/elements-sprite";
  @import "../variables/colors";

  // HORIZONTAL SLIDER (SPINNER)

  /*
    <div class="dropdown spinner_slider">
      <div class="slider horizontal"></div>
    </div>
  */

  .dropdown.spinner_slider {
    border:1px solid #999999;
    padding-top:10px;
    padding-bottom:10px;
    height:81px;

    // Stop adding tick arrow
    // Overriding default dropdown before&after values
    &:after,
    &.border:after,
    &:before { display: none!important }

    &.vertical_top {
      &:before {left:7px;}
      &:after {left:7px;}
    }

    .ui-slider-vertical {
      position:absolute;
      top:10px;
      left:11px;
      width:4px;
      height:81px;
      @include border-radius(10px);
      background:#E5E5E5;

      .ui-slider-handle {
        position: absolute;
        outline:none;
        width:8px;
        height:8px;
        left: 2px;
        margin-left: -5px;
        margin-bottom: -5px;
        background:#397DBA;
        border:1px solid #255078;
        z-index: 2;
        border-radius: 10px;

        &.ui-state-active,
        &.ui-state-focus,
        &.ui-state-hover {@include box-shadow(rgba(0,0,0,0.15) 0 0 3px 3px)}
      }
    }

    .ui-slider-vertical .ui-slider-handle {}
    .ui-slider-vertical .ui-slider-range {left: 0; width: 100%;}
    .ui-slider-vertical .ui-slider-range-min {bottom: 0;}
    .ui-slider-vertical .ui-slider-range-max {top: 0;}
  }



  // FORM COLOR

  /*
    <div class="form_color">
      <span class="color" style="background-color: rgb(0, 255, 0); "></span>
      <a href="#choose_color" class="picker">+</a>
    </div>
  */

  .form_color {
    position:relative;
    @include inline-block();
    width:44px;
    height:21px;

    $rad: 2px;

    a {
      position:absolute;
      top:0;
      bottom:0;
      height:19px;
      width:21px;

      .handle {
        position:absolute;
        top:7px; left:6px;
        height:8px;
        width:8px;

        b { position:absolute }
      }
    }


    // Image picker
    a.image-picker {
      left:0;
      height:19px;
      width:22px;
      background-color: $Amber1;
      border:1px solid $Black;
      border-right:0;
      @include border-left-radius(2px);

      span.handle {
        top:5px;
        left:4px;
        width:14px;
        height:8px;
        @include elements-sprite(image_fill);
      }

      &:hover span.handle {
        @include elements-sprite(image_fill, $offset-x:-24px);
      }
    }

    // Color picker
    a.color-picker {
      right:0;
      border:1px solid $Black;
      @include border-right-radius(2px);
      @include elements-sprite(image_color, $offset-x:2px, $offset-y:4px);

      span.handle {
        top:6px;
        right:6px;
        left:auto;
        @include border-radius(2px);
        background:$spinner_bg;

        b {
          top:3px;
          left:2px;
          width:0;
          height:0;
          border-left:2px solid transparent;
          border-right:2px solid transparent;
          border-top:3px solid white;
        }
      }

      &:before {
        content:' ';
        position:absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        background:none;
        @include border-right-radius(2px);
      }

      // Color expanded
      &.expanded {
        width:44px;
        @include border-radius($rad);
        &:before { @include border-radius($rad) }
      }

      &:hover {
        span.handle { background:rgba(black,0.4) }
      }
    }
  }

  .form_align {

    clear:both;
    overflow:hidden;

    a.align {

      border-top:1px solid #9E9E9E;
      border-bottom:1px solid #9E9E9E;

      &:nth-child(2) {
        border-right:1px solid #9E9E9E;
      }

      &:first-child {
        border-left:1px solid #9E9E9E;
        border-right:1px solid #9E9E9E;
        @include border-radius(3px 0 0 3px);
      }

      &:last-child {
        border-right:1px solid #9E9E9E;
        @include border-radius(0 3px 3px 0);
      }

      &.align-left:after {
        @include opacity(.8);
        @include background(image-url("layout/align_left.png") no-repeat 0 0);
      }

      &.align-center:after {
        @include opacity(.8);
        @include background(image-url("layout/align_center.png") no-repeat 0 0);
      }

      &.align-right:after {
        @include opacity(.8);
        @include background(image-url("layout/align_right.png") no-repeat 0 0);
      }

      &:after {
        content: '';
        position:absolute;
        left: 8px; top: 6px;
        display:block;
        width: 13px;
        height: 7px;
      }

      &:hover {
        @include background(linear-gradient(#F3F3F3, #FFF));
      }

      &.selected {
        @include background(linear-gradient(#F3F3F3, #FFF));
        @include box-shadow(inset 0px 2px 2px #ccc);

        &:after {
          @include opacity(1);
        }
      }

      position:relative;
      display:block;
      float:left;
      min-width:28px;
      width:auto;
      height:20px;
      margin:0;
      @include border-radius(0);
      @include background(linear-gradient(#FFF,#F2F2F2));
    }

  }


  // FORM SPINNER

  /*
    <div class="form_spinner">
      <input class="value" type="text" value="0.6" />
      <a href="#plus" class="plus"></a>
      <a href="#minus" class="minus"></a>
    </div>
  */

  .form_spinner {
    position:relative;
    @include inline-block();
    min-width:20px;
    width:auto!important;
    padding:2px 19px 2px 4px;
    height:15px;
    margin:0;
    background-color: $Amber1;
    border:1px solid $Black;
    @include border-radius(2px);
	

    &.with-label {
      margin: 0;
      padding: 0;
      height: auto;
      border: none;
      @include border-radius(0);
      background: none;

      .label {
        margin: 0 4px 0 0;
        font-size: 11px;
        color: #797979;
        cursor: default;
      }

      &:hover {
        border: none;
      }

      &:hover .input {
        
      }

      .input {
        position:relative;
        @include inline-block();
        min-width:20px;
        width:auto!important;
        padding:2px 19px 2px 4px;
        height:15px;
        margin:0;
        border:1px solid #9E9E9E;
        @include border-radius(3px);
        @include background(linear-gradient(#FFF,#F2F2F2));
      }

  }


    &:hover {
      cursor:pointer;
    }

    &:hover, .input:hover {
      
    }

    &:hover input.value {
    }

    input.value {
      float:none;
      margin:0;
      padding:0;
      width:25px;
      text-align:left;
      line-height:15px;
      font-size:13px;
      font-family: $text-fonts;
      color:#666666;
      background: none;
      border:none;
      &:focus {
        outline:none;
        color:#333333;
      }
    }

    a {
      position:absolute;
      right:0;
      width:14px;
      height:9px;
      border-left:1px solid $Black;
      background:$spinner_bg;
      @include text-indent();

      &:before {
        content:' ';
        position:absolute;
        left:4px;
        width:0;
        height:0;
        border-left:3px solid transparent;
        border-right:3px solid transparent;
      }

      &.plus {
        top:0;
        border-bottom:1px solid #A8A8A8;
        @include border-top-right-radius(1px);
        &:before {top:4px; border-bottom:4px solid $Grey2;}
      }
      &.minus {
        bottom:0;
        @include border-bottom-right-radius(1px);
        &:before {bottom:3px; border-top:3px solid $Grey2;}
      }

      &:hover {

      }
    }

    // Opacity type
    &.opacity {
    }

    // Disabled state
    &.disabled {
      background:#f4f4f4!important;
      a {
        background:#f4f4f4!important;
        @include opacity(0.5);
        &:hover {cursor:default;}
      }
      &:hover {cursor:default;}
    }
  }



  // RADIOBUTTON

  /*
    <a href="#somewhere" class="radiobutton {selected}">
      <span class="radio"></span>
      Start importing some data
    </a>
  */

  .radiobutton {
    @include inline-block();
    vertical-align:middle;
    font-weight:bold;
    color:#397DB9;
    outline:none;


    &.hidden_radio span.radio { display:none; }
    &.hidden_radio {
      font-weight: normal;
      cursor: default;
      &:hover { text-decoration:none; }
    }

    span.radio {
      position:relative;
      @include inline-block();
      vertical-align: middle;
      @include size(10px);
      margin:0 7px 2px 0;

      @include border-radius(10px);
      border:1px solid #397DBA;
      background:white;

      &:before {
        display:none;
        content:' ';
        position:absolute;
        top:2px;
        left:2px;
        @include size(6px);
        background:#333333;
        @include border-radius(25px);
      }
    }

    &:hover, &:focus {
      span.radio{
        border-color:#333333;
        &:before {
          display:block;
        }
      }
    }

    &.selected {
      border-color:#333333;
      color:#333333;

      span.radio{
        border-color:#333333;
        &:before { display:block; }
      }

      &:hover, &:focus {
        cursor:default;
        text-decoration:none;
      }
    }

    &.disabled {
      text-decoration:none;
      color:#397DBA;

      span.radio{
        border-color:#397DBA;
        &:before {display:none;}
      }
      &:hover, &:focus {cursor:default;}

      &.selected {
        span.radio:before {display:block;}
      }
    }
  }



  // CHECKBOX

  /*
    <a href="#title?" class="checkbox {enabled}">
      <span class="check"></span>
      title?
    </a>
  */

  .checkbox {
    @include inline-block();
    vertical-align:middle;
    text-decoration:none;

    span.check {
      position:relative;
      @include inline-block();
      vertical-align: middle;
      width:10px;
      height:10px;
      margin: 0 0 1px 0;
      @include border-radius(2px);
      border:1px solid $Black;
      background:white;

      &:before {
        display:none;
        content:' ';
        position:absolute;
        top:1px;
        left:1px;
        width:9px;
        height:8px;
        @include elements-sprite(checkbox);
      }
    }

    &:hover {
      text-decoration:none;
    }

    &.enabled {
      span.check{
        &:before {
          display:block;
        }
      }
    }

    &.disabled {

      &.light:hover { color: #999; }

      span.check{
        &:before {
          display:none;
        }
      }
    }
  }



  // SWITCH (ON/OFF)

  /*
    <a href="#switch" class="switch {enabled}">
      <span class="handle"></span>
    </a>
  */

  .switch, .form_switch {
    position:relative;
    @include inline-block();
    @include text-indent();
    vertical-align:middle;
    width:29px;
    height:15px;
    @include border-radius(12px);
    @include transform-style("linear");
    @include transition-property("background");
    @include transition-duration(180ms);
    text-decoration:none;
    border:1px solid #44759E;

    &:before {
      position:absolute;
      content:' ';
      top:0;
      left:0;
      width:100%;
      height:100%;
      @include border-radius(12px);
      @include background(linear-gradient(rgba(black,0.18),rgba(black,0)));
      z-index:0;
    }

    span.handle {
      position:absolute;
      top:1px;
      left:15px;
      width:11px;
      height:11px;
      @include border-radius(12px);
      border:1px solid #44759E;
      background:#F2F2F2;
      z-index:2;
      @include transform-style("linear");
      @include transition-property("left");
      @include transition-duration(180ms);
    }

    &.enabled {
      border-color:#44759E;
      background:#56AFEF;
      span.handle {
        left:15px;
        border-color:#44759E;
      }
    }

    &.disabled {
      @include opacity(1);
      border-color:#CCCCCC;
      background:#D8D8D8;
      span.handle {
        left:2px;
        border-color:#999999;
      }
    }

    &:hover {cursor:pointer!important;}

    // Working
    &.working {
      @include opacity(0.5);
      &:hover {cursor:default!important;}
    }

    // Small type
    &.small {
      width:23px;
      height:12px;

      span.handle {
        position:absolute;
        top:0px;
        left:11px;
        width:10px;
        height:10px;
        @include border-radius(10px);
      }

      &.disabled span.handle { left:1px; }
      &.enabled span.handle { left:11px; }
    }
  }


  // ROUNDED BUTTON (WHITE, ORANGE, GREEN, ...)

  /*
    <a href="#xxxx" class="rounded white {enabled}"></a>
  */

  .rounded {
    padding:3px 12px;
    background:white;
    @include border-radius(25px);
    font-weight:bold;
    font-size:11px;
    line-height:12px;
    color:#3474AF;
    text-transform: uppercase;
    @include box-shadow(rgba(black,0.09) 0 0 2px 2px);

    &:hover {text-decoration:none;}

    &.white {
      &:hover {
        text-decoration:none;
        @include box-shadow(rgba(black,0.19) 0 0 2px 2px);
      }
    }

    &.orange {
      background:#FF9326;
      color:white;
      text-shadow:none;
      &:hover {@include box-shadow(rgba(black,0.19) 0 0 2px 2px);}
    }

    &.green {
      background:#97C341;
      color:white;
      text-shadow:none;
      &:hover {@include box-shadow(rgba(black,0.19) 0 0 2px 2px);}
    }
  }
