  
  /**
   *  Date picker component
   *  
   */

  @import "compass/css3/border-radius";
  @import "compass/css3/opacity";
  @import "compass/css3/inline-block";
  @import "compass/css3/box-shadow";
  @import "../old_common/mixins";
  @import "../old_elements/elements-sprite";


  $border-radius: 3px;

  div.custom-datepicker {
    position:relative;
    margin-top:5px;
    z-index:3;

    // Button
    .dates {
      position:relative;
      @include display-flex();
      @include align-items(center, center);
      @include justify-content(flex-start, start);
      height:46px;
      padding:0 14px;
      background:white;
      border:1px solid #CCC;
      @include border-radius($border-radius);
      outline:none;

      // Icon
      .calendar.icon {
        @include inline-block();
        width:14px;
        height:14px;
        @include elements-sprite(calendar);
      }

      // Message
      .label {
        margin-left:13px;
        padding-left:10px;
        line-height:24px;
        border-left:1px solid #CCCCCC;
        color:#CCCCCC;

        em { color:#666666 }
      }

      // Dropdown tick
      &:after {
        content:'';
        position:absolute;
        top:50%;
        right:14px;
        width:0;
        height:0;
        margin-top:-1px;
        border-right:4px solid transparent;
        border-left:4px solid transparent;
        border-top:4px solid #999;
      }

      // Hover and focus?
      &:hover,
      &:focus {
        text-decoration:none;
        border-color:#AAA;

        .label { color:#CCCCCC }
        em { color:#666666 }
        &:after { border-top-color:#666 }
      }

    }

    // Hint
    p.hint {
      display:block;
      font-size:11px;
      color:#AAA;
      font-style:italic;
      text-align:center;
    }

    // Timers
    .timers {
      @include display-flex();
      @include align-items(center, center);
      @include justify-content(space-between, justify);

      .from,
      .to {
        @include display-flex();
        @include align-items(center, center);
        @include justify-content(space-between, justify);
        width:175px;
        padding-top:15px;
        border-top:1px solid #CCCCCC;
      }

      label {
        position:relative;
        top:auto;
        left:auto;
        width:auto;
        margin:0 5px 0 0;
        font-weight:bold;
        font-size:11px;
        color:#666;
      }
    }

    // Date picker + timers
    div.calendar {
      position:absolute;
      bottom:54px;
      left:0;
      right:0;
      padding:40px;
      border:1px solid #9E9E9E;
      background:white;
      @include border-radius($border-radius);
      @include box-shadow(0 2px 2px 2px rgba(0,0,0,0.1));
      z-index:10;

      // Default datepicker styles
      div.datepicker {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        width: 174px;
        height: 195px;
        cursor: default;
      }

      .datepickerContainer { background: white; }

      .datepickerHidden {
        display: none;
      }
      div.datepicker table {
        border-collapse:collapse;
      }
      div.datepicker a {
        text-decoration: none;
        cursor: pointer;
        outline: none;
      }
      div.datepicker table td {
        text-align: center;
        padding: 0;
        margin: 0;
        width:22px;
        height:22px;
      }
      div.datepicker th {
        text-align: center;
        font-weight: normal;
      }
      div.datepicker tbody th {
        text-align: left;
      }
      div.datepicker tbody a {
        display: block;
      }
      .datepickerDays a {
        width: 20px;
        line-height: 20px;
        height: 20px;
        border:1px solid white;
      }
      .datepickerYears a,
      .datepickerMonths a{
        width: 44px;
        line-height: 36px;
        height: 36px;
        text-align: center;
      }
      td.datepickerNotInMonth a {
        // color: #666;
      }
      tbody.datepickerDays td.datepickerSelected{
        background: #3B7EBB;
      }
      tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
        background: #17384d;
      }
      tbody.datepickerYears td.datepickerSelected,
      tbody.datepickerMonths td.datepickerSelected{
        background: #17384d;
      }
      // div.datepicker a:hover,
      // div.datepicker a:hover {
      //   color: #88c5eb;
      // }
      div.datepicker td.datepickerNotInMonth a:hover {
        // color: #999;
      }
      div.datepicker tbody th {
        text-align: left;
      }
      .datepickerSpace div {
        width: 20px;
      }
      .datepickerGoNext a,
      .datepickerGoPrev a,
      .datepickerMonth a {
        text-align: center;
        height: 20px;
        line-height: 20px;
        color:#666666;
        text-transform: uppercase;
        font-weight:bold;
        font-size:11px;
      }
      .datepickerGoNext a {
        float: right;
        width: 20px;
      }
      .datepickerGoPrev a {
        float: left;
        width: 20px;
      }
      table.datepickerViewDays tbody.datepickerMonths,
      table.datepickerViewDays tbody.datepickerYears {
        display: none;
      }
      table.datepickerViewMonths tbody.datepickerDays,
      table.datepickerViewMonths tbody.datepickerYears,
      table.datepickerViewMonths tr.datepickerDoW {
        display: none;
      }
      table.datepickerViewYears tbody.datepickerDays,
      table.datepickerViewYears tbody.datepickerMonths,
      table.datepickerViewYears tr.datepickerDoW {
        display: none;
      }
      td.datepickerDisabled a,
      td.datepickerDisabled.datepickerNotInMonth a{
        color: #333;
        @include opacity(.5);
      }
      td.datepickerDisabled a:hover {
        color: #333;
        @include opacity(.5);
      }
      td.datepickerSpecial a {
        background: #700;
      }
      td.datepickerSpecial.datepickerSelected a {
        background: #a00;
      }

      //////////////////////////////
      // Custom datepicker styles //
      //////////////////////////////

      .datepickerDoW {
        margin:10px 0;
        border-bottom:1px solid #CCCCCC;

        th {
          height:30px;
          text-align:center!important;

          &:first-child {
            display:none;
          }

          span {
            font-size:9px;
            color:#CCCCCC;
            text-transform:uppercase;
          }
        }
      }

      tbody.datepickerDays:before {
        line-height:5px;
        content:"-";
        color:white;
        display:block;
      }

      th.datepickerWeek {
        text-align:center!important;
        a { color:#CCC; }
      }

      td.datepickerSelected a {
        color:white;
        border-color:#3B7EBB;
      }

      tbody.datepickerDays td.datepickerSelectedFirst.datepickerSelected,
      tbody.datepickerDays td.datepickerSelectedLast.datepickerSelected {
        background:#3B7EBB;
        
        a {
          background:white;
          color:#3B7EBB;
          border-color:#3B7EBB;
          @include border-radius(22px);
        }
      }

      td.datepickerSelectedFirst {
        @include border-top-left-radius(22px);
        @include border-bottom-left-radius(22px);
      }

      td.datepickerSelectedLast {
        @include border-top-right-radius(22px);
        @include border-bottom-right-radius(22px);
      }

      .datepickerNotInMonth a {
        color:#999;
      }

      tbody.datepickerDays
      td.datepickerNotInMonth.datepickerSelected {
        background:#E7EAEC;
        a { border-color:#E7EAEC }
      }

      // Margin for a calendar
      table.datepickerViewDays {
        margin:0 10px;
      }

      // Hide week links
      thead > tr.datepickerDoW > th:first-child,
      .datepickerWeek {
        display:none
      }

      // Remove data picker 'inside' arrows
      .datepickerContainer > table > tbody > tr td {
        // &:first-child thead th.datepickerGoNext a {
        //   display:none
        // }
        // &:last-child thead th.datepickerGoPrev a {
        //   display:none
        // }
        thead th.datepickerGoNext a,
        thead th.datepickerGoPrev a {
          display:none
        }
      }

      // Remove hover style for month title
      .datepickerMonth a:hover {
        cursor:default;
      }

      .datepickerSpace {
        position:relative;
        
        div {
          @include inline-block();
          height:100%;  
          width: 74px;

          &:before {
            content:'';
            position:absolute;
            top:0;
            left:38px;
            width:1px;
            height:100%;
            background:#CCCCCC;
          }
        }
      }


    }
  }
