

  /**
   *  Styles for the information about docs, carto, posgres,... dialog
   */


   @import "../old_elements/elements-sprite";

   $border-color: rgba(#BBBBBB,0.7);

  .docs_info_dialog {
    nav {
      position:relative;
      display:table;
      width:100%;
      padding:22px 0;
      margin:35px 0 0;
      border-top:1px solid $border-color;
      border-bottom:1px solid $border-color;

      &:after {
        position:absolute;
        content:'';
        top:-15px;
        left:50%;
        width:55px;
        height:32px;
        margin:0 0 0 -27px;
        @include elements-sprite(paper_plane);
        z-index:1;
      }

      a {
        display:table-cell;
        width:50%;
        text-align:center;
        border-left:1px solid $border-color;
        &:first-child {border:none;}
        &.alone {width:100%;}
      }
    }
  }