
  /*
   * Dropdown for CartoDB
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/box-shadow";
  @import "compass/css3/border-radius";
  @import "compass/css3/opacity";
  @import "../old_common/vars";
  @import "../variables/colors";
  div.dropdown {
    position:absolute;
    display:none;
    background: $DarkGrey7;
    border: $dropdownBorder;
    padding: 12px 0px;
    z-index:50;

    &:before {
      content:' ';
      position:absolute;
      display:block!important;
      width:0;
      height:0;
      z-index:10;
    }

    // Tick for 12 possibilities
    &.tick_top, &.tick_middle, &.tick_bottom {
      &.horizontal_left {
        &:before {
          left:-3px;
          border-right:6px solid $Grey2;
          border-top:6px solid transparent;
          border-bottom:6px solid transparent;
        }
      }
      &.horizontal_right {
        &:before {
          right:-4px;
          border-left:6px solid $Grey2;
          border-top:6px solid transparent;
          border-bottom:6px solid transparent;
        }
      }
    }

    &.tick_top:before {top:12px;}
    &.tick_middle:before {left:50%; margin-left:-3px;}
    &.tick_bottom:before {bottom:12px;}


    &.tick_left, &.tick_center, &.tick_right {
      &.vertical_top {
        &:before {
          bottom:-6px;
          border-top:6px solid white;
          border-left:6px solid transparent;
          border-right:6px solid transparent;
        }
      }
      &.vertical_bottom {
        &:before {
          top:-6px;
          border-bottom:6px solid white;
          border-left:6px solid transparent;
          border-right:6px solid transparent;
        }
      }
    }

    &.tick_left:before {left:11px;}
    &.tick_center:before {left:50%; margin-left:-3px;}
    &.tick_right:before {right:11px;}

    // With border
    &.border {
      border:1px solid $Grey2;

      &:after {
        content:' ';
        position:absolute;
        display:block!important;
        width:0;
        height:0;
        z-index:1;
      }

      // Tick for 12 possibilities
      &.tick_top, &.tick_middle, &.tick_bottom {
        &.horizontal_left {
          &:after {
            left:-6px;
            border-right:6px solid $Grey2;
            border-top:6px solid transparent;
            border-bottom:6px solid transparent;
          }
        }
        &.horizontal_right {
          &:after {
            right:-6px;
            border-left:6px solid $Grey2;
            border-top:6px solid transparent;
            border-bottom:6px solid transparent;
          }
        }
      }

      &.tick_top:after {top:12px;}
      &.tick_middle:after {left:50%; margin-top:-3px;}
      &.tick_bottom:after {bottom:12px;}


      &.tick_left, &.tick_center, &.tick_right {
        &.vertical_top {
          &:after {
            bottom:-6px;
            border-top:6px solid $Grey2;
            border-left:6px solid transparent;
            border-right:6px solid transparent;
          }
        }
        &.vertical_bottom {
          &:after {
            top:-6px;
            border-bottom:6px solid $Grey2;
            border-left:6px solid transparent;
            border-right:6px solid transparent;
          }
        }
      }

      &.tick_left:after {left:12px;}
      &.tick_center:after {left:50%; margin-left:-3px;}
      &.tick_right:after {right:12px;}
    }

    &.short {
      width:164px!important;
    }

    &.tiny {
      width:105px!important;
    }
//dropdown list item
    ul {
      position:relative;
      @include inline-block();
      width:100%;
      margin:0;
      padding:0;
      list-style:none;
      overflow:visible;

      li {
          display:block;

        a {
	        color: $Amber1;
          display:block;
          line-height: 19px;
          padding: 0px 12px;
        }


        &:hover {
          background:$DarkGrey2;
          a {text-decoration:none}
        }

        &.disabled {
          background:white;
          a {@include opacity(0.4); color:$link-color; text-decoration:none; &:hover {cursor:default;}}
        }
      }

    }
  }
