
  /**
   *  Styles for edit fields dialog
   */


  @import "../old_common/vars";
  @import "../old_common/form-elements";

  .edit_fields_dialog {
    div.content {
      position:relative;
      padding:0!important;
      margin-bottom:40px;

      span.scroll {
        position:absolute;
        left:0;
        right:5px;
        width:100%;
        height:30px;
        background:transparent;
        padding:0;
        margin:0;
        @include border-radius(0);
        pointer-events:none;
        z-index:10;

        &.top {top:0; @include background(linear-gradient(rgba(white,1), rgba(white,0)));}
        &.bottom {bottom:0px; @include background(linear-gradient(rgba(white,0), rgba(white,1)));}
      }

      div.wrapper {
        display:block;
        padding:40px 40px 0;
        max-height: 320px;
        overflow:auto;
      }

      div.field {
        display:block;
        margin-top:20px;

        & > label {
          display:block;
          margin-bottom:9px;
          font:bold 12px $text-fonts;
          color:$cGray4;
          text-transform: uppercase;
        }

        // Number touched
        &.number {
          @include default-input();
          input[type="text"] {
            width:346px;

            // Types
            &.number_field {color:#4DC964;}

            // Actions
            &.error {border-color:rgba(red,0.5);}
          }  
        }

        // String touched
        &.string {
          @include default-textarea();
          textarea {
            width:346px;
            min-width:346px;
            max-width:346px;
            max-height:200px;
            min-height:20px;
            height:18px;
          }  
        }

        // Boolean touched
        &.boolean {
          nav {
            display:table;
            width:346px;
            padding:8px 11px;
            border: 1px solid #C0C1C2;
            @include border-radius(4px);

            a {
              display:table-cell;
              width:115px;
              text-align:center;
              border-right:1px solid #D9D9D9;
              font-weight:normal;
              line-height:21px;
              span.radio {margin-top:5px;}

              &:last-child {border:none;}
            }
          }
        }

        // Date touched 
        &.date {
          div.date_field {
            display:table;
            width:346px;
            padding:9px 11px;
            border: 1px solid #C0C1C2;
            @include border-radius(4px);
            letter-spacing: -4px;
            word-spacing: -4px;
            
            & > div.column {
              @include inline-block();
              letter-spacing: 0;
              word-spacing: 0;
              margin-right:10px;

              label {
                display:block;
                padding:0;
                margin:0 0 3px;
                font:normal 12px $text-fonts;
                color:#DDD;
              }

              &.day_field {width:46px;}
              &.month_field {width:141px;}
              &.year_field {width:54px;}
              &.time_field {
                width:75px;
                @include default-input();
                input {
                  border-color:#9E9E9E;
                  width:67px;
                  padding:2px 3px;
                  font-size:13px;
                  // Actions
                  &.error {border-color:rgba(red,0.5);}
                  &[readonly] {background:#f4f4f4; border-color:#DDDDDD;}
                }
              }

              &:last-child {margin-right:0;}
            }
          }
        }

        &:first-child {margin-top:0;}
      }
    }    
  }