
/*
   *  Edit in place element styles.
   * 
   *  - Edit value 
   */

@import "compass/css3/inline-block";
@import "compass/css3/transform";


/*
    <div class="input edit_in_place">
      <input type="text" value="" />
      <div class="value  empty">
        <span style="max-width: 120px;">empty</span>
      </div>
    </div>
  */


.edit_in_place {
  .value {
    position: relative;
    z-index: 100;
    margin: 4px 5px 0 0;
    padding: 0 5px 3px 5px;
    background: rgba(#FFDC73, .3);
    color: #666;
    font-size: 15px;

    @include transform(skew(-25deg));

    &:hover {
      background: rgba(#FFDC73, .5);
    }

    span {
      @include inline-block();
      max-width: 150px;
      padding: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include transform(skew(25deg));
    }

    &.empty { font-style: italic; }
  }

  &.disabled .value {
    background: rgba(gray, .1);
    color: #AAA;

    &:hover {
      background: rgba(gray, .1);
    }
  }

  input {
    display: none;
    position: relative;
    z-index: 100;
  }
}
