
  /**
   *  Styles for help tip situtated in the top of a module.
   *  Ex: infowindow html editor, sql panel, cartocss panel,... 
   */

  @import "compass/css3/images";
  @import "../old_common/vars";
  @import "../old_common/mixins";
  @import "../old_common/common-sprite";
  @import "../table/table-sprite";
  @import "../variables/colors";

  .help-tip {
    position: absolute;
    display:none;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    background: $Black;
    z-index:10;

    @include box-sizing(border-box);
    font-size: 13px;
    font-style: italic;

    p { padding: 0 25px 0 44px; }

    .close {
      position: absolute;
      right: 27px;
      top: 12px;

      display:block;
      vertical-align:middle;
      width:13px;
      height:13px;

      @include background(sprite($common-sprites, close_grey, $offset-x:0, $offset-y:0) no-repeat);

      &:hover  { @include background(sprite($common-sprites, close_grey, $offset-x:0, $offset-y:-13px) no-repeat); }
      &:active { @include background(sprite($common-sprites, close_grey, $offset-x:0, $offset-y:-26px) no-repeat); }
    }

    &:before {
      content:'';
      @include size(10px, 6px);
      @include position(-6px, 29px, false, false);
      @include background(sprite($table-sprites, infowindow_panel_purple_tip) no-repeat);
      -webkit-filter: invert(100%);
      z-index: 11;
    }
  }
