
  /**
   *  Merge tables dialog
   */


  @import "../old_common/form-elements";
  @import "../old_common/mixins";

  .merge_tables_dialog {

    .back { display:none; }

    @include default-input;
    @include default-form-info;

    .table_name {
      display:none;

      input.text { display:block; width:529px;}
    }

    // Tables selector
    .tables_selector {
      display:block;

      .description { margin: 0 0 20px 0; }

      strong.title {
        display:block;
        margin: 0 0 5px 0;
      }

      ul.join_types {
        width:100%;
        padding-bottom:30px;
        margin:40px 0 0 0;
        letter-spacing: -4px;
        word-spacing: -4px;
        border:none;

        li {
          @include inline-block();
          vertical-align:top;
          width:256px;
          letter-spacing: 0;
          word-spacing: 0;
          border-bottom:0;

          &.disabled p {
            @include opacity(.5);
          }

          &:first-child {margin-right:41px;}

          a {
            font-size: 15px;
            &.radiobutton.inactive {@include opacity(0.6)}
          }

          p {
            margin-top:7px;
            padding-left:20px;
            font-size: 13px;
          }
        }
      }

      // Table columns selector/preview
      div.tables {
        width:100%;
        display:none;
        letter-spacing: -4px;
        word-spacing: -4px;
        margin: 0 0 30px 0;

        .table_preview {
          @include inline-block();
          width:254px;
          height:230px;
          border:1px solid #CCCCCC;
          @include border-radius(3px);
          letter-spacing: 0;
          word-spacing: 0;
          background:white;

          .cover {
            display:none;
            background: #f1f1f1;
            position: absolute;
            width: 100%;
            height: 179px;
            bottom: 0;
            z-index: 100;

            p  {
              width: 215px;
              margin: 55px auto 0 auto;

              text-align: center;
              font-size: 14px;
            }

          }

          * {letter-spacing: 0; word-spacing: 0;}

          &:first-child {margin-right:41px;}

          li a { color: #333; }
          li .radiobutton .radio { border-color: #333; }
        }
      }

      p.approx_rows {
        display:none;
        margin-right:10px;
      }

    }

    // Table name
    .modal.naming {
      display:none;
      width:525px!important;

      @include default-input;
      @include default-form-info;

      div.merge_content {
        display:block;
        padding:40px;
        input.text {display:block; width:422px;}
      }
    }

    // Merging process
    .modal.merging {
      display:none;
      width:300px!important;
      height:217px;

      div.loader {
        display:inline-block;
        margin:60px 0 0;
        padding:40px;
        @include background(image-url('layout/loader.gif') no-repeat center top);
        p {text-align:center;}
      }
    }

    // Error?
    .modal.error {
      display:none;
      width:600px!important;
    }
  }
