
  /*
   * Modal object for CartoDB
   * - Normal window, confimation window,...
   */

  @import "compass/css3/border-radius";
  @import "compass/css3/box-shadow";
  @import "../old_elements/elements-sprite";

  .mamufas {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(black,0.5);
    z-index:50;

    section.modal {
      position:relative;
      width:600px;
      margin: 200px auto 0 auto;
      background:white;
      @include border-radius(4px);
      @include box-shadow(rgba(black,0.15) 0 0 0 4px);

      a.close {
        position:absolute;
        top:-15px;
        right:-15px;
        width:30px;
        height:15px;
        padding:7px 0 8px;
        background:white;
        @include box-shadow(rgba(black,0.15) 0 0 0 4px);
        @include border-radius(50px);
        line-height:14px;
        text-align:center;
        z-index:5;
        &:focus, &:hover {
          outline:none;
          color:black;
          text-decoration:none;
        }
      }

      // Compressed (footer fewer space, eg: share map window)
      &.compressed {
        div.content, div.error_content {padding:40px 40px 15px 40px;}
        div.content > p { margin: 0 0 20px 0; }
        div.foot {border:none; padding-top:15px;}
      }

      // Red one, important! - Confirm or error.
      &.confirmation, &.error {
        border:4px solid rgba(#FC5353,0.3);
        div.content, div.error_content {padding:40px 40px 15px 40px;}
        div.foot {border:none; padding-top:15px;}

        div.error_content {
          max-height:250px;
          overflow:auto;

          h4 {
            line-height:18px;
            padding-left:30px;
            letter-spacing:0;

            &.exclamation { @include elements-sprite(background_loader_error, $offset-y:0); }
            &.question    { @include elements-sprite(question, $offset-y:0); }
          }

          p { padding-left:30px }
          
          .item_queue_id {
            position:absolute;
            bottom:50px;
            left:40px;
            font-size:12px;
            color:#999;
          }
        }

        .block p a { text-decoration: underline; }

        a.close {right:-18px; top:-18px;}
      }

      // Create something new (table, row,...)
      &.creation {
        div.foot {
          padding-top:0;
          border:none;

          .privacy {
            position:relative;
            top:13px;

            .switch { margin: 0 10px 0 0; }
            label { cursor: pointer; color:#999999; }

          }

          a.cancel { position:relative; top: 15px; }
        }
      }

      // Notification (upgrade account)
      &.notification {
        border:4px solid rgba(#FFCC33,0.3);
        div.foot {
          padding-top:0;
          border:none;
          a.cancel {display:none}
        }
      }
    }
  }
