
  /*
   * Modal object for CartoDB
   * - Normal window, confimation window,...
   */

  @import "compass/css3/border-radius";
  @import "compass/css3/box-shadow";
  @import "../old_elements/elements-sprite";

  .mamufas {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(black,0.5);
    z-index:50;

    section.modal {
      position:relative;
      width:600px;
      margin: 200px auto 0 auto;
      background:white;
      @include border-radius(4px);
      @include box-shadow(rgba(black,0.15) 0 0 0 4px);

      a.close {
        position:absolute;
        top:-15px;
        right:-15px;
        width:30px;
        height:15px;
        padding:7px 0 8px;
        background:white;
        @include box-shadow(rgba(black,0.15) 0 0 0 4px);
        @include border-radius(50px);
        line-height:14px;
        text-align:center;
        z-index:5;
        &:focus, &:hover {
          outline:none;
          color:black;
          text-decoration:none;
        }
      }

      // Create something new (table, row,...)
      &.creation {
        div.foot {
          padding-top:0;
          border:none;

          .privacy {
            position:relative;
            top:13px;

            .switch { margin: 0 10px 0 0; }
            label { cursor: pointer; color:#999999; }

          }

          a.cancel { position:relative; top: 15px; }
        }
      }
    }
  }
