


@import "../old_common/form-elements";


.new_column_dialog {

  @include default-input();
  @include default-form-info();
  @include default-select();

  input {
    width: 253px - 11*2px;

    &::-webkit-input-placeholder {
      font-style:italic;
    }

    &:-moz-placeholder {
      font-style:italic;
    }
  }

  div.column_select {
    display:block;
    padding:14px 12px;
    margin:20px 0 0 0;
    background:#F2F2F2;
    @include border-radius(4px);
  }
}
