
  /**
   *  Tooltip trails object
   */

  @import "compass/css3/border-radius";

  div.tooltip-trails {
    position:absolute;
    display:none;
    top:0;
    left:0;
    max-width:234px;
    padding:12px;
    background:#FCF3DB;
    border:1px solid #B3AF9C;
    @include border-radius(2px);
    font-size:13px;
    color:#666666;
    letter-spacing:0;
    z-index:1000;
  }
