
  /**
   *  Twitter categories styles
   *
   */

  @import "../old_common/mixins";
  @import "../old_common/vars";
  @import "compass/css3/opacity";
  @import "compass/css3/transform";
  @import "compass/css3/transition";
  @import "compass/css3/inline-block";
  @import "../old_elements/elements-sprite";


  .twitter-categories {
    display:block;
    border:1px solid #CCCCCC;
    background:white;
    @include border-radius(3px);

    // Category field
    .twitter-category {
      @include display-flex();
      @include justify-content(flex-start, start);
      @include align-items(center, center);
      height: 0;
      padding:0 13px;
      margin:0;
      overflow: hidden;
      @include opacity(0);
      border-bottom:none;

      i.twitter-icon {
        @include inline-block();
        width:17px;
        height:14px;
        margin-right:10px;
        @include elements-sprite(twitter-logo-small-grey);
      }
      
      input.text {
        height:24px;
        padding:0 10px;
        line-height:24px;
        border:none;
        font-size:15px;
        font-weight:300;
        font-family: $text-fonts2;
        color:#666;
        border-left:1px solid #CCCCCC;
        outline:none;

        // How I hate placeholder tricks
        &::-webkit-input-placeholder {
          color:#CCCCCC;
          font-style:italic;
        }

        &:-moz-placeholder {
          color:#CCCCCC;
          font-style:italic;
        }

        &:-ms-input-placeholder {
          color:#CCCCCC;
          font-style:italic; 
        }

        &[readonly] {
          background:white;
          color: #E0E0E0;
        }

        &.long { width:298px }
        &.short { width:120px }
      }

      // Character counter
      div.counter {
        @include display-flex();
        @include justify-content(flex-end, end);
        @include align-items(center, center);
        width:32px;
        height:12px;
        margin:0 9px 0 0;
        text-align:center;

        span.counter-label {
          display:none;
          width:auto;
          padding:0 5px;
          @include border-radius(2px);
          background:#CCC;
          color:white;
          font:normal 11px $text-fonts;
          line-height:14px;
        }
      }

      // Category enabled
      &.enabled {
        border-bottom:1px solid #CCC;
        height:46px;
        @include opacity(1);
      }

      // Last category child!
      &:last-child {
        border-bottom:none
      }

    }

  }
