
  // Visualizations combo

  @import "compass/css3/border-radius";
  @import "compass/css3/inline-block";
  @import "compass/css3/opacity";
  @import "../old_common/common-sprite";
  @import "../old_common/mixins";



  .visualizations-selector {
    width:100%;
  }

  .visualizations-dropdown {

    .select2-results li {
      padding:8px 0;
    }

    .select2-results .select2-result-label {
      display:block;
      width:auto;
    }

    .select2-results .select2-highlighted {
      background:#EEEEEE;
      border-bottom:1px solid rgba(0,0,0,0);
    }
    
    div.vis-info-item {
      @include display-flex();
      @include justify-content(space-between, justify);
      @include align-items(center, center);

      img {
        width:18px;
        height:18px;
        margin-left:6px;
        background:#EDEDED;
        @include border-radius(18px);
      }

      .value {
        color:#666666;
        @include text-overflow();
      }

      .by {
        @include display-flex();
        @include justify-content(flex-end, end);
        @include align-items(center, center);
        color:#999999;

        span.permission {
          width:40px;
          line-height:15px;
          margin-right:5px;
          font-size:10px;
          text-align:center;
          border:1px solid #BBBBBB;
          @include border-radius(20px);
        }

        span.username {
          font-size:11px;
        }

        .remove {
          margin-left:5px;
          @include common-sprite(close_grey);
          @include size(13px);

          &:hover { @include common-sprite(close_grey, $offset_y:-13px); }
        }
      }

      &.disabled {
        @include opacity(0.5);
      }

      &.shared {
        .value { max-width:200px }
      }
    }
  }