<div class="Dialog-header Dialog-header--expanded">
  <div class="Dialog-headerIcon Dialog-headerIcon--main">
    <i class="iconFont iconFont-Marker"></i>
  </div>
  <p class="Dialog-headerTitle">Edit <%= featureType %> metadata</p>
  <p class="Dialog-headerText">
    Edit your <%= featureType %> data, or create new columns on your dataset.
  </p>
  <div class="FeatureData-map js-map"></div>
</div>
<div class="Dialog-expandedSubContent">
  <form class="Form FeatureData-form js-form"></form>

  <div class="Dialog-stickyFooter">
    <div class="Dialog-footer FeatureData-footer">
      <button class="Button Button--secondary Button--inline cancel">
        <span>cancel</span>
      </button>
      <button class="Button Button--positive Button--inline ok">
        <span>Save</span>
      </button>
    </div>
  </div>
</div>
