@import "../../variables/mixins";
@import "../../variables/colors";
@import "../../variables/sizes";

.BreadcrumbsDropdown { width: 260px }
.BreadcrumbsDropdown--compact { width: 120px }
.BreadcrumbsDropdown-list {
  display: block;
  width: 100%;
  margin: 0!important;
}
.BreadcrumbsDropdown-listItem {
  display: block;
  margin-top: 0!important;
  padding: $sMargin-element !important;
}
.BreadcrumbsDropdown-listItem.is-dark {
  background: $DarkGrey8;
  border-top: 1px solid $Black;
}
.BreadcrumbsDropdown-icon,
.BreadcrumbsDropdown-options {
  display: inline-block;
  vertical-align: top;
}
.BreadcrumbsDropdown-icon {
  display: inline-block;
  margin-right: $sMargin-elementInline;
  width: 20px;
}
.BreadcrumbsDropdown-options {}
.BreadcrumbsDropdown-optionsItem {
  display: block;
  font-size: $sFontSize-large;
  font-weight: $sFontWeight-normal;
}
.BreadcrumbsDropdown-optionsItem.has-margin { margin-top: 10px }
.BreadcrumbsDropdown-optionsItem.is-selected {
  color: $White;
  &:hover {
    text-decoration: none;
    cursor: default;
  }
}
.BreadcrumbsDropdown-lockIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 2px;
  background: $cIcons-default;
  text-align: center;
  font-weight: $sFontWeight-lighter;
  font-size: $sFontSize-smaller;
  color: white;
}
