@import "../../variables/mixins";
@import "../../variables/colors";
@import "../../variables/sizes";
@import "../../variables/progress-bar";

.SettingsDropdown {
  min-width: 220px;
}
.SettingsDropdown-item {
  margin-top: 15px !important;
  padding-top: 15px !important;
}
.SettingsDropdown-item:first-child {
  margin-top: 0!important;
  padding-top: 0!important;
}
.SettingsDropdown-item:last-child { margin-bottom: 0!important }
.SettingsDropdown-sameline {
  @include display-flex();
  @include flex-wrap(nowrap);
  @include justify-content(space-between, justify);
  @include align-items(center, center);
}
.SettingsDropdown-itemLink.SettingsDropdown-itemButtonLink {
  color: $cTypography-link;
}
.SettingsDropdown-itemLink.SettingsDropdown-itemButtonLink:hover {
  color: $cTypography-linkHover;
  text-decoration: none;
}

.SettingsDropdown-itemLink:hover {
  text-decoration: none;
  .SettingsDropdown-itemLinkText { text-decoration: underline }
}

.SettingsDropdown-itemLinkText { font-size: $sFontSize-normal }
.SettingsDropdown-accountType {
  margin-left: 10px;
  color: $cTypography-secondary;
  text-transform: capitalize;
}
.SettingsDropdown-email {
  margin-top: 3px !important;
}
.SettingsDropdown-progressBar {
  position: relative;
  margin: 5px 0 15px 0;
  background: #F5F5F5;
  @include progress-bar(6px, 9px, true, false);
}
.SettingsDropdown-progressBar.is--inAlert div.progress-bar span { background: $cHighlight-caution!important }
.SettingsDropdown-progressBar.is--inDanger div.progress-bar span { background: $cHighlight-negative!important }
.SettingsDropdown-itemLink {
  font-size: $sFontSize-large;
  line-height: $sLineHeight-large;
}
.SettingsDropdown-itemLink--public {
  color: #797f8a;
  font-size: 14px;
}
