<div class="info">
  <p class="italic">All in the organization</p>
</div>
<div class="switches">
  <a href="#/can-write" class="checkbox small light canwrite">
    <span class="check"></span>
    Can write
  </a>
  <% if (switch_user_enabled) { %>
    <a href="#/enabled" class="switch disabled">
      <span class="handle"></span>
    </a>
  <% } %>
</div>