<a href="#/<%= type.toLowerCase() %>" class="<% limitation ? 'disabled' : '' %>">
  <span class="status <%= type.toLowerCase() %> privacy-status"></span>
  <span class="info">
    <h5><%= title %></h5>
    <p><%= description %></p>
  </span>
</a>