<div class="ImportPanel-header">
  <div class="LayoutIcon ImportPanel-headerIcon">
    <i class="CDB-IconFont CDB-IconFont-gift"></i>
  </div>
  <h3 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">Enable the Twitter Connector</h3>
  <p class="CDB-Text CDB-Size-medium u-altTextColor u-bSpace--xl">The Twitter Connector allows you to map twitter activity data related to your Brand, Event or any term you may be interested in.</p>
</div>
<div class="ImportPanel-body u-flex u-justifyCenter">
  <a href="mailto:sales@carto.com?subject=I am interested in the Twitter connector&body=Hi, I am interested in testing the Twitter connector. Please, contact me to schedule a demo of this feature." class="CDB-Button CDB-Button--primary CDB-Button--medium">
    <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">ask for a demo</span>
  </a>
</div>
