@import '../../../variables/colors';
@import '../../../variables/sizes';

// Imports styles
$w: 940px;

.ImportOptions {
  position: relative;
  width: $w;
  margin: 8px auto 20px;

  &__category-title {
    margin-top: 24px;
    margin-bottom: 8px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 176px;
    height: 84px;
    margin-right: 16px;
    border: 1px solid #DDD;
    border-radius: 4px;
    background-color: #FFF;
    color: #636D72;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
  }
}

.ImportOptions-navigationButton {
  position: absolute;
  top: 28px;
  padding: 0;
  line-height: 40px !important;
}

.ImportOptions-navigationButton--prev {
  left: -80px;
}

.ImportOptions-navigationButton--next {
  right: -80px;
}

.ImportOptions-navigationButton.is-disabled:hover {
  border-color: #CCC;
  color: #CCC;
}

.ImportOptions-tabs {
  display: block;
  width: $w;
  padding: 28px 0;
  overflow-x: hidden;
}

.ImportOptions-tabsList {
  display: flex;
  flex-wrap: nowrap;
  transition: margin 150ms;
}

.ImportOptions-tab {
  min-width: 140px;
  margin: 0 $sMargin-formRow 0 0;
  text-align: center;
}

@mixin importIcon($name) {
  .ImportOptions__item .is-#{$name},
  .SelectedImport__header .is-#{$name} {
    display: block;
    width: 44px;
    height: 20px;
    background-image: url($assetsDir + '/images/layout/connectors/#{$name}.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .ImportOptions__item .is-#{$name} {
    margin-bottom: 8px;
  }
  .SelectedImport__header .is-#{$name} {
    margin-right: 8px;
  }
}

@include importIcon(box);
@include importIcon(dropbox);
@include importIcon(gdrive);
@include importIcon(bigquery);
@include importIcon(hive);
@include importIcon(sqlserver);
@include importIcon(mysql);
@include importIcon(postgresql);
@include importIcon(arcgis);

.SelectedImport {
  &__header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 940px;
    margin: 10px auto 0;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #DDD;
  }

  &__back {
    position: absolute;
    left: 0;
  }

  &__desc {
    margin-top: 20px;
    margin-bottom: 32px;
  }
}
