@import "../../../variables/colors";
@import "../../../variables/sizes";

// Default import panel styles

$w: 780px;

.ImportPanel {
  width: $w;
  margin: 0 auto;
}

.ImportPanel-header {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: $sMargin-group 0;
  text-align: center;
}

.ImportPanel-headerIcon {
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
}

.ImportPanel-headerDescription {
  width: 465px;
  margin: 5px auto 0;
}

.ImportPanel-headerDescription--normalWeight { font-weight: $sFontWeight-normal; }
.ImportPanel-headerDescription--withoutWidth { width: auto; }
.ImportPanel-headerDescription--negative { color: $cHighlight-negative; }

.ImportPanel-headerDescription--negative,
.ImportPanel-headerDescriptionLink {
  color: $cHighlight-negative;
  text-decoration: underline;
  &:hover { color: $cHighlight-negative; }
}

.ImportPanel-headerButton {
  position: absolute;
  top: 28px;
  left: 0;
}
.ImportPanel-headerLink { margin-top: 30px; }

.ImportPanel-body {
  display: block;
  position: relative;
  width: 100%;

  &.bodyExpanded {
    margin-top: 300px;
  }
}

.ImportPanel-bodyWrapper {
  margin: 0 auto;
}

.ImportPanel-state {
  display: none;
  width: $w;
}

.ImportPanel-list {
  width: 320px;
  margin: 0 auto;
  padding-left: 80px;
  list-style-type: disc;
}

.ImportPanel-listItem {
  margin-bottom: 10px;
  color: $cTypography-paragraphs;
  font-size: 14px;
  font-weight: $sFontWeight-lighter;
}
.ImportPanel-actions { text-align: center; }
.ImportPanel-actionsButton { display: inline-block; }

.ImportPanel-sidebar {
  width: 200px;

  .ip-block {
    padding: 18px 24px;
    border: 1px solid #DDD;
    border-radius: 4px;
    font-family: monospace;
    font-size: 13px;
    line-height: 15px;
  }
}
