@import '../../../variables/colors';
@import '../../../variables/sizes';

// Imports styles
$w: $sLayout-width;

.ImportOptions {
  position: relative;
  width: $w;
  margin: 8px auto 20px;

  &__category-title {
    margin-top: 24px;
    margin-bottom: 8px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 86px;
  }

  &__item {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 84px;
    margin-right: 16px;
    border: 1px solid $cStructure-mainLine;
    border-radius: 4px;
    background-color: $cStructure-mainBkg;
    color: $cTypography-helpSecondary;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;

    &:hover {
      border-color: #1785FB;
    }
  }

  &__overlay {
    display: none;
  }

  &__tag {
    display: none;
  }

  &__lock {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 12px;
    height: 16px;
    background-image: url($assetsDir + '/images/layout/connectors/locked.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__input {
    &--long {
      box-sizing: border-box !important;
      width: 460px;
    }
  }

  &__label {
    padding-top: 12px;
  }

  &__input-error {
    margin-top: -4px;
    padding: 0 12px;
    border: 1px solid $cHighlight-negative;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #FFF4F4;
    color: $cHighlight-negative;
    font-size: $sFontSize-normal;
    line-height: 38px;
  }

  &__CodeMirror {
    position: relative;
    width: 460px;

    .CodeMirror {
      position: relative;
      height: 114px;
      margin-top: 0;
      margin-bottom: 0;
      padding: 10px 0;
      border-radius: 4px;
      background-color: rgb(43, 60, 67);
      line-height: 13px;

      pre {
        padding-left: 14px;

        &.CodeMirror-placeholder {
          color: rgba(255, 255, 255, 0.24);
        }
      }
    }

    .CodeMirror-code {
      & > div {
        margin-bottom: 3px;
      }
    }
  }

  &__hint {
    width: 460px;
  }

  &__feedback {
    padding-top: 75px;
    text-align: center;
  }
}

.is-disabled .ImportOptions__overlay {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: $cStructure-mainBkg;
}

.is-beta .ImportOptions__tag {
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 32px;
  height: 16px;
  border-radius: 10px;
  background: $cTypography-linkSecondary;
  color: $cTypography-headersOverBlack;
  font-size: $sFontSize-smaller;
  font-weight: 600;
}

div[class^="gtm-connectors"] {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
}

.ImportOptions-navigationButton {
  position: absolute;
  top: 28px;
  padding: 0;
  line-height: 40px !important;
}

.ImportOptions-navigationButton--prev {
  left: -80px;
}

.ImportOptions-navigationButton--next {
  right: -80px;
}

.ImportOptions-navigationButton.is-disabled:hover {
  border-color: #CCC;
  color: #CCC;
}

.ImportOptions-tabs {
  display: block;
  width: $w;
  padding: 28px 0;
  overflow-x: hidden;
}

.ImportOptions-tabsList {
  display: flex;
  flex-wrap: nowrap;
  transition: margin 150ms;
}

.ImportOptions-tab {
  min-width: 140px;
  margin: 0 $sMargin-formRow 0 0;
  text-align: center;
}

@mixin importIcon($name) {
  .ImportOptions__item .is-#{$name} {
    display: block;
    width: 44px;
    height: 20px;
    margin-bottom: 8px;
    background-image: url($assetsDir + '/images/layout/connectors/#{$name}.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@include importIcon(box);
@include importIcon(dropbox);
@include importIcon(gdrive);
@include importIcon(bigquery);
@include importIcon(hive);
@include importIcon(sqlserver);
@include importIcon(mysql);
@include importIcon(postgresql);
@include importIcon(arcgis);

.SelectedImport {
  &__header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 940px;
    margin: 10px auto 0;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $cStructure-mainLine;
  }

  &__icon {
    margin-right: 8px;
  }

  &__back {
    position: absolute;
    left: 0;
  }

  &__desc {
    margin-top: 20px;
    margin-bottom: 32px;
  }

  &__tag {
    display: inline-block;
    align-self: center;
    margin-left: 26px;
    padding: 0 4px;
    border: 1px solid $cTypography-linkSecondary;
    border-radius: 2px;
    color: $cTypography-helpSecondary;
  }
}

.ImportOther {
  margin-right: 16px;
}

.ImportOther__step1,
.ImportOther__step2,
.ImportOther__step3,
.ImportOther__step4 {
  display: none;

  &.is-active {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: $cStructure-mainBkg;
    color: $cTypography-helpSecondary;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
  }
}

.ImportOther__step2,
.ImportOther__step3,
.ImportOther__step4 {
  flex-direction: column;
  width: 192px;
  height: 104px;
  border: 1px solid $cHighlight-main;
}

.ImportOther__step1 {
  flex-direction: row;
  width: 170px;
  height: 84px;
  border: 1px solid $cStructure-mainLine;

  &:hover {
    border-color: $cHighlight-main;
  }

  .icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-image: url($assetsDir + '/images/layout/connectors/add.svg');
    background-repeat: no-repeat;
    background-position: left center;
  }
}

.ImportOther__step2 {
  .ImportOther__input {
    position: relative;
    z-index: 2;
    width: 90px;
    height: 32px;
    margin-top: 12px;
    padding: 0 48px 0 12px;
    border: 1px solid #CCC;
    border-radius: 4px;
    outline: none;
    color: #666;

    &:focus {
      border-color: #999;
    }
  }

  .ImportOther__inputSubmit {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 32px;
    height: 54px;
    margin-top: -14px;
    padding: 0;
    opacity: 1;
    background: none;

    &.is-disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
}

.ImportOther__step3 {
  .ImportOther__spinner {
    margin-top: 12px;
  }
}

.ImportOther__step4 {
  .ImportOther_requestText {
    margin: 0 20px;
  }

  .ImportOther__requestButton {
    box-sizing: content-box;
    margin-top: 12px;
  }

  .ImportOther__requestButton {
    width: 60px;

    &Text {
      display: block;
      margin-right: -20px;
      margin-left: -8px;
      background-image: url($assetsDir + '/images/layout/connectors/request-success.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 12px;
    }
  }

  &.hasError {
    border-color: $cHighlight-caution;

    .ImportOther__requestButton {
      width: auto;

      &Text {
        margin: auto;
        background: none;
      }
    }
  }
}
