<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>CartoDB Spec Runner</title>

  <link rel="shortcut icon" type="image/png" href="lib/jasmine-1.3.1/jasmine_favicon.png">
  <%#<link rel="stylesheet" type="text/css" href="lib/jasmine-1.3.1/jasmine.css">%>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

  <%= stylesheet_link_tag 'specs.css' %>
  <%= javascript_include_tag 'cdb.js', 'application.js', 'dashboard.js', 'table.js', 'common_data.js', 'table_public.js', 'specs.js' %>

  <script type="text/javascript">
    // replace the cdb.init function for a dummy in order to not run the apps
    var old_init = cdb.init;
    cdb.init = function() { old_init(); };
    cdb.templates.namespace = 'cartodb/';

    (function() {
      // Let's start
      $.faviconNotify('/favicons/cartofante_grey.png');

      var jasmineEnv = jasmine.getEnv();
      var htmlReporter = new jasmine.HtmlReporter();
      var reportRunnerResults = htmlReporter.reportRunnerResults;

      htmlReporter.reportRunnerResults = function(runner) {
        reportRunnerResults(runner);

        var specs = runner.specs();
        var specResults;
        var assertionCount = {total: 0, passed: 0, failed: 0};

        for (var i = 0; i < specs.length; ++i) {
          if (this.specFilter(specs[i])) {
            specResults = specs[i].results();
            assertionCount.total += specResults.totalCount;
            assertionCount.passed += specResults.passedCount;
            assertionCount.failed += specResults.failedCount;
          }
        }

        if (assertionCount.failed > 0) {
          // Buhh!
          $.faviconNotify('/favicons/cartofante_red.png');
        } else {
          // Yay!
          $.faviconNotify('/favicons/cartofante_green.png');
        }

      };

      jasmineEnv.addReporter(htmlReporter);
      jasmineEnv.specFilter = function(spec) {
        return htmlReporter.specFilter(spec);
      };

      window.onload = function() {
        jasmineEnv.execute();
      };

    })();
  </script>

</head>

<body>
  <div class="globalerror"></div>
  <div class="panes">
  </div>
</body>

</html>
