
  /**
   *  Styles for longitude and latitude pane 
   *
   */

  @import "compass/css3/border-radius";
  @import "../../old_common/vars";
  @import "../../old_common/mixins";
  @import "../../old_common/form-elements";


  $br: 3px; // Default border radius for this pane


  section.block div.content {

    .geocoding-pane-lonlat {

      ul.lonlat-columns {
        position:relative;
        @include display-flex();
        @include justify-content(space-between, justify);
        z-index:2;

        li {
          border:none;

          // Column type
          &.column {
            width:249px;
            @include cross-browser(flex-grow, 2);
          }

          // Separator type
          &.separator {
            position:relative;
            @include cross-browser(flex-grow, 1);

            // Lines
            &:before,
            &:after {
              content:'';
              position:absolute;
              left:50%;
              width:1px;
              margin-left:-1px;
              background:rgba(black,0.23);
              z-index:2;
            }

            &:before { top:0; height:35px }
            &:after { bottom:0; height:9px }
          }

          &:first-child {
            .lonlat-content {
              @include border-bottom-left-radius($br);
              border-left:1px solid #BBBBBB;
            }
            label { @include border-top-left-radius($br) } 
          }

          &:last-child {
            .lonlat-content {
              border-right:1px solid #BBBBBB;
              @include border-bottom-right-radius($br);
            }
            label { @include border-top-right-radius($br) } 
          }
        }

        div.lonlat-content {
          padding:14px;
          background:white;
          border-bottom:1px solid #BBBBBB;
        }

        div.separator-content {
          position:relative;
          height:21px;
          padding:14px 5px;
          background:white;
          text-align:center;
          color:#BBB;
          font:normal 17px $text-fonts;
          line-height:21px;
          border-bottom:1px solid #BBBBBB;
        }

        label {
          @include display-flex();
          @include align-items(center, center);
          height:26px;
          padding:0 15px;
          background:#394046;
          font:500 12px $text-fonts;
          color:white;
        }
      }

      // Infobox styles
      @include default-form-info();
    }


  }
  