
  /**
   * Georeference message dialog
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/filter";
  @import "../../old_common/vars";
  @import "../../old_common/form-elements";
  @import "../../old_common/mixins";


  .geocoding_message_dialog {
    text-align: center;

    h4 { margin: 0 0 10px 0; padding: 0; font-size: 17px; line-height:normal; }
    p  { font-size: 15px; color: #666; line-height:normal; }


    .mamufas .block.modal a.close {
      right: -18px;
      top: -18px;
    }

    .mamufas .block.modal div.content { 
      padding: 40px;
    }

    section.block p { margin: 0 0 15px 0;}

    .mamufas .block.modal div.foot { overflow: visible; padding: 0px 40px 48px 40px; }
    .mamufas .block.modal div.foot a { padding: 12px 32px; }

    .marker {

      &.a { top: 0px;  left: 14px; }
      &.b { top: 30px; left: 42px; }
      &.c { top: 20px; left: 72px; }

      @include opacity(0);
      width: 12px;
      height: 12px;
      display:block;
      position:absolute;
      @include border-radius(100px);
      background: #ccc;
      border: 1px solid #bbb;

      &.a {
        -webkit-transition: all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 300ms ease-in-out, opacity 200ms ease-in;
        -moz-transition:    all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 300ms ease-in-out, opacity 200ms ease-in;
        -o-transition:      all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 300ms ease-in-out, opacity 200ms ease-in;
        transition:         all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 300ms ease-in-out, opacity 200ms ease-in;
      }

      &.b {
        -webkit-transition: all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 200ms ease-in-out, opacity 200ms ease-in;
        -moz-transition:    all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 200ms ease-in-out, opacity 200ms ease-in;
        -o-transition:      all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 200ms ease-in-out, opacity 200ms ease-in;
        transition:         all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 200ms ease-in-out, opacity 200ms ease-in;
      }

      &.c {
        -webkit-transition: all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 400ms ease-in-out, opacity 400ms ease-in;
        -moz-transition:    all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 400ms ease-in-out, opacity 400ms ease-in;
        -o-transition:      all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 400ms ease-in-out, opacity 400ms ease-in;
        transition:         all 400ms ease-in-out,border-color 400ms ease-in-out, background-color 400ms ease-in-out, top 400ms ease-in-out, opacity 400ms ease-in;
      }

      &.error:after {
        content: '×';
        color: #f1f1f1;
        display: block;
        position: relative;
        top: -3px;
        font-size: 15px;
      }

    }

    .icon_container {
      margin: 0 auto 5px auto;
      position:relative;
      width: 96px;
      height: 96px;
      @include border-radius(200px);
      border: 2px solid rgba(#333, .55);

      -webkit-background-clip: padding-box;
      -moz-background-clip:    padding;
      background-clip:         padding-box;
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      background-size: cover;

      clear:both;
      overflow:hidden;

      .icon { width: 96px; height: 96px; }
    }

    .opt {
      position:relative;
      margin: auto;
      width: 96px; height: 96px;
      margin: 0 auto 25px auto;
    }

    .opt .icon_container .icon {
      @include filter(grayscale(100%));
      @include opacity(.9);
    }

    .opt, .opt > .icon {
      -webkit-transition: all 250ms ease-in-out;
      -moz-transition:    all 250ms ease-in-out;
      -o-transition:      all 250ms ease-in-out;
      transition:         all 250ms ease-in-out;
    }

    .opt > .icon {
      position:absolute;
      top: 0px;
      right: -5px;
      width:31px;
      height:31px;
      @include simple-transition(all, 170ms, ease-in);
    }

    .opt .icon.warning {
      @include background(image-url("layout/georeference_warning.png") repeat center center);
    }

    .opt .icon.error {
      @include background(image-url("layout/georeference_error.png") repeat center center);
    }

    .point .icon_container .icon { @include background(image-url("layout/georeference_points.png") repeat center center); }

    .point.selected.animated .icon_container .icon .marker.a { top: 33px; @include opacity(1);-webkit-transform: scale(1, 1); transform: scale(1, 1); }
    .point.selected.animated .icon_container .icon .marker.b { top: 60px; @include opacity(1);-webkit-transform: scale(1, 1); transform: scale(1, 1); }
    .point.selected.animated .icon_container .icon .marker.c { top: 40px; @include opacity(1);-webkit-transform: scale(1, 1); transform: scale(1, 1); }

    .point.animated .icon_container .icon .marker.a { top: 33px; @include opacity(.7); -webkit-transform: scale(.6, .6); transform: scale(.6, .6); }
    .point.animated .icon_container .icon .marker.b { top: 60px; @include opacity(.7); -webkit-transform: scale(.6, .6); transform: scale(.6, .6); }
    .point.animated .icon_container .icon .marker.c { top: 40px; @include opacity(.7); -webkit-transform: scale(.6, .6); transform: scale(.6, .6); }

    .polygon {

      .icon_container:before {
        content: '';
        width: 100px;
        height: 100px;
        display: block;
        border: 3px solid #fff;
        background: none;
        position: absolute;
        border-radius: 300px;
        top: 50%;
        left: 50%;
        margin-left: -49px;
        margin-top: -49px;
        padding: 0;
        @include box-sizing(border-box);
        z-index:1;
      }

      .icon_container .icon {
        -webkit-transform: scale(.5, .5) rotate(10deg);
        -moz-transform: scale(.5, .5) rotate(10deg);
        transform: scale(.5, .5) rotate(10deg);
        @include background(image-url("layout/georeference_polygons.png") repeat center center);
        width: 400px;
        height: 400px;
        top: -132px;
        left: -137px;
        position: absolute;
      }

      &.selected .icon_container .icon {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
      }
    }

  }