
  /**
   *  Address geocoding styles within geocoding dialog
   *
   */

  @import "compass/css3/border-radius";
  @import "../../old_common/vars";
  @import "../../old_common/mixins";


  .geocoding-quota {

    .loading {
      padding-left:45px;
      background: image-url("layout/loader_transparent.gif") no-repeat 0 0;
    }

    .message p {
      font-size:13px;
      em { color: #EB594C }
    }

    &.pane-quota .pane-progress.geocoding-progress {
      height:42px;
    }
  }


  .geocoding-pane-address {

    // Add additional column view
    .geocoding-additional-columns {
      position:relative;

      li { border-bottom:1px solid rgba(204,204,204,0.35)!important }
    }

    // Add additional column link
    .add_column {
      position:absolute;
      bottom:-8px;
      left:15px;
      padding:3px 8px;
      border:1px solid #397EB8;
      @include border-radius(15px);
      background:white;
      text-decoration:none;
      font-size:9px;
      z-index:2;
      
      &:hover { border-color:black }
    }

    .geocoding-pane-options ul {
      li {
        position:relative;
      }
    }

    .geocoding-pane-terms {
      @include display-flex();
      @include justify-content(flex-start, start);
      float:left;
      width:287px;
      margin-top:10px;

      .checkbox { width:20px; }
      
      label {
        margin-left:7px;
        color:#999999;
        font-size:13px;

        &.error { color:#eb594c }
      }

      input { margin-top:2px }
    }
  }