<div class="ImportPanel-header">
  <h3 class="ImportPanel-headerTitle">Create a new <%= type %> from scratch</h3>
  <p class="ImportPanel-headerDescription">We will redirect you once it finishes</p>
</div>
<div class="ImportPanel-body">
  <div class="ImportPanel-actions">
    <button class="Button Button--main ImportPanel-actionsButton js-create">Create <%= type %></button>
  </div>
</div>