<div class="ImportPanel-header">
  <h3 class="ImportPanel-headerTitle"><%- createModel.titleForCreateFromScratch() %></h3>
  <p class="ImportPanel-headerDescription"><%- createModel.explainWhatHappensAfterCreatedFromScratch() %></p>
</div>
<div class="ImportPanel-body">
  <div class="ImportPanel-actions">
    <button class="Button Button--main ImportPanel-actionsButton js-create"><%- createModel.labelForCreateFromScratchButton() %></button>
  </div>
</div>
