<div class="ImportPanel-header">
  <h3 class="ImportPanel-headerTitle">Create a new dataset from scratch</h3>
  <% if (state === "error") { %>
    <p class="ImportPanel-headerDescription ImportPanel-headerDescription--negative">There was a problem, please try again. If the problem persist <a href="mailto:support@cartodb.com" class="ImportPanel-headerDescriptionLink">contact us</a>.</p>
  <% } else { %>
    <p class="ImportPanel-headerDescription">We will redirect you to the dataset once it finishes</p>
  <% } %>
</div>
<div class="ImportPanel-body">
  <div class="ImportPanel-actions">
    <% if (state === "idle") { %>
      <button class="Button Button--main ImportPanel-actionsButton js-create">Create dataset</button>
    <% } else if (state === "creating") { %>
      <div class="Spinner ImportPanel-actionsLoader"></div>
    <% } else if (state === "error") { %>
      <button class="Button Button--main ImportPanel-actionsButton js-create">Try again</button>
    <% } %>  
  </div>
</div>