<div class="ImportPanel-header">
  <h3 class="ImportPanel-headerTitle">Upload a file or an URL</h3>
  <p class="ImportPanel-headerDescription">Paste an URL or upload a file form your computer</p>
</div>
<div class="ImportPanel-body">
  <div class="ImportPanel-bodyWrapper">
    <div class="ImportPanel-state is-idle">
      <form class="Form">
        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Enter a URL</label>
          </div>
          <div class="Form-rowData">
            <input type="text" class="Form-input Form-input--longer has-icon" value="" placeholder="www.cartodb.com/library" />
            <i class="iconFont iconFont-Dribbble"></i>
          </div>  
        </div>
        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Upload a file</label>
          </div>
          <div class="Form-rowData">
            <input type="file" class="Form-file" accept="<%= extensions %>"/>
          </div>
        </div>
      </form>
    </div>
    <div class="ImportPanel-state is-selected">

    </div>
  </div>
</div>