<div class="ImportPanel-header">
  <h3 class="ImportPanel-headerTitle">Twitter trends</h3>
  <p class="ImportPanel-headerDescription">Enter search terms split in up to 4 categories to differenciate them with an extra column. The terms will match exactly.</p>
</div>
<div class="ImportPanel-body">
  <form class="Form">
    <div class="ImportTwitterPanel-cagetories"></div>
    <div class="ImportTwitterPanel-datePicker">
      <div class="Form-row ">
        <div class="Form-rowLabel">
          <label class="Form-label">From / to</label>
        </div>
        <div class="Form-rowData Form-rowData--longer DatePicker"></div>
      </div>
    </div>
  </form>
</div>