<div class="ImportPanel-header">
  <h3 class="ImportPanel-headerTitle">Upload a file or an URL</h3>
  <p class="ImportPanel-headerDescription">Paste an URL or upload a file form your computer</p>
</div>
<div class="ImportPanel-body">
  <div class="ImportPanel-bodyWrapper">
    <div class="ImportPanel-state">
      <form class="">
        
        <input type/>
      </form>
    </div>
    <div class="ImportPanel-state">
    </div>
  </div>
</div>