<a href="<%= homeUrl %>" class="Logo">
  <span class="Logo--avatar">
    <i class="iconFont iconFont-CartoFante"></i>
  </span>
  <% if (googleEnabled) { %>
    <span class="Logo-sub Logo-sub--google"></span>
  <% } %>
</a>