<a href="<%= homeUrl %>" class="Logo">
  <span class="Logo--avatar">
    <i class="iconFont iconFont-CartoFante"></i>
  </span>
</a>

<!-- <a href="<%= homeUrl %>" class="FlipLogo FlipLogo--avatar">
  <div class="FlipLogo--front">
    <i class="iconFont iconFont-CartoFante"></i>
  </div>
  <div class="FlipLogo--back"></div>
</a> -->