<ul class="SettingsDropdown">
  <li class="SettingsDropdown-item SettingsDropdown-item--public">
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/gallery/">Gallery</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/explore">Explore</a></p>
  </li>
</ul>
