// Edit visualization (dataset or map) metadata
// dialog content styles
// ---------------------------------------------

@import '../variables/mixins';
@import '../variables/colors';
@import '../variables/sizes';

$width: 443px;

// Gradients
.EditVisMetadata-header {
  @include flex-grow(1);
  min-height: 100px;
  max-height: 100px;
  padding: 28px 0;
  text-align: center;
}
.EditVisMetadata-markdown {
  position: absolute;
  right: 0;
  bottom: -25px;
  color: $cTypography-help;
  font-size: $sFontSize-small;
}
.EditVisMetadata-markdownIcon {
  margin-right: 10px;
  padding: 0 2px 2px 5px;
  border-radius: 2px;
  background: #DCDCDC;
  color: #F9F9F9;
}
.EditVisMetadata-markdownIconText {
  font-size: 8px;
  font-weight: $sFontWeight-small;
}
.EditVisMetadata-markdownIconChar {
  font-size: $sFontSize-small;
  font-style: normal;
  line-height: normal;
}
.EditVisMetadata-privacyIndicator:hover {
  color: #777;
  text-decoration: underline;
}
.EditVisMetadata-formContent,
.EditVisMetadata-formFooter {
  width: $width;
  margin: 0 auto;
}
.EditVisMetadata-formContent {
  position: relative;
  padding: 28px 0 120px;
}
.EditVisMetadata-formFooter {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);

}
.EditVisMetadata .Dialog-stickyFooter {
  left: 0;
  z-index: 10;
}
.EditVisMetadata-formFooter .Button {
  margin: 0;
}
