// Feature data dialog content styles
// --------------------------------------------------

@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

.FeatureData {

}
.FeatureData .Dialog-header {
  height: 245px;
  min-height: 245px;
  padding-top: 30px;
  padding-bottom: 0;
}
.FeatureData .Dialog-headerTitle { font-size: 16px }
.FeatureData .Dialog-headerText { font-size: 14px }
.FeatureData-mapWrapper {
  position: relative;
  width: 100%;
  height: 115px;
  margin-top: 30px;
  z-index: 1;
}
.FeatureData-mapContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.FeatureData-mapMamufas {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  border: 1px solid rgba(black, 0.1);
  border-left: 0;
  border-right: 0;
  @include css3-prefix(box-sizing, content-box);
  z-index: 2;
}
.FeatureData-mapContainer .leaflet-control-attribution,
.FeatureData-mapContainer .cartodb-gmaps-attribution { display: none }
.FeatureData .Dialog-expandedSubContent {
  position: relative;

  &:before,
  &:after {
    content: '';
    position: fixed;
    left: 50%;
    width: 620px;
    height: 18px;
    margin-left: -310px;
    z-index: 5;
  }

  &:before {
    top: 275px;
    background-color: transparent!important;
    @include background-gradient(rgba(#F9F9F9,1),rgba(#F9F9F9,0));
  }

  &:after {
    bottom: 97px;
    @include background-gradient(rgba(#F9F9F9,0),rgba(#F9F9F9,1));
  }
}
.FeatureData .Dialog-stickyFooter {
  left: 0;
  z-index: 10;
}
.FeatureData-formContent,
.FeatureData-formFooter {
  width: 620px;
  margin: 0 auto;
}
.FeatureData-formContent {
  position: relative;
  padding: 28px 0 120px;
}
.FeatureData-formFooter {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  background: #F9F9F9;
}
.FeatureData-formFooter .Button { margin: 0 }

.FeatureData-loader { display: none }
