@import "../variables/sizes";

.Georeference-content {
  // Should match the width as the .Filters-type container has with the current set of tabs,
  // so the content is aligned width the filters' item
  width: 636px;
  margin-left: auto;
  margin-right: auto;
}

.Georeference-contentItem { margin-top: $sMargin-section }
