@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";
@import "../table/table-sprite";

.MergeDatasets {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(stretch, stretch);
}
.MergeDatasets-list {
  width: 420px;
  margin-bottom: 120px; // compensate for static dialog footer
}
.MergeDatasets-instructions {
  width: 630px;
  margin: 0 auto $sMargin-section auto;
  text-align: center;
}
.MergeDatasets-desc {
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  text-align: center;
  &.MergeDatasets-desc--legend {
    & > *:first-child { margin-top: $sMargin-group }
    & > *:nth-child(even) { margin-bottom: $sMargin-group }
    & > *:nth-child(odd) { margin-bottom: $sMargin-elementInline }
  }
}
.MergeDatasets-countDescIcon {
  width: 72px;
  height: 68px;
  @include background(sprite($table-sprites, 'spatial-merge-count') no-repeat);
  margin-top: $sMargin-section;
  margin-bottom: $sMargin-group;
}
.MergeDatasets-countDesc { margin-bottom: $sMargin-section }
