@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";
@import "../table/table-sprite";

.MergeDatasets {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(stretch, stretch);
}
.MergeDatasets-stickyHeader {
  background-color: $cStructure-mainBkg;
  border-bottom: 1px solid $cStructure-mainLine;
  position: fixed;
  top: 157px; // compensate for dialog header
  left: 0;
  width: 100%;
  z-index: 2;
}
.MergeDatasets-stickyHeaderContent {
  @include display-flex();
  @include justify-content(flex-start, start);
  @include align-items(flex-start);
}
.MergeDatasets-instructions {
  width: 630px;
  margin: 0 auto $sMargin-group auto;
  text-align: center;
}
.MergeDatasets-desc {
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  text-align: center;
  width: 245px;
  margin-left: auto;
  margin-right: auto;
  &.MergeDatasets-desc--legend {
    & > *:first-child { margin-top: $sMargin-group }
    & > *:nth-child(even) { margin-bottom: $sMargin-group }
    & > *:nth-child(odd) { margin-bottom: $sMargin-elementInline }
  }
}
.MergeDatasets-countDescIcon {
  width: 50px;
  height: 50px;
  @include background(sprite($table-sprites, 'spatial-merge-count') no-repeat);
  margin-top: $sMargin-section;
  margin-bottom: $sMargin-elementInline;
}
.MergeDatasets-countDesc { margin-bottom: $sMargin-section }

.MergeDatasets-select {
  margin-left: $sMargin-element;
  margin-right: $sMargin-element;
  margin-bottom: $sMargin-elementInline;
}
.MergeDatasets-list { width: 420px }
.MergeDatasets-list--2nd { margin-left: 84px }
// compensate for List--selections that occupy more space and thus adds more margins to items
.MergeDatasets-list--sticky1st { margin-left: 6px }
.MergeDatasets-list--sticky2nd { margin-left: 90px }
.MergeDatasets-rowItem {
  @include display-flex();
  @include justify-content(flex-start, start);
  @include align-items(flex-start);
}
.MergeDatasets-rowItemRadio {
  margin-top: $sMargin-min; // make the radio button aligned with the text on the right side
  margin-right: $sMargin-elementInline;
}
.MergeDatasets-radioPlaceholder { width: 16px }

.MergeDatasets-selectAllText { margin-right: $sMargin-elementInline }
.MergeDatasets-fixedAboveFooter {
  position: fixed;
  bottom: 100px; //to appear above fixed footer
  background: $cStructure-grayBkg;
  margin-bottom: 0;

  // same as .CreateDialog-footerShadow but using :before to not have to add more markup
  &:before {
    content: '';
    position: absolute;
    top: -18px;
    display: block;
    width: 100%;
    height: 18px;
    @include background-gradient(rgba(#F9F9F9, 0), rgba(#F9F9F9, 1));
    z-index: 2;
  }
}
.MergeDatasets-puzzleMergeMethod {
  padding-left: $sMargin-elementInline;
  padding-right: $sMargin-elementInline;
  text-transform: uppercase;
}
