@import "../variables/sizes";

// Overrides rules defines in the table/**/*.scss files, to not have to carry them all over
.table th {
  text-align: left;
  font-weight: normal;
}
div.table table thead tr th>div label { line-height: 0.8 }
div.table table thead tr th>div p.auto { padding-right: 38px }
.header_content div.left h1 a.title {
  font-size: 15px;
}
.header_content div.left div.metadata p a {
  font-size: 15px;
}

div.vis_navigation nav .hidden {
  display: none !important;
}


.CodeMirror { font-size: 15px }

div.legends_panel div.forms.panel_content .right .checkbox { margin-top:11px; line-height:1 }

