<% content_for :head do %>
  <%= stylesheet_link_tag('reset', 'front/thanks') %>
<% end %>
<section>
  <h1>Thank you!</h1>
  <p>We are trying to create something beautiful and can only accept limited number of testers. We hope you will receive news soon!</p>
  <p class="follow">and <a href="http://www.twitter.com/cartodb" class="twitter" target="_blank" rel="nofollow">follow us on twitter</a></p>
</section>
<footer>CartoDB is a product from <a href="http://www.vizzuality.com" target="_blank" rel="nofollow">vizzuality</a></footer>
