<div class="ImportPanel">
  <div class="ImportPanel-header">
    <h3 class="ImportPanel-headerTitle">Insert your Mapbox URL</h3>
  </div>
  <div class="Form-row">
    <div class="Form-rowLabel">
      <label class="Form-label">Enter your map URL</label>
    </div>
    <div class="Form-rowData Form-rowData--longer">
      <input type="text" class="Form-input Form-input--longer js-url" value="" placeholder="E.g. https://a.tiles.mapbox.com/i61ac9gl">
      <div class="Form-inputError js-error"></div>
    </div>
  </div>
  <div class="Form-row">
    <div class="Form-rowLabel">
      <label class="Form-label">Enter your Mapbox ID</label>
    </div>
    <div class="Form-rowData Form-rowData--longer">
      <input type="text" class="Form-input Form-input--longer js-url" value="" placeholder="E.g. pk.bfg32ewdsadeyJ1Ijoi…">
      <div class="Form-inputError js-error"></div>
    </div>
  </div>
</div>
<div class="Dialog-footer Dialog-footer--withoutBorder u-inner">
  <%/* ok class == let parent dialog view handle the click event */%>
  <button class="Button Button--main Button--inline ok is-disabled">
    <span>Add basemap</span>
  </button>
</div>
