@import "../variables/colors";
@import "../variables/sizes";

.ChangePrivacy-upgradeBanner {
  padding: 20px 0;
  background: #F0F7FC;
}

.UpgradeElement.ChangePrivacy-upgradeBannerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 $sMargin-group;
  padding: 0;
  border: none;
  background: none;
}

.ChangePrivacy-shareBanner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ChangePrivacy-shareBannerIcon {
  margin-right: $sMargin-elementInline;
}

.ChangePrivacy-startFooter {
  display: flex;
  align-content: space-between;
  align-items: stretch;
  justify-content: center;
}

.ChangePrivacy-shareHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: none; // override Dialog-body default
}

.ChangePrivacy-shareHeaderBackIcon {
  margin-right: $sMargin-element;
}

.ChangePrivacy-passwordInput {
  position: absolute;
  bottom: 9px;
  left: 9px;
  width: 172px;
  outline: none;
}

.ChangePrivacy-shareListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: $sMargin-element;
  padding-bottom: $sMargin-element;
}

.ChangePrivacy-shareListItem:not(:nth-child(1)) {
  border-top: 1px solid $cStructure-mainLine;
}

.ChangePrivacy-shareListItemInfo {
  display: flex;
  justify-content: flex-start;
  max-width: 400px;
}

.ChangePrivacy-shareListItemToggler {
  margin-right: 8px;
}

.ChangePrivacy-shareListItemTogglerContainer {
  margin-right: 30px;
}

.ChangePrivacy-shareListItemIcon {
  margin-right: $sMargin-elementInline;
}

.ChangePrivacy-infoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  margin-right: $sMargin-elementInline;
  border: 1px solid #F2C000;
  border-radius: 30px;
  background-color: #F6D35C;
  color: WHITE;
}

.ChangePrivacy-shareFooter {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  height: 97px;
  background-color: $cStructure-grayBkg;
}
