// Default description for datasets and maps
// --------------------------------------------------

@import "../variables/colors";
@import "../variables/sizes";
@import "../variables/mixins";

.DefaultDescription {
  position: relative;
  overflow-wrap: break-word;
}

.DefaultDescription > * {
  margin: 0;
  padding: 0;
}

.DefaultDescription--error {
  color: $cHighlight-negative;
}
