@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

// Not supported dialog
// --------------------------------------------------

.NotSupportedDialog {
  position: absolute;
  z-index: 10000;
  top: 50%;
  left: 50%;
  width: 356px;
  height: 213px;
  margin-top: -107px;
  margin-left: -178px;
  padding: 0;
  background-color: WHITE;
  color: $cTypography-paragraphs;
  text-align: center;
}

.NotSupportedDialog-title {
  display: inline-block;
  width: 77px;
  margin: 30px 0 0;
  padding-bottom: 16px;
  border-bottom: 1px solid $cStructure-mainLine;
  font-size: 13px;
  font-weight: bold;
  vertical-align: top;
}

.NotSupportedDialog-desc {
  display: block;
  margin: 12px 0 0;
  padding: 0 40px;
  font-size: 15px;
}

.NotSupportedDialog-list {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border-top: 1px solid $cStructure-mainLine;
  list-style: none;
}

.NotSupportedDialog-item {
  margin: 0;
  padding: 0;
  float: left;
  border-right: 1px solid $cStructure-mainLine;

  &.is-last {
    border: none;
  }
}

.NotSupportedDialog-itemLink {
  display: block;
  width: 118px;
  height: 74px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.NotSupportedDialog-itemLink--Safari {
  background: url($assetsDir + '/images/layout/safari.png') no-repeat center center;
}

.NotSupportedDialog-itemLink--Chrome {
  background: url($assetsDir + '/images/layout/chrome.png') no-repeat center center;
}

.NotSupportedDialog-itemLink--Firefox {
  background: url($assetsDir + '/images/layout/firefox.png') no-repeat center center;
}
