@import '../variables/colors';
@import '../variables/sizes';

/* -----------------------

 John Snow
 $20/month
-----------
 Up to 1MB
 ---------
 4 layers
 ---------
    ...
-----------

------------------------- */
$br: 4px;

.PricePlans {
  display: inline-block;
  width: 100%;
}

.PricePlans-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 15px;
}

.PricePlans-yearly {
  display: flex;
}

.PricePlans-yearlyText {
  margin-left: 8px;
  color: $cTypography-helpSecondary;
  font-size: $sFontSize-large;
}

.PricePlans-yearlyText--highlight {
  color: $cHighlight-positive;
  font-style: normal;
}

.PricePlans-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border: 1px solid $cStructure-mainLine;
  border-radius: $br;
  background: #FFF;
}

.PricePlans-item {
  width: 100%;
  padding: 20px 0 10px;
}

.PricePlans-item:first-child {
  border-top-left-radius: $br;
  border-bottom-left-radius: $br;
}

.PricePlans-item:last-child {
  border-top-right-radius: $br;
  border-bottom-right-radius: $br;
}

.PricePlans-item.is-highlighted {
  background: #F6FBFE;
}

.PricePlans-itemHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 85px;
  text-align: center;
}

.PricePlans-itemTitle {
  color: $cTypography-linkSecondaryHover;
  font-size: $sFontSize-normal;
  text-transform: uppercase;
}

.PricePlans-itemPrice {
  margin-top: 10px;
  color: $cTypography-linkSecondaryHover;
  font-size: 14px;
}

.PricePlans-itemPriceFigure {
  font-size: 32px;
}

.PricePlans-itemPriceRest {
  color: $cTypography-linkSecondary;
}

.PricePlans-itemPriceException {
  margin-top: 5px;
  color: $cTypography-linkSecondary;
  font-size: $sFontSize-smallUpperCase;
}

.PricePlans-button {
  display: block;
  width: 140px;
  margin: 0 auto;
  line-height: 38px;
}

.PricePlans-button--grey {
  display: block;
  background-color: $cTypography-help;
  color: #FFF;
}

.PricePlans-itemContent {
  padding: 0 30px;
}

.PricePlans-itemContentAttr {
  display: block;
  padding: 10px 0;
  color: $cTypography-linkSecondaryHover;
  font-size: $sFontSize-normal;
  text-align: center;
}

.PricePlans-itemContentAttr.is-disabled {
  color: rgba($cTypography-paragraphs, 0.4);
}

.PricePlans-itemContentAttr.is-highlighted {
  color: $cTypography-headers;
  font-weight: $sFontWeight-bold;
}

.PricePlans-trialText {
  color: $cTypography-helpSecondary;
  font-size: $sFontSize-large;
}

.PricePlans-trialIcon {
  margin-left: 3px;
  color: #0090D7;
}
