<div class="Dialog-content Dialog-content--expanded">
  <div class="Dialog-header Dialog-header--expanded CreateDialog-header">
    <ul class="CreateDialog-headerSteps">
      <li class="CreateDialog-headerStep CreateDialog-headerStep--single">
        <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
          <i class="iconFont iconFont-LayerStack"></i>
        </div>
        <p class="Dialog-headerTitle">Add a custom basemap</p>
        <p class="Dialog-headerText">Select from these great resources.</p>
      </li>
    </ul>
  </div>
</div>
