<div class="Dialog-header Dialog-header--expanded CreateDialog-header">
  <ul class="CreateDialog-headerSteps">
    <li class="CreateDialog-headerStep CreateDialog-headerStep--single">
      <div class="Dialog-headerIcon Dialog-headerIcon--main">
        <i class="iconFont iconFont-Mountain"></i>
      </div>
      <p class="Dialog-headerTitle">Add a custom basemap</p>
      <p class="Dialog-headerText">Select from these great resources.</p>
    </li>
  </ul>
</div>

<div class="js-content-container Dialog-body Dialog-body--expanded CreateDialog-body">
  <div class="CreateDialog-listing">
    <div class="Filters Filters--navListing js-navigation">
      <div class="u-inner">
        <div class="Filters-inner">
          <span class="Filters-separator"></span>
          <div class="Filters-row">
            <div class="Filters-type">
              <ul class="Filters-list">
                <% model.get('tabs').each(function(tab) { %>
                  <li class="Filters-typeItem">
                    <button class="Filters-typeLink js-<%- tab.get('name') %> <% model.get('currentTab') === tab.get('name') ? 'is-selected' : '' %>">
                      <%- tab.get('label') %>
                    </button>
                  </li>
                <% }) %>
                <li class="Filters-typeItem">
                  <button class="Filters-typeLink js-open-old-dialog">Open old dialog</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ListingContent">
    <div class="ImportOptions">
      <div class="ImportOptions-panes">
        <div class="ImportPanel ImportDataPanel">
          <div class="ImportPanel-header">
            <h3 class="ImportPanel-headerTitle">Insert your XYZ URL</h3>
            <p class="ImportPanel-headerDescription"></p>
          </div>
          <div class="ImportPanel-body">
            <div class="ImportPanel-bodyWrapper">
              <div class="ImportPanel-state ImportPanel-form is-idle" style="display: block;">
                <form class="Form js-form">
                  <div class="Form-row">
                    <div class="Form-rowLabel">
                      <label class="Form-label">Enter a URL</label>
                    </div>
                    <div class="Form-rowData Form-rowData--longer">
                      <input type="text" class="Form-input Form-input--longer has-submit js-textInput" value="" placeholder="http://www.cartodb.com/library">
                      <button type="submit" class="Button Button--secondary Form-inputSubmit">
                        <span>submit</span>
                      </button>
                      <div class="Form-inputError">Error. Your URL doesn’t look correct.</div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
