<div class="CreateDialog-listing">
  <div class="Filters Filters--navListing js-navigation">
    <div class="u-inner">
      <div class="Filters-inner">
        <span class="Filters-separator"></span>
        <div class="Filters-row Filters-row--centered">
          <div class="Filters-type">
            <ul class="Filters-list js-tabs">
              <% model.get('tabs').each(function(tab) { %>
                <li class="Filters-typeItem">
                  <button data-name="<%- tab.get('name') %>" class="Filters-typeLink <%- model.get('currentTab') === tab.get('name') ? 'is-selected' : '' %>">
                    <%- tab.get('label') %>
                  </button>
                </li>
              <% }) %>
              <li class="Filters-typeItem">
                (<button class="Filters-typeLink js-open-old-dialog">Open old dialog</button>)
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="js-tab-content"></div>
</div>
