<div class="BackgroundImporter-header">
  <div class="BackgroundImporter-headerBadge">
    <i class="iconFont iconFont-Cloud BackgroundImporter-headerBadgeIcon"></i>
  </div>
  <h3 class="BackgroundImporter-headerTitle">Connecting datasets...</h3>
</div>
<div class="BackgroundImporter-body">
  <ul class="BackgroundImporter-list"></ul>
</div>
