<div class="Form-row">
  <div class="Form-rowLabel">
    <input class="EditField-label <% if (columnError) { %>has-failed<% } %> js-columnName <% if (readOnly) { %> is-disabled <% } %>" value="<%= attribute %>" <% if (readOnly) { %> readonly <% } %> />
  </div>
  <div class="Form-rowData Form-rowData--med js-editField"></div>
  <div class="Form-rowInfo">
    <div class="EditField-select EditField-select--<%= type %> js-fieldType"></div>
    <% if (readOnly) { %>
      <div class="Spinner Spinner--formIcon EditField-loader"></div>
    <% } else { %>
      <i class="EditField-info iconFont iconFont-Info js-info" title="Changing column type or name could provoke changes in your record values"></i>
    <% } %>
  </div>
</div>