<div class="Form-row">
  <div class="Form-rowLabel">
    <label class="Form-label"><%= column %></label>
  </div>
  <div class="Form-rowData Form-rowData--med js-editField">
    
  </div>
  <div class="Form-rowInfo">
    <p><%= type %></p>
  </div>
</div>