<div class="BackgroundPolling-header">
  <div class="BackgroundPolling-headerBadge">
    <i class="iconFont iconFont-Cloud BackgroundPolling-headerBadgeIcon"></i>
  </div>
  <h3 class="BackgroundPolling-headerTitle">Connecting datasets...</h3>
</div>
<div class="BackgroundPolling-body">
  <ul class="BackgroundPolling-list js-list"></ul>
</div>
