defaults: &defaults
  mandatory_keys:     [layer_opts, tile_host, tile_port, sql_api_domain, sql_api_endpoint, sql_api_port, varnish_management, redis]
  session_domain:     '.localhost.lan'
  secret_token:       '71c2b25921b84a1cb21c71503ab8fb23'
  account_host:       'localhost:3000'
  account_path:       '/account'
  tile_host:          'localhost.lan'
  tile_port:          '8181'
  sql_api_domain:     'development.localhost.lan'
  sql_api_endpoint:   '/api/v1/sql'
  sql_api_port:       8080
  developers_host:    'http://developers.localhost.lan:3000'
  amazon_access_key:  ''
  amazon_secret_key:  ''
  varnish_management:
    host: '127.0.0.1'
    post: 6082
  redis:
    host: '127.0.0.1'
    port: 6379
  superadmin:
    username: "superadmin"
    password: "monkey"
  layer_opts:
    data:
      kind: "carto"
      options:
        type:               "CartoDB"
        query:              ""
        opacity:            0.99
        auto_bound:         false
        interactivity:      "cartodb_id"
        debug:              false
        visible:            true
        tiler_domain:       "localhost.lan"
        tiler_port:         "8181"
        tiler_protocol:     "http"
        sql_domain:         "cartodb.com"
        sql_port:           "80"
        sql_protocol:       "http"
        extra_params:       {}
        cdn_url:            ""
        table_name:         "untitled_table"
        user_name:          "development"
        tile_style_history: []
    background:
      kind: "background"
      options: { color: '#ffffff' }
    base:
      kind: "tiled"
      options:
        visible:     true
        type:        "Tiled"
        urlTemplate: "http://a.tiles.mapbox.com/v3/mapbox.mapbox-streets/{z}/{x}/{y}.png"
    gmaps:
      kind: "gmapsbase"
      options:
        base_type: "roadmap"
        style: ""
  installation_type: 'custom'

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults
  google_analytics_ua: 'UA-20934186-3'

production:
  <<: *defaults
  google_analytics_ua: 'UA-20934186-3'
