production:
  adapter: postgres
  encoding: unicode
  host: localhost
  port: 5432
  database: carto_db_production
  username: postgres
  password:

staging:
  adapter: postgres
  encoding: unicode
  host: localhost
  port: 5432
  database: carto_db_staging
  username: postgres
  password:

development:
  adapter: postgres
  encoding: unicode
  host: localhost
  port: 5432
  database: carto_db_development
  username: postgres
  password:

test:
  adapter: postgres
  encoding: unicode
  database: carto_db_test
  host: localhost
  port: 5432  
  username: postgres
  password:

