production:
  adapter: postgresql
  encoding: unicode
  host: localhost
  port: 5432
  direct_port: 5432
  database: carto_db_production
  username: postgres
  password:
  conn_validator_timeout: 900
  connect_timeout: 3
  prepared_statements: false

staging:
  adapter: postgresql
  encoding: unicode
  host: localhost
  port: 5432
  direct_port: 5432
  database: carto_db_staging
  username: postgres
  password:
  conn_validator_timeout: 900
  connect_timeout: 3
  prepared_statements: false

development:
  adapter: postgresql
  encoding: unicode
  host: localhost
  port: 5432
  direct_port: 5432
  database: carto_db_development
  username: postgres
  password:
  conn_validator_timeout: 900
  connect_timeout: 3
  pool: 50
  prepared_statements: false

test:
  adapter: postgresql
  encoding: unicode
  database: carto_db_test
  host: localhost
  port: 5432
  direct_port: 5432
  username: postgres
  password:
  conn_validator_timeout: -1
  connect_timeout: -1
  prepared_statements: false
  variables:
    statement_timeout: 10000
