<span class="label"><%- label %></span>
<div class="input">
  <input class="value" <%- isDisabled ? 'readonly="readonly"' : '' %> value="" style="width:<%- width %>px!important" />
  <a href="#" class="plus">+</a>
  <a href="#" class="minus">-</a>
</div>
