@import "../mixins";

@include keyframes(fade-and-scale-out) {
  0% {
    opacity: 1.0;
    @include transform(scale(1.0));
  }
  80% {
    opacity: 0.05;
    @include transform(scale(1.40));
  }
  100% {
    opacity: 0.0;
    @include transform(scale(2.0));
  }
}
