// Buttons styles
// ----------------------------------------------

.CDB-Widget-button {
  @include transition(background, 250ms);
  display: inline-block;
  padding: 0 26px;
  border-radius: $baseSize / 2;
  font-family: 'Open Sans';
  line-height: 40px;
}
.CDB-Widget-link {
  &:hover {
    text-decoration: underline;
  }
}
.CDB-Widget-buttonIcon--circle {
  width: $baseSize * 2;
  height: $baseSize * 2;
  border: 1px solid transparent; // border used for :hover, color set in theme
  border-radius: 14px;
  text-align: center;
}

.CDB-Widget-link,
.CDB-Widget-buttonIcon,
.CDB-Widget-button {
  font-family: 'Open Sans';
  &:hover {
    cursor: pointer;
  }
}
