// Canvas for widgets
// --------------------------------------------------

@import '../variables/sizes';
@import '../variables/mixins';

.CDB-Widget-canvas {
  position: relative;
  top: 0;
  bottom: 0;
  width: 352px;
  min-width: 352px;
  max-width: 352px;
  margin-left: 8px;
  border-radius: 4px;
  background: #FFF; // Canvas is out of widget themes
}
.CDB-Widget-canvasInner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: visible;
  border-radius: 4px;
}
.CDB-Widget-canvasShadow {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  height: 60px;
  z-index: 1;
}
.CDB-Widget-canvasShadow--top {
  @include background-gradient(#FFF, rgba(255, 255, 255, 0));
  top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.CDB-Widget-canvasShadow--bottom {
  @include background-gradient(rgba(255, 255, 255, 0), #FFF);
  bottom: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.CDB-Widget-canvasShadow.is-visible {
  display: block;
}
.CDB-Widget-canvas .ps-scrollbar-y-rail {
  width: 2px !important; // Resetting standard scroll track color
  background: #EEE;
  z-index: 3;
}
.CDB-Widget-canvas .ps-scrollbar-y {
  width: 2px !important; // Resetting standard scroll bar color
  background: #AAA;
}
.CDB-Widget-canvas .ps-scrollbar-x-rail {
  height: 2px !important; // Resetting standard scroll track color
  background: #EEE;
  z-index: 3;
}
.CDB-Widget-canvas .ps-scrollbar-x {
  height: 2px !important; // Resetting standard scroll bar color
  background: #AAA;
}

// Widget media query
@include media-query() {
  .CDB-Widget-canvas {
    width: calc(100% - 88px);
    min-width: calc(100% - 88px);
    max-width: calc(100% - 88px);
    height: auto;
    margin-top: 8px;
    margin-left: 88px;
    border-radius: 0;
    overflow: hidden;
    box-sizing: border-box;
  }
  .CDB-Map-canvas {
    @include display-flex();
    flex: 2;
  }
  .CDB-LayerWidgets-canvas {
    @include display-flex();
    @include flex-wrap(nowrap);
    position: relative;
  }
  .CDB-Widget-canvas .simplebar-content {
    @include display-flex();
    @include flex-wrap(nowrap);
  }
  .CDB-Widget-canvasShadow.is-visible {
    display: none;
  }
  .CDB-Widget-canvasInner {
    @include display-flex();
    position: relative;
  }
}

@include media-query-mobile() {
  .CDB-Widget-canvas {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 168px;
    min-height: 168px;
    margin-left: 0;
  }
}