// Canvas for widgets
// --------------------------------------------------

@import '../variables/sizes';
@import '../variables/mixins';


.Widget-canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 352px;
  height: 100%;
}

// Widget media query
@media only screen and (min-width: 320px) and (max-width: 760px)  {
  .Widget-canvas {
    @include display-flex();
    @include flex-wrap(nowrap);
    position: relative;
    width: 100%;
    height: auto;
  }
}
