.Widget-content {
  position: relative;
}

.Widget-chart {
  display: none;
}

.Widget-chart.Widget-chart--fake {
  display: block;
}
.Widget-chartItem.Widget-chartItem--fake {
	display: inline-block;
  width: 5%;
  height: 40px;
  margin: 0 1px 0 0;
}
.Widget-chartItem--fake.Widget-chartItem--small {
  height: 20px;
}
.Widget-chartItem--fake.Widget-chartItem--big {
  height: 60px;
}

.Widget-chartTooltip {
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  color: #fff;
  padding: 5px;
  min-width: 50px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 3px;
  background: #000;
  font-size: 10px;
  pointer-events: none;
}
.Widget-chartTooltip:after {
	position: absolute;
	display: inline-block;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
	left: 20px;
	bottom: -3px;
	content: '';
}

.Chart.is-selectable .Handle,
.Chart.is-selectable .HandleLine {
  opacity: 1;
}

.Widget {
  position: relative;
}

.Widget-filter {
  opacity: 0;
}

.extent {
  opacity: 0;
  fill-opacity: 0;
  stroke: #3AA9E3;
  shape-rendering: crispEdges;
}

.Bar {
  fill: #9DE0AD;
  transition: fill 200ms ease;
  shape-rendering: crispEdges;
}
.Bar.is-highlighted {
  fill: #5BA45E;
  opacity: 1;
}
.Bar.is-selected {
  fill: #DDD;
  opacity: .7;
}

.mini {

  .Bar {
    fill: #333;
  }
  .Bar.is-highlighted {
    fill: #333;
  }
  .Bar.is-selected {
    fill: #DDD;
  }
}

.Axis {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.Axis path {
  display: none;
  shape-rendering: crispEdges;
}
.Axis line {
  fill: none;
  stroke-width: 1;
  opacity: 0.2;
  stroke: #000000;
  shape-rendering: crispEdges;
}

.Line {
  stroke: #EEEEEE;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.Line.Line--bottom {
  stroke-width: 1;
  opacity: 0.2;
  stroke: #000000;
  shape-rendering: crispEdges;
}

.Handle {
  opacity: 0;
  stroke-width: 2;
  stroke: #3AA9E3;
  fill: #FFF;
}

.HandleLine {
  opacity: 0;
  stroke-width: 2;
  stroke: #3AA9E3;
}

.Widget-filterButton.is-hidden {
  display: none;
}
