// controllers styles
// ----------------------------------------------

@import '../variables/sizes';
@import '../variables/mixins';

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2%, 0);
    transform: translate3d(0, -2%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2%, 0);
    transform: translate3d(0, -2%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}



.leaflet-bottom, .cartodb-logo, .cartodb-zoom, .cartodb-searchbox, .cartodb-share, .cartodb-layer-selector-box {
  display: none !important;
}

.CDB-controller {
  position: relative;
  min-width: 32px;
  border-radius: 4px;
  background: #FFF;
  line-height: 32px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24), 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  z-index: 200;
}

.CDB-mapZoom {
  position: absolute;
  bottom: 16px;
  left: 16px;
  .CDB-controller {
    display: inline-block;
    margin-right: 4px;
    vertical-align: bottom;
  }
}

.CDB-mapZoomLink {
  display: inline-block;
  position: relative;
  width: 32px;
  background: #FFF;
  color: #636D72;
  text-align: center;
  text-decoration: none;
  z-index: 2;

  &:hover {
    background: #F9F9F9;

    .CDB-mapZoomComponent {
      fill: #3AA9E3;
    }
  }

  &:last-child {
    margin-left: -4px;
    border-left: 1px solid #F8F8F8;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.CDB-mapZoomLinkComponent {
  vertical-align: middle;
}

.CDB-mapZoomInfo {
  position: absolute;
  top: -24px;
  right: 0;
  left: 0;
  height: 34px;
  padding-top: 6px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.64); 
  color: #FFF;
  font-family: 'Open Sans';
  font-size: $sFontSize-smaller;
  font-weight: $sFontWeight-semibold;
  line-height: $sLineHeight-smaller;
  text-align: center;
  z-index: 0;
}

.CDB-mapFull {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 48px solid #FFF;
  border-left: 48px solid transparent;
  cursor: pointer;
  z-index: 10000;

  &:before {
    position: absolute;
    top: -25px;
    right: 27px;
    width: 10px;
    height: 100px;
    transform: rotate(45deg);
    background-image: linear-gradient(-90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    content: '';
    opacity: 0.03;
  }
}
.CDB-mapFullLink {
  display: block;
  position: absolute;
  top: 27px;
  right: 8px;
  z-index: 10;
}

.CDB-controllerSearch {
  @include transition(all, 0.3s, cubic-bezier(0.01, 0.99, 0.97, 1.01));
  position: relative;
  width: 32px;
  height: 32px;

  &.is-active {
    min-width: 180px;

    .CDB-controllerSearchInput {
      @include animation(fadeInDown 0.8s both);
    }
  }
}

.CDB-controllerSearchButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 2;
}

.CDB-controllerSearchInput {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 136px;
  border: 0;
  border-right: 1px solid #F8F8F8;
  font: 300 12px/14px 'Open Sans';
  opacity: 0;

  &:focus {
    outline: none;
  }
}


