// Default styles for widgets
//
// Expected layout hierarchy:
//   CDB-Widget
//     CDB-Widget-error
//     CDB-Widget-body
//       CDB-Widget-header
//       CDB-Widget-content
//       CDB-Widget-footer
//
// --------------------------------------------------

.CDB-Widget {
  position: relative;
  width: $desktopLayout;
  margin-bottom: 2px;
  // Due to line-heights, better to substract some pixels in the top
  padding: ($sMargin-section - 4) 0;
  box-sizing: border-box;
}
.CDB-Widget--timeSeries {
  width: 100%; // override default width
  margin-bottom: 0;
  border-radius: $baseSize / 2;
}
.CDB-Widget-title {
  @include display-flex();
  @include justify-content(flex-start, start);
  @include align-items(center);
  position: relative;
  width: 100%;
}
.CDB-Widget-header,
.CDB-Widget-footer,
.CDB-Widget-content {
  margin-right: $sMargin-section;
  margin-left: $sMargin-section;
}
.CDB-Widget-content--histogram {
  margin-right: $sMargin-section - 4;
  margin-left: $sMargin-section - 4;
  .CDB-Widget-filter {
    margin-right: 4px;
    margin-left: 4px;
  }
}

.CDB-Widget-header--timeSeries {
  @include display-flex();
  @include justify-content(flex-start, start);
  @include align-items(center);
  margin-bottom: $baseSize + 4;
}
.CDB-Widget-content {
  position: relative;
}
.CDB-Widget-content--noSidesMargin {
  margin-right: 0;
  margin-left: 0;
  .CDB-Widget-listItem--fake {
    margin-right: $sMargin-section;
    margin-left: $sMargin-section;
  }
}

.CDB-Widget-body.is-collapsed {
  height: 22px;
}

.CDB-Widget-body.is-collapsed .CDB-Widget-content,
.CDB-Widget-body.is-collapsed .CDB-Widget-info,
.CDB-Widget-body.is-collapsed .CDB-Widget-nav {
  display: none;
}

.CDB-Widget-options {
  margin-right: -7px;
}


// Widget media query
@media (max-width: 1300px) {
  .CDB-Widget {
    width: $mobileLayout;
    min-width: $mobileLayout;
  }
  .CDB-Widget--timeSeries {
    width: 100%; // override default width
  }
}

@media (max-width:759px) {
  .CDB-Widget--timeSeries {
    height: auto;
    min-height: auto; // override default min-height
    max-height: auto;
    margin-bottom: 2px;
  }

  .CDB-Widget-body--timeSeries {
    @include display-flex();
    @include justify-content(flex-start, start);
    @include align-items(flex-start, start);
    @include flex-direction(row);
  }
  .CDB-Widget-header--timeSeries {
    margin-right: 0; //override default, set on header to avoid double margin for the torque use-case
    margin-bottom: 0;
  }
  .CDB-Widget-content--timeSeries {
    width: 100%;
    margin-top: 0; // override default
  }
  .CDB-Widget {
    width: auto;
    min-width: auto;
    padding: 12px 0;
    border-left-width: 2px;
    border-left-style: solid;
  }
  .CDB-Widget-header,
  .CDB-Widget-footer,
  .CDB-Widget-content {
    margin-right: 12px;
    margin-left: 12px;
  }
  .CDB-Widget-content--noSidesMargin {
    margin-right: 0;
    margin-left: 0;
  }
  .CDB-Widget-content--histogram {
    min-width: 232px;
  }
  .CDB-Widget-content--formula {
    min-width: 180px;
  }
}
