// Default styles for widgets
// --------------------------------------------------

@import '../variables/sizes';
@import '../variables/mixins';

.Widget {
  position: relative;
  width: $desktopLayout;
  // Due to line-heights, better to substract some pixels in the top
  padding: ($sMargin-section - 4) 0 ($sMargin-section - 4);
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  font-family: 'Open Sans';
}
.Widget-title {
  @include display-flex();
  @include justify-content(flex-start, start);
  @include align-items(center);
  width: 100%;
  margin: 0 0 6px;
}
.Widget-header,
.Widget-footer,
.Widget-content {
  margin-right: $sMargin-section;
  margin-left: $sMargin-section;
}
.Widget-content {
  display: block;
  margin-top: $sMargin-element;
}
.Widget-content--noSidesMargin {
  margin: $sMargin-element 0 0;
}
.Widget-content--histogram {
  margin-left: 20px;
  margin-top: 0
}
.Widget-body.is-collapsed {
  height: 38px;
  overflow: hidden;
}
.Widget--time {
  width: 100%;
}

// Widget media query
@include media-query() {
  .Widget {
    width: $mobileLayout;
    min-width: $mobileLayout;
    min-height: 280px;
    border-right: 2px solid transparent;
    border-bottom: 0;
  }
  .Widget--time {
    width: 100%;
    min-height: auto;
  }
}
