// Default styles for error state
// --------------------------------------------------

.CDB-Widget-error {
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 2px solid transparent;
  z-index: 2;
}
.CDB-Widget-error.is-hidden {
  display: none;
}
