// Icon fonts modifiers
// ----------------------------------------------

.CDB-IconFont--center {
  vertical-align: middle;
}
.CDB-IconFont--top {
  vertical-align: top;
}
.CDB-IconFont--small {
  font-size: $sFontSize-small + 1;
}
