// Data info element styles
// --------------------------------------------------

@import '../variables/sizes';
@import '../variables/mixins';

.Widget-info {
  @include display-flex();
  @include justify-content(flex-start, start);
  @include align-items(center);
  width: 100%;
}
.Widget-infoItem {
  margin-right: $sMargin-element;
  &:last-child {
    margin-right: 0;
  }
}


// Widget sizes
@media only screen and (min-width: 320px) and (max-width: 760px)  {
  .Widget-info {
    @include justify-content(space-between, justify);
  }
  .Widget-infoItem {
    margin-right: 0;
  }
}
