// Layout styles
// ----------------------------------------------

@import '../variables/sizes';
@import '../variables/mixins';

.Widget-contentSpaced {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center);
}
.Widget-contentSpaced--sideMargins {
  margin-right: $sMargin-section;
  margin-left: $sMargin-section;
}
.Widget-contentSpaced--topAligned {
  @include align-items(flex-start);
}
.Widget-contentSpaced--start {
  @include justify-content(flex-start, start);
  text-align: left;
}
.Widget-contentFlex {
  @include display-flex();
  @include align-items(center);
}
.Widget-contentFull {
  width: 100%;
}
