// Default styles for widgets
// --------------------------------------------------

@import '../variables/sizes';
@import '../variables/mixins';

.Widget-listWrapper {
  position: relative;
}
.Widget-listEdge {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: 1px;
  z-index: 2;
}
.Widget-listEdgeShadow {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 35px;
  z-index: 0;
  pointer-events: none;
}
.Widget-listEdgeBorder {
  position: absolute;
  right: $sMargin-section;
  left: $sMargin-section;
  height: 1px;
  z-index: 1;
}
.Widget-listEdge--top {
  top: 0;
  .Widget-listEdgeShadow {
    top: 0;
  }
}
.Widget-listEdge--bottom {
  bottom: 0;
  .Widget-listEdgeShadow {
    @include css3-prefix(transform, rotate(180deg));
    bottom: 0;
  }
}

.Widget-list {
  display: block;
  position: relative;
  max-height: 232px;
  margin: 0;
  overflow: hidden;
  z-index: 1;
}
.Widget-listItem {
  display: block;
}
.Widget-listItemInner {
  margin: 0 $sMargin-section;
  padding: ($sMargin-element / 2) - 1 0;
}
.Widget-listItemInner--withBorders {
  padding: ($sMargin-element / 2) + 1 0;
}
.Widget-listItem--fake {
  position: relative;
  height: 40px;
  margin: 8px $sMargin-section;
  border-bottom: 1px solid transparent;

  &:before,
  &:after {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    content: '';
  }
  &:before {
    width: 60px;
    height: 8px;
  }
  &:after {
    width: 100%;
    height: 2px;
  }
}
.Widget-listSubItem {
  display: inline-block;
}
.Widget-listDot {
  margin-top: 3px;
  margin-right: 5px;
}
.Widget-listButton {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 5px $sMargin-section;
  font-family: 'Open Sans';
  font-weight: $sFontWeight-normal;

  &:hover {
    cursor: pointer;
  }
}
.Widget-listButton--withBorder {
  padding: 7px $sMargin-section;
  &:before,
  &:after {
    position: absolute;
    right: 24px;
    left: 24px;
    height: 1px;
    content: '';
  }
  &:before {
    top: -1px;
  }
  &:after {
    bottom: 0;
  }
}
.Widget-listButton--withBorder:hover {
  &:before,
  &:after {
    right: 0;
    left: 0;
  }
}
// List within another list :D
.Widget-inlineList {
  width: 100%;
  padding: 0;
}
.Widget-inlineListItem {
  display: inline-block;
  width: 32%;
  margin: 5px 0 0;
  vertical-align: top;
}

// Widget media query
@include media-query() {
  .Widget-inlineListItem {
    width: 47%;
  }
}
