// Default styles for widgets
// --------------------------------------------------

@import '../variables/sizes';
@import '../variables/mixins';

.Widget-list {
  display: block;
  max-height: 232px;
  margin: 0;
  overflow: scroll;
}
.Widget-listItem {
  display: block;
  padding: ($sMargin-element / 2) - 1 0;
}
.Widget-listItem--withBorders {
  padding: ($sMargin-element / 2) + 1 0;
}
.Widget-listItem--fake {
  position: relative;
  height: 35px;

  &:before,
  &:after {
    display: inline-block;
    position: relative;
    content: '';
  }
  &:before {
    width: 60px;
    height: 8px;
  }
  &:after {
    width: 100%;
    height: 2px;
  }
}
.Widget-listSubItem {
  display: inline-block;
}
.Widget-listDot {
  margin-top: 3px;
  margin-right: 5px;
}
.Widget-listItemButton {
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}
// List within another list :D
.Widget-inlineList {
  width: 100%;
  padding: 0;
}
.Widget-inlineListItem {
  display: inline-block;
  width: 32%;
  margin: 5px 0 0;
  vertical-align: top;
}

// Widget media query
@media only screen and (min-width: 320px) and (max-width: 760px)  {
  .Widget-inlineListItem {
    width: 47%;
  }
}
