// Navigation elements styles
// ----------------------------------------------

@import '../variables/sizes';
@import '../variables/mixins';

.Widget-nav {
  width: 100%;
  margin-top: $sMargin-element;
}
.Widget-navDotsItem {
  display: inline-block;
  width: 8px;
  height: 8px;
  padding: 0;
  border: none;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
  }
}
.Widget-navDotsItem.is-selected {
  &:hover {
    cursor: default;
  }
}
.Widget-navDotsItem.is-disabled {
  @include opacity(0.5);
}
