// Text elements styles
// ----------------------------------------------

@import '../variables/sizes';
@import '../variables/mixins';

.Widget-tag {
  @include display-flex();
  @include align-items(center);
  height: 22px;
  margin: 0 0 0 12px;
  padding: 0 6px;
  border-radius: 4px;
  vertical-align: middle;
}
// Widget tag types, should we move them to theme?
.Widget-tag--avg {
  background-color: rgba(#EDF3DF, 1);
}
.Widget-tag--sum {
  background-color: rgba(#DFF2FC, 1);
}
.Widget-tag--count {
  background-color: rgba(#FEF4E2, 1);
}
.Widget-tag--min,
.Widget-tag--max {
  background-color: rgba(#FEE0DD, 1);
}
