// Time-series widget, i.e. histogram of dates
// For a Torque layer there might be more elements too (play/pause control + step-time info)
//
// Layout component:
// [Btn (play/pause)] [.Widget-timeSeriesTimeInfo]
// [.Widget-timeSeriesFakeChart]
//
// Example desktop layout (default):
//  (▶)  06:37 9/25/2015
//  [ ▆ ▃ ▅ ▇ ▃ ▆ ▂ ▄ ▅  ▇ ▁ ▂ █ ]
//
// Example Mobile layout:
//  (▶)  06:37 9/25/2015  [ ▆ ▃ ▅ ▇ ▃ ▆ ▂ ▄ ▅  ▇ ▁ ▂ █ ]
//
// ------------------------------------------------------

.CDB-Widget-timeSeriesFakeControl {
  width: $baseSize * 2;
  height: $baseSize * 2;
}
.CDB-Widget-timeSeriesTimeInfo {
  margin-left: $baseSize * 2;
  white-space: nowrap;
}
.CDB-Widget-timeSeriesTimeInfo--fake {
  width: 140px;
  height: $baseSize;
}

.CDB-Widget-timeSeriesFakeChart {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(flex-end);
  width: 100%;
  height: 74px; // value to match real widget content height, to avoid "jumpy" behavior
}
.CDB-Widget-timeSeriesFakeChart--torque {
  height: 82px; // value to match real widget content height, to avoid "jumpy" behavior
}
.CDB-Widget-timeSeriesFakeChartItem {
  @include flex-grow(1);
  display: inline-block;
  margin-right: $baseSize / 4;
}

.CDB-Widget-header--timeSeries {
  margin-bottom: $baseSize + 4;
}

@include media-query() {
  .CDB-Widget-timeSeriesFakeChart {
    height: $baseSize * 2;
  }
}
