@import "../../new_variables/mixins";
@import "../../new_variables/colors";
@import "../../new_variables/sizes";


.CreateDialog .Dialog-content {
  width: 100%;
}
.Dialog-body.CreateDialog-body {
  padding: 0;
  min-height: 700px;
  background: $cStructure-grayBkg;
}