@import "../../new_variables/mixins";
@import "../../new_variables/colors";
@import "../../new_variables/sizes";

// Create dialog preview block styles

.CreateDialog-preview {
  width: $sLayout-width;
  margin: 0 auto;
  background: white;
}