
  /**
   *  Right module styles (aside)
   */

  @import "compass/css3/inline-block";  
  @import "../elements/progress-bar";


  aside {

    div.head {
      h2 { font-size:27px }
    }

    div.content {
      padding:0;
      @include progress-bar(36px, 3px, true, 5px);

      ul {
        li {
          padding:15px 0;
          border-bottom:1px solid #E1E1E1;
          &:last-child { border:none }
        }
      }
    }

    .button.green {
      @include inline-block();
      margin-top:6px;
      font-weight:400;
      font-size:17px;
    }

    // Aside for organization index
    &.organization_quota {
      div.head { border:none }
      ul li {
        padding:24px 0;
        &:first-child { padding-top:0 }
      }
    }
  }