/**
 *  Disqus dialog
 */

@import "../common/form-elements";

.disqus_dialog {
  @include default-input();

  p {
    margin: 0 0 15px 0;
    line-height: 120%;

    &:last-child { margin: 0;}
  }

  section.block div.content ul {
    margin: 0 0 40px 0;

    li {
      margin: 0 0 15px 35px;
      padding: 0;
      color: #666;
      list-style-type: disc;
      border:none;
    }
  }

}