
  /**
   *  Form styles within content
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/border-radius";
  @import "compass/css3/box-shadow";
  @import "common/vars";
  @import "common/mixins";
  @import "common/forms";
  @import "common/common-sprite";


  form {

    // Content structure
    .left-column, .right-column { @include inline-block(); }
    .left-column {
      width:425px;
      padding-right:34px;
      vertical-align: top;
      border-right:1px solid #E5E5E5;
      &.no-border { border:none }
    }
    .right-column {
      width:175px;
      padding-left:34px;
      vertical-align: top;
    }


    //////////
    // Form //
    //////////

    .row {
      display:block;
      height:67px;
      margin-top:20px;

      p {
        padding-top:24px;
        font-size:13px;
        font-style:italic;
        color:#CCCCCC;
      }

      label {
        display:block;
        padding:0 0 10px 0;
        color:#CCCCCC;
        font-weight:bold;
        font-size:11px;
        text-transform:uppercase;
        strong { color:#666 }
        a { text-decoration:underline }
      }

      @include default-input();

      &:first-child { margin-top:0; }
    }


    // Field types (1, 2, 3, ...)

    .field {
      position:relative;
      @include inline-block();
      margin-right:20px;
      vertical-align:top;
      
      &.field_with_errors {
        input {
          color: #E95850;
          border-color: #F08A84;
          padding-right:51px;
        }
      }
      &:last-child { margin-right:0; }
    }

    .field-1 {
      width:100%;
      input { width:534px; }

      &.field_with_errors input {
        width:494px;
      }
    }

    .field-2 {
      width:270px;
      margin-right:13px;
      
      input {width:246px;}

      &.field_with_errors input {
        width:206px;
      }
    }

    .field-3 {
      width:174px;
      margin-right:13px;
      
      input {width:150px;}

      &.field_with_errors input {
        width:110px;
      }
    }


    // Input types //
    
    input[disabled], input[readonly] {
      background:#F5F5F5;
      color:#CCCCCC;
    }

    .input-link {
      display:block;
      padding:12px;
      height:17px;
      background:#F2F2F2;
      @include border-radius(3px);
      text-decoration:underline;
    }


    // Errors //
    div.error {
      position:absolute;
      right:7px;
      bottom:7px;
      width:26px;
      height:27px;
      @include text-indent();
      @include common-sprite(field_error);
      z-index:5;
      &:hover {cursor:pointer}
    }

  }

  // Tipsy for field error
  .error_tooltip {
    font-size:13px!important;
  }