// Organization users list
// --------------------------------------------------

@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";
@import "../variables/progress-bar";

$selectedItemPaddingOnSides: $sMargin-element - 1px;

.OrganizationList {
  @include display-flex();
  @include justify-content(flex-start, start);
  @include flex-wrap(wrap);
  margin-top: 1px; // makes the list not be overlapped by a .Filters block (so selected/hoevered item's border looks OK)
  padding-bottom: 30px;
  width: 100%;
}
.OrganizationList--centered {
  min-height: 300px;
  @include justify-content(center, center);
  @include align-items(center, center);
}
.OrganizationList-user {
  position: relative;
  width: 100%;

  &:not(:last-child) { border-bottom: 1px solid $cStructure-softLine; }
}
// TODO: this is duplicated from .DatasetsList-item, can we consolidate these styles somehow?
.OrganizationList-user.is-selectable:hover {
  background-color: $cCard-hoverFill;
  border: 1px $cCard-hoverBorder solid;
  border-radius: 4px;
  margin-left: -#{$sMargin-element};
  margin-right: -#{$sMargin-element};
  margin-top: -1px;
  padding: 0 $selectedItemPaddingOnSides;
}
.OrganizationList-user.is-selected {
  background-color: $cCard-selectedFill;
  border: 1px $cCard-selectedBorder solid;
  border-radius: 4px;
  margin-left: -#{$sMargin-element};
  margin-right: -#{$sMargin-element};
  margin-top: -1px; // to overlap border of prev element
  padding: 0 $selectedItemPaddingOnSides;
  &:hover {
    background-color: $cCard-selectedFill;
    border: 1px $cCard-selectedBorder solid;
  }
}
.OrganizationList-userAvatar {
  width: 42px;
  height: 42px;
  margin-right: 20px;
}
.OrganizationList-userAvatar--img {
  border: 0;
}
.OrganizationList-userLink {
  @include display-flex();
  @include flex-direction(row);
  @include align-items(flex-end);
  padding: $sMargin-element 0;
  text-decoration: none!important;
}
.OrganizationList-userInfo {
  @include display-flex();
  @include flex-direction(row);
  @include align-items(flex-end);
  @include justify-content(space-between);
  width: 100%;
}
.OrganizationList-userInfoName {
  @include display-flex();
  @include flex-direction(column);
  @include align-content(space-between);
  @include justify-content(space-between, start);
  height: 42px;
}
.OrganizationList-userInfoTitle {
  max-width: 350px;
  font-size: 14px;
  font-weight: $sFontWeight-normal;
  color: $cHighlight-main;
}
.OrganizationList-userInfoSubtitle {
  max-width: 350px;
  font-size: 14px;
  font-weight: 300;
  color: $cTypography-paragraphs;
}
.OrganizationList-userInfoLabel {
  display: inline-block;
  padding: 0 8px;
  margin-left: 4px;
  height: 18px;
  background: #8EB83F;
  border-radius: 35px;
  font-size: $sFontSize-smaller;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.OrganizationList-userInfoData {
  @include display-flex();
  @include flex-direction(row);
}

.OrganizationLisr-userInfoData--paragraph {
  color: $cTypography-linkSecondary;
  font-size: 14px;
  font-weight: 300;

  &:not(:last-child) { margin-right: 20px; }
}

.OrganizationLisr-userInfoData--paragraph-icon {
  font-size: 10px;
  margin-right: 4px;
}

.OrganizationList-userStats {
  width: 200px;
  margin-top: 10px;
  @include progress-bar(6px, 20px, false, 4px);
}
.OrganizationList-userLink:hover {
  border-color: $cTypography-linkHover;
  cursor: pointer;
}
.OrganizationList-paginator {
  @include display-flex();
  @include justify-content(flex-end, end);
  padding: 30px 0;
}
