// Organization user quota field
// --------------------------------------------------

@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";
@import "../variables/progress-bar";

.OrganizationUser-quota {
  @include display-flex();
  // @include justify-content(flex-start, start);
  // width: 680px;
}
.OrganizationUser-quotaProgress {
  display: block;
  width: 300px;
  margin: 0 20px 0 0;
  @include progress-bar(12px, 20px, false, 6px);
}
.OrganizationUser-quotaBar {
  display:block;
  width: 300px;
}
.OrganizationUser-quotaLegend {
  @include display-flex();
  @include justify-content(center, center);
  @include align-items(center, center);
  margin: 10px 0 0;
}
.OrganizationUser-quotaLegendItem {
  margin: 0 6px;
  font-size: $sFontSize-normal;
  color: $cTypography-secondary;
}
.OrganizationUser-quotaLegendIcon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  border-radius: 10px;
  background: #F5F5F5;
  box-shadow: inset 0 0 1px 0 rgba(black, 0.25);
}
.OrganizationUser-quotaLegendIcon--assigned { background: #0090D7 }
.OrganizationUser-quotaLegendIcon--used { background: #71CEFB }
.OrganizationUser-quotaLegendIcon--total {}

.OrganizationUser-quotaInfo {
  position: relative;
  display: inline-block;
  color: $cTypography-help;
  line-height: 14px;
}
.OrganizationUser-quotaInfoLink {
  color: $cTypography-link;
  &:hover {
    text-decoration: none;
    color: $cTypography-linkHover;
  }
}
.UserQuotaDropdown {
  width: 220px;
  padding: 20px;
}
.UserQuotaDropdown-title {
  padding-bottom: 18px;
  font-size: $sFontSize-large;
  color: $cTypography-headers;
  border-bottom: 1px solid $cStructure-softLine;
}
.UserQuotaDropdown-quota {

}
.UserQuotaDropdown-info {
  display: block;
  margin-top: 15px;
  font-size: $sFontSize-normal;
  color: $cTypography-secondary;
}
.UserQuotaDropdown-slider {
  width: 220px;
  margin-top: 8px;
}
