// Organization users list
// --------------------------------------------------

@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";
@import "../variables/progress-bar";

.OrganizationList {
  @include display-flex();
  @include justify-content(flex-start, start);
  @include flex-wrap(wrap);
  width: 100%;
  padding: 0 0 30px;
}
.OrganizationList--centered {
  min-height: 300px;
  @include justify-content(center, center);
  @include align-items(center, center);
}
.OrganizationList-user {
  width: 100%;

  &:not(:first-child) { border-top: 1px solid $cStructure-softLine; }
}
.OrganizationList-userAvatar {
  width: 42px;
  height: 42px;
}
.OrganizationList-userAvatar--img {
  border: 0;
}
.OrganizationList-user:nth-child(3n),
.OrganizationList > div:nth-child(3n) .OrganizationList-user { margin-right: 0 }
.OrganizationList-userLink {
  @include display-flex();
  @include flex-direction(row);
  @include align-items(flex-end);
  padding: $sMargin-element 0;
  text-decoration: none!important;
}
.OrganizationList-userInfo { 
  @include display-flex();
  @include flex-direction(row);
  @include align-items(flex-end);
  @include justify-content(space-between);
  margin-left: 20px;
  width: 100%;
}
.OrganizationList-userInfoName {
  @include display-flex();
  @include flex-direction(column);
  @include align-content(space-between);
  @include justify-content(space-between, start);
  height: 42px;
}
.OrganizationList-userInfoTitle {
  max-width: 350px;
  font-size: 14px;
  font-weight: $sFontWeight-normal;
  color: $cHighlight-main;
}
.OrganizationList-userInfoSubtitle {
  max-width: 350px;
  font-size: 14px;
  font-weight: 300;
  color: $cTypography-paragraphs;
}
.OrganizationList-userInfoLabel {
  display: inline-block;
  padding: 0 8px;
  margin-left: 4px;
  height: 18px;
  background: #8EB83F;
  border-radius: 35px;
  font-size: $sFontSize-smaller;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.OrganizationList-userInfoData {
  @include display-flex();
  @include flex-direction(row);
}

.OrganizationLisr-userInfoData--paragraph {
  color: $cTypography-linkSecondary;
  font-size: 14px;
  font-weight: 300;

  &:not(:last-child) { margin-right: 20px; }
}

.OrganizationLisr-userInfoData--paragraph-icon {
  font-size: 10px;
  margin-right: 4px;
}

.OrganizationList-userStats {
  width: 200px;
  margin-top: 10px;
  @include progress-bar(6px, 20px, false, 4px);
}
.OrganizationList-userLink:hover {
  border-color: $cTypography-linkHover;
  cursor: pointer;
}
.OrganizationList-paginator {
  @include display-flex();
  @include justify-content(flex-end, end);
  padding: 30px 0;
}