
  /**
   *  Organization styles
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/text-shadow";


  article {
    @include inline-block();
    width:100%;
    padding:40px 0 50px 0;
    background: image-url('layout/bkg.jpg') repeat 0 0;
  }

  section {

    // head
    div.head {
      h2 { font-size:27px }
    }

    // content
    div.content {
      padding:0;
    }

    // List head
    div.list-head {
      padding:15px 40px;
      margin:0;
      background:#F6F6F6;
      border-bottom:1px solid #E1E1E1;

      label {
        color:#C7C7C7;
        font-size:11px;
        font-weight:bold;
        text-transform:uppercase;
      }
    }

    // footer
    div.foot {

      .red {
        color: #FF4C4C;
        text-decoration: underline;
        &:hover {color:#C84C46;}
      }
      
      .button.grey {
        font-size:17px;
        @include text-shadow(none);
        letter-spacing:-0.5px;
      }
    }

  }