<div class="IntermediateInfo IntermediateInfo--flex">
  <div class="LayoutIcon">
    <i class="CDB-IconFont CDB-IconFont-map"></i>
  </div>
  <h3 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-tSpace--m"><%- name %> doesn't have any public data yet</h3>
</div>
