<div class="IntermediateInfo IntermediateInfo--flex">
  <div class="LayoutIcon LayoutIcon--negative">
    <i class="CDB-IconFont CDB-IconFont-cockroach"></i>
  </div>
  <h3 class="IntermediateInfo-title">We couldn't retrieve the maps :(</h3>
  <p class="DefaultParagraph">Reload the page again. If the problem persists contact us at <a class="js-mail-link" href="mailto:support@cartodb.com">support@cartodb.com</a>.</p>
</div>
