<div class="IntermediateInfo IntermediateInfo--flex">
  <div class="Spinner"></div>
  <h4 class="IntermediateInfo-title"><%- title %></h4>
  <div class="DefaultParagraph DefaultParagraph--short"><%= quote %></div>
</div>
