<div class="Profile-content Feed-content">
  <div class="FeedMast is-hidden js-mast">
    <div class="FeedMast-ball FeedMast-ball--top"></div>
    <div class="FeedMast-ball FeedMast-ball--bottom"></div>
  </div>
  <ul class="js-items"></ul>
</div>
<button class="Button Button--gray Button--centered is-hidden js-more">View more</button>
