<div class="CDB-infowindow CDB-infowindow--light js-infowindow">
  <div class="CDB-infowindow-close js-close"></div>
  <div class="CDB-infowindow-container">
    <div class="CDB-infowindow-header CDB-infowindow-headerBg CDB-infowindow-headerBg--light js-header" style="background: #35AAE5;">
      {{#loading}}…{{/loading}}
      <ul class="CDB-infowindow-list">
        {{#content.fields}}
          {{^position}}
        <li class="CDB-infowindow-listItem">
          {{#title}}
            {{#alternative_name}}
          <h5 class="CDB-infowindow-subtitle">{{{alternative_name}}}</h5>
            {{/alternative_name}}
            {{^alternative_name}}
          <h5 class="CDB-infowindow-subtitle">{{{name}}}</h5>
            {{/alternative_name}}
          {{/title}}
          {{#name}}
          <h4 class="CDB-infowindow-title {{#type}}{{=<% %>=}}{{<%={{ }}=%>{{{ type }}}{{=<% %>=}}}}<%={{ }}=%>{{/type}}">
            {{=<% %>=}}{{<%={{ }}=%>{{{ name }}}{{=<% %>=}}}}<%={{ }}=%>
          </h4>
          {{/name}}
        </li>
          {{/position}}
        {{/content.fields}}
      </ul>
    </div>
    <div class="CDB-infowindow-inner js-inner">
      {{#loading}}
        <div class="CDB-Loader js-loader is-visible"></div>
      {{/loading}}
      <ul class="CDB-infowindow-list js-content">
        {{#content.fields}}
          {{#position}}
        <li class="CDB-infowindow-listItem">
          {{#title}}
            {{#alternative_name}}
          <h5 class="CDB-infowindow-subtitle">{{{alternative_name}}}</h5>
            {{/alternative_name}}
            {{^alternative_name}}
          <h5 class="CDB-infowindow-subtitle">{{{name}}}</h5>
            {{/alternative_name}}
          {{/title}}
          <h4 class="CDB-infowindow-title">{{=<% %>=}}{{<%={{ }}=%>{{{ name }}}{{=<% %>=}}}}<%={{ }}=%></h4>
        </li>
          {{/position}}
        {{/content.fields}}
      </ul>
    </div>
    <div class="CDB-hook">
      <div class="CDB-hook-inner"></div>
    </div>
  </div>
</div>
