<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="iconFont iconFont-Popup"></i>
  </div>
  <p class="Dialog-headerTitle">Advanced map styling with CartoCSS</p>
  <p class="Dialog-headerText">We support a superset of CSS to make your maps look better.</p>
</div>

<div class="Dialog-body Dialog-resultsBody Dialog-resultsBody--vcenter">
  <span class="Dialog-resultsBodyIcon NavButton ">1</span>
  <div class="Dialog-resultsBodyTexts">
    <p class="DefaultParagraph DefaultParagraph--tertiary">
      If you know how to use CSS to style websites, you already know how to use Carto to style your maps.
      The Carto language is an easy, flexible, and powerful way to making a better looking map.
    </p>
  </div>
</div>
<div class="Dialog-body Dialog-resultsBody Dialog-resultsBody-vcenter">
  <span class="Dialog-resultsBodyIcon NavButton ">2</span>
  <div class="Dialog-resultsBodyTexts">
    <p class="DefaultParagraph DefaultParagraph--tertiary">
      Take a look at the
      <a href="https://github.com/mapbox/carto/blob/master/docs/latest.md" target="_blank">carto reference</a>.
    </p>
  </div>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>skip</span>
  </button>
</div>
