<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="CDB-IconFont CDB-IconFont-bubble"></i>
  </div>
  <p class="Dialog-headerTitle">Advanced map styling with CartoCSS</p>
  <p class="Dialog-headerText">We support a superset of CSS to make your maps look better.</p>
</div>

<div class="Dialog-body Dialog-resultsBody Dialog-resultsBody--vcenter">
  <span class="Dialog-resultsBodyIcon NavButton">1</span>
  <div class="Dialog-resultsBodyTexts">
    <p class="DefaultParagraph DefaultParagraph--tertiary">
      If you know how to use CSS to style websites, you already know how to use CartoCSS to style your maps. See <a href="https://docs.carto.com/cartodb-platform/cartocss/" target="_blank" rel="noopener noreferrer">CartoCSS</a> for details.
    </p>
  </div>
</div>
<div class="Dialog-body Dialog-resultsBody Dialog-resultsBody--vcenter">
  <span class="Dialog-resultsBodyIcon NavButton">?</span>
  <div class="Dialog-resultsBodyTexts">
    <p class="DefaultParagraph DefaultParagraph--tertiary">
      Visit The Map Academy to view lessons related to CartoCSS, <a href="https://academy.carto.com/courses/design-for-beginners/" target="_blank" rel="noopener noreferrer">Introduction to Map Design</a> and <a href="https://academy.carto.com/courses/intermediate-design/" target="_blank" rel="noopener noreferrer">Intermediate Map Design</a>
    </p>
  </div>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner Dialog-narrowerContent">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>skip</span>
  </button>
</div>
