<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="CDB-IconFont CDB-IconFont-bubble"></i>
  </div>
  <p class="Dialog-headerTitle">Adding images to your infowindows</p>
  <p class="Dialog-headerText">This template allows you to add an image to your infowindow</p>
</div>

<div class="Dialog-body Dialog-resultsBody Dialog-resultsBody--vcenter">
  <span class="Dialog-resultsBodyIcon NavButton">1</span>
  <div class="Dialog-resultsBodyTexts">
    <p class="DefaultParagraph DefaultParagraph--tertiary">
      The image URLs will need to be stored as a column in your table. Tip: You can add rows and columns to your dataset with the CARTO sidebar options from the Map View, or by using the context menu items from the Data View.
    </p>
  </div>
</div>
<div class="Dialog-body Dialog-resultsBody Dialog-resultsBody--vcenter">
  <span class="Dialog-resultsBodyIcon NavButton">2</span>
  <div class="Dialog-resultsBodyTexts">
    <p class="DefaultParagraph DefaultParagraph--tertiary">
      Next, you will need to change the order of the labels by dragging the URL field to the top of the fields list in the <a href="https://docs.carto.com/cartodb-editor/maps/#infowindows" target="_blank">infowindow</a> options.
    </p>
  </div>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner Dialog-narrowerContent">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>Ok, close</span>
  </button>
</div>
