<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="CDB-IconFont CDB-IconFont-bubble"></i>
  </div>
  <p class="Dialog-headerTitle">Templating infowindows in CARTO</p>
  <p class="Dialog-headerText">We support HTML infowindows, so here are some tips to work with them.</p>
</div>

<div class="Dialog-body Dialog-resultsBody Dialog-resultsBody--vcenter">
  <span class="Dialog-resultsBodyIcon NavButton ">1</span>
  <div class="Dialog-resultsBodyTexts">
    <p class="DefaultParagraph DefaultParagraph--tertiary">
      You can use the name of your columns as <strong>{{name}}</strong>, <strong>{{description}}</strong>, etc.
    </p>
  </div>
</div>
<div class="Dialog-body Dialog-resultsBody Dialog-resultsBody--vcenter">
  <span class="Dialog-resultsBodyIcon NavButton ">2</span>
  <div class="Dialog-resultsBodyTexts">
    <p class="DefaultParagraph DefaultParagraph--tertiary">
      Be sure to have elements with class names of <strong>cartodb-popup</strong> and <strong>close</strong> elements. Reference the <a href="https://github.com/CartoDB/cartodb.js/tree/develop/themes/css/infowindow" target="_blank" rel="noopener noreferrer">CSS Library</a> for the latest infowindow stylesheet code. They are needed for basic interactions.
    </p>
  </div>
</div>
<div class="Dialog-body Dialog-resultsBody Dialog-resultsBody--vcenter">
  <span class="Dialog-resultsBodyIcon NavButton ">?</span>
  <div class="Dialog-resultsBodyTexts">
    <p class="DefaultParagraph DefaultParagraph--tertiary">
      If you want to know how to work with infowindows classes, view the
      <a href="http://mustache.github.io/mustache.5.html" target="_blank" rel="noopener noreferrer">Mustache docs</a>
      and
      <a href="http://mustache.github.io/#demo" target="_blank" rel="noopener noreferrer">Mustache demo</a>
    </p>
  </div>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner Dialog-narrowerContent">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>skip</span>
  </button>
</div>
