<form class="upload">
  <p>Import your data from an ArcGIS online instance and keep it synchronized with the source. URL should be:</p>
  <ul>
    <li><strong>Full map:</strong> http://&#60;host&#62;/arcgis/rest/services/&#60;folder&#62;/&#60;serviceName&#62;/&#60;serviceType&#62;/</li>
    <li><strong>One layer:</strong> http://&#60;host&#62;/arcgis/rest/services/&#60;folder&#62;/&#60;serviceName&#62;/&#60;serviceType&#62;/0</li>
  </ul>
  <div class="upload">
    <span class="file type"></span>
    <input type="text" class="url-input" placeholder="Paste here your ArcGIS online table URL" />
  </div>
  <div class="infobox"></div>
</form>
<div class="message">
  <p>Choose your synchronization interval and your table will be updated automatically</p>
</div>