<div class="canvas arcgis"></div>
<div class="message arcgis">
  <p>The Salesforce connector allows you to:</p>
  <ul>
    <li>Map your user lists from Salesforce in CartoDB.</li>
    <li>Mantain your CartoDB maps in sync with your Salesforce data.</li>
  </ul>
  <p class="margin20">To <strong>enable the Salesforce connector</strong> in your account, <a href="mailto:sales@cartodb.com">contact us</a>.</p>
</div>