<div class="upload">
  <a href="#/gdrive" class="gdrive-chooser disabled">Click to select</a>
  <p class="filename"></p>
  <p class="info">(File has to be publicly accessible)</p>
</div>
<label class="light small">(Google spreadsheet)</label>
<div class="infobox"></div>