<span class="loader">Getting datasets...</span>
<p class="warning error">Something went wrong getting your datasets, please try again later...</p>
<div class="options">
  <p class="message small light">Select an available layer to be added in your map.</p>
  <div class="combo_wrapper margin10">
    <div class="tableListCombo"></div>
  </div>
  <div>
    <p class="warning geo">This layer doesn't have any georeference data.</p>
    <p class="warning permission">Only datasets shared across all users in the maps are permitted.</p>
  </div>
</div>