<form class="upload">
  <div class="upload">
    <span class="drop">Drop your file here</span>
    <span class="file type"></span>
    <input type="text" class="url-input" />
    <div class="holder">
      <div class="url">
        <p class="italic lighter">Paste a URL or</p>
      </div>
      <span class="fileinput-button">
        <input type="file" val="" />
        <span>select a file</span>
      </span>
    </div>
  </div>
  <label class="light small">(CSV, XLS, ZIP, KML, GPX) <a href="http://developers.cartodb.com/documentation/using-cartodb.html#formats_accepted" target="_blank">see all formats</a></label>

  <div class="common_data">Looking for <a href="/dashboard/common_data">example datasets</a>?</div>
  <div class="infobox"></div>
</form>
