// Content controller
// 
// Main view for new dashboard, where maps or
// datasets results appear.
// --------------------------------------------------

.ContentController {
  display: block;
  position: relative;
  min-height: 600px;
  margin: 0 auto;
  padding-top: 80px;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.ContentController.on-boarding {
  min-height: initial;
  padding-top: 0;
}

.OnpremiseVersion,
.Hosted {
  .is-hidden {
    display: none;
  }
}
