// Permission label
// --------------------------------------------------

@import "../variables/mixins";
@import "../variables/sizes";

$c: #E2DFDF;

.PermissionIndicator {
  min-width: 25px;
  padding: 0 10px;
  border: 1px solid $c;
  border-radius: 4px;
  color: $c;
  font-size: $sFontSize-smaller;
  font-weight: $sFontWeight-normal;
  line-height: $sLineHeight-smaller;
}
