<% if (label) { %>
  <label><%- attribute %></label>
<% } %>
<div class="date_field">
  <div class="column day_field">
    <div class="form_spinner day"></div>
  </div>
  <div class="column month_field">
    <div class="form_combo month"></div>
  </div>
  <div class="column year_field">
    <div class="form_spinner year"></div>
  </div>
  <div class="column time_field">
    <input type="text" class="time" <%- readOnly ? 'readonly' : '' %>/>
  </div>
</div>