<div class="loader"></div>
<% if(readOnly) { %>
  <div class="selector">
    <textarea readonly></textarea>
  </div>
<% } else { %>
  <div class="selector">
    <div class="switches">
      <label>Geometry</label>
      <a href="#switch" class="switch disabled geoJSONButton">
        <span class="handle disabled"></span>
      </a>
    </div>
  </div>
  <div class="rest">
    <textarea></textarea>
  </div>
  <div class="point">
    <span>
      <label class="longitude">Lon</label>
      <input type="text" class="longitude" />
    </span>
    <p class="bigger">,</p>
    <span>
      <label class="latitude">Lat</label>
      <input type="text" class="latitude" />
    </span>
  </div>
<% } %>
