Hey <strong><%= username %></strong>, you're over your table limits.
<% if (typeof organization !== "undefined" && organization.owner) { %>
  <a class ="underline" href="mailto:support@cartodb.com">Contact us</a> for upgrading your account.
<% } else if (typeof organization !== "undefined" && !organization.owner) { %>
  Start thinking about <a class="underline" href="mailto:<%= organization.email %>">contacting your admin</a>.
<% } else { %>
  Start thinking about <a href="<%= upgrade_url %>?utm_source=Dashboard_Limits_Reached&utm_medium=referral&utm_campaign=Upgrade_from_Dashboard&utm_content=upgrading%20your%20plan" class ="underline">upgrading your plan</a>.
<% } %>