<div class="inner">
  <p><%= message%></p>
  <% if (!sticky) {%>
    <a href="#/close" class="smaller close">x</a>
  <% } %>
  <% if (upgrade) { %>
    <% if (typeof organization !== "undefined" && organization.owner) { %>
      <a class="button small green upgrade" href="mailto:support@cartodb.com">Contact us</a>
    <% } else if (typeof organization !== "undefined" && !organization.owner) { %>
      <a class="button small green upgrade" href="mailto:<%= organization.email %>">Contact your admin</a>
    <% } else { %>
      <a class="button small green upgrade" href="<%= upgrade_url %>?utm_source=Dashboard_Limits_Reached&utm_medium=referral&utm_campaign=Upgrade_from_Dashboard&utm_content=Upgrade%20now%20%28button%29">Upgrade now</a>
    <% } %>
  <% } else if (trial) { %>
      <a class="button small green trial" href="<%= upgrade_url %>?utm_source=Dashboard_Trial_Suggested&utm_medium=referral&utm_campaign=Upgrade_from_Dashboard&utm_content=Start%20now">Start now</a>
  <% } %>
</div>
