body {position:relative; background:url('/images/common/header_bkg.jpg') repeat-x center 0 #2D3451;}
body, html {height:100%;} /*table hack*/
/*HEADER*/
header {width:100%; height:58px; margin:0 auto; background:none; z-index:100;}
header a.logo {float:left; width:70px; height:15px; margin:23px 0 0 40px; background:url('/images/common/logo.png') no-repeat 0 0; text-indent:-9999px;}
header p.session {float:right; margin:22px 40px 0 0; font:normal 13px Arial; color:white;}
header p.session a {text-decoration:underline; color:white;}
header p.session a:hover {}

/*SUBHEADER*/
section.subheader {width:100%; height:103px; background:url('/images/common/sub_header_bkg.png') repeat-x 0 0; z-index:100;}
section.subheader div.left {position:relative; float:left; width:700px; height:88px; padding:15px 0 0 0; margin:0 0 0 40px;}
section.subheader h2 {float:left; width:auto; font:bold 21px Arial; color:white;}
section.subheader p.status {float:left; width:auto; padding:2px 7px; margin:4px 0 0 10px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; font:bold 11px Arial; color:white; background:#6FBE6F;}
section.subheader span.tags {float:left; width:100%;}
section.subheader span.tags a {float:left; width:auto; padding:3px 7px; margin:4px 3px 0 0; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; font:normal 11px Arial; color:white; text-decoration:none  ; background:#121621;}
section.subheader span.tags a.add {padding:3px 0; margin:4px 0 0 10px; background:none; color:#FFCC00; text-shadow:0 1px black;}
section.subheader span.tags a:hover {background:black; text-decoration:underline;}
section.subheader span.tags a.add:hover {background:none;}
section.subheader ul {position:absolute; bottom:7px; left:0; width:100%;}
section.subheader ul li {float:left; width:auto; margin:0 3px 0 0;}
section.subheader ul li a {padding:7px 15px; color:white; font:bold 13px Arial; text-decoration:underline; background-color:rgba(256,256,256,0.1); -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; border-top-left-radius:5px; border-top-right-radius:5px;}
section.subheader ul li a:hover {color:#272E48; background-color:rgba(256,256,256,1); text-decoration:none;}
section.subheader ul li.selected a {background-color:rgba(256,256,256,1); color:#272E48; text-decoration:none;}
section.subheader ul li.selected a:hover {color:#272E48; text-decoration:none;}
section.subheader div.right {position:relative; float:right; width:100px; height:88px; padding:15px 0 0 0; margin:0 40px 0 0; color:white!important;}
section.subheader div.right p.settings {float:right;}
section.subheader div.right p.settings a {font:normal 13px Arial; text-shadow:0 1px black;}
section.subheader div.right p.settings a.delete {color:#FF3300;}
section.subheader div.right p.settings a.delete:hover {color:#FF4400;}
section.subheader div.right p.settings a.settings {padding:0 20px  0 0; color:white; background:url('/images/icons/settings.png') no-repeat right 1px;}
section.subheader div.right p.settings a.settings:hover {color:white;}
section.subheader div.right span.paginate {position:absolute; right:0; bottom:5px;  width:100%;}
section.subheader div.right span.paginate a {float:right; width:27px; height:23px; text-indent:-9999px;}
section.subheader div.right span.paginate a.previous {margin:0 3px 0 0; background:url('/images/icons/left_button.png') no-repeat 0 0;}
section.subheader div.right span.paginate a.next {background:url('/images/icons/right_button.png') no-repeat 0 0;}
section.subheader div.right span.paginate a:hover {background-position:0 -23px;}

/*TABLE*/
div.table_position {float:left; margin:0 0 0 40px; background:white;}
div.table_position table {width:auto; margin:3px 0 0 0;background:white; table-layout:fixed;}
div.table_position table thead {position:relative; padding:3px 0 0 0;}
div.table_position table thead tr {border-bottom:1px solid #D2D3D5;}
div.table_position table thead tr th {background-color:#FFFFFF; background: -moz-linear-gradient(100% 100% 90deg, #FFFFFF, #DDDEE1); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#DDDEE1));
  border-right:1px solid #E2E3E7;  text-shadow:0 1px white; -moz-box-shadow:inset 1px 1px 0 white; -webkit-box-shadow:inset 1px 1px 0 white;}
div.table_position table thead tr th div {position:relative!important; padding:13px;}
div.table_position table thead tr th h3 {font:bold 11px "Helvetica"; color:#727272; text-align:left; text-shadow:0 1px white;}
div.table_position table thead tr th p {font:normal 11px "Helvetica"; color:#B4B4B4; text-align:left; text-shadow:0 1px white;}
div.table_position table thead tr th a {position:absolute; right:10px; top:10px; height:14px; width:14px; margin:0; background:url('/images/tables/head_option_bkg.png') no-repeat 0 0; text-indent:-9999px; z-index:100;}
div.table_position table thead tr th a:hover {background-position:0 -14px;}
div.table_position table tbody {}
div.table_position table tbody tr {height:39px;}
div.table_position table tbody tr td {height:13px!important; width:100px!important; padding:13px; background-color:#f0f1f5; background:-moz-linear-gradient(100% 100% 90deg, #f9fafe, #f0f1f5); background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9fafe), to(#f0f1f5));
  border:1px solid #E4E5E9; border-top:none; font:normal 13px "Helvetica"; line-height:13px; color:#666666; text-shadow:0 1px white; -moz-box-shadow:inset 1px 1px 0 white; -webkit-box-shadow:inset 1px 1px 0 white;}
div.table_position table tbody tr td:hover {cursor:pointer;}
div.table_position table tbody tr:hover td {background: -moz-linear-gradient(100% 100% 90deg, #edf9ef, #e4F0E1); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#edf9ef), to(#e4F0E1));}
div.table_position table tbody tr td div {width:100px; overflow:hidden; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}

div.table_position div.loading_more {position:relative; display:none; float:left; width:100%; height:45px; padding:45px 0 0; margin:1px 0 0 0; background: -moz-linear-gradient(100% 100% 90deg, #DCDDE0, #FEFEFE); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DCDDE0), to(#FEFEFE));}
div.table_position div.loading_more p {width:100%; text-align:center; font:bold 13px "Helvetica"; color:#666666;}
div.table_position div.loading_more p.count {width:100%; padding:5px 0 0 0; text-align:center; font:normal 11px "Helvetica"; color:#B3B3B3;}
div.table_position div.loading_more img {position:absolute; width:25; height:25px ; margin:0 0 0 -13px; top:12px; left:50%;}



/*MAP*/
div#map {position:absolute; display:none; top:161px; left:0; right:0; bottom:0; background:white;}