<div class="Dialog-header Dialog-header--expanded u-inner">
  <% if (showBackButton) { %>
    <button class="NavButton Dialog-backBtn js-back">
      <i class="iconFont iconFont-ArrowPrev"></i>
    </button>
  <% } %>

  <div class="Dialog-headerIcon Dialog-headerIcon--positive">
    <i class="iconFont iconFont-Unlock"></i>
  </div>
  <p class="Dialog-headerTitle u-ellipsLongText">
    <%= title %>
  </p>
  <p class="DefaultSecondary">
    <%= subtitle %>
  </p>
</div>
