<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon 
    <% if (privateDatasets) { %>
      Dialog-headerIcon--alert
    <% } else { %>
      Dialog-headerIcon--neutral
    <% } %>  
    ">
    <i class="CDB-IconFont CDB-IconFont-map"></i>
  </div>
  <p class="CDB-Text CDB-Size-large u-mainTextColor 
    <% if (privateDatasets) { %>
      u-alertTextColor 
    <% } else { %>
      u-secondaryTextColor  
    <% } %>
    u-bSpace--m">
    <% if (!privateDatasets) { %>
    Export map
    <% } else { %>
    You're about to export a map with Private Datasets
    <% } %>
  </p>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">
    <% if (!privateDatasets) { %>
    This map, and the connected data, will be exported as a .carto file.
    <% } else if (owningPrivateDatasets) { %>
    Private Dataset will be exported. Be careful when sharing it, your whole data is there.
    <% } else { %>
    This map contents one or more Private Dataset. Only public datasets will be exported.
    <% } %>
  </p>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="js-cancel CDB-Button CDB-Button--secondary u-rSpace--xl">
    <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">Cancel</span>
  </button>

  <button class="js-ok CDB-Button CDB-Button--primary CDB-Button--big">
    <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">Ok, export</span>
  </button>
</div>
