<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="CDB-IconFont CDB-IconFont-download"></i>
  </div>
  <p class="Dialog-headerTitle">Ready to Download</p>
  <p class="Dialog-headerText">Tip: Allow pop-ups from CartoDB in your web browser.<br/>Click Download to begin the .carto file download.</p>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="js-download Button Button--main">
    <span>Download</span>
  </button>
</div>
