<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="CDB-IconFont CDB-IconFont-download"></i>
  </div>
  <h4 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">Ready to Download</h4>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">Tip: Allow pop-ups from CartoDB in your web browser.<br/>Click Download to begin the .carto file download.</p>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="js-download Button Button--main">
    <span>Download</span>
  </button>
</div>
