<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="CDB-IconFont CDB-IconFont-download"></i>
  </div>
  <h4 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">Ready to Download</h4>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">Tip: Allow pop-ups from CARTO in your web browser.<br/>Click Download to begin the .carto file download.</p>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="js-download CDB-Text CDB-Button CDB-Button--primary">
    <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">Download</span>
  </button>
</div>
