<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="CDB-IconFont CDB-IconFont-download"></i>
  </div>
  <p class="Dialog-headerTitle">Download ready</p>
  <p class="Dialog-headerText">Click on the button bellow to start your .carto file download.</p>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="js-download Button Button--main">
    <span>Download</span>
  </button>
</div>
