<div class="u-inner Dialog-body Dialog-body--withoutBorder Dialog-body--expanded is-expandedWithSubFooter">
  <form class="js-search-form" action="#">
    <input class="js-search-input" type="text" value="<%= q %>" />
    <% if (q) { %>
      <a href="#" class="js-clean-search">
        <i class="iconFont iconFont-Close"></i>
      </a>
    <% } %>
  </form>
  <div class="js-permissions"></div>
</div>

<div class="Dialog-stickyFooter">
  <div class="Dialog-footer ChangePrivacy-shareFooter u-inner">
    <div class="ChangePrivacy-shareFooterGroup">
      <i class="iconFont iconFont-Info ChangePrivacy-infoIcon"></i>
      <div class="DefaultSecondary">Be open my friend</div>
    </div>
    <div class="ChangePrivacy-shareFooterGroup">
      <button class="Button Button--secondary Dialog-footerBtn cancel">
        <span>cancel</span>
      </button>
      <button class="js-save Button Button--positive">
        <span>Save settings</span>
      </button>
    </div>
  </div>
</div>
