@import "../../variables/mixins";
@import "../../variables/colors";
@import "../../variables/sizes";

// Create dialog footer styles

.CreateDialog-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0!important;
  border: 0!important;
  text-align: center;
  z-index: 4;
}
.CreateDialog-footerInner {
  position: relative;
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  margin: 0 auto;
  padding: 15px 40px;
  background: $Grey10;
  min-height: 70px; // To have same consistent height regardless if the footer has buttons or not
}
@media (min-width: $sMedia-tablet) { .CreateDialog-footerInner { width: $sMedia-tablet } }
@media (min-width: 940px) { .CreateDialog-footerInner { width: 880px } }
.CreateDialog-footerShadow {
  position: absolute;
  top: -19px;
  left: 50%;
  width: 1020px;
  height: 18px;
  margin-left: -510px;
  z-index: 2;
}
.CreateDialog-footerLine {
  position: absolute;
  top: -1px;
  left: 50%;
  width: 940px;
  margin-left: -470px;
  height: 1px;
  z-index: 2;
}
.CreateDialog-footerInner.is-centered {
  display: block;
  @include justify-content(initial, initial);
}
.CreateDialog-footerInfo {
  font-size: $sFontSize-larger;
  font-weight: $sFontWeight-lighter;
  color: $Grey2;
}
.CreateDialog-footerInfoIcon { margin-right: 10px }
.CreateDialog-footerInfoEnquiry {
  font-size: $sFontSize-normal;
  color: $cTypography-headers;
  font-style: italic;
  padding-bottom: 10px;
}
.CreateDialog-footerActions {
  @include display-flex();
  @include align-items(center, center);
}
.CreateDialog-footerActionsButton.is-separated { margin-right: 10px }
