@import "../../variables/mixins";
@import "../../variables/colors";
@import "../../variables/sizes";

// Create dialog footer styles

.CreateDialog-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0!important;
  border: 0!important;
  text-align: center;
  z-index: 4;
}
.CreateDialog-footerInner {
  position: relative;
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  width: 940px;
  margin: 0 auto;
  padding: 15px 40px;
  background: $cStructure-grayBkg;
  min-height: 70px; // To have same height, if the footer do not contain any buttons
}
.CreateDialog-footerShadow {
  position: absolute;
  top: -19px;
  left: 50%;
  width: 1020px;
  height: 18px;
  margin-left: -510px;
  @include background-gradient(rgba(#F9F9F9,0),rgba(#F9F9F9,1));
  z-index: 2;
}
.CreateDialog-footerLine {
  position: absolute;
  top: -1px;
  left: 50%;
  width: 940px;
  margin-left: -470px;
  height: 1px;
  background: $cStructure-mainLine;
  z-index: 2;
}
.CreateDialog-footerInner.is-centered {
  display: block;
  @include justify-content(initial, initial);
}
.CreateDialog-footerInfo {
  font-size: $sFontSize-larger;
  font-weight: $sFontWeight-lighter;
  color: $cTypography-secondary;
}
.CreateDialog-footerInfoIcon {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  text-align: center;
  line-height: $sLineHeight-normal!important;
  font-size: $sFontSize-normal;
  color: white;
  background: #F6D35C;
  border: 1px solid #F2C000;
  border-radius: 20px;
}
.CreateDialog-footerInfoEnquiry {
  font-size: $sFontSize-normal;
  color: $cTypography-headers;
  font-style: italic;
  padding-bottom: 10px;
}
.CreateDialog-footerActions {
  @include display-flex();
  @include align-items(center, center);
}
.CreateDialog-footerActionsButton.is-separated { margin-right: 10px }
