@import "../../variables/mixins";
@import "../../variables/colors";
@import "../../variables/sizes";

// Create dialog listing block styles

.CreateDialog-listing {
  display: block;
  padding-top: 52px; // padded on top of the normal Dialog-body it seems, for content to appear below the subheader (.Filters) fold
  padding-bottom: 100px;
}
.CreateDialog-listing.CreateDialog-listing--withFlashMessage { padding-top: 126px }
.DatasetsPaginator {
  width: 940px;
  margin: 30px auto 30px;
}
.DatasetsPaginator .Pagination {
  @include justify-content(flex-end, end);
}
