<div class="js-info">
  <h1 class="Sessions-title u-tspace-m">
    <% if (state === "success") { %>
      Your account is ready
    <% } else if (state === "failure") { %>
      Oops! There was a problem
    <% } else { %>
      Your account is being created
    <% } %>
  </h1>
  <p class="Sessions-description">
    <% if (state === "success") { %>
      <% if (googleSignup) { %>
        You will be redirected to your dashboard in a moment...
      <% } else if (!requiresValidationEmail) { %>
        You will be redirected to the login page in a moment...
      <% } else { %>
        Check your email inbox and validate your email.
      <% }%>
    <% } else if (state === "failure") { %>
      Unfortunately there was a problem creating your account. <% if (!customHosted) { %>Please, <a href="mailto:support@carto.com?subject=User creation error: <%- userCreationId %>">contact us</a><% } %>.
    <% } else { %>
      It will take us some time, just a few seconds.
    <% } %>
  </p>
</div>
