// Icons
// --------------------------------------------------

.Icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(#9B9B9B, 0.4);
  text-align: center;
}

.Icon--round {
  border-radius: 50%;
}

.Icon--blue {
  border-color: #2CA8E1;
  color: #2CA8E1;

  &.is-highlight {
    background: #2CA8E1;
    color: #FFF;
  }
}

.IconFont--size24 {
  font-size: 24px;
}

.IconFont--center {
  margin-left: -3px;
}
