<div class="Dialog-body Dialog-body--share Dialog-body--withoutBorder Dialog-body--expanded">
  <div class="u-inner">
    <div class="Filters Filters--share is-relative">
      <div class="Filters-inner search--enabled">
        <div class="Filters-row">
          <div class="Filters-type">
            <ul class="Filters-list">
              <li class="Filters-typeItem Filters-searchEnabler">
                <a href="#/search" class="Filters-searchLink js-search-link">
                  <i class="Filters-searchLinkIcon iconFont iconFont-Lens"></i>Search
                </a>
              </li>
              <li class="Filters-typeItem Filters-searchItem">
                <form class="Filters-searchForm js-search-form" action="#">
                  <input class="Filters-searchInput js-search-input" type="text" value="<%- q %>" placeholder="Search by username or email" />
                  <button type="button" class="Filters-cleanSearch js-clean-search">
                    <i class="iconFont iconFont-Close"></i>
                  </button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="Dialog-bodyInnerExpandedWithSubFooter js-tab-pane"></div>
  </div>
</div>
