<div class="Dialog-header Dialog-header--expanded">
  <div class="Dialog-headerIcon Dialog-headerIcon--main">
    <i class="iconFont iconFont-EmptyDoc"></i>
  </div>
  <h3 class="Dialog-headerTitle"><%= visTypeCapitalized %> metadata</h3>
  <p class="Dialog-headerText">
    <% if (!isMetadataEditable) { %>
      You can't edit the <%= visType %> attributes.
    <% } else if (!isNameEditable) { %>
      Edit your <%= visType %> attributes, but name is not allowed in this state.
    <% } else { %>
      Edit your <%= visType %> attributes.
    <% } %>
  </p>
</div>
<div class="Dialog-expandedSubContent js-content">
  <div class="EditVisMetadata-form">
    <form class="EditVisMetadata-formContent js-form"></form>
  </div>
</div>