<div class="Dialog-header Dialog-header--expanded">
  <div class="Dialog-headerIcon Dialog-headerIcon--main">
    <i class="iconFont iconFont-Document"></i>
  </div>
  <p class="Dialog-headerTitle"><%= visType %> metadata</p>
  <p class="Dialog-headerText">
    This is an useful tool to edit your <%= visType %> attributes quickly.
  </p>
</div>
<div class="Dialog-expandedSubContent js-content">
  
</div>