<label class="EditVisMetadata-markdown js-markdown" data-title="<em>_italics_</em><br/><b>*bold*</b><br/>[link](http://link.com)">
  <span class="EditVisMetadata-markdownIcon">
    <i class="EditVisMetadata-markdownIconText">M</i>
    <i class="EditVisMetadata-markdownIconChar">￬</i>
  </span>
  Markdown supported
</label>
