<span id="google_connect" style="display: none">
  <iframe src="<%= config.iframe_src %>" width="300" height="41"></iframe>
</span>

<span id="google_disconnect" style="display: none">
  <a onclick="#" id="disconnectGoogleButton">Disconnect your Google+ account</a>
</span>

<script>
  document.domain = '<%= config.domain %>'

  function signinCallback(authResult) {
    if (typeof authResult.access_token != 'undefined') {
      // INFO: user exists, let's sign in
      if (authResult['status']['signed_in']) {
        access_token = authResult.access_token;

        $('#google_connect').hide();
        $('#google_disconnect').show();
      }
    } else {
      $('#google_row').hide();
    }
    if(typeof signinCallbackCalled != 'undefined') {
      signinCallbackCalled(authResult);
    }
  }
</script>
