<html>
  <head>
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <script>
      document.domain = '<%= @config.domain %>'

      function signinCallback(authResult) {
        if(inIframe() && parentInSameDomain()) {
          parent.signinCallback(authResult);
        }
      }

      function inIframe () {
          try {
              return window.self !== window.top;
          } catch (e) {
              return true;
          }
      }

      function parentInSameDomain() {
        return parent.document.domain.match(document.domain + "$").length > 0;
      }
    </script>
    <style type="text/css">
      html,
      body {
        padding: 0;
        margin: 0;
        min-width: 100%;
        background: transparent;
      }
      #signinButton span {
        display: block;
        background: #dd4b39;
        color: white;
        width: 100%;
        height: 41px;
        border-radius: 21px;
        text-align: center;
        transition: all .15s;
        cursor: pointer;
      }
      #signinButton span:hover {
        color: #dd4b39;
        background: #fff;
      }
      span.g-signin {
        text-align: center;
        font-weight: 400;
        line-height: 41px;
        font-size: 12px;
        font-family: 'Proxima Nova W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
      }
    </style>
  </head>
   <body>
    <div id="gSignInWrapper">
      <div id="signinButton" class="customGPlusSignIn">
        <span
          class="g-signin"
          data-callback="signinCallback"
          data-clientid="<%= @config.client_id %>"
          data-cookiepolicy="<%= @config.cookie_policy %>"
          data-scope="email">Login with Google</span>
      </div>
    </div>
  </body>
</html>
