<html>
  <head>
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <script>
      document.domain = '<%= @domain %>'

      function signinCallback(authResult) {
        if(inIframe()) { 
          parent.signinCallback(authResult);
        }
      }

      function inIframe () {
          try {
              return window.self !== window.top;
          } catch (e) {
              return true;
          }
      }
    </script>
  </head>
  <body>
    <span id="signinButton">
      <span
        class="g-signin"
        data-callback="signinCallback"
        data-clientid="<%= @client_id %>"
        data-cookiepolicy="<%= @cookie_policy %>"
        data-scope="email">
      </span>
    </span>
  </body>
</html>
