<div class="Dialog-headerIcon Dialog-headerIcon--neutral u-flex u-alignCenter u-justifyCenter">
  <i class="CDB-IconFont CDB-IconFont-play Videotutorial-headerIcon"></i>
</div>
<h4 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">Create a map with a video-tutorial</h4>
<p class="CDB-Text CDB-Size-medium u-altTextColor">We can help you to create your map with one of our video-tutorials.</p>

<% if (isVideoSelected) { %>
  <button class="Dialog-backBtn js-back u-actionTextColor">
    <i class="CDB-IconFont CDB-IconFont-arrowPrev"></i>
  </button>
<% } %>