<div class="Dialog-headerIcon Dialog-headerIcon--neutral">
  <i class="iconFont iconFont-Play Videotutorial-headerIcon"></i>
</div>
<h4 class="Dialog-headerTitle">Create a map with a video-tutorial</h4>
<p class="Dialog-headerText">We can help you to create your map with one of our video-tutorials.</p>

<% if (isVideoSelected) { %>
  <button class="NavButton Dialog-backBtn js-back">
    <i class="iconFont iconFont-ArrowPrev"></i>
  </button>
<% } %>