<% if (isVideoSelected) { %>
  <div class="Dialog-footer u-inner u-flex u-alignCenter u-justifySpace">
    <div class="u-flex u-alignCenter CDB-Text CDB-Size-medium u-altTextColor">
      <i class="CDB-IconFont CDB-IconFont-info VideoTutorial-footerInfoIcon HighlightIcon HighlightIcon--warning"></i>Take your time to watch this tutorial or skip it and start creating your map now
    </div>
    <button class="CDB-Button CDB-Button--secondary js-start">
      <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">start guided tutorial</span>
    </button>
  </div>
<% } %>