<% if (isVideoSelected) { %>
  <div class="Dialog-footer u-inner">
    <i class="iconFont iconFont-Info HighlightIcon HighlightIcon--warning"></i>Take your time to watch this tutorial or skip it and start creating your map now
    <button class="Button Button--secondary js-start">
      <span>start guided tutorial</span>
    </button>
  </div>
<% } %>