<% if (isVideoSelected) { %>
  <div class="Dialog-footer u-inner VideoTutorial-footerInner">
    <div class="VideoTutorial-footerInfo">
      <i class="iconFont iconFont-Info VideoTutorial-footerInfoIcon HighlightIcon HighlightIcon--warning"></i>Take your time to watch this tutorial or skip it and start creating your map now
    </div>
    <button class="Button Button--secondary js-start">
      <span>start guided tutorial</span>
    </button>
  </div>
<% } %>