<div class="MergeDatasets-list MergeDatasets-fixAboveFooter">
  <div class="List-row">
    <div class="List-rowItem">
      <div></div>
      <div class="List-rowItemContentLeft">
        <div class="DefaultParagraph--tertiary">Select all datasets</div>
        <div class="Toggler js-select-all">
          <input type="checkbox" <%= areAllSelected ? 'checked="checked"' : '' %> />
          <label />
        </div>
      </div>
    </div>
  </div>
</div>
