<div class="List-rowItem List-rowItem--compact">
  <div class="MergeDatasets-rowItem">
    <% if (selectorType === 'radio') { %>
      <div class="MergeDatasets-rowItemRadio">
        <div class="RadioButton">
          <button class="RadioButton-input js-radio" />
        </div>
      </div>
    <% } %>
    <div>
      <div class="DefaultTitle"><%- columnName %></div>
      <p class="DefaultParagraph DefaultParagraph--tertiary"><%- columnType %></p>
    </div>
  </div>
  <div>
    <% if (selectorType === 'switch') { %>
      <div class="Toggler">
        <input type="checkbox" class="js-switch" />
        <label />
      </div>
    <% } %>
  </div>
</div>
