<div class="List-rowItem">
  <div class="List-rowItemContentLeft">
    <% if (selectorType === 'radio') { %>
      <div class="RadioButton">
        <button class="RadioButton-input js-radio <%= isSelected ? 'is-checked' : '' %>" />
      </div>
    <% } %>
    <div>
      <div class="DefaultTitle"><%- columnName %></div>
      <p class="DefaultParagraph DefaultParagraph--tertiary"><%- columnType %></p>
    </div>
  </div>
  <div>
    <% if (selectorType === 'switch') { %>
      <div class="Toggler">
        <input type="checkbox" class="js-switch" <%- isSelected ? 'checked="checked"' : '' %> />
        <label />
      </div>
    <% } %>
  </div>
</div>
