<div class="List-rowItem">
  <div class="RadioButton">
    <button class="RadioButton-input js-radio <%= isSelected ? 'is-checked' : '' %>" />
  </div>
  <div>
    <div class="DefaultTitle"><%- columnName %></div>
    <p class="DefaultParagraph DefaultParagraph--tertiary"><%- columnType %></p>
  </div>
</div>
<div>
  <% /* TODO: switch */ %>
</div>
