<div class="MergeDatasets-list MergeDatasets-fixedAboveFooter">
  <div class="List-row">
    <div class="List-rowItem List-rowItem--compact">
      <div></div>
      <div class="MergeDatasets-rowItem">
        <div class="DefaultParagraph--tertiary">Select all datasets</div>
        <div class="Toggler js-select-all">
          <input type="checkbox" <%= areAllSelected ? 'checked="checked"' : '' %> />
          <label />
        </div>
      </div>
    </div>
  </div>
</div>
