<div class="Dialog-footer Dialog-footer--expanded CreateDialog-footer">
  <div>
    <div class="CreateDialog-footerShadow"></div>
    <div class="CreateDialog-footerLine"></div>
    <div class="CreateDialog-footerInner ">
      <div class="CreateDialog-footerInfo js-info"></div>
      <div class="CreateDialog-footerActions">
        <button class="Button Button--main is-disabled js-next">
          <span><%- nextLabel %></span>
        </button>
      </div>
    </div>
  </div>
</div>
