<div class="js-merge-flavors-list" style="display: block;">
  <div class="Dialog-header u-inner">
    <div class="Dialog-headerIcon Dialog-headerIcon--main">
      <i class="iconFont iconFont-Outside"></i>
    </div>
    <p class="Dialog-headerTitle">Merge with another table</p>
    <p class="Dialog-headerText">Table merging is useful if you want to combine data from two tables into a single new table.</p>
    <p class="Dialog-headerText">You can merge tables by a column attribute or as a spatial intersection.</p>
  </div>

  <div class="Dialog-body">
    <div class="OptionCards">
      <div class="js-merge-flavor OptionCard <%- canApplyRegularMerge ? '' : 'is-disabled' %>"
          data-merge-flavor="regular">
        <div class="OptionCard-icon IllustrationIcon IllustrationIcon--alert">
          <i class="iconFont iconFont-Question"></i>
        </div>
        <div class="OptionCard-title">Column join</div>
        <div class="OptionCard-desc">Merge two datasets based on a shared value (ex. ISO codes in both datasets)</div>
      </div>
      <div class="js-merge-flavor OptionCard"
          data-merge-flavor="spatial">
        <div class="OptionCard-icon IllustrationIcon IllustrationIcon--royal">
            <i class="iconFont iconFont-Question"></i>
          </div>
        <div class="OptionCard-title">Spatial join</div>
        <div class="OptionCard-desc">Measure the number of intesecting records between two dataets (ex. count point inside polygons)</div>
      </div>
    </div>
  </div>
</div>

<div class="js-table-selector" style="display: none;">
  <button class="js-back NavButton Dialog-backBtn">
    <i class="iconFont iconFont-ArrowPrev"></i>
  </button>
  <div class="merge_tables_dialog">
    <section class="block modal creation tables_selector">
      <div>
        <div class="tables" style="display: block;">
          <div class="table_preview actual_table"></div>
          <div class="table_preview merge_table"></div>
        </div>

        <div class="table_name">
          <input type="text" class="text name" value="tables_merge">
          <div class="info error">
            <p>The name of the new dataset shouldn't be blank and different than actual dataset.</p>
          </div>
        </div>
      </div>

      <div class="foot">
        <a href="#next" class="right next ok button disabled grey">Next</a>
      </div>
    </section>
  </div>
</div>
