<div class="merge_tables_dialog">
  <section class="block modal creation tables_selector">
    <div class="head">
      <h3><%= title %></h3>
    </div>

    <div class="content">
      <strong class="title"></strong>
      <p class="description"><%= description %></p>

      <ul class="join_types">

        <li<% if (!regularMerge) { %> class="disabled"<% } %>>
        <a href="#" class="radiobutton<% if (!regularMerge) { %> disabled<% } %>" data-merge-flavor="regular"><span class="radio"></span>Column Join</a>
        <p>Merge two datasets based a shared value (ex. ISO codes in both datasets).</p>
        </li>

        <li<% if (!spatialMerge) { %> class="disabled"<% } %>>
        <a href="#" class="radiobutton<% if (!spatialMerge) { %> disabled<% } %>" data-merge-flavor="spatial"><span class="radio"></span>Spatial Join</a>
        <p>Measure the number of intersecting records between two datasets, (ex. count points inside polygons).</p>
        </li>

      </ul>

      <div class="tables">
        <div class="table_preview actual_table"></div>
        <div class="table_preview merge_table"></div>
      </div>

      <div class="table_name">
        <input type="text" class="text name" value="tables_merge">
        <div class="info error">
          <p>The name of the new dataset shouldn't be blank and different than actual dataset.</p>
        </div>
      </div>
    </div>

    <div class="foot">
      <a href="#back" class="left back hidden margin15">Go back</a>
      <a href="#next" class="right next ok button disabled grey">Next</a>
    </div>
  </section>
</div>
