<div class="OptionCard-icon IllustrationIcon <%- illustrationIconType %>">
  <i class="iconFont <%- icon %>"></i>
</div>
<div class="OptionCard-title"><%- title %></div>
<div class="OptionCard-desc"><%- desc %></div>
