<div class="Dialog-content Dialog-content--expanded">

  <div class="js-merge-flavors-list Dialog-contentWrapper">
    <div class="Dialog-header Dialog-header--expanded CreateDialog-header CreateDialog-header--withoutMaxHeight">
      <ul class="CreateDialog-headerSteps">
        <li class="CreateDialog-headerStep CreateDialog-headerStep--single is-selected">
          <div class="Dialog-headerIcon">
            <i class="iconFont iconFont-Outside"></i>
          </div>
          <p class="Dialog-headerTitle">Merge with another table</p>
          <p class="Dialog-headerText">Table merging is useful if you want to combine data from two tables into a single new table.</p>
          <p class="Dialog-headerText">You can merge tables by a column attribute or as a spatial intersection.</p>
        </li>
      </ul>
    </div>

    <div class="Dialog-body Dialog-body--expanded CreateDialog-body">
      <div class="u-inner">
        <div class="OptionCards">
          <div class="js-merge-flavor OptionCard <%- canApplyRegularMerge ? '' : 'is-disabled' %>"
              data-merge-flavor="regular">
            <div class="OptionCard-icon IllustrationIcon IllustrationIcon--alert">
              <i class="iconFont iconFont-Question"></i>
            </div>
            <div class="OptionCard-title">Column join</div>
            <div class="OptionCard-desc">Merge two datasets based on a shared value (ex. ISO codes in both datasets)</div>
          </div>
          <div class="js-merge-flavor OptionCard"
              data-merge-flavor="spatial">
            <div class="OptionCard-icon IllustrationIcon IllustrationIcon--royal">
                <i class="iconFont iconFont-Question"></i>
              </div>
            <div class="OptionCard-title">Spatial join</div>
            <div class="OptionCard-desc">Measure the number of intesecting records between two dataets (ex. count point inside polygons)</div>
          </div>
        </div>
      </div>
    </div>

    <div class="Dialog-footer Dialog-footer--expanded CreateDialog-footer">
      <div>
        <div class="CreateDialog-footerShadow"></div>
        <div class="CreateDialog-footerLine"></div>
        <div class="CreateDialog-footerInner ">
          <div class="js-footer-info CreateDialog-footerInfo">
            <i class="iconFont iconFont-Info CreateDialog-footerInfoIcon"></i>
            New on CartoDB? Start with one of our <a href="#" class="js-templates">templates</a>
          </div>
          <div class="CreateDialog-footerActions">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="js-table-selector Dialog-contentWrapper" style="display: none;">
    <button class="js-back NavButton Dialog-backBtn">
      <i class="iconFont iconFont-ArrowPrev"></i>
    </button>

    <div class="Dialog-header Dialog-header--expanded CreateDialog-header CreateDialog-header--withoutMaxHeight">
      <ul class="CreateDialog-headerSteps">
        <li class="CreateDialog-headerStep CreateDialog-headerStep--single is-selected">
          <div class="Dialog-headerIcon">
            <i class="iconFont iconFont-Outside"></i>
          </div>
          <p class="Dialog-headerTitle">TBD</p>
          <p class="Dialog-headerText">TBD</p>
        </li>
      </ul>
    </div>

    <div class="Dialog-body Dialog-body--expanded CreateDialog-body">
      <div class="u-inner">
        <div>
          <div class="table_preview js-actual-table"></div>
          <div class="table_preview js-merge-table"></div>
        </div>

        <div class="js-table-name">
          <input type="text" class="js-input" value="tables_merge">
          <div class="info error">
            <p>The name of the new dataset shouldn't be blank and different than actual dataset.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="Dialog-footer Dialog-footer--expanded CreateDialog-footer">
      <div>
        <div class="CreateDialog-footerShadow"></div>
        <div class="CreateDialog-footerLine"></div>
        <div class="CreateDialog-footerInner ">
          <div class="js-footer-info CreateDialog-footerInfo">
            <i class="iconFont iconFont-Info CreateDialog-footerInfoIcon"></i>
            New on CartoDB? Start with one of our <a href="#" class="js-templates">templates</a>
          </div>
          <div class="CreateDialog-footerActions">
            <button class="js-next Button Button--main is-disabled">
              <span class="js-next-text">Next step</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
