
	/*
   * Api keys and Oauth pages
   */

	@import "compass/css3/inline-block";

	article {
		@include inline-block();
		width:100%;
		padding:40px 0;
		background: image-url('layout/bkg.jpg') repeat 0 0;
		
		&.oauth {
			padding-top:0;
			padding-bottom:70px;
		}
	}

	section.long {

		div.content {
			padding:0;

			input {width:492px;}

			li {
				padding:40px;

				div.list {
					display:list-item;
					list-style:img-url("layout/list.png");
				}

				&.flash {
					padding:22px 40px;
				}

				&.success {
					background: rgba(green,0.1);
				}
			}
		}

		a.red:hover {color:#C84C46;}
	}