
	/*
   * Api keys and Oauth pages
   */

	@import "compass";

	article {
		@include inline-block();
		width:100%;
		padding:40px 0 50px 0;
		background: image-url('layout/bkg.jpg') repeat 0 0;
	}

	section.long {

		div.content {
			padding:0;

			li {
				padding:40px;

				div.list {
					display:list-item;
					list-style:img-url("icons/list.png");
				}

				&.flash {
					padding:22px 40px;
				}
			}
		}

		a.red:hover {color:#C84C46;}
	}