<%- message = "<strong>Error code: #{@error_code}</strong> - #{@error_message.html_safe}" %>

<%= render partial: 'mailer_modules/warning_message', locals: { message: message } %>

<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p>The automatic synchronization of your dataset <strong><%=@dataset_name %></strong> has reached the maximum number of synchronization attempts and it's still failing to sync.</p>
    <p>If you'd like to continue trying, log in to your account and manually reactivate synching by clicking “Sync now”</p>
    <p>For more information about error messages and possible solution, <a href="https://carto.com/developers/import-api/support/import-errors/" target="_blank" style="color: #1181FB;">click here</a>.</p>
  </td>
</tr>

<%= render partial: 'mailer_modules/link_to_action', locals: { link: @link, link_text: "View your dataset" } %>
