<p>The table seems to be either empty or all the records had been georeferenced before.</p>
<p class="margin10">If you want to georeference again the entire table drop the column <strong>"cartodb_georef_status"</strong> or mark as NULL or FALSE those records that you would like to georeference again</p>
