<li class="point selected">
  <a href="#" class="opt" data-style="point" tabindex="-1">
    <div class="icon_container"><div class="icon">
        <div class="marker a"></div>
        <div class="marker b"></div>
        <div class="marker c"></div>
      </div>
    </div>
    <div class="warning"></div>
    <span>Georeference your data with points</span>
  </a>
</li>

<li class="polygon">
  <a href="#" class="opt" data-style="polygon" tabindex="-1">
    <div class="icon_container"><div class="icon"></div></div>
    <div class="warning"></div>
    <span>Georeference your data with administrative regions</span>
  </a>
</li>
