<% if (hasContent == true ) { %>

  <ul class="options">
    <li class="option active" data-option="0">
      <a href="#/lon-lat" class="radiobutton option selected"><span class="radio"></span>You have lon/lat columns in your table</a>
      <div class="cont lat-lng" style="display:block">
        <div class="column_selector">
          <span>Lon</span>
          <div class="form_combo" id="lon"></div>
        </div>
        <div class="column_selector">
          <span>Lat</span>
          <div class="form_combo" id="lat"></div>
        </div>
      </div>
    </li>

    <li class="option region" data-option="1">
      <a href="#/address" class="radiobutton option"><span class="radio"></span>You have a column identifying administrative regions</a>
      <div class="hint">(ex: Countries, provinces, zip codes...)</div>
      <div class="cont">

        <ul>
          <li>
            <span>In your table the polygons are identified by...</span>
            <select id="columns">
              <% _.each(columnNames, function(i) { %><option value="<%- i %>"><%- i %></option> <% }); %>
            </select>
          </li> 

          <li>
            <span class="margin-right">I want my data in</span>
            <select id="countries">
              <option value="world">the World</option>
            </select>

            <span class="by">by</span>

            <select id="adm">
              <option value="countries">Countries</option>
            </select>
          
          </li>
        </ul>

      </div>
    </li>

    <li class="option ip" data-option="2">
      <a href="#/address" class="radiobutton option"><span class="radio"></span>You have a column identifying IP Address locations</a>

      <div class="cont">

        <ul>
          <li>
            <span>In your table the polygons are identified by...</span>
            <select id="columns">
              <% _.each(columnNames, function(i) { %><option value="<%- i %>"><%- i %></option> <% }); %>
            </select>
          </li> 

        </ul>

      </div>


    </li>


    <li class="option" data-option="3">
      <a href="#/address" class="radiobutton option"><span class="radio"></span>You have one or more columns with the address</a>
      <div class="cont address">
        <p class="hide hack"></p>
        <div class="input_field">
          <input type="text" class="text column_autocomplete" />
        </div>
        <div class="info">
          <p>Your address shouldn't be blank</p>
        </div>

        <div class="hint">
          <span class="hint">HINT</span>
          <p class="hint_text">You can add also extra text to make geocoding more accurate (eg. {school}, New York, USA)</p>
        </div>

      </div>
    </li>


  </ul>
<% } else { %>
  <p>It looks like there is no data on your table and therefore there is nothing to georeference. Please, add some data and come back to georeference it.</p>
<% } %>
