.ExportFormatPicker {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  background: rgba(#000, 0.7);
  color: #9B9B9B;
  font-size: 12px;
}

.ExportFormatPicker-format {
  color: #FFF;
}
