
  /**
   *  New layer dialog styles
   */

  @import "compass/css3/border-radius";
  @import "compass/css3/opacity";
  @import "../old_common/vars";
  @import "../old_common/mixins";

  .new_layer_dialog {

    span.loader {
      display:block;
      width:100%;
      margin:15px 0 0 0;
      padding:28px 0 0 0;
      text-align:center;
      background:image-url("layout/loader.gif") no-repeat center top;
      color:#898989;
    }

    ul.options {
      div.options {
        @include opacity(0);
      }
    }

    div.upload {
      input[type="text"] { width:410px!important; }
    }

    .combo_wrapper {
      display:none;
      padding:12px;
      background:#F2F2F2;
      @include border-radius(6px);
      margin: 10px 0 0 0;
    }

    p.warning {
      display:none;
      padding:0 14px;
      margin:4px 0 0;
      line-height:44px;
      @include border-radius(3px);
      background:#FFF8E3;
      color:#666666;
      font-size:14px;
      font-family: $text-fonts;

      &.privacy, &.error {background:#FFEAEA;}
    }
  }
