/**
 *  Static Image dialog styles
 */

@import "compass/css3/box-sizing";
@import "compass/css3/opacity";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "common/form-elements";
@import "common/mixins";

.static_image_dialog {

  @include default-form-info();
  @include default-input();
  @include default-textarea();

  // Sections
  div.content {
    padding: 22px 40px 40px 40px;
  }

  div.foot  {
    padding: 0 40px 35px 40px!important;
    border:none!important;
  }

  .row label {
    padding: 0;
  }

  .row .input_field {
    margin: 0 20px 0 0;
  }

  input[type="text"] {
    @include box-sizing(border-box);
    @include inline-block();
    width: 70px;
    padding:14px 11px;
    margin: 0;
  }

  label {
    display:block;
    margin:0 0 7px 0;
    padding: 0;
  }

  .unit {
    color: #ccc;
  }

}
