/**
 *  Static Image dialog styles
 */

@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "old_common/form-elements";
@import "old_common/mixins";

.static_image_dialog {
  @include default-form-info();
  @include default-input();
  @include default-textarea();

  // Sections
  div.content {
    padding: 22px 40px 40px;
  }

  div.foot {
    padding: 0 40px 35px !important;
    border: none !important;
  }

  .row label {
    padding: 0;
  }

  .row .input_field {
    margin: 0 20px 0 0;
  }

  .row .input_field:last-child {
    margin: 0;
  }

  input[type="text"] {
    display: inline-block;
    box-sizing: border-box;
    width: 106px;
    margin: 0;
    padding: 14px 11px;
    vertical-align: top;
  }

  label {
    display: block;
    margin: 0 0 7px;
    padding: 0;
  }

  .attribution {
    margin: 20px 0 0;
  }

  .attribution p {
    margin: 0 0 10px;
    line-height: 130%;
  }

  .attribution p.highlighted {
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 2px;
    background: #F1F1F1;
  }

  .attribution p:last-child {
    margin: 0;
  }

  .attribution p a {
    letter-spacing: normal;
  }

  &.is-loading .loader {
    display: block;
  }

  .loader {
    display: none;
    width: 38px;
    height: 16px;
    margin: 14px 10px 0 0;
    padding: 0;
    float: right;
    border: none;
    background: image-url("layout/loader_transparent.gif") no-repeat 0 0;
  }

  .unit {
    color: #CCC;
  }

  section.modal.confirmation {
    display: none;
  }
}
