
/*
 * Right panel in the table view
 * - SQL, facets, ...
 */

// @import "compass/css3/box-shadow";
// @import "compass/css3/border-radius";
// @import "compass/css3/inline-block";
// @import "compass/css3/images";
// @import "compass/css3/transform";
// @import "compass/css3/transition";
// @import "compass/css3/opacity";
// @import "compass/css3/box-sizing";

@import "../common/mixins";
@import "../common/forms";
@import "../common/vars";
@import "../common/common-sprite";
@import "../table/table-sprite";

$corner_radius: 6px;

.table_panel {
  position:fixed;
  right:-537px;
  top:64px;
  bottom:0px;
  width:600px;
  padding-top:25px;
  background:white;
  letter-spacing:-4px;
  border:1px solid rgba(black,0.4);
  border-bottom:0;
  border-right:0;
  background:#EDEDED;
  @include box-shadow(rgba(black,0.15) 0 0 2px 2px);
  @include border-top-left-radius($corner_radius);
  z-index:20;

  &:before {
    content:'';
    position:absolute;
    @include size(100%, 10px);
    top:-1px;
    right:-1px;
    left:-1px;
    width:100%;
    height:83px;
    border-top:1px solid rgba(black,0.5);
    border-left:1px solid rgba(black,0.5);
    z-index:0;
    @include border-top-left-radius($corner_radius);
  }

  // Hello layer panel, let's play a little bit
  /*
  .Layer-panel
  - .layer_info
  - .sidebar
  - .views

   */
.layer_panel {
  position:relative;
  width:100%;
  height:100%;
  margin-top:-25px;
  background:#EDEDED;
  border-top:1px solid #999999;
  @include border-top-left-radius($corner_radius);
  @include box-shadow(rgba(black,0.1) 0 -10px 20px 0);
  @include transform-style("linear");
  @include transition-property("padding,margin");
  @include transition-duration(250ms);
  z-index:1;

  &:hover {padding-bottom:15px}
  &:first-child {margin-top:0;}
  &:last-child:hover {margin-top:-38px}
}

.add_layer {
  position:relative;
  height:55px;
  margin-top:-15px;
  line-height:35px;
  @include transform-style("linear");
  @include transition-property("height");
  @include transition-duration(250ms);

  &:hover {height:70px}

  div.right {margin-right:20px;}
}

// Layer info, as name, order, ... etc
.layer_info {
  position:absolute;
  top:0; right:0; bottom:auto; left:0;
  line-height:62px;
  height:67px;
  @include border-top-left-radius($corner_radius);
  border-bottom:1px solid rgba(#999999,0.25);
  z-index:0;

  div.left {width:82%;}
  div.right {width:45px; margin-right:20px;}

  // Layer edition
  @include default-input();

  input.alias {
    @include default-input();
    position:absolute;
    display:none;
    top:7px;
    left:57px;
    padding:6px 9px;
    font:bold 17px $text-fonts;
    color:#787878;
  }
}

// Layer info
a.info {
  display:block;
  left:0!important;
  top:0!important;
  padding-left:24px;

  * {@include inline-block(); vertical-align:middle; letter-spacing:0px;}

  .order {
    width:16px;
    padding:1px 0;
    line-height:16px;
    text-align:center;
    font:bold 11px $text-fonts;
    color:#ECECEC;
    background:#A9A9A9;
    @include border-radius(2px);
  }

  .add {
    width:16px;
    height:16px;
    text-align:center;
    font:bold 11px $text-fonts;
    color:#ECECEC;
    background:#A9A9A9;
    @include text-indent();
    @include border-radius(2px);
    @include background(sprite($table-sprites, add_layer, $offset-x:0, $offset-y:0) no-repeat);
  }

  .name {
    max-width:80%;
    width:auto;
    @include text-overflow();
    overflow:hidden;
    margin-left:27px;
    font:bold 17px $text-fonts;
    color:#A9A9A9;
    line-height:20px;

    i.synced {
      @include inline-block();
      vertical-align:top;
      width:12px;
      height:12px;
      margin:5px 0 0 4px;
      @include background(sprite($table-sprites, sync_layer_icon, $offset-x:0, $offset-y:0) no-repeat);
    }

    &:hover {
      cursor:pointer;
      i.synced {
        @include background(sprite($table-sprites, sync_layer_icon, $offset-x:0, $offset-y:-12px) no-repeat);
      }
    }
  }

  .name_info {
    position:absolute;
    top:34px;
    left:67px;
    overflow:hidden;
    max-width:80%;
    width:auto;
    font:normal 11px $text-fonts;
    color:#AAA;
    @include text-overflow();
    line-height:15px;
  }

  .action {
    margin-left:27px;
    font:500 17px $text-fonts;
    line-height:20px;
  }

  &:hover {
    text-decoration:none;
    cursor:pointer;
    .name {color:#666;}
    .action {color: #3A77A6;}
    .order {background:#666;}
    .add { @include background(sprite($table-sprites, add_layer, $offset-x:0, $offset-y:-16px) no-repeat); }
  }
}


// LAYER ACTIONS

// visibility
.visibility {}

// remove
.remove {
  @include inline-block();
  vertical-align:middle;
  letter-spacing:0px;
  width:13px;
  height:13px;
  margin-left:5px;
  @include background(sprite($common-sprites, close_grey, $offset-x:0, $offset-y:0) no-repeat);
  &:hover {@include background(sprite($common-sprites, close_grey, $offset-x:0, $offset-y:-13px) no-repeat);}
  &:active {@include background(sprite($common-sprites, close_grey, $offset-x:0, $offset-y:-26px) no-repeat);}
}

// Sorting
.layer_panel.ui-sortable-placeholder {
  visibility: visible!important;

  &:after {
    content:'';
    position:absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 0;
    border:2px dashed #AAA;
    @include border-top-left-radius(3px);
    z-index:0;
  }

  &:before {
    content:'Drop your layer here';
    position:absolute;
    top:25px;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    text-align: center;
    font:bold 17px $text-fonts;
    color:#CDCDCD;
    line-height:20px;
    letter-spacing: 0;
    z-index:1;
  }
}

// Layer actions sidebar
.sidebar {
  position:absolute;
  top:68px;
  bottom:0;
  left:0;
  @include inline-block();
  @include size(65px, auto);
  letter-spacing:0;
  @include border-left-radius(4px);
  @include single-box-shadow(rgba(black,0.03), -4px, 0, 5px, 0, true);
  z-index:6;

  nav {
    position:absolute;
    left:0;
    width:100%;

    &.tools {
      top:0;
      a.has_errors {
        position:relative;

        span.error {
          content:'!';
          position:absolute;
          top:19px;
          left:36px;
          width:8px;
          height:8px;
          background:#EB2466;
          @include border-radius(10px);
          @include box-shadow(rgba(#E5E5E5,1) 0 0 0 1px);
          color:white;
          font-size:8px;
          line-height:10px;
        }

        &.sql_mod {
          span.error {top:20px; left:39px;}
        }
      }

      a.applied {
        span.run {
          position:absolute;
          top:32px;
          left:39px;
          width:8px;
          height:8px;
          background:#36D900;
          @include background(linear-gradient(#36D900,#238C00));
          @include border-radius(10px);
          @include box-shadow(rgba(#E5E5E5,1) 0 0 0 1px);
          color:white;
          font-size:8px;
          line-height:10px;

          &:before {
            content:'';
            position:absolute;
            top:2px;
            left:3px;
            width:0;
            height:0;
            border-bottom:2px solid transparent;
            border-top:2px solid transparent;
            border-left:2px solid white;
          }
        }
      }
    }

    &.edit {
      bottom:0;
      a.merge_tables {border-top:1px solid rgba(#999999,0.25);}
    }

    a {
      position:relative;
      display:block;
      width:100%;
      height:60px;
      @include text-indent();
      border-bottom:1px solid rgba(#999999,0.25);
      z-index:0;
      @include opacity(0.75);

      &.sql_mod        { @include table-sprite(table_icons, $offset-x:20px, $offset-y:-3px);}
      &.filters_mod    { @include table-sprite(table_icons, $offset-x:21px, $offset-y:-62px);}
      &.cartocss_mod   { @include table-sprite(table_icons, $offset-x:21px, $offset-y:-549px);}
      &.infowindow_mod { @include table-sprite(table_icons, $offset-x:20px, $offset-y:-430px);}
      &.legends_mod    { @include table-sprite(table_icons, $offset-x:20px, $offset-y:-663px);}

      &.wizards_mod    {
        @include table-sprite(table_icons, $offset-x:21px, $offset-y:-370px);
        &.selected:before, &.selected:after { border-right-color: #575757; }
        &.selected:after {right:-1px;}
      }

      // tool buttons
      &.add_row {@include table-sprite(table_icons, $offset-x:22px, $offset-y:-307px);}
      &.add_column {@include table-sprite(table_icons, $offset-x:22px, $offset-y:-247px);}
      &.merge_tables {@include table-sprite(table_icons, $offset-x:21px, $offset-y:-186px);}

      &.add_feature {
        border-top:1px solid rgba(#999999,0.25);
        @include table-sprite(table_icons, $offset-x:19px, $offset-y:-489px);
      }

      &:hover {
        cursor:pointer;
        @include opacity(1);
      }

      &.disabled {
        @include opacity(0.15);
        border-color:#999;
      }

      &.selected {
        @include opacity(1);

        &:before {
          position:absolute;
          content:'';
          right:-1px;
          top:50%;
          margin:-7px 0 0 0;
          width:0;
          height:0;
          border-top:7px solid transparent;
          border-bottom:7px solid transparent;
          border-right:7px solid white;
          z-index:1;
        }
        &:after {
          position:absolute;
          content:'';
          right:0;
          top:50%;
          margin:-7px 0 0 0;
          width:0;
          height:0;
          border-top:7px solid transparent;
          border-bottom:7px solid transparent;
          border-right:7px solid #D0D0D0;
          z-index:0;
        }
      }
    }
  }
} // end sidebar


// Layer actions view!
.views {
  position:absolute;
  top:60px;
  right:0;
  left:65px;
  bottom:0;
  @include inline-block();
  background:white;
  @include border-top-left-radius($corner_radius);
  border:1px solid #D0D0D0;
  border-right:0;
  border-bottom:0;
  @include box-shadow(rgba(black, 0.07) 2px -1px 8px 0);
  letter-spacing:0;
  z-index:5;

  h3 {
    padding: 22px 0 21px 30px;
    border-bottom:1px solid rgba(#999999,0.25);
    font:normal 15px $text-fonts;
    line-height:normal;
    color: #666666;
  }

  // Panel content for absolute positioning
  // and render with scrollbars if it is higher
  // than the panel
  .panel_content {
    position:absolute;
    top:61px;
    left:0;
    right:0; // Hack for nano scroller
    bottom:0;
    overflow:hidden;

    span.scroll {
      position:absolute;
      left:0;
      right:5px;
      width:100%;
      height:10px;
      background:transparent;
      padding:0;
      margin:0;
      @include border-radius(0);

      &.top {top:-10px; @include box-shadow(rgba(0,0,0,0.1) 0 5px 20px 0);}
      &.bottom {@include box-shadow(rgba(0,0,0,0.12) 0 -5px 20px 0); bottom:-10px;}
    }

    div.wrapper {position:absolute; top:0; left:0; bottom:0; right:0; padding:0 30px 16px 30px; overflow:auto;}
    div.content {left:30px; right:30px!important; overflow-x:visible;}
    div.no_content {margin:20px 0 0 0; border:1px solid #E6E6E6; @include border-radius(4px); padding:20px; color:#666666; text-align:center; line-height:18px;}
  }

  // SQL PANEL & CARTO PANEL
  .sql_panel, .wizards_panel, .csseditor_panel, .filters_panel, .legends_panel, .infowindow_panel {
    @include inline-block();
    width:100%;
    height:100%;

    // Info icon
    a.doc_info {
      position:absolute;
      top:22px;
      right:18px;
      width:16px;
      height:16px;
      padding:0!important;
      line-height:16px;
      font-size:12px;
      color:white;
      text-align:center;
      @include border-radius(20px);
      background:#E5E5E5;
      border:none;
      &:hover {
        text-decoration:none;
        background:#AAA;
      }
      &:active {
        background:#898989;
      }
    }

    h3 {
      padding-left:52px;
    }

    div.actions {
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      padding:20px 20px 20px 56px;
      display:block;
      height:38px;
      border-top:1px solid rgba(#999999,0.25);
      z-index:1;

      a.next, a.back {
        margin: 4px 0 0 0;
        @include text-indent();
        padding:0;
        height:25px;
        width:30px;
      }

      a.next {
        @include border-left-radius(0);
        @include text-indent();
        @include background(sprite($table-sprites, unredo, $offset-x:-38, $offset-y:9) no-repeat #F9F9F9);//IE
        @include background(sprite($table-sprites, unredo, $offset-x:-38, $offset-y:9) no-repeat, linear-gradient(#F9F9F9,#EBEBEB));
        border-left:0;

        &:hover, &:active {
          @include background(sprite($table-sprites, unredo, $offset-x:-38, $offset-y:9) no-repeat #DEDEDE);//IE
          @include background(sprite($table-sprites, unredo, $offset-x:-38, $offset-y:9) no-repeat, linear-gradient(#F9F9F9,#DEDEDE));
        }
      }

      a.back {
        @include border-right-radius(0);
        @include text-indent();
        @include background(sprite($table-sprites, unredo, $offset-x:9, $offset-y:9) no-repeat #EBEBEB); //IE
        @include background(sprite($table-sprites, unredo, $offset-x:9, $offset-y:9) no-repeat, linear-gradient(#F9F9F9,#EBEBEB));

        &:hover, &:active {
          @include background(sprite($table-sprites, unredo, $offset-x:9, $offset-y:9) no-repeat #DEDEDE);//IE
          @include background(sprite($table-sprites, unredo, $offset-x:9, $offset-y:9) no-repeat, linear-gradient(#F9F9F9,#DEDEDE));
        }
      }

      a.disabled {
        opacity:0.6;

        &.next, &.next:active, &.next:hover {
          @include background(sprite($table-sprites, unredo, $offset-x:-38, $offset-y:9) no-repeat #F9F9F9);//IE
          @include background(sprite($table-sprites, unredo, $offset-x:-38, $offset-y:9) no-repeat, linear-gradient(#F9F9F9,#EBEBEB));
        }
        &.back, &.back:active, &.back:hover {
          @include background(sprite($table-sprites, unredo, $offset-x:9, $offset-y:9) no-repeat #EBEBEB);//IE
          @include background(sprite($table-sprites, unredo, $offset-x:9, $offset-y:9) no-repeat, linear-gradient(#F9F9F9,#EBEBEB));
        }
      }

      a.clearview {margin-right:18px;}

      button {margin:0;}
    }

    div.info {
      display:none;
      position:absolute;
      bottom:78px;
      right:0;
      left:0;
      max-height:30%;
      padding:17px 17px 17px 52px;
      background:rgba(yellow,0.3);
      color:#888;
      z-index:2;
      font-size:13px;
      border-top:1px solid #EBDCE0;

      p {line-height:17px; word-wrap: break-word}

      &.error {
        background:rgba(#FFD7E3,0.5);
        p {color:#EB2466;}
      }
    }
  }


  // SQL PANEL
  .sql_panel, .csseditor_panel, .infowindow_panel.editing_html, .help.editing_html {
    &:after  { position:absolute; content:' '; top:0; left:34px; bottom:0; width:1px; height:100%; background:rgba($cGray4,0.50); }
    &:before { position:absolute; content:' '; top:0; left:36px; bottom:0; width:1px; height:100%; background:rgba(#509DD7,0.25); }
  }

  /* infowindow panel */
  .infowindow_panel {

    .panel_content .wrapper { top: 43px; }

    .doc_info { right:26px!important; }

    .header {
      position:relative;
      clear:both;
      overflow:hidden;
      padding: 21px 30px 19px 30px;

      h3  {
        float:left;
        padding: 0;
        border:0;
      }

      .form_combo  { position:absolute; right:18px; }
    }

    // No content block
    .no_content { display:none }

    &.editing_html {

      .header h3 {
        margin-left: 23px;
      }

      .menu {
        li:first-child { margin-left: 23px; }
        &:after  { position:absolute; content:' '; top:0; left:34px; bottom:0; width:1px; height:100%; background:rgba($cGray4,0.50); }
        &:before { position:absolute; content:' '; top:0; left:36px; bottom:0; width:1px; height:100%; background:rgba(#509DD7,0.25); }
      }
    }

    .help {
      position: absolute;
      display:none;
      width: 100%;
      top: 90px;
      left: 0;
      padding: 10px;
      background: #F5F8FF;
      z-index:10;

      @include box-sizing(border-box);
      font-size: 13px;
      font-style: italic;
      border-bottom: 1px solid rgba(#DDD, .5);
      color: #999;

      p { padding: 0 25px 0 44px; }

      .close {
        position: absolute;
        right: 27px;
        top: 12px;

        display:block;
        vertical-align:middle;
        width:13px;
        height:13px;

        @include background(sprite($common-sprites, close_grey, $offset-x:0, $offset-y:0) no-repeat);

        &:hover  { @include background(sprite($common-sprites, close_grey, $offset-x:0, $offset-y:-13px) no-repeat); }
        &:active { @include background(sprite($common-sprites, close_grey, $offset-x:0, $offset-y:-26px) no-repeat); }
      }

      &:before {
        content:'';
        @include size(10px, 6px);
        @include position(-6px, 29px, false, false);
        @include background(sprite($table-sprites, infowindow_panel_purple_tip) no-repeat);
        z-index: 11;
      }
    }

    .menu {
      position: absolute;
      @include box-sizing(border-box);
      top: 59px;
      width: 100%;
      padding: 9px 23px 3px 30px;
      background:#F6F6F6;
      border-top: 1px solid rgba(#DDDDDD, .5);
      border-bottom: 1px solid rgba(#DDDDDD, .5);

      z-index: 9;

      .tip {
        @include size(10px, 6px);
        @include position(false, false, -1px, 33px);
        @include background(sprite($table-sprites, infowindow_panel_white_tip) no-repeat);
        z-index: 10;
      }

      ul {

        clear:both;
        overflow:hidden;

        li {
          min-width: 20px;
          text-align:center;

          a { margin: auto; }

          @include inline-block();
          margin: 0 15px 0 0;

          a { display: block; }

          &.editor       { float: left; }

          &.title_editor,
          &.html_editor  { float: right; }

          &.html_editor  { margin-right: 2px; }

          /*&.html_editor:before { height: 16px; content: ''; position:absolute; left: -10px; top: -3px; border-left: 1px solid rgba(#ccc, .5); }*/
          &.html_editor { position:relative; }

          &.editor       a { @include size(17px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:0, $offset-y:0); }
          &.title_editor a { @include size(20px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:-40, $offset-y:0); }
          &.html_editor  a { @include size(17px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:-104, $offset-y:1px); }

          &.editor       a.selected { @include size(17px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:0, $offset-y:-25px); }
          &.title_editor a.selected { @include size(20px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:-40, $offset-y:-25px); }
          &.html_editor  a.selected { @include size(17px, 17px); @include table-sprite(infowindow_panel_icons, $offset-x:-104, $offset-y:-24px); }
        }

      }

    }

    div.actions {
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      padding:20px 20px 20px 56px;
      display:block;
      height:38px;
      border-top:1px solid rgba(#999999,0.25);
      z-index:1;

      a.disabled {
        opacity:0.6;

        &.next, &.next:active, &.next:hover {
          @include background(sprite($table-sprites, unredo, $offset-x:-38, $offset-y:9) no-repeat #F9F9F9);//IE
          @include background(sprite($table-sprites, unredo, $offset-x:-38, $offset-y:9) no-repeat, linear-gradient(#F9F9F9,#EBEBEB));
        }
        &.back, &.back:active, &.back:hover {
          @include background(sprite($table-sprites, unredo, $offset-x:9, $offset-y:9) no-repeat #EBEBEB);//IE
          @include background(sprite($table-sprites, unredo, $offset-x:9, $offset-y:9) no-repeat, linear-gradient(#F9F9F9,#EBEBEB));
        }
      }

      a.clearview {margin-right:18px;}

      button {margin:0;}
    }

    .all {
      padding:15px 0;
      overflow:auto;
      span.label {margin-right:12px;}
    }

    .titlePane .fields li {
      position:relative;
      & > span:hover {cursor: default; }
    }

    // When custom html template is applied, blocked block should show up
    // and overflow should be hidden
    .titlePane.disabled .wrapper, .fieldPane.disabled .wrapper {
      overflow:hidden;
    }

    .blocked {
      position:absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
      display:none;
      padding:20px 40px;
      @include border-top-left-radius(4px);

      text-align:center;
      line-height: normal;
      background:rgba(white,0.9);
      z-index:10;

      span.block-icon {
        position:relative;
        @include inline-block();
        width:111px;
        height:110px;
        @include table-sprite(block_icon);
      }

      p {
        margin: 30px 0 3px 0;
        line-height: normal;
        color: #999999;
      }

      a {
        @include inline-block();
        margin:20px 0 0 0;
      }

    }

    .fields {
      li {
        padding:13px 0;
        font-size: 15px;
        color: $cGray4;
        border-bottom:1px solid rgba(#999999,0.25);
        overflow:hidden;

        & > span {
          @include inline-block();
          vertical-align:middle;
          max-width:50%;
          line-height:16px;
          &:hover {cursor:all-scroll;}
        }

        .form_combo {
          float:right;
          width:auto;

          .select2-container {width:143px;}
        }

        .form_combo ~ span {
          margin-top:3px;
        }

        .edit_in_place.input {
          @include position(7px, 0, false, false);
          @include default-input();
          z-index:2;

          input {
            font-size: 13px;
            padding: 6px;
          }
        }

        .switches {
          float: right;
          a.switch {margin-left:8px;}
        }
        span.title {
          margin-right: 20px;
        }

        &.drag_field {
          padding: 15px 0 15px 10px;
          @include table-sprite(drag_points, $offset-y:23px);
        }

        &.ui-sortable-helper {
          padding:15px 15px 15px 20px;
          margin-left:-15px!important;
          @include box-shadow(rgba(0,0,0,0.1) 0 0 5px 2px);
          border:1px solid #999999;
          @include table-sprite(drag_points, $offset-y:23px, $offset-x:10px);
          background-color:white;
          @include border-radius(3px);
          cursor:all-scroll;
          & > span {color:#999999;}
        }

        &.enabled {
          .switch {
            color: #000000;
          }
        }
      }
    }
  }

  .edit_in_place {

    .value {
      position:relative;
      padding: 0 5px 3px 5px;
      margin:4px 5px 0 0;
      color: #666666;
      font-size:15px;
      z-index: 100;

      @include transform(skew(-25deg));
      background: rgba(#FFDC73, .3);

      &:hover {
        background: rgba(#FFDC73, .5);
      }

      span {
        @include inline-block();
        padding:1px;

        @include transform(skew(25deg));
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
      }

      &.empty { font-style: italic; }
    }

    &.disabled .value {
      color: #AAA;
      background: rgba(gray, .1);
      &:hover {
        background: rgba(gray, .1);
      }
    }

    input {
      position:relative;
      z-index: 100;
      display:none;
    }
  }

  /* legends */
  div.legends_panel {
    display:block;
    width:100%;
    overflow: auto;

    .panel_content {
      overflow: auto;
    }

    .panel_content .wrapper .content .fields li span { cursor: default; }
    .panel_content .wrapper .content .fields {
      position:relative;
      background:#fff;
      z-index: 1000;
    }

    div.forms {

      &.panel_content {
        top: 42px;
        padding: 0 30px 16px 30px;

        .footer {
          margin: 14px 0 0 0;
          text-align:center;

          .add { font-size: 24px; }
        }

        .color {
          .no_content { display: none; }
        }

        .custom, .choropleth {
          ul li .input { top: 13px; }
          ul li:hover .remove { @include opacity(1); }
          ul li .remove { position:relative; top: 3px; @include opacity(0); }
        }

        .choropleth {
          .right { top: 18px; }
        }

        .right {
          position: absolute;
          top: 12px;
          right: 0;

          .checkbox { float: left; position:relative; margin:8px 15px 0 0; }
          .checkbox.disabled { cursor: pointer; }
          .checkbox span { margin:1px 5px 0 0; }
          .input { float: left; }
        }

        ul li {
          color: #CCCCCC;
          font-size: 15px;
          position:relative;

          label.empty { font-style: italic; }

          label {
            @include inline-block();
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 150px;
            line-height: 1.2;
          }

          .input {
            @include default-input();

            .value { margin-right: 5px; }
            .value.empty { color: #ccc; }

            input {
              font-size: 13px;
              padding: 4px 7px;
              width:150px;
            }
          }
        }
      }

      ul {
        width:100%;
        margin:6px 0 0 0;
      }

      ul li {
        overflow:hidden;
        display:block;
        width:100%;
        padding:13px 0;
        border-bottom:1px solid rgba(#E5E5E5,0.5);
        height: 50px;
        @include box-sizing(border-box);

        &.title span.field { position:relative; top: 3px; }

        & > span:first-child {
          float:left;
          margin-top:2px;
          color:$cGray4;
        }

        & > span:last-child {
          float:right;
        }

        .form_combo {
          @include inline-block();
        }

      }
    }


    h3 {
      padding-left: 30px;
    }

    .fields {

      li {
        padding:13px 0;
        font-size: 15px;
        color: $cGray4;
        border-bottom:1px solid rgba(#999999,0.25);
        overflow:hidden;

        & > span {
          @include inline-block();
          vertical-align:middle;
          max-width:50%;
          line-height:16px;
          &:hover {cursor:all-scroll;}
        }

        .form_combo {
          float:right;
          width:auto;

          .select2-container {width:143px;}
        }

        .form_combo ~ span {
          margin-top:3px;
        }

      }
    }
  }

  /* wizard */
  div.wizards_panel {
    display:block;
    width:100%;
    overflow:hidden;

    h3 {
      padding-left: 30px;
    }

    div.wizard_wrap {
      position:absolute;
      overflow:hidden;
      top:60px;
      left:0;
      right:0;
      height:149px;

      background: image-url('layout/linen.png');

      &.left_shadow:before {
        content:'';
        position:absolute;
        top:0px;
        bottom:0px;
        left:0px;
        width:30px;
        pointer-events: none;
        @include background(linear-gradient(left, rgba(#333, .7), rgba(#333,0)));
        z-index:1;
      }

      &:after {
        content:'';
        position:absolute;
        top:0px;
        bottom:0px;
        right:0px;
        width:30px;
        pointer-events: none;
        @include background(linear-gradient(left, rgba(#333, 0), rgba(#333, .7)));
        z-index:1;
      }

    }

    div.wizard_arrows {
      a {
        position:absolute;
        display:block;
        top:55px;
        width:43px;
        height:43px;
        z-index:10;
        @include table-sprite(wizard-arrows);

        &.left {
          left:8px;
          &:hover {
            @include table-sprite(wizard-arrows, $offset-y:-43px);
          }
        }

        &.right {
          @include table-sprite(wizard-arrows, $offset-x:-43px);
          right:8px;

          &:hover {
            @include table-sprite(wizard-arrows, $offset-x:-43px, $offset-y:-43px);
          }
        }

        &.disabled {
          display:none;
          @include opacity(0);

          &.left:hover {
            @include table-sprite(wizard-arrows);
          }

          &.right:hover {
            @include table-sprite(wizard-arrows, $offset-x:-43px);
          }
        }
      }
    }

    ul.vis_options {
      position:absolute;
      @include position(0, 0, false, 0);
      display:block;
      width:1000px;
      padding:0 30px;

      letter-spacing:-4px;
      border-bottom:1px solid #E5E5E5;
      @include box-shadow(rgba(0,0,0,0.05) 0 -4px 8px 0 inset);

      li {
        position:relative;
        @include inline-block();
        padding:0;
        margin:0 12px 0 0;
        word-space: 0;
        letter-spacing:0;

        a {
          position:relative;
          display:block;
          @include size(92px, 90px);
          margin:30px 0;

          @include box-shadow(0 0 3px 4px rgba(black, 0.15));
          @include border-radius(3px);

          .name {
            position: absolute;
            width: 100%;
            padding: 8px 0;
            left: 0;
            bottom: 0;
            background:#fff;

            border-top: 1px solid #ccc;
            @include border-radius(0 0 3px 3px);
            text-transform: uppercase;

            text-align:center;

            font-weight:bold;
            font-size:11px;
            color: #397DBA;
          }

          @include simple-transition(opacity, 200ms);

          @include opacity(.7);

          // Wizard icons
          &.simple {
            background: image-url('layout/wizard-simple.png') no-repeat;
            &.polygon, &.polygon-polygon { background: image-url('layout/wizard-simple-polygon.png') no-repeat;}
            &.line, &.line-line { background: image-url('layout/wizard-simple-polyline.png') no-repeat;}
          }

          &.intensity {
            background: image-url('layout/wizard-intensity.png') no-repeat;
          }

          &.choropleth {
            background: image-url('layout/wizard-choropleth.png') no-repeat;
            &.line, &.line-line { background: image-url('layout/wizard-choropleth-polyline.png') no-repeat;}
            &.polygon, &.polygon-polygon { background: image-url('layout/wizard-choropleth-polygon.png') no-repeat;}
          }

          &.color {
            background: image-url('layout/wizard-color.png') no-repeat;
            &.polygon, &.polygon-polygon { background: image-url('layout/wizard-color-polygon.png') no-repeat;}
            &.line, &.line-line { background: image-url('layout/wizard-color-polyline.png') no-repeat;}
          }

          &.category {
            background: image-url('layout/wizard-category.png') no-repeat;
            &.polygon, &.polygon-polygon { background: image-url('layout/wizard-category-polygon.png') no-repeat;}
            &.line, &.line-line { background: image-url('layout/wizard-category-polyline.png') no-repeat;}
          }

          &.bubble  { background: image-url('layout/wizard-bubble.png') no-repeat;}
          &.density { background: image-url('layout/wizard-density-hex.png') no-repeat;}
          &.torque { background: image-url('layout/wizard-torque.png') no-repeat;}

          &:hover {
            border-color:$cGray2;
            @include opacity(1);
          }

          &.selected {
            border-color:$cGray2;

            @include opacity(1);

            .name {
              color: #333;
            }

            &:before, &:after {
              @include size(0);
              position:absolute;
              bottom: 0;
              content: '';
              left:50%;
              margin-left:-13px;
              border-left:10px solid transparent;
              border-right:10px solid transparent;
              z-index:5;
            }

            &:before {
              bottom:-30px;
              border-bottom:10px solid white;
              z-index:10;
            }

            &:after {
              bottom:-30px;
              border-bottom:10px solid $cGray4;
            }
          }

          &.disabled {
            display: none;
            &:hover {
              border:1px solid $cGray4;
            }
          }
        }
      }
    }

    div.forms {
      ul {
        width:100%;
        margin:15px 0 0 0;

        li {
          overflow:hidden;
          display:block;
          width:100%;
          padding:13px 0;
          border-bottom:1px solid rgba(#E5E5E5,0.5);

          & > span:first-child {
            float:left;
            margin-top:2px;
            color:#AAA;
          }

          & > span:last-child {
            float:right;
          }

          .form_combo {
            @include inline-block();
          }

          &.label_text { border:none; }
          &.label_text.border { border-bottom: 1px solid rgba(#E5E5E5,0.5); }
          &:last-child {border:none;}

          span.field > div {
            margin-left:5px;

            &.form_hidden {
              margin:0;
              display:none;
            }
          }

          // Text between fields like " - to - "
          span.field span.text {
            @include inline-block();
            vertical-align:top;
            width:43px;
            margin-left:5px;
            line-height:21px;
            text-align:center;
          }
        }
      }

      &.panel_content {
        top:212px;
      }

      // Color wizard styles
      ul.custom_colors, ul.custom_categories {
        margin:0;
        border-top:1px solid rgba(#E5E5E5,0.5);
        li.custom_color_item {
          span {
            max-width:260px;
            @include text-overflow();
          }
        }
      }
      div.colors_loader {
        display:none;
        padding:15px 0 0 50px;
        background:image-url("layout/loader.gif") no-repeat 0 15px;
        border-top:1px solid rgba(#E5E5E5,0.5);
        span {color:$cGray4;}
      }
      div.colors_error {
        display:none;
        padding:15px;
        background:rgba(#FECBCB,0.4);
        @include border-radius($corner_radius);
        color:#666666;
      }
    }
  }

  /* carto css editor */
  div.editor {
    &:after {
      position:absolute;
      @include size(1px, 100%);
      content:' ';
      top:61px;
      left:34px;
      bottom:0;
      background:rgba($cGray4,0.50);
    }
    &:before {
      position:absolute;
      @include size(1px, 100%);
      content:' ';
      top:61px;
      left:36px;
      bottom:0;
      background:rgba(#509DD7,0.25);
    }
  }


  /* filters */
  div.filters_panel {
    width:100%;
    @include box-sizing(border-box);

    h3 { padding-left:30px; }

    & > .white-gradient-shadow {

      pointer-events: none;

      &.top    { @include opacity(0); @include position(61px, false, false, 0); @extend .white-gradient-shadow-top;    z-index: 1000; }
      &.bottom { @include opacity(1); @include position(false, false, 0px, 0);  @extend .white-gradient-shadow-bottom; z-index: 1000; }

      @include size(100%, 30px);

    }

    .content {
      position:relative;

      text-align:center;

      .chooser {
        display:none;
        @include position(85px, false, false, 0);
        @include size(100%, 200px);

        text-align: center;
        z-index: 100;

        .applied_query {
          display:none;

          .clear {
            width:234px;
            background: rgba(#FFEFBF, .5);
            padding: 14px;
            @include border-radius(5px);

            font-size: 15px;
            a { color:  #666; text-decoration:underline; }
            a:hover { color: #333; }
          }
        }

        .no_filters {
          @include size(102px, 81px);
          background: image-url('layout/empty_filters.png') no-repeat;
          margin: 0 auto 20px auto;
        }

        p {
          width: 212px;
          margin: 0 auto 17px auto;
          padding: 0;
          font-size: 15px;
          color: #666666;
        }

        .form_combo {
          margin: 0 auto 0 auto;
          display:block;
          width: 200px;

          background: #f2f2f2;
          padding: 10px;
          @include border-radius(5px);

          & > div { text-align: left; }

        }
      }
    }

    .scrollpane {
      overflow: auto;
      outline: none;

      &:hover .jspVerticalBar { @include opacity(1); }

      .jspContainer { overflow: hidden; position: relative; }
      .jspPane { position: absolute; }
      .jspVerticalBar   { @include simple-transition(opacity, 150ms); @include opacity(0); position: absolute; top: 0; right: 7px; width: 5px; height: 100%; background: none; z-index: 20; }
      .jspVerticalBar * { margin: 0; padding: 0; }
      .jspCap { display: none; }
      .jspTrack { background: none; position: relative; }
      .jspDrag { background: rgba(#BBB, .5); @include border-radius(5px); position: relative; top: 0; left: 0; cursor: pointer; }
      .jspArrow { background: none; text-indent: -20000px; display: block; cursor: pointer; }
      .jspVerticalBar .jspArrow { height: 10px; }
      .jspVerticalBar .jspArrow:focus { outline: none; }
      .jspCorner { background: #eeeef4; float: left; height: 100%; }

    }

    .get_sql {
      @include box-sizing(border-box);
      position: absolute;
      padding: 20px 30px;
      @include size(100%, 61px);
      border-top: 1px solid rgba(153, 153, 153, 0.25);
      background: #fff;
      text-align: left;
      bottom: 0;
      z-index: 10000;

      a {
        float:right;
        font-size:13px;
        text-decoration: underline;
      }
    }

    .add_filter {
      display:none;
      position:relative;
      width: 385px;
      margin: 0 0 40px 0;

      & > a.add {
        position:relative;
        top: 15px;
        padding: 15px;
        color: #6A9DCA;
        font-size: 20px;
      }

      .combo {

        @include box-shadow(inset 0px 4px 4px #EDEDED);

        display:none;
        @include box-sizing(border-box);
        position:relative;
        top: 0;
        padding: 24px;

        width: 100%;
        background: #FFF9E7;

        .remove {
          margin: 0 0 0 7px;
          @include inline-block();
          @include size(13px);
          @include common-sprite(close_grey);
          &:hover {@include common-sprite(close_grey, $offset-y:-13px);}
        }

        .form_combo {
          @include inline-block();
          text-align: left;
          span { color: #666666 }
        }
      }

    }

    ul.filters {
      position:relative;

      width: 385px;
      margin: 0;

      .filter { // generic styles for all the filters
        position:relative;

        padding: 15px 0 0 0;

        border-bottom: 1px solid rgba(#999999, .25);
        @include box-shadow(0px 4px 4px #EDEDED);

        text-align:left;

        .header {
          position:relative;
          padding: 5px 0;
          margin: 0;
          width: 340px;

          text-align:left;

          clear:both;
          overflow:hidden;

          .hidden { display: none; }

          .legend    { float:left; margin: 0 5px 0 0; font-size:13px; color: #666666; text-align: left; }
          .empty     { float: left; display:none; font-size:13px; color: #FF9999; vertical-align: top; }
          .only      { float: left; display:none; font-size:13px; color: #FFAB37; vertical-align: top; }
          .loading   { float: left; display:none; font-size:13px; color: #FFAB37; vertical-align: top; }
          .range     { float:left;  display:none; font-size:13px; color: #4DC964; }

          .title  { float: left; margin: 0 0 0 30px; }
        }

        &.date .range { clear:both; margin: 6px 0 0 0; }

        &:hover .remove { @include opacity(1); }

        .remove {
          float: right;
          display:block;
          @include opacity(0);

          @include size(13px);
          @include position(21px, 30px, false, false);
          @include simple-transition(opacity, 150ms);
          @include common-sprite(close_grey);

          &:hover {@include common-sprite(close_grey, $offset-y:-13px);}
        }
      }
    }

    // Selection filter
    ul.filters .filter.selection {

      &:hover .scroll .jspVerticalBar { @include opacity(1); }

      .header {

        height: 35px;
        padding-left: 0;
        padding-right: 0;

        &.loading, &.empty, &.only { height: auto; }

        .title {
          .loading, .empty, .only   { display: block; }
        }

      }

      .header, .items {
        @include box-sizing(border-box);
      }

      .header .title .controllers {

        &.hidden { display: none; }

        float:left;

        li {
          color: #4DC964;

          a {
            vertical-align: top;
            color: #4DC964;
            font-size:13px;

            &.selected { display:none; }
          }
        }

      } // controllers

      .fields {
        position:relative;
        margin: 0 0 20px 0;

        &.only, &.empty { margin: 0 0 15px 0; }
        &.only .items, &.empty .items { display:none; }

        &.boolean { margin-bottom: 10px; }

        &.list {
          margin: 0 0 20px 0;
          .options { margin: -6px 0 0 30px; }
        }

        &.list.has_scrollers {
          margin: 0 0 16px 0;
          .options { margin: 2px 0 0 30px; }
        }

      }

      .input_field {
        @include box-sizing(border-box);
        @include position(0, false, false, 0);
        @include size(323px, 40px);
        display:none;
        padding: 0;
        margin: 0 0 0 30px;

        @include border-radius(4px);
        border: 1px solid #B7B7B7;

        .apply {
          @include position(6px, 7px, false, false);
          padding: 6px 7px 6px 6px;

          background: #E7E7E7;
          @include background(linear-gradient(top, rgba(#F9F9F9, 0), rgba(#E7E7E7, .7)));
          color: #555;
          font:bold 11px $text-fonts2;
          line-height:normal;
          text-shadow:0 1px 0 white;
          background:#F9F9F9; // IE
          @include background(linear-gradient(#F9F9F9,#EBEBEB));
          @include border-radius(5px);
          border:1px solid #B0B0B0;
          letter-spacing:-1px;
          @include transform-style("linear");
          @include transition-property("box-shadow,border");
          @include transition-duration(250ms);

          // Hover
          &:hover {
            background:#DEDEDE; // IE
            @include background(linear-gradient(#F9F9F9,#E1E1E1));
            text-decoration:none;
            cursor:pointer;
          }
          // Active
          &:active {
            border-color:#ACACAC;
            background:#D3D3D3; // IE
            @include background(linear-gradient(#F9F9F9,#E1E1E1));
            @include box-shadow(rgba(255,255,255,0) 0 0 1px 0,rgba(130,126,111,0.6) 0 1px 3px 0 inset,#fff 0 1px 0 0);
          }

        }

        input {
          @include box-sizing(border-box);
          @include size(275px, 39px);
          max-width:100%;
          max-height:39px;
          padding: 11px;
          border:none;
          font-family: "Helvetica Neue", "Helvetica", Arial;
          font-size:13px;
          background:none;
          outline:none;
          resize: none;
        }
      } // textarea

      .data {
        position:relative;

        .items { display:none;}
        .white-gradient-shadow {

          pointer-events: none;

          &.top    { @include opacity(0); @include position(0, false, false, 0); @extend .white-gradient-shadow-top;    z-index: 10; }
          &.bottom { @include opacity(0); @include position(false, false, 0, 0); @extend .white-gradient-shadow-bottom; z-index: 10; }

          @include size(100%, 30px);

        }

        .scroll { width: 380px; max-height: 156px; overflow: hidden; outline:none; }

      } // data


      .options {
        position:relative;
        width: 325px;
        margin: 2px 0 0 30px;
        padding: 0;
        clear:both;
        overflow:hidden;
        z-index: 100;
        background:#fff;

        .view_mode {

          float:left;

          .switch { // small switch
            @include inline-block();
            @include size(21px, 12px);
            margin:2px 0 0 0;

            span.handle {
              @include position(0, false, false, 9px);
              @include size(10px);
            }

            &.enabled  span.handle { left:9px; }
            &.disabled span.handle { left:1px; }

          }

          label {
            @include inline-block();
            font-size:13px;
            color:#999999;
            cursor: pointer;
          }
        }

        .scrollers {
          float: right;
          margin: 0 3px 0 0;

          &.hidden { display: none; }

        }

        .btn {
          @include inline-block();
          @include size(25px, 21px);
          background:#f1f1f1;
          margin-right: -3px;

          @include simple-transition(opacity, 100ms);

          $radius: 3px;

          &.disabled {
            @include opacity(.5);
            cursor: default;

            &:active { background-position: 50% 9px!important; }
          }

          &.up   {
            @include border-radius($radius 0 0 $radius);
            background: #f1f1f1 image-url('sprites/table/filters_scroll_up.png') no-repeat 50% 9px;
            &:active { background-position: 50% 10px;  }
          }

          &.down {
            @include border-radius(0 $radius $radius 0);
            background: #f1f1f1 image-url('sprites/table/filters_scroll_down.png') no-repeat 50% 9px;
            &:active { background-position: 50% 10px;  }
          }
        }
      }

      .items {
        text-align:left;
        margin: 0 0 0 30px;
        padding: 0;
        width: 325px;

        li {
          clear:both;
          overflow:hidden;

          position:relative;
          padding: 10px 0 10px 15px;
          margin: 0;
          color: #666666;
          font-size:13px;
          border-top: 1px solid rgba(#999, .25);

          cursor: pointer;

          p {

            float: left;
            width: 275px;
            min-height: 15px;

            &.empty { font-style:italic; color: #ccc; }
          }

          &:last-child { margin-bottom: 0; }

          &:before {
            @include position(12px, false, false, 0);
            content: '';
            @include size(9px);

            background: #fff;
            border: none;
            @include border-radius(200px);
            @include scale(0);
            @include simple-transition(scale, 220ms);
          }

          &:after {
            @include opacity(1);
            @include position(12px, false, false, 0);
            content: '';
            @include size(7px);

            background: none;
            border: 1px solid #82D992;
            @include border-radius(200px);
            @include simple-transition(opacity, 220ms);
          }

          &.selected:after  { @include opacity(0); }
          &.selected:before { background: #82D992; @include scale(1); }
          &.selected .value { background: #82D992; color:#fff; }

          .value {
            position:absolute;
            top: 10px; right: 0;
            font-size:10px;
            padding: 2px 4px;
            border:1px solid #82D992;
            background:#fff;
            @include border-radius(2px);
            color:#82D992;

            @include simple-transition(background-color, 100ms);
          }
        }
      }
    } // filter.selection

    // Histogram filter
    ul.filters .filter.histogram {

      text-align:center;

      .empty  { display:none; }

      .loading   { display:block; }

      .hist { margin: auto; position: relative; @include inline-block(); bottom: -3px; }
      .background.bar { fill: #E5E5E5; }
      .foreground.bar { fill: #4DC964; fill-opacity: .3; }
      .axis path, .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
      .axis text { font: 10px sans-serif; }
      .brush rect.extent { fill: #CCCCCC; fill-opacity: .2; }
      .brush .resize path { fill: #eee; stroke: #666; }
    }
  }
} // end view!


// ANIMATIONS FOR LAYER_PANEL

// Active layer
.layer_panel.active {
  margin-bottom:20px;
  padding-bottom:0;

  .layer_info a.info {
    .order {background:#666666;}
    .name_info {color:#999;}
    .name { color:#666; }
  }

  &:hover {
    margin-bottom:20px;
    padding-bottom:0;
    margin-top:-25px;
  }
}

// Active layer in visualization
.layer_panel.active.vis {
  .layer_info {
    a.info .name:hover { color:#454545 }
  }
}

// Active layer in visualization
.layer_panel.active.vis.opened {
  .layer_info {
    line-height:46px;
  }
}

.layer_panel.vis.opened {
  .layer_info {
    line-height:46px;
  }
}

// Only hover state for visualizations, not for table view,
// due to it is not possible drag layers in table view.
&.ui-sortable .layer_panel.active .layer_info a.info:hover {
  cursor:move;
  .order {
    @include table-sprite(layer_move_icon);
    background-color:none;
    text-indent:-9999px;
  }
}

// .layer_panel.placeholder {
//   height:66px!important;
//   background:red!important;
// }
}

