
  /*
   * Right panel in the table view
   * - SQL, facets, ...
   */

  @import "compass";
  @import "../common/mixins";
  @import "../common/sprites";
  @import "../common/vars";

  .table_panel {
    position:fixed;
    right:0;
    top:140px;
    width:600px;
    bottom:-1px;
    background:white;
    z-index:20;
    letter-spacing:-4px;
    border:1px solid rgba(black,0.4);
    border-right:0;
    @include box-shadow(rgba(black,0.15) 0 0 2px 2px);
    @include border-top-left-radius(6px);

    &:before {
      content:'';
      position:absolute;
      @include size(100%, 10px);
      top:-1px;
      right:-1px;
      left:-1px;
      border-top:1px solid rgba(black,0.5);
      border-left:1px solid rgba(black,0.5);
      z-index:0;
      @include border-top-left-radius(4px);
    }

    .sidebar {
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      @include inline-block();
      @include size(65px, 100%);
      background:#EDEDED;
      letter-spacing:0;
      @include border-left-radius(4px);
      @include single-box-shadow(rgba(black,0.03), -4px, 0, 5px, 0, true);
      z-index:0;

      nav {
        position:absolute;
        left:0;
        width:100%;

        &.tools {
          top:0;
          a:first-child {@include border-top-left-radius(4px);}
          a.has_errors {
            position:relative;

            span.error {
              content:'!';
              position:absolute;
              top:19px;
              left:36px;
              width:8px;
              height:8px;
              background:#EB2466;
              @include border-radius(10px);
              @include box-shadow(rgba(#E5E5E5,1) 0 0 0 1px);
              color:white;
              font-size:8px;
              line-height:10px;
            }

            &.sql_mod {
              span.error {top:20px; left:39px;}
            }
          }

        }

        &.edit {
          bottom:0;
          a.merge_tables {border-top:1px solid rgba(#999999,0.25);}
          a:last-child {border:none;}
        }

        a {
          position:relative;
          display:block;
          width:100%;
          height:60px;
          @include text-indent();
          border-bottom:1px solid rgba(#999999,0.25);
          z-index:0;
          @include opacity(0.75);

          &.sql_mod        { @include icons-sprite(table_icons, $offset-x:20px, $offset-y:-3px);}
          &.cartocss_mod   { @include icons-sprite(table_icons, $offset-x:21px, $offset-y:-549px);}
          &.infowindow_mod { @include icons-sprite(table_icons, $offset-x:20px, $offset-y:-430px);}
          &.wizards_mod    {
            @include icons-sprite(table_icons, $offset-x:21px, $offset-y:-370px);
            &.selected:before {
              border-right-color: #575757;
            }
            &.selected:after {
              border-right-color: #575757;
              right: 0;
            }
          }

          // tool buttons
          &.add_row {@include icons-sprite(table_icons, $offset-x:22px, $offset-y:-307px);}
          &.add_column {@include icons-sprite(table_icons, $offset-x:22px, $offset-y:-247px);}
          &.merge_tables {@include icons-sprite(table_icons, $offset-x:21px, $offset-y:-186px);}

          &.add_feature {
            border-top:1px solid rgba(#999999,0.25);
            @include icons-sprite(table_icons, $offset-x:19px, $offset-y:-489px);
          }

          &:hover {
            cursor:pointer;
            @include opacity(1);
          }

          &.disabled {
            @include opacity(0.15);
            border-color:#999;
          }

          &.selected {
            @include opacity(1);

            &:before {
              position:absolute;
              content:'';
              right:0;
              top:50%;
              margin:-7px 0 0 0;
              width:0;
              height:0;
              border-top:7px solid transparent;
              border-bottom:7px solid transparent;
              border-right:7px solid white;
              z-index:2;
            }
            &:after {
              position:absolute;
              content:'';
              right:1px;
              top:50%;
              margin:-7px 0 0 0;
              width:0;
              height:0;
              border-top:7px solid transparent;
              border-bottom:7px solid transparent;
              border-right:7px solid #E5E5E5;
              z-index:1;
            }
          }
        }
      }
    }

    .views {
      position:absolute;
      top:0;
      right:0;
      left:65px;
      bottom:0;
      @include inline-block();
      height:100%;
      letter-spacing:0;
      z-index:1;

      h3 {
        padding: 22px 0 21px 30px;
        border-bottom:1px solid rgba(#999999,0.25);
        font:normal 15px $text-fonts;
        line-height:normal;
        color: #666666;
      }

      // Panel content for absolute positioning
      // and render with scrollbars if it is higher
      // than the panel
      .panel_content {
        position:absolute;
        top:61px;
        left:0;
        right:0; // Hack for nano scroller
        bottom:0;
        overflow:hidden;

        span.scroll {
          position:absolute;
          left:0;
          right:5px;
          width:100%;
          height:10px;
          background:transparent;
          padding:0;
          margin:0;
          @include border-radius(0);

          &.top {top:-10px; @include box-shadow(rgba(0,0,0,0.1) 0 5px 20px 0);}
          &.bottom {@include box-shadow(rgba(0,0,0,0.12) 0 -5px 20px 0); bottom:-10px;}
        }

        div.wrapper {position:absolute; top:0; left:0; bottom:0; right:0; padding:0 30px; overflow:auto;}
        div.content {left:30px; right:30px!important; overflow-x:visible;}
        div.no_content {margin:20px 0 0 0; border:1px solid #E6E6E6; @include border-radius(4px); padding:20px; color:#666666; text-align:center; line-height:18px;}
      }

      // SQL PANEL & CARTO PANEL
      .sql_panel, .wizards_panel, .csseditor_panel {
        @include inline-block();
        width:535px;
        height:100%;

        // Info icon
        a.doc_info {
          position:absolute;
          top:22px;
          right:18px;
          width:16px;
          height:16px;
          padding:0!important;
          line-height:16px;
          font-size:12px;
          color:white;
          text-align:center;
          @include border-radius(20px);
          background:#E5E5E5;
          border:none;
          &:hover {
            text-decoration:none;
            background:#AAA;
          }
          &:active {
            background:#898989;
          }
        }

        h3 {padding-left:52px;}

        div.actions {
          position:absolute;
          bottom:0;
          left:0;
          right:0;
          padding:20px 20px 20px 56px;
          display:block;
          height:38px;
          border-top:1px solid rgba(#999999,0.25);
          z-index:1;

          a.next, a.back {
            margin: 4px 0 0 0;
            @include text-indent();
            padding:0;
            height:25px;
            width:30px;
          }

          a.next {
            @include border-left-radius(0);
            @include text-indent();
            @include background(sprite($icons-sprites, unredo, $offset-x:-38, $offset-y:9) no-repeat #F9F9F9);//IE
            @include background(sprite($icons-sprites, unredo, $offset-x:-38, $offset-y:9) no-repeat, linear-gradient(#F9F9F9,#EBEBEB));
            border-left:0;

            &:hover, &:active {
              @include background(sprite($icons-sprites, unredo, $offset-x:-38, $offset-y:9) no-repeat #DEDEDE);//IE
              @include background(sprite($icons-sprites, unredo, $offset-x:-38, $offset-y:9) no-repeat, linear-gradient(#F9F9F9,#DEDEDE));
            }
          }

          a.back {
            @include border-right-radius(0);
            @include text-indent();
            @include background(sprite($icons-sprites, unredo, $offset-x:9, $offset-y:9) no-repeat #EBEBEB); //IE
            @include background(sprite($icons-sprites, unredo, $offset-x:9, $offset-y:9) no-repeat, linear-gradient(#F9F9F9,#EBEBEB));

            &:hover, &:active {
              @include background(sprite($icons-sprites, unredo, $offset-x:9, $offset-y:9) no-repeat #DEDEDE);//IE
              @include background(sprite($icons-sprites, unredo, $offset-x:9, $offset-y:9) no-repeat, linear-gradient(#F9F9F9,#DEDEDE));
            }
          }

          a.disabled {
            opacity:0.6;

            &.next, &.next:active, &.next:hover {
              @include background(sprite($icons-sprites, unredo, $offset-x:-38, $offset-y:9) no-repeat #F9F9F9);//IE
              @include background(sprite($icons-sprites, unredo, $offset-x:-38, $offset-y:9) no-repeat, linear-gradient(#F9F9F9,#EBEBEB));
            }
            &.back, &.back:active, &.back:hover {
              @include background(sprite($icons-sprites, unredo, $offset-x:9, $offset-y:9) no-repeat #EBEBEB);//IE
              @include background(sprite($icons-sprites, unredo, $offset-x:9, $offset-y:9) no-repeat, linear-gradient(#F9F9F9,#EBEBEB));
            }
          }

          a.clearview {margin-right:18px;}

          button {margin:0;}
        }

        div.info {
          display:none;
          position:absolute;
          bottom:78px;
          right:0;
          left:0;
          max-height:30%;
          padding:17px 17px 17px 52px;
          background:rgba(yellow,0.3);
          color:#888;
          z-index:2;
          font-size:13px;
          border-top:1px solid #EBDCE0;

          p {line-height:17px; word-wrap: break-word}

          &.error {
            background:rgba(#FFD7E3,0.5);
            p {color:#EB2466;}
          }
        }
      }


      // SQL PANEL
      .sql_panel, .csseditor_panel {
        &:after {
          position:absolute;
          content:' ';
          top:0;
          left:34px;
          bottom:0;
          width:1px;
          height:100%;
          background:rgba($cGray4,0.50);
        }
        &:before {
          position:absolute;
          content:' ';
          top:0;
          left:36px;
          bottom:0;
          width:1px;
          height:100%;
          background:rgba(#509DD7,0.25);
        }
      }


      // INFOWINDOW PANEL
      .infowindow_panel {
        .all {
          padding:15px 0;
          overflow:auto;
          span.label {margin-right:12px;}
        }
        .fields {
          li {
            padding:13px 0;
            font-size: 15px;
            color: $cGray4;
            border-bottom:1px solid rgba(#999999,0.25);
            overflow:hidden;

            & > span {
              @include inline-block();
              vertical-align:middle;
              max-width:50%;
              line-height:16px;
              &:hover {cursor:all-scroll;}
            }

            .form_combo {
              float:right;
              width:auto;

              .select2-container {width:143px;}
            }

            .form_combo ~ span {
              margin-top:3px;
            }

            .switches {
              float: right;
              a.switch {margin-left:8px;}
            }
            span.title {
              margin-right: 20px;
            }

            &.drag_field {
              padding: 15px 0 15px 10px;
              @include icons-sprite(drag_points, $offset-y:23px);
            }

            &.ui-sortable-helper {
              padding:15px 15px 15px 20px;
              margin-left:-15px!important;
              @include box-shadow(rgba(0,0,0,0.1) 0 0 5px 2px);
              border:1px solid #999999;
              @include icons-sprite(drag_points, $offset-y:23px, $offset-x:10px);
              background-color:white;
              @include border-radius(3px);
              cursor:all-scroll;
              & > span {color:#999999;}
            }

            &.enabled {
              .switch {
                color: #000000;
              }
            }
          }
        }
      }


      /* wizard */
      div.wizards_panel {
        display:block;
        width:100%;
        overflow:hidden;

        h3 {
          padding-left: 30px;
        }

        div.wizard_wrap {
          position:absolute;
          overflow:hidden;
          top:60px;
          left:0;
          right:0;
          height:149px;

          background: image-url('layout/linen.png');

          &.left_shadow:before {
            content:'';
            position:absolute;
            top:0px;
            bottom:0px;
            left:0px;
            width:30px;
            @include background(linear-gradient(left, rgba(#333, .7), rgba(#333,0)));
            z-index:1;
          }

          &:after {
            content:'';
            position:absolute;
            top:0px;
            bottom:0px;
            right:0px;
            width:30px;
            @include background(linear-gradient(left, rgba(#333, 0), rgba(#333, .7)));
            z-index:1;
          }

        }

        div.wizard_arrows {
          a {
            position:absolute;
            top:55px;
            width:43px;
            height:43px;
            z-index:10;
            @include icons-sprite(wizard-arrows);

            &.left {
              left:8px;
              &:hover {
                @include icons-sprite(wizard-arrows, $offset-y:-43px);
              }
            }

            &.right {
              @include icons-sprite(wizard-arrows, $offset-x:-43px);
              right:8px;
              &:hover {
                @include icons-sprite(wizard-arrows, $offset-x:-43px, $offset-y:-43px);
              }
            }

            &.disabled {
              @include opacity(0);
              &.left:hover {
                @include icons-sprite(wizard-arrows);
              }

              &.right:hover {
                @include icons-sprite(wizard-arrows, $offset-x:-43px);
              }
            }
          }
        }

        ul.vis_options {
          position:absolute;
          @include position(0, 0, false, 0);
          display:block;
          width:1000px;
          padding:0 30px;

          letter-spacing:-4px;
          border-bottom:1px solid #E5E5E5;
          @include box-shadow(rgba(0,0,0,0.05) 0 -4px 8px 0 inset);

          li {
            position:relative;
            @include inline-block();
            padding:0;
            margin:0 12px 0 0;
            word-space: 0;
            letter-spacing:0;

            a {
              position:relative;
              display:block;
              @include size(92px, 90px);
              margin:30px 0;

              @include box-shadow(0 0 3px 4px rgba(black, 0.15));
              @include border-radius(3px);

              .name {
                position: absolute;
                width: 100%;
                padding: 8px 0;
                left: 0;
                bottom: 0;
                background:#fff;

                border-top: 1px solid #ccc;
                @include border-radius(0 0 3px 3px);
                text-transform: uppercase;

                text-align:center;

                font-weight:bold;
                font-size:11px;
                color: #397DBA;
              }

              @include simple-transition(opacity, 200ms);

              @include opacity(.7);

              // Wizard icons
              &.simple {
                background: image-url('layout/wizard-simple.png') no-repeat;
                &.polygon { background: image-url('layout/wizard-simple-polygon.png') no-repeat;}
                &.line { background: image-url('layout/wizard-simple-polyline.png') no-repeat;}
              }

              &.intensity {
                background: image-url('layout/wizard-intensity.png') no-repeat;
              }

              &.choropleth {
                background: image-url('layout/wizard-choropleth.png') no-repeat;
                &.line { background: image-url('layout/wizard-choropleth-polyline.png') no-repeat;}
              }

              &.bubble  { background: image-url('layout/wizard-bubble.png') no-repeat;}
              &.density { background: image-url('layout/wizard-density-hex.png') no-repeat;}

              &:hover {
                border-color:$cGray2;
                @include opacity(1);
              }

              &.selected {
                border-color:$cGray2;

                @include opacity(1);

                .name {
                  color: #333;
                }

                &:before, &:after {
                  @include size(0);
                  position:absolute;
                  bottom: 0;
                  content: '';
                  left:50%;
                  margin-left:-13px;
                  border-left:10px solid transparent;
                  border-right:10px solid transparent;
                  z-index:5;
                }

                &:before {
                  bottom:-30px;
                  border-bottom:10px solid white;
                  z-index:10;
                }

                &:after {
                  bottom:-30px;
                  border-bottom:10px solid $cGray4;
                }
              }

              &.disabled {
                display: none;
                &:hover {
                  border:1px solid $cGray4;
                }
              }
            }
          }
        }

        div.forms {
          ul {
            width:100%;
            margin:15px 0 0 0;

            li {
              overflow:hidden;
              display:block;
              width:100%;
              padding:13px 0;
              border-bottom:1px solid rgba(#E5E5E5,0.5);

              & > span:first-child {
                float:left;
                margin-top:2px;
                color:$cGray4;
              }

              & > span:last-child {
                float:right;
              }

              .form_combo {
                @include inline-block();
              }

              &.label_text { border:none; }
              &.label_text.border { border-bottom: 1px solid rgba(#E5E5E5,0.5); }
              &:last-child {border:none;}

              span.field > div {
                margin-left:5px;

                &.form_hidden {
                  margin:0;
                  display:none;
                }
              }

              // Text between fields like " - to - "
              span.field span.text {
                @include inline-block();
                vertical-align:top;
                width:43px;
                margin-left:5px;
                line-height:21px;
                text-align:center;
              }
            }
          }

          &.panel_content {
            top:212px;
          }
        }
      }

      /* carto css editor */
      div.editor {
        &:after {
          position:absolute;
          @include size(1px, 100%);
          content:' ';
          top:61px;
          left:34px;
          bottom:0;
          background:rgba($cGray4,0.50);
        }
        &:before {
          position:absolute;
          @include size(1px, 100%);
          content:' ';
          top:61px;
          left:36px;
          bottom:0;
          background:rgba(#509DD7,0.25);
        }
      }
    }
  }

