
  /**
   *  Big loader for table view
   *  - It will work when changes between table or visualization
   */

  @import "compass/css3/images";


  .table_big_loader {

    .modal {
      width:300px!important;

      .content {padding:80px 40px;}

      div.loader {
        padding-top:40px;
        @include background(image-url('layout/loader.gif') no-repeat center top);
        p {text-align:center;}
      }
    }
  }