
  /*
   * Styles for the CartoDB table
   */


  @import "compass";
  @import "../common/vars";
  @import "../common/sprites";
  @import "../common/forms";

  div.panes {
    position:absolute;
    top:150px;
    left:0;
    right:0;
    bottom:0;
    .emptyTableContainer {
      width:100%;
      position:relative;
      display: inline-block;
      text-align: center;

      .emptyTableInfo {
        width: 600px;
        height: 375px;
        display: inline-block;
        position: relative;
        top: 5em;
        background: image-url('layout/empty_table.png') no-repeat 0 0 #FFF;

        h4 {
          margin-top: 8em;
          color: #333;
          font-size: 17px;
          font-family: helvetica;
          font-weight: normal;
        }

        p {
          margin: 1em auto;
          width: 325px;
          color: #999;
          font-size: 15px;
        }


      }

    }
  }

  div.table {
    table {
      position:relative;
      width:100%;
      background:white;
      z-index:1;

      // Table head
      thead {
        width:100%;
        height:60px;

        div.sqlview {
          position: absolute;
          display: block;
          right: 0;
          left: 0;
          top: 55px;
          width: 100%;
          height: 37px;
          p {
            position: fixed;
            background-color: #E5FAEA;
            display: inline;
            left: 50%;
            width: 100%;
            margin: 12px 0 0 -50%;
            color: #333;
            text-align: center;
            color: #666666;
            font-family: $text-fonts;
            font-size: 13px;
            padding: 12px 0;
            border-bottom: 1px solid #ECECEC;
          }
        }

        tr {
          width:100%;
          height:64px;

          th {
            position:relative;
            min-width:180px;
            vertical-align: top;

            & > div {
              position:relative;
              display:block;
              width:100%;
              height:66px;
              overflow-x: hidden;

              & > div {
                position:fixed;
                @include inline-block();
                width:100%;
                height:41px;
                padding:10px 0 15px;
                margin:0;
                @include background(linear-gradient(top,#FDFDFD,#F2F2F2));
                @include box-shadow(rgba(0,0,0,0.015) 0 3px 1px 0);
                border-bottom:1px solid #CCCCCC;
                z-index:1;

                &:after {
                  content:' ';
                  position:absolute;
                  left:0px;
                  top:13px;
                  background:rgba(#D9D9D9,0.5);
                  height:42px;
                  width:1px;
                  z-index:0;
                }
              }

              label {
                display:block;
                padding:0 5px;

                a {
                  margin:6px 0 5px 5px;
                  @include inline-block();
                  color:#7C7C7C;

                  &:after {
                    position:relative;
                    content:'';
                    @include inline-block();
                    left:2px;
                    border-left:3px solid transparent;
                    border-right:3px solid transparent;
                    border-top:3px solid #7C7C7C;
                  }

                  &:hover {
                    color:#565656;
                    text-decoration:none;
                    &:after {border-top-color:#565656;}
                  }

                  span.geo {
                    margin:0 0 0 3px;
                    padding:1px 2px;
                    text-decoration:uppercase;
                    border:1px solid #C17400;
                    @include border-radius(2px);
                    background:orange;
                    color:white;
                  }
                }

                // Default and then replace it
                @include default-input();
                input {
                  min-width:160px;
                  margin:0;
                  padding:3px 4px;
                  @include border-radius(3px);
                  font:bold 13px $text-fonts;
                  color:#333333;
                  border:1px solid #CCCCCC;
                  background:white;
                }
              }

              p {
                padding:0 10px;
                a {
                  color:#999999;
                  padding:0 10px 0 0;

                  &:hover {
                    position:relative;
                    color:#666666;
                    padding:0 10px 0 0;
                    text-decoration:none;

                    &:after {
                      position:absolute;
                      content:' ';
                      right:0;
                      margin:8px 0 0 5px;
                      border-left:3px solid transparent;
                      border-right:3px solid transparent;
                      border-top:3px solid #7C7C7C;
                    }
                  }
                }
              }
            }

            &:first-child {
              width:35px;
              min-width:35px;
            }
          }
        }
      }

      // Table body
      tbody {
        // position:relative;
        // display:inline-block;
        width:100%;
        border:none;
        background:white;

        tr.empty_table {
        }

        tr.placeholder, tr.placeholder td {
          height: 40px;
          cursor:pointer;

          .addNewRow {
            color: #e5e5e5;
            vertical-align: center;
            text-align: center;
            font-size:22px;
            font-weight:bolder;
          }

        }

        tr.placeholder.decoration {
          height: 15px;
          border-bottom:0px;

          &:hover {
            background:inherit;
            border-color:#ECECEC;

            & + tr {
              border-top-color:#ECECEC;
            }
          }
        }

        tr.placeholder.decoration td{
          height: 15px;
          border-bottom:0px;
          border-top:0px;

          &:hover {
            background:inherit;
            border-color:'#ECECEC';
            border-top: 0px;
            border-top-color:'#ECECEC';

          }
        }


        tr {
          width:100%;
          border-top:1px solid #ECECEC;

          &:first-child {
            border-top:none;
          }
          &:last-child {
            border-bottom:1px solid #ECECEC;
          }

          &:hover {
            background:#E8F9EC;
            border-color:#CCCCCC;

            & + tr {
              border-top-color:#CCCCCC;
            }

            td:first-child > div {display:block;}
          }

          td {
            border-left:1px solid #ECECEC;
            border-right:1px solid #ECECEC;

            div.cell {
              @include inline-block();
              padding:15px 10px;
              max-height:26px;
              max-width:300px;
              font-size:13px;
              color:#666666;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              &.disabled {
                color: #AAA;
              }
            }

            // Different column types
            div.number {
              color:#4DC964;
            }

            &:first-child {
              position:relative;

              & > div {
                display:none;
                width:12px;
                height:12px;
                margin:10px;
                padding:0;
                border:1px solid #999999;
                @include border-radius(3px);
                background:#FAFAFA;
                @include background(linear-gradient(#FAFAFA,#E8E8E8));

                &:before {
                  position:absolute;
                  @include opacity(1);
                  content:' ';
                  top:20px;
                  left:15px;
                  width:0;
                  height:0;
                  border-left:2px solid transparent;
                  border-right:2px solid transparent;
                  border-top:3px solid #666666;
                }

                &:hover {
                  background:#E8E8E8;
                  @include background(linear-gradient(#FAFAFA,#E3D3E3));
                  cursor:pointer;
                }

                &:active {
                  background:#E3D3E3;
                  @include background(linear-gradient(#E3D3E3,#FAFAFA));
                }
              }
            }

            &:last-child {
              div {
                padding-right:76px;
              }
              border-right:none;
            }
          }
        }
      }
    }

    .page_loader {
      position:relative;
      padding:100px 0;
      background:white;
      z-index:1;
      border:1px solid #ECECEC;
      border-left:0;
      border-right:0;

      th {
        padding:70px 0;
      }

      div.float_info {
        position:fixed;
        @include inline-block();
        vertical-align:top;
        left:50%;
        width:195px;
        height:34px;
        padding:0 0 0 45px;
        margin:0 0 0 -120px;
        @include icons-sprite(loading_page);
        z-index:-1;

        h5 {display:block; font-size:15px; color:#7B7B7B; line-height:normal;}
        p {display:block; font-size:13px;}
      }

      &.up {
        div.float_info {
          top:265px;
        }
      }

      &.down {
        div.float_info {
          bottom:50px;
        }
      }
    }
  }



  div.order_selector {
    position:absolute;
    right:0;
    top:-3px;
    a.asc {
      margin-right: 1px;
      @include border-left-radius(2px);
    }
    a.desc {
      margin-right: 10px;
      @include border-right-radius(2px);
    }
    a.asc, a.desc {
      text-transform: uppercase;
      position:relative;
      @include inline-block();
      padding:0;
      background-color: $button-bkg-color;
      color: #397DB9;
      margin-top: 13px;
      padding: (21px - 9px)/2 8px;
      font-size: 9px;
      font-weight: bold;
      &:hover {
        background-color: #397DB9;
        color: $button-bkg-color;
      }
      &.selected {
        cursor: default;
        background-color: #397DB9;
        color: $button-bkg-color;
      }
    }
  }
