
  /*
   * Right panel in the table view
   * - SQL, facets, ...
   */

  @import "compass";
  @import "../common/mixins";
  @import "../common/sprites";
  @import "../common/vars";

  .table_panel {
    position:fixed;
    right:0;
    top:140px;
    width:600px;
    bottom:-1px;
    background:white;
    z-index:20;
    letter-spacing:-4px;
    border:1px solid #999999;
    @include box-shadow(rgba(black,0.15) 0 0 2px 2px);
    @include border-top-left-radius(4px);

    .sidebar {
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      @include inline-block();
      width:65px;
      height:100%;
      background:#EDEDED;
      letter-spacing:0;
      @include border-left-radius(4px);
      @include single-box-shadow(rgba(black,0.03), -4px, 0, 5px, 0, true);

      nav {
        position:absolute;
        left:0;
        width:100%;

        &.tools {
          top:0;
          a:first-child {@include border-top-left-radius(4px);}
        }

        &.edit {
          bottom:0;
          a:first-child {border-top:1px solid rgba(#999999,0.25);}
          &:last-child {border:none;}
        }

        a {
          position:relative;
          display:block;
          width:100%;
          height:60px;
          @include text-indent();
          border-bottom:1px solid rgba(#999999,0.25);
          z-index:0;
          @include opacity(0.75);

          &.sql_mod        { @include icons-sprite(table_icons, $offset-x:22px, $offset-y:0);}
          &.carto_mod      { @include icons-sprite(table_icons, $offset-x:22px, $offset-y:-372px);}
          &.infowindow_mod { @include icons-sprite(table_icons, $offset-x:22px, $offset-y:-431px);}

          // tool buttons
          &.add_row {@include icons-sprite(table_icons, $offset-x:22px, $offset-y:-307px);}
          &.add_column {@include icons-sprite(table_icons, $offset-x:22px, $offset-y:-247px);}

          &:hover {
            cursor:pointer;
            @include opacity(1);
          }

          &.selected {
            @include opacity(1);

            &:before {
              position:absolute;
              content:'';
              right:0;
              top:50%;
              margin:-7px 0 0 0;
              width:0;
              height:0;
              border-top:7px solid transparent;
              border-bottom:7px solid transparent;
              border-right:7px solid white;
              z-index:2;
            }
            &:after {
              position:absolute;
              content:'';
              right:1px;
              top:50%;
              margin:-7px 0 0 0;
              width:0;
              height:0;
              border-top:7px solid transparent;
              border-bottom:7px solid transparent;
              border-right:7px solid #E5E5E5;
              z-index:1;
            }
          }
        }
      }
    }

    .views {
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      @include inline-block();
      width:535px;
      height:100%;
      letter-spacing:0;

      h3 {
        padding: 22px 0 21px 30px;
        border-bottom:1px solid rgba(#999999,0.25);
        font:normal 15px $text-fonts;
        line-height:normal;
        color: #666666;
      }

      // Panel content for absolute positioning
      // and render with scrollbars if it is higher
      // than the panel
      .panel_content {
        position:absolute;
        top:61px;
        left:0;
        right:0; // Hack for nano scroller
        bottom:0;
        overflow:hidden;

        span.scroll {
          position:absolute;
          left:0;
          right:5px;
          width:100%;
          height:10px;
          background:transparent;
          padding:0;
          margin:0;
          @include border-radius(0);

          &.top {top:-10px; @include box-shadow(rgba(0,0,0,0.1) 0 5px 20px 0);}
          &.bottom {@include box-shadow(rgba(0,0,0,0.12) 0 -5px 20px 0); bottom:-10px;}
        }

        div.wrapper {position:absolute; top:0; left:0; bottom:0; right:0; padding:0 30px; overflow:auto;}
        div.content {left:30px; right:30px!important; overflow-x:visible;}
      }

      // SQL PANEL & CARTO PANEL
      .sql_panel, .carto_mod {
        @include inline-block();
        width:535px;
        height:100%;

        h3 {padding-left:52px;}

        div.actions {
          position:absolute;
          bottom:0;
          left:0;
          right:0;
          padding:20px 20px 20px 56px;
          display:block;
          height:38px;
          border-top:1px solid rgba(#999999,0.25);
          z-index:1;

          a.next, a.back {
            @include text-indent();
            padding:0;
            height:35px;
            width:35px;
          }

          a.next {
            @include border-left-radius(0);
            @include text-indent();
            @include background(sprite($icons-sprites, unredo, $offset-x:-37, $offset-y:14) no-repeat, linear-gradient(#F9F9F9,#EBEBEB));
            border-left:0;

            &:hover, &:active {
              @include background(sprite($icons-sprites, unredo, $offset-x:-37, $offset-y:-8) no-repeat, linear-gradient(#F9F9F9,#DEDEDE));
            }
          }

          a.back {
            @include border-right-radius(0);
            @include text-indent();
            @include background(sprite($icons-sprites, unredo, $offset-x:12, $offset-y:14) no-repeat, linear-gradient(#F9F9F9,#EBEBEB));

            &:hover, &:active {
              @include background(sprite($icons-sprites, unredo, $offset-x:12, $offset-y:-8) no-repeat, linear-gradient(#F9F9F9,#DEDEDE));
            }
          }

          a.disabled {
            opacity:0.6;

            &.next, &.next:active, &.next:hover {
              @include background(sprite($icons-sprites, unredo, $offset-x:-37, $offset-y:14) no-repeat, linear-gradient(#F9F9F9,#EBEBEB));
            }
            &.back, &.back:active, &.back:hover {
              @include background(sprite($icons-sprites, unredo, $offset-x:12, $offset-y:14) no-repeat, linear-gradient(#F9F9F9,#EBEBEB));
            }
          }

          button {margin:0;}
        }

        div.info {
          display:none;
          position:absolute;
          bottom:78px;
          right:0;
          left:0;
          width:100%;
          padding:17px 17px 17px 52px;
          background:rgba(yellow,0.5);
          color:#888;
          z-index:2;
          font-size:13px;
          border-top:1px solid #EBDCE0;

          &.error {
            background:rgba(#FFD7E3,0.5);
            color:#EB2466;
          }
        }
      }


      // SQL PANEL
      .sql_panel {
        &:after {
          position:absolute;
          content:' ';
          top:0;
          left:34px;
          bottom:0;
          width:1px;
          height:100%;
          background:rgba(#CCCCCC,0.50);
        }
        &:before {
          position:absolute;
          content:' ';
          top:0;
          left:36px;
          bottom:0;
          width:1px;
          height:100%;
          background:rgba(#509DD7,0.25);
        }
      }


      // INFOWINDOW PANEL
      .infowindow_panel {
        .all {
          padding:15px 0;
          overflow:auto;
          span.label {margin-right:12px;}
        }
        .fields {
          li {
            padding:13px 0;
            font-size: 15px;
            color: #CCCCCC;
            border-bottom:1px solid rgba(#999999,0.25);
            overflow:hidden;

            & > span {
              @include inline-block();
              vertical-align:middle;
              max-width:50%;
              line-height:16px;
              &:hover {cursor:all-scroll;}
            }

            .form_combo {
              float:right;
              width:auto;

              .select2-container {width:130px;}
            }

            .form_combo ~ span {
              margin-top:3px;
            }

            .switches {
              float: right;
              a.switch {margin-left:8px;}
            }
            span.title {
              margin-right: 20px;
            }

            &.drag_field {
              padding: 15px 0 15px 10px;
              @include icons-sprite(drag_points, $offset-y:23px);
            }

            &.ui-sortable-helper {
              padding:15px 15px 15px 20px;
              margin-left:-15px!important;
              @include box-shadow(rgba(0,0,0,0.1) 0 0 5px 2px);
              border:1px solid #999999;
              @include icons-sprite(drag_points, $offset-y:23px, $offset-x:10px);
              background-color:white;
              @include border-radius(3px);
              cursor:all-scroll;
              & > span {color:#999999;}
            }

            &.enabled {
              .switch {
                color: #000000;
              }
            }
          }
        }
      }


      // CARTO PANEL
      .carto_mod {

        nav {
          display:block;
          width:100%;
          height:60px;
          padding:0 0 0 20px;
          border-bottom:1px solid rgba(#999999,0.25);
          a {
            position:relative;
            @include inline-block();
            vertical-align:bottom;
            margin:16px 4px 0 0;
            padding:14px 10px;
            height:17px;
            line-height:normal;
            border:1px solid #E5E5E5;
            border-bottom:0;
            @include border-radius(3px);

            &.selected {
              color:#333;
              text-decoration:none;

              &:before {
                position:absolute;
                content:' ';
                bottom:1px;
                left:0;
                right:0;
                height:1px;
                width:100%;
                background:white;
              }
              &:hover {
                cursor:default;
                text-decoration:none;
              }
            }

            &.disabled {
              @include opacity(0.3);
              &:hover {
                color:$link-color;
                text-decoration:none;
              }
            }
          }
        }

        /* wizard */
        div.wizard {
          display:block;
          overflow:hidden;

          ul.vis_options {
            display:block;
            padding:0 30px;
            letter-spacing:-4px;
            border-bottom:1px solid #E5E5E5;
            @include box-shadow(rgba(0,0,0,0.05) 0 -4px 8px 0 inset);

            li {
              position:relative;
              @include inline-block();
              padding:0 1px 0 0;
              margin:0 4px 0 0;
              word-space: 0;
              letter-spacing:0;

              a {
                display:block;
                width:92px;
                height:82px;
                margin:30px 0;
                padding:3px;
                border:1px solid #CCCCCC;
                @include border-radius(5px);
                @include text-indent();

                &.simple {background: image-url('layout/wizard-simple.png') no-repeat 3px 3px;}
                &.choropleth {background: image-url('layout/wizard-choropleth.png') no-repeat 3px 3px;}
                &.bubble {background: image-url('layout/wizard-bubble.png') no-repeat 3px 3px;}
                &.density {background: image-url('layout/wizard-density.png') no-repeat 3px 3px;}

                &:hover {
                  border-color:#666666;
                }

                &.selected {
                  border-color:#666666;

                  &:before, &:after {
                    content: '';
                    position:absolute;
                    left:50%;
                    margin-left:-13px;
                    width:0;
                    height:0;
                    border-left:10px solid transparent;
                    border-right:10px solid transparent;
                    z-index:5;
                  }

                  &:before {
                    bottom:-1px;
                    border-bottom:10px solid white;
                    z-index:10;
                  }
                  &:after {
                    bottom:0;
                    border-bottom:10px solid #CCCCCC;
                  }
                }

                &.disabled {
                  @include opacity(0.3);
                  &:hover {
                    border:1px solid #CCCCCC;
                  }
                }
              }
            }
          }

          div.forms {
            ul {
              width:100%;
              margin:15px 0 0 0;

              li {
                overflow:hidden;
                display:block;
                width:100%;
                padding:13px 0;
                border-bottom:1px solid rgba(#E5E5E5,0.5);

                & > span:first-child {
                  float:left;
                  color:#CCCCCC;
                }

                & > span:last-child {
                  float:right;
                }

                .form_combo {
                  @include inline-block();
                }

                &:last-child {border:none;}

                span.field > div {margin-left:5px;}

                span.field span.text {margin:0 10px 0 13px;}
              }
            }

            &.panel_content {
              top:212px;
            }
          }
        }

        /* carto css editor */
        div.editor {
          &:after {
            position:absolute;
            content:' ';
            top:61px;
            left:34px;
            bottom:0;
            width:1px;
            height:100%;
            background:rgba(#CCCCCC,0.50);
          }
          &:before {
            position:absolute;
            content:' ';
            top:61px;
            left:36px;
            bottom:0;
            width:1px;
            height:100%;
            background:rgba(#509DD7,0.25);
          }
        }
      }
    }
  }

