<<<<<<< HEAD
<a href="#/select-asset" class="image"><img src="<%= public_url %>" alt="" /></a>
=======
<% if (kind === "marker") { %>
  <a href="#/select-asset" class="image"><img src="<%= public_url %>" alt="" /></a>
<% } else { %>
  <a href="#/select-asset" class="image" style="background-image:url(<%= public_url %>)"></a>
<% } %>

>>>>>>> release/staging
<a href="#/delete-asset" class="delete"></a>
<div class="loader"></div>