<div class="dialog-content">
  <div class="assets">
    <div class="loader">
      <p>Getting assets...</p>
    </div>
  </div>
  <div class="uploader">
    <ul class="upload-tabs">
      <li class="upload-tab"><a href="#/assets" class="asset">Uploaded images</a></li>
      <li class="upload-tab"><a href="#/file" class="file">Local file or URL</a></li>
      <li class="upload-tab"><a href="#/dropbox" class="dropbox"><i></i>Dropbox</a></li>
    </ul>
    <div class="upload-panes"></div>
  </div>
</div>
<div class="upload-progress">
  <span></span>
  <p>Uploading your data</p>
  <a href="#stop_process" class="stop"></a>
</div>
<div class="hide">
  <form class="dialog-uploader"><input type="file" /></form>
</div>