<script>var Dropbox = Dropbox || {}; Dropbox.appKey = "<%= app_api_key %>";</script>
<script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="<%= app_api_key %>"></script>
<input type="dropbox-chooser" name="selected-file" data-link-type="direct" data-extensions="<%= extensions %>" id="db-chooser"/>
<label class="light small">(PNG, SVG, JPEG, JPG)</label>