<div class="upload">
  <input type="dropbox-chooser" name="selected-file" data-link-type="direct" data-extensions="<%= extensions %>" id="db-chooser"/>
  <p class="filename"></p>
</div>
<label class="light small">(PNG, SVG, JPEG, JPG)</label>
<div class="infobox"></div>