<form class="upload">
  <div class="upload">
    <span class="drop">Drop your file here</span>
    <span class="file type"></span>
    <input type="text" val="" />
    <div class="holder">
      <div class="url">
        <p class="italic lighter">Paste an URL or</p>
      </div>
      <span class="fileinput-button">
        <input type="file" val="" />
        <span>select a file</span>
      </span>
    </div>
  </div>
  <label class="light small">(PNG or SVG)</label>
  <div class="info">
    <p></p>
  </div>
</form>