<div class="upload">
  <a href="#/choose-dropbox-file" class="dropbox-dropin-btn dropbox-dropin-default" id="dropbox-chooser"><span class="dropin-btn-status"></span>Choose from Dropbox</a>
  <p class="filename"></p>
</div>
<label class="light small">(PNG, SVG, JPEG, JPG)</label>
<div class="infobox"></div>