<ul class="SettingsDropdown">
  <li class="SettingsDropdown-item">
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-all">All categories</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-administrative-regions">Administrative regions</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-cultural-datasets">Cultural datasets</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-physical-datasets">Physical datasets</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-historic">Historic</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-building-footprints">Building footprints</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-us-census">US Census</button></p>
  </li>
</ul>
