<div class="Header-inner Header-title u-inner">
  <div class="Header-innerTitle">
    <h1 class="Title-small">Data library</h1>
    <p class="Title Title--l Title--white u-vspace-l">Open resources to help you populate your maps</p>
  </div>
</div>

<div class="Header-inner u-inner">
  <div class="CountrySelector">
    <p class="CountrySelector-text">Filter datasets by country selecting it in this map</p>
    <button class="CountrySelector-button js-country"></button>
  </div>
</div>

<div id="DataLibraryMap" class="DataLibraryMap"></div>
