<ul class="SettingsDropdown">
  <li class="SettingsDropdown-item">
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-all">Maps and datasets</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-administrative-regions">Maps</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-cultural-datasets">Datasets</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-physical-datasets">Maps</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-historic">Datasets</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-building-footprints">Maps</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-us-census">Datasets</button></p>
  </li>
</ul>
