<div class="Filters Filters-datalibrary">
  <div class="u-inner">
    <div class="Filters-inner">
      <div class="Filters-row">
        <div class="Filters-type">
          <ul class="Filters-list">
            <li class="Filters-typeItem Filters-typeItem--longMargins Filters-searchEnabler">
              <a href="#/search" class="Filters-searchLink Filters-searchLink--long js-search-link">
                <i class="Filters-searchLinkIcon iconFont iconFont-Lens"></i>Search
              </a>
            </li>
            <li class="Filters-typeItem Filters-typeItem--longMargins Filters-searchItem">
              <!-- TODO: replicate dashboard/views/filters.jst -->
              <form class="Filters-searchForm js-search-form" action="#">
                <input class="Filters-searchInput js-search-input" type="text" value="" placeholder="by name or :tag" />
              </form>
            </li>
            <li class="Filters-typeItem Filters-typeItem--longMargins"><button class="Filters-typeLink Filters-typeLink--grey Filters-dropdown js-dropdown"><span class="js-dropdownLabel">Category</span> <i class="Filters-darrow iconFont iconFont-ArrowMenu"></i></button></li>
            <li class="Filters-typeItem Filters-typeItem--longMargins"><button class="Filters-typeLink Filters-typeLink--grey Filters-dropdown js-dropdown"><span class="js-dropdownLabel">Country</span> <i class="Filters-darrow iconFont iconFont-ArrowMenu"></i></button></li>
            <li class="Filters-typeItem Filters-typeItem--longMargins"><button class="Filters-typeLink Filters-typeLink--grey Filters-dropdown js-dropdown"><span class="js-dropdownLabel">Source</span> <i class="Filters-darrow iconFont iconFont-ArrowMenu"></i></button></li>
          </ul>
        </div>

        <div class="Filters-order js-filters">
          <span class="Filters-label">Order by</span>
          <ul class="Filters-list">
            <li class="Filters-orderItem">
              <a data-title="likes" class="js-order-link Filters-orderLink Filters-orderLink--clock js-updated_at <%- !order || order === 'updated_at' ? 'is-selected' : '' %>" href="#/time">
                <i class="iconFont iconFont-Clock"></i>
              </a>
            </li>
            <li class="Filters-orderItem">
              <a data-title="visits" class="js-order-link Filters-orderLink Filters-orderLink--graph js-mapviews <%- order === 'mapviews' ? 'is-selected' : '' %>" href="#/views">
                <i class="iconFont iconFont-Stats"></i>
              </a>
            </li>
            <li class="Filters-orderItem">
              <a data-title="date" class="js-order-link Filters-orderLink Filters-orderLink--heart js-likes <%- order === 'likes' ? 'is-selected' : '' %>" href="#/likes">
                <i class="iconFont iconFont-Heart--fill"></i>
              </a>
            </li>
            <li class="Filters-orderItem">
              <a data-title="date" class="js-order-link Filters-orderLink Filters-orderLink--size js-size <%- order === 'size' ? 'is-selected' : '' %>" href="#/size">
                <i class="iconFont iconFont-Floppy"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="DataLibrary-inner">
  <div class="DataLibrary-cards js-cards u-vspace-l">
    <div class="DataLibrary-content">
      <ul class="MapsList js-items">
    </div>
  </div>

  <div class="u-inner u-txt-center">
    <button class="Button Button--gray Button--centered is-hidden js-more">View more</button>
  </div>
</div>
