<span class="Filters-separator"></span>

<div class="Filters-row">
  <div class="Filters-type">
    <ul class="Filters-list">
      <li class="Filters-typeItem Filters-typeItem--longMargins Filters-searchEnabler">
        <a href="#/search" class="Filters-searchLink js-search-link Filters-searchLink--short">
          <i class="Filters-searchLinkIcon iconFont iconFont-Lens"></i>Search
        </a>
      </li>
      <li class="Filters-typeItem Filters-typeItem--longMargins Filters-searchItem">
        <form class="Filters-searchForm js-search-form" action="#">
          <input class="Filters-searchInput js-search-input" type="text" value="<%- tag && (':' + tag) %><%- (tag && q) ? ', ' : '' %><%- q %>" placeholder="by name or :tag" />

          <% if (tag || q) { %>
            <a href="#/close" class="Filters-cleanSearch Filters-cleanSearch--short js-clean-search">
              <i class="iconFont iconFont-Close"></i>
            </a>
          <% } %>
        </form>
      </li>
    </ul>
  </div>

  <div class="Filters-order js-filters">
    <ul>
      <li class="Filters-typeItem"><button class="Filters-typeLink Filters-typeLink--grey Filters-dropdown js-categoriesDropdown"><span class="js-categoriesDropdown-label"><%- tag == '' ? 'Category' : tag %></span> <i class="Filters-darrow iconFont iconFont-ArrowMenu"></i></button></li>
    </ul>
  </div>
</div>
