<ul class="SettingsDropdown">
  <li class="SettingsDropdown-item">
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-all">All categories</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-categoryLink">Administrative regions</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-categoryLink">Cultural datasets</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-categoryLink">Physical datasets</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-categoryLink">Historic</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-categoryLink">Building footprints</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-categoryLink">US Census</button></p>
  </li>
</ul>
