<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
      #initial_startup {
        width: 100%;
        height: 100%;
        position: fixed;
        -moz-user-select: none;
        -webkit-user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        display: -webkit-box;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        flex-direction: column;
        -webkit-flex-direction: column;
      }
      .spinner {
        position: relative;
        margin: 0 auto;
        border-top: 2px solid #ddd;
        border-right: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        border-left: 2px solid #0090d7;
        -webkit-animation: load8 1.1s infinite linear;
        -khtml-animation: load8 1.1s infinite linear;
        -moz-animation: load8 1.1s infinite linear;
        -ms-animation: load8 1.1s infinite linear;
        -o-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
      }
      .spinner,
      .spinner:after {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
      #initial_startup.is-hidden,
      #initial_startup.is-hidden .spinner{
        display: none;
      }

      @keyframes load8 {
        100% { transform: rotate(360deg); }
      }
      @-webkit-keyframes load8 {
        100% { -webkit-transform: rotate(360deg); }
      }
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  </head>
  <body>
    <div id="app"></div>

    <div id="initial_startup">
      <div class="spinner"></div>
    </div>

    <script>
      window.StaticConfig = <%= JSON.stringify(htmlWebpackPlugin.options.config) %>
    </script>

    <% if (!htmlWebpackPlugin.options.inject) { %>
      <% htmlWebpackPlugin.files.js.forEach(function(jsFile) { %>
        <script>
          <%= compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
        </script>
      <% }); %>
    <% } %>
  </body>
</html>
