<% if (importState !== "twitter") { %>
  <div class="js-toggle Checkbox CDB-Text CDB-Size-medium u-altTextColor">
    <button class="Checkbox-input <%- isGuessingEnabled ? 'is-checked' : '' %>"></button>
    <label class="Checkbox-label CDB-Text CDB-Size-medium u-altTextColor">Let CARTO automatically guess data types and content on import.</label>
  </div>
<% } else if (isTwitterDeprecatedForUser) { %>
  <div class="CDB-Text CDB-Size-medium">
    <span class="Dialog-footerWarning">
      Deprecated connector.
    </span>
    Please <a href='mailto:support@carto.com'>contact support</a> for more information.  
  </div>
<% } else if (!customHosted) { %>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">
    To get access to historical data (older than 30 days) you need to <a href="mailto:support@carto.com">contact our team</a>
  </p>
<% } %>
