<% if (canUpgrade) { %>
  <a href="<%- upgradeUrl %>" class="PrivacyToggler js-toggler PrivacyToggler--<%- privacy %> is-disabled" data-title="You cannot change the privacy of your new datasets. Click here to upgrade your account.">
    <i class="CDB-IconFont CDB-IconFont-<%- icon %>"></i>
  </a>
<% } %>
