// Avatars
// - Different types of user avatars
// --------------------------------------------------

@import "../new_common/mixins";

/* UserAvatar */

.UserAvatar {
  @include inline-block();
}
.UserAvatar--large {
  width:96px;
  height:96px;
  @include border-radius(2px);
}
.UserAvatar--medium {
  width:40px;
  height:40px;
  @include border-radius(2px);
}
.UserAvatar--small {
  width:16px;
  height:16px;
  @include border-radius(16px); 
}
