// Avatars
// - Different types of user avatars
// --------------------------------------------------

@import "../new_common/mixins";
@import "../new_common/sizes";

.UserAvatar {
  @include inline-block();
  vertical-align: middle;
}
.UserAvatar--large {
  width: $sAvatar-public;
  height: $sAvatar-public;
  border-radius: $sAvatar-borderRadius;
}
.UserAvatar--medium {
  width: $sAvatar-default;
  height: $sAvatar-default;
  border-radius: $sAvatar-borderRadius;
}
.UserAvatar--small {
  width: $sAvatar-meta;
  height: $sAvatar-meta;
  border-radius: $sAvatar-borderRadius;

}
