@import "../new_common/colors";
@import "../new_common/sizes";

.DefaultParagraph {
  font-size: $sFontSize-large;
  line-height: $sLineHeight-large;
  font-weight: $sFontWeight-lighter;
  color: $cTypography-paragraphs;
  
}
