
  <% content_for :head do %>
    <%= stylesheet_link_tag('reset.css','front/oauth') %>
  <% end %>

  <div class="glow">
    <div class="section">
      <h1>Authorization denied</h1>
      <div class="sad_table"></div>
      <p>You have denied the oauth access for <%= @token.client_application.user.username %>. You can consider you decission in any moment.</p>
    </div>
    <div class="footer">CartoDB is a product from <a href="http://www.vizzuality.com" target="_blank">vizzuality</a> | <a href="http://cartodb.com/terms">Terms of service</a></div>
  </div>