$sEmbedTabs: 1rem;

/* ~~~~~~ Media query breakpoints ~~~~~~ */

$sMedia-max: 1000px;
$sMedia-max-embed: 1300px;
$sMedia-desktop: 960px;
$sMedia-tablet: 760px;
$sMedia-mobile: 400px;

$sMedia-s: 480px;
$sMedia-l: 759px;
$sMedia-xl: 1200px;
$sMedia-xxl: 1600px;

$sMedia-min-w-vertical: 600px;
$sMedia-max-w-vertical: 759px;
