
/**
 *  CartoDB blue header popup styles
 */

div.cartodb-popup.header.blue div.cartodb-popup-header {
  background:url('../img/headers.png') no-repeat 0 -40px;
}

div.cartodb-popup.header.blue.header .cartodb-popup-header a {
  color:white;
}

div.cartodb-popup.header.blue div.cartodb-popup-header h4 {
  color:#1F4C7F;
}

div.cartodb-popup.header.blue div.cartodb-popup-header span.separator {
  background:#225386;
}

div.cartodb-popup.header.blue a.cartodb-popup-close-button {
  background:url('../img/headers.png') no-repeat -226px -40px;
}

div.cartodb-popup.header.blue a.cartodb-popup-close-button:hover {
  background-position:-226px -66px;
}


/* NEW CartoDB 2.0 blue header popups */

div.cartodb-popup.v2.header.blue div.cartodb-popup-header {
  background: none;
  background: -ms-linear-gradient(top, #4F9CD7, #2B68A8); 
  background: -o-linear-gradient(right, #4F9CD7, #2B68A8);
  background: -webkit-linear-gradient(top, #4F9CD7, #2B68A8); 
  background: -moz-linear-gradient(right, #4F9CD7, #2B68A8);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#4F9CD7',endColorStr='#2B68A8',GradientType=0)";
}

div.cartodb-popup.v2.header.blue a.cartodb-popup-close-button {
  background:white;
}