
/**
 *  CartoDB2.0 yellow header popup styles
 */

div.cartodb-popup.header.yellow div.cartodb-popup-header {
  background:url('../img/headers.png') no-repeat -504px -40px;
}

div.cartodb-popup.header.yellow div.cartodb-popup-header h4 {
  color:#D8832A;
}

div.cartodb-popup.header.yellow div.cartodb-popup-header span.separator {
  background:#CC7A29;
}

div.cartodb-popup.header.yellow a.cartodb-popup-close-button {
  background:url('../img/headers.png') no-repeat -730px -40px;
}

div.cartodb-popup.header.yellow a.cartodb-popup-close-button:hover {
  background-position:-730px -66px;
}