
  /**
   *  CartoDB infowindow light styles
   */

  div.cartodb-popup h4 {
    color:#CCCCCC;
  }

  div.cartodb-popup p {
    color:#333333;
  }

  div.cartodb-popup p.loading {
    color:#888;
  }

  div.cartodb-popup p.error {
    color:#FF7F7F;
  }

  div.cartodb-popup p.empty {
    color:#999999;
  }