<div>
  <div class="Dialog-header Dialog-header--expanded">
    <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
      <i class="iconFont iconFont-LayerStack"></i>
    </div>
    <h4 class="Dialog-headerTitle">Your plan doesn't allow you to add more layers (<%- layersCount %>/<%- layersCount %>)</h4>
    <p class="Dialog-headerText">
    <% if ((canUpgrade && !organizationAdmin) || customHosted) { %>
      Sorry but you've reached your map layers limit
    <% } else if (organizationAdmin) { %>
      Sorry but you've reached your organization layers limit. If you need further information
      you can contact our <a href="mailto:enterprise-support@cartodb.com">dedicated support</a>
    <% } else if (organizationUser) { %>
      Sorry but you've reached your organization layers limit. If you need more resources contact
      with <a href="mailto:<%- orgagnizationAdminEmail %>">your organization admin</a>
    <% } %>
    </p>
  </div>
  <% if (!organizationAdmin && !organizationUser) { %>
    <div class="Dialog-body Dialog-content js-content"></div>
    <div class="Dialog-footer--simple u-inner">
      <% if (canUpgrade) { %>
        <a href="<%- upgradeURL %>" class="Button Button-inner Button--inline Button--main">
          <span>explore all plans</span>
        </a>
      <% } %>
    </div>
  <% } %>
</div>