<div>
  <div class="Dialog-header Dialog-header--expanded">
    <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
      <i class="CDB-IconFont CDB-IconFont-layerStack"></i>
    </div>
    <h4 class="Dialog-headerTitle">Your plan doesn't allow you to add more layers (<%- layersCount %> max)</h4>
    <p class="Dialog-headerText">
    <% if ((canUpgrade && !organizationAdmin) && !customHosted) { %>
      Take a look to the plans below in order to increase the available amount of map layers
    <% } else if (organizationAdmin) { %>
      Contact <a href="mailto:sales@carto.com">Sales</a> to increase the available amount of map layers for your organization
    <% } else if (organizationUser) { %>
      Contact <a href="mailto:<%- organizationAdminEmail %>">your organization administrator</a> to request more information about map layers
    <% } else { %>
      Sorry but you've reached your map layers limit
    <% } %>
    </p>
  </div>
  <div class="Dialog-body Dialog-content js-content"></div>
  <div class="Dialog-footer--simple u-inner">
    <button class="Button Button-inner Button--inline Button--secondary Button--secondaryTransparentBkg cancel">
      <span>close</span>
    </button>
  </div>
</div>
