<div class="Dialog-header Dialog-header--expanded">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="iconFont iconFont-LayerStack"></i>
  </div>
  <p class="Dialog-headerTitle">Your plan doesn't allow you to add more layers (<%- layersCount %>/<%- layersCount %>)</p>
  <p class="Dialog-headerText">Sorry but you've reached your map layers limit</p>
</div>
<div class="Dialog-expandedSubContent js-content">
  <div class="FeatureData-form">
    <form class="Form FeatureData-formContent js-form">
      <div class="Dialog-stickyFooter">
        <div class="Dialog-footer FeatureData-formFooter">
          <div><%/* placeholder for flex layout */%></div>
          <button type="submit" class="Button Button--main Button--inline js-submit">
            <span>Save</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
