<div>
  <div class="Dialog-header Dialog-header--expanded">
    <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
      <i class="iconFont iconFont-LayerStack"></i>
    </div>
    <p class="Dialog-headerTitle">Your plan doesn't allow you to add more layers (<%- layersCount %>/<%- layersCount %>)</p>
    <p class="Dialog-headerText">Sorry but you've reached your map layers limit</p>
  </div>
  <div class="Dialog-body Dialog-content js-content"></div>
  <div class="<%- organizationAdmin ? 'Dialog-footer' : 'Dialog-footer--simple' %> u-inner">
    <% if (canUpgrade) { %>
      <a href="<%- upgradeURL %>" class="Button Button-inner Button--inline Button--main">
        <span>explore all plans</span>
      </a>
    <% } else if (organizationAdmin) { %>
      <a href="mailto:enterprise-support@cartodb.com" class="Button Button-inner Button--inline Button--main">
        <span>contact us</span>
      </a>
    <% } %>
  </div>
</div>