<li><a href='#polygon' title='Simple' class="selected simple"><div class="name">simple</div></a></li>
<li><a href='#choropleth' title='Choropleth' class="choropleth"><div class="name">choropleth</div></a></li>
<li><a href='#bubble' title='Bubbles' class="bubble"><div class="name">bubble</div></a></li>
<li><a href='#heatmap' title='Heatmap' class="heatmap"><div class="name">heatmap</div></a></li>
<li><a href='#density' title='Density' class="density"><div class="name">density</div></a></li>
