<div class="style_mod">
  <nav><a class="wizard selected" href="#wizard">Style wizard</a><a href="#carto" class="editor">CartoCSS</a></nav>
  <a href="#carto_info" class="doc_info">?</a>
  <div class="panels"></div>
</div>
