<div class="panel_content">
  <textarea cols=50 rows= 10></textarea>
  <div class="actions">
    <a class="back" href="#">prev</a>
    <a class="next" href="#">next</a>
    <a class="button grey apply right">Apply style</a>
  </div>
  <div class="error"></div>
</div>
