<li><a href='#polygon' title='Simple' class="selected simple"><div class="name">simple</div></a></li>
<li><a href='#cluster' title='Cluster' class="cluster"><div class="name">cluster</div></a></li>
<li><a href='#choropleth' title='Choropleth' class="choropleth"><div class="name">choropleth</div></a></li>
<li><a href='#color' title='Color' class="color"><div class="name">color</div></a></li>
<li><a href='#category' title='Category' class="category"><div class="name">category</div></a></li>
<li><a href='#bubble' title='Bubbles' class="bubble"><div class="name">bubble</div></a></li>
<li><a href='#torque' title='Torque' class="torque"><div class="name">torque</div></a></li>
<li><a href='#torque_heat' title='Heatmap' class="torque_heat"><div class="name">heatmap</div></a></li>
<li><a href='#torque_cat' title='Torque Cat' class="torque_cat"><div class="name">torque cat</div></a></li>
<li><a href='#intensity' title='Intensity' class="intensity"><div class="name">intensity</div></a></li>
<li><a href='#density' title='Density' class="density"><div class="name">density</div></a></li>



