
<div>
  <ul class="vis_options">
    <li><a href='#'>simple</a></li>
    <li><a href='#'>choropleth</a></li>
    <li><a href='#'>bubble</a></li>
    <li><a href='#'>density</a></li>
  </ul>

  <div class="forms">
  </div>

</div>
