<div>
  <ul class="vis_options">
    <li><a href='#polygon' title='Simple' class="selected simple">polygon</a></li>
    <li><a href='#choropleth' title='Choropleth' class="selected choropleth">choropleth</a></li>
    <li><a href='#bubble' title='Bubbles' class="bubble">bubble</a></li>
    <li><a href='#density' title='Density' class="density">density</a></li>
  </ul>
  <div class="forms panel_content"></div>
</div>
