<h3>Visualization wizard</h3>
<div>
  <div class="wizard_wrap">
    <ul class="vis_options">
      <li><a href='#polygon' title='Simple' class="selected simple"><div class="name">Simple</div></a></li>
      <li><a href='#choropleth' title='Choropleth' class="selected choropleth"><div class="name">choropleth</div></a></li>
      <li><a href='#bubble' title='Bubbles' class="bubble"><div class="name">bubble</div></a></li>
      <li><a href='#heatmap' title='Heatmap' class="heatmap"><div class="name">heatmap</div></a></li>
      <li><a href='#density' title='Density' class="density"><div class="name">density</div></a></li>
    </ul>
    <div class="wizard_arrows">
      <a href="#left" class="left disabled"></a>
      <a href="#right" class="right"></a>
    </div>
  </div>
  <div class="forms panel_content"></div>
</div>
