<div class="panel_content">
  <textarea cols=50 rows= 10></textarea>
  <div class="actions">
    <a class="left button grey small back" title="undo" href="#previous_carto">prev</a>
    <a class="left button grey small next" title="redo" href="#next_carto">next</a>
    <button class="right small grey appy">Apply style</button>
  </div>
  <div class="info"></div>
</div>
