<div>
  <div class="wizard_wrap">
    <ul class="vis_options"></ul>
    <div class="wizard_arrows">
      <a href="#left" class="left disabled"></a>
      <a href="#right" class="right"></a>
    </div>
  </div>
  <div class="forms panel_content"></div>
</div>
