<div class="header">
  <h3>Design</h3>
</div>
<div class="menu">
  <ul>
    <li class="editor" ><a href="#/fields" data-tipsy="Toggle fields and titles"></a></li>
    <li class="html_editor"><a data-tipsy="Change HTML" href="#/html"></a></li>
    <li class="title_editor"><a data-tipsy="Change title labels" href="#/title"></a></li>
  </ul>
  <div class="tip"></div>
</div>
<div class="pane"></div>