
<h1>Customize your infowindows</h1>



<ul class="fields">
</ul>

<div class="selector">
  <div>
    <a href='#' class="selectall">select all</a>
    <a href='#' class="unselect">unselect all</a>
  </div>
</div>
