<div class="header">
  <h3>Design</h3>
</div>

<div class="menu">
  <ul>
    <li class="editor" ><a data-action="tab1" href="#" data-tipsy="Toggle fields and titles" class="selected"></a></li>
    <li class="html_editor"><a data-action="tab3" data-tipsy="Change HTML" href="#"></a></li>
    <li class="title_editor"><a data-action="tab2" data-tipsy="Change title labels" href="#"></a></li>
  </ul>
  <div class="tip"></div>
</div>

<div class="pane"></div>
