<div class="header">
  <h3>Design</h3>
</div>

<div class="menu">
  <ul>
    <li class="editor" ><a data-action="tab1" href="#"></a></li>
    <li class="html_editor"><a data-action="tab3" href="#"></a></li>
    <li class="title_editor"><a data-action="tab2" href="#"></a></li>
  </ul>
</div>
<div class="pane"></div>
