<h3>Customize your infowindows</h3>
<div class="panel_content">
  <ul class="fields"></ul>
  <div class="selector">
    <div>
      <a href='#' class="selectall">select all</a>
      <a href='#' class="unselect">unselect all</a>
    </div>
  </div>
</div>