<div class="header">
  <h3>Design</h3>
</div>

<div class="menu">
  <ul>
    <li class="editor"><a href="#"></a></li>
    <li class="html_editor"><a href="#"></a></li>
    <li class="title_editor"><a href="#"></a></li>
  </ul>
</div>

<div class="panel_content">
  <div class="wrapper">
    <div class="content"></div>
  </div>
</div>
