<div class="header">
  <h3></h3>
  <div class="controls right">
    <span class="label">width</span>
  </div>
  <a href="#/template-help" class="doc_info">?</a>
  <span class="white-gradient"></span>
  <div class="blocked"></div>
</div>
<div class="menu">
  <ul>
    <li class="editor"><a href="#/fields" data-tipsy="Toggle fields and titles"></a></li>
    <li class="html_editor"><a href="#/html" data-tipsy="Change HTML"></a></li>
    <li class="title_editor"><a href="#/title" data-tipsy="Edit title labels"></a></li>
  </ul>
  <div class="tip"></div>
</div>
<div class="pane"></div>