<div class="panel_content">
  <div class="content">
    <textarea cols=50 rows= 10></textarea>
  </div>
</div>
<div class="actions">
  <a class="back button grey small left" title="undo" href="#previous_query">prev</a>
  <a class="next button grey small left" title="redo" href="#next_query">next</a>
  <button class="right small grey apply">Apply query</button>
  <a class="right margin10 clearview hide" href="#clear_view">clear view</a>
</div>
<div class="info"></div>