<h3>Custom SQL query</h3>
<textarea cols=50 rows= 10></textarea>
<div class="actions">
  <a href="#previous_queries" class="margin20 left">Previous queries</a>
  <button class="right grey">Apply query</button>
</div>
<div class="error"></div>