<h3>Custom SQL query</h3>
<div class="panel_content">
  <div class="content">
    <textarea cols=50 rows= 10></textarea>
  </div>
</div>
<div class="actions">
  <a href="#previous_queries" class="margin20 left">Previous queries</a>
    <a class="back" href="#">prev</a>
    <a class="next" href="#">next</a>
  <button class="right grey">Apply query</button>
</div>
<div class="error"></div>
