<div class="IntermediateInfo">
  <div class="Spinner"></div>
  <h4 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m u-tSpace-xl"><%- q || tag  ? 'Searching' : 'Loading' %>...</h4>
  <p class="CDB-Text CDB-Size-medium u-altTextColor"><%= quote %></p>
</div>
