<!--div class="ImportOptions-navigation">
  <button class="Button NavButton ImportOptions-navigationButton ImportOptions-navigationButton--prev js-goPrev">
    <i class="CDB-IconFont CDB-IconFont-arrowPrev"></i>
  </button>
  <button class="Button NavButton ImportOptions-navigationButton ImportOptions-navigationButton--next  js-goNext">
    <i class="CDB-IconFont CDB-IconFont-arrowNext"></i>
  </button>
</div>
<div class="ImportOptions-tabs">
  <ul class="ImportOptions-tabsList"></ul>
</div-->
<div class="ImportOptions-panes"></div>