<div class="ImportPanel-header">
  <div class="LayoutIcon ImportPanel-headerIcon">
    <i class="CDB-IconFont CDB-IconFont-gift"></i>
  </div>
  <h3 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">Salesforce connector</h3>
  <p class="CDB-Text CDB-Size-medium u-altTextColor u-bSpace--xl">Contact us to learn more about Salesforce integration.</p>
</div>
<div class="ImportPanel-body u-flex u-justifyCenter">
  <a href="mailto:sales@carto.com?subject=I am interested in the Salesforce connector&body=Hi, I am interested in testing the Salesforce connector. Please, contact me to schedule a demo of this feature." class="CDB-Button CDB-Button--primary CDB-Button--medium">
    <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">Contact Us</span>
  </a>
</div>
