<div class="ImportOptions-navigation">
  <button class="ImportOptions-navigationButton ImportOptions-navigationButton--prev js-goPrev">
    <i class="CDB-IconFont CDB-IconFont-arrowPrev u-actionTextColor"></i>
  </button>
  <button class="ImportOptions-navigationButton ImportOptions-navigationButton--next  js-goNext">
    <i class="CDB-IconFont CDB-IconFont-arrowNext u-actionTextColor"></i>
  </button>
</div>
<div class="ImportOptions-tabs">
  <ul class="ImportOptions-tabsList CDB-Text CDB-Size-medium u-altTextColor"></ul>
</div>
<div class="ImportOptions-panes"></div>