<span class="Filters-separator"></span>

<div class="Filters-row Filters-row--centered">
  <div class="Filters-type">
    <ul class="Filters-list">
      <% for (var i = 0, l = workflowStepNames.length; i < l; i++) { %>
        <li class="Filters-typeItem">
          <span class="Filters-typeLink <% if (i === workflowStepNumber) { %>is-selected<% } %>">
            <%- workflowStepNames[i] %>
          </span>
        </li>
      <% } %>
      <% if (i + 1 < l) { %>
        <li class="Filters-typeItem">
          <span class="Filters-typeBreadcrumb">&gt;</span>
        </li>
      <% } %>
    </ul>
  </div>
</div>