<%# Still used for public dataset page %>
<div class="cartodb-footer">
  <div class="inner">
    <div class="copyright embed-left-col">
      <div class="content">
        &copy; <%= Time.now.year %> CARTO - <a href="https://carto.com/signup" title="Create your own maps with CARTO"><%= t('admin.visual.public.old_public.create') %></a>
      </div>
    </div>
    <div class="terms embed-right-col">
      <div class="content">
        <a href="https://carto.com/terms/" target="blank"><%= t('admin.visual.public.old_public.terms') %></a> ·
        <a href="https://carto.com/privacy/" target="blank"><%= t('admin.visual.public.old_public.privacy') %></a>
      </div>
    </div>
  </div>
</div>
