<%# Still used for public dataset page %>
<div class="cartodb-footer">
  <div class="inner">
    <div class="copyright embed-left-col">
      <div class="content">
        &copy; <%= Time.now.year %> CartoDB - <a href="https://cartodb.com/signup" title="Create your own maps with CartoDB">Create your own maps</a>
      </div>
    </div>
    <div class="terms embed-right-col">
      <div class="content">
        <a href="https://cartodb.com/terms/" target="blank">Terms of Service</a> ·
        <a href="https://cartodb.com/privacy/" target="blank">Privacy policy</a>
      </div>
    </div>
  </div>
</div>