<div class="cartodb-footer">
  <div class="inner">
    <div class="copyright embed-left-col">
      <div class="content">
        &copy; <%= Time.now.year %> CartoDB - <a href="https://cartodb.com/signup" title="Create your own maps with CartoDB">Create your own maps</a>
      </div>
    </div>
    <div class="terms embed-right-col">
      <div class="content">
        <a href="http://cartodb.com/terms" title="CartoDB's Terms of service">Terms of Service</a>
      </div>
    </div>
  </div>
</div>