@import "../../variables/mixins";
@import "../../variables/colors";
@import "../../variables/sizes";

// New checkbox input styled
//
//  <div class="Checkbox">
//    <button class="Checkbox-input"></button>
//    <label class="Checkbox-label">Checkbox label</label>
//  </div>
//
// --------------------------------------------------------------------------------------------------------------------

.Checkbox {
  @include display-flex();
  @include align-items(center, center);
}
.Checkbox-input {
  position: relative;
  width: 16px;
  height: 16px;
  outline: none;
  border: 2px solid $cStructure-mainLine;
  border-radius: 3px;
  background: white;

  &:hover {
    border-color: #AAA;
  }
}
.Checkbox-input:focus {
  border-color: #AAA;
}
.Checkbox-input.is-checked {
  &:before, &:after {
    content: '';
    position: absolute;
    height: 2px;
    background: #0090D7;
  }

  &:before {
    left: 2px;
    width: 4px;
    @include transform(rotate(55deg));
  }
  &:after {
    top: 5px;
    left: 3px;
    width: 8px;
    @include transform(rotate(-60deg));
  }
}
.Checkbox-label {
  margin-left: 8px;
  color: $cTypography-secondary;
}
.Checkbox.is-disabled .Checkbox-input {
  @include opacity(0.4);
  &:hover {
    cursor:default;
    border-color: $cStructure-mainLine;
  }
  &:focus { border-color: $cStructure-mainLine }
}
.Checkbox.is-disabled .Checkbox-label {
  @include opacity(0.4);
}
.Checkbox-strong {
  color: #2E3C43;
}
