@import "../../variables/mixins";
@import "../../variables/colors";
@import "../../variables/sizes";

// OLD FORM SPINNER

/*
  <div class="form_spinner">
    <input class="value" type="text" value="0.6" />
    <a href="#plus" class="plus"></a>
    <a href="#minus" class="minus"></a>
  </div>
*/

.form_spinner {
  position:relative;
  display: inline-block;
  min-width:20px;
  width:auto;
  padding:2px 19px 2px 4px;
  line-height: 20px;
  margin:0;
  background: $Amber1;
  border:1px solid $Black;
  


  &:hover { cursor: pointer }

  &:hover, .input:hover {
  }

  &:hover input.value {

 }

  input.value {
    float:none;
    margin:0;
    padding:0;
    width:25px;
    text-align:left;
    line-height:15px;
    font-size:13px;
    color:$Black;
    background: none;
    border:none;
    &:focus {
      outline:none;
      color:$Black;
    }
  }

  a {
    position:absolute;
    right:0;
    width:14px;
    height:11px;

    &:before {
      content:' ';
      position:absolute;
      left:4px;
      width:0;
      height:0;
      border-left:3px solid transparent;
      border-right:3px solid transparent;
    }

    &.plus {
      top:0;
      &:before {
        top: 3px;
        border-bottom:4px solid $Grey2;
      }
    }
    
    &.minus {
      bottom:0;
      height: 12px;
      &:before {
        top: 5px;
        border-top:4px solid $Grey2;
      }
    }

    &:hover {
	background-color: $DarkGrey1;
    }
  }

  // Disabled state
  &.disabled {
    background:#f4f4f4!important;
    a {
      background:#f4f4f4!important;
      @include opacity(0.5);
      &:hover {cursor:default;}
    }
    &:hover {cursor:default;}
  }
}
