@import "../../variables/mixins";
@import "../../variables/colors";
@import "../../variables/sizes";

// OLD FORM SPINNER

/*
  <div class="form_spinner">
    <input class="value" type="text" value="0.6" />
    <a href="#plus" class="plus"></a>
    <a href="#minus" class="minus"></a>
  </div>
*/

.form_spinner {
  position:relative;
  display: inline-block;
  min-width:20px;
  width:auto;
  padding:2px 19px 2px 4px;
  line-height: 20px;
  margin:0;
  border:1px solid #9E9E9E;
  border-radius: 3px;
  background: white;


  &:hover { cursor: pointer }

  &:hover, .input:hover {
    border: 1px solid #7E7E7E;
  }

  &:hover input.value { color: #333 }

  input.value {
    float:none;
    margin:0;
    padding:0;
    width:25px;
    text-align:left;
    line-height:15px;
    font-size:13px;
    color:#666666;
    background: none;
    border:none;
    &:focus {
      outline:none;
      color:#333333;
    }
  }

  a {
    position:absolute;
    right:0;
    width:14px;
    height:11px;
    border-left:1px solid #A8A8A8;
    text-indent: -9999px;

    &:before {
      content:' ';
      position:absolute;
      left:5px;
      width:0;
      height:0;
      border-left:2px solid transparent;
      border-right:2px solid transparent;
    }

    &.plus {
      top:0;
      border-bottom:1px solid #A8A8A8;
      &:before {
        top: 4px;
        border-bottom:3px solid #999;
      }
    }
    
    &.minus {
      bottom:0;
      height: 12px;
      &:before {
        top: 5px;
        border-top:3px solid #999;
      }
    }

    &:hover {
      &.plus {
        &:before {border-bottom:3px solid #666;}
      }
      &.minus {
        bottom:0;
        &:before {border-top:3px solid #666;}
      }
    }
  }

  // Disabled state
  &.disabled {
    background:#f4f4f4!important;
    a {
      background:#f4f4f4!important;
      @include opacity(0.5);
      &:hover {cursor:default;}
    }
    &:hover {cursor:default;}
  }
}