@import "../../variables/mixins";
@import "../../variables/colors";
@import "../../variables/sizes";

// OLD FORM SPINNER

/*
  <div class="form_spinner">
    <input class="value" type="text" value="0.6" />
    <a href="#plus" class="plus"></a>
    <a href="#minus" class="minus"></a>
  </div>
*/

.form_spinner {
  @include bb_entry_style;
  position:relative;
  display: inline-block;
  min-width:20px;
  width:auto;
  padding:0px 19px 0px 4px;
  margin:0;
  > input {
    border: none;
    padding: 0px;
  }

  &.with-label {
      margin: 0;
      padding: 0;
      height: auto;
      border: none;
      background: none;

      .label {
        margin: 0 4px 0 0;
        font-size: 11px;
        color: $Grey2;
        cursor: default;
      }

      .input {
        position:relative;
        @include inline-block();
        min-width:20px;
        width:auto!important;
        padding:0px 19px 0px 4px;
        height:19px;
        margin:0;
        border:1px solid $Black;
        background-color: $Amber1;
        > .value {
          border: none;
        }
      }

    }



  a {
    @include bb_button_style;
    border-radius: 0px;
    border: none;
    position:absolute;
    right:0;
    width:14px;
    height:9px;
    color: transparent;
    &:hover {
      color: transparent;
    }


    &:before {
      content:' ';
      position:absolute;
      left:4px;
      width:0;
      height:0;
      border-left:3px solid transparent;
      border-right:3px solid transparent;
    }

    &.plus {
      top:0;
      height: 10px;
      &:before {
        top: 2px;
        border-bottom:4px solid $Grey2;
      }
    }
    
    &.minus {
      bottom:0;
      &:before {
        top: 3px;
        border-top:4px solid $Grey2;
      }
    }
  }

  // Disabled state
  &.disabled {
    background:#f4f4f4!important;
    a {
      background:#f4f4f4!important;
      @include opacity(0.5);
      &:hover {cursor:default;}
    }
    &:hover {cursor:default;}
  }
}
