@import '../../variables/mixins';
@import '../../variables/colors';
@import '../../variables/sizes';

// New radiobutton input styled
//
//  <div class="RadioButton">
//    <button class="RadioButton-input"></button>
//    <label class="RadioButton-label">Checkbox label</label>
//  </div>
//
// --------------------------------------------------------------------------------------------------------------------

.RadioButton {
  @include display-flex();
  @include align-items(center, center);
}
.RadioButton-input {
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px solid $cStructure-mainLine;
  border-radius: 16px;
  outline: none;
  background: #FFF;

  &:hover { border-color: #AAA; }
}
.RadioButton-input.is-checked {
  &::before {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 10px;
    height: 10px;
    border-radius: 12px;
    background: #4A90E2;
    content: '';
  }
}
.RadioButton-input.is-disabled {
  cursor: default;
  &::before {
    background: #DDD;
    cursor: default;
  }
}
.RadioButton-label {
  margin-left: 8px;
  color: $cTypography-secondary;
}
.RadioButton-label.dark-color {
  color: $cTypography-headers;
}
.RadioButton.is-checked .RadioButton-label {
  color: $cTypography-linkSelected;
}
.RadioButton.is-alert .RadioButton-label {
  color: $cHighlight-alert3;
}
.RadioButton.is-alert .RadioButton-input {
  border-color: $cHighlight-alert3;
  &::before {
    background: $cHighlight-alert3;
  }
}
.RadioButton.is-warning .RadioButton-label {
  color: $cHighlight-alert;
}
.RadioButton.is-warning .RadioButton-input {
  border-color: $cHighlight-alert;
  &::before {
    background: $cHighlight-alert;
  }
}
.RadioButton.is-disabled .RadioButton-input {
  @include opacity(0.4);
  &:hover {
    border-color: $cStructure-mainLine;
    cursor:default;
  }
  &:focus { border-color: $cStructure-mainLine; }
}
.RadioButton.is-disabled .RadioButton-label {
  @include opacity(0.4);
}
