<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--alert">
    <i class="CDB-IconFont CDB-IconFont-question"></i>
  </div>
  <p class="Dialog-headerTitle">We are removing the support for Google Maps</p>
  <p class="Dialog-headerText">
    Since this visualization uses a Google Maps basemap, if you proceed we'll automatically change your basemap to an equivalent one provided by Leaflet.
    Click 'cancel' to go back to your dashboard without changing anything.
  </p>
  <p class="Dialog-headerText">
    If you have any questions regarding this change, please contact us at <a href='mailto:support@carto.com'>support@carto.com</a>
  </p>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>cancel</span>
  </button>
  <button class="Button Button--alert ok">
    <span>Ok, proceed</span>
  </button>
</div>
