<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--negative">
    <i class="iconFont iconFont-Trash"></i>
  </div>
  <p class="Dialog-headerTitle">You are about to delete a slide</p>
  <p class="Dialog-headerText">The deleted slide cannot be recovered, be sure before proceeding.</p>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner MapsList-footer">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>cancel</span>
  </button>
  <button class="Button Button--negative ok">
    <span>Ok, delete</span>
  </button>
</div>
