<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="CDB-IconFont CDB-IconFont-map"></i>
  </div>
  <p class="Dialog-headerTitle">Export map</p>
  <p class="Dialog-headerText">This will export your map and the data used on it in a .carto file</p>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>cancel</span>
  </button>
  <button class="Button Button--main ok">
    <span>Ok, rename</span>
  </button>
</div>
