<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--alert">
    <i class="iconFont iconFont-Question"></i>
  </div>
  <p class="Dialog-headerTitle">Renaming dataset will affect your API calls</p>
  <p class="Dialog-headerText">If you are accessing this dataset via API don't forget to use the new name in your API calls afterwards.</p>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>cancel</span>
  </button>
  <button class="Button Button--alert ok">
    <span>Ok, rename</span>
  </button>
</div>
