<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="iconFont iconFont-Folder"></i>
  </div>
  <p class="Dialog-headerTitle">Templating infowindows in CartoDB</p>
  <p class="Dialog-headerText">We support HTML infowindows, so here are some tips to work with them.</p>
</div>

<div class="Dialog-body Georeference-resultsBody Georeference-resultsBody--vcenter">
  <span class="Georeference-resultsBodyIcon NavButton ">1</span>
  <div class="Georeference-resultsBodyTexts">
    <p class="DefaultParagraph DefaultParagraph--tertiary">
      You can use the name of your columns as <strong>{{name}}</strong>, <strong>{{description}}</strong>, etc.
    </p>
  </div>
</div>
<div class="Dialog-body Georeference-resultsBody">
  <span class="Georeference-resultsBodyIcon NavButton ">2</span>
  <div class="Georeference-resultsBodyTexts">
    <p class="DefaultParagraph DefaultParagraph--tertiary">
      Be sure to have elements with class names of <strong>cartodb-popup</strong> and <strong>close</strong> elements.
      They're are needed for basic interactions.
    </p>
  </div>
</div>
<div class="Dialog-body Georeference-resultsBody">
  <span class="Georeference-resultsBodyIcon NavButton ">?</span>
  <div class="Georeference-resultsBodyTexts">
    <p class="DefaultParagraph DefaultParagraph--tertiary">
      If you want to know how to work with infowindows classes, check
      <a href="http://mustache.github.io/mustache.5.html" target="_blank">Mustache docs</a>
      and
      <a href="http://mustache.github.io/#demo" target="_blank">Mustache demo</a>
    </p>
  </div>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>skip</span>
  </button>
</div>
