<a href="<%- homeUrl %>" class="Logo">
  <span class="Logo--avatar">
    <i class="CDB-IconFont CDB-IconFont-cartoFante"></i>
  </span>
  <% if (googleEnabled) { %>
    <span class="Logo-sub Logo-sub--google"></span>
  <% } %>
</a>