<div class="export-options right">
    <ul class="options">
        <li class="do_export"><a class="btn" href="#">Export</a></li>
        <li class="button cancel"><a class="btn" href="#">Cancel</a></li>
    </ul>
</div>
