<div style="position: absolute; right:0px; text-align: right; width: 280px;">
    <ul class="options">
        <li class="button do_export">Save</li>
        <li class="button cancel">Cancel</li>
    </ul>
</div>
