// MobileApps items list
// --------------------------------------------------

@import '../variables/mixins';
@import '../variables/colors';
@import '../variables/sizes';

$selectedItemPaddingOnSides: $sMargin-element - 1px;

.MobileAppsList {
  @include display-flex();
  @include justify-content(flex-start, start);
  @include flex-wrap(wrap);
  width: 100%;
  margin-top: 1px; // makes the list not be overlapped by a .Filters block (so selected/hoevered item's border looks OK)
  padding-bottom: 30px;
}
.MobileAppsList-item {
  @include display-flex();
  @include flex-direction(row);
  @include align-items(flex-end);
  position: relative;
  width: 100%;
  padding: $sMargin-element 0;
  text-decoration: none;

  &:not(:last-child) { border-bottom: 1px solid $cStructure-softLine; }
}
.MobileAppsList-itemIcon {
  width: 42px;
  height: 42px;
  margin-right: 20px;
}
.MobileAppsList-itemIcon--img {
  border: 0;
}
.MobileAppsList-itemInfo {
  @include display-flex();
  @include flex-direction(row);
  @include align-items(flex-end);
  @include justify-content(space-between);
  width: 100%;
}
.MobileAppsList-itemInfoName {
  @include display-flex();
  @include flex-direction(column);
  @include align-content(space-between);
  @include justify-content(space-between, start);
  height: 42px;
}
.MobileAppsList-itemInfoTitle {
  max-width: 350px;
  color: $cHighlight-main;
  font-size: 14px;
  font-weight: $sFontWeight-normal;
}
.MobileAppsList-itemInfoSubtitle {
  max-width: 350px;
  color: $cTypography-secondary;
  font-size: 13px;
  font-weight: 300;
}
.MobileAppsList-itemDetails {
  @include display-flex();
  @include flex-direction(column);
  @include align-items(flex-end);
}
.MobileAppsList-itemDetails--paragraph {
  color: $cTypography-linkSecondary;
  font-size: 14px;
  font-weight: 300;
}
.MobileAppsList-itemDetails--paragraphIcon {
  margin-right: 4px;
  font-size: 10px;
}
.MobileAppsList-paginator {
  @include display-flex();
  @include justify-content(flex-end, end);
  padding: 30px 0;
}
