
/**
 *  CartoDB2.0 header popup styles (DEFAULT)
 */

div.cartodb-popup.header {
  padding:0;
  background:none;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  -o-box-shadow:none;
  border-bottom:none;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -o-border-radius:0;
}

div.cartodb-popup.header div.cartodb-popup-header {
  position:relative;
  width:188px;
  height:auto;
  max-height:62px;
  overflow:hidden;
  padding:17px 19px 17px 19px;
  background:url('../img/headers.png') no-repeat 0 -40px;
}


div.cartodb-popup.header div.cartodb-popup-header h1 {
  width:100%;
  margin:0;
  font:bold 21px "Helvetica Neue", "Helvetica", Arial;
  color:#FFFFFF;
  line-height:23px;
  text-shadow: 0 1px rgba(0,0,0,0.5);
  word-wrap:break-word;
}

div.cartodb-popup.header div.cartodb-popup-header h1 a {
  color:white;
  font-size:21px;
  word-wrap:break-word;
}

div.cartodb-popup.header div.cartodb-popup-header h1 a:hover {
  text-decoration: underline;
}

div.cartodb-popup.header div.cartodb-popup-header h1.loading {
  position:relative;
  display:block;
  width:auto;
  padding-right:0;
  padding-left:30px;
  font-size:14px;
  font-weight:normal;
  line-height:19px;
}

div.cartodb-popup.header div.cartodb-popup-header h1.error {
  position:relative;
  display:block;
  width:auto;
  padding-right:0;
  padding-left:0;
  font-size:14px;
  font-weight:normal;
  font-style: italic;
  line-height:19px;
}

div.cartodb-popup.header div.cartodb-popup-header h4 {
  color:#1F4C7F;
}

div.cartodb-popup.header div.cartodb-popup-header span.separator {
  position:absolute;
  bottom:0;
  left:4px;
  right:4px;
  height:1px;
  background:#225386;
}

div.cartodb-popup.header div.cartodb-popup-content {
  max-height:150px;
}

div.cartodb-popup.header a.cartodb-popup-close-button {
  background:url('../img/headers.png') no-repeat -226px -40px;
}

div.cartodb-popup.header a.cartodb-popup-close-button:hover {
  background-position:-226px -66px;
}