
/**
 *  CartoDB2.0 orange header popup styles
 */

div.cartodb-popup.header.orange div.cartodb-popup-header {
  background:url('../img/headers.png') no-repeat -756px -40px;
}

div.cartodb-popup.header.orange div.cartodb-popup-header h4 {
  color:#CC2929;
}

div.cartodb-popup.header.orange div.cartodb-popup-header span.separator {
  background:#CC2929;
}

div.cartodb-popup.header.orange a.cartodb-popup-close-button {
  background:url('../img/headers.png') no-repeat -982px -40px;
}

div.cartodb-popup.header.orange a.cartodb-popup-close-button:hover {
  background-position:-982px -66px;
}