<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CARTO</title>
    <meta name=viewport content="width=device-width initial-scale=1">
    <%= stylesheet_link_tag 'cartod1b.css', :media => 'all' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
      html, body {
        position:relative;
        height: 100%;
        padding: 0;
        margin: 0;
      }
    </style>
    <%= javascript_include_tag 'cartod1b.js' -%>
  </head>
  <body>
    <div class="Dashboard-canvas js-dashboard">
      <div class="Dashboard-mapWrapper Dashboard-mapWrapper--margin">
        <div class="Map-canvas">
          <div class="Map" id="map"></div>
        </div>
      </div>
    </div>
    <div class="Widget-canvas js-canvas"></div>

    <script>
      var viz = <%= @bi_visualization.viz_json.html_safe %>;

      var opts = {
        no_cdn: false,
        layer_selector: false
      }
      var mapPos = L.Hash.parseHash(location.hash);
      if (mapPos) {
        opts.zoom = mapPos.zoom;
        opts.center = [mapPos.center.lat, mapPos.center.lng];
      }
      window.onload = function() {
        cartodb.createVis('map', viz, opts)
        .done(function(vis, layers) {
          var hash = new L.Hash(vis.getNativeMap());
        })
        .error(function(e) {
          console.log(e);
        });
      }
    </script>
  </body>
</html>
