<li class="GalleryList-item MapsList-item">
  <div class="MapCard" data-vizjson-url="http://development.localhost.lan:3000/api/v2/viz/c24daf52-14d9-11e5-a874-080027880ca6/viz.json">
    <a href="http://development.localhost.lan:3000/viz/c24daf52-14d9-11e5-a874-080027880ca6/map" target="_blank" class="MapCard-header js-header is-loading">
      <div class="MapCard-loader js-loader"></div>
      <img class="MapCard-preview" src="<%= src %>" />
    </a>
    <div class="MapCard-content MapCard-content--compact">
      <div class="MapCard-contentBody">
        <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
          <h3 class="DefaultTitle">
            <a href="http://development.localhost.lan:3000/viz/c24daf52-14d9-11e5-a874-080027880ca6/map" target="_blank" class="DefaultTitle-link u-ellipsLongText" title="Untitled map 1"><%= wizard %> on <%= column %></a>
          </h3>

        </div>
      </div>
    </div>
  </div>
</li>
