<li class="GalleryList-item MapsList-item js-card">
  <div class="MapCard">
    <a href="#" class="MapCard-header js-header is-loading">
      <div class="MapCard-loader js-loader"></div>
      <img class="MapCard-preview" src="<%= src %>" />
    </a>
    <div class="MapCard-content MapCard-content--compact">
      <div class="MapCard-contentBody">
        <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
          <h3 class="DefaultTitle">
            <a href="#" class="DefaultTitle-link u-ellipsLongText" ><%= wizard %> on <%= column %></a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</li>
