<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon">
    <i class="iconFont iconFont-Wizard"></i>
  </div>
  <p class="Dialog-headerTitle">Select a default style for your new layer</p>
  <p class="Dialog-headerText">We've created a set of possible maps based on your data. Select one or just start with the simple one.</p>
</div>

<div class="MapsGallery">
  <div class="PecanMap-navigation js-navigation">
    <button class="Button NavButton PecanMap-navigationButton PecanMap-navigationButton--prev js-goPrev">
      <i class="iconFont iconFont-ArrowPrev"></i>
    </button>
    <button class="Button NavButton PecanMap-navigationButton PecanMap-navigationButton--next js-goNext">
      <i class="iconFont iconFont-ArrowNext"></i>
    </button>
  </div>
  <ul class="PecanMap-MapsList js-map-list"></ul>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="Button Button--secondary ok js-skip">
    <span>Skip</span>
  </button>
</div>
