<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon">
    <i class="iconFont iconFont-Wizard"></i>
  </div>
  <p class="Dialog-headerTitle">Select a default style for your new layer</p>
  <p class="Dialog-headerText">We've created a set of possible maps based on your data. Select one or just start with the simple one.</p>
</div>

<div class="MapsGallery">

  <div class="ImportOptions-navigation">
    <button class="Button NavButton ImportOptions-navigationButton ImportOptions-navigationButton--prev js-goPrev">
      <i class="iconFont iconFont-ArrowPrev"></i>
    </button>
    <button class="Button NavButton ImportOptions-navigationButton ImportOptions-navigationButton--next  js-goNext">
      <i class="iconFont iconFont-ArrowNext"></i>
    </button>
  </div>

  <div class="PecanMap-inner">

    <ul class="Dialog-body PecanMap-MapsList MapsList">
      <li class="MapsList-item">
        <div class="MapCard" data-vizjson-url="http://development.localhost.lan:3000/api/v2/viz/c24daf52-14d9-11e5-a874-080027880ca6/viz.json">
          <a href="http://development.localhost.lan:3000/viz/c24daf52-14d9-11e5-a874-080027880ca6/map" target="_blank" class="MapCard-header js-header is-loading">
            <div class="MapCard-loader"></div>
          </a>
          <div class="MapCard-content MapCard-content--compact">
            <div class="MapCard-contentBody">
              <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
                <h3 class="DefaultTitle">
                  <a href="http://development.localhost.lan:3000/viz/c24daf52-14d9-11e5-a874-080027880ca6/map" target="_blank" class="DefaultTitle-link u-ellipsLongText" title="Untitled map 1">Untitled map 1</a>
                </h3>

              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="MapsList-item">
        <div class="MapCard" data-vizjson-url="http://development.localhost.lan:3000/api/v2/viz/c24daf52-14d9-11e5-a874-080027880ca6/viz.json">
          <a href="http://development.localhost.lan:3000/viz/c24daf52-14d9-11e5-a874-080027880ca6/map" target="_blank" class="MapCard-header js-header is-loading">
            <div class="MapCard-loader"></div>
          </a>
          <div class="MapCard-content MapCard-content--compact">
            <div class="MapCard-contentBody">
              <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
                <h3 class="DefaultTitle">
                  <a href="http://development.localhost.lan:3000/viz/c24daf52-14d9-11e5-a874-080027880ca6/map" target="_blank" class="DefaultTitle-link u-ellipsLongText" title="Untitled map 1">Untitled map 1</a>
                </h3>

              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="MapsList-item">
        <div class="MapCard" data-vizjson-url="http://development.localhost.lan:3000/api/v2/viz/c24daf52-14d9-11e5-a874-080027880ca6/viz.json">
          <a href="http://development.localhost.lan:3000/viz/c24daf52-14d9-11e5-a874-080027880ca6/map" target="_blank" class="MapCard-header js-header is-loading">
            <div class="MapCard-loader"></div>
          </a>
          <div class="MapCard-content MapCard-content--compact">
            <div class="MapCard-contentBody">
              <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
                <h3 class="DefaultTitle">
                  <a href="http://development.localhost.lan:3000/viz/c24daf52-14d9-11e5-a874-080027880ca6/map" target="_blank" class="DefaultTitle-link u-ellipsLongText" title="Untitled map 1">Untitled map 1</a>
                </h3>

              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="Button Button--secondary ok js-skip">
    <span>Skip</span>
  </button>
</div>
