.ApiKeysCTA-container {
  margin-top: 25px;
}
.ApiKeysCTA-leftBox {
  width: 140px;
  box-sizing: border-box;
}
.ApiKeysCTA-rightBox {
  width: 440px;
  padding: 15px;
  background: #F9F9F9;
  border-radius: 4px;
  box-sizing: border-box;
}
.ApiKeysCTA-list {
  width: 100%;
  display: inline-block;
}
.ApiKeysCTA-listItem {
  float: left;
  min-width: 200px;
  margin-top: 16px;
}
.ApiKeysCTA-listIcon {
  color: #9BC63B;
}
