<section class="title_layer">
    <div class="title-bar">
        <a href='#show-options'></a>
        <div class="left title-label">
            <a class="info" href="#/change-title">
              <div class="title-image"></div>
              <span class="action title"><%- title %></span>
            </a>
        </div>
    </div>
    <div class="title-layer-body">
        <div class="title-layer-contents">
        </div>
    </div>
</section>