<div class="title_layer">
    <section class="title_bar">
        <a href='#show-options'></a>
        <div class="left title_label">
            <a class="info" href="#/change-title">
              <span class="action title"><%- title %></span>
            </a>
        </div>
    </section>
    <section class="title_layer_contents">
    </section>
</div>