<div class="loader">
  <span class="loader">Getting assets...</span>
</div>
<div class="assets">
  <div class="loader"></div>
  <div class="active">
    <label>UPLOADED IMAGES</label>
  </div>
</div>
<div class="uploader">
  <div class="tabs"></div>
  <div class="panes"></div>
</div>
