<div class="basemap_chooser">
  <div class="input">
    <div class="loader"></div>
    <span class="type"></span>
    <input type="text" name="url" value="" placeholder="Insert your tileJSON or XYZ url"/>
  </div>
  <div class="info error"><p>This tileJSON or XYZ url is not valid.</p></div>
</div>
