<div class="basemap_chooser">
  <ul class="dialog-tabs">
    <li class="dialog-tab"><a href="#mapbox" class="file selected">Mapbox</a></li>
    <li class="dialog-tab"><a href="#tms" class="gdrive">ZXY</a></li>
    <li class="dialog-tab"><a href="#wms" class="dropbox">WMS</a></li>
  </ul>

  <div class="basemap-chooser-panes"></div>
</div>
