<p>If you know how to use CSS to style websites, you already know how to use Carto to style your maps. The Carto language is an easy, flexible, and powerful way to making a better looking map.</p>
<nav>
  <a class="alone" href="http://mapbox.com/carto/api/2.1.0/" target="_blank">Take a look at the carto reference</a>
</nav>