<div class="loader">
  <p class="dark">
    We are 
    <% if (queryApplied) { %>
      creating your table from a query.
    <% } else { %>
      duplicating your table.<br/>
    <% } %>
     Please wait.
  </p>
</div>