<div class="emptyTableContainer">
    <div class="emptyPublicTableInfo emptynessInfo">
        <h4 class="strong">This table is empty</h4>
        <p>As you don't have write permissions on this table, no action can be performed</p>
    </div>
</div>
