<div class="emptyTableContainer">
    <div class="emptyPublicTableInfo emptynessInfo">
        <h4 class="strong">This table is empty</h4>
        <p>You can't perform any action to this read-only table</p>
    </div>
</div>
