<div class="emptyTableContainer">
    <div class="emptyPublicTableInfo emptynessInfo">
        <h4 class="strong">This dataset is empty</h4>
        <p>As you don't have write permissions on this dataset, no action can be performed</p>
    </div>
</div>
