<div class="ExportImageDialog">

  <div class="ExportImageDialog--help">Adjust zoom level and canvas size to fit the area you want to export.</div>

  <div class="HelperNorth"></div>
  <div class="HelperWest"></div>
  <div class="HelperSouth"></div>
  <div class="HelperEast"></div>
  <div class='CanvasExport'></div>

  <div class="ExportImageDialog-Footer">

    <div class="ExportImageDialog-Footer--inner">

        <div class="ExportImageDialog--dimensions">
          <span class="dimension">w:</span> <strong class="js-width"><%= width %></strong> <span class="unit">px</span>,
          <span class="dimension">h:</span> <strong class="js-height"><%= height %></strong> <span class="unit">px</span> 
        </div>

        <button class="js-ok ok Button Button--micro">
          <span>Export</span>
        </button>
      </div>

  </div>
</div>
