<ul class="FormatChooser-list">
  <li class="FormatChooser-item"><a href="#/png" class="small FormatChooser-format js-format <% if (format == 'png') { %> is-selected <% } %>" data-format="png">.png</a></li>
  <li class="FormatChooser-item"><a href="#/jpg" class="small FormatChooser-format js-format <% if (format == 'jpg') { %> is-selected <% } %>" data-format="jpg">.jpg</a></li>
</ul>
