<ul class="FormatChooser-list">
  <li class="FormatChooser-item"><a href="#/png" class="small" data-format="png">.png</a></li>
  <li class="FormatChooser-item"><a href="#/jpg" class="small" data-format="jpg">.jpg</a></li>
</ul>
