<div class="ExportImageView">

  <div class="ExportImageView-Header js-header">
    <div class="ExportImageView--help">Adjust zoom level and canvas size to fit the area you want to export.</div>
    <button class="js-close Button Button--micro Button--negative">
      <span>Cancel</span>
    </button>
  </div>

  <div class="HelperNorth"></div>
  <div class="HelperWest"></div>
  <div class="HelperSouth"></div>
  <div class="HelperEast"></div>
  <div class='CanvasExport'></div>

  <div class="ExportImageView-Footer">

    <div class="ExportImageView-Footer--inner">

      <div class="ExportImageView--dimensions">
        <span class="dimension">w:</span> <strong class="js-width"><%= width %></strong> <span class="unit">px</span>,
        <span class="dimension">h:</span> <strong class="js-height"><%= height %></strong> <span class="unit">px</span> 
      </div>

      <button class="js-ok Button Button--micro">
        <span>Export</span>
      </button>
    </div>

  </div>
</div>
