<nav>
  <a href="/tables/<%- table_id %>?format=csv" class="button grey">csv</a>
  <a href="/tables/<%- table_id %>?format=shp" class="button grey">shp</a>
  <a href="/tables/<%- table_id %>?format=kml" class="button grey">kml</a>
  <a href="/tables/<%- table_id %>?format=sql" class="button grey">sql</a>
</nav>
