<p>It seems that something went wrong. Please check the column <strong>'cartodb_georef_status'</strong> in your table to see what's been referenced, true mean it's ok, false means its failed.</p>
<p class="margin20">If you'd like to georeference again, please clear the <strong>'cartodb_georef_status'</strong> column or just the cells you want to georeference.</p>