
<div class="opt <%- style %>">
  <div class="icon_container">
    <div class="icon">
      <% if (style == "point") { %>
      <div class="marker a"></div>
      <div class="marker b"></div>
      <div class="marker c"></div>
      <% } %>
    </div>
  </div>
  <div class="icon <%- modal_type %>"></div>
</div>

<h4><%- title %></h4>
<p><%- description %></p>
