<p>The table seems to be either empty or all the records had been georeferenced before. If you want to georeference again the entire table drop the column "cartodb_georef_status or mark as false those records that you would like to georeference again</p>
