<span><label class="smaller strong light margin">GEOCODING</label><label class="small dark count"></label></span>
<div class="mini-bar margin"><span></span></div>
<span><a href="#/cancel" class="cancel">cancel</a></span>