<div class="finish_editing">
  <a class="button grey smaller done">done</a>
  <a class="button grey smaller discard">discard</a>
</div>
<p class="new_geometry">click on the map to add the geometry</p>

