<div class="finish_editing">
  <span class="tooltip">
    <p class="small lighter">Start clicking on the map to draw your <%- geom_type %></p>
  </span>
  <a class="button grey smaller discard">discard</a>
  <a class="button grey smaller done">done</a>
</div>
