<ul class="options">
  <li class="active option" data-option="0">
    <a href="#" class="selected radiobutton"><span class="radio"></span>I have lon/lat columns in my table</a>
    <div class="cont">
      <div class="column_selector">
        <span>Lon</span>
        <div class="form_combo" id="lon"></div>
      </div>
      <div class="column_selector">
        <span>Lat</span>
        <div class="form_combo" id="lat"></div>
      </div>
    </div>
  </li>
  <li class="option" data-option="1">
    <a href="#" class="radiobutton"><span class="radio"></span>I have one or more columns with the address</a>
    <div class="cont address">
      <p class="info">Specify columns to use for geocoding by adding the within brackets</p>
      <input type="text" />
      <span class="hint">HINT</span>
      <p class="hint_text">You can add also extra text to make geocoding more accurate (eg. {school}, New York, USA)</p>
    </div>
  </li>
</ul>
<div class="progress">
  <span></span>
  <p>Uploading your data</p>
</div>
