<ul>
  <li><a class="small export" href="">Export...</a></li>
  <li class="disabled"><a class="small duplicate">Duplicate table...</a></li>
  <li class="disabled"><a class="small append">Append data...</a></li>
  <li><a class="small delete_table" href="">Delete this table...</a></li>
</ul>
