<div>
  <% for (var i = 0; i < fields.length; ++i) { %>
    <% var field = fields[i]; %>
    <% if (field.title) { %>
        <h4><% print(_.escape(field.title)) %></h4>
    <% } %>
    <p><% print(_.escape(field.value)) %> </p>
  <% } %>
</div>

