<div class="cartodb-edit-buttons">
  <span class="cartodb_id"> <%- cartodb_id %> </span>
  <a class="edit right small grey button green" href="#">edit</a>
  <a class="remove right small grey button green" href="#">delete</a>
</div>
