<div class="cartodb-popup">
  <div class="cartodb-popup-content-wrapper">
    <div class="cartodb-popup-content">
      {{#content.fields}}
        {{#title}}<h4>{{title}}</h4>{{/title}}
        <p>{{value}}</p>
      {{/content.fields}}
    </div>
  </div>
  <div class="cartodb-popup-tip-container">
  </div>
</div>
