
<div class="copy">
  <label class="uppercase smaller strong lighter">
    <%- label %>
  </label>
  <p class="margin5 url"><%= url %></p>
  <a class="tooltip copy" href="#copy" title="Copy this">copy</a>
</div>
