<ul class="options switches">
  <li class="title">Default title</li>
  <li class="description">Default description</li>
  <li class="search">Search box</li>
  <li class="fullscreen">Fullscreen</li>
  <li class="share">Shareable</li>
  <li class="scrollwheel">Scroll wheel zoom</li>
  <li class="layer_selector">Layer selector</li>
  <li class="legends">Legends</li>
</ul>
