<div class="map_toolbar">
  <div class="share">
    <a class="button grey" href="#">share</a>
  </div>
  <ul class="options">
    <li class="dropdown basemap_dropdown">
      <a href="#" class="thumb"></a>
      <div class="info">
        <h5>Basemap</h5>
        <strong class="name">MapBox Streets</strong>
      </div>
    </li>
    <!--
    <li class="dropdown full_screen">
      <a href="#" class="thumb"></a>
      <div class="info">
        <h5>Map size</h5>
        <strong class="name">Fullscreen</strong>
      </div>
      </li>
    -->
  </ul>
</div>
<div class="cartodb-map"></div>