<div class="map_toolbar">
  <ul class="options">

    <% if (type != 'table') { %>

    <% if (slides_enabled) { %>
        <li class="button toggle_slides">
          <a href="#" class="thumb"></a>
          <div class="info">
            <h5>Create</h5>
            <strong class="name">Slides</strong>
          </div>
        </li>
    <% } %>

    <li class="button add_overlay">
      <a href="#" class="thumb"></a>
      <div class="info">
        <strong class="name">Annotate</strong>
      </div>
    </li>

    <% if (exportEnabled) { %>
      <li class="button export_image">
        <a href="#" class="thumb"></a>
        <div class="info">
          <strong class="name">Export</strong>
        </div>
      </li>
    <% } %>

    <% } else { %>

    <li class="dropdown basemap_dropdown">
      <a href="#" class="thumb"></a>
      <div class="info">
        <h5>Basemap</h5>
        <strong class="name">Change basemap</strong>
      </div>
    </li>

    <% } %>

  </ul>
</div>

<div class="cartodb-map"></div>
