<div class="map_toolbar">
  <ul class="options">
    <li class="dropdown basemap_dropdown">
      <a href="#" class="thumb"></a>
      <div class="info">
        <h5>Basemap</h5>
        <strong class="name">Select basemap</strong>
      </div>
    </li>
  </ul>
</div>
<div class="cartodb-map"></div>
