<div class="map_toolbar">
  <ul class="options">

    <li class="button add_widget">
      <a href="#" class="thumb"></a>
      <div class="info">
        <h5>Add</h5>
        <strong class="name">Element</strong>
      </div>
    </li>

    <li class="button canvas_setup">
      <a href="#" class="thumb"></a>
      <div class="info">
        <h5>Configure</h5>
        <strong class="name">Canvas</strong>
      </div>
    </li>

  </ul>
</div>

<div class="cartodb-map"></div>
