<div class="selector">
  <p class="intro">Merges are really usefull when you want to get data from two tables together in a single one. <strong>Select your join strategy to perform a merge</strong>.</p>
  <ul class="join_types">
    <li class="regular">
      <a href="#regular_join" class="radiobutton">
        <span class="radio"></span>Regular Join
      </a>
      <p class="small">Choose the column to use for matching data across the two tables.</p>
    </li>
    <li class="spatial">
      <a href="#spatial_join" class="radiobutton">
        <span class="radio"></span>Spatial Join
      </a>
      <p class="small">Choose the column with geometries to use for counting the number of features within the other table geometries.</p>
    </li>
  </ul>
</div>

<div class="tables">
  <div class="table_preview actual_table"></div>
  <div class="table_preview merge_table"></div>
</div>