<p class="intro">Merges let use join two tables by a common column and get a new table as a result.</p>
<div class="tables">
  <div class="table_preview actual_table"></div>
  <div class="table_preview merge_table"></div>
</div>