<strong class="title"></strong>
<p class="description"><%= description %></p>

<ul class="join_types">

  <li>
  <a href="#" class="radiobutton" data-merge-flavor="regular"><span class="radio"></span>Regular Join</a>
  <p>Choose the column to use for matching data across the two tables.</p>
  </li>

  <li>
  <a href="#" class="radiobutton" data-merge-flavor="spatial"><span class="radio"></span>Spatial Join</a>
  <p>Choose the column with geometries to use for counting the number of features within the other table geometries.</p>
  </li>

</ul>

<div class="tables">
  <div class="table_preview actual_table"></div>
  <div class="table_preview merge_table"></div>
</div>

<div class="table_name">
  <input type="text" class="text name" value="tables_merge">
  <div class="info error">
    <p>The name of the new table shouldn't be blank and different than actual table.</p>
  </div>
</div>
