<div class="backdrop"></div>
<div class="cartodb-header">
  <div class="content">
    <a href="#" class="fullscreen"></a>
    <a href="#" class="toggle"></a>
  </div>
</div>
<div class="aside"></div>
<div class="cartodb-attribution"></div>
<a href="#" class="cartodb-attribution-button"></a>
<div class="torque"></div>
