<div class="backdrop"></div>
<div class="cartodb-header">
  <div class="content">
    <a href="#" class="fullscreen"></a>
    <a href="#" class="toggle"></a>
    <div class="hgroup">
      <div class="title"></div>
      <div class="description"></div>
    </div>
  </div>
</div>
<div class="aside">
  <div class="layer-container">
    <div class="scrollpane"><ul class="layers"></ul></div>
  </div>
</div>
<div class="cartodb-attribution"></div>
<a href="#" class="cartodb-attribution-button"></a>
<div class="torque"></div>
