<p>Do you need further information about templating infowindows in CartoDB?. Check this out:</p>
<nav>
  <a href="http://mustache.github.io/mustache.5.html" target="_blank">visit Mustache docs</a>
  <a href="http://mustache.github.io/#demo" target="_blank">try Mustache demo</a>
</nav>
<p class="margin30"><strong>Hint 1:</strong> You can use the names of your fields: {{name}}, {{description}}, etc.</p>
<p class="margin30"><strong>Hint 2:</strong> You will need an element with 'cartodb-popup' class to positionate it correctly.</p>
<p class="margin30"><strong>Hint 3:</strong> You will need an element with 'close' class to let hide the infowindow.</p>
