<span class="loader">Getting tables...</span>
<p class="error">Something went wrong trying to get your tables,<br/> please try again later...</p>
<ul class="options">
  <div class="combo_wrapper">
    <div class="tableListCombo"></div>
  </div>
</ul>
