<span class="loader">Getting tables...</span>
<p class="warning error">Something went wrong trying to get your tables,<br/> please try again later...</p>
<ul class="options">
  <div class="combo_wrapper">
    <div class="tableListCombo"></div>
  </div>
</ul>
<div class="margin20">
  <p class="warning geo">This layer doesn't have any georeference data.</p>
  <p class="warning privacy">Adding this layer will turn visualization into private.</p>
</div>
