<div class="dialog-content dialog-panes">
  <ul class="dialog-tabs">
    <li class="option dialog-tab tables active">
      <a href="#/tables" class="selected radiobutton"><span class="radio"></span>Add an existing table</a>
      <div class="dialog-pane">
        <span class="loader">Getting tables...</span>
        <p class="warning error">Something went wrong getting your tables, please try again later...</p>
        <div class="options">
          <div class="combo_wrapper">
            <div class="tableListCombo"></div>
          </div>
          <div>
            <p class="warning geo">This layer doesn't have any georeference data.</p>
          </div>
        </div>
      </div>
    </li>
    <li class="option dialog-tab file">
      <a <% if (remainingQuota) { %>href="#/file"<% } else { %> original-title="You've reached the table limit for your account. Please upgrade." <% } %> class="radiobutton <% if (!remainingQuota) { %> disabled <% } %>"><span class="radio"></span>Create layer from data</a>
      <% if (remainingQuota) { %>
        <div class="dialog-pane dialog-upload-pane">
          <ul class="upload-tabs">
            <li class="upload-tab"><a href="#/file" class="file">Local file or URL</a></li>
            <li class="upload-tab"><a class="gdrive disabled"><i></i>Google Drive data</a></li>
            <li class="upload-tab"><a href="#/dropbox" class="dropbox"><i></i>Dropbox</a></li>
          </ul>
          <div class="upload-panes"></div>
        </div>
      <% } %>
    </li>
    <li class="option dialog-tab scratch">
      <a <% if (remainingQuota) { %>href="#/scratch"<% } else { %> original-title="You've reached the table limit for your account. Please upgrade." <% } %> class="radiobutton <% if (!remainingQuota) { %> disabled <% } %>"><span class="radio"></span>Create layer from scratch</a>
    </li>
  </ul>
</div>
<div class="upload-progress">
  <span></span>
  <p>Uploading your data</p>
  <a href="#/stop-process" class="stop"></a>
</div>
<div class="hide">
  <form class="dialog-uploader"><input type="file" /></form>
</div>
