<ul class="options">
  <div class="combo_wrapper">
    <div class="tableListCombo"></div>
  </div>
  <!--
  <li class="active option" data-option="0">
    <a href="#" class="selected radiobutton"><span class="radio"></span>Create layer form data</a>
  </li>
  <li class="active option" data-option="1">
    <a href="#" class="selected radiobutton"><span class="radio"></span>Add an existing table</a>
    <div class="cont">
      <div class="tableListCombo"></div>
    </div>
  </li>
  -->
</ul>
