<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--alert">
    <i class="CDB-IconFont CDB-IconFont-marker"></i>
  </div>
  <p class="Dialog-headerTitle">Your dataset cannot be georeferenced right now</p>
  <p class="Dialog-headerText">Disable syncing and you will be able to georeference your data.</p>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner">
  <button class="Button Button--secondary cancel">
    <span>close</span>
  </button>
</div>
