<p>Do you need further information about PostgreSQL and PostGIS?. Check the official docs out:</p>
<nav>
  <a href="http://www.postgresql.org/docs/9.2/static/reference.html" target="_blank">visit PostgreSQL docs</a>
  <a href="http://postgis.net/docs/manual-2.0/reference.html" target="_blank">visit PostGIS docs</a>
</nav>
<p class="margin30"><strong>Hint 1:</strong> To see your <strong>data in the Map</strong>, CartoDB requires that <strong>the_geom_webmercator</strong> column is in your results (<a href="http://developers.cartodb.com/documentation/advanced_concepts.html#basic_geospatial" target="_blank">CartoDB basic geospatial</a>).</p>
<p class="margin30"><strong>Hint 2:</strong> In order to get the <strong>interactivity layer</strong> in your maps, the column cartodb_id must be in your results.</p>
