<div>
  <label class="strong small interactuable">
    <a class="coloptions" href="#coloptions">
      <%= col_name %>
      <% if (col_type == 'geometry') { %>
        <span class="tiny geo">GEO</span>
      <% } %>
    </a>
  </label>
  <p class="small">
    <span class="coltype" href=""><%= col_type %></span>
  </p>
</div>
