<div class="layer-info">
  <div class="left">
    <span class="info">
      <span class="order"></span>
      <span class="name"></span>
    </span>
    <input type="text" value="" class="alias" />
  </div>
  <div class="right">
    <a href="#/visibility" class="visibility switch small enabled">
      <span class="handle"></span>
    </a>
    <a href="#/remove" class="remove"></a>
  </div>
</div>
<div class="layer-sidebar">
  <nav class="tools"></nav>
  <nav class="edit"></nav>
</div>
<div class="layer-views"></div>
