<div class="cartodb-infowindow">
  <div class="cartodb-popup v2 centered">
  <a href="#close" class="cartodb-popup-close-button close">x</a>
   <div class="cartodb-popup-content-wrapper">
     <p><%- address %></p>
     <div class="cartodb-edit-buttons">
       <div class="right">
         <a class="add_point small grey button js-addPoint" href="#/add-point" data-title="You can't add points in this layer">Add point</a>
         <a class="add_annotation small grey button js-addAnnotation" href="#/add-annotation" data-title="Annotations available under a visualization">Add annotation</a>
       </div>
     </div>
   </div>
   <div class="cartodb-popup-tip-container"></div>
</div>
