<div class="map_wrapper">
  <div class="map">
  </div>
  <div class="map_header">
    <h1 class="header_title"><%- title %></h1>
    <p class="header_description"><%- description %></p>
    <div class="header_shareable">
      <a class="facebook">Facebook</a>
      <a class="twitter">Twitter</a>
    </div>
  </div>
  <div class="search_box">
  </div>
</div>

<div>
  <ul class="switches">
    <li class="title">Title</li>
    <li class="description">Description</li>
    <li class="search">Search box</li>
    <li class="shareable">Shareable</li>
  </ul>
</div>

<div class="margin30 copy">
  <label class="uppercase smaller strong lighter">Copy and paste this code into your website</label>
  <p class="margin5 url">http://hhajhsjhasd</p>
  <a class="tooltip copy" href="#copy" title="Copy this">copy</a>
</div>
