<div class="map_wrapper">
  <div class="map"></div>
  <div class="header">
    <h1><%- title %></h1>
    <p ><%- description %></p>
    <div class="social">
      <a class="facebook">Facebook</a>
      <a class="twitter">Twitter</a>
    </div>
  </div>
  <div class="search_box">
    <input type="text" class="text" value="" />
    <input type="submit" class="submit" value="" />
  </div>
</div>

<div>
  <ul class="switches">
    <li class="title">Title</li>
    <li class="description">Description</li>
    <li class="search">Search box</li>
    <li class="shareable">Shareable</li>
  </ul>
</div>

<div class="margin30 copy">
  <label class="uppercase smaller strong lighter">Copy and paste this code into your website</label>
  <p class="margin5 url">http://hhajhsjhasd</p>
  <a class="tooltip copy" href="#copy" title="Copy this">copy</a>
</div>
