<div class="map_wrapper">
  <div class="map">
  </div>
  <div class="map_header">
    <h1 class="header_title"><%- title %></h1>
    <p class="header_description"><%- description %></p>
  </div>
  <div class="search_box">
  </div>
</div>


<div>
  <ul class="switches">
    <li class="title">Title</li>
    <li class="description">Description</li>
    <li class="search">Search box</li>
  </ul>
</div>

<div class="margin20 copy">

  <label class="uppercase smaller strong lighter">copy and paste this code on your website</label>
  <p class="margin5 url">http://hhajhsjhasd</p>
</div>
