<div class="sqlview">
  <p class="displaced">
    <% if (!empty) { %>
      <%= total %> <%= total == 1 ? 'row' : 'rows' %>, <a href="#export_query" class="export_query">create table from query</a> or <a href="#clear_view" class="clearview">clear view</a>
    <% } else { %>
      No resulting rows for this query
    <% } %>
  </p>
</div>