<% if (!empty) { %>
<a href="#export_query" class="export_query">create table from query</a> or <a href="#clear_view" class="clearview">clear view</a>
<% } else { %>
  No resulting rows for this query
<% } %>
