<div class="sqlview">
  <p>
    sql view applied, <a href="#" class="clearview">clear view</a> 
    <% if (!empty) { %>
      or <a href="#" class="export_query">create a table from query</a>
    <% } %>
  </p>
</div>