<ul>
  <li><a class="small number" href="">number</a></li>
  <li><a class="small string" href="">string</a></li>
  <li><a class="small date" href="">date</a></li>
  <li><a class="small bool" href="">boolean</a></li>
</ul>
