<ul>
  <li><a class="small point" href="#add_point" data-cdb-st-id="add-point">Add Point</a></li>
  <li><a class="small line" href="#add_line" data-cdb-st-id="add-line">Add Line</a></li>
  <li><a class="small polygon" href="#add_polygon" data-cdb-st-id="add-polygon">Add Polygon</a></li>
</ul>
