<div>
  <label class="strong small">
    <% if (!editing_name) { %>
      <a class="coloptions" href="#<%= col_name %>">
        <%= col_name %>
        <% if (col_type == 'geometry') { %>
          <span class="tiny geo">GEO</span>
        <% } %>
    <% } else { %>
      <input class="col_name_edit" type="text" value="<%= col_name %>" />
    <% } %>
    </a>
  </label>
  <p class="small">
    <a class="coltype" href=""><%= col_type %></a>
  </p>
</div>
