<ul>
  <% if (isPublic !== true && in_sql_view) { %>
    <li class="tip"><a href="#/clear-view" class="clearview">Clear view</a> to perform more actions</li>
  <% } %>
  <li class="order"><a class="small">Order</a> <div class="order_selector"><a class="asc" href="#asc">asc</a><a class="desc" href="#des">desc</a></div></li>
  <% if (reserved_column !== true && isPublic !== true) { %>
    <li><a class="small rename_column" href="#rename">Rename column...</a></li>
    <li><a class="small change_data_type" href="#change_type">Change data type...</a></li>
    <li><a class="small georeference" href="#georeference">Georeference...</a></li>
    <li><a class="small add_new_column" href="#add_column">Add new column...</a></li>
  <% } %>
  <% if (isPublic !== true) { %>
    <li><a class="small filter_by_this_column" href="#filter_by_column">Filter by this column</a></li>
  <% } %>
  <% if (reserved_column !== true && isPublic !== true) { %>
    <li><a class="small delete_column red" href="#delete_column">Delete this column</a></li>
  <% } %>
</ul>
