<ul>
  <li><a class="small number" href="#to_number">number</a></li>
  <li><a class="small string" href="#to_string">string</a></li>
  <li><a class="small date" href="#to_date">date</a></li>
  <li><a class="small boolean" href="#to_boolean">boolean</a></li>
</ul>
