<div>
<% if (titleAlias) { %>
    <h2 class="table_title" id="tableTitle"><%- titleAlias %> (<%- tablename %>)</h2>  
<% } else {%>
    <h2 class="table_title" id="tableTitle"><%- tablename %></h2>
<% } %>
</div>