<div>
<% if (titleAlias) { %>
    <h2 class="table_title">
        <%- titleAlias %> 
        <% if (alias_feature_flag) { %>
            (<%- tablename %>)
        <% } %>
    </h2>  
<% } else {%>
    <h2 class="table_title"><%- tablename %></h2>
<% } %>
</div>