<tfoot class='page_loader <%- direction %>'>
  <tr>
    <th colspan='1'>
      <div class='fake'></div>
      <div class='float_action'>
        <h5>Loading more rows...</h5>
        <p>Just a few seconds.</p>
      </div>
    </th>
  </tr>
</tfoot>