<ul>
  <li><a class="small point" href="#add_point">Add Point</a></li>
  <li><a class="small line" href="#add_line">Add Line</a></li>
  <li><a class="small polygon" href="#add_polygon">Add Polygon</a></li>
</ul>
