<ul>
    <li>
    <% if (titleAlias === null && !titleAliasEdit) { %>
        <p>Table Alias:</p>
        <a class="add_title_alias" href="#renameTitleAlias">+ Add</a>
    <% } else if(titleAliasEdit){ %>
        <p>Table Alias:</p>
        <span>
            <input class="aliasInput" id="aliasInput" type="text" value="<%- titleAlias %>" onfocus="this.value = this.value;" /><a class="save_column_alias" href="">Save</a>
        </span>
    <% } else { %>
        <p>Table Alias:</p>
        <span>
            <p><%- titleAlias  %></p>
            <a class="editAlias" href="">edit</a><a class="removeAlias">Remove</a>
        </span>
    <% } %>
    </li>
</ul>
