.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  border-radius: 4px;
  background: $primary-color;
  color: $white;
  font: 600 12px/16px "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

a {
  &.button:hover {
    text-decoration: none;
  }
}

.button--ghost {
  background: transparent;
  color: $primary-color;
}

.button--outline {
  border: 1px solid $primary-color;
  background: $white;
  color: $primary-color;
}

.button-icon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.buttonLink {
  display: inline-block;
  overflow: hidden;
  font: 600 12px/16px "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;

  svg {
    margin-right: 8px;
    transform: translate3d(0, 0, 0);
    transition: transform 300ms ease-in;
  }

  &:hover {
    svg {
      transform: translate3d(4px, 0, 0);
    }
  }

  &.buttonLink--center {
    width: 100%;
    text-align: center;
  }
}
