$colors: (
  'Primary': $primary-color,
  'White': $white,
  'Grey': $text-color,
  'SoftGrey': $text-secondary-color,
  'GreyLight': $text-color-light,
  'Premium': $premium-color,
  'Alert': $alert,
  'SoftBlue': $softblue,
);

@each $name, $color in $colors {
  .is-bg#{$name} {
    background-color: #{$color};
  }

  .is-txt#{$name} {
    color: #{$color};
  }
}
