//colors
$primary-color: #0383ff;
$premium-color: #f90;
$white: #fff;
$text-color: #2e3c43;
$text-color-light: #babec0;
$light-grey: #ebeef5;
$softblue: #f2f6f9;
$alert: rgba(250, 20, 20, 0.64);
$info: rgba(255, 195, 0, 0.48);
