//colors
$primary-color: #047AE6;
$premium-color: #F90;
$white: #FFF;
$text-color: #2E3C43;
$text-secondary-color: #6F757B;
$text-color-light: #BABEC0;
$light-grey: #EBEEF5;
$grey: #E6E8EB;
$softblue: #F2F6F9;
$alert: rgba(226, 7, 3, 1);
$info: rgba(255, 195, 0, 0.48);

//Progress bar colors
$good-state: #72EEA8;
$warning-state: #FFC300;
$error-state: #FA1414;

//Dimensions
$layout-tablet: 800px;
$layout-mobile: 600px;
