//colors
$primaryColor: #0383ff;
$premiumColor: #f90;
$white: #fff;
$textColor: #2e3c43;
$textColor-light: #babec0;
$light-grey: #ebeef5;
$softblue: #f2f6f9;
$alert: rgba(250, 20, 20, 0.64);
$info: rgba(255, 195, 0, 0.48);
