@import "../../new_variables/mixins";
@import "../../new_variables/colors";
@import "../../new_variables/sizes";

//  Filled circles with an icon in the middle, typically used together with a iconFont.
//
// Example usage:
//   <div class="IllustrationIcon IllustrationIcon--royal"> 
//     <i class="iconFont iconFont-Unlock"></i>
//   </div>
//
.IllustrationIcon {
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
  width: $sIcon-illustration;
  height: $sIcon-illustration;
  color: white;
  border-radius: 30px;
  font-size: $sIcon-illustrationFontSize;
}
.IllustrationIcon--neutral {
  background-color: $cIllustration-neutral;
}
.IllustrationIcon--positive {
  background-color: $cIllustration-positive;
}
.IllustrationIcon--notice {
  background-color: $cIllustration-notice;
}
.IllustrationIcon--alert {
  background-color: $cIllustration-alert;
}
.IllustrationIcon--negative {
  background-color: $cIllustration-negative;
}
.IllustrationIcon--royal {
  background-color: $cIllustration-royal;
}
