/**
 *  Map attribution
 */

@import '../variables/sizes';
@import '../variables/mixins';

$size: 20px;

.CDB-Attribution {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 16px;
  background: #FFF;
  font-family: 'Open Sans';
  line-height: $size;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24), 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  z-index: 10;
}
.CDB-Attribution:hover {
  cursor: pointer;
}
.CDB-Attribution--gmaps {
  bottom: 20px;
}
.CDB-Attribution-text,
.CDB-Attribution-button {
  display: none;
  height: $size;
  color: #000;
  font-size: $sFontSize-small;
  line-height: $size;
  &.is-visible {
    display: inline-block;
    vertical-align: top;
  }
}
.CDB-Attribution-text {
  padding: 0 7px;
}
.CDB-Attribution-text a {
  color: #3AA9E3;
  &:hover {
    color: #2E3C43;
  }
}
.CDB-Attribution-button {
  width: $size;
  text-align: center;
}
.CDB-Attribution-button:hover {
  cursor: pointer;
}


@include media-query-mobile() {
  .CDB-Attribution {
    max-width: 90%;
    border-radius: 2px;
  }

  .CDB-Attribution-text {
    height: auto;
    min-height: $size;
  }
}
