// Dashboard info
// --------------------------------------------------

@import '../variables/sizes';
@import '../variables/mixins';

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2%, 0);
    transform: translate3d(0, -2%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2%, 0);
    transform: translate3d(0, -2%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.Dashboard-info-texts {
  position: absolute;
  top: 150px;
  right: 24px;
  left: 24px;
  width: 232px;
  opacity: 0;
}
.Dashboard-info {
  @include transition(width, 0.5s, cubic-bezier(0.01, 0.99, 0.97, 1.01));
  position: absolute;
  top: 0;
  left: 0;
  width: 88px;
  max-width: 280px;
  height: 100vh;
  padding: 24px;  
  background: #3AA9E3;
  font-family: 'Open Sans';
  overflow: hidden;
  box-sizing: border-box;
  z-index: 2;

  &.is-active {
    width: 280px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);

    .Dashboard-info-texts {
      @include animation(fadeInDown 0.8s both);
    }
    .Dashboard-info-footer-txt {
      @include animation(fadeInRight 0.8s both);
    }
    .Dashboard-info-snapshots {
      opacity: 1;
    }
    .Dashboard-info-actions-link {
      transform: rotate(180deg);
    }
  }
}

.Dashboard-info-logo {
  width: 40px;
  height: 40px;
  margin-bottom: $sMargin-section;
  border-radius: 4px;
  background: #FFF;
  line-height: 40px;
  text-align: center;
}

.Dashboard-info-logo i {
  margin-top: -4px;
  color: #3C93D8;
  font-size: 22px;
  vertical-align: middle;
}

.Dashboard-info-actions {
  width: 40px;
  height: 40px;
  margin-bottom: 48px;
}

.Dashboard-info-actions-link {
  @include transition(all, 0.3s, ease-out);
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  border: 1px solid #FFF;
  border-radius: 50%;
  background: url('/themes/img/dashboard-show.svg') no-repeat center center;
}

.Dashboard-info-update {
  margin-bottom: 8px;
  color: #FFF;
  font-size: $sFontSize-small;
  font-weight: $sFontWeight-lighter;
  line-height: $sLineHeight-small;
  text-transform: uppercase;
}

.Dashboard-info-title {
  margin-bottom: 20px;
  color: #FFF;
  font-size: $sFontSize-huge;
  font-weight: $sFontWeight-lighter;
  line-height: $sLineHeight-huge;
}

.Dashboard-info-description {
  color: #FFF;
  font-size: $sFontSize-normal;
  line-height: $sLineHeight-normal;
}

.Dashboard-info-footer {
  position: absolute;
  right: 24px;
  bottom: 24px;
  left: 24px;
  width: 280px;
}

.Dashboard-info-media {
  display: inline-block;
  width: 40px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
}

.Dashboard-info-avatar img {
  display: inline-block;
  width: 100%;
  border-radius: 4px;
}

.Dashboard-info-footer-txt {
  display: inline-block;
  color: #FFF;
  font-size: $sFontSize-larger;
  font-weight: $sFontWeight-lighter;
  line-height: $sLineHeight-larger;
  opacity: 0;
  vertical-align: middle;
}

.Dashboard-info-footer-item {
  margin-top: 20px;
}

.Dashboard-info-snapshots {
  @include transition(opacity, 0.5s, ease-out);
  position: relative;
  width: 280px;
  height: 120px;
  margin-left: -24px;
  padding: 24px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.Dashboard-info-snapshots-list {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  width: 1000px;
}

.Dashboard-info-snapshots-list-item {
  width: 96px;
  height: 72px;
  margin-right: 8px;
  padding: 12px;
  border-radius: 4px;
  background: #FFF;
  box-sizing: border-box;
}

.Dashboard-info-snapshots-list-title {
  margin-bottom: 8px;
  font-size: $sFontSize-smaller;
  font-weight: $sFontWeight-semibold;
  line-height: $sLineHeight-smaller;
}

.Dashboard-info-snapshots-list-date {
  color: #636D72;
  font-size: $sFontSize-smaller;
  font-weight: $sFontWeight-lighter;
  line-height: $sLineHeight-smaller;
}
