// Map overlays styles
// ----------------------------------------------

$buttonColor: #636D72;

// zoom overlay
.CDB-Overlay {
  position: relative;
  min-width: 32px;
  height: 32px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24), 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  z-index: 20000;
}
.CDB-Zoom {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
.CDB-Zoom-action {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 100%;
  background: #FFF;
  color: $buttonColor;
  text-align: center;
  text-decoration: none;
  z-index: 10;

  &:hover {
    background: #F9F9F9;
    cursor: pointer;
  }

  &.is-disabled {
    cursor: initial;
    opacity: 0.2;
  }

  &:last-child {
    margin-left: -4px;
    border-left: 1px solid #F8F8F8;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
.CDB-Zoom-action--out:before {
  position: absolute;
  left: 50%;
  width: 11px;
  height: 1px;
  margin-left: -5px;
  background: $buttonColor;
  content: '';
}
.CDB-Zoom-action--in {
  &:before {
    position: absolute;
    left: 50%;
    width: 11px;
    height: 1px;
    margin-left: -5px;
    background: $buttonColor;
    content: '';
  }
  &:after {
    position: absolute;
    top: 11px;
    width: 1px;
    height: 11px;
    background: $buttonColor;
    content: '';
  }
}
.CDB-Zoom-info {
  position: absolute;
  top: -24px;
  right: 0;
  left: 0;
  height: 34px;
  padding-top: 6px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.64);
  color: #FFF;
  font-family: 'Open Sans';
  font-size: $sFontSize-small;
  font-weight: $sFontWeight-semibold;
  line-height: $sLineHeight-small;
  text-align: center;
  z-index: 1;
}

// loader search
.CDB-Search {
  position: absolute;
  bottom: 16px;
  left: 84px;
}
.CDB-Search-inner {
  @include transition(width, 100ms ease-in);
  width: 32px;
  height: 32px;
  overflow: hidden;
  &.is-active {
    width: 184px;
    .CDB-Search-text {
      opacity: 1;
    }
  }
}
.CDB-Search-action {
  display: block;
  position: relative;
  width: 32px;
  cursor: pointer;
}
.CDB-Search-actionButton {
  position: absolute;
  top: 8px;
  left: 8px;
  color: $buttonColor;
}
.CDB-Search-text {
  @include transition(opacity, 100ms ease-in);
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 33px;
  width: 130px;
  margin-right: 8px;
  padding: 0 0 0 8px;
  border: 0;
  border-left: 1px solid #F8F8F8;
  background: none;
  font: 12px/16px 'Open Sans';
  opacity: 0;
  vertical-align: middle;

  &:focus {
    outline: none;
  }
}

//FullScreen overlay
.CDB-Fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  width: 63px;
  height: 48px;
  cursor: pointer;
  z-index: 10;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 48px solid #FFF;
    border-left: 48px solid transparent;
    content: '';
  }
  &:after {
    display: block;
    position: absolute;
    top: -22px;
    left: 31px;
    width: 10px;
    height: 100px;
    transform: rotate(-45deg);
    background-image: linear-gradient(-90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    content: '';
    opacity: 0.2;
  }
  .CDB-Shape-Arrow.is-down {
    top: 5px;
    left: 45px;
  }
  .CDB-Shape-Arrow.is-up {
    top: 6px;
    left: 52px;
  }
  &:hover {
    .CDB-Shape-Arrow.is-up {
      @include transition(all, 100ms);
      top: 3px;
      left: 55px;
    }
    .CDB-Shape-Arrow.is-down {
      @include transition(all, 100ms);
      top: 7px;
      left: 43px;
    }
  }
}
