<% if (avatarUrl) { %>
  <div class="UserAvatar ChangePrivacy-shareListItemIcon <% if (willRevokeAccess) { %>is-error<% } %>">
    <img src="<%- avatarUrl %>" class="UserAvatar-img UserAvatar-img--medium <% if (willRevokeAccess) { %>is-error<% } %>" />
  </div>
<% } else { %>
  <div class="LayoutIcon ChangePrivacy-shareListItemIcon <% if (willRevokeAccess) { %>LayoutIcon--negative <% } %>">
    <i class="CDB-IconFont CDB-IconFont-people CDB-IconFont--super"></i>
  </div>
<% } %>
<div>
  <div class="DefaultTitle u-ellipsLongText"><%- title %></div>
  <p class="DefaultDescription u-ellipsLongText <% if (willRevokeAccess) { %>DefaultDescription--error<% } %>">
    <%- desc %>
  </p>
</div>
