<div class="LayoutIcon ChangePrivacy-shareListItemIcon">
  <i class="iconFont iconFont-People iconFont--super"></i>
</div>
<div>
  <div class="DefaultTitle u-ellipsLongText">
    Default settings for your Organization
  </div>
  <p class="DefaultDescription u-ellipsLongText">
    New users will have this permission
  </p>
</div>
