<div class="CDB-Text Toggler ChangePrivacy-shareListItemToggler <% if (!canChangeAccess) { %>is-disabled<% } %> js-toggler">
  <input type="checkbox" id="<%- cid %>" class="js-input"
      <% if (hasAccess) { %>checked="checked"<% } %>
      <% if (!canChangeAccess) { %>disabled="disabled"<% } %>
    />
  <label for="<%- cid %>" />
</div>
<span class="CDB-Text CDB-Size-medium DefaultDescription"><%- label %></span>
