<div>
  <% if (showWriteAccessToggleAccess) { %>
    <span>
      <div class="Toggler ChangePrivacy-shareListItemToggler <% if (!canChangeWriteAccess) { %>is-disabled<% } %>">
        <input type="checkbox" id="<%- writeId %>" class="js-write"
            <% if (hasWriteAccess) { %>checked="checked"<% } %>
            <% if (!canChangeWriteAccess) { %>disabled="disabled"<% } %>
          />
        <label for="<%- writeId %>" />
      </div>
      <span class="DefaultDescription ChangePrivacy-shareListItemTogglerText">Write</span>
    </span>
  <% } %>

  <div class="Toggler ChangePrivacy-shareListItemToggler <% if (!canChangeReadAccess) { %>is-disabled<% } %>">
    <input type="checkbox" id="<%- readId %>" class="js-read"
        <% if (hasReadAccess) { %>checked="checked"<% } %>
        <% if (!canChangeReadAccess) { %>disabled="disabled"<% } %>
      />
    <label for="<%- readId %>" />
  </div>
  <span class="DefaultDescription">Read</span>
</div>
