<div class="Dialog-stickyFooter">
  <div class="Dialog-footer ChangePrivacy-shareFooter u-inner">
    <button class="cancel Button Button--secondary Dialog-footerBtn">
      <span>cancel</span>
    </button>
    <button class="ok Button Button--main">
      <span>Save settings</span>
    </button>
  </div>
</div>
