<div class="Dialog-stickyFooter">
  <div class="Dialog-footer ChangePrivacy-shareFooter u-inner">
    <button class="cancel CDB-Button CDB-Button--secondary">
      <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">cancel</span>
    </button>
    <button class="ok CDB-Button CDB-Button--primary">
      <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Save settings</span>
    </button>
  </div>
</div>
