<div class="CDB-Text FlashMessage FlashMessage--main">
  <div class="u-inner">
      <div class="FlashMessage FlashMessage-info FlashMessage--main u-flex u-justifySpace u-alignCenter">
          <p><%= _t('common.trial_notification.views.trial_notification.message') %></p>
          <p class="u-flex">
            <a href="<%= accountUpdateUrl %>" class="CDB-Button CDB-Button--secondary CDB-Button--secondary--background CDB-Button--big">
              <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase"><%= _t('common.trial_notification.views.trial_notification.add_payment') %></span>
            </a>
          </p>
      </div>
  </div>
</div>
