<div class="CreateDialog-templatesNew">
  <div class="CreateDialog-templatesNewInfo">
    <h6 class="CreateDialog-templatesNewTitle">Create a map from scratch</h6>
    <p class="CreateDialog-templatesNewText">Add your datasets or create them from scratch</p>
  </div>
  <button class="Button Button--positive CreateDialog-templatesNewButton js-new_map">
    <span>Create new map</span>
  </button>
</div>
<div class="CreateDialog-templatesSeparator">
  <p class="CreateDialog-templatesSeparatorText">Or start with a video tutorial</p>
</div>
<div class="CreateDialog-templatesItems">
  <ul class="CreateDialog-templatesList"></ul>
</div>
