<div class="IntermediateInfo">
  <div class="LayoutIcon LayoutIcon--negative">
    <i class="iconFont iconFont-Barometer"></i>
  </div>
  <h4 class="IntermediateInfo-title IntermediateInfo-title--error">You have run out of quota</h4>
  <p class="DefaultParagraph DefaultParagraph--short">Remove some of your datasets to gain available space or upgrade your account</p>

  <div class="UpgradeElement UpgradeElement--fixed">
    <div class="UpgradeElement-info">
      <div class="LayoutIcon UpgradeElement-infoIcon">
        <i class="iconFont iconFont-Rocket"></i>
      </div>
      <p class="UpgradeElement-infoText u-ellipsLongText">Keep your data and get more quota by upgrading your plan</p>
    </div>
    <% if (freeTrial) { %>
      <div class="UpgradeElement-trial">
        <i class="iconFont iconFont-Gift UpgradeElement-trialIcon"></i>
        <p class="UpgradeElement-trialText u-ellipsLongText">15 days Free trial</p>
      </div>
    <% } %>
  </div>

  <a href="<%= upgradeUrl %>" class="Button Button--main">
    <span>upgrade</span>
  </a>
</div>
