<div class="CreateDialog-templatesNew">

</div>
<div class="CreateDialog-templatesItems">
  <ul class="CreateDialog-templatesList">
    <li class="CreateDialog-templatesItem">
      <button>

      </button>
    </li>
  </ul>
</div>