<% if (option !== 'templates') { %>
  <div class="CreateDialog-footerInner <% if (option === 'preview') { %> is-expanded <% } %>">
    <% if (option === 'listing') { %>
    <% } %>

    <% if (option === 'preview') { %>
      <div class="CreateDialog-footerInfo">
        <i class="iconFont iconFont-Info CreateDialog-footerInfoIcon"></i>Take your time to watch this tutorial or skip it and go to your map now
      </div>
      <div class="CreateDialog-footerActions">
        <a href="<%= mapTemplate && mapTemplate.map && mapTemplate.map.url %>" class="Button Button--light CreateDialog-footerActionsButton is-separated">CREATE THIS MAP</a>
        <button class="Button Button--positive CreateDialog-footerActionsButton js-start">GO FOR IT</button>
      </div>
    <% } %>
  </div>
<% } %>