<div class="CreateDialog-templatesNew">
  <h5 class="CreateDialog-templatesTitle">Start from scratch</h5>
  <button class="CreateDialog-templatesButton js-new_map">
    <i class="iconFont iconFont-Close CreateDialog-templatesNewButton CreateDialog-templatesButtonIcon"></i>
    <h6 class="CreateDialog-templatesButtonTitle">New Map</h6>
    <p class="CreateDialog-templatesButtonText">Create a new map with CartoDB from scratch</p>
  </button>
</div><div class="CreateDialog-templatesItems">
  <h5 class="CreateDialog-templatesTitle">Start with a video tutorial</h5>
  <ul class="CreateDialog-templatesList"></ul>
</div>
