<div class="Dialog-header Dialog-header--expanded CreateDialog-header"></div>
<div class="Dialog-body Dialog-body--expanded CreateDialog-body"></div>
<div class="Dialog-footer Dialog-footer--expanded CreateDialog-footer">
  <div class="u-inner"></div>
</div>
