<div class="Dialog-contentSubHeader">
  <button class="NavButton js-back">
    <i class="iconFont iconFont-ArrowPrev"></i>
  </button>
  <p class="DefaulTitle">
    Georeference your data
  </p>
  <div>
    <%/* Empty div to render the prev node in center, based on the layout */%>
  </div>
</div>
<div class="Georeference-contentItem OptionCards js-items"></div>
