<div class="ImportPanel-header">
  <h3 class="DefaultTitle">
    <%- title %>
  </h3>
  <p class="ImportPanel-headerDescription ImportPanel-headerDescription--withoutWidth">
    <%- desc %>
  </p>
</div>
