<div class="Dialog-footer Dialog-footer--expanded CreateDialog-footer">
  <div>
    <div class="CreateDialog-footerShadow"></div>
    <div class="CreateDialog-footerLine"></div>
    <div class="CreateDialog-footerInner">
      <div class="CreateDialog-footerInfo">
        <div class="Checkbox js-force-all-rows">
          <button class="Checkbox-input"></button>
          <label class="Checkbox-label">
            Override all values. Geocode all your rows, even those with geometry data.
          </label>
        </div>
      </div>
      <div class="CreateDialog-footerActions">
        <button class="Button Button--main u-tSpace-xl ok is-disabled">
          <span>Continue</span>
        </button>
      </div>
    </div>
  </div>
</div>
