<div class="Dialog-body Dialog-body--expanded is-expandedWithPreFooter Dialog-body--create">
  <div class="CreateDialog-listing <%- hasNoGeoferencedData ? 'CreateDialog-listing--withFlashMessage': '' %>">
    <div class="Georeference-content js-content"></div>
  </div>
</div>
<div class="Dialog-footer Dialog-footer--expanded CreateDialog-footer">
  <div>
    <div class="CreateDialog-footerShadow"></div>
    <div class="CreateDialog-footerLine"></div>
    <div class="CreateDialog-footerInner js-footer"></div>
  </div>
</div>
