<div class="OptionCard-icon">
  <div class="Georeference-geometryIcon">
    <i class="Georeference-geometryIconImg Georeference-geometryIconImg--point js-icon">
      <i class="Georeference-geometryIconMarker Georeference-geometryIconMarker--a"></i>
      <i class="Georeference-geometryIconMarker Georeference-geometryIconMarker--b"></i>
      <i class="Georeference-geometryIconMarker Georeference-geometryIconMarker--c"></i>
    </i>
    <i class="Georeference-geometryIconHighlightIcon HighlightIcon HighlightIcon--warning js-warning">!</i>
  </div>
</div>
<div class="OptionCard-title DefaultTitle DefaultTitle--larger js-title"></div>
