<div class="OptionCard-icon">
  <div class="Georeference-geometryIcon">
    <i class="iconFont iconFont-Globe Georeference-geometryIconFont js-icon"></i>
    <i class="Georeference-geometryIconHighlightIcon HighlightIcon HighlightIcon--warning js-warning">!</i>
  </div>
</div>
<div class="OptionCard-title DefaultTitle js-title"></div>
