<div class="OptionCard-icon">
  <div class="Georeference-geometryIcon">
    <i class="Georeference-geometryIconImg Georeference-geometryIconImg--polygon js-icon-img"></i>
    <i class="Georeference-geometryIconHilightIcon HilightIcon HilightIcon--warning js-warning">!</i>
  </div>
</div>
<div class="OptionCard-title">
  <span class="js-title"></span> <a href="javascript:void(0)" class="js-learn-more">Learn more</a>
</div>
