<div class="Dialog-content Dialog-content--expanded">
  <button class="NavButton Dialog-backBtn js-back" style="display: none;">
    <i class="iconFont iconFont-ArrowPrev"></i>
  </button>
  <div class="Dialog-contentWrapper">
    <div class="Dialog-header Dialog-header--expanded CreateDialog-header">
      <ul class="CreateDialog-headerSteps">
        <li class="CreateDialog-headerStep CreateDialog-headerStep--single is-selected">
          <div class="Dialog-headerIcon">
            <i class="iconFont iconFont-Marker"></i>
          </div>
          <p class="Dialog-headerTitle">Georeference your dataset</p>
          <p class="Dialog-headerText">This is the key point to visualize your data</p>
        </li>
      </ul>
    </div>

    <div class="Dialog-body Dialog-body--expanded is-expandedWithPreFooter CreateDialog-body">
      <div class="CreateDialog-listing <%- hasNoGeoferencedData ? 'CreateDialog-listing--withFlashMessage': '' %>">
        <% if (hasNoGeoferencedData) { %>
          <div class="FlashMessage FlashMessage--inDialogWithFiltersNavListing">
            <div class="u-inner">
              No georeference data on your layer. If you don’t georeference your data your map will be blank.
            </div>
          </div>
        <% } %>
        <div class="Filters Filters--navListing <%- hasNoGeoferencedData ? 'Filters--navListing--withFlashMessage': '' %>">
          <div class="u-inner">
            <div class="Filters-inner">
              <div class="Filters-row Filters-row--centered">
                <div class="Filters-type">
                  <span class="Filters-separator"></span>
                  <ul class="Filters-list js-tabs"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Georeference-content js-tab-content"></div>
      </div>
    </div>

    <div class="Dialog-footer Dialog-footer--expanded CreateDialog-footer">
      <div>
        <div class="CreateDialog-footerShadow"></div>
        <div class="CreateDialog-footerLine"></div>
        <div class="CreateDialog-footerInner ">
          <div class="CreateDialog-footerInfo"></div>
          <div class="CreateDialog-footerActions">
            <button class="Button Button--main ok is-disabled">
              <span>Continue</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
