<div class="CDB-Text FormAccount-Section u-inner">
  <div class="SideMenu CDB-Text CDB-Size-medium js-SideMenu"></div>

  <div class="FormAccount-Content">
    <div class="FormAccount-title">
      <p class="FormAccount-titleText">Edit your plan information</p>
    </div>

    <span class="FormAccount-separator"></span>

    <div class="js-AccountContent"></div>
  </div>
</div>
