<div class="FormAccount-row GooglePlus-row js-googleRow">
  <div class="FormAccount-rowLabel">
    <label class="FormAccount-label">Google+</label>
  </div>
  <div class="FormAccount-rowData">
    <div class="FormAccount-rowInfo">
      <a href="https://myaccount.google.com/permissions?pli=1" class="CDB-Size-medium FormAccount-link js-googleDisconnect">Disconnect your Google+ account</a>
    </div>
  </div>
  <div class="FormAccount-rowInfo">
    <p class="FormAccount-rowInfoText js-googleText">Set a new password in order to disconnect from Google</p>
  </div>
</div>
