<div class="Form-rowLabel">
  <label class="Form-label"><%= title %></label>
</div>
<div class="Form-rowData Form-rowData--med">
  <% if (connected) { %>
    <input class="Form-input Form-input--med is-disabled" readonly value="Connected" />
  <% } else { %>
    <button type="button" class="Form-link js-connect">
      <i class="ServiceIcon ServiceIcon--<%= name %>"></i>Connect
    </button>
  <% } %>
</div>
<div class="Form-rowInfo">
  <% if (connected) { %>
    <p class="Form-rowInfoText">
      <button type="button" class="Form-link js-disconnect">Disconnect</button>
    </p>
  <% } %>
</div>