<div class="FormAccount-rowLabel">
  <label class="FormAccount-label"><%- title %></label>
</div>
<div class="FormAccount-rowData">
  <% if (connected) { %>
    <input class="FormAccount-input FormAccount-input--med is-disabled" readonly value="Connected" />
  <% } else { %>
    <% if (state === "loading") { %>
      <button type="button" class="FormAccount-link is-disabled">Connecting...</button>
    <% } else { %>
      <button type="button" class="FormAccount-link js-connect">
        <i class="ServiceIcon ServiceIcon--<%- name %>"></i>Connect
      </button>
    <% } %>
  <% } %>
  
  <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft FormAccount-rowInfoText--multipleLines">
    <p class="FormAccount-rowInfoText <%- state === "error" ? 'FormAccount-rowInfoText--error' : '' %>">
    <% if (connected) { %>
      <% if (state === "error") { %>
        Ooops! There was an error, please <button type="button" class="FormAccount-link js-disconnect">try it again</button>
        or <a class="FormAccount-link" href="mailto:support@cartodb.com">contact us</a> if the problem persists
      <% } else if (state === "loading") { %>
        Disconnecting...
      <% } else { %>
        <button type="button" class="FormAccount-link js-disconnect">Disconnect</button>
      <% } %>
    <% } else { %>
      <% if (state === "error") { %>
        There was an error, please be sure your pop-up blocker is disabled and try again or
        <a class="FormAccount-link" href="mailto:support@cartodb.com">contact us</a> if the problem persists
      <% } %>
    <% } %>
    </p>
  </div>
</div>