<div class="Form-rowLabel">
  <label class="Form-label"><%= title %></label>
</div>
<div class="Form-rowData Form-rowData--med">
  <% if (connected) { %>
    <input class="Form-input Form-input--med is-disabled" readonly value="Connected" />
  <% } else { %>
    <% if (state === "loading") { %>
      <button type="button" class="Form-link is-disabled">Connecting...</button>
    <% } else { %>
      <button type="button" class="Form-link js-connect">
        <i class="ServiceIcon ServiceIcon--<%= name %>"></i>Connect
      </button>
    <% } %>
  <% } %>
</div>
<div class="Form-rowInfo">
  <p class="Form-rowInfoText <%= state === "error" ? 'Form-rowInfoText--error Form-rowInfoText--multipleLines' : '' %>">
  <% if (connected) { %>
    <% if (state === "error") { %>
      Ooops! There was an error, please <button type="button" class="Form-link js-disconnect">try it again</button>
      or <a class="Form-link" href="mailto:support@cartodb.com">contact us</a> if the problem persists
    <% } else if (state === "loading") { %>
      Disconnecting...
    <% } else { %>
      <button type="button" class="Form-link js-disconnect">Disconnect</button>
    <% } %>
  <% } else { %>
    <% if (state === "error") { %>
      There was an error, please be sure your pop-up blocker is disabled and try again or
      <a class="Form-link" href="mailto:support@cartodb.com">contact us</a> if the problem persists
    <% } %>
  <% } %>
  </p>
</div>