<div class="Form-row">
  <div class="Form-rowLabel">
    <label class="Form-label"><%= name %></label>
  </div>
  <div class="Form-rowData Form-rowData--med js-field"></div>
  <div class="Form-rowInfo"></div>
</div>