<div class="Form-row TemplatedWorkflows-FormRow">
  <div class="Form-rowLabel">
    <label class="Form-label"><%= name %></label>
  </div>
  <div class="Form-rowData Form-rowData--longer js-field"></div>
  <div class="Form-rowInfo"></div>
</div>