<% if (description) { %>
  <div class="TemplatedWorkflows-FormDescription">
    <p class="DefaultDescription TemplatedWorkflows-FormDescriptionElement"><%= description %></p>
  </div>
<% } %>
<div class="Form-row TemplatedWorkflows-FormRow TemplatedWorkflows-FormErrorRow js-formError">
  <div class="Form-rowLabel">
    <label class="Form-label"></label>
  </div>
  <div class="Form-rowData Form-rowData--longer">
    <p class="TemplatedWorkflows-FormError js-formErrorText"></p>
  </div>
  <div class="Form-rowInfo"></div>
</div>