// Layout Header
// --------------------------------------------------

@import "../new_variables/mixins";
@import "../new_variables/colors";
@import "../new_variables/sizes";

$height: 60px;

@media only screen and (max-width: 360px) {
  .Header .Header-inner {
    height: $height;
  }
  .Header {
    height: $height;
  }
  .Header-settingsItem--avatar { 
    height: $height/2;
  }
  .Header .Header-settingsList .UserAvatar-img--medium { 
    height: $height/2;
    width: $height/2;
  }
  .Header .Header-settingsList .Button { 
    height: $height/2;
    padding: 0 20px;
  }
}

