@import "../new_variables/mixins";
@import "../new_variables/colors";
@import "../new_variables/sizes";

// The body for public dashboard, to get the sticky footer in case of content do not fill up the viewport.
//
// --------------------------------------------------------------------------------------------------------------------

.PublicBody {
  @include display-flex();
  @include flex-direction(column);
  min-height: 100vh;
}
.PublicBody-content {
  @include display-flex();
  @include flex-grow(1);
  margin: $sMargin-group 0 $sMargin-section 0;
}

// Animation function
@include keyframes(pulsate) {
  0% {right:100%;}
  50% {right:0%}
  100% {right:-100%}
}
