<div class="Header CDB-Text" id="header">
  <div class="u-inner Header-inner">
    <div class="Header-navigation">
      <ul class="Header-navigationList">

        <!--  CARTO logo -->
        <li class="js-logo"></li>

        <% if (!isHosted) { %>
          <li class="Header-navigationItem js-user-tour u-hideOnTablet">
            <a href="https://carto.com/builder/" class="Header-navigationLink">Builder</a>
          </li>

          <li class="Header-navigationItem js-user-tour u-hideOnTablet">
            <a href="https://carto.com/engine/" class="Header-navigationLink">Engine</a>
          </li>

          <li class="Header-navigationItem js-user-industries u-hideOnTablet">
            <a href="#/industries" class="Header-navigationLink js-dropdown-target">Solutions <i class="Header-darrow CDB-IconFont CDB-IconFont-caretDown"></i></a>
          </li>

          <li class="Header-navigationItem u-hideOnTablet">
            <a href="https://carto.com/pricing/" class="Header-navigationLink">Pricing</a>
          </li>

          <li class="Header-navigationItem u-hideOnTablet">
            <a href="https://carto.com/blog/" class="Header-navigationLink">Blog</a>
          </li>
        <% } %>
      </ul>
    </div>

    <div class="Header-settings">
      <ul class="Header-settingsList js-user-settings">
        <li class="Header-settingsItem js-login">
          <a href="<%- loginUrl %>" class="Header-settingsLink Header-settingsLink Header-settingsLink--public">Login</a>
        </li>

          <% if (!isHosted) { %>
          <li class="Header-settingsItem">
            <a href="https://carto.com/signup" class="PublicButton PublicButton--sMedium PublicButton--cWhite is-hover PublicButton--public">
              <span>Sign up</span>
            </a>
          </li>
          <% } %>
      </ul>
    </div>
  </div>
</div>
