<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#ffffff">
      <div align="center" style="padding: 0px 15px 0px 15px; <%=
          invitation.present? \
            ? (
              "background-image: url('" +
                 (Cartodb.get_config(:mailer, 'template', 'header_confetti_url')  || 'http://carto-email-assets.s3.amazonaws.com/confetti.png') +
              "'); background-position: center top; background-repeat: no-repeat;"
            ) \
            : ""
      %>">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 620px; width: 100% !important;">
          <tr>
            <td style="padding: 20px 0px 65px 0px;" class="logo">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td bgcolor="#ffffff" width="40" align="left"><img alt="Logo" src="<%= Cartodb.get_config(:mailer, 'template', 'header_logo_url') || 'http://carto-email-assets.s3.amazonaws.com/carto-logo.png' %>" width="82" style="display: block;" border="0"></td>
                  <td bgcolor="#ffffff" width="560" align="right">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
