<tr>
  <td align="left" style="font-size: 16px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083; padding-top: 80px;">
    <p>
      <a href="<%= link %>" target="_blank" style="color: #1785FB"><%= link_text %></a>
    </p>
  </td>
</tr>
