<tr>
  <td align="left" style="padding-bottom: 32px;">
    <p style="margin: 0; padding: 0; font-weight: bold; text-transform: uppercase; font-size: 22px; font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #2E3C43;"><%= subject %></p>
  </td>
</tr>
