<tr>
  <td>
    <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse: separate !important; margin-bottom: 8px;">
      <tr>
        <td style="line-height: 0px; font-size: 0; height: 16px;"><img src="http://carto-email-assets.s3.amazonaws.com/top-left-grey-corner.png"></td>
        <td style="line-height: 0px; font-size: 0; height: 16px; background-color: #F9F9F9;"></td>
        <td style="line-height: 0px; font-size: 0; height: 16px;"><img src="http://carto-email-assets.s3.amazonaws.com/top-right-grey-corner.png"></td>
      </tr>

      <tr>
        <td width="16px" style="background-color: #F9F9F9;"></td>
        <td style="background-color: #F9F9F9; font-size: 16px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
          <%= message.html_safe %>
        </td>
        <td width="16px" style="background-color: #F9F9F9;"></td>
      </tr>

      <tr>
        <td style="line-height: 0px; font-size: 0; height: 16px;"><img src="http://carto-email-assets.s3.amazonaws.com/bottom-left-grey-corner.png"></td>
        <td style="line-height: 0px; font-size: 0; height: 16px; background-color: #F9F9F9;"></td>
        <td style="line-height: 0px; font-size: 0; height: 16px;"><img src="http://carto-email-assets.s3.amazonaws.com/bottom-right-grey-corner.png"></td>
      </tr>
    </table>
  </td>
</tr>
