<tr>
  <td align="left">
    <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse: separate !important;">
      <tr>
        <td style="line-height: 0px; font-size: 0; height: 20px;"><img src="http://carto-email-assets.s3.amazonaws.com/top-left-orange-corner.png"></td>
        <td style="line-height: 0px; font-size: 0; height: 20px; background-color: #FB7B23;"></td>
        <td style="line-height: 0px; font-size: 0; height: 20px;"><img src="http://carto-email-assets.s3.amazonaws.com/top-right-orange-corner.png"></td>
      </tr>

      <tr>
        <td width="20px" style="background-color: #FB7B23;"></td>
        <td style="background-color: #FB7B23; font-size: 16px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #FFFFFF;">
          <img alt="Like" src="http://carto-email-assets.s3.amazonaws.com/exclamation.png" width="44" height="44" style="display: block; padding-bottom: 36px;" border="0">
          <%= message.html_safe %>
        </td>
        <td width="20px" style="background-color: #FB7B23;"></td>
      </tr>

      <tr>
        <td style="line-height: 0px; font-size: 0; height: 20px;"><img src="http://carto-email-assets.s3.amazonaws.com/bottom-left-orange-corner.png"></td>
        <td style="line-height: 0px; font-size: 0; height: 20px; background-color: #FB7B23;"></td>
        <td style="line-height: 0px; font-size: 0; height: 20px;"><img src="http://carto-email-assets.s3.amazonaws.com/bottom-right-orange-corner.png"></td>
      </tr>
    </table>
  </td>
</tr>
