<div class="Dialog-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--main">
    <i class="iconFont iconFont-Add"></i>
    <span class="Dialog-headerIconBadge"></span>
  </div>
  <p class="Dialog-headerTitle">Connect dataset</p>
  <p class="Dialog-headerText">Connect datasets from external services or upload your data files.</p>
</div>
<div class="Dialog-body ConnectDialog-body">
  <div class="Filters Dialog-bodyFilters ConnectDialog-filters">
    <div class="u-inner">
      <div class="Filters-inner">
        <span class="Filters-separator"></span>
        <div class="Filters-row">
          <div class="Filters-type">
            <ul class="Filters-list ConnectDialog-filtersList">
              <li class="Filters-typeItem"><a class="Filters-typeLink" href="#/data-library">Data library</a></li>
              <li class="Filters-typeItem"><a class="Filters-typeLink is-selected" href="#/connect-dataset">Connect Dataset</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Dialog-optionsContent"></div>
</div>
<div class="Dialog-footer ConnectDialog-footer">
  <div class="u-inner">
    <p class="ConnectDialog-footerInfo">
      <i class="iconFont iconFont-Info ConnectDialog-footerInfoIcon"></i>
      New on CartoDB? Start with one of our <a href="#/data-library">templates</a>.
    </p>
    <button class="ConnectDialog-footerButton Button Button--positive is-disabled">Connect dataset</button>
  </div>
</div>