<div class="Dialog-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--main">
    <i class="iconFont iconFont-Step"></i>
    <span class="Dialog-headerIconBadge"></span>
  </div>
  <p class="Dialog-headerTitle">Connect dataset</p>
  <p class="Dialog-headerText">Connect datasets from external services or upload your data files.</p>
</div>
<div class="Dialog-body ConnectDialog-body">
  <div class="ConnectDialog-options">
    <ul class="ConnectDialog-optionsList">
      <li class="ConnectDialog-optionsItem"><a class="ConnectDialog-optionsLink" href="#/data-library">Data Library</a></li>
      <li class="ConnectDialog-optionsItem"><a class="ConnectDialog-optionsLink" href="#/connect-dataset">Connect Dataset</a></li>
    </ul>
    <div class="ConnectDialog-optionsContent"></div>
  </div>
</div>
<div class="Dialog-footer ConnectDialog-footer">
  <div class="u-inner">
    <p class="ConnectDialog-footerInfo">
      <i class="iconFont iconFont-Info ConnectDialog-footerInfoIcon"></i>
      New on CartoDB? Start with one of our <a href="#/data-library">templates</a>.
    </p>
    <button class="ConnectDialog-footerButton Button Button--positive is-disabled">Connect dataset</button>
  </div>
</div>