<div class="Dialog-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--main">
    <i class="iconFont iconFont-Add"></i>
    <span class="Dialog-headerIconBadge"></span>
  </div>
  <p class="Dialog-headerTitle">Connect dataset</p>
  <p class="Dialog-headerText">Connect datasets from external services or upload your data files.</p>
</div>
<div class="Dialog-body CreateDialog-body">

  <div class="CreateDialog-templates">
    <div class="CreateDialog-templatesNew">
      <label class="CreateDialog-templatesLabel">START FROM SCRATCH</label>
      <button class="CreateDialog-templatesItem">
        <i class="iconFont"></i>
        <h5>New Map</h5>
        <p>Create your fist map with CartoDB from scratch</p>
      </button>
    </div>
    <div class="CreateDialog-templatesList">
      <label class="CreateDialog-templatesLabel">START WITH A TEMPLATE</label>
      <ul>
        <li>
          <button class="CreateDialog-templatesItem">
            <i class="iconFont"></i>
            <h5>New Map</h5>
            <p>Create your fist map with CartoDB from scratch</p>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="CreateDialog-datasets">
    <div class="Filters CreateDialog-datasetsFilters"></div>
    <div class="CreateDialog-datasetsContent"></div>
  </div>

  <div class="CreateDialog-preview"></div>

</div>
<div class="Dialog-footer CreateDialog-footer">
  <div class="u-inner">
    <p class="ConnectDialog-footerInfo">
      <i class="iconFont iconFont-Info ConnectDialog-footerInfoIcon"></i>
      New on CartoDB? Start with one of our <a href="#/data-library">templates</a>.
    </p>
    <button class="ConnectDialog-footerButton Button Button--positive is-disabled">Connect dataset</button>
  </div>
</div>