<div class="cartodb-tooltip-content-wrapper dark">
  <div class="cartodb-tooltip-content">
  {{#fields}}
    {{#title}}
    <h4>{{title}}</h4>
    {{/title}}
    <p>{{{ value }}}</p>
  {{/fields}}
  </div>
</div>