<i class="UserNotifications-Icon iconFont iconFont-Alert"></i>
<% if (notificationsCount > 0) { %>
<span class="Badge Badge--negative UserNotifications-badge"><%= notificationsCount %></span>
<% } %>
