// Buttons
// --------------------------------------------------

@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

.Button {
  @include display-flex();
  @include align-items(center, center);
  border-radius: $sButton-borderRadius;
  padding: 0 29px;
  text-decoration:none;
  text-align: center;
  height: $sButton-height;
  outline: none;
}
.Button--inline {
  display: inline-block;
  margin: 0 $sMargin-elementInline;
}
.Button,
.Button span {
  font-size: $sFontSize-smallUpperCase;
  line-height: $sLineHeight-button;
  font-weight: $sFontWeight-bold;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
}
.Button-inner { line-height: $sButton-height }
.Button {
  border: $sButton-border solid $cStructure-mainBkg;
}
.Button:hover,
.Button span:hover { text-decoration:none }
.Button.is-disabled {
  @include opacity(0.5);
  &:hover { cursor: default }
}
.Button--main {
  background-color: $cHighlight-main;
  border-color: $cHighlight-main;
  &:hover { background-color: rgba(#007FBD, 1) }
}
.Button--positive {
  background-color: $cHighlight-positive;
  border-color: $cHighlight-positive;
  &:hover { background-color: rgba(#7FA538, 1) }
  &.is-disabled:hover {
    background-color: $cHighlight-positive;
    border-color: $cHighlight-positive;
  }
}
.Button--invert {
  background-color: none;
  color: $cTypography-link;
  border-color: $cTypography-link;
  span { color: $cTypography-link }
  &:hover {
    background-color: $cTypography-link;
    color: white;
    span { color: white }
  }
}
.Button--negative {
  background-color: $cHighlight-negative;
  border-color: $cHighlight-negative;
  &:hover { background-color: rgba(#B93F37, 1) }
}
.Button--alert {
  background-color: $cHighlight-alert2;
  border-color: $cHighlight-alert2;
  &:hover { background-color: rgba($cHighlight-alert2, 1) }
}
.Button--secondary {
  border: 1px solid $cNavButton-default;
  background-color: rgba(white, 1);
  span {
    color: $cNavButton-default;
  }
  &:hover {
    border-color: $cNavButton-active;
    span {
      color: $cNavButton-active;
    }
  }
}
.Button--secondaryTransparentBkg {
  background-color: transparent;
}
.Button.is-disabled {
  @include opacity(0.4);
}
.Button--light {
  border: $sButton-border solid white;
  color: #384047;
  background-color: rgba(white, 1);
  &:hover {
    background-color: rgba(#384047, 1);
    color:white;
  }
}
.Button--link {
  color: $cTypography-link;
  &:hover {
    color: $cTypography-linkSelected;
    text-decoration: underline;
  }
}
// Use this instead of .Button--positive on header background
.Button--headerPositive {
  border: $sButton-border+1 solid white;
  color: white;
  &:hover {
    background-color: white;
    span {
      color: $cTypography-linkHover;
    }
  }
}
.Button-importShowDetails {
  height: 24px;
  padding: 0 11px;
  line-height: 24px;
  background: transparent;
  border: 1px solid #CCC;
  border-radius: 40px;
  font-size: $sFontSize-smallUpperCase;
  color: $cTypography-paragraphs;

  &:hover {
    border-color: $cTypography-paragraphs;
    color: $cTypography-paragraphs;
  }
}
