@import '../variables/mixins';
@import '../variables/colors';
@import '../variables/sizes';
@import '../variables/onboarding';
@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

$sSmallDescriptionWidth: 200px;
$sRegularDescriptionWidth: 445px;
$sBigDescriptionWidth: 550px;
$sWidgetsPadWidth: 378px;
$cBackgroundColor: #2E3C43;

// TODO: put variables to /variables/onboarding
$sToolbarWidth: 72px;
$sEditorWidth: 344px;
$sWidgetsWidth: 376px;

// TODO: put mixin to a common place
@mixin setStepPad($step, $padHeights, $selector) {
  .#{$selector}.is-#{$step} {
    @each $position, $height in $padHeights {
      .#{$selector}-pad#{$position} {
        height: map-get($padHeights, #{$position});
      }
    }
  }
}

.LayerOnboarding {
  @include display-flex();
  height: 100%;
  pointer-events: auto;
}

.LayerOnboarding-footer {
  margin-top: $sMargin-section;
}

.LayerOnboarding-footerButtons {
  margin-bottom: $sMargin-element;
}

.LayerOnboarding-contentWrapper {
  @include flex(1);
  @include display-flex();
  @include align-items(center);
  height: 100%;
  background: rgba($cBackgroundColor, 0.88);
  pointer-events: all;
  z-index: 5;
}
.LayerOnboarding-contentWrapper--analysis {
  @include justify-content(center);
}
.LayerOnboarding-body {
  position: absolute;
  left: 100%;
  margin-top: 45px;
  margin-left: 70px;
}

.LayerOnboarding-body.is-step4 {
  right: 100%;
  left: auto;
  bottom: 36px;
}

.LayerOnboarding-contentBody {
  width: 0;
  margin: 0 80px;
}

.LayerOnboarding-contentBody--analysis {
  width: auto;
}

.LayerOnboarding-forget,
.LayerOnboarding-header,
.LayerOnboarding-footer,
.LayerOnboarding-step {
  display: none;
}

.LayerOnboarding-footer .LayerOnboarding-footerButtons,
.LayerOnboarding-contentWrapper .LayerOnboarding-header p,
.LayerOnboarding-contentWrapper .LayerOnboarding-step p {
  @include opacity(1);
  @include transition(opacity, 200ms, ease-in-out, 1s);
}

.LayerOnboarding-header,
.LayerOnboarding-footer {
  min-width: 300px;
}

.LayerOnboarding.is-step0 .LayerOnboarding-header,
.LayerOnboarding.is-step0 .LayerOnboarding-footer.is-step0,
.LayerOnboarding.is-step1 .LayerOnboarding-footer.is-step1,
.LayerOnboarding.is-step2 .LayerOnboarding-footer.is-step2,
.LayerOnboarding.is-step3 .LayerOnboarding-footer.is-step3,
.LayerOnboarding.is-step4 .LayerOnboarding-footer.is-step4,
.LayerOnboarding.is-step0 .LayerOnboarding-step.is-step0,
.LayerOnboarding.is-step1 .LayerOnboarding-step.is-step1,
.LayerOnboarding.is-step2 .LayerOnboarding-step.is-step2,
.LayerOnboarding.is-step3 .LayerOnboarding-step.is-step3,
.LayerOnboarding.is-step4 .LayerOnboarding-step.is-step4 {
  display: block;
}

.LayerOnboarding-list {
  list-style-type: disc;
  padding-left: 2em;
  padding-top: 12px;
}

.LayerOnboarding-headerText {
  width: $sBigDescriptionWidth;
}

.LayerOnboarding-description {
  @include transition(width, 100ms, ease-in-out);
  width: $sRegularDescriptionWidth;
  margin-bottom: $sMargin-elementInline;
  color: #FFF;
  font-size: $sFontSize-large;
  font-weight: $sFontWeight-normal;
  line-height: $sLineHeight-large;
}

.LayerOnboarding-description--analysis,
.LayerOnboarding-description--style {
  width: $sBigDescriptionWidth;
}

.LayerOnboarding-toolbarOverlay,
.LayerOnboarding-widgetsOverlay,
.LayerOnboarding-pads {
  @include transition(width, 300ms, ease-in-out);
  height: 100%;
  z-index: 10;
}
.LayerOnboarding-pads {
  width: $sEditorWidth;
}

.LayerOnboarding-toolbarOverlay {
  width: $sToolbarWidth;
}

.LayerOnboarding-widgetsOverlay {
  width: $sWidgetsWidth;
  display: block;
}
.LayerOnboarding-padTop,
.LayerOnboarding-padMiddle,
.LayerOnboarding-padBottom {
  @include transition(height, 300ms, ease-in-out);
  width: 100%;
  display: block;
}

.LayerOnboarding-toolbarOverlay,
.LayerOnboarding-widgetsOverlay,
.LayerOnboarding-padTop,
.LayerOnboarding-padBottom {
  @include opacity(0.88);
  background: $cBackgroundColor;
}

.LayerOnboarding-padMiddle {
  @include opacity(1);
  position: relative;
  background: transparent;
}

.LayerOnboarding-body.is-step3 {
  bottom: 36px;
}

$steps: (
  step0: (
    Top: 0,
    Middle: 100%,
    Bottom: 0
  ),
  step1: (
    Top: 0,
    Middle: (19 + 64 + 21) * 1px,
    Bottom: 100%
  ),
  step2: (
    Top: (64 + 21) * 1px,
    Middle: calc(100% - (64 + 21 + 66) * 1px),
    Bottom: 66px
  ),
  step3: (
    Top: calc(100% - 66px),
    Middle: 66px,
    Bottom: 0
  ),
  step4: (
    Top: 100%,
    Middle: 0,
    Bottom: 0
  )
);

@each $step, $heights in $steps {
  @include setStepPad($step, $heights, 'LayerOnboarding');
}

.LayerOnboarding-pads--right {
  width: 216px;

  &.is-step0,
  &.is-step1,
  &.is-step2,
  &.is-step3 {
    .LayerOnboarding-padTop {
      height: 100%;
    }
    .LayerOnboarding-padBottom {
      height: 0;
    }
  }

  &.is-step4 {
    .LayerOnboarding-padTop {
      height: calc(100% - 100px);
    }
    .LayerOnboarding-padBottom {
      height: 100px;
      background: transparent;
    }
  }
}

.LayerOnboarding-padBottom {
  position: relative;
}


.LayerOnboarding-forgetLabel {
  cursor: pointer;
}