@import "../variables/colors";
@import "../variables/sizes";

// Default title for datasets and maps
//
// --------------------------------------------------
.DefaultTitle {
  color: $cTypography-paragraphs;
  font-size: $sFontSize-larger;
  font-weight: $sFontWeight-normal;
  line-height: 20px;
}

.DefaultTitle.is-disabled {
  color: rgba($cTypography-paragraphs, 0.4);
}

.DefaultTitle a {
  color: #666;
}
