// Default tags for datasets and maps
// --------------------------------------------------

@import "../variables/colors";
@import "../variables/sizes";
@import "../variables/mixins";

.DefaultTags {
  color: $cTypography-secondary;
  position: relative;  
}
.DefaultTags-item {
  border: none;
  color: $cTypography-link;
  background: transparent;
}
.DefaultTags-item:focus {
  background: transparent;
}
.DefaultTags-item:hover {
  cursor: pointer;
  color: $cTypography-linkHover;
  text-decoration: none;
}
