@import "../variables/colors";
@import "../variables/sizes";

// Default title for datasets and maps
//
// --------------------------------------------------
.DefaultTitle {
  font-weight: $sFontWeight-normal;
  font-size: $sFontSize-larger;
  line-height: 20px;
  color: $Grey1;;
}
.DefaultTitle.is-disabled {
  color: rgba($cTypography-paragraphs, 0.4);
}
.DefaultTitle-link {
  font-weight: $sFontWeight-normal;
  font-size: $sFontSize-larger;
  color: $Grey1;
  &:hover {
    color: $White;
    text-decoration: underline;
  }
}
