// Time diff indicator (2 weeks ago by ...)
// --------------------------------------------------

@import "../variables/colors";
@import "../variables/mixins";
@import "../variables/sizes";

.DefaultTimeDiff {
  @include display-flex();
  @include align-items(center, center);
  font-size: $sFontSize-normal;  
  color:$Grey7;
}
.DefaultTimeDiff-icon {
  margin-right: 5px;
  font-size: $sFontSize-smallUpperCase;
  color: $Grey7;
}
.DefaultTimeDiff p { margin-left: 5px }
