/*
 * Dropdown styles, with a subtle blurry border, and a triangle "tick" popping out of the dropdown box to indicate where it is anchored.
 *
 * The tick is composed by two injected elements by :before and :after the .Dropdown's content.
 * :before injects a square box, rotated 45 degrees, which has a box-shadow attached to it.
 * :after injects a rectangle with same background as the dropdown content, which overlaps :before's content to.
 *
 *            /\         <-- tick_x:before, the visible half of the rotated square
 *   ________/..\_____
 *  |      :      :   |  <-- tick_x:after, the rectangle covering the other half of :before
 *  |      :......:   |
 *
 * The tick can be placed horizontally by .tick_left/center/right, or vertically by .tick_top/middle/bottom, in
 * combination with horizontal_left/right and vertical_top/bottom.
 */
@import "../variables/mixins";
@import "../variables/colors";

.Dropdown {
  position: absolute;
  display: none;
  background:$DarkGrey7;
  border: 1px solid $Grey2;
  /* x-offset, y-offset, blur, size, color */
  z-index: 100000000; // to be on top of avatar and attribution overlays on public dashboard

  &:before {
    content: ' ';
    position: absolute;
    display: block !important;
    width: 10px;
    height: 10px;
    background-color: #cfcfcf;
    @include transform(rotate(45deg));
  }
  &:after {
    content: ' ';
    position: absolute;
    display: block !important;
    background-color: $DarkGrey7;
  }

  // Tick for 12 possibilities
  &.tick_top, &.tick_middle, &.tick_bottom {
    &.horizontal_left {
      &:before {
        left: -5px;
      }
      &:after {
        left: 0;
      }
    }
    &.horizontal_right {
      &:before {
        right: -5px;
      }
      &:after {
        right: 0;
      }
    }
    &:after {
      width: 10px;
      height: 22px;
    }
  }

  &.tick_top:before {
    top: 12px;
  }
  &.tick_top:after {
    top: 6px;
  }
  &.tick_middle:before {
    top: 50%;
    margin-top: -3px;
  }
  &.tick_middle:after {
    top: 50%;
    margin-top: -9px;
  }
  &.tick_bottom:before {
    bottom: 12px;
  }
  &.tick_bottom:after {
    bottom: 6px;
  }

  &.tick_left, &.tick_center, &.tick_right {
    &.vertical_top {
      &:before {
        bottom: -5px;
      }
      &:after {
        bottom: 0;
      }
    }
    &.vertical_bottom {
      &:before {
        top: -5px;
      }
      &:after {
        top: 0;
      }
    }
    &:after {
      width: 22px;
      height: 10px;
    }
  }

  &.tick_left:before {
    left: 12px;
  }
  &.tick_left:after {
    left: 6px;
  }
  &.tick_center:before {
    left: 50%;
    margin-left: -3px;
  }
  &.tick_center:after {
    left: 50%;
    margin-left: -9px;
  }
  &.tick_right:before {
    right: 12px;
  }
  &.tick_right:after {
    right: 6px;
  }

  &.short {
    width: 164px !important;
  }

  &.tiny {
    width: 105px !important;
  }
}

.Dropdown > ul {
  position: relative;
  @include inline-block();
  margin: 20px;
  padding: 0;
  list-style: none;
  overflow: visible;
}

.Dropdown > ul > li {
  display:block;
  margin-top: 10px;
  padding-top: 10px;

  &:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.Dropdown > ul > li > p {
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}
