// Editable tags
// --------------------------------------------------

@import "../variables/colors";
@import "../variables/sizes";
@import "../variables/mixins";

$fieldBgColor: transparent;
$fieldBorderColor: #DFE8EC;

.EditableField {  
  .EditableField-button {
    color: $Teal2;
    padding: 0px;

    &:hover {
      color: $Teal1;
      text-decoration: none;
    }
  }
  .EditableField-input {
    color: $Black;
    outline: none;
    display: none;
    height: 100%;
    min-height: 19px;
    overflow: hidden;
    width: 100%;

  }
}

.EditableField.is-editing {
  width: 100%;

  .EditableField-button {
    display: none;
  }
  .EditableField-input {
    display: block;
    resize: none;
  }
}
