// Editable tags
// --------------------------------------------------

@import "../variables/colors";
@import "../variables/sizes";
@import "../variables/mixins";

$fieldBgColor: transparent;
$fieldBorderColor: #DFE8EC;

.EditableField {  

  .EditableField-button {
    margin-right: 0;

    &:hover {
      text-decoration: underline;
    }
  }
  .EditableField-input {
    background: none;
    border: none;
    outline: none;
    display: none;
    height: 100%;
    overflow: hidden;
    width: 100%;

    font-size: $sFontSize-normal;
    line-height: $sLineHeight-normal;
    color: $cTypography-secondary;

    background: -webkit-linear-gradient(bottom, $fieldBorderColor 0%, $fieldBgColor 8%) 0 0px;
    background: -moz-linear-gradient(bottom, $fieldBorderColor 0%, $fieldBgColor 8%) 0 0px;
    background: -ms-linear-gradient(bottom, $fieldBorderColor 0%, $fieldBgColor 8%) 0 0px;
    background: -o-linear-gradient(bottom, $fieldBorderColor 0%, $fieldBgColor 8%) 0 0px;
    background: linear-gradient(bottom, $fieldBorderColor 0%, $fieldBgColor 8%) 0 0px;
    background-size: 100% $sLineHeight-normal;
  }
}

.EditableField.is-editing {
  width: 100%;

  .EditableField-button {
    display: none;
  }
  .EditableField-input {
    display: block;
    resize: none;
  }
}
