@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

.Feed {
  @include flex(1);
  margin: 0 0 30px 0;
  text-align: center;
}
.Feed-content {
  position: relative;
  padding: 40px 0;
  text-align: left;
}

.FeedItem {
  position: relative;
  @include display-flex();
  @include justify-content(flex-start, start);
  @include align-items(flex-start);
  @include flex-wrap(wrap);
  margin: 0 0 20px 0;
}
.FeedItem:last-child { margin: 0 }

.FeedItem-avatar {
  position: absolute;
  @include flex(1);
  z-index: 10;

  &:after {
    content: '';
    width: 60px;
    height: 60px;
    z-index: 1000;
    position: absolute;
    top: 0;
    box-shadow: inset 0 0 1px rgba(0,0,0,.5);
    border-radius: 6px;
  }
}
.FeedItem .MapCard,
.FeedItem .DatasetCard {
  margin-right: 0;
  @include flex(0 0 540px);
}

.FeedItem.FeedItem--long .MapCard,
.FeedItem.FeedItem--long .DatasetCard {
  margin-right: 0;
  @include flex(0 0 860px);
}
