@import '../variables/mixins';
@import '../variables/colors';
@import '../variables/sizes';

// Confirmation flash message
// --------------------------------------------------

.FlashMessage {
  width: 100%;
  background: #FFF7DF;
}
.FlashMessage > .u-inner {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center);
  height: 80px;
}
.FlashMessage.FlashMessage--inDialogWithFiltersNavListing {
  position: fixed;
  top: 157px;
  border-bottom: 1px solid $cStructure-mainLine;
  z-index: 2; // to place any scrolled content under the flash message
  > .u-inner {
    @include justify-content(center, center);
  }
}
.FlashMessage--success {
  background: #E8F0D6;
}
.FlashMessage--error {
  background: #FFDBDB;
}
.FlashMessage--main {
  background: #F0F7FC;
}
.FlashMessage-info {
  color: $cTypography-headers;
  font-size: $sFontSize-large;
}
.FlashMessage-info.max-width {
  max-width: 720px;
}
.FlashMessage-content {
  @include display-flex();
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;
}
.FlashMessage--button {
  height: 28px;
  padding: 0 20px;
  border: $sButton-border solid $cStructure-mainBkg;
  border-radius: $sButton-borderRadius;
  border-color: $cHighlight-main;
  outline: none;
  background-color: $cHighlight-main;
  color: #FFF;
  font-size: $sFontSize-smallUpperCase;
  font-weight: $sFontWeight-normal;
  line-height: $sLineHeight-button;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  &:hover {
    background-color: $cHighlight-mainHover;
  }
}
