@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

// Confirmation flash message
// --------------------------------------------------

.FlashMessage {
  width: 100%;
  background: #FFF7DF;
}
.FlashMessage > .u-inner {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center);
  height: 80px;
}
.FlashMessage--success { background: #E8F0D6 }
.FlashMessage--error { background: #FFDBDB }
.FlashMessage--main { background: #F0F7FC }
.FlashMessage-info {
  color: $cTypography-headers;
  font-size: $sFontSize-large;
}