// Footer styles
// --------------------------------------------------

@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';

.Footer {
  display: block;
  position: relative;
  width: 100%;
  padding: $baseSize * 5 0;
  border-top: 1px solid $cSecondaryLine;
  background: $cThirdBackground;
}
.Footer--light {
  background: white;
}
.Footer.Footer--public {
  padding: 0;
  box-shadow: none;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.Footer-inner {
  margin-top: $sIcon-layout;
}
.Footer-inner.Footer-inner--public * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.Footer-inner .Footer-logo {
  position: absolute;
  top: $sMargin-element;
  left: 50%;
  margin-left: -$sIcon-layout / 2;
}
.Footer-inner--public .Footer-logo {
  position: static;
  top: auto;
  left: auto;
  margin: 0;
}

.Footer-columns {
  padding-bottom: 20px;
  border-top: 1px solid #EEE;
}
.Footer-columns--footer {
  padding-bottom: 60px;

  @media (max-width: $sMedia-tablet) {
    padding-bottom: 40px;
  }
}
.Footer-columns--noBorder {
  border-top: 0;
}
.Footer-column {
  padding-bottom: 40px;
}
.Footer-column--mobile {
  border-top: 1px solid #EEE;
}
.Footer-columnTitle {
  margin-bottom: 12px;
  color: #2E3C43;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.Footer-link {
  line-height: 28px;
  transition: color 0.2s ease;
  color: #3AA9E3;

  &:hover {
    color: #2E3C43;
    text-decoration: none;
  }
}
.Footer-logo,
.Footer-credits {
  display: inline-block;
  vertical-align: middle;
}
.Footer-credits {
  line-height: 18px;
  text-align: left;
  color: #979EA1;
}
.Footer-title {
  color: #2E3C43;
  font-weight: 600;
}
.Colophon {
  padding-top: 13px;
  text-align: right;

  @media (max-width: 750px) {
    padding-top: 0;
    text-align: left;
  }
}
.Colophon-item {
  display: inline-block;
}
.Newsletter {
  position: relative;

  .hs-form {
    margin-right: 0 !important;
    padding-left: 0;

    .input {
      margin-right: 0;
      margin-bottom: 0;
    }

    .hs-input {
      padding-right: 88px;
    }
  }
}
.hs-newsletter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  border: 0;
  font: 400 13px Lato, sans-serif;
  background: #3AA9E3;
  color: #FFF;
  border-radius: 0 4px 4px 0;
  transition: all .15s;
  cursor: pointer;
  outline: none;
  text-transform: none;

  &:hover {
    background: darken(#3AA9E3, 5%);
    color: #FFF;
  }
}
@media only screen and (max-width: $sMedia-mobile) {
  .Footer-inner .Footer-logo {
    position: absolute;
    left: 50%;
    margin-left: -$sIcon-layout / 2;
  }
  .Footer-inner--public .Footer-logo {
    position: static;
    top: auto;
    left: auto;
    margin: 0;
  }
  .Footer-logo.Logo.Logo--grey {
    top: 25px;
  }
  .Footer .Footer-inner {
    margin-top: 45px;
  }
}

@media (min-width: $sMedia-tablet) {
  .Footer-list {
    @include display-flex();
    @include align-items(center);
    width: 450px;
    padding: 0 $sMargin-element;
  }
  .Footer-inner {
    @include display-flex();
    @include justify-content(space-between, justify);
    @include align-items(center);
    margin: 0 auto;
  }
  .Footer-inner .Footer-logo {
    position: static;
    top: auto;
    left: auto;
    margin: 0;
  }
  .Footer-list--primary {
    @include justify-content(flex-start, start);
  }
  .Footer-list--secondary {
    @include justify-content(flex-end, end);
  }
  .Footer-listItem {
    padding: 0 $sMargin-elementInline;
  }
  .Footer-listItem:first-child { padding-left: 0 }
  .Footer-listItem:last-child { padding-right: 0 }
}

@media (min-width: $sMedia-desktop) {
  .Footer-list {
    padding: 0;
  }
  .Footer-inner .Footer-logo {
    position: relative;
    display: inline-block;
    top: auto;
    left: auto;
    margin-left: auto;
  }
}
