@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

// Styles for the new default forms
// --------------------------------------------------

$sLabel-width: 140px;

.Form--minHeight { min-height: 400px }
.Form-title {
  display: block;
  margin: $sMargin-section 0;
  width: 100%;
}
.Form-titleHeader {
  display: block;
  padding-bottom: 12px;
  margin-bottom: $sMargin-section;
  border-bottom: 1px solid $cStructure-mainLine;
  font-size: $sFontSize-normal;
  color: $cTypography-headers;
  font-weight: $sFontWeight-bold;
}
.Form-titleText {
  width: 460px;
  font-size: $sFontSize-large;
  font-weight: $sFontWeight-lighter;
  color: $cTypography-paragraphs;
  line-height: $sLineHeight-large;
  font-style: normal;
}
.Form-titleText--negative { color: $cHighlight-negative }
.Form-list {
  padding: 0 0 20px 160px;
  color: $cTypography-paragraphs;
  list-style-type: disc;
}
.Form-listItem {
  font-size: 14px;
  font-weight: $sFontWeight-lighter;
  color: $cTypography-paragraphs;
}
.Form-row {
  @include display-flex();
  @include justify-content(flex-start, start);
  padding: 10px 0;
}
.Form-title + .Form-row {
  padding-top: 0;
}
.Form-row.Form-row--centered {
  @include justify-content(center);
}
.Form-row.Form-row--step {
  position: relative;
  @include justify-content(space-between, justify);
  @include align-items(center);
  padding-top: 0;
  padding-bottom: $sMargin-group;
  &:before {
    content: '';
    border-radius: 50px;
    padding: 5px 10px;
    margin-right: $sMargin-elementInline;
    border: 1px solid $cStructure-mainLine;
    font-size: $sFontSize-smallUpperCase;
    font-weight: $sFontWeight-small;
    color: $cTypography-paragraphs;
    line-height: $sLineHeight-small;
  }
  &:first-child:before { content: '1' }
  &:nth-child(2):before { content: '2' }
  &:nth-child(3):before { content: '3' }
  &:nth-child(4):before { content: '4' }
  &:nth-child(5):before { content: '5' }
}
.Form-row.Form-row--step:first-child { padding-top: 0 }
.Form-row.Form-row--step.is-done {
  &:before {
    color: $cHighlight-stepDone;
    border-color: $cHighlight-stepDone;
  }
}
.Form-row.has-label {
  // compensate for label width, to make the rowData appear as centered
  margin-left: -$sLabel-width;
}
.Form-row.Form-row--spaced { padding: $sMargin-element 0 }
.Form-rowLabel {
  width: 140px;
  margin-right: $sMargin-element;
  text-align: right;
}
.Form-rowLabel.Form-rowLabel--leftAligned {
  width: $sLabel-width;
  margin-right: $sMargin-element;
  text-align: left;
}
.Form-label {
  line-height: 40px;
  font-size: $sFontSize-normal;
  font-weight: $sFontWeight-normal;
  color: $cTypography-paragraphs;
  text-transform: capitalize;
}
.Form-label.has-error {
  color: $cHighlight-negative;
}
.Form-label.Form-label--verticalAlignTop {
  line-height: inherit;
}
.Form-label--multipleLines { line-height: 20px }
.Form-label.Form-label--large { font-size: $sFontSize-large }
.Form-label.Form-label--step { @include flex-grow(1) }
.Form-rowPreview { width: 735px }
.Form-separator {
  position: relative;
  display: block;
  padding: 0 $sMargin-element;
  line-height: 50px;
  background: transparent;
  font-size: 14px;
  font-weight: $sFontWeight-lighter;
  color: $cTypography-secondary;
  z-index: 0;
}
.Form-rowData {
  position: relative;
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center);
  width: 380px;
  min-height: 40px; // if there's no input on row (e.g. only radio buttons), to avoid "jumpy" behaviour on re-renders
  margin-right: $sMargin-element;
}

.Form-rowData.Form-rowData--alignLeft { @include justify-content(flex-start, start) }
.Form-rowData--withLabel { margin-bottom: 30px }
.Form-rowData--noMargin { margin: 0 }

// RowData sizes
.Form-rowData--full { width: 100% }
.Form-rowData--longer { width: 460px }
.Form-rowData--long { width: 380px }
.Form-rowData--med { width: 300px }
.Form-rowData--short { width: 170px }
.Form-rowData--shorter {
  width: 130px;
}
.Form-rowData--step {
  width: 260px;
  margin-right: 0;
}
.Form-rowDataExtra {
  position: absolute;
  right: -52px;
}
.Form-rowData ~ .Form-rowDataExtra { top: 10px } // to compensate for its top-padding
.Form-rowData--step ~ .Form-rowDataExtra { top: 0 }

.Form-input {
  position: relative;
  height: 38px;
  padding: 0 12px;
  outline: none;
  background-color: $Amber1;
  border: 1px solid $Black;
  border-radius: 2px;
  color: $Black;
  z-index: 2;

  &:focus { border-color: #999 }
}

.Form-inputField {
  position: relative;
  height: 38px;
  padding: 0 12px;
  border: 1px solid #CCC;
  border-radius: 4px;
  outline: none;
  color: #666;
  z-index: 2;
}
.Form-inputField--withLabel {
  padding: 0 12px  0;
  background: #FFF;
  &:hover {
    border-color: #999;
  }
}

.Form-inputField--withLabel.has-error {
  color: $cHighlight-negative;
  border-color: rgba(#DD3B37,0.6);
}
.Form-inputField--withLabel.has-error .Form-inputLabel {
  color: rgba($cHighlight-negative, 0.6);
}
.Form-inputField--withLabel.has-error .Form-input {
  color: $cHighlight-negative;
}

.Form-inputField--withLabel.has-error.is-focused {
  border-color: rgba(#DD3B37,0.6);
}

.Form-inputField .Form-input {
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
}
.Form-inputField .Form-inputLabel {
  color: #CCC;
}

.Form-input.Form-input--error { border-color: rgba(#DD3B37,0.6) }
.Form-input.Form-input--error:focus,
.Form-input.Form-input--error:hover { border-color: rgba(#DD3B37,1) }

.Form-input::-webkit-input-placeholder { font-style: italic; color: rgb(110, 83, 49) }
.Form-input:-moz-placeholder           { font-style: italic; color: #AAA }
.Form-input::-moz-placeholder          { font-style: italic; color: #AAA }
.Form-input:-ms-input-placeholder      { font-style: italic; color: #AAA }
// Sizes
.Form-input--longer { width: 434px }
.Form-input--long { width: 354px }
.Form-input--med { width: 274px }
.Form-input--short { width: 114px }
.Form-input--shorter {
  width: 30px;
}
// Types
.Form-input.has-icon {
  padding: 0 42px 0 12px;

  &.Form-input--longer { width: 414px }
  &.Form-input--long { width: 324px }
  &.Form-input--med {}
  &.Form-input--short { width: 92px }

  &.Form-input--longerMorePadding {
    width: 356px;
    padding-right: 100px;
  }
}
.Form-input.has-submit {
  padding: 0 70px 0 12px;
  height: 50px;
  &.Form-input--longer { width: 387px }
  &.Form-input--long { width: 333px }
  &.Form-input--med { width: 227px }
  &.Form-input--short {}
}
.Form-inputSubmit {
  @include actionButton;
  position: absolute;
  top: 50%;
  right: 12px;
  height: 26px;
  margin-top: -14px;
  z-index: 2;
}
.Form-inputIcon {
  position: absolute;
  right: 14px;
  top: 12px;
  z-index: 3;
  font-size: $sFontSize-larger;
  color: $cTypography-help;
}
.Form-inputIcon--clock { top: 11px }
.Form-inputError {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 38px;
  padding: 0 12px;
  margin-top: -20px;
  z-index: 1;
  border: 1px solid #CCC;
  line-height: 38px;
  background: #FFF4F4;
  color: $cHighlight-negative;
  font-size: $sFontSize-normal;
  border-radius: 4px;
  @include transition(margin, 200ms, ease-in-out);
}
.Form-inputError.is-visible {
  margin-top: 15px;
}
.Form-input.is-disabled {
  background: $cStructure-grayBkg;
}
.Form-input.is-invalid {
  border-color: $cHighlight-negative;
}
.Form-inputField.is-focused {
  border-color: $cTypography-secondary;
}

// Modifiers
.Form-input--noBorder {
  border: none;
}
.Form-input--noBkg,
.Form-input--noBkg.is-disabled {
  background: transparent;
}

.Form-textarea {
  padding: 9px 12px;
  min-height: 110px;
  max-height: 110px;
}
.Form-textarea.is-disabled { color: $cTypography-help }
.Form-copyIcon {
  top: 10px;
  right: 12px;
  font-size: $sFontSize-largest;
}
.Form-copyIcon.hover { color: $cTypography-paragraphs }
.Form-text--preview {
  font-size: $sFontSize-normal;
  color: $cTypography-secondary;
  line-height: $sLineHeight-large;
}
.Form-avatar {

}
.Form-avatarPreview {
  position: relative;
  width: 100px;
  height: 100px;
  background: $cStructure-grayBkg;
  border: 1px solid $cTypography-help;
  border-radius: 4px;
  overflow: hidden;
}
.Form-avatarPreviewImage {
  position: relative;
  max-width: 100px;
  border-radius: 4px;
  background: $cStructure-grayBkg;
}
.Form-avatarPreviewLoader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: rgba(black, 0.4);
  border-radius: 4px;
  z-index: 2;
}
.Spinner.Form-avatarPreviewSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  z-index: 1;
}
.Form-avatar .input-group {
  position: absolute;
  top: 10px;
  left: 120px;
}
.Form-avatar .form-control {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  border: none;
  color: $cTypography-secondary;
  display: none;
}
.Form-avatar .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  color: $cTypography-link;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: $cTypography-linkHover;
  }
}
.Form-avatar .btn[disabled] {
  color: $cTypography-help;
  &:hover {
    cursor: default;
    text-decoration: none;
    color: $cTypography-help;
  }
}
.Form-link {
  color: $cTypography-link;
  text-decoration: none;
  &:hover {
    color: $cTypography-linkHover;
    cursor: pointer;
  }
}
.Form-link.is-disabled {
  color: $cTypography-help;
  text-decoration: none;
  &:hover {
    color: $cTypography-help;
    cursor: default;
  }
}
.Form-upload {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center);
  width: 213px;
  height: 50px;
  padding: 0 10px 0 74px;
  @include background(image-url('layout/export-files.png') no-repeat 10px 10px $Amber1);
  border: 1px solid  $Black;
  border-radius: 2px;
}
.Form-upload.is-dropping {
  border-color: rgba(black, 0.4);
  .Form-fileButton { display: none; }
  .Form-fileLabel { color: rgba(black, 0.4); }
}
.Form-file {
  &:hover .Button--main { background: $Teal3 }
  &:hover .Button--negative { background-color: rgba(#B93F37, 1) }
}
.Form-file input[type="file"] {
  position: absolute;
  top: 0;
  right: -164px;
  margin: 0;
  border: solid transparent;
  border-width: 1px 0 24px 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(26px, 0) scale(1);
  direction: ltr;
  cursor: pointer;
}
.Form-fileLabel {
  width: 130px;
  line-height: 17px;
  color: $Black;
  font-size: $sFontSize-smallUpperCase;
}
.Form-fileLabel--error {
  display: none;
  color: $cHighlight-negative;
}
.Form-fileButton {
  height: 26px;
  font-size: $sFontSize-smallUpperCase;
  font-weight: $sFontWeight-normal;
}
.Form .dz-preview { display: none }
.Form-fileDropzone {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px dashed $cStructure-mainLine;
  background: $cStructure-grayBkg;
  border-radius: 4px;
  line-height: 38px;
  text-align: center;
  color: $cTypography-secondary;
  font-size: $sFontSize-large;
  z-index: 1;
}
.Form-rowInfo {
  @include display-flex();
  line-height: 40px;
  max-width: 380px;
}
.Form-rowInfoText {
  font-size: $sFontSize-normal;
  color: $cTypography-help;
}
.Form-rowInfoText--centered { text-align: center }
.Form-rowInfoText--smaller { font-size: $sFontSize-smallUpperCase }
.Form-rowInfoText--block { width: 100% }
.Form-rowInfoText--multipleLines {
  line-height: 20px;
}
.Form-rowInfoText--error { color: #DD3B37 }
.Form-rowInfoText--error .Form-link {
  color: #DD3B37;
  text-decoration: none;
}
.Form-footer {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  margin: $sMargin-section 0;
  padding: $sMargin-formRow 0;
  border-top: 1px solid $cStructure-mainLine;
}
.Form-footerText {
  font-size: $sFontSize-large;
  font-weight: $sFontWeight-lighter;
  color: $cTypography-secondary;
}
.Form-footerIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 1px solid #F2C000;
  border-radius: 20px;
  background: #F6D35C;
  line-height: $sLineHeight-normal!important;
  font-size: $sFontSize-normal;
  color: white;
  text-align: center;
}
.Form-tags {
  position: relative;
  width: 100%;
  min-height: 38px;
  padding: 0;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: white;
  z-index: 2;
}
.Form-tagsList.tagit { padding: 0 5px 5px 5px }
.Form-tagsList.tagit .tagit-choice {
  padding: 0 30px 0 11px;
  margin: 5px 5px 0 0;
  line-height: 28px;
  background: #EFF8FF;
  color: #746E76;
  border-radius: 2px;
}
.Form-tagsList.tagit .tagit-choice .tagit-close {
  line-height: normal;
  right: 10px;
}
.Form-tagsList.tagit .tagit-choice .tagit-close .text-icon {
  display: inline-block;
  color: #C5CCD1;
  &:hover { color: #AAA }
}
.Form-tagsList.tagit li.tagit-new { padding: 7px 4px 2px 7px }
.Form-tagsList.tagit .ui-autocomplete-input::-webkit-input-placeholder {
  font-weight: $sFontWeight-normal;
  font-style: italic;
  color: #AAA
}
.Form-tagsList.tagit .ui-autocomplete-input::-moz-placeholder {
  font-weight: $sFontWeight-normal;
  font-style: italic;
  color: #AAA
}
.Form-tagsList.tagit .ui-autocomplete-input:-ms-placeholder {
  font-weight: $sFontWeight-normal;
  font-style: italic;
  color: #AAA
}
.Form-tags.is-focus { border-color: #999 }
.Form-tags.is-disabled {
  background: $cStructure-grayBkg;

  .tagit-choice { padding: 0 11px }
  .tagit-choice .tagit-close { display: none }
}

