// Layout Header
// --------------------------------------------------

@import '../variables/mixins';
@import '../variables/colors';
@import '../variables/sizes';

@import 'cdb-variables/colors';
@import 'cdb-variables/sizes';


$cHeader-light: rgba(#61AEEC, 1);
$cHeader-dark:  rgba(#3A91D7, 1);

.Header {
  display: flex;
  width: 100%;
  height: 80px;
  background: $cBlue;
}
.Header-inner {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center);
  position: relative;
}
.Header-navigationList {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center);
}
.Header-navigationBreadcrumb {
  @include display-flex();
  @include align-items(center);
  margin-left: $sMargin-element;
}
.Header-navigationBreadcrumbItem {
  padding-left:6px;
  color: rgba($cWhite, 0.6);
}
.Header-navigationBreadcrumbParagraph {
  text-overflow: ellipsis;
  max-width: 150px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
}
.Header-navigationItem {
  margin-left: $sMargin-section;
}
.Header-navigationLink {
  font-weight: $sFontWeight-normal;
  font-size: $sFontSize-normal;
  line-height: $sLineHeight-largest;
  color: #fff;
  transition: all .15s;

  &:hover {
    text-decoration: none;
    color: rgba(#FFF, 0.6);
  }
}
.Header-navigationBreadcrumbItem:first-child { padding-left: 0 }
.Header-navigationBreadcrumbLink {
  color: $cWhite;

  &:hover {
    color: white;
    text-decoration: underline;
    &:after { border-top-color: white }
  }
  &.is-disabled {
    color: rgba(white, 0.6);

    &:hover {
      color: rgba(white, 0.6);
      text-decoration: none;
      cursor: default;
    }
  }
}
.Header-settingsList {
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  height: 100%;
}
.Header-settingsItem {
  position: relative;
  margin-left: $sMargin-section;
  font-weight: $sFontWeight-normal;
  font-size: $sFontSize-smallUpperCase;
  line-height: $sLineHeight-larger;
  text-transform: uppercase;
}
.Header-settingsLink--public {
  font-size: $sFontSize-normal;
  font-weight: $sFontWeight-normal;
  text-transform: none;
}
.Header-settingsItem--avatar {}
.Header-settingsLink {
  color: #fff;
  transition: all .2s;

  &:hover {
    color: rgba(#fff, .6);
    text-decoration: none;
  }
}
.Header-settingsLink.Header-settingsLink--dashboard {
  color: rgba(#fff, .6);
}
.Header-settingsLink.Header-settingsLink--dashboard:hover {
  color: #fff;
}
.Header-darrow {
  position: relative;
  top: -1px;
  font-size: 6px;
}

@media (min-width: $sMedia-mobile) {
  .Header-logoText { margin-left: $sMargin-elementInline }
}

@media only screen and (max-width: 360px) {
  $height: 64px;

  .Header .Header-inner {
    height: $height;
  }
  .Header {
    height: $height;
  }
  .Header-settingsItem--avatar {
    height: $height/2;
  }
  .Header .Header-settingsList .UserAvatar-img--medium {
    height: $height/2;
    width: $height/2;
  }
  .Header .Header-settingsList .Button {
    height: $height/2;
    padding: 0 20px;
  }
  .Header .Logo--avatar {
    width: $height/2;
    height: $height/2;
    line-height: 45px;
  }
  .Header .Logo--avatar i {
    font-size: 22px;
  }
}
