@import "compass/css3/inline-block";
@import "compass/css3/opacity";
@import "compass/css3/images";
@import "../old_common/mixins";

.ImagePicker .AssetPane {
  position: relative;
  width: 945px;
  margin: 67px auto 60px auto;
}
.ImagePicker .AssetsList {
  position:relative;
  display:block;
  height:auto;
  max-height: none;
  padding-left:5px;
  margin: 35px 0 70px 0;
  overflow: auto;
}
.ImagePicker .AssetItem {
  position:relative;
  @include inline-block();
  width:58px;
  height:58px;
  margin:0 20px 20px 0;
  border:1px solid #DDD;
  @include border-radius(3px);
  overflow: hidden;
  background: image-url("layout/loader_transparent.gif") no-repeat center;

  &:nth-child(12n) { margin-right:0 } 
}
.ImagePicker .AssetItem .image {
  position:absolute;
  @include inline-block();
  width:60px;
  height:60px;
  @include border-radius(3px);
  text-align: center;
  line-height: 60px;
  background-repeat: no-repeat;
  background-position: center;
}
.ImagePicker .AssetItem:hover .delete {
  display:block;
  @include opacity(1);
}
.ImagePicker .AssetItem.selected {
  border:1px solid #BBD7F2;
}
.ImagePicker .AssetItem.selected .image {
  background-color: #fff;
}
.ImagePicker .AssetItem.destroying .loader {
  display:block!important;
}
.ImagePicker .AssetItem .delete {
  @include size(14px, 10px);
  @include position(false, 0, 0, false);
  @include simple-transition(opacity, 100ms);
  padding: 0;
  background:#333;
  text-indent:0;
  @include border-top-left-radius(2px);
  @include border-bottom-right-radius(2px);
  background:rgba(black,0.5);
  z-index:2;
  @include opacity(0);
}
.ImagePicker .AssetItem .delete:before {
  position:absolute;
  content:' ';
  top:4px;
  left:4px;
  width:0;
  height:0;
  border-left:3px solid transparent;
  border-right:3px solid transparent;
  border-top:3px solid white;
}
.ImagePicker .AssetItem.destroying:hover a.delete { 
  display:none;
}
.ImagePicker .AssetItem.simpleicon a {
  background-size: auto 24px!important;
}
.ImagePicker .AssetItem.pin-maps a {
  background-size: auto 24px!important;
}
.ImagePicker .CreateDialog-footerShadow {
  height: 48px;
  top:-48px;
}
