// Likes indicator (12♥)
// --------------------------------------------------

@import '../variables/colors';
@import '../variables/mixins';
@import '../variables/sizes';

$cLiked: #D93F56;

.LikesIndicator {
  color: $Grey7;
}
.LikesIndicator-count {
  display: inline-block;
  margin: 0 0 0 5px;
  vertical-align: top;
}
.LikesIndicator-icon {
  @include transform(1);
  color: $Grey7;
  font-size: $sFontSize-small;
  width: $sFontSize-small;
  height: $sFontSize-small;
}
.LikesIndicator-icon.LikesIndicator-icon--big {
  font-size: $sFontSize-largest;
}
.LikesIndicator.is-likeable {
  cursor: pointer;
}
.LikesIndicator.is-likeable:hover {
  color: $cTypography-paragraphs;
  text-decoration: none;
  .LikesIndicator-icon {
    color: $cLiked;
    background-image: url('../images/sprites/common/star_32_selected.png');
  }
}
.LikesIndicator.is-liked {
  color: $cLiked;
  .LikesIndicator-icon {
    color: $cLiked;
    background-image: url('../images/sprites/common/star_32_selected.png');
  }
  &:hover {
    color: $cLiked;
  }
}
.LikesIndicator.is-animated {
  .LikesIndicator-icon {
    @include animation(pulse 400ms both ease-in);
  }
}
@include keyframes(pulse) {
  0% {
    @include transform(scale(1));
  }
  25% {
    @include transform(scale(1.3));
  }
  50% {
    @include transform(scale(0.8));
  }
  75% {
    @include transform(scale(1.3));
  }
  100% {
    @include transform(scale(1));
  }
}

