@import "compass/css3/images";
@import "../variables/colors";
@import "../variables/mixins";
@import "../variables/sizes";



.MapviewsGraph {
  position:absolute;
  height: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 22px 16px 0 16px;
  z-index: 2;
}
.MapviewsGraph-bar { fill: rgba(white, 0.5) }
// Hack for positioning tooltip in the center
.MapviewsGraph-tooltip { margin-left: 1px } 