@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

// Navmenu
// --------------------------------------------------

.Navmenu {
  position: relative;
  border-bottom: 1px solid $cStructure-mainLine;
  overflow: hidden;
}
.Navmenu-list {
  display: inline-block;
  margin-top: 5px;
  height: 76px;
}
.Navmenu-list:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%;
}
.Navmenu-list.Navmenu-list--owner {
  float: left;
  margin-top: 2px;
}
.Navmenu-list.Navmenu-list--avatar {
  margin-right: $sMargin-element;
}
.Navmenu-item {
  margin-right: $sMargin-section;
}
.Navmenu-subItem {
  margin-left: $sMargin-group;
}
.Navmenu-item:last-child {
  margin-right: 0;
}
.Navmenu-subItem:first-child {
  margin-left: 0;
}
.Navmenu-item,
.Navmenu-subItem {
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
}
.Navmenu-rarrow {
  margin-left: -20px;
  margin-right: 20px;
  width: 2px;
  height: 9px;
  font-size: 9px;
  color: $cNavmenu-arrow;
}
.Navmenu-sep {
  position: relative;
  top: 3px;
  display: inline-block;
  margin-left: -20px;
  margin-right: 20px;
  width: 1px;
  height: 20px;
  background-color: $cNavmenu-sep;
}
.Navmenu-link {
  color: $cTypography-linkSecondary;
  transition: all .2s;
}
.Navmenu-link:hover {
  color: $cTypography-linkSecondaryHover;
  text-decoration: none;
}
.Navmenu-link--owner {
  float: left;
  white-space: nowrap;
}
.Navmenu-link--action,
.Navmenu-item--action {
  color: #0090d7;

  &:hover {
    color: #007fbd;
  }
}
.Navmenu-icon {
  font-size: $sFontSize-largest;
  color: $cTypography-linkSecondaryHover;
  transition: all .2s;
}
.Navmenu-icon:hover {
  color: $cTypography-linkSecondary;
}
.Navmenu-icon.Navmenu-icon--twitter {
  position: relative;
  top: -2px;
  font-size: 22px;
}
.Navmenu-editLink {
  display: none;
  vertical-align: middle;
  width: auto;
  text-align: center;
  color: $cNavButton-default;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: $sFontWeight-normal;
  border: 1px solid $cNavButton-default;
  height: 36px;
  line-height: 36px;

  &.Navmenu-editLink--create,
  &.Navmenu-editLink--edit {
    border-color: #0090d7;
    color: #fff;
  }
}
.Navmenu-editLink--edit {
  margin-left: $sMargin-section;
}
.Navmenu-editLink.Navmenu-editLink--more {
  width: 100%;
  padding: 0 16px;
  border-radius: 28px;
  margin-top: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.Navmenu-editLink.Navmenu-editLink--more:hover {
  border-color: $cNavButton-active;
  color: $cNavButton-active;
}
.Navmenu-editLink:hover {
  text-decoration: none;
}
.Navmenu-editLink.is-active {
  display: inline-block;
}
.Navmenu-share {
  display: inline-block;
  vertical-align: middle;
}
.Navmenu-shareLink {
  display: none;
  margin-right: $sMargin-elementInline;
}
.Navmenu-shareList {
  display: inline-block;
  transition: all .2s;
}
.Navmenu-closeLink {
  position: relative;
  top: -2px;
}
.Navmenu-actionIcon {
  margin-right: 5px;
  font-size: 10px;
}
@media (max-width: $sMedia-desktop) {
  .Navmenu-shareLink {
    display: inline-block;
  }
  .Navmenu-shareList {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    margin-top: 76px;
    height: 76px;
    background: #fff;
  }
  .Navmenu-shareList.is-active {
    margin-top: 0;
    width: 200%;
  }
  .Navmenu-sep {
    top: 0;
  }
  .Navmenu-item.Navmenu-item.last-child {
    margin-right: 0;
  }
  .Navmenu-editLink {
    display: block;
  }
  .LikesIndicator-count {
    display: none;
  }
}
