@import "../variables/colors";
@import "../variables/sizes";

.NoResults {
  font-size: $sFontSize-normal;
  line-height: $sLineHeight-normal;
  color: $Grey7;
  font-style: italic;
  &:hover { 
	color: $Grey7;
	text-decoration: none; 
	}
}
