@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

.NotificationsDropdown {
  width: 258px;
  padding: 0!important;
  margin: 0!important;
}
.NotificationsDropdown-item {
  position: relative;
  padding: 0 0 15px 25px !important;
  margin: 15px !important;
}
.NotificationsDropdown-item:not(:last-child) {
  margin: 0 15px;
  border-bottom: 1px solid $cStructure-mainLine;
}
.NotificationsDropdown-item:last-child {
  padding: 0 0 0 25px !important;
}
.NotificationsDropdown-icon {
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  font-size: $sFontSize-small;

  line-height: 20px;
  color: #B1B8C1;
  text-align: center;
}
.NotificationsDropdown-title {
  font-size: $sFontSize-large;
  line-height: $sLineHeight-large;
  text-transform: capitalize;
  color: $cTypography-headers;
}
.NotificationsDropdown-text {
  margin-top: 0!important;
  color: $cTypography-secondary;
}
.Notifications-iconCount {
  top:21px;
  width: $sLineHeight-normal;
  height: $sLineHeight-normal;
  background: rgba(#CCC, 1);
  font-size: $sFontSize-normal;
  font-weight: $sFontWeight-bold;
  line-height: $sLineHeight-normal;
  color: white;
  text-align: center;
  border-radius: 20px;
  border: none;
}
.Notifications-iconCount.new--items {
  background: rgba(#C74B43, 1);
}
.NotificationsDropdown-header {
  @include display-flex();
  @include align-items(center, center);
  background: none;
}
.NotificationsDropdown-item.is-new {
  .NotificationsDropdown-text {
    color: #162945;
  }
  .NotificationsDropdown-icon {
    color: inherit;
  }
}

.NotificationsDropdown-item.is-new .NotificationsDropdown-itemIcon--alert {
  color: $cHighlight-alert;
  border-color: $cHighlight-alert;
}
.NotificationsDropdown-item.is-new .NotificationsDropdown-itemIcon--positive {
  color: $cHighlight-positive;
  border-color: $cHighlight-positive;
}
.NotificationsDropdown-item.is-new .NotificationsDropdown-itemIcon--negative {
  color: $cHighlight-negative;
  border-color: $cHighlight-negative;
}
.NotificationsDropdown-item.is-new .NotificationsDropdown-itemIcon--main {
  color: $cHighlight-main;
  border-color: $cHighlight-main;
}
