@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

.NotificationsList {
  width: 258px;
  padding: 0!important;
  margin: 0!important;
}
.NotificationsList-item {
  position: relative;
  margin: 0!important;
  padding: $sMargin-element $sMargin-element $sMargin-element 53px!important;
  background: $cStructure-grayBkg;
}
.NotificationsList-item:last-child {
  border-radius: 0 0 2px 2px;
}
.NotificationsList-icon {
  position: absolute;
  top: 22px;
  left: 20px;
  width: 18px;
  height: 18px;
  border: 1px solid $cTypography-help;
  border-radius: 20px;
  font-size: $sFontSize-small;
  line-height: $sLineHeight-small;
  color: $cTypography-help;
  text-align: center;
}
.NotificationsList-title {
  font-size: $sFontSize-large;
  line-height: $sLineHeight-large;
  text-transform: capitalize;
  color: $cTypography-headers;
}
.NotificationsList-text {
  margin-top: 0!important;
  color: $cTypography-secondary;
}
.Notifications-iconCount {
  top:21px;
  width: $sLineHeight-normal;
  height: $sLineHeight-normal;
  background: rgba(#CCC, 1);
  font-size: $sFontSize-normal;
  font-weight: $sFontWeight-bold;
  line-height: $sLineHeight-normal;
  color: white;
  text-align: center;
  border-radius: 20px;
  border: none;
}
.Notifications-iconCount.new--items {
  background: rgba(#C74B43, 1);
}
.NotificationsList-header {
  @include display-flex();
  @include align-items(center, center);
  background: none;
}
.NotificationsList-item.is--new {
  margin: 0 $sMargin-element $sMargin-element!important;
  padding: $sMargin-element 0 0 33px!important;
  border-top: 1px solid $cStructure-mainLine;
  background: white;

  .NotificationsList-text { color:$cTypography-headers }
  .NotificationsList-icon {
    color: inherit;
    left: 0
  }
}

// Custom icons for different messages
.NotificationsList-item .iconFont-trial_ends_soon,
.NotificationsList-item .iconFont-custom {
  line-height: 17px;
  &:before { content: "\E001" } 
}
.NotificationsList-item.is--new .iconFont-trial_ends_soon,
.NotificationsList-item.is--new .iconFont-custom {
  color: $cHighlight-alert;
  border-color: $cHighlight-alert;
}
.NotificationsList-item .iconFont-upgraded_message {
  line-height: 17px;
  &:before { content: "\E004" }
}
.NotificationsList-item.is--new .iconFont-upgraded_message {
  color: $cHighlight-positive;
  border-color: $cHighlight-positive;
}
.NotificationsList-item .iconFont-try_trial {
  line-height: 17px;
  &:before { content: "\E035" } 
}
.NotificationsList-item.is--new .iconFont-try_trial {
  color: $cHighlight-positive;
  border-color: $cHighlight-positive;
}
.NotificationsList-item .iconFont-close_limits {
  line-height: 17px;
  &:before { content: "\E02D" } 
}
.NotificationsList-item.is--new .iconFont-close_limits {
  color: $cHighlight-alert;
  border-color: $cHighlight-alert;
}
.NotificationsList-item .iconFont-limits_exceeded {
  line-height: 17px;
  &:before { content: "\E036" } 
}
.NotificationsList-item.is--new .iconFont-limits_exceeded {
  color: $cHighlight-negative;
  border-color: $cHighlight-negative;
}
.NotificationsList-item .iconFont-new_dashboard { 
  line-height: 17px;
  &:before { content: "\E016" } 
}
.NotificationsList-item.is--new .iconFont-new_dashboard {
  color: $cHighlight-main;
  border-color: $cHighlight-main;
}
.NotificationsList-item .iconFont-new_public_dashboard {
  line-height: 17px;
  &:before { content: "\E008" }
}
.NotificationsList-item.is--new .iconFont-new_public_dashboard {
  color: $cHighlight-positive;
  border-color: $cHighlight-positive;
}
