// Onboarding top notification
// --------------------------------------------------

.onboardingNotification {
  width: 100%;
  padding: 12px;
  text-align: center;
  color: #FFF;
  box-sizing: border-box;
}
.onboardingNotification-link {
  color: #FFF;
  text-decoration: underline;
  cursor: pointer;
}
.onboardingNotification-closeButton {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 12px;
}
