// Onboarding top notification
// --------------------------------------------------

.onboardingNotification {
  width: 100%;
  padding: 12px;
  text-align: center;
  color: #FFF;
}
.onboardingNotification-closeButton {
  width: 13px;
  height: 13px;

}
