@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

.MapsGallery {
  width: 960px;
  margin: auto;
  padding: 40px 0;
  overflow: hidden;
  clear: both;
  border-top: 1px solid #ddd;
}

.PecanMap-MapsList.MapsList {
  display: block;
  width: 5000px;
  height: 245px;
  overflow: hidden;
  clear: both;
  padding: 0;
  margin: 0;
  @include transition(margin, 150ms);
}

.PecanMap-navigation {
  position:absolute;
  width: 960px;
  z-index: 100000;
}
.PecanMap-navigationButton {
  position: absolute;
  top: 90px;
  padding: 0;
  line-height: 40px!important;
  @include transition(opacity, 150ms);
}
.PecanMap-navigationButton--prev { left: -80px }
.PecanMap-navigationButton--next { right: -80px }
.PencaMap-navigationButton.is-disabled:hover {
   border-color: #ccc;
   color: #ccc;
}

.GalleryList-item.MapsList-item {
  @include inline-block();
  margin: 0 30px 0 0;

  &:last-child {
    margin: 0;
  }
}

.NullCount {
  float: right;
  font-size: 11px;
  font-style: italic;
  color: #999999;
  line-height:120%;
}
