@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

.MapsGallery {
  overflow: auto;
  clear:both;
  width: 960px;
  margin: auto;
  padding: 40px 0;
  border-top: 1px solid #ddd;
}

.PecanMap-MapsList.MapsList {
  width: 5000px;
  height: 235px;
  display: block;
  padding: 0;
  @include transition(margin,150ms);
}

.GalleryList-item.MapsList-item {
  @include inline-block();
  margin: 0 30px 0 0;

  &:last-child {
    margin: 0;
  }
}

.MapsGallery .ImportOptions-navigation {
  position:absolute;
  width: 960px;
  z-index: 100000;
}

.MapsGallery .ImportOptions-navigation .ImportOptions-navigationButton {
  top: 90px;
}
