@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";


$cPrivacy-private:  rgba(#FF6C6C, 1);
$cPrivacy-public:   rgba(#8EB83F, 1);
$cPrivacy-other:    rgba(#F5A623, 1);

/*
.PrivacyIndicator {
  display: inline-block;
  position: relative;
  color: $cTypography-secondary;
}
.PrivacyIndicator:hover {
  text-decoration: none;
  color: $cTypography-secondary;
}
.PrivacyIndicator:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: $cTypography-help;
  border-radius: 100%;
  margin: 2px 5px 0 0;
}
.PrivacyIndicator.is-public:before {
  background-color: $cPrivacy-public;
}
.PrivacyIndicator.is-private:before {
  background-color: $cPrivacy-private;
}
.PrivacyIndicator.is-link:before,
.PrivacyIndicator.is-password:before {
  background-color: $cPrivacy-other;
}*/
