@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

.PublicUserProfile {
  @include display-flex();
  @include justify-content(flex-start, start);
  @include align-items(flex-start);
  @include flex-wrap(wrap);
  position: relative;
  width: $sLayout-width;
  margin: 15px auto 60px auto;
  font-family: "Proxima Nova";
}
.PublicUserProfile-profile {
  @include flex(0 0 320px);
  margin: 45px 0 0 0;
}
.PublicUserProfile-name {
  margin: 0 0 35px 0;
  font-size: $sFontSize-mega;
  font-weight: $sFontWeight-normal;
  color: $cTypography-linkSecondaryHover;
}
.PublicUserProfile-description {
  margin: 0 0 30px 0;
  width: 290px;
  font-size: 20px;
  line-height: 32px;
  color: $cTypography-linkSecondaryHover;
  font-weight: $sFontWeight-lighter;
}

.PublicUserProfile-details {
  margin: 0 0 15px 0;
}
.PublicUserProfile-detail {
  margin: 0 0 15px 0;
  line-height: normal;
  color: $cTypography-linkSecondary;
  font-size: $sFontSize-large;
}
.PublicUserProfile-detail .iconFont {
  color: #CBCED0;
  font-size: 17px;
}
