@import "../variables/colors";
@import "../variables/sizes";
@import "../variables/mixins";

.RowsIndicator { color: $cTypography-secondary }
.RowsIndicator-icon {
  margin-right: 4px;
  font-size: $sFontSize-smaller;
  line-height: $sLineHeight-smaller;
  color: $cTypography-help;
}
