@import "../variables/colors";
@import "../variables/sizes";
@import "../variables/mixins";

.SizeIndicator { color: $cTypography-secondary }
.SizeIndicator-icon {
  margin-right: 4px;
  font-size: $sFontSize-small;
  color: $cTypography-help;
}
