@import "../variables/colors";
@import "../variables/sizes";
@import "../variables/mixins";

.SizeIndicator {
  color: $cTypography-secondary;
  @include nicer-lato-typography();
}
.SizeIndicator-icon {
  margin-right: 4px;
  font-size: $sFontSize-small;
  @include nicer-lato-typography();
  color: $cTypography-help;
}
