// Dashboard banner styles
// --------------------------------------------------

@import "../variables/mixins";
@import "../variables/sizes";
@import "../variables/colors";

.SupportBanner {
  display:block;
  width:100%;
  padding: $sMargin-element 0 $sMargin-section;
}
.SupportBanner-label {
  display: block;
  line-height: 35px;
  font-size: 13px;
  font-weight: $sFontWeight-bold;
  color: $cTypography-headers; 
}
.SupportBanner-inner {
  position:relative;
  @include display-flex();
  @include justify-content(space-between, justify);
  @include align-items(center, center);
  padding-top: $sMargin-element;
  border-top: 1px solid #E6E6E6;
}
.SupportBanner-icon {
  $c: #BEC5C9;
  width: 58px;
  height: 58px;
  line-height: 60px;
  border: 1px solid $c;
  border-radius: 4px;
  color: $c;
  font-size: 36px;
  text-align: center;
}
.SupportBanner-info { width: 640px }
.SupportBanner-infoTitle {
  font-size: 20px;
  font-weight: $sFontWeight-bold;
  color: $cTypography-paragraphs;
}
.SupportBanner-infoDescription {
  margin-top: 5px;
  font-weight: $sFontWeight-normal;
  font-size: $sFontSize-large;
  color: $cTypography-secondary;
}
.SupportBanner-infoDescriptionLink {
  text-decoration: none;
  color: $cTypography-secondary;
  &:hover { color: $cTypography-paragraphs }
}
