// Different types of user avatars
// Example usage:
//  <div class="UserAvatar">
//    <img class="UserAvatar--medium" ... />
//  </div>
// --------------------------------------------------

@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

.UserAvatar {
  @include display-flex();
  @include align-items(center);
}
.UserAvatar.is-error:before {
  content: 'x';
  position: absolute;
  top: -8px;
  right: -8px;
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
  width: 16px;
  height: 16px;
  border-radius: 30px;
  background-color: $cHighlight-negative;
  color: white;
  font-size: $sFontSize-smallUpperCase;
  @include nicer-lato-typography();
  text-align: center;
}
.UserAvatar-img {
  border-left: 0;
  border-right: 0;
}
.UserAvatar-img--no-src {
  background-image: image-url("avatars/avatar_ghost_red.png");
}
.UserAvatar-img.is-error {
  border-color: $cHighlight-negative;
  border-radius: $sAvatar-borderRadius;
}
.UserAvatar-img--large {
  width: $sAvatar-public;
  height: $sAvatar-public;
  background-size: $sAvatar-public;
  border-radius: $sAvatar-borderRadius;
}
.UserAvatar-img--medium {
  width: $sAvatar-default;
  height: $sAvatar-default;
  background-size: $sAvatar-default;
  border-radius: $sAvatar-borderRadius;
}
.UserAvatar-img--small {
  width: $sAvatar-small;
  height: $sAvatar-small;
  background-size: $sAvatar-small;
  border-radius: $sAvatar-borderRadiusSmall;
}
.UserAvatar-img--smaller {
  width: $sAvatar-meta;
  height: $sAvatar-meta;
  background-size: $sAvatar-meta;
  border-radius: $sAvatar-borderRadiusSmall;
}

// to just show [...], used in delete items for example
// Example usage: <div class="UserAvatar"><span class="UserAvatar--moreItems../div>
.UserAvatar-moreItems {
  @include display-flex();
  @include justify-content(center);
  @include align-items(baseline);
  font-size: 26px;
  line-height: 26px;
  color: $cIcons-default;
  font-weight: $sFontWeight-normal;
  box-shadow: 0 0 0 1px $cIcons-default inset; // use box-shadow to get border inside of the box
  border-radius: $sAvatar-borderRadius;
}
.UserAvatar-moreItems:before {
  content: '...'
}
