// User notifications
// --------------------------------------------------

@import "../variables/mixins";
@import "../variables/colors";
@import "../variables/sizes";

$idleColor: #99CAEF;
$selectedColor: white;

.UserNotifications {
  position:relative;
  @include display-flex();
  text-decoration: none!important;
  color: $idleColor;
}
.UserNotifications:hover {
  color: $selectedColor;
}
.UserNotifications-icon {
  color: $idleColor;
  &:hover { color: $selectedColor }
}
.UserNotifications-badge {
  @include opacity(0);
  @include transition(all, .5s, ease-in-out);
  @include transform(scale(0));
  color: $cHighlight-negative;
}
// States
.UserNotifications.has--alerts {
  color: $selectedColor;
  .UserNotifications-badge {
    @include transition(all, .1s, ease-in-out);
    @include transform(scale(1));
    @include opacity(1);
    color: $selectedColor;
  }
}
.UserNotifications.has--alerts:hover {
  .UserNotifications-badge {
    @include transition(all, .1s, ease-in-out);
    @include transform(scale(1.1))
  }
}
