@import '../variables/sizes';

.UserRoleIndicator {
  display: inline-block;
  height: 18px;
  padding: 0 8px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background: #FFF;
  color: #2E3C43;
  font-size: $sFontSize-smaller;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  &.Viewer {
    color: #979EA1;
  }
}

.SettingsDropdown .UserRoleIndicator {
  margin-right: 10px;
}
