@import '../variables/sizes';
@import 'cdb-variables/colors';


.UserRoleIndicator {
  display: inline-block;
  height: 18px;
  padding: 0 8px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  background: $cWhite;
}

.SettingsDropdown .UserRoleIndicator {
  margin-right: 10px;
}
