@import '../variables/mixins';
@import '../variables/colors';
@import '../variables/sizes';

// Center the content within the defined layout width
.u-inner {
  margin: 0 auto;
  padding: 0 $sMargin-elementInline;
}
.u-capitalize {
  text-transform: capitalize;
}
.u-breakLongWords {
  word-break: break-word;
}
.u-ellipsLongText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block; // required for text-overflow to work with some elements that are inline by default (e.g. <a> tags)
}
.u-showOnMobile,
.u-showOnTablet {
  display: none !important;
}
.u-disabled {
  @include opacity(0.4);
  @include grayscale();
}
.u-iblock {
  display: inline-block;
}
.u-txt-center {
  text-align: center;
}
.u-txt-left {
  text-align: left;
}
.u-txt-right {
  text-align: right;
}
.u-valign:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%;
}
.u-malign {
  vertical-align: middle;
}
.u-vspace-xxl {
  margin-bottom: 120px;
}
.u-vspace-xl {
  margin-bottom: 60px;
}
.u-vspace-l {
  margin-bottom: 40px;
}
.u-vspace-m {
  margin-bottom: 24px;
}
.u-vspace-s {
  margin-bottom: 12px;
}
.u-vspace-xs {
  margin-bottom: 8px;
}
.u-tspace-xl {
  margin-top: 60px;
}
.u-tspace-l {
  margin-top: 40px;
}
.u-tspace-m {
  margin-top: 24px;
}
.u-tspace-s {
  margin-top: 12px;
}
.u-tspace-xs {
  margin-top: 8px;
}
.u-rspace-xl {
  margin-right: 60px;
}
.u-rspace-l {
  margin-right: 40px;
}
.u-rspace-m {
  margin-right: 24px;
}
.u-rspace-s {
  margin-right: 12px;
}
.u-rspace-xs {
  margin-right: 8px;
}
@media (min-width: $sMedia-desktop) {
  .u-inner {
    width: $sLayout-width;
    padding: 0;
  }
}
@media (max-width: $sMedia-tablet) {
  .u-hideOnMobile {
    display: none !important;
  }
  .u-showOnMobile {
    display: inline-block !important;
  }
}
@media (max-width: $sMedia-desktop) {
  .u-hideOnTablet {
    display: none !important;
  }
  .u-showOnTablet {
    display: inline-block !important;
  }
}
