<div class="ImportPanel-header">
    <h3 class="DefaultTitle">Select the columns containing your Lon/Lat columns</h3>
    <p class="ImportPanel-headerDescription ImportPanel-headerDescription--withoutWidth">
      No matter the type of the columns you select, we will transform them to number for georeferencing.
    </p>
</div>
<div>
  <div class="Form-row Form-row--step">
    <div class="Form-label Form-label--step">
      <label class="ImportPanel-headerDescription ImportPanel-headerDescription--normalWeight">
        Select your longitude column
      </label>
    </div>
    <div class="Form-rowData Form-rowData--step js-lon-column"></div>
  </div>
  <div class="Form-row Form-row--centered Form-row--step">
    <div class="Form-label Form-label--step">
      <label class="ImportPanel-headerDescription ImportPanel-headerDescription--normalWeight">
        Select your latitude column
      </label>
    </div>
    <div class="Form-rowData Form-rowData--step js-lat-column"></div>
  </div>
</div>
