<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon LayoutIcon LayoutIcon--warning">
    <i class="CDB-IconFont CDB-IconFont-dollar CDB-IconFont--super"></i>
  </div>
  <p class="Dialog-headerTitle">
    This task would cost you <strong>$<%- costInDollars %></strong>
  </p>
  <p class="Dialog-headerText">
    We made an estimation of your geocoding task.
  </p>
</div>

<div class="Dialog-body Dialog-resultsBody">
  <span class="Dialog-resultsBodyIcon NavButton ">?</span>
  <div class="Dialog-resultsBodyTexts">
    <p class="DefaultParagraph DefaultParagraph--tertiary">
      This task could have a possible cost, be sure to read our <a href="https://carto.com/terms" target="_blank" rel="noopener noreferrer">terms and conditions</a> before proceeding.
    </p>
  </div>
</div>

<div class="Dialog-footer Dialog-footer--simple u-inner Dialog-narrowerContent">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>cancel</span>
  </button>
  <button class="Button Button--main ok">
    <span>Yes, I agree</span>
  </button>
</div>
