<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--alert">
    <i class="iconFont iconFont-Question"></i>
  </div>
  <p class="Dialog-headerTitle">
    This task would cost you <strong>$<%- costInDollars %></strong>
  </p>
  <p class="Dialog-headerText">
    We made an estimation of your geocoding task.
  </p>
</div>

<div class="Dialog-body ErrorDetails-body">
  <ul class="ErrorDetails-list">
    <li class="ErrorDetails-item">
      <div class="ErrorDetails-itemStep ErrorDetails-itemStep--lessProminent">?</div>
      <div class="ErrorDetails-itemText">
        This task could have a possible cost, if you agree to our <a href="http://cartodb.com/terms" target="_blank">terms and conditions</a> you can proceed with this task.
      </div>
    </li>
  </ul>
</div>

<div class="Dialog-footer Dialog-footer--simple ErrorDetails-footer">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>cancel</span>
  </button>
  <button class="Button Button--main ok">
    <span>Yes, I agree</span>
  </button>
</div>
