<% if (hasEstimation) { %>
  <% if (costInCredits === 0 || hasHardLimit) { %>
    <% if (hasRows) { %>
      <div class="LayoutIcon LayoutIcon--positive">
        <i class="iconFont iconFont-Dollar iconFont--super"></i>
      </div>
      <p class="DefaultParagraph DefaultParagraph--normalSize">
        According to your plan this geocoding operation will have no cost for you!
        <% if (hasHardLimit) { %>
          But it will only geocode as many locations as your available credits permit.
        <% } %>
      </p>
    <% } else { %>
      <div class="LayoutIcon LayoutIcon--warning">
        <i class="iconFont iconFont-Dollar iconFont--super"></i>
      </div>
      <p class="DefaultParagraph DefaultParagraph--normalSize">
        No rows will be geocoded. Drop your 'cartodb_georef_status' column or mark as NULL the records you want to geocode.
      </p>
    <% } %>
  <% } else if (costInCredits > 0) { %>
    <div class="LayoutIcon LayoutIcon--warning">
      <i class="iconFont iconFont-Dollar iconFont--super"></i>
    </div>
    <p class="DefaultParagraph DefaultParagraph--normalSize">
      According to your plan this geocoding operation could cost you a <strong>maximum of $<%- costInDollars %></strong> (<%- costInCredits %> extra credits).
    </p>
  <% } else { %>
    <div class="LayoutIcon LayoutIcon--negative">
      <i class="iconFont iconFont-Dollar iconFont--super"></i>
    </div>
    <p class="DefaultParagraph DefaultParagraph--normalSize">
      Unfortunately there was a problem estimating cost of this geocoding operation.
    </p>
  <% } %>
<% } else { %>
  <div class="LayoutIcon">
    <i class="iconFont iconFont-Dollar iconFont--super"></i>
  </div>
  <p class="DefaultParagraph DefaultParagraph--normalSize">
    Estimating possible cost for this geocoding operation…
  </p>
<% } %>
