<p class="DefaultParagraph DefaultParagraph--normalSize">
  <%- cdb.Utils.formatNumber(quotaLeft) %> credits left this month
</p>
<div class="Georeference-progressBar ">
  <div class="progress-bar">
    <span class="bar-2 <% if (quotaUsedInPct > 90) { %>danger<% } else if (quotaUsedInPct > 75) { %>caution<% } %>"
      style="width: <%- quotaUsedInPct %>%"></span>
  </div>
</div>
