<div class="js-rows"></div>
<div class="Dialog-preFooter js-costs-info" style="display: none;">
  <div class="Georeference-preFooter">
    <div class="js-estimation"></div>
    <div class="js-quota"></div>
  </div>
</div>
