<div class="ImportPanel-header">
    <h3 class="DefaultTitle">Select the column(s) that has your street address</h3>
    <p class="ImportPanel-headerDescription ImportPanel-headerDescription--withoutWidth">
      Use this option if you need high resolution geocoding of your street adresses data.
    </p>
</div>
<div>
  <div class="Form-row Form-row--step">
    <div class="Form-label Form-label--step">
      <label class="ImportPanel-headerDescription ImportPanel-headerDescription--normalWeight">
        Which column are your street addresses stored in?
      </label>
    </div>
    <div class="Form-rowData Form-rowData--step js-street-addr"></div>
  </div>
  <div class="Form-row Form-row--centered Form-row--step">
    <div class="Form-label Form-label--step">
      <label class="ImportPanel-headerDescription ImportPanel-headerDescription--normalWeight">
        State/province where address is located, if known
      </label>
    </div>
    <div class="Form-rowData Form-rowData--step js-state"></div>
  </div>
  <div class="Form-row Form-row--centered Form-row--step">
    <div class="Form-label Form-label--step">
      <label class="ImportPanel-headerDescription ImportPanel-headerDescription--normalWeight">
        Country where street address is located, if known
      </label>
    </div>
    <div class="Form-rowData Form-rowData--step js-country"></div>
  </div>
</div>
