<div class="Dialog-footer Dialog-footer--expanded CreateDialog-footer">
  <div>
    <div class="CreateDialog-footerShadow"></div>
    <div class="CreateDialog-footerLine"></div>
    <div class="CreateDialog-footerInner">
      <div class="CreateDialog-footerInfo">
        <div class="Georeference-upgradeFooter">
          <div class="LayoutIcon LayoutIcon--negative">
            <div class="Badge Badge--negative is-icon">!</div>
          </div>
          <p class="DefaultParagraph DefaultParagraph--normalSize">
            You have reached the maximum number of geocode operations allotted for this month.
            <% if (!cartodb_com_hosted) { %>
              <br/>
              Contact <a href="mailto:sales@carto.com">Sales</a> if you need to increase the number of your geocoding credits before your next billing cycle starts<% if (daysLeftToNextBilling > 0) { %>,
                <strong>in <%- daysLeftToNextBilling %> <%- pluralizeString('day', 'days', daysLeftToNextBilling) %>.</strong>
                <% } else { %>.<% } %>
            <% } %>
          </p>
        </div>
      </div>
      <div class="CreateDialog-footerActions">
        <% if (!cartodb_com_hosted && upgradeURL) { %>
          <a href="<%- upgradeURL %>" class="Button Button--main">
            <span>UPGRADE</span>
          </a>
        <% } %>
      </div>
    </div>
  </div>
</div>
