<div class="Dialog-footer Dialog-footer--expanded CreateDialog-footer">
  <div>
    <div class="CreateDialog-footerShadow"></div>
    <div class="CreateDialog-footerLine"></div>
    <div class="CreateDialog-footerInner">
      <div class="CreateDialog-footerInfo">
        <div class="Georeference-upgradeFooter">
          <div class="LayoutIcon LayoutIcon--negative">
            <div class="Badge Badge--negative is-icon">!</div>
          </div>
          <p class="DefaultParagraph DefaultParagraph--normalSize">
            Sorry you've reached your maximum geocode operations for this month.
            <% if (cartodb_com_hosted) { %>
              Upgrade your account to get more geocoding credits.
            <% } %>
          </p>
        </div>
      </div>
      <div class="CreateDialog-footerActions">
        <% if (cartodb_com_hosted && upgradeURL) { %>
          <a href="<%- upgradeURL %>" class="Button Button--main">
            <span>UPGRADE</span>
          </a>
        <% } %>
      </div>
    </div>
  </div>
</div>
