// Margins
$sMargin-section: 24px; // To separate main section
$sMargin-element: 12px; // To separate elements inside a group

// Font sizes
$sFontSize-smaller: 10px;
$sFontSize-small:   12px;
$sFontSize-normal:  14px;
$sFontSize-larger:  16px;

// Font weights
$sFontWeight-small:    300;
$sFontWeight-lighter:  300;
$sFontWeight-normal:   500;
$sFontWeight-semibold: 600;
$sFontWeight-bold:     700;

// Line heights
$sLineHeight-smaller: 15px;
$sLineHeight-small:   16px;
$sLineHeight-normal:  20px;
$sLineHeight-large:   22px;
$sLineHeight-larger:  24px;
$sLineHeight-largest: 27px;
$sLineHeight-button:  15px;
