<div class="panel_content">
  <div class="wrapper">
    <div class="content">
      <ul class="fields"></ul> 
    </div>
    <div class="blocked">
      You have currently applied a custom template. <a href="#" class="reset">Reset the template first</a> to blah blah blah.
    </div>
  </div>
</div>
