section#content div.left div.bottom_white_medium {float:left; width:626px; height:10px; padding:0; background:url('/images/admin/backgrounds/bottom_white_medium.png') no-repeat 0 top;}
section#content div.right {display:inline-block; vertical-align:top; width:260px; margin:0 0 0 16px;}
section#content div.right div.banner {width:100%; height:auto;}
section#content div.right div.banner div.top_white_short {width:100%; height:10px; background:url('/images/admin/backgrounds/top_white_short.png') no-repeat 0 0;}
section#content div.right div.banner div.middle_white_short {width:204px; height:auto!important; padding:18px 28px 21px; background:url('/images/admin/backgrounds/middle_white_short.png') repeat-y 0 0;}
section#content div.right div.banner div.middle_white_short h3 {width:100%; font:bold 17px Arial; color:#333333; letter-spacing:-1px;}
section#content div.right div.banner div.middle_white_short p {width:100%; margin:5px 0 0 0; font:normal 13px Arial; color:#999999;}
section#content div.right div.banner div.middle_white_short ul {float:none; width:100%; margin:7px 0 0 0;}
section#content div.right div.banner div.middle_white_short ul li {float:none; width:100%; padding:2px 0 2px 0;}
section#content div.right div.banner div.middle_white_short ul li a {float:none; width:auto; padding:0 0 0 10px; background:none; background:url('/images/admin/icons/orange_rect.png') no-repeat 0 8px; color:#FF9900; font:normal 13px Arial; text-shadow:none; border:none;}
section#content div.right div.banner div.middle_white_short ul li a:hover {color:#FF6600; background:url('/images/admin/icons/orange_rect.png') no-repeat 0 8px;  border:none;}
section#content div.right div.banner div.bottom_white_short {float:left; width:100%; height:15px; background:url('/images/admin/backgrounds/bottom_white_short.png') no-repeat 0 0;}
section#content p.info {float:none; display:inline-block; width:100%; padding:5px 0 0 0; font:normal 14px Arial; color:#999999;}
section#content div.left div.middle_white_medium span {float:left; width:500px; margin:15px 0 0 23px; font:normal 15px Arial; color:#777777;}
section#content div.left div.middle_white_medium a.remove {display:inline-block; width:114px!important; height:15px; margin:30px 0 20px 23px; padding:10px 0; text-align:center; line-height:15px; font:bold 15px Arial; color:#f7f7f7; text-decoration:none; text-shadow:0 1px #ff0000;
  border:1px solid #800000; webkit-border-radius:4px; border-radius:4px; -moz-border-radius:4px;
  -moz-box-shadow:0 1px 0 0 white; -webkit-box-shadow:0 1px 0 0 white; box-shadow:0 1px 0 0 white;
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px,linear-gradient(-90deg, #FF897A, #FF0000); 
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px,-webkit-gradient(linear, 50% 0%, 50% 100%, from(#FF897A), to(#FF0000));
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px,-moz-linear-gradient(-90deg, #FF897A, #FF0000);
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px, -o-linear-gradient(#FF897A,#FF0000); 
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px #FF897A\9;
} 
section#content div.left div.middle_white_medium a.remove:hover {
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px,linear-gradient(-90deg, #FF0000, #FF897A); 
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px,-webkit-gradient(linear, 50% 0%, 50% 100%, from(#FF0000), to(#FF897A));
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px,-moz-linear-gradient(-90deg, #FF0000, #FF897A);
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px, -o-linear-gradient(#FF0000,#FF897A); 
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px #FF0000\9;
}
section#content div.left div.middle_white_medium ul.user_form {margin:10px 0 0 0;}
section#content div.left div.middle_white_medium ul.user_form li {border:none; padding:10px 23px;}
section#content div.left div.middle_white_medium ul.user_form li:hover {background:none; cursor:default;}
section#content div.left div.middle_white_medium label {font:bold 12px Arial; color:#999999; text-transform:uppercase;}
section#content div.left div.middle_white_medium input[type="text"],section#content div.left div.middle_white_medium input[type="password"] {width:190px; height:15px; padding:9px 7px!important; margin:5px 0 0 0; 
  border:1px solid #CCCCCC; webkit-border-radius:4px; border-radius:4px; -moz-border-radius:4px; font:normal 15px Arial; color:#333333; line-height:15px;
  -moz-box-shadow:0 1px 0 0 white; -webkit-box-shadow:0 1px 0 0 white; box-shadow:0 1px 0 0 white;
  background-image:linear-gradient(-90deg, #eeeeee, #ffffff);
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#eeeeee), to(#ffffff));
  background-image:-moz-linear-gradient(-90deg, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(#eeeeee,#ffffff);
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee', endColorstr='#ffffff');
}
section#content div.left div.middle_white_medium input[type="submit"] {margin:14px 18px 15px 0; width:auto; height:35px; padding:9px 14px 10px; text-align:center; font:bold 15px Arial; color:#305234; text-shadow:0 1px #9ED6A4; text-decoration:none; border:none;
  -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; border:1px solid #538C55;
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px,linear-gradient(-90deg, #8FD484, #67BA6A); 
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px,-webkit-gradient(linear, 50% 0%, 50% 100%, from(#8FD484), to(#67BA6A));
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px,-moz-linear-gradient(-90deg, #8FD484, #67BA6A);
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px, -o-linear-gradient(#8FD484,#67BA6A); 
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px #8FD484\9;
}
section#content div.left div.middle_white_medium input[type="submit"]:hover {cursor:pointer;
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px,linear-gradient(-90deg, #67BA6A, #8FD484); 
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px,-webkit-gradient(linear, 50% 0%, 50% 100%, from(#67BA6A), to(#8FD484));
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px,-moz-linear-gradient(-90deg, #67BA6A, #8FD484);
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px, -o-linear-gradient(#67BA6A,#8FD484); 
  background:url('/images/front/home/button_border.png') repeat-x 0 -1px #67BA6A\9;
}
section#content div.flash {display:inline-block; width:auto!important; margin:0 0 20px; padding:10px; font:normal 14px Arial; color:green; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; 
  border:1px solid green; background:#bbe5ba;}