<div class="CDB-Text IntermediateInfo">
  <div class="LayoutIcon">
    <i class="CDB-IconFont CDB-IconFont-mobile"></i>
  </div>
  <h3 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">You have not added any application yet.</h3>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">Learn more about the power of our mobile SDK <a href="https://carto.com/developers/mobile-sdk/" target="_blank">here</a>.</p>
</div>
