<div class="CDB-Text IntermediateInfo">
  <div class="LayoutIcon">
    <i class="CDB-IconFont CDB-IconFont-mobile"></i>
  </div>
  <h3 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m"><%= t('carto.admin.mobile.no_mobile.no_app') %></h3>
  <p class="CDB-Text CDB-Size-medium u-altTextColor"><%= t('carto.admin.mobile.no_mobile.learn') %><a href="https://carto.com/developers/mobile-sdk/" target="_blank"><%= t('here') %></a>.</p>
</div>
