<div class="IntermediateInfo">
  <div class="LayoutIcon">
    <i class="CDB-IconFont CDB-IconFont-map"></i>
  </div>
  <h3 class="IntermediateInfo-title">You have not added any application yet.</h3>
  <p class="DefaultParagraph">Learn more about the power of Nutiteq SDK <a href="#">here</a>.</p>
</div>
