<ul class="SettingsDropdown">
  <li class="SettingsDropdown-item">
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/editor/">Editor</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/platform/">Platform</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/extras/">Extras</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/on-premises/">On-premises</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/open-in-cartodb/">Open in CartoDB</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/basemaps/">Basemaps</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/enterprise/">Enterprise</a></p>
  </li>
</ul>
