<ul class="SettingsDropdown">
  <li class="SettingsDropdown-item SettingsDropdown-item--public">
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/editor/">Editor</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/platform/">Platform</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/location-data-services/">Location Data Services</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/data/">Data Observatory</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/mobile/">Mobile</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/deep-insights/">Deep Insights</a></p>
  </li>
</ul>
