<div class="ImportPanel-header">
    <h3 class="DefaultTitle">Select the column that that contains the IP's name</h3>
    <p class="ImportPanel-headerDescription ImportPanel-headerDescription--withoutWidth">
      Convert IP address into geographical locations.
    </p>
</div>
<div>
  <div class="Form-row Form-row--step">
    <div class="Form-label Form-label--step">
      <label class="ImportPanel-headerDescription ImportPanel-headerDescription--normalWeight">
        In which column are your IP addresses stored?
      </label>
    </div>
    <div class="Form-rowData Form-rowData--step js-column-name"></div>
  </div>
</div>
