<div class="Dialog-header BackgroundPollingDetails-header">
  <div class="Dialog-headerIcon GeocodingResultDetails-headerIcon">
    <div class="GeocodingResultDetails-points"></div>
  </div>
  <h3 class="Dialog-headerTitle">Geocoder is already running</h3>
</div>
<div class="BackgroundPollingDetails-body">
  <p class="DefaultParagraph DefaultParagraph--centerAligned">If you want to georeference using another pattern,
  please cancel the current one (at the right bottom of your screen) and start again the process...</p>
</div>
<div class="BackgroundPollingDetails-footer">
  <button class="Button Button--secondary Button--inline BackgroundPollingDetails-footerButton cancel">
    <span>close</span>
  </button>
</div>