<div class="Dialog-header u-inner">
  <div class="LayoutIcon Dialog-headerIcon">
    <i class="iconFont iconFont-Globe"></i>
  </div>
  <h3 class="Dialog-headerTitle">Geocoder is already running</h3>
  <p class="Dialog-headerText Dialog-headerText--centered Georeference-narrowerContent">
    If you want to georeference using another pattern, please cancel the current one (at the right bottom of your screen) and start again the process...
  </p>
</div>
<div class="Dialog-footer Dialog-footer--simple u-inner Georeference-narrowerContent">
  <button class="cancel Button Button--secondary">
    <span>close</span>
  </button>
</div>
