<div class="Dialog-header BackgroundPollingDetails-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--positive">
    <i class="iconFont iconFont-Twitter"></i>
    <span class="Badge Badge--positive Dialog-headerIconBadge">
      <i class="iconFont iconFont-Check"></i>
    </span>
  </div>
  <h3 class="Dialog-headerTitle">
    
  </h3>
  <p class="Dialog-headerText">
    
  </p>
</div>
<div class="Dialog-body BackgroundPollingDetails-body">
  <div class="LayoutIcon BackgroundPollingDetails-icon <%= typeof price != 'undefined' && price > 0 ? 'is-nonFree' : 'is-free' %>">
    <i class="iconFont iconFont-Dollar"></i>
  </div>
  <div class="BackgroundPollingDetails-info">
    <h4 class="BackgroundPollingDetails-infoTitle">asdf</h4>
    <p class="BackgroundPollingDetails-infoText DefaultParagraph">asfd</p>
  </div>
</div>
<div class="Dialog-footer BackgroundPollingDetails-footer">
  <button class="Button Button--secondary BackgroundPollingDetails-footerButton cancel">
    <span>close</span>
  </button>
</div>