<div class="Dialog-header BackgroundPollingDetails-header">
  <div class="Dialog-headerIcon GeocodingResultDetails-headerIcon">
    <% if (geometryType && geometryType !== "point") { %>
      <i class="iconFont iconFont-Globe GeocodingResultDetails-globeIcon"></i>
    <% } else { %>
      <div class="GeocodingResultDetails-points"></div>
    <% } %>
    <span class="Badge Badge--alert Dialog-headerIconBadge">
      <i class="iconFont iconFont-Question"></i>
    </span>
  </div>
  <h3 class="Dialog-headerTitle">No rows were georeferenced</h3>
</div>
<div class="Dialog-body BackgroundPollingDetails-body">
  <p class="DefaultParagraph DefaultParagraph--centerAligned">It seems that there are no georeferenceable rows. Please make sure that
  you have more than one row and that, if the column <strong>cartodb_georef_status</strong> exists,
  some of them have it set to null.</p>
</div>
<div class="Dialog-footer BackgroundPollingDetails-footer">
  <button class="Button Button--secondary Button--inline BackgroundPollingDetails-footerButton cancel">
    <span>close</span>
  </button>
  <% if (showGeocodingDatasetURLButton) { %>
    <a href="<%= datasetURL %>" class="Button Button--inline Button--main BackgroundPollingDetails-footerButton">
      <span>view dataset</span>
    </a>
  <% } %>
</div>