<div class="Dialog-header BackgroundPollingDetails-header">
  <div class="Dialog-headerIcon GeocodingResultDetails-headerIcon GeocodingResultDetails-headerIcon--failed">
    <% if (geometryType && geometryType !== "point") { %>
      <i class="iconFont iconFont-Globe GeocodingResultDetails-globeIcon"></i>
    <% } else { %>
      <div class="GeocodingResultDetails-points"></div>
    <% } %>
    <span class="Badge Badge--negative Dialog-headerIconBadge">
      <i class="iconFont iconFont-Info"></i>
    </span>
  </div>
  <h3 class="Dialog-headerTitle Dialog-headerTitle--error">Geocoding Error</h3>
</div>
<div class="BackgroundPollingDetails-body">
  <p class="DefaultParagraph DefaultParagraph--centerAligned">
  <%= errorDescription || "There was a problem georeferencing your data" %>.
  <% if (!customHosted && id) { %>
    Please try again and if the problem persists, <a href="mailto:support@cartodb.com?subject=Geocoding error with id:<%= id %>">contact us</a>
    with the following code: <br/><strong><%= id %></strong>.
  <% } %>
  </p>
</div>
<div class="BackgroundPollingDetails-footer">
  <button class="Button Button--secondary Button--inline BackgroundPollingDetails-footerButton cancel">
    <span>close</span>
  </button>
  <% if (showGeocodingDatasetURLButton) { %>
    <a href="<%= datasetURL %>" class="Button Button--inline Button--main BackgroundPollingDetails-footerButton">
      <span>view dataset</span>
    </a>
  <% } %>
</div>