<div class="Dialog-header u-inner">
  <div class="LayutIcon LayoutIcon--negative Dialog-headerIcon">
    <i class="CDB-IconFont CDB-IconFont-<%- geometryType && geometryType === "point" ? 'streets' : 'globe' %>"></i>
    <span class="Badge Badge--negative">!</span>
  </div>
  <p class="Dialog-headerTitle">No rows were georeferenced</p>
  <p class="Dialog-headerText Dialog-headerText--centered Dialog-narrowerContent">
    These rows contained empty values or perhaps we just didn't know what the values meant.
    We encourage you to take a look and try again.
  </p>
</div>
<div class="Dialog-footer Dialog-footer--simple u-inner Dialog-narrowerContent">
  <button class="cancel Button Button--secondary <%- showGeocodingDatasetURLButton ? 'Dialog-footerBtn' : '' %>">
    <span>close</span>
  </button>
  <% if (showGeocodingDatasetURLButton) { %>
    <a href="<%- datasetURL %>" class="Button Button--main">
      <span>view dataset</span>
    </a>
  <% } %>
</div>
