<div class="Dialog-contentWrapper">
  <% /* Note that some CSS class names are required by parent Dialog view, e.g. "close", "content", ... */ %>
  <button class="CDB-Shape Dialog-closeBtn close js-cancel">
    <div class="CDB-Shape-close is-blue is-huge"></div>
  </button>
  <div class="Dialog-content content"></div>
</div>
