<div class="u-inner">
  <ul class="List js-layers">
    <li class="List-row">
      <div class="DefaultParagraph DefaultParagraph--secondary">
        <%- layers.length %> <%- pluralizeStr('layer', 'layers', layers.length) %> found,
        <%- layers.available().length %> <%- pluralizeStr('layer', 'layers', layers.available().length) %> available
      </div>
      <div>
        <%/* TODO: implement search here */%>
      </div>
    </li>
  </ul>
</div>
