<div class="u-inner">
  <ul class="List js-layers">
    <li class="List-row">
      <div class="List-rowItem">
        <div class="DefaultParagraph DefaultParagraph--secondary">
          <%- layersFound.length %> <%- pluralizeStr('layer', 'layers', layersFound.length) %> found,
          <%- layersAvailableCount %> <%- pluralizeStr('layer', 'layers', layersAvailableCount) %> available
        </div>
      </div>
    </li>
  </ul>
</div>

<button class="NavButton Dialog-backBtn js-back">
  <i class="iconFont iconFont-ArrowPrev"></i>
</button>
