<div class="u-inner">
  <ul class="List js-layers">
    <li class="List-row">
      <div class="DefaultParagraph DefaultParagraph--secondary">
        <%- layersFound.length %> <%- pluralizeStr('layer', 'layers', layersFound.length) %> found,
        <%- layersAvailableCount %> <%- pluralizeStr('layer', 'layers', layersAvailableCount) %> available
      </div>
      <div>
        <%/* TODO: implement search here */%>
      </div>
    </li>
  </ul>
</div>
