<% if (label) { %>
  <label><%= attribute %></label>
<% } %>
<nav>
  <a class="radiobutton <%= (value) ? 'selected' : '' %> true" href="#true"><span class="radio"></span>True</a>
  <a class="radiobutton <%= (value === false) ? 'selected' : '' %> false" href="#false"><span class="radio"></span>False</a>
  <a class="radiobutton <%= (value === null) ? 'selected' : '' %> null italic" href="#null"><span class="radio"></span>Null</a>
</nav>