<ul class="SettingsDropdown">
  <li class="SettingsDropdown-item SettingsDropdown-item--public">
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="http://docs.cartodb.com">Documentation</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="http://academy.cartodb.com">The Map Academy</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/resources/">Resources Center</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="https://cartodb.com/webinars/">Webinars</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="http://blog.cartodb.com">Blog</a></p>
  </li>
</ul>
