<ul class="SettingsDropdown">
  <li class="SettingsDropdown-item">
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="http://blog.cartodb.com">Blog</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="http://academy.cartodb.com">Academy</a></p>
    <p><a class="SettingsDropdown-itemLink SettingsDropdown-itemLink--public" href="http://docs.cartodb.com">Documentation</a></p>
  </li>
</ul>
