<tr>
  <td>
      <p style="font-size: 16px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
        There is one username that is reaching the named maps limit. Response Team should check if it's possible to
        remove a few named maps!
      </p>
  </td>
</tr>
