<div class="banner">
  <div class="top_white_short"></div>
  <div class="middle_white_short">
    <h3>Want to create a CartoDB app?</h3>
    <p>Take a look at our documentation</p>
    <ul>
      <li><a href="/your_apps/oauth">Get your credentials</a></li>
      <li><a href="<%= APP_CONFIG[:developers_host] %>/api/authentication">Authenticating your apps</a></li>
      <li><a href="<%= APP_CONFIG[:developers_host] %>/api/tables/post">Check REST API</a></li>
      <li><a href="<%= APP_CONFIG[:developers_host] %>/api/sql">or SQL API</a></li>
    </ul>
  </div>
  <div class="bottom_white_short"></div>
</div>