<%= content_for(:head) do %>
  <%= stylesheet_link_tag('reset.css','front/byebye') %>
<% end %>
<section>
  <h1>Your account has <strong>been removed</strong>.</h1>
  <div class="byebye"></div>
  <p>It would be great to know a little bit about your reasons. If you feel comfortable with it, <a href="mailto:wadus@cartodb.com">send us an email</a></p>
</section>
