<div class="dialog-content dialog-panes">
  <ul class="upload-tabs">
    <li class="upload-tab"><a href="#/file" class="file">Local file or URL</a></li>
    <li class="upload-tab"><a href="#/gdrive" class="gdrive"><i></i>Google Drive data</a></li>
    <li class="upload-tab"><a href="#/dropbox" class="dropbox"><i></i>Dropbox</a></li>
  </ul>
  <div class="upload-panes"></div>
  <div class="margin40 hint">
    <span class="hint">HINT</span>
    <p class="hint_text">For correctly working, your data should have the same format that the table where you are adding it.</p>
  </div>
</div>
<div class="upload-progress">
  <span></span>
  <p>Uploading your data</p>
  <a href="#/stop-process" class="stop"></a>
</div>
<div class="hide">
  <form class="dialog-uploader"><input type="file" /></form>
</div>