<% if (msg) { %>
  <p><%- msg %></p>
<% } %>

<div class="margin15">
  <input type="text" placeholder="Name your map" value="" name="name" />
  <div class="info">
    <p><%- error_messages.blank %></p>
  </div>
</div>