<ul class="georeference_styles">
  <li class="points selected">
    <a href="#" class="opt" data-style="points">
      <div class="icon_container"><div class="icon">
          <div class="marker a"></div>
          <div class="marker b"></div>
          <div class="marker c"></div>
        </div>
      </div>
      <div class="warning"></div>
      <span>Georeference your data with points</span>
    </a>
  </li>

  <li class="regions">
    <a href="#" class="opt" data-style="regions">
      <div class="icon_container"><div class="icon"></div></div>
      <div class="warning"></div>
      <span>Georeference your data with administrative regions</span>
    </a>
  </li>
</ul>
