<ul>
  <% if (!isVisualization) { %>
    <li class="<% if (table.isInSQLView() && dataLayer && !dataLayer.get('query')) { %>disabled<% } %>"><a class="small export_table" href="#/export">Export...</a></li>

    <% if (table.isInSQLView()) { %>
      <li><a class="small duplicate_table" href="#/table-from-query">Dataset from query</a></li>
    <% } else { %>
      <li class="<% if (table.isSync()) { %>disabled<% } %>">
        <a class="small georeference" href="#/georeference">
          Georeference
          <% if (!googleUser) { %>
            <div class="progress-bar">
              <div class="bar-2"></div>
            </div>
          <% } %>
        </a>
      </li>
      <li><a class="small duplicate_table" href="#/duplicate">Duplicate dataset...</a></li>
      <li><a class="small merge_tables" href="#/merge-tables">Merge with dataset...</a></li>

      <!-- Change privacy?  -->
      <% if (isLayerOwner) { %>
        <% if (private_tables) { %>
          <li><a class="small change_privacy" href="#/change-privacy">Change privacy</a></li>
        <% } else { %>
          <li class="disabled"><a class="small">Change privacy...</a></li>
        <% } %>
      <% } %>

    <% } %>

    <!-- Sync options  -->
    <% if (table.isSync() && isLayerOwner) { %>
      <li><a href="#/sync-settings" class="small sync_settings">Sync settings...</a></li>
    <% } %>

    <% if (isLayerOwner) { %>
      <!-- Lock? -->
      <li><a class="small lock_vis" href="#/lock-table">Lock dataset</a></li>

      <!-- Delete? -->
      <li><a class="small delete_table red" href="#/delete">Delete this dataset...</a></li>
    <% } %>

  <% } else { %>
    <!-- Map options  -->
    <li><a class="small duplicate_vis" href="#/duplicate">Copy</a></li>
    <% if (isVisOwner) { %>
      <li><a class="small lock_vis" href="#/lock-vis">Lock</a></li>
    <% } %>
    <% if (isVisOwner) { %>
      <li><a class="small delete_vis red" href="#/delete">Delete</a></li>
    <% } %>

  <% } %>
</ul>
