<ul>
  <% if (!isVisualization) { %>
    <li class="<% if (table.isInSQLView() && dataLayer && !dataLayer.get('query')) { %>disabled<% } %>"><a class="small export_table" href="#/export">Export...</a></li>
    <% if (table.isInSQLView()) { %>
      <li><a class="small duplicate_table" href="#/table-from-query">Table from query</a></li>
    <% } else { %>
      <li class="<% if (table.isSync()) { %>disabled<% } %>">
        <a class="small georeference" href="#/georeference">
          Georeference
          <div class="progress-bar">
            <div class="bar-2"></div>
          </div>
        </a>
      </li>
      <li><a class="small duplicate_table" href="#/duplicate">Duplicate table...</a></li>
      <li><a class="small merge_tables" href="#/merge-tables">Merge tables...</a></li>
      <% if (private_tables) { %>
      <li><a class="small change_privacy" href="#/change-privacy">Change privacy</a></li>
      <% } else { %>
      <li class="disabled"><a class="small">Change privacy...</a></li>
      <% } %>
    <% } %>
    <li class="disabled"><a class="small append">Append data...</a></li>
    <% if (table.isSync()) { %>
      <li><a href="#/sync-settings" class="small sync_settings">Sync settings...</a></li>
    <% } %>
    <li><a class="small delete_table red" href="#/delete">Delete this table...</a></li>
  <% } else { %>
    <li><a class="small duplicate_vis" href="#/duplicate">Duplicate visualization</a></li>
    <li><a class="small delete_vis red" href="#/delete">Delete visualization</a></li>
  <% } %>
</ul>
