<% var bbgProUI = $.inArray("bbg_pro_ui", user_data.feature_flags) !== -1; %>
<ul>
  <% if (!isVisualization) { %>
    <li class="<% if (table.isInSQLView() && dataLayer && !dataLayer.get('query')) { %>disabled<% } %>"><a class="small export_table" href="#/export">Export...</a></li>

    <% if (table.isInSQLView()) { %>
      <% if (!table.isSync()) { %>
        <li><a class="small duplicate_table" href="#/table-from-query">Dataset from query</a></li>
      <% } %>
    <% } else { %>
      <li class="<% if (table.isSync()) { %>disabled<% } %>">
        <a class="small georeference" href="#/georeference">
          Georeference
          <% if (!googleUser) { %>
            <div class="progress-bar">
              <div class="bar-2"></div>
            </div>
          <% } %>
        </a>
      </li>
      <% if (table.isSync()) { %>
      <li class="disabled"><a class="small">Duplicate dataset...</a></li>
      <li class="disabled"><a class="small">Merge with dataset...</a></li>
      <% } else { %>
      <li><a class="small duplicate_table" href="#/duplicate">Duplicate dataset...</a></li>
      <li><a class="small merge_tables" href="#/merge-tables">Merge with dataset...</a></li>
      <% } %>

      <!-- Change privacy?  -->
      <% if (isLayerOwner) { %>
        <% if (private_tables) { %>
          <li><a class="small change_privacy" href="#/change-privacy">Change privacy</a></li>
        <% } else { %>
          <li class="disabled"><a class="small">Change privacy...</a></li>
        <% } %>

      <% } %>

    <% } %>



    <!-- Sync options  -->
    <!-- Now that this uses FDW, we don't ever want to show sync options, as they don't really apply -->
    <% if (false /*table.isSync() && isLayerOwner*/) { %>
      <li><a href="#/sync-settings" class="small sync_settings">Sync settings...</a></li>
    <% } %>

    <% if (isLayerOwner) { %>
      <!-- Lock? -->
      <li><a class="small lock_vis" href="#/lock-table">Lock dataset</a></li>

      <!-- Delete? -->
      <li><a class="small delete_table red" href="#/delete">Delete this dataset...</a></li>
    <% } %>

  <% } else { %>
    <!-- Map options  -->
    <% if (bbgProUI) { %>
      <li><a class="small export_vis" href="#/export" title="Click to get links for publishing the map">Get Links</a></li>
    <% } %>
    <li><a class="small duplicate_vis" href="#/duplicate" title="Click to make a copy of the current map">Copy</a></li>
    <% if (isVisOwner) { %>
      <li><a class="small lock_vis" href="#/lock-vis" title="Click to lock the current map from future edits">Lock</a></li>
    <% } %>
    <% if (isVisOwner) { %>
      <li><a class="small delete_vis red" href="#/delete" title="Click to delete the current map">Delete</a></li>
    <% } %>

  <% } %>
  <li><a class="small" href="<%= mapsUrl %>" title="Click to view list of saved and locked maps">Go to Map Library</a></li>
  <% if (bbgProUI) { %>
    <li><a class="small" href="<%= datasetsUrl %>" title="Click to view list of datasets">Go to Dataset Library</a></li>
  <% } %>
</ul>
