<div class="mamufas">
  <section class="block modal <%= modal_type %>">
    <a href="#close" class="close">x</a>

    <div class="content">

      <h3><%= title %></h3>
      <p>Send the link, embed in your website or develop and cartodb.js application with it.</p>

      <ul>
        <li class="link">
          <i></i>
          <h4>Get the link</h4>
          <div class="input_field">
            <input type="text" readonly="true"/>
            <a href="#" class="copy tooltip">Copy</a>
          </div>
          <p>Get your map into your blog, website or simple application.</p>
        </li>
        <li class="embed">
          <i></i>
          <h4>Embed it</h4>
          <div class="input_field">
            <input type="text" readonly="true"/>
            <a href="#" class="copy tooltip">Copy</a>
          </div>
          <p>And send it to your friends, co-workers or post in your social networks</p>
        </li>
        <li class="api">
          <i></i>
          <h4>CartoDB.js</h4>
          <div class="input_field">
            <input type="text" readonly="true"/>
            <a href="#" class="copy tooltip">Copy</a>
          </div>
          <p>Add your map to your applications by using this URL. <a href="http://developers.cartodb.com/documentation/cartodb-js.html" title="CartoDB.js - API reference">Read more</a></p>
        </li>
      </ul>

    </div>

    <div class="foot">
      <a href="#next" class="right next ok <%= ok_button_classes %>"><%= ok_title %></a>
    </div>

  </div>
</div>
