<div class="mamufas">
  <section class="block modal syncing">
    <div class="loader"></div>
    <p class="margin10 strong">Your dataset is being synced...</p>
    <p class="margin10 small">It will take some time, in the meantime you can't perform any UI action, but APIs will work as usual.</p>
  </section>
</div>