<div class="dialog-content dialog-panes">
  <ul class="dialog-tabs">
    <li class="option dialog-tab interval active">
      <a href="#/interval" class="radiobutton selected"><span class="radio"></span>Keep your data synchronized</a>
      <div class="dialog-pane">
        <div class="combo-wrapper">
          <p>Sync my data</p>
          <div class="interval-combo"></div>
        </div>
      </div>
    </li>
    <li class="option dialog-tab disconnect">
      <a href="#/disconnect" class="radiobutton"><span class="radio"></span>Disconnect this dataset from the source</a>
      <div class="dialog-pane">
        <p class="margin10">By disconnecting this dataset you will convert it into a normal table with write permissions, but data will not be synchronized anymore.</p>
      </div>
    </li>
  </ul>
</div>
