<ul>
  <li>
    <div class="circle <%- state %>">
      <span class="point"></span>
      <span class="pulse"></span>
    </div>
  </li>
  <li>
    <p>
      <% if (state === "success") { %>
        Synced
      <% } else if (state === "syncing") { %>
        Syncing...
      <% } else if (state === "failure") { %>
        Sync failed.
      <% } %>

      <% if (state === "success") { %>
        <% /* There's no need to add extra text in this case. */ %>
      <% } else if (state === "syncing") { %>
        <% /* There's no need to add extra text in this case. */ %>
      <% } else if (error_code || error_message) { %>
        Error code <%- error_code %>: <%- error_message %>.
      <% } %>

      <% if (!fromExternalSource) { %>
        <% if (state !== "syncing") { %>
          <% if (canSync) { %>
            <a href="#/sync-now" class="sync_now">Sync now</a>
          <% } else { %>
            <em class="italic light sync_now_disabled">Sync now</em>
          <% } %>
        <% } %>
      <% } %>
    </p>
  </li>
</ul>
