<span class="sync <%= state %>">
  <span class="circle"></span>
  <p>
    <% if (state != "failure") { %>
      synced
    <% } else { %>
      synced failed
    <% } %>
    <%= runned_at %> - read only table
  </p>
</span>