<span class="sync <%= state %>">
  <div class="circle">
    <span class="point"></span>
    <span class="pulse"></span>
  </div>
  <p>
    <% if (state != "failure") { %>
      synced
    <% } else { %>
      synced failed
    <% } %>
    <%= ran_at %> - read only table
  </p>
</span>