
  /**
   *  Trick 'layer title' panel styles
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/transform";
  @import "compass/css3/transition";
  @import "../../old_common/vars";
  @import "../../old_common/mixins";
  @import "../variables/colors";
  @import "../variables/mixins"; 

  .title_layer { 
    position:relative;
    line-height:40px;

      &.open {     
        > .title-layer-body {
          background-color: $sidebar_panel_background;
        }
      }

    > .title-bar {
      background-image: url("../images/bb_icon_globe.png");
      background-color: $Grey9;
      background-position: 24px center;
      background-repeat: no-repeat;
      font-family: "AvenirNext_Demi";
      font-size: 15px;
      height: 40px;
      line-height: 40px;
      position: relative;
      width: 100%;
      .title-label {
        margin-left: 66px;
      }
      &:hover {
        background-color: $Grey8;
      }
    

      a.info {
        text-decoration: none;
        color: $White;
      }

      // Change title
      // (Title layer text)
      .action.title {
        @include inline-block();
        &:hover {
          color: $Teal1;
          cursor: pointer;
        }
      }
    }

     .title-layer-body {
      height: 100%;
      padding: 12px;
      width: auto;
      position: relative;      

      .wrapper {
        position:absolute;
        top:0; left:0; bottom:0; right:0;
        overflow:auto;
        margin-bottom:30px;
      }

      .title-layer-contents {

          width: 100%;
          display: block;

        div.metadata-form {
          > .title {
            margin-bottom: 12px;
            > h2 {
              font-size: 15px;
              color: $White;
              line-height: 19px;
            }
          }
          .Form-row {
            .Form-input--long {
              width: 100%;
            }
          }

          .Dialog-stickyFooter {
            position: relative;
            width: 100%;
            height: 30px;

            .EditVisMetadata-formFooter {
              display: block;
              width: 100%;
            }
          }

        }
      }
    }
  }
