
  /**
   *  Layer panel views
   *
   *  Content of the layer panel (wizards, infowindow, legends, etc).
   *
   */

  @import "compass/css3/images";
  @import "compass/css3/box-shadow";
  @import "compass/css3/border-radius";
  @import "compass/css3/inline-block";
  @import "../../table/table-sprite";
  @import "../../old_common/vars";
  @import "../../old_common/mixins";
  @import "../../variables/colors";


  // LOCAL VARS
  $corner_radius: 6px;
  

  // Layer actions view!
  .layer-views {
    position:absolute;
    top:60px;
    right:0;
    left:65px;
    bottom:0;
    @include inline-block();
    background:$DarkGrey6;
    @include border-top-left-radius($corner_radius);
    border:1px solid $Black;
    border-right:0;
    border-bottom:0;
    @include box-shadow(rgba(black, 0.07) 2px -1px 8px 0);
    letter-spacing:0;
    z-index:5;


    h3 {
      padding: 22px 0 21px 30px;
      border-bottom:1px solid $DarkGrey9;
      font-size: 14px;
      font-weight: normal;
      line-height:normal;
      color: $Grey1;
    }

    // For any 
    & > div {
      @include inline-block();
      width:100%;
      height:100%;
    }

    // Panel content for absolute positioning
    // and render with scrollbars if it is higher
    // than the panel
    .panel_content {
      position:absolute;
      top:61px;
      left:0;
      right:0;
      bottom:0;
      overflow:hidden;

      .wrapper {
        position:absolute;
        top:0; left:0; bottom:0; right:0;
        padding:0 30px 16px 30px;
        overflow:auto;
      }
      
      div.content {
        left:30px;
        right:30px!important;
        overflow-x:visible;
      }
      
      div.no_content {
        margin:20px 0 0 0;
        padding:20px;
        @include border-radius(4px);
        text-align:center;
        line-height:18px;
      }

      span.scroll {
        position:absolute;
        left:0;
        right:5px;
        width:100%;
        height:10px;
        background:transparent;
        padding:0;
        margin:0;
        @include border-radius(0);

        &.top {top:-10px; @include box-shadow(rgba(0,0,0,0.1) 0 5px 20px 0);}
        &.bottom {@include box-shadow(rgba(0,0,0,0.12) 0 -5px 20px 0); bottom:-10px;}
      }
    }

    
    // Draw lines separating editor lines number
    // and show the white gradient
    div.editor {

      &:after, &:before {
        position:absolute;
        content:' ';
        top:0; left:34px; bottom:0;
        width:1px;
        height:100%;
      }
      
      &:after { background:rgba($cGray4,0.50); }
      &:before { left:36px; background:rgba(#509DD7,0.25); }

      h3 { padding-left:22px }
      
      span.white-gradient {
        position:absolute;
        top:0;
        left:0;
        height:22px;
        width:100%;
        @include background(linear-gradient(top, white, rgba(white,0)));
        z-index:10;
      }
    }
  }
