
  /**
   *  Layer info styles
   *
   *  Styles for layer info elements, like name,
   *  position, remove and visibility buttons, etc.
   *
   */

  
  @import "compass/css3/border-radius";
  @import "../../table/table-sprite";
  @import "../../old_common/mixins";
  @import "../../old_common/form-elements";
  @import "../../variables/colors";
  @import "../../variables/mixins";


  // LOCAL VARS
  $corner_radius: 6px;

 
  // Layer info, as name, order, ... etc
  //bb_layer_header 
  .layer-info { 
    @include bb_sidebar_layer_header;
    display: flex;
    position:absolute;
    top:0; right:0; bottom:auto; left:0;    
    z-index:0;
    div.left {flex:1 1 auto;}
    div.right {margin-right:12px;}
    
    // Layer info block
    .info {
      display:block;  
      left:0!important;
      top:0!important;
      width: 100%;
      text-align: left;
      padding-left: 24px;

      * {@include inline-block(); vertical-align:middle;}

      // Order element
      .order {
        width:14px;        
        height: 14px;
        text-align:center;
        color:transparent;
        background-image: url(../images/bb_icon_layer.png);
        background-position: center;
        background-repeat: no-repeat;
      }

      // Layer name
      .name {
        max-width:80%;
        width:auto;
        @include text-overflow();
        overflow:hidden;
        margin-left:23px;
        font-size:15px;
        color:$Grey1;
        line-height:20px;

        i.synced {
          @include inline-block();
          vertical-align:top;
          width:12px;
          height:12px;
          margin:5px 0 0 4px;
          @include background(sprite($table-sprites, sync_layer_icon, $offset-x:0, $offset-y:0) no-repeat);
        }

        &:hover {
          i.synced {
            @include background(sprite($table-sprites, sync_layer_icon, $offset-x:0, $offset-y:-12px) no-repeat);
          }
        }
      }

      // Layer info (second name?)
      .name_info {
        position:absolute;
        @include display-flex();
        top: 34px;
        left: 67px;
        overflow: hidden;
        max-width: 80%;
        width: auto;
        font: normal 11px;
        color: $Grey2;
        @include text-overflow();
        line-height:15px;

        a { margin-left: 5px }
      }
    }


    // Layer name edition
    @include default-input();
    input.alias {
      @include default-input();
      position:absolute;
      display:none;
      top:7px;
      left:57px;
      padding:6px 9px;
      font:bold 17px $text-fonts;
      color:#787878;
    }


    // Remove button
    .remove {
      width:9px;
      height:9px;
      margin-left:6px;
      background: url(../images/close_layer.png) no-repeat center;
      &:hover {
        background-image: url(../images/close_layer_hover.png); 
      }
    }
    
  }
//active layer header
.layer_panel.active > .layer-info {
  background: $DarkGrey1;
   &:hover {
      background-color: $layer_header_background_active_hover;
    }
}