
/*
 * Right panel in the table view
 * - SQL, facets, ...
 */

@import "../../old_common/mixins";
@import "../../old_common/form-elements";
@import "../../old_common/vars";
@import "../../old_common/common-sprite";
@import "../../table/table-sprite";
@import "../variables/colors";

$corner_radius: 0px;

.table_panel {
  position:fixed;
  right:-537px;
  top:64px;
  bottom:0px;
  width:600px;
  padding-top:25px;
  background:$DarkGrey3;
  letter-spacing:-4px;
  border:1px solid $Black;
  border-bottom:0;
  border-right:0;
  @include box-shadow(rgba(black,0.15) 0 0 2px 2px);
  @include border-top-left-radius($corner_radius);
  z-index:20;

//bb_layer_panel
  .layer_panel {
    position:relative;
    width:100%;
    height:100%;
    margin-top:-25px;
    background:$DarkGrey2;
    border-top:1px solid $Black;
    @include border-top-left-radius($corner_radius);
    @include box-shadow(rgba(black,0.1) 0 -10px 20px 0);
    @include transform-style("linear");
    @include transition-property("padding,margin");
    @include transition-duration(250ms);
    z-index:1;

    &:hover {padding-bottom:15px}
    &:first-child {margin-top:0;}
    &:last-child:hover {margin-top:-38px}
  }





  ////////////////////////////////
  // ANIMATIONS FOR LAYER_PANEL //
  ////////////////////////////////

  // Sorting
  .layer_panel.ui-sortable-placeholder {
    visibility: visible!important;

    &:after {
      content:'';
      position:absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 0;
      border:2px dashed #AAA;
      @include border-top-left-radius(3px);
      z-index:0;
    }

    &:before {
      content:'Drop your layer here';
      position:absolute;
      top:25px;
      left:0;
      right:0;
      bottom:0;
      width:100%;
      text-align: center;
      font:bold 17px $text-fonts;
      color:#CDCDCD;
      line-height:20px;
      letter-spacing: 0;
      z-index:1;
    }
  }

  // Active layer
  .layer_panel.active {
    margin-bottom:20px;
    padding-bottom:0;

    .layer-info .info {
      .order {background:#666666;}
      .name_info {color:$Grey2;}
      .name { color:$Grey1; }
    }

    &:hover {
      margin-bottom:20px;
      padding-bottom:0;
      margin-top:-25px;
    }
  }

  // Active layer in visualization
  .layer_panel.active.vis {
    .layer-info {
    }
  }

  // Opened layer in visualization
  &.opened .layer_panel.active.vis {
    .layer-info {
      line-height:46px;
    }
  }

  &.opened .layer_panel.vis {
    .layer-info {
      line-height:46px;
    }
  }

  // Only hover state for visualizations, not for table view,
  // due to it is not possible drag layers in table view.
  &.ui-sortable .layer_panel.active .layer-info .info:hover {
    cursor:move;
    .order {
      @include table-sprite(layer_move_icon);
      background-color:none;
      text-indent:-9999px;
    }
  }

}
