
/*
 * Right panel in the table view
 * - SQL, facets, ...
 */

@import "../../old_common/mixins";
@import "../../old_common/form-elements";
@import "../../old_common/vars";
@import "../../old_common/common-sprite";
@import "../../table/table-sprite";
@import "../variables/colors";
@import "../variables/mixins";

$corner_radius: 0px;

.table_panel {
  bottom:0px;
  background-color: rgba(#fff, .05);   
  overflow: visible !important;
  padding: 12px;
  position:fixed;
  right:-452px;
  top:46px;
  width:452px;
  z-index:20;

  .collapse {
    @include bb_button_style;
    border-radius: 0px;
    border: none;
    left: -27px;
    position: absolute;
    width: 26px;
    height: 40px;
    padding: 0px;
    top: 12px;
    background-image: url(../images/bb_icon_open.png);
    &.open {
      background-image: url(../images/bb_icon_collapse.png);
    } 
  }

//bb_layer_panel
  .layer_panel {
    position:relative;
    height:100%;
    background:$DarkGrey2;
    z-index:1;
  } 

  ////////////////////////////////
  // ANIMATIONS FOR LAYER_PANEL //
  ////////////////////////////////

  // Sorting
  .layer_panel.ui-sortable-placeholder {
    visibility: visible!important;

    &:after {
      content:'';
      position:absolute;
      top: 10px;
      left: 10px; 
      right: 10px;
      bottom: 0;
      border:2px dashed #AAA;
      @include border-top-left-radius(3px);
      z-index:0;
    }

    &:before {
      content:'Drop your layer here';
      position:absolute;
      top:25px;
      left:0;
      right:0;
      bottom:0;
      width:100%;
      text-align: center;
      font:bold 17px $text-fonts;
      color:#CDCDCD;
      line-height:20px;
      letter-spacing: 0; 
      z-index:1;
    }
  }

  // Only hover state for visualizations, not for table view,
  // due to it is not possible drag layers in table view.
  &.ui-sortable .layer_panel.active .layer-info .info:hover {
    cursor:move;
  }

}
//bb_override_lineheight
.table_panel.opened .layer_panel.vis .layer-info {
  line-height: 28px;
}

.subtext {
  color: $Grey7;
}