// Styles for Header Editor
// --------------------------------------------------

@import '~cartoassets/src/scss/cdb-variables/sizes';
@import '~cartoassets/src/scss/cdb-variables/colors';

.Editor-breadcrumb {
  display: flex;
  margin-bottom: 8px;
}

.Editor-breadcrumbItem {
  &:hover {
    .Editor-breadcrumbLink {
      text-decoration: underline;
    }
  }
}

.Editor-breadcrumbSep {
  margin-left: 4px;
}
