@import '~cartoassets/src/scss/cdb-variables/sizes';
@import '~cartoassets/src/scss/cdb-variables/colors';

.Inline-editor {
  position: relative;
  min-width: 0;
}

.Inline-editor-input {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 10px 8px;
}

.Inline-editor-text.is-hidden {
  opacity: 0.24;
}
