@import '~cartoassets/src/scss/cdb-variables/colors';
@import '~cartoassets/src/scss/cdb-variables/sizes';

.Share-input {
  position: relative;
  width: 100%;
}

.Share-input-field {
  padding-right: 50px;
}

.Share-copy {
  position: absolute;
  top: 50%;
  right: 10px;
  padding-right: 0;
  padding-left: 0;
  transform: translateY(-50%);
}

.Share-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: $baseSize * 4 0 0;
  text-align: center;

  .CDB-Button {
    padding: 0 4px;
  }
}

.Share-with {
  &.is-hidden {
    display: none;
  }

  &.is-pointer {
    cursor: pointer;
  }
}

.Share-user {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: $halfBaseSize / 2;
  background-position: center center;
  background-size: cover;
}

.Share-wrapper {
  overflow: auto;
}

.Share-filtersRow {
  height: 60px;
}

.Share-user--big {
  width: 24px;
  height: 24px;
}

.Share-user--huge {
  width: 38px;
  height: 38px;
}

.Share-user--medium {
  width: 32px;
  height: 32px;
}

.Share-permission {
  display: flex;
  align-items: center;
  margin-bottom: $baseSize;
  padding: $baseSize * 2;
  transition: border 200ms ease-in;
  border: 1px solid $cWhite;
  border-radius: $halfBaseSize;
  background-color: $cWhite;

  &.is-selected {
    border: 1px solid $cBlue;
  }
}

.Share-permissionInfo {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.Share-permissionIcon {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: $baseSize * 2;
  border: 1px solid $cMainLine;
  border-radius: 3px;
  font-size: 22px;
}

.Share-togglers {
  display: flex;

  .Share-toggler.is-disabled {
    opacity: 0.4;

    // In order to make parent tipsyable on mouseover
    .CDB-Toggle {
      visibility: hidden;
    }
  }
}

.Share-toggler {
  position: relative;
}
