<a href="<%= CartoDB.url(self, 'api_v1_visualizations_add_like', {id: vis.fetch(:id)}, vis.fetch(:owner)) %>" class="js-likes"
  data-vis-id="<%= vis.fetch(:id) %>"
  data-likes-count="<%= vis.fetch(:likes_count) %>">
</a>
