<div class="left header_block">
    <ul class="actions">
        <li>
            <a href="#/save-map" class="Button add_new_layer js-save-map">Save a Copy to Make Changes</a>
        </li>
        <li>
            <a href="<%- dashboard_url %>" class="Button add_new_layer">Back to Map Library</a>
        </li>
    </ul>
</div>

<div class="right header_block">
    <ul>
        <li>
          Map Title
        </li>
        <li>
          <%- vis_name %>
        </li>
    </ul>
</div>