<li class="Header-settingsItem u-hideOnMobile">
  <a href="<%- mapsUrl %>" class="Header-settingsLink">Maps</a>
</li>

<li class="Header-settingsItem u-hideOnMobile">
  <a href="<%- datasetsUrl %>" class="Header-settingsLink">Datasets</a>
</li>

<li class="Header-settingsItem Header-settingsItem--avatar">
  <button class="UserAvatar js-dropdown-target">
    <img src="<%- avatarUrl %>" class="UserAvatar-img UserAvatar-img--medium js-user-avatar-img" />
  </button>
</li>
