  
  /*
   * Custom objects
   * - Custom radiobutton
   */

  @import "compass";


  // RADIOBUTTON
  /*
    <a href="#somwhere" class="radiobutton {selected}">
      <span class="radio"></span>
      Start importing some data
    </a>
  */
  .radiobutton {
    @include inline-block();
    vertical-align:middle;
    font-weight:bold;
    color:#397DB9;

    span.radio {
      position:relative;
      @include inline-block();
      vertical-align:top;
      width:10px;
      height:10px;
      margin:2px 7px 0 0;
      @include border-radius(25px);
      border:1px solid #397DBA;
      background:white;

      &:before {
        display:none;
        content:' ';
        position:absolute;
        top:2px;
        left:2px;
        width:6px;
        height:6px;
        background:#333333;
        @include border-radius(25px);
      }
    }

    &:hover {
      span.radio{
        border-color:#333333;
        &:before {
          display:block;
        }
      }
    }

    &.selected {
      border-color:#333333;
      color:#333333;

      span.radio{
        border-color:#333333;
        &:before {
          display:block;
        }
      }

      &:hover {
        cursor:default;
        text-decoration:none;
      }
    }

    &.disabled {
      text-decoration:none;
      color:#397DBA;
      span.radio{
        border-color:#397DBA;
        &:before {
          display:none;
        }
      }
      &:hover {
        cursor:default;
      }
    }
  }