@import "compass";
@import "fonts";


  article {
    @include inline-block();
    width:100%;
    padding:40px 0 80px;
    background:url("/img/layout/bkg.jpg") repeat 0 0;
    letter-spacing:-4px;
    
    section.tables {
      @include inline-block();
      width:638px;
      background:white;
      border:1px solid #D1D1D1;
      @include border-radius(4px);
      @include box-shadow(rgba(0,0,0,0.07) 0 0 4px 3px);
      letter-spacing:0px;

      div.head {
        padding:35px 40px; // Hack for line-height
        border-bottom:1px solid #E5E5E5;
        h3 {
          font:bold 25px "Segoe UI Bold","Helvetica Bold", "Helvetica", Arial;;
          letter-spacing:-1px;
          color:#333333;
          line-height:normal;
        }
      }

      div.content {
        ul {
          li {
            padding:40px;
          }
        }
      }
    }

    aside {
      @include inline-block();
      width:279px;
      padding:40px 0 40px 40px;
      letter-spacing:0px;
    }
  }