<ul class="SettingsDropdown">
  <li class="SettingsDropdown-item">
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-both">Maps and datasets</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-maps">Maps</button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-datasets">Datasets</button></p>
  </li>
</ul>
