<ul class="SettingsDropdown">
  <li class="SettingsDropdown-item">
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-both"><%= _t('cartodb.explore.maps_data') %></button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-maps"><%= _t('cartodb.explore.maps') %></button></p>
    <p><button class="SettingsDropdown-itemLink SettingsDropdown-itemButtonLink js-datasets"><%= _t('cartodb.explore.datasets') %></button></p>
  </li>
</ul>
