<div class="ContextMenu js-explore-context-menu">
  <div class="u-inner">
    <div class="ContextMenu-row">
      <button class="ContextMenu-dropdown js-dropdown">
        <span class="js-dropdownLabel">Maps and datasets</span>
        <i class="ContextMenu-dropdownArrow iconFont iconFont-ArrowMenu"></i>
      </button>
      <div class="ContextMenu-order is-hidden js-filters">
        <span class="ContextMenu-label">Recent activity by</span>
        <ul class="ContextMenu-orderList">
          <li class="ContextMenu-orderListItem">
            <a data-title="likes" class="js-order-link ContextMenu-orderLink ContextMenu-orderLink--heart js-likes is-selected" href="#/likes">
              <i class="iconFont iconFont-Heart--fill"></i>
            </a>
          </li>
          <li class="ContextMenu-orderListItem">
            <a data-title="visits" class="js-order-link ContextMenu-orderLink ContextMenu-orderLink--graph js-mapviews" href="#/views">
              <i class="iconFont iconFont-Eye iconFont--big"></i>
            </a>
          </li>
          <li class="ContextMenu-orderListItem">
            <a data-title="date" class="js-order-link ContextMenu-orderLink ContextMenu-orderLink--clock js-updated_at" href="#/time">
              <i class="iconFont iconFont-Clock"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="Explore-inner">
  <div class="Explore-feed js-feed">
    <div class="Feed-content Explore-content">
      <div class="FeedMast is-hidden js-mast">
        <div class="FeedMast-ball FeedMast-ball--top"></div>
        <div class="FeedMast-ball FeedMast-ball--bottom"></div>
      </div>
      <ul class="js-items"></ul>
    </div>
    <button class="Button Button--gray Button--centered is-hidden js-more">View more</button>
  </div>
</div>
