<div class="Filters Filters-explore">
  <div class="u-inner">
    <div class="Filters-inner">
      <div class="Filters-row">
        <div class="Filters-type">
          <button class="Filters-dropdown js-dropdown"><span class="js-dropdownLabel">Maps and datasets</span> <i class="Filters-darrow iconFont iconFont-ArrowMenu"></i></button>
        </div>
        <div class="Filters-order is-hidden js-filters">
          <span class="Filters-label">Recent activity by</span>
          <ul class="Filters-list">
            <li class="Filters-orderItem">
              <a data-title="likes" class="js-order-link Filters-orderLink Filters-orderLink--heart js-likes is-selected" href="#/likes">
                <i class="iconFont iconFont-Heart--fill"></i>
              </a>
            </li>
            <li class="Filters-orderItem">
              <a data-title="visits" class="js-order-link Filters-orderLink Filters-orderLink--graph js-mapviews" href="#/views">
                <i class="iconFont iconFont-Eye iconFont--big"></i>
              </a>
            </li>
            <li class="Filters-orderItem">
              <a data-title="date" class="js-order-link Filters-orderLink Filters-orderLink--clock js-updated_at" href="#/time">
                <i class="iconFont iconFont-Clock"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div><div class="Explore-inner">
  <div class="Explore-feed js-feed">
    <div class="Feed-content Explore-content">
      <div class="FeedMast is-hidden js-mast">
        <div class="FeedMast-ball FeedMast-ball--top"></div>
        <div class="FeedMast-ball FeedMast-ball--bottom"></div>
      </div>
      <ul class="js-items"></ul>
    </div>
    <button class="Button Button--centered is-hidden js-more">View more</button>
  </div>
</div>
