<p><a href="https://disqus.com">Disqus</a> is the system we use to provide commenting functionality in your public map pages. You can create your own Disqus site to gain control of the moderating features of the comments in your maps.</p>

<p>Here's how to do it:</p>

<ul>
  <li>Create a <a href="https://disqus.com/admin/signup/">Disqus account</a> (or log in if you already have one).</li>
  <li>Add a new site.</li>
  <li>You'll be asked to choose a shortname for your site.</li>
</ul>

<p>Once you've finished the setup, paste your Disqus shortname in our form and you'll be all set.</p>
