<p>In order to disconnect your Google+ account you need to setup a new valid password.</p>

<p>If you disconnect your Google+ account you won't be able to connect it again to the same CartoDB account.</p>
