<div class="row">
  <div class="field field-1">
    <label>new quota in MB (max <%= max_quota_readable %>)</label>
    <input type="text" value="<%= quota_in_MB %>" />
  </div>
  <div class="info error">
    <p>This quota isn't valid. It should be a number greater than 0 and <%= max_quota_readable %> max.</p>
  </div>
</div>