<div class="row">
  <div class="field field-1">
    <label>new quota in MB (max <%= max_quota_readable %>)</label>
    <input type="text" value="<%= quota_in_MB %>" />
  </div>
  <div class="info error">
    <p>The quota isn't valid. Check it is under the max MB available in your account.</p>
  </div>
</div>