<div class="UserQuotaDropdown">
  <h4 class="UserQuotaDropdown-title">Change <%- userName %> quota</h4>
  <div class="UserQuotaDropdown-quota">
    <p class="UserQuotaDropdown-info"><span class="js-userQuota"><%= userQuotaPer %>%</span> of the available org quota</p>
    <div class="UISlider UserQuotaDropdown-slider js-slider"></div>
  </div>
</div>
