<div class="Dialog-header Dialog-header--expanded">
  <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
    <i class="CDB-IconFont CDB-IconFont-boss"></i>
  </div>
  <h3 class="Dialog-headerTitle">Invite users to your Organization</h3>
  <p class="Dialog-headerText">New user will become part of your CartoDB organization account.</p>
</div>
<div class="Dialog-expandedSubContent js-content">
  <div class="InviteUsers-form">
    <div class="js-form"></div>
  </div>
</div>
