<div class="FlashMessage js-signInMessage">
  <div class='u-inner'>
    <div class="FlashMessage-content js-FlashNotice">
      <p class='FlashMessage-info FlashMessage-info--larger'>If you want to invite users you need to enable the sign in page for your organization.</p>
      <button class='FlashMessage--button js-enableSignInButton'><span>Enable sign in</span></button>
    </div>

    <div class="FlashMessage-content js-FlashSuccess">
      <p class='FlashMessage-info FlashMessage-info--larger'>You have enabled the sign in page successfully!</p>
    </div>
  </div>
</div>