<% if (!organization_data.auth_username_password_enabled) { %>
  <div class="FlashMessage js-signInMessage">
    <div class='u-inner is-flex'>
      <p class='FlashMessage-info max-width'>If you want to invite users you need to enable the sign in page for your organization.</p>
      <button class='FlashMessage--button js-enableSignInButton'><span>Enable sign in</span></button>
    </div>
  </div>
<% } %>

<form class="Form InviteUsers-formContent js-invitesForm">
  <div class="Form-row">
    <div class="Form-rowLabel">
      <label class="Form-label">Users email</label>
    </div>
    <div class="Form-rowData Form-rowData--longer">
      <div class="Form-tags js-tags" data-title="Separate emails by commas">
        <ul class="Form-tagsList js-tagsList"></ul>
      </div>
    </div>
    <div class="Form-rowInfo">
      <p class="Form-rowInfoText Form-rowInfoText--error Form-rowInfoText--multipleLines js-emailError">That email is already used in this organization</p>
    </div>
  </div>

  <div class="Form-row">
    <div class="Form-rowLabel">
      <label class="Form-label">Welcome text</label>
    </div>
    <div class="Form-rowData Form-rowData--longer">
      <textarea class="Form-input Form-input--longer Form-textarea js-welcomeText" placeholder="Send them a welcome text"><%- welcomeText %></textarea>
    </div>
    <div class="Form-rowInfo"></div>
  </div>

  <div class="InviteUsers-formFooterSticky">
    <div class="Dialog-footer InviteUsers-formFooter">
      <div><%/* placeholder for flex layout */%></div>
      <button type="submit" class="Button Button--main is-disabled js-submit">
        <span>Invite users</span>
      </button>
    </div>
  </div>
</form>
