<div class="OptionCard-icon IllustrationIcon IllustrationIcon--lingon">
  <i class="CDB-IconFont CDB-IconFont-tools"></i>
</div>
<p class="OptionCard-title">CartoDB.js</p>
<p class="OptionCard-desc">
  Add your map to your applications by using this URL.
  <a href="https://docs.carto.com/cartodb-platform/cartodb-js.html" target="_blank" rel="noopener noreferrer">Read more</a>
</p>
<input type="text" value="<%- model.get('vizjsonURL') %>" class="Publish-copyableInput Input Input--slim" />
