<div class="OptionCard-icon IllustrationIcon IllustrationIcon--royal">
  <i class="CDB-IconFont CDB-IconFont-jigsaw CDB-IconFont--super"></i>
</div>
<% if (model.get('isPrivacyPrivate')) { %>
  <p class="OptionCard-title">Your map is private</p>
  <p class="OptionCard-desc">Change your <a href="#" class="js-change-privacy">privacy settings</a> to embed your map. Right now it's private.</p>
<% } else { %>
  <p class="OptionCard-title">Embed it</p>
  <p class="OptionCard-desc">
    Publish your map on your blog or website.<br />
    <a href="<%- encodeURI(model.get('embedURL')) %>" target="_blank" rel="noopener noreferrer">Go to your map</a>
  </p>
  <input type="text" class="Publish-copyableInput Input Input--slim"
    value="<%- '<iframe width="100%" height="520" frameborder="0" src="' + encodeURI(model.get('embedURL')) + '" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>' %>" />
<% } %>
