<div class="OptionCard-icon IllustrationIcon IllustrationIcon--positive">
  <i class="iconFont iconFont-Anchor"></i>
</div>
<% if (model.get('isPrivacyPrivate')) { %>
  <p class="OptionCard-title">Your map is private</p>
  <p class="OptionCard-desc">Change your <a href="#" class="js-change-privacy">privacy settings</a> to share your map. Right now it's private.</p>
<% } else { %>
  <p class="OptionCard-title">Get the link</p>
  <p class="OptionCard-desc">Share it with your friends or co-workers, or post it in your social networks.</p>
  <input type="text" value="<%- model.get('url') %>"
    class="Publish-copyableInput Input Input--slim <%- model.get('isShorteningURL') ? 'is-loading' : '' %>" />
<% } %>
