<div class="PublicUserFeed-content">
  <div class="PublicUserProfile-line">
    <div class="PublicUserProfile-ball PublicUserProfile-ball--top"></div>
    <div class="PublicUserProfile-ball PublicUserProfile-ball--bottom"></div>
  </div>
  <ul class="PublicUserProfileList js-items"></ul>
</div>
<button class="Button Button--loadMore Button--centered is-hidden js-more">View more</button>
