<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8 />
    <title>CartoDB  Embed Map</title>
    <style type="text/css">
      html {width:100%; height:100%; padding:0; margin:0; border:none;}
      body {width:100%; height:100%; padding:0; margin:0; background:none;}
      div#outer_map_cartodb_container {position:relative; width:100%; height:100%; background:white; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
      div#map_cartodb_container {position:absolute; top:5px; left:5px; right:5px; bottom:5px; z-index:0;}
      a.cartodb_logo {position:absolute; bottom:13px; left:75px; display:block; width:69px; height:27px; background:url('http://cartodb.s3.amazonaws.com/embed/embed_sprite.png') no-repeat -61px 0;
        text-indent:-9999px; line-height:0; font-size:0;}
      span.cartodb_map_controls {position:absolute; top:10px; left:10px; width:26px; height:100px; z-index:10;}
      span.cartodb_map_controls a.cartodb_map_embed_zoom_in {display:block; width:30px; height:32px; text-indent:-9999px; line-height:0; font-size:0; background:url('http://cartodb.s3.amazonaws.com/embed/embed_sprite.png') no-repeat 0 0;}
      span.cartodb_map_controls a.cartodb_map_embed_zoom_in:hover {background-position:-31px 0; cursor:pointer;}
      span.cartodb_map_controls a.cartodb_map_embed_zoom_out {display:block; width:30px; height:32px; text-indent:-9999px; line-height:0; font-size:0; background:url('http://cartodb.s3.amazonaws.com/embed/embed_sprite.png') no-repeat 0 -32px;}
      span.cartodb_map_controls a.cartodb_map_embed_zoom_out:hover {background-position:-31px -32px; cursor:pointer;}
    </style>


    <% if @table.public? %>
      <script type="text/javascript">
        var table_name = "<%= @table.name %>",
            table_id = "<%= @table.id %>",
            user_name = "<%= @subdomain %>",
            <% if Rails.env == "development" %>
              TILEHTTP = "http",
              TILESERVER = "localhost.lan:8181",
              SQL_SERVER = 'localhost.lan:8080',
              global_api_url = '/api/v1/';
            <% elsif Rails.env == "staging" || Rails.env == "test" %>
              TILEHTTP = "http",
              TILESERVER = "ec2-50-16-103-51.compute-1.amazonaws.com",
              global_api_url = '/api/v1/';
            <% else %>
              TILEHTTP = "https",
              TILESERVER = "cartodb.com",
              SQL_SERVER = 'cartodb.com',
              global_api_url = '/api/v1/';
            <% end %>
      </script>

      <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
      <script type="text/javascript">

        $(function() {
          var cartodbMapOptions = {
            zoom: 2,
            center: new google.maps.LatLng(0,0),
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          }

          // Init the map
          var carto_embed_map = new google.maps.Map(document.getElementById("map_cartodb_container"),cartodbMapOptions);


          // Setup your map styles
          $.ajax({
            url:TILEHTTP + '://' + user_name + '.' + TILESERVER + '/tiles/' + table_name + '/map_metadata',
            type: 'GET',
            dataType: 'jsonp',
            success:function(result){
              map_style = $.parseJSON(result.map_metadata);
              if (!map_style || map_style.google_maps_base_type=="roadmap") {
                carto_embed_map.setOptions({mapTypeId: google.maps.MapTypeId.ROADMAP});
              } else if (map_style.google_maps_base_type=="satellite") {
                carto_embed_map.setOptions({mapTypeId: google.maps.MapTypeId.SATELLITE});
              } else if (map_style.google_maps_base_type=="terrain") {
                carto_embed_map.setOptions({mapTypeId: google.maps.MapTypeId.TERRAIN});
              } else {
                var mapStyles = [ { stylers: [ { saturation: -65 }, { gamma: 1.52 } ] },{ featureType: "administrative", stylers: [ { saturation: -95 }, { gamma: 2.26 } ] },{ featureType: "water", elementType: "labels", stylers: [ { visibility: "off" } ] },{ featureType: "administrative.locality", stylers: [ { visibility: "off" } ] },{ featureType: "road", stylers: [ { visibility: "simplified" }, { saturation: -99 }, { gamma: 2.22 } ] },{ featureType: "poi", elementType: "labels", stylers: [ { visibility: "off" } ] },{ featureType: "road.arterial", stylers: [ { visibility: "off" } ] },{ featureType: "road.local", elementType: "labels", stylers: [ { visibility: "off" } ] },{ featureType: "transit", stylers: [ { visibility: "off" } ] },{ featureType: "road", elementType: "labels", stylers: [ { visibility: "off" } ] },{ featureType: "poi", stylers: [ { saturation: -55 } ] } ];
                map_style.google_maps_customization_style = mapStyles;
                carto_embed_map.setOptions({mapTypeId: google.maps.MapTypeId.ROADMAP});
              }

              // Custom tiles
              if (!map_style) {map_style = {google_maps_customization_style: []}}
              carto_embed_map.setOptions({styles: map_style.google_maps_customization_style})
            },
            error: function(e){}
          });
  		  



          // Add the cartodb tiles
          var cartodb_layer = {
            getTileUrl: function(coord, zoom) {
              return TILEHTTP + '://' + user_name + '.' + TILESERVER + '/tiles/' + table_name + '/'+zoom+'/'+coord.x+'/'+coord.y+'.png';
            },
            tileSize: new google.maps.Size(256, 256)
          };
          var cartodb_imagemaptype = new google.maps.ImageMapType(cartodb_layer);
          carto_embed_map.overlayMapTypes.insertAt(0, cartodb_imagemaptype);

          // Zoom to your geometries
          $.ajax({
            method: "GET",
            url: 'http://'+user_name+'.' + SQL_SERVER + global_api_url+'/sql/?q='+escape('select ST_Extent(the_geom) from '+ table_name),
            dataType: 'jsonp',
            success: function(data) {
              if (data.rows[0].st_extent!=null) {
                var coordinates = data.rows[0].st_extent.replace('BOX(','').replace(')','').split(',');

                var coor1 = coordinates[0].split(' ');
                var coor2 = coordinates[1].split(' ');
                var bounds = new google.maps.LatLngBounds();

                // Check bounds
                if (coor1[0] >  180 
                 || coor1[0] < -180 
                 || coor1[1] >  90 
                 || coor1[1] < -90 
                 || coor2[0] >  180 
                 || coor2[0] < -180 
                 || coor2[1] >  90  
                 || coor2[1] < -90) {
                  coor1[0] = '-30';
                  coor1[1] = '-50'; 
                  coor2[0] = '110'; 
                  coor2[1] =  '80'; 
                }


                bounds.extend(new google.maps.LatLng(coor1[1],coor1[0]));
                bounds.extend(new google.maps.LatLng(coor2[1],coor2[0]));

                carto_embed_map.fitBounds(bounds);
              }

            },
            error: function(e) {}
          });




          $('a.cartodb_map_embed_zoom_in').click(function(ev){
            ev.preventDefault();
            carto_embed_map.setZoom(carto_embed_map.getZoom()+1);
          });
          $('a.cartodb_map_embed_zoom_out').click(function(ev){
            ev.preventDefault();
            carto_embed_map.setZoom(carto_embed_map.getZoom()-1);
          });
        });

      </script>
    <% end %>
    <noscript><meta http-equiv="refresh" content="0;url=http://cartodb.com/no_javascript.html"></noscript>
  </head>
  <body>
    <% if @table.public? %>
      <div id="outer_map_cartodb_container">
        <div id="map_cartodb_container"></div>
      </div>
      <span class="cartodb_map_controls">
        <a href="#zoom_in" class="cartodb_map_embed_zoom_in">+</a>
        <a href="#zoom_out" class="cartodb_map_embed_zoom_out">-</a>
      </span>
      <a href="http://cartodb.com" class="cartodb_logo" target="_blank">CartoDB</a>
    <% end %>
  </body>
</html>
