<section class="subheader">
  <div class="mamufas">
    <div class="inner_subheader">
      <div class="left">
        <h2><%= @table.name %></h2>
        <p class="status"><%= table_privacy(@table) %></p>
        <span class="tags">
          <a href="#">WHS</a>
          <a href="#">Natural</a>
          <a href="#">History</a>
          <a class="add" href="#">add tags</a>
        </span>
        <ul class="tab_menu">
          <li class="selected"><a href="#" onclick="changeTo(event,'table')">Table</a></li>
          <li><a href="#" onclick="changeTo(event,'map')">Map</a></li>
        </ul>
      </div>
      <div class="right">
        <p class="settings"><a class="delete" href="#">delete table</a></p>
        <span class="paginate">
          <a class="next" href="#">Next column</a>
          <a class="previous" href="#">Previous column</a>
        </span>
      </div>
    </div>
  </div>
</section>

<div class="table_position">
  <table border="0" id="cDBtable"></table>
</div>

<div id="map"></div>