  <% content_for(:page_title) do %>
    <%= @table.name %> |
  <% end %>

  <% content_for(:css) do %>
    <%= include_stylesheets :common, :media => 'all' %>
  <% end %>

  <% content_for(:js) do %>
    <%= include_javascripts :common, :cdbjs, :login %>
  <% end %>


  <div>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th><div></div></th>
            <th>
              <div>
                <label class="strong small"><a href="">cartodb_id</a></label>
                <p class="margin5 small"><a href="">number</a></p>
              </div>
            </th>
            <th>
              <div>
                <label class="strong small"><a href="">the_geom<span class="tiny geo">GEO</span></a></label>
                <p class="margin5 small"><a href="">geometry</a></p>
              </div>
            </th>
            <th>
              <div>
                <label class="strong small"><a href="">name</a></label>
                <p class="margin5 small"><a href="">string</a></p>
              </div>
            </th>
            <th>
              <div>
                <label class="strong small"><a href="">description</a></label>
                <p class="margin5 small"><a href="">string</a></p>
              </div>
            </th>
            <th>
              <div>
                <label class="strong small"><a href="">created_at</a></label>
                <p class="margin5 small"><a href="">date</a></p>
              </div>
            </th>
            <th>
              <div>
                <label class="strong small"><a href="">updated_at</a></label>
                <p class="margin5 small"><a href="">date</a></p>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div></div></td>
            <td><div>1</div></td>
            <td><div>-64.234, -23.234</div></td>
            <td><div>jamon</div></td>
            <td><div>the worst</div></td>
            <td><div>20 December, 1985</div></td>
            <td><div>4 July, 2012</div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div>1</div></td>
            <td><div>-64.234, -23.234</div></td>
            <td><div>jamon</div></td>
            <td><div>the worst</div></td>
            <td><div>20 December, 1985</div></td>
            <td><div>4 July, 2012</div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div>1</div></td>
            <td><div>-64.234, -23.234</div></td>
            <td><div>jamon</div></td>
            <td><div>the worst</div></td>
            <td><div>20 December, 1985</div></td>
            <td><div>4 July, 2012</div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div>1</div></td>
            <td><div>-64.234, -23.234</div></td>
            <td><div>jamon</div></td>
            <td><div>the worst</div></td>
            <td><div>20 December, 1985</div></td>
            <td><div>4 July, 2012</div></td>
          </tr>
          <tr>
            <td><div></div></td>
            <td><div>1</div></td>
            <td><div>-64.234, -23.234</div></td>
            <td><div>jamon</div></td>
            <td><div>the worst</div></td>
            <td><div>20 December, 1985</div></td>
            <td><div>4 July, 2012</div></td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="map"></div>
  </div>