@import "../../variables/mixins";
@import "../../variables/colors";
@import "../../variables/sizes";

// The little icon, typically used to hilight some text paragraph that goes with it
//
// Example usage:
//   <i class="HilightIcon HilightIcon--warning"></i>
//   <p>Do not look at the pink elephant!</p>
// --------------------------------------------------
.HilightIcon {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: $sLineHeight-normal !important;
  font-size: $sFontSize-normal;
  color: white;
  border-radius: 20px;
}
.HilightIcon.HilightIcon--warning {
  background: #F6D35C;
  border: 1px solid #F2C000;
}
