// The largest kind of icons, used mainly to indicate some general concept.
//
// Example usage:
//   <div class="LayoutIcon LayoutIcon--positive">
//     <i class="iconFont iconFont-Unlock"></i>
//   </div>
// --------------------------------------------------

@import "../../variables/mixins";
@import "../../variables/colors";
@import "../../variables/sizes";

.LayoutIcon {
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
  position: relative;
  min-width: $sIcon-layout; // to no be deformed due to flex layout
  width: $sIcon-layout;
  height: $sIcon-layout;
  box-sizing: border-box;
  font-size: 32px;
  color: $Grey2;
}
.LayoutIcon--positive {
  border-color: $cHighlight-positive;
  color: $cHighlight-positive;
}
.LayoutIcon--negative {
  border-color: $cHighlight-negative;
  color: $cHighlight-negative;
}
.LayoutIcon--warning {
  border-color: $cHighlight-alert4;
  color: $cHighlight-alert4;
}
.LayoutIcon--darkGrey {
  border-color: $cStructure-darkLine;
  color: $cIcons-active;
}
