<div class="IntermediateInfo">
  <div class="LayoutIcon LayoutIcon--negative">
    <i class="iconFont iconFont-Cockroach"></i>
  </div>
  <h4 class="IntermediateInfo-title">Oouch! There has been an error</h4>
  <% if (msg) { %>
    <p class="DefaultParagraph"><%= msg %></p>
  <% } %>
  <p class="DefaultParagraph">If the problem persists contact us at <a class="js-mail-link" href="mailto:support@cartodb.com">support@cartodb.com</a>.</p>
</div>
