<div class="Puzzle">
  <div class="Puzzle-piece connect-right"><%- leftTableName %></div>
  <div class="Puzzle-piece Puzzle-piece--inset">
    <div class="MergeDatasets-puzzleMergeMethod js-merge-method-name"></div>
  </div>
  <div class="Puzzle-piece connect-left is-placeholder js-right-column-name"></div>
</div>
