<div class="Puzzle">
  <div class="Puzzle-jigsaw fit-right"><%- leftTableName %></div>
  <div class="Puzzle-jigsaw Puzzle-jigsaw--inset">
    <div class="MergeDatasets-puzzleMergeMethod js-merge-method-name"></div>
  </div>
  <div class="Puzzle-jigsaw fit-left is-placeholder js-right-column-name"></div>
</div>
