<div class="Header" id="header">
  <div class="u-inner Header-inner">
    <div class="Header-navigation">
      <ul class="Header-navigationList">
        <li class="js-logo">
          <% logo_url = cartodb_com_hosted? ? CartoDB.url(self, 'root') : "http://cartodb.com" %>
          <a href="<%= logo_url %>">
            <span class="Logo Logo--avatar">
              <i class="iconFont iconFont-CartoFante"></i>
            </span>
          </a>
        </li>

        <li class="Header-navigationItem"><a href="<%= logo_url %>" class="Header-navigationLink u-hideOnMobile">CartoDB</a></li>
        <% unless cartodb_com_hosted? %>
          <li class="Header-navigationItem"><a href="http://docs.cartodb.com/" class="Header-navigationLink u-hideOnMobile">Learn</a></li>
          <li class="Header-navigationItem"><a href="mailto:enterprise-support@cartodb.com" class="Header-navigationLink u-hideOnMobile">Support</a></li>
          <li class="Header-navigationItem"><a href="http://cartodb.com/gallery/" class="Header-navigationLink u-hideOnMobile">Explore</a></li>
        <% end %>
      </ul>
    </div>

    <div class="Header-settings">
      <ul class="Header-settingsList js-user-settings">
        <% unless cartodb_com_hosted? %>
          <li class="Header-settingsItem js-login">
            <a href="<%= CartoDB.url(self, 'login') %>" class="Header-settingsLink">Login</a>
          </li>
        <% end %>

        <li class="Header-settingsItem">
          <% unless cartodb_com_hosted? %>
            <a href="http://cartodb.com/signup" class="Button Button--headerPositive">
              <span>Sign up</span>
            </a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
