<div class="Header" id="header">
  <div class="u-inner Header-inner">
    <div class="Header-navigation">
      <ul class="Header-navigationList">
        <li class="js-logo">
          <% logo_url = cartodb_com_hosted? ? CartoDB.url(self, 'root') : "http://cartodb.com" %>
          <a href="<%= logo_url %>">
            <span class="Logo Logo--avatar">
              <i class="CDB-IconFont CDB-IconFont-cartoFante"></i>
            </span>
          </a>
        </li>

        <% unless cartodb_com_hosted? %>
          <li class="Header-navigationItem"><a href="http://docs.cartodb.com/" class="Header-navigationLink u-hideOnMobile" target="_blank">Learn</a></li>
          <li class="Header-navigationItem js-user-support"><a href="mailto:support@cartodb.com" class="Header-navigationLink u-hideOnMobile" target="_blank">Support</a></li>
          <li class="Header-navigationItem"><a href="http://cartodb.com/gallery/" class="Header-navigationLink u-hideOnMobile" target="_blank">Gallery</a></li>
        <% end %>
      </ul>
    </div>

    <div class="Header-settings">
      <% if current_user.has_feature_flag?('bbg_profile_menu') %>
      <ul class="Header-settingsList">
        <li class="Header-settingsItem u-hideOnMobile">
          <a href="<%= maps_index_path %>" class="Header-settingsLink">Maps</a>
        </li>

        <li class="Header-settingsItem u-hideOnMobile">
          <a href="<%= datasets_index_path %>" class="Header-settingsLink">Datasets</a>
        </li>

        <% unless cartodb_com_hosted? %>
        <li class="Header-settingsItem Header-settingsItemNotifications js-user-notifications">
          <a href="#/notifications" class="UserNotifications">
            <i class="UserNotifications-Icon CDB-IconFont CDB-IconFont-alert"></i>
          </a>
        </li>
        <% end %>

        <li class="Header-settingsItem Header-settingsItem--avatar">
          <button class="UserAvatar js-settings-dropdown">
              <img src="<%= current_user.avatar %>" class='UserAvatar-img UserAvatar-img--medium' />
          </button>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
