<div class="Header" id="header">
  <div class="u-inner Header-inner">
    <div class="Header-navigation">
    </div>

    <div class="Header-settings">
      <ul class="Header-settingsList">
        <li class="Header-settingsItem u-hideOnMobile">
          <a href="<%= maps_index_path %>" class="Header-settingsLink">Maps</a>
        </li>

        <li class="Header-settingsItem u-hideOnMobile">
          <a href="<%= datasets_index_path %>" class="Header-settingsLink">Datasets</a>
        </li>
      </ul>
    </div>
  </div>
</div>
