<div class="Header Header--tall CDB-Text Header--dark Header--datalibrary js-Header--datalibrary" id="header">
  <div class="Header-inner u-inner">
    <div class="Header-navigation">
      <ul class="Header-navigationList">
        <li class="js-logo">
          <a href="<%= cartodb_com_hosted? ? CartoDB.url(self, 'root') : "https://carto.com" %>">
            <span class="Logo">
              <img src="<%= image_path "layout/carto-logo.svg" %>" alt="carto">
            </span>
          </a>
        </li>

        <% unless cartodb_com_hosted? %>
          <li class="Header-navigationItem js-user-tour u-hideOnTablet">
            <a href="https://carto.com/builder/" class="Header-navigationLink">Builder</a>
          </li>

          <li class="Header-navigationItem js-user-tour u-hideOnTablet">
            <a href="https://carto.com/engine/" class="Header-navigationLink">Engine</a>
          </li>

          <li class="Header-navigationItem js-user-industries u-hideOnTablet">
            <a href="#/industries" class="Header-navigationLink js-dropdown-target">Solutions <i class="Header-darrow CDB-IconFont CDB-IconFont-caretDown"></i></a>
          </li>

          <li class="Header-navigationItem u-hideOnTablet">
            <a href="https://carto.com/pricing/" class="Header-navigationLink">Pricing</a>
          </li>

          <li class="Header-navigationItem u-hideOnTablet">
            <a href="https://carto.com/blog/" class="Header-navigationLink">Blog</a>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="Header-settings">
      <ul class="Header-settingsList js-user-settings">
        <li class="Header-settingsItem js-login">
          <a href="<%= CartoDB.url(self, 'login') %>" class="Header-settingsLink Header-settingsLink Header-settingsLink--public">Login</a>
        </li>

        <% unless cartodb_com_hosted? %>
          <li class="Header-settingsItem">
            <a href="https://carto.com/signup" class="PublicButton PublicButton--sMedium PublicButton--cWhite is-hover PublicButton--public">
              <span>Sign up</span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
