<% light = false if !light.present? %>

<div class="Footer <%= 'Footer--light' if light %>">
  <div class="u-inner Footer-inner">
    <ul class="Footer-list Footer-list--primary">
      <% unless cartodb_com_hosted? %>
      <li class="Footer-listItem CDB-Text CDB-Size-medium"><a href="https://cartodb.com/gallery/">Gallery</a></li>
      <li class="Footer-listItem CDB-Text CDB-Size-medium"><a href="http://docs.cartodb.com/tutorials.html">Getting started</a></li>
      <% end %>
      <% unless cartodb_onpremise_version.blank? %>
      <li class="Footer-listItem CDB-Text CDB-Size-medium">Version: <%= cartodb_onpremise_version %></li>
      <% end %>
    </ul>
    <% if cartodb_com_hosted? %>
        <a class="Footer-logo Logo Logo--grey" href="<%= CartoDB.url(self, 'root') %>">
          <i class="CDB-IconFont CDB-IconFont-cartoFante"></i>
        </a>
    <% else %>
        <a class="Footer-logo Logo Logo--grey" href="https://cartodb.com">
          <i class="CDB-IconFont CDB-IconFont-cartoFante"></i>
        </a>
    <% end %>
    <ul class="Footer-list Footer-list--secondary">
      <li class="Footer-listItem CDB-Text CDB-Size-medium"><a href="http://docs.cartodb.com">Documentation</a></li>
      <% unless cartodb_com_hosted? %>
        <li class="Footer-listItem CDB-Text CDB-Size-medium"><a href="mailto:support@cartodb.com">Support</a></li>
      <% else %>
        <li class="Footer-listItem CDB-Text CDB-Size-medium"><a href="mailto:onpremise-support@cartodb.com">Support</a></li>
      <% end %>
      <li class="Footer-listItem CDB-Text CDB-Size-medium"><a href="mailto:contact@cartodb.com">Contact</a></li>
    </ul>
  </div>
</div>
