<% light = local_assigns.fetch(:light, false) %>
<% footer_margin = local_assigns.fetch(:footer_margin, true) %>
<div class="CDB-Text CDB-FontSize-medium <%= 'u-tSpace-xl' if footer_margin %> Footer <%= 'Footer--light' if light %>">
  <div class="u-inner Footer-inner">
    <ul class="Footer-list Footer-list--primary">
      <% unless cartodb_com_hosted? %>
        <li class="Footer-listItem CDB-Text CDB-Size-medium"><a href="https://carto.com/help/">Help</a></li>
        <li class="Footer-listItem CDB-Text CDB-Size-medium"><a href="https://carto.com/developers/">Developers</a></li>
      <% end %>
      <% unless cartodb_onpremise_version.blank? %>
        <li class="Footer-listItem CDB-Text CDB-Size-medium">Version: <%= cartodb_onpremise_version %></li>
      <% end %>
    </ul>

    <ul class="Footer-list Footer-list--secondary">
      <% unless cartodb_com_hosted? %>
        <li class="Footer-listItem CDB-Text CDB-Size-medium"><a href="mailto:support@carto.com">Support</a></li>
      <% else %>
        <li class="Footer-listItem CDB-Text CDB-Size-medium"><a href="mailto:onpremise-support@carto.com">Support</a></li>
      <% end %>
      <li class="Footer-listItem CDB-Text CDB-Size-medium"><a href="mailto:contact@carto.com">Contact</a></li>
    </ul>
  </div>
</div>
