<% light = false if !light.present? %>

<div class="Footer <%= 'Footer--light' if light %>">
  <div class="u-inner Footer-inner">
    <ul class="Footer-list Footer-list--primary">
      <% unless cartodb_com_hosted? %>
      <li class="Footer-listItem"><a class="Footer-listLink" href="http://cartodb.com/gallery/">Gallery</a></li>
      <li class="Footer-listItem"><a class="Footer-listLink" href="http://docs.cartodb.com/tutorials.html">Getting started</a></li>
      <% end %>
      <% unless cartodb_onpremise_version.blank? %>
      <li class="Footer-listItem DefaultParagraph">Version: <%= cartodb_onpremise_version %></li>
      <% end %>
    </ul>
    <% if cartodb_com_hosted? %>
        <a class="Footer-logo Logo Logo--grey" href="<%= root_url %>">
          <i class="CDB-IconFont CDB-IconFont-cartoFante"></i>
        </a>
    <% else %>
        <a class="Footer-logo Logo Logo--grey" href="http://cartodb.com">
          <i class="CDB-IconFont CDB-IconFont-cartoFante"></i>
        </a>
    <% end %>
    <ul class="Footer-list Footer-list--secondary">
    </ul>
  </div>
</div>
