<div id="header">
<nav class="navbar-placeholder">
  <div class="navbar-placeholder-logo">
        <%= image_tag ("imagotype.svg") %>
  </div>
</nav>
</div>
<%= stylesheet_link_tag  'header.css',  :media => 'all' %>
