<header class="cartodb-public-header">
  <div class="inner">
    <h1><%= link_to "CARTO", "https://carto.com", :id => "the_logo", :class => "logo" %></h1>
    <ul class="options">
      <li><a href="https://carto.com/learn/guides" class="guides">Guides</a><li>
      <% unless cartodb_com_hosted? %>
        <li><a class="signup" href="https://carto.com/signup">Sign up</a><li>
      <% end %>
      <li><a href="https://carto.com/login" class="border login">Login</a></li>
    </ul>
  </div>
</header>
