<header class="cartodb-public-header">
  <div class="inner">
    <h1><%= link_to "CartoDB", "http://www.cartodb.com", :id => "the_logo", :class => "logo" %></h1>
    <ul class="options">
      <li><a href="https://cartodb.com/gallery/" class="gallery">gallery</a><li>
      <% unless cartodb_com_hosted? %>
        <li><a class="signup" href="https://cartodb.com/signup">Sign up</a><li>
      <% end %>
      <li><a href="https://cartodb.com/login" class="border login">Login</a></li>
    </ul>
  </div>
</header>
