<div class="Header" id="header">
  <div class="Header-inner">
    <div class="Header-navigation">
      <nav class="Header-navigationToggles">
        <div class="Header-navigationToggleItem maps"><a href="<%= CartoDB.url(self, 'maps_index') %>">Maps</a></div>
        <div class="Header-navigationToggleItem datasets"><a href="<%= CartoDB.url(self, 'datasets_index') %>">Datasets</a></div>
      </nav>
    </div>
    <div class="Filters"></div>
    <div class="Header-settings">
      <% if current_user.has_feature_flag?('bbg_profile_menu') %>
      <ul class="Header-settingsList">
        <% unless cartodb_com_hosted? %>
        <li class="Header-settingsItem">
          <a target="_blank" href="http://cartodb.com/gallery/" class="Header-settingsLink Header-settingsLink--dashboard">Gallery</a>
        </li>
        <li class="Header-settingsItem">
          <a target="_blank" href="http://docs.cartodb.com/" class="Header-settingsLink Header-settingsLink--dashboard">Documentation</a>
        </li>
        <li class="Header-settingsItem Header-settingsItemNotifications js-user-notifications">
          <a href="#/notifications" class="UserNotifications">
            <i class="UserNotifications-Icon CDB-IconFont CDB-IconFont-Alert"></i>
          </a>
        </li>
        <% end %>
        <li class="Header-settingsItem Header-settingsItem--avatar">
          <button class="UserAvatar js-settings-dropdown">
          </button>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
