<div class="Header" id="header">
  <div class="u-inner Header-inner">
    <div class="Header-navigation">
      <ul class="Header-navigationList">
        <li>
          <ul class="Header-navigationBreadcrumb">
            <li class="Header-navigationBreadcrumbItem js-breadcrumb-dropdown"></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="Header-settings">
      <ul class="Header-settingsList">
        <li class="Filters"></li>
      <!--
        <li class="Header-settingsItem Header-settingsItem--avatar">
          <button class="UserAvatar js-settings-dropdown">
            <img src="<%= current_user.avatar %>" class='UserAvatar-img UserAvatar-img--medium' />
          </button>
        </li>
      -->
      </ul>
    </div>
  </div>
</div>
