<div class="cartodb-public-wrapper">
  <div class="cartodb-public-header">
    <div class="inner">

      <a class="logo" href="http://www.cartodb.com">CartoDB</a>

      <div class="options">
        <a href="#/copy-this-table" class="fork grey small button" title="Copy this table">Copy this table</a>
        <a href="http://www.cartodb.com/login" class="signin green button" title="Sign In">Sign In</a>
      </div>

    </div>
  </div>
