<% light = false if !light.present? %>

<footer id="Footer" class="Footer <%= 'Footer--light' if light %> Footer--public u-pr">
  <div class="Footer-inner Footer-inner--public">
    <div class="u-inner">
      <p class="PublicTitle PublicTitle--feature">Subscribe</p>
      <h3 class="Title Title--sectionMedium u-vspace--20">Keep up with CartoDB announcements</h3>

      <div class="Grid u-vspace-l">
        <ul class="Grid-inner">
          <li class="Grid-cell Grid-cell--col5 Grid-cell--col6--tablet Grid-cell--col12--mobile">
            <div class="Newsletter js-Hubspot--newsletter">
              <%= insert_hubspot_form() -%>
            </div>
          </li>

          <li class="Grid-cell Grid-cell--col7 Grid-cell--col6--tablet Grid-cell--col12--mobile">
            <p class="Footer-social">Or follow us on <a href="https://twitter.com/cartodb" target="_blank" class="Footer-link u-lspace--20">
              <i class="FooterIcon FooterIcon--twitter FooterIcon--s14 u-iblock u-malign">
                <svg width="18px" height="14px" viewBox="0 0 500 408" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="icons" sketch:type="MSArtboardGroup" transform="translate(-2000.000000, -500.000000)">
                      <path d="M2157.24789,907.407407 C2099.31782,907.407407 2045.39669,890.381519 2000,861.200045 C2008.02517,862.149901 2016.19116,862.635831 2024.47054,862.635831 C2072.53009,862.635831 2116.76177,846.193059 2151.86912,818.608736 C2106.98087,817.778071 2069.09726,788.042821 2056.04448,747.180689 C2062.30659,748.381761 2068.73331,749.025389 2075.34292,749.025389 C2084.69951,749.025389 2093.76166,747.769306 2102.37024,745.418505 C2055.44095,735.971292 2020.08303,694.401353 2020.08303,644.568769 C2020.08303,644.136016 2020.08303,643.705097 2020.09035,643.276012 C2033.92224,650.979378 2049.73847,655.605799 2066.5551,656.139405 C2039.03032,637.696068 2020.91883,606.215137 2020.91883,570.533203 C2020.91883,551.684619 2025.97754,534.016936 2034.80742,518.82658 C2085.40181,581.051296 2160.98797,621.997778 2246.24346,626.286798 C2244.49504,618.759466 2243.58609,610.909404 2243.58609,602.848467 C2243.58609,546.049664 2289.51681,500 2346.17031,500 C2375.67395,500 2402.33366,512.491152 2421.04686,532.480297 C2444.41274,527.866712 2466.36673,519.307009 2486.1864,507.52183 C2478.52701,531.537776 2462.2627,551.693787 2441.08234,564.42332 C2461.83291,561.936825 2481.6032,556.408225 2500,548.228097 C2486.24675,568.853535 2468.85402,586.96864 2448.81305,601.469526 C2449.01057,605.87957 2449.10933,610.315286 2449.10933,614.77484 C2449.10933,750.68672 2345.93072,907.407407 2157.24789,907.407407" id="icon_14_twitter" sketch:type="MSShapeGroup"></path>
                    </g>
                  </g>
                </svg>
              </i>
            </a> <a href="https://www.facebook.com/CartoDB" target="_blank" class="Footer-link u-lspace--20">
              <i class="FooterIcon FooterIcon--twitter FooterIcon--s14 u-iblock u-malign">
                <svg width="14px" height="14px" viewBox="0 0 500 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="icons" sketch:type="MSArtboardGroup" transform="translate(-2500.000000, -500.000000)">
                      <path d="M2972.40477,500 L2527.59523,500 C2512.35135,500 2500,512.351345 2500,527.595225 L2500,972.404775 C2500,987.644908 2512.35135,1000 2527.59523,1000 L2767.06483,1000 L2767.06483,806.374441 L2701.906,806.374441 L2701.906,730.913771 L2767.06483,730.913771 L2767.06483,675.264337 C2767.06483,610.682518 2806.50933,575.516872 2864.12021,575.516872 C2891.71544,575.516872 2915.43459,577.571995 2922.34558,578.489962 L2922.34558,645.981176 L2882.38964,645.99991 C2851.05697,645.99991 2844.9909,660.887843 2844.9909,682.735468 L2844.9909,730.913771 L2919.71532,730.913771 L2909.98486,806.374441 L2844.9909,806.374441 L2844.9909,1000 L2972.40477,1000 C2987.64491,1000 3000,987.644908 3000,972.404775 L3000,527.595225 C3000,512.351345 2987.64491,500 2972.40477,500" id="icon_15_facebook" sketch:type="MSShapeGroup"></path>
                    </g>
                  </g>
                </svg>
              </i>
            </a> <a href="https://www.linkedin.com/company/cartodb" target="_blank" class="Footer-link u-lspace--20">
              <i class="FooterIcon FooterIcon--twitter FooterIcon--s14 u-iblock u-malign">
                <svg width="14px" height="14px" viewBox="0 0 500 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="icons" sketch:type="MSArtboardGroup" transform="translate(-3000.000000, -500.000000)">
                      <path d="M3000,535.816886 C3000,516.041104 3016.54224,500 3036.94908,500 L3463.05091,500 C3483.45709,500 3500,516.041104 3500,535.816886 L3500,964.183113 C3500,983.965579 3483.45709,1000 3463.05091,1000 L3036.94908,1000 C3016.54224,1000 3000,983.965579 3000,964.183113 L3000,535.816886 L3000,535.816886 L3000,535.816886 Z M3141.32261,907.438908 L3141.32261,681.660906 L3065.80209,681.660906 L3065.80209,907.438908 L3141.32261,907.438908 L3141.32261,907.438908 Z M3103.56202,650.834731 C3129.89755,650.834731 3146.28918,633.497514 3146.28918,611.831003 C3145.79838,589.676778 3129.89755,572.820595 3104.06156,572.820595 C3078.22827,572.820595 3061.33775,589.676778 3061.33775,611.831003 C3061.33775,633.497514 3077.72603,650.834731 3103.06986,650.834731 L3103.56067,650.834731 L3103.56202,650.834731 L3103.56202,650.834731 Z M3183.11053,907.438908 L3258.63038,907.438908 L3258.63038,781.354914 C3258.63038,774.607096 3259.12119,767.865958 3261.11534,763.04227 C3266.57474,749.559994 3279.00092,735.596687 3299.86361,735.596687 C3327.19085,735.596687 3338.12241,756.301132 3338.12241,786.652954 L3338.12241,907.438908 L3413.63621,907.438908 L3413.63621,777.981005 C3413.63621,708.632137 3376.37852,676.362864 3326.69197,676.362864 C3285.95089,676.362864 3268.06532,698.991442 3258.12814,714.404528 L3258.6324,714.404528 L3258.6324,681.660906 L3183.11254,681.660906 C3184.10357,702.846383 3183.11254,907.438908 3183.11254,907.438908 L3183.11053,907.438908 L3183.11053,907.438908 Z" id="icon_16_linkedin" sketch:type="MSShapeGroup"></path>
                    </g>
                  </g>
                </svg>
              </i>
            </a></p>
          </li>
        </ul>
      </div>

      <hr class="Sep u-vspace-l u-mobile-hide"></hr>

      <div class="u-block--mobile">
        <dl class="Footer-column Footer-column--mobile">
          <dd class="Footer-item Footer-item--mobile"><i class="FooterIcon FooterIcon--mobile Footer-arrow">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="6px" height="10px" viewBox="0 0 272 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
              <title>icon_03_caretRight</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icons" transform="translate(-1500.000000, 0.000000)" fill="#ddd">
                  <path d="M1748.23301,281.69014 L1772,249.999999 L1748.23301,218.309858 L1616.19418,42.2535212 L1584.50485,0 L1500,63.380282 L1531.68932,105.633803 L1639.61495,250.461632 L1531.68932,394.366197 L1500,436.619718 L1584.50485,500 L1616.19418,457.746479 L1748.23301,281.69014 L1748.23301,281.69014 Z" id="icon_03_caretRight"></path>
                </g>
              </g>
            </svg>
          </i><a class="Footer-link" href="https://cartodb.com/editor/">Editor</a></dd>
          <dd class="Footer-item Footer-item--mobile"><i class="FooterIcon FooterIcon--mobile Footer-arrow">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="6px" height="10px" viewBox="0 0 272 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
              <title>icon_03_caretRight</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icons" transform="translate(-1500.000000, 0.000000)" fill="#ddd">
                  <path d="M1748.23301,281.69014 L1772,249.999999 L1748.23301,218.309858 L1616.19418,42.2535212 L1584.50485,0 L1500,63.380282 L1531.68932,105.633803 L1639.61495,250.461632 L1531.68932,394.366197 L1500,436.619718 L1584.50485,500 L1616.19418,457.746479 L1748.23301,281.69014 L1748.23301,281.69014 Z" id="icon_03_caretRight"></path>
                </g>
              </g>
            </svg>
          </i><a class="Footer-link" href="https://cartodb.com/platform/">Platform</a></dd>
          <dd class="Footer-item Footer-item--mobile"><i class="FooterIcon FooterIcon--mobile Footer-arrow">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="6px" height="10px" viewBox="0 0 272 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
              <title>icon_03_caretRight</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icons" transform="translate(-1500.000000, 0.000000)" fill="#ddd">
                  <path d="M1748.23301,281.69014 L1772,249.999999 L1748.23301,218.309858 L1616.19418,42.2535212 L1584.50485,0 L1500,63.380282 L1531.68932,105.633803 L1639.61495,250.461632 L1531.68932,394.366197 L1500,436.619718 L1584.50485,500 L1616.19418,457.746479 L1748.23301,281.69014 L1748.23301,281.69014 Z" id="icon_03_caretRight"></path>
                </g>
              </g>
            </svg>
          </i><a class="Footer-link" href="https://cartodb.com/location-data-services/">Location Data Services</a></dd>
          <dd class="Footer-item Footer-item--mobile"><i class="FooterIcon FooterIcon--mobile Footer-arrow">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="6px" height="10px" viewBox="0 0 272 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
              <title>icon_03_caretRight</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icons" transform="translate(-1500.000000, 0.000000)" fill="#ddd">
                  <path d="M1748.23301,281.69014 L1772,249.999999 L1748.23301,218.309858 L1616.19418,42.2535212 L1584.50485,0 L1500,63.380282 L1531.68932,105.633803 L1639.61495,250.461632 L1531.68932,394.366197 L1500,436.619718 L1584.50485,500 L1616.19418,457.746479 L1748.23301,281.69014 L1748.23301,281.69014 Z" id="icon_03_caretRight"></path>
                </g>
              </g>
            </svg>
          </i><a class="Footer-link" href="https://cartodb.com/mobile/">Mobile</a></dd>
          <dd class="Footer-item Footer-item--mobile"><i class="FooterIcon FooterIcon--mobile Footer-arrow">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="6px" height="10px" viewBox="0 0 272 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
              <title>icon_03_caretRight</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icons" transform="translate(-1500.000000, 0.000000)" fill="#ddd">
                  <path d="M1748.23301,281.69014 L1772,249.999999 L1748.23301,218.309858 L1616.19418,42.2535212 L1584.50485,0 L1500,63.380282 L1531.68932,105.633803 L1639.61495,250.461632 L1531.68932,394.366197 L1500,436.619718 L1584.50485,500 L1616.19418,457.746479 L1748.23301,281.69014 L1748.23301,281.69014 Z" id="icon_03_caretRight"></path>
                </g>
              </g>
            </svg>
          </i><a class="Footer-link" href="https://cartodb.com/deep-insights/">Deep Insights</a></dd>
          <dd class="Footer-item Footer-item--mobile"><i class="FooterIcon FooterIcon--mobile Footer-arrow">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="6px" height="10px" viewBox="0 0 272 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
              <title>icon_03_caretRight</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icons" transform="translate(-1500.000000, 0.000000)" fill="#ddd">
                  <path d="M1748.23301,281.69014 L1772,249.999999 L1748.23301,218.309858 L1616.19418,42.2535212 L1584.50485,0 L1500,63.380282 L1531.68932,105.633803 L1639.61495,250.461632 L1531.68932,394.366197 L1500,436.619718 L1584.50485,500 L1616.19418,457.746479 L1748.23301,281.69014 L1748.23301,281.69014 Z" id="icon_03_caretRight"></path>
                </g>
              </g>
            </svg>
          </i><a href="https://cartodb.com/pricing/" class="Footer-link">Pricing</a></dd>
          <dd class="Footer-item Footer-item--mobile"><i class="FooterIcon FooterIcon--mobile Footer-arrow">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="6px" height="10px" viewBox="0 0 272 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
              <title>icon_03_caretRight</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icons" transform="translate(-1500.000000, 0.000000)" fill="#ddd">
                  <path d="M1748.23301,281.69014 L1772,249.999999 L1748.23301,218.309858 L1616.19418,42.2535212 L1584.50485,0 L1500,63.380282 L1531.68932,105.633803 L1639.61495,250.461632 L1531.68932,394.366197 L1500,436.619718 L1584.50485,500 L1616.19418,457.746479 L1748.23301,281.69014 L1748.23301,281.69014 Z" id="icon_03_caretRight"></path>
                </g>
              </g>
            </svg>
          </i><a href="https://cartodb.com/team/" class="Footer-link">Team</a></dd>
          <dd class="Footer-item Footer-item--mobile"><i class="FooterIcon FooterIcon--mobile Footer-arrow">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="6px" height="10px" viewBox="0 0 272 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
              <title>icon_03_caretRight</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icons" transform="translate(-1500.000000, 0.000000)" fill="#ddd">
                  <path d="M1748.23301,281.69014 L1772,249.999999 L1748.23301,218.309858 L1616.19418,42.2535212 L1584.50485,0 L1500,63.380282 L1531.68932,105.633803 L1639.61495,250.461632 L1531.68932,394.366197 L1500,436.619718 L1584.50485,500 L1616.19418,457.746479 L1748.23301,281.69014 L1748.23301,281.69014 Z" id="icon_03_caretRight"></path>
                </g>
              </g>
            </svg>
          </i><a href="https://cartodb.com/jobs/" class="Footer-link">Jobs</a></dd>
          <dd class="Footer-item Footer-item--mobile"><i class="FooterIcon FooterIcon--mobile Footer-arrow">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="6px" height="10px" viewBox="0 0 272 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
              <title>icon_03_caretRight</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icons" transform="translate(-1500.000000, 0.000000)" fill="#ddd">
                  <path d="M1748.23301,281.69014 L1772,249.999999 L1748.23301,218.309858 L1616.19418,42.2535212 L1584.50485,0 L1500,63.380282 L1531.68932,105.633803 L1639.61495,250.461632 L1531.68932,394.366197 L1500,436.619718 L1584.50485,500 L1616.19418,457.746479 L1748.23301,281.69014 L1748.23301,281.69014 Z" id="icon_03_caretRight"></path>
                </g>
              </g>
            </svg>
          </i><a href="https://cartodb.com/terms/" class="Footer-link">Terms of Service</a></dd>
          <dd class="Footer-item Footer-item--mobile"><i class="FooterIcon FooterIcon--mobile Footer-arrow">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="6px" height="10px" viewBox="0 0 272 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
              <title>icon_03_caretRight</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icons" transform="translate(-1500.000000, 0.000000)" fill="#ddd">
                  <path d="M1748.23301,281.69014 L1772,249.999999 L1748.23301,218.309858 L1616.19418,42.2535212 L1584.50485,0 L1500,63.380282 L1531.68932,105.633803 L1639.61495,250.461632 L1531.68932,394.366197 L1500,436.619718 L1584.50485,500 L1616.19418,457.746479 L1748.23301,281.69014 L1748.23301,281.69014 Z" id="icon_03_caretRight"></path>
                </g>
              </g>
            </svg>
          </i><a href="https://cartodb.com/privacy/" class="Footer-link">Privacy Policy</a></dd>
        </dl>
      </div>

      <div class="Grid Footer-columns Footer-columns--noBorder u-mobile-hide">
        <ul class="Grid-inner Grid-inner--shortpadding">
          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-title u-vspace-xs">Product</dt>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/editor/">Editor</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/platform/">Platform</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/location-data-services/">Location Data Services</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/mobile/">Mobile</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/deep-insights/">Deep Insights</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/extras/">Extras</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/enterprise/">Enterprise</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/enterprise/#on-premises">On-premises</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/open-in-cartodb/">Open in CartoDB</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/torque/">Torque</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/pricing/">Pricing</a></dd>
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-title u-vspace-xs">Solutions</dt>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/industries/banking-and-finance/">Banking and Finance</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/industries/business-intelligence-and-analytics/">BI and Analytics</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/industries/government/">Government</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/industries/real-estate/">Real Estate</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/industries/web-mobile/">Web Development</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/industries/journalism/">Journalism</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/industries/natural-resources/">Natural Resources</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/industries/earth-observation-and-space/">Earth Observation</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/industries/non-profits/">Non-profits</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/industries/education-and-research/">Education</a></dd>
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-title u-vspace-xs">Cartodb for</dt>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/cartodb-for/google-platform">Google Platform</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/cartodb-for/twitter-maps/">Twitter Maps</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/cartodb-for/excel-data/">Excel Data</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/cartodb-for/data-dashboard/">Data Dashboards</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/cartodb-for/election-maps/">Election Maps</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/cartodb-for/store-locator/">Store Locator</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/cartodb-for/gis-online-software/">Online GIS Maps</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/cartodb-for/satellite-aerial-image/">Satellite Imagery</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/cartodb-for/dropbox/">Dropbox</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/cartodb-for/mailchimp/">MailChimp</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/cartodb-for/google-drive/">Google Drive</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/cartodb-for/arcgis/">ArcGIS™</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/cartodb-for/qlik/">Qlik</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/cartodb-for/splunk/">Splunk</a></dd>
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-title u-vspace-xs">Discover</dt>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/explore">Explore</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/gallery/">Gallery</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/ambassadors/">Ambassadors</a></dd>
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-title u-vspace-xs">Learn</dt>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/docs/">Documentation</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="http://academy.cartodb.com/">The Map Academy</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/resources/">Resources Center</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/webinars/">Webinars</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="http://blog.cartodb.com/">Blog</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://github.com/CartoDB/cartodb">Source Code</a></dd>
              <dd class="Footer-item"><a class="Footer-link" href="https://cartodb.com/contributing/">Contributions</a></dd>
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-title u-vspace-xs">About us</dt>
              <dd><a class="Footer-link" href="https://cartodb.com/team/">Team</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/team/#board">Board and Investors</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/jobs/">Jobs</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/press/">Press</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/partners/">Partners</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/attributions/">Attributions</a></dd>
              <dd><a class="Footer-link" href="mailto:sales@cartodb.com">Contact Sales</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/request-live-demo/">Request a Demo</a></dd>
            </dl>
          </li>
        </ul>
      </div>

      <div class="Grid u-vspace--60 Footer-colophon Footer-columns Footer-columns--footer Footer-columns--noBorder">
        <ul class="Grid-inner Grid-inner--end">
          <li class="Grid-cell Grid-cell--col6 Grid-cell--col12--mobile u-valign">
            <a href="http://cartodb.com" class="Footer-logo u-iblock">
              <span class="Logo Logo--avatar Logo--footer">
                <i class="CDB-IconFont CDB-IconFont-cartoFante"></i>
              </span>
            </a>
            <p class="Footer-credits u-iblock u-txt-left u-malign"><span class="Footer-title">CartoDB</span><br />Map Your World's Data</p>
          </li>

          <li class="Grid-cell Grid-cell--col6 u-mobile-hide">
            <ul class="u-txt-right u-txt-center--mobile">
              <li class="u-iblock"><a href="/love/" class="Footer-link">Love</a> · </li>
              <li class="u-iblock"><a href="/terms/" class="Footer-link">Terms of Service</a> · </li>
              <li class="u-iblock"><a href="/privacy/" class="Footer-link">Privacy Policy</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
