<header>
  <div class="inner">
    <div class="logo left"><%= link_to "CartoDB", "http://www.cartodb.com" %></div>
    <ul class="right">
    <li class="signin"><a href="http://cartodb.com/login" class="signin green button" title="Sign in">Sign in</a></li>
  </ul>
</div>
</header>
