<div class="cartodb-public-wrapper">
  <div class="cartodb-public-header">
    <div class="inner">

      <a class="logo" href="http://www.cartodb.com">CartoDB</a>

      <div class="options">
        <a href="#fork" class="fork green button" title="Sign In">FORK</a>
        <a href="http://www.cartodb.com/login" class="signin green button" title="Sign In">Sign In</a>
      </div>

    </div>
  </div>
