<div class="cartodb-public-wrapper">
  <div class="cartodb-public-header">
    <div class="inner">
      <div class="logo left">
        <h1><%= link_to "CartoDB", "http://www.cartodb.com", :id => "the_logo" %></h1>
      </div>
      <div class="options">
        <a href="#/clone" class="fork grey small button" title="Clone">Clone</a>
        <a href="http://www.cartodb.com/login" class="signin green button" title="Sign In">Sign In</a>
      </div>

    </div>
  </div>
