<div class="Header" id="header">
  <div class="u-inner Header-inner">
    <div class="Header-navigation">
      <ul class="Header-navigationList">
        <li class="js-logo">
          <a href="<%= cartodb_com_hosted? ? CartoDB.url(self, 'root') : "http://cartodb.com" %>">
            <span class="Logo Logo--avatar">
              <i class="CDB-IconFont CDB-IconFont-cartoFante"></i>
            </span>
          </a>
        </li>

        <% if cartodb_com_hosted? %>
          <li class="Header-navigationItem u-hideOnTablet">
            <a href="<%= CartoDB.url(self, 'root') %>" class="Header-navigationLink">CartoDB</a>
          </li>
        <% else %>
          <li class="Header-navigationItem js-user-tour u-hideOnTablet">
            <a href="http://cartodb.com" class="Header-navigationLink js-dropdown-target">Product <i class="Header-darrow CDB-IconFont CDB-IconFont-caretDown"></i></a>
          </li>

          <li class="Header-navigationItem js-user-industries u-hideOnTablet">
            <a href="#/industries" class="Header-navigationLink js-dropdown-target">Solutions <i class="Header-darrow CDB-IconFont CDB-IconFont-caretDown"></i></a>
          </li>

          <li class="Header-navigationItem js-user-discover u-hideOnTablet">
            <a href="#/discover" class="Header-navigationLink js-dropdown-target">Discover <i class="Header-darrow CDB-IconFont CDB-IconFont-caretDown"></i></a>
          </li>

          <li class="Header-navigationItem js-user-resources u-hideOnTablet">
            <a href="#/resources" class="Header-navigationLink js-dropdown-target">Learn <i class="Header-darrow CDB-IconFont CDB-IconFont-caretDown"></i></a>
          </li>

          <li class="Header-navigationItem u-hideOnTablet">
            <a href="http://cartodb.com/pricing/" class="Header-navigationLink">Pricing</a>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="Header-settings">
      <% if current_user.has_feature_flag?('bbg_profile_menu') %>
      <ul class="Header-settingsList js-user-settings">
        <li class="Header-settingsItem js-login">
          <a href="<%= login_url %>" class="Header-settingsLink">Login</a>
        </li>

        <% unless cartodb_com_hosted? %>
          <li class="Header-settingsItem">
            <a href="http://cartodb.com/signup" class="PublicButton PublicButton--sMedium PublicButton--cWhite is-hover">
              <span>Sign up</span>
            </a>
          </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>
