<footer>
  <div class="inner">
    <nav class="left">
      © <%= Date.today.year %> CartoDB <span>-</span> <%= link_to "Create your own maps", "http://cartodb.com/signup", { :class => "signup" } %>
    </nav>
    <p class="right"><%= link_to "Terms of Service", "http://cartodb.com/terms", :target => "blank" %> · <%= link_to "Privacy policy", "http://cartodb.com/privacy", :target => "blank" %></p>
  </div>
</footer>