<div class="Header Header--tall Header--dark" id="header">
  <div class="Header-inner u-inner">
    <div class="Header-navigation">
      <ul class="Header-navigationList">
        <li class="js-logo">
          <a href="<%= cartodb_com_hosted? ? CartoDB.url(self, 'root') : "http://cartodb.com" %>">
            <span class="Logo Logo--avatar">
              <i class="iconFont iconFont-CartoFante Logo-icon Logo-icon--dark"></i>
            </span>
          </a>
        </li>

        <% if cartodb_com_hosted? %>
          <li class="Header-navigationItem u-hideOnMobile">
            <a href="<%= CartoDB.url(self, 'root') %>" class="Header-navigationLink">CartoDB</a>
          </li>
        <% else %>
          <li class="Header-navigationItem js-user-tour u-hideOnMobile">
            <a href="http://cartodb.com" class="Header-navigationLink js-dropdown-target">Tour <i class="Header-darrow iconFont iconFont-ArrowMenu"></i></a>
          </li>

          <li class="Header-navigationItem js-user-industries u-hideOnMobile">
            <a href="#/industries" class="Header-navigationLink js-dropdown-target">Industries <i class="Header-darrow iconFont iconFont-ArrowMenu"></i></a>
          </li>

          <li class="Header-navigationItem u-hideOnMobile">
            <a href="http://cartodb.com/gallery/" class="Header-navigationLink">Gallery</a>
          </li>

          <li class="Header-navigationItem u-hideOnMobile">
            <a href="http://cartodb.com/pricing/" class="Header-navigationLink">Pricing</a>
          </li>

          <li class="Header-navigationItem js-user-resources u-hideOnMobile">
            <a href="#/resources" class="Header-navigationLink js-dropdown-target">Resources <i class="Header-darrow iconFont iconFont-ArrowMenu"></i></a>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="Header-settings">
      <ul class="Header-settingsList js-user-settings">
        <li class="Header-settingsItem js-login">
          <a href="<%= CartoDB.url(self, 'login') %>" class="Header-settingsLink">Login</a>
        </li>

        <% unless cartodb_com_hosted? %>
          <li class="Header-settingsItem">
            <a href="http://cartodb.com/signup" class="Button Button--headerPositive">
              <span>Sign up</span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="Header-inner Header-title u-inner">
    <div class="Header-innerTitle">
      <h1 class="Title-small">Data library</h1>
      <p class="Title Title--l Title--white u-vspace-l">Open resources to help you populate your maps</p>
    </div>
  </div>

  <div class="Header-inner u-inner">
    <div class="CountrySelector">
      <p class="CountrySelector-text">Filter datasets by country selecting it in this map</p>
      <button class="CountrySelector-button js-country"></button>
    </div>
  </div>
</div>
