<header>
  <div class="inner">
    <h1 class="left"><%= link_to "CartoDB", root_path %></h1>
    <ul class="right">      
      <li><%= link_to 'Learn more', "#" %></a></li>
      <li><a href="http://www.cartodb.com/login" class="signin green button" title="Sign In">Sign In</a></li>
    </ul>
  </div>
</header>
