<header>
  <div class="inner">
    <h1 class="left"><%= link_to "CartoDB", "http://www.cartodb.com" %></h1>
    <ul class="right">
      <li class="signin"><a href="<%= login_path %>" class="signin green button" title="Sign in">Sign in</a></li>
  </ul>
</div>
</header>
