<header>
  <div class="inner">
    <h1 class="left"><%= link_to "CartoDB", root_path %></h1>
    <ul class="right">
      <li class="learn_more"><%= link_to 'Learn more', "http://www.cartodb.com" %></a></li>
    <li class="signin"><a href="/login" class="signin green button" title="Sign in">Sign in</a></li>
  </ul>
</div>
</header>
