<footer>
  <div class="inner">
    <nav class="left">
      © <%= Date.today.year %> CartoDB - <%= link_to "Create your own maps", "http://cartodb.com" %>
    </nav>
    <p class="right"><%= link_to "Terms of Service", "http://cartodb.com/terms", :target => "blank" %></p>
  </div>
</footer>
