<div class="inner">
  <div class="search search_bar">
    <form action="/dashboard/#/search/">
      <i></i>
      <input type="text" value="<%= params[:q] %>" name="q" placeholder="Search by name" />
    </form>
  </div>
</div>
