<header class="table">
  <div class="inner">
    <div class="left">
      <hgroup>
        <h1><%= link_to "CartoDB", root_path %></h1>
        <h2 class="special"><%= link_to "", "#change_title", :class => "change_title" %></h2>
      </hgroup>
      <span class="table_description"><p></p></span>
      <span class="tags"></span>
      <nav>
        <%= link_to "table",        "#table",   :class => "smaller strong uppercase tab selected" %>
        <%= link_to "map view",     "#map",     :class => "smaller strong uppercase tab" %>
      </nav>
    </div>
    <ul class="right options">
    </ul>
  </div>
</header>

