<% if current_user.account_type == 'PERSONAL30' %>
    <div class="CDB-Text FlashMessage FlashMessage--main">
        <div class="u-inner">
            <div class="FlashMessage FlashMessage-info FlashMessage--main u-flex u-justifySpace u-alignCenter">
                <p><%= t('admin.shared.trial.period') %></p>
                <p class="u-flex">
                    <a href="<%= current_user.update_payment_url(request.protocol) %>" class="CDB-Button CDB-Button--secondary CDB-Button--secondary--background CDB-Button--big">
                        <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase"><%= t('admin.shared.trial.method') %></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
<% end %>
