<% if current_user.account_type == 'PERSONAL30' ||  current_user.account_type == 'Professional' %>
  <div class="FlashMessage-container">
    <div class="CDB-Text FlashMessage FlashMessage--main">
      <div class="u-inner">
        <div class="FlashMessage FlashMessage-info FlashMessage--main u-flex u-justifyCenter u-alignCenter">
          <p class="FlashMessage--text"><%= current_user.remaining_trial_days %> days left days left in your Trial Period. To keep using our platform,
            <a href="<%= current_user.update_payment_url(request.protocol) %>" class="FlashMessage--text">Subscribe now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
