<% if current_user.show_trial_reminder? %>
  <div class="CDB-Text FlashMessage FlashMessage--main">
    <div class="u-inner">
      <div class="FlashMessage FlashMessage-info FlashMessage--main u-flex u-justifyCenter u-alignCenter">
        <p class="FlashMessage--text"><%= current_user.remaining_trial_days %> days left in your account.
          <a href="<%= current_user.upgrade_url(request.protocol) %>" class="FlashMessage--text">Upgrade now.</a>
        </p>
      </div>
    </div>
  </div>
<% end %>
