<header class="vis">
  <div class="inner">

    <div class="header_content">



      <div class="left">
        <ul class="actions">
          <li><a class="privacy" href="#/visualize"><i class="privacy-status"></i></a></li>
          <li><form>
              <input type="text" />
              <input type="submit" />
          </li></form>
          <li><a class="dropdown add_overlay button" href="#">Annotate</a></li>
          <li><div class="vis_navigation">
            <nav>
              <%= link_to "Map",  "#/map",   :class => "smaller strong tab" %>
              <%= link_to "Table", "#/table", :class => "smaller strong tab hidden" %>
            </nav>
          </div></li>
        </ul>
      </div>

      <div class="right">
        <ul class="options">
          <li><%= link_to "Actions", "#/options", :class => "rounded btn dropdown options" %></li>
          <li><a class="rounded btn share" href="#/visualize"><span>VISUALIZE</span></a></li>
        </ul>
      </div>
    </div>

    <div class="sync_status"></div>
    <div class="globalerror"></div>
  </div>
</header>
