<header class="vis">
<div class="inner">
  <div class="left">
    <hgroup>
    <h1><%= link_to "CartoDB", 'http://www.cartodb.com' %></h1>
    <h2 class="special"><a></a></h2>
    <label class="small author">
      <span></span>
    </label>
    </hgroup>
    <span class="table_description"><p></p></span>
    <nav>
    <%= link_to "Table",    "#/table", :class => "smaller strong tab selected" %>
    <%= link_to "Map view", "#/map",   :class => "smaller strong tab" %>
    </nav>
  </div>
  <div>
    <ul class="right options">
      <li><a class="button_header rounded white data_download"><span class="icon"></span>download this data</a></li>
      <li><a href="/login">sign in</a></li>
    </ul>
    <div class="shadow"></div>
  </div>
</div>
</header>

