<header class="vis">
  <div class="inner map_toolbar">

    <div class="header_content">
      <div class="left header_block">
        <ul class="actions">
          <li><a class="privacy" href="#/visualize"><i class="privacy-status"></i></a></li>
          <li><form>
              <input type="text" />
              <input type="submit" />
          </li></form>
          <li><a class="rounded button add_new_layer" href="#/add-new-layer">Browse</a></li>
          <li><a class="dropdown add_overlay button" href="#">Annotate</a></li>
          <li><div class="vis_navigation">
            <nav>
              <%= link_to "Map",  "#/map",   :class => "smaller strong tab button" %>
              <%= link_to "Table", "#/table", :class => "smaller strong tab hidden button" %>
            </nav>
          </div></li>
          <li><div class="sync_status"></div></li>
        </ul>
      </div>

      <div class="right header_block">
        <ul class="options">
          <li><%= link_to "Actions", "#/options", :class => "rounded btn dropdown options" %></li>
          <li><a class="rounded btn share" href="#/visualize"><span>EXPORT</span></a></li>
        </ul>
      </div>

      <div class="globalerror"></div>
    </div>
  </div>
</header>
