<span>
  <% if (title === null) { %>
    <span class="italic">null</span>
  <% } else if (title !== false && title !== true && title !== "Others") { %>
    "<%- title %>"
  <% } else { %>
    <%- title %>
  <% } %>
</span>
<span class='field'></span>