<span>
  <% if (value === null) { %>
    <span class="italic">null</span>
  <% } else if (value !== false && value !== true && value !== "Others") { %>
    "<%- value %>"
  <% } else { %>
    <%- value %>
  <% } %>
</span>
<span class='field'></span>