<li class="point <% if (!point) { %>disabled<% } %>">
  <a href="#/point" class="opt" tabindex="-1">
    <div class="icon_container">
      <div class="icon">
        <div class="marker a"></div>
        <div class="marker b"></div>
        <div class="marker c"></div>
      </div>
    </div>
    <% if (!available) { %>
      <div class="loading"></div>
      <span>Checking if point data is available for your selection.</span>
    <% } else { %>
      <% if (point) { %>
        <span>Georeference your data with points</span>
      <% } else { %>
        <div class="warning"></div>
        <span>No point data available for your selection.</span>
      <% } %>
    <% } %>
  </a>
</li>
<li class="polygon <% if (!polygon) { %>disabled<% } %>">
  <a href="#/polygon" class="opt" tabindex="-1">
    <div class="icon_container"><div class="icon"></div></div>
    <% if (!available) { %>
      <div class="loading"></div>
      <span>Checking if polygon data is available for your selection.</span>
    <% } else { %>
      <% if (polygon) { %>
        <span>Georeference your data with administrative regions</span>
      <% } else { %>
        <div class="warning"></div>
        <span>No polygon data available for your selection. <em data-title="Sorry, we don't have polygons available for the datatype you are trying to geocode. For example, if you are geocoding placenames we can only give you points for where those places exist." class="learn_more">Learn more</em></span>
      <% } %>
    <% } %>
  </a>
</li>
