<div class="geocoding-pane-content">
  <div class="geocoding-pane-content-wrapper">
    <div class="geocoding-pane-step first">
      <div class="geocoding-pane-title">
        <h4>Select the column that has the country's / state's / province's / municipality's name</h4>
      </div>
      <div class="geocoding-pane-options">
        <ul>
          <li>
            <label class="geocoding-pane-label">In which column are your region names stored?</label>
            <div class="geocoding-pane-select kind"></div>
          </li>
          <li>
            <label class="geocoding-pane-label">If your column isn't country data, where's it?</label>
            <div class="geocoding-pane-select location"></div>
          </li>
        </ul>
      </div>
      <div class="infobox"></div>
    </div>
    <div class="geocoding-pane-step second"></div>
  </div>
</div>

<div class="geocoding-pane-foot">
  <a class="back" href="#/back">Back</a>
  <a class="ok button grey <%- valid ? '' : 'disabled' %>" href="#/continue">Continue</a>
</div>