<div class="geocoding-pane-title">
  <h4>Select the column that has your IP Addresses</h4>
</div>
<div class="geocoding-pane-options">
  <ul>
    <li>
      <label class="geocoding-pane-label">Which column are your IP addresses stored in?</label>
      <div class="geocoding-pane-select ip"></div>
    </li>
  </ul>
</div>
<div class="geocoding-pane-foot">
  <a class="ok button grey <%= valid ? '' : 'disabled' %>" href="#/continue">Continue</a>
</div>