<div class="pane-content">
  <ul class="lonlat-columns">
    <li class="column">
      <label>Select your longitude column</label>
      <div class="lonlat-content table-column longitude"></div>
    </li>
    <li class="separator">
      <label></label>
      <div class="separator-content">&</span>
    </li>
    <li class="column">
      <label>Select your latitude column</label>
      <div class="lonlat-content table-column latitude"></div>
    </li>
  </ul>
  <div class="infobox"></div>
</div>
<div class="geocoding-pane-foot">
  <a class="ok button grey <%- valid ? '' : 'disabled' %>" href="#/continue">Continue</a>
</div>