<div class="pane-content">
  <div class="geocoding-pane-title">
    <h4>Select the column that contains the IP's name</h4>
  </div>
  <div class="geocoding-pane-options">
    <ul>
      <li>
        <label class="geocoding-pane-label">In which column are your IP addresses stored?</label>
        <div class="geocoding-pane-select ip"></div>
      </li>
    </ul>
  </div>
  <div class="infobox"></div>
</div>
<div class="geocoding-pane-foot">
  <a class="ok button grey <%- valid ? '' : 'disabled' %>" href="#/continue">Continue</a>
</div>