<div class="geocoding-pane-content">
  <div class="geocoding-pane-content-wrapper">
    <div class="geocoding-pane-step first">
      <div class="geocoding-pane-title">
        <h4>Select the column(s) that has country / state / province names</h4>
      </div>
      <div class="geocoding-pane-options">
        <ul>
          <li>
            <label class="geocoding-pane-label">Do you have country names in any of your columns?</label>
            <div class="geocoding-pane-select kind"></div>
          </li>
          <li>
            <label class="geocoding-pane-label">Where do they belong?</label>
            <div class="geocoding-pane-select country"></div>
          </li>
        </ul>
      </div>
      <div class="infobox"></div>
    </div>
    <div class="geocoding-pane-step second"></div>
  </div>
</div>

<div class="geocoding-pane-foot">
  <a class="back" href="#/back">Back</a>
  <a class="ok button grey <%= valid ? '' : 'disabled' %>" href="#/continue">Continue</a>
</div>