<div class="geocoding-pane-content">
  <div class="geocoding-pane-content-wrapper">
    <div class="geocoding-pane-step first">
      <div class="geocoding-pane-title">
        <h4>Select the column that contains the city's name</h4>
      </div>
      <div class="geocoding-pane-options">
        <ul>
          <li>
            <label class="geocoding-pane-label">In which column are your city names stored?</label>
            <div class="geocoding-pane-select kind"></div>
          </li>
          <li>
            <label class="geocoding-pane-label">Admin. Region where city's located, if known</label>
            <div class="geocoding-pane-select region"></div>
          </li>
          <li>
            <label class="geocoding-pane-label">Country where city's located, if known</label>
            <div class="geocoding-pane-select location"></div>
          </li>
        </ul>
      </div>
      <div class="infobox"></div>
    </div>
    <div class="geocoding-pane-step second"></div>
  </div>
</div>

<div class="geocoding-pane-foot">
  <a class="back" href="#/back">Back</a>
  <a class="ok button grey <%- valid ? '' : 'disabled' %>" href="#/continue">Continue</a>
</div>