  <% mfa_configured = @user.multifactor_authentication_configured? %>
  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">
        Multi-factor authentication
      </label>
    </div>
    <div class="FormAccount-rowData">
      <div class="Toggler">
        <%= f.check_box :mfa, id: "mfa", checked: mfa_configured %>
        <%= label_tag(:mfa, '') %>
      </div>
      <div class="FormAccount-rowInfo u-lspace-23">
        <p class="CDB-Text CDB-Size-small u-altTextColor">
          If you change the Multi-factor authentication, it will be available only for this user. When you change the status, the user will be logged out and redirected to the login page.
        </p>
      </div>
    </div>
  </div>