<div class="CDB-Tooltip CDB-Tooltip--isLight">
  <ul class="CDB-Tooltip-list">
    {{#fields}}
      <li class="CDB-Tooltip-listItem">
        {{#title}}
          <h3 class="CDB-Tooltip-listTitle">{{{ title }}}</h3>
        {{/title}}
        <h4 class="CDB-Tooltip-listText">{{{ value }}}</h4>
      </li>
    {{/fields}}
  </ul>
</div>
