<%= content_for(:title) do %>CARTO &mdash; Explore<% end %>
<%= content_for(:description) do %>Discover insights through maps, data visualizations, and datasets. Everything related to big data and location intelligence is just one click away.<% end %>
<div class="CDB-Text Explore js-explore"></div>
