<div class="content">
  <div class="text overlay_text"></div>
  <a class="close" href="#close">x</a>
  <div class="hint"><strong>**bold**</strong> <em>*italics*</em> <span>[link title](url)</span></div>
</div>
