<ul>
    <li data-xpos="left" data-ypos="top"><span>&nwarr;</span>Top Left</li>
    <li data-xpos="right" data-ypos="top"><span>&nearr;</span>Top Right</li>
    <li data-xpos="left" data-ypos="bottom"><span>&swarr;</span>Bottom Left</li>
    <li data-xpos="right" data-ypos="bottom"><span>&searr;</span>Bottom Right</li>
</ul>