<li class="actions">
  <span>Actions</span>
  <span class="field double-field">
    <a href="#" class="btn btn-zIndexInc" data-tipsy="bring to front"></a>
    <a href="#" class="btn btn-zIndexDec" data-tipsy="send to back"></a>
  </span>
  <span class="field double-field">
    <a href="#" class="btn btn-copy" data-tipsy="duplicate"></a>
    <a href="#" class="btn btn-delete" data-tipsy="delete"></a>
  </span>
</li>
