<li class="actions">
  <span>Actions</span>
  <span class="field double-field">
    <a href="#" class="btn btn-zIndexInc"></a>
    <a href="#" class="btn btn-zIndexDec"></a>
  </span>
  <span class="field double-field">
    <a href="#" class="btn btn-copy"></a>
    <a href="#" class="btn btn-delete"></a>
  </span>
</li>
