<li class="actions">
  <span>Actions</span>
  <span class="field double-field">
    <a href="#" class="btn btn-zIndexInc" title="bring to front"></a>
    <a href="#" class="btn btn-zIndexDec" title="send to back"></a>
  </span>
  <span class="field double-field">
    <a href="#" class="btn btn-copy" title="duplicate"></a>
    <a href="#" class="btn btn-delete" title="delete"></a>
  </span>
</li>
