<li class="actions">
  <span>Actions</span>
  <span class="field">
    <a href="#" class="btn btn-copy"></a>
  </span>
  <span class="field">
    <a href="#" class="btn btn-delete"></a>
  </span>
  <span class="field">
    <a href="#" class="btn"></a>
  </span>
</li>
