<li class="actions">
  <span>Actions</span>
  <span class="field double-field">
    <a href="#" class="btn btn-zIndexInc" data-title="bring to front"></a>
    <a href="#" class="btn btn-zIndexDec" data-title="send to back"></a>
  </span>
  <span class="field double-field">
    <a href="#" class="btn btn-copy" data-title="duplicate"></a>
    <a href="#" class="btn btn-delete" data-title="delete"></a>
  </span>
</li>
