<div class="banner">
  <div class="top_white_short"></div>
  <div class="middle_white_short">
    <h3>Are you lost?</h3>
    <p>You can...</p>
    <ul>
      <li><a href="/superadmin">Back to users administration</a></li>
      <li><a href="<%= oauth_credentials_path %>">OAuth authentication</a></li>
      <li><a href="<%= jsonp_credentials_path %>">JSONP Authentication</a></li>
      <li><a href="http://www.scientology.org/">Follow scientology</a></li>
    </ul>
  </div>
  <div class="bottom_white_short"></div>
</div>