
  /*
   * List of tables for your dashboard or public tables
   */

  @import "compass";
  @import "../common/mixins";
  @import "../common/fonts";
  @import "../common/sprites";


  $text-fonts: "Helvetica Neue", "Helvetica", Arial;
  $text-fonts2: "Helvetica", Arial;
  $title-fonts: "Segoe UI Bold","Helvetica Bold", "Helvetica", Arial;


  article {
    @include inline-block();
    width:100%;
    background: image-url('layout/bkg.jpg') repeat 0 0;
    letter-spacing:-4px;

    // Empty dashboard -> article
    &.no_tables {
      margin:-750px 0 0 0;
      padding:0;
      @include transform-style("linear");
      @include transition-property("margin");
      @include transition-duration(1000ms);
      // If there is NO tables, this section is active
      &.active {
        margin:-15px 0 -15px 0; // Hacky hacky
        padding:40px 0 80px;
      }
    }

    // Tables dashboard -> article
    &.tables {
      height:0;
      margin:0;
      padding:0;
      @include opacity(0);
      @include transform-style("linear");
      @include transition-property("all");
      @include transition-duration(1000ms);
      // If there is NO tables, this section is active
      &.active {
        height:auto;
        margin:-15px 0 0 0; // Hacky hacky
        @include opacity(1);
        padding:40px 0 80px;
      }
    }


    section.empty {
      margin: 0;
      border:1px solid #D1D1D1;
      z-index:0;

      div.content {
        padding:100px 36px 0 40px;
        background:image-url("layout/empty_dashboard_bkg.png") repeat-y 0 0;
        overflow:hidden;
        div.left {
          width:280px;
          padding:43px 0 0 0;
          h2 {font-size:27px;}
        }
        div.right {
          img {position:relative; display:block; margin:0; padding:0;}  
        }
      }
      div.foot {
        ul {
          display:block;
          li {
            @include inline-block();
            width:285px;
            margin:0 27px 0 0;

            a {
              height:46px;
              display:block;
              padding:10px 0 0 55px;
              line-height:18px;
              @include icons-sprite(download_dataset);
            }

            &:last-child {width:235px; margin:0;}
          }
        }
        h3 {letter-spacing:-1px; line-height:25px;}
      }
    }
    
    section.tables {
      @include inline-block();
      width:638px;
      border:1px solid #D1D1D1;
      letter-spacing:0px;

      div.head {
        position:relative;
        padding:35px 40px; // Hack for line-height
        border-bottom:1px solid #E5E5E5;
        
        h2 {
          @include inline-block();
          width:auto;
          font-size:25px;
          letter-spacing:-1px;
          color:#333333;
          line-height:normal;

          a {
            position:relative;
            padding:0 40px 6px 10px;
            margin:0 3px;
            color:#333333;
            text-decoration:none;
            font-family:$title-fonts;
            letter-spacing:-1px;
            background:#E1ECF5;
            border:1px solid #C7D1D9;
            @include border-radius(3px);

            &:before {
              position:absolute;
              display:block;
              top:11px;
              right:12px;
              content:'x';
              color:#2483B4;
              font:normal 15px $text-fonts2;
              line-height:normal;
            }
            &:after {
              position:absolute;
              top:0px;
              bottom:0px;
              right:30px;
              content:'';
              width:1px;
              height:100%;
              background:#C7D1D9;
            }
            &:hover {color:black; &:before {color:red;}}
          }
        }

        div.loader {
          position:absolute;
          display:none;
          top:48px;
          right:40px;
          width:38px;
          height:16px;
          background:image-url("layout/loader.gif") no-repeat 0 0;
        }
      }

      // Tables list
      div.content {
        padding:0;
        
        ul {
          li {
            border:none;
            position:relative;
            padding:0 40px;

            div.table_info {
              padding:40px 0;
              border-top:1px solid #EDEDED;
              overflow:hidden;

              .left {width:65%;}
              .right {width:35%;}
              hgroup {
                display:block;
                width:100%;
                h3 {
                  @include inline-block();
                  width:auto;
                  margin:0 8px 0 0;
                  padding:0;
                  letter-spacing:0;
                  font-size:18px;
                  line-height:normal;
                  vertical-align:middle;

                  a {
                    max-width: 285px;
                    padding:0;
                    margin:0;
                    vertical-align:top;
                    line-height:18px;
                    text-overflow:ellipsis; 
                    overflow:hidden;
                    white-space:nowrap;
                    @include transform-style("linear");
                    @include transition-property("color");
                    @include transition-duration(500ms);
                  }
                }
                a {
                  @include inline-block(); width:auto; letter-spacing:0;
                  &.status {vertical-align:top;}
                }

                p {
                  position:relative;
                  @include inline-block();
                  width:auto;
                  padding:3px 10px 0 0;
                  letter-spacing:0;
                  &:after {
                    content:' ';
                    position:absolute;
                    top:0;
                    width:1px;
                    height:14px;
                    right:0;
                    background:#CCCCCC;
                  }
                }

                a.delete {
                  margin:0px 0 0 4px;
                  @include icons-sprite(trash);
                  @include text-indent();
                  width:13px;
                  height:14px;
                  @include opacity(0.5);
                  &:hover {@include opacity(0.8)}
                }

                &.right {
                  display:block;
                  filter: alpha(opacity=0)!important;
                  opacity:0;
                  width:auto;
                }
              }

              div.full {width:100%;}

              span.tags {
                display:block;
                width:auto!important;
                margin:30px 0 0 0!important;

                a {
                  float:right;
                  width:auto;
                  padding:2px 7px;
                  height:14px;
                  margin:0 0 0 4px;
                  font:normal 11px $text-fonts2;
                  color:#666666;
                  line-height:14px;
                  background:rgba(57,125,187,0.15);
                  @include border-radius(2px);
                  border:1px solid #C7D1D9;
                  &:hover {color:#333333;}
                }
              }

              .status {
                padding:3px 10px 2px;
                @include border-radius(25px);
                font:bold 11px $text-fonts2;
                color:white;
                line-height:normal;
                &:hover {color:white; text-decoration:none; cursor:pointer}

                &.public {
                  background:rgba(146,188,65,0.5);
                  &:hover {background:rgba(146,188,65,0.8)}
                }
                &.private {
                  background:rgba(255,0,0,0.5);
                  &:hover {background:rgba(255,0,0,0.8)}
                }
              }

            }

            &:hover {
              background:#F7F7F7;
              & + li div.table_info {border-color:white}
              
              hgroup {filter: alpha(opacity=100)!important; opacity:1!important;}

              & h3 a {
                color:black;
                text-decoration:none;
                @include transform-style("linear");
                @include transition-property("color");
                @include transition-duration(500ms);
              }

              &:after {content:' '; position:absolute; left:0; bottom:0px; width:100%; height:1px; background:#E8E8E8;}
              &:before {content:' '; position:absolute; left:0; top:0px; width:100%; height:1px; background:#E8E8E8}
            }

            &.empty {
              padding-top:150px;
              padding-bottom:200px;

              p {font-family: $text-fonts2; letter-spacing:0;}

              &:hover {
                background:white;
              }
            }

            &.drop {
              background:#F7F7F7;
              & + li div.table_info {border-color:white}
              &:after {content:' '; position:absolute; left:0; bottom:0px; width:100%; height:1px; background:#E8E8E8;}
              &:before {content:' '; position:absolute; left:0; top:0px; width:100%; height:1px; background:#E8E8E8}
              span.tags {
                position:relative;

                &:before {
                  position:absolute;
                  content:'+';
                  top:0;
                  left:-21px;
                  width:20px;
                  height:16px;
                  padding:2px 0;
                  background:#397DBA;
                  font:bold 14px "Arial";
                  line-height:normal;
                  color:white;
                  text-align:center;
                  @include border-radius(2px);
                }
              }
            }            

            &:last-child {
              &:hover,&.drop {
                @include border-bottom-radius(4px);
                &:after {display:none;}  
              }
            }

            &:first-child {
              border:none;
              div.table_info {border:none}
              &:hover,&.drop {
                &:before {display:none;}  
              }
            }

            &.flash {
              position:relative;
              padding:22px 40px;
              border-bottom:1px solid rgba(#CCCCCC,0.5);

              & + li div.table_info {border-color:white}

              &:hover {
                background:rgba(#FA9494,0.15);
                &:after {display:none;}
                &:before {display:none;}
                cursor:default;
              }
            }
          } // li
        }
      }
    }

    aside {
      div.head {
        padding-top:40px;
        border:none;
      }

      div.content {
        padding:0;

        ul {
          width:100%;
          margin:10px 0 0;
          padding:0 0 25px 0;
          border-bottom:1px solid #E2E2E2;

          li {
            margin:0 0 12px;
            a {
              color:#666666;
              text-decoration:none;
              line-height:normal;

              &:hover {
                color:#333333;
                text-decoration:underline;
              }

              &.selected {
                font-weight:bold;
                color:#333333;
                &:hover {
                  color:#333333;
                  cursor:default;
                  text-decoration:none;
                }
              }

              &.popular {
                padding:0 0 0 18px;
                @include icons-sprite(star,$offset-y:-2px);
                &:hover {
                  @include icons-sprite(star,$offset-y:-20px);
                }
              }
            }
            &:last-child {margin:0}
          }

          &:last-child {margin:25px 0 0 0; border:none;}
        }
      }
    }

    div.paginator {
      position:relative;
      float:left;
      display:block;
      margin:20px auto 0;
      width:638px;
      height:20px;

      ul {
        position:absolute;
        top:0;
        left:50%;
        letter-spacing:-4px;

        li {
          @include inline-block();
          letter-spacing:0;
          width:12px;
          height:12px;
          margin:0 5px 0 0;
          vertical-align:top;
          

          &:last-child {margin:0}          

          a {
            @include inline-block();
            width:100%;
            height:100%;
            @include border-radius(20px);
            background:#DEDEDE;
            border:1px solid #D1D1D1;
            @include box-shadow(rgba(0,0,0,0.07) 0 0 4px 1px);
            @include text-indent();

            &:hover {
              cursor:pointer;
              background: white;
            }

            &.selected {
              background:white;
              &:hover {
                background:white;
                cursor:default;
              }
            }
          }
        }     
      }
    }

    // Dedicated support
    &.support {
      position:relative;
      display:none;
      padding:16px 0 22px;
      @include background(image-url('layout/bkg.jpg') repeat);
      border-top:1px solid rgba(black,0.05);

      &:before {
        position:absolute;
        content:'';
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:rgba(black,0.02);
        z-index:0;
      }

      h3,p {letter-spacing:0;}
      h3 {letter-spacing:-1px; font-size:21px;}
      a.button {float:left; margin-top:5px; padding-right:15px; padding-left:15px;}
    }
  }