<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset=utf-8 /> 
    <title>CartoDB - Documentation</title> 
    <link rel="shortcut icon" href="/favicon/favicon_32x32.ico" /> 
    <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" /> 
    <link href="/stylesheets/admin/layout.css" media="screen" rel="stylesheet" type="text/css" /> 
    <link href="/stylesheets/admin/others/developing.css" media="screen" rel="stylesheet" type="text/css" /> 
    <script src="/javascripts/plugins/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/plugins/jquery-syntax/public/jquery.syntax.min.js" type="text/javascript" charset="utf-8"></script>
  </head> 
  <body> 
    <header>
      <a class="logo" href="/">CartoDB</a>
      <ul>
        <li><a href="/">Developers</a></li>
        <li><a href="http://cartodb.tumblr.com" target="_blank">Blog</a></li>        
        <li class="last">
          <a href="http://cartodb.com/login">Login</a>
        </li>
      </ul>
    </header>    
    <section class="outer_content">
      <div class="mesh1"></div> 
      <div class="mesh2"></div> 
      <div class="content"> 
        <div class="top"> 
          <ul class="tables_list"> 
            <li class="selected"><a class="oth" href="/"><span>Documentation</span></a></li> 
            <li><a class="oth" href="#"><span>Gallery</span></a></li> 
          </ul> 
          <a class="get_key" href="http://cartodb.com/your_apps/oauth">GET YOUR API KEY</a> 
        </div>
        <div class="middle">
          <div class="left">
            {{yield}}
          </div>
          
          <div class="right">
            <ul>
              <li><a rel="authentication" href="/authentication">Authentication</a></li>
              <li rel="tables">
                <p>Tables</p>
                <ul>
                  <li><a href="/tables/post">Create a table</a></li>
                  <li><a href="/tables/get">Get user tables</a></li>
                  <li><a href="/table/get">Get table information</a></li>
                  <li><a href="/table/put">Update a table meta information</a></li>
                  <li><a href="/table/delete">Delete a table</a></li>
                </ul>
              </li>
              <li rel="records">
                <p>Rows</p>
                <ul>
                  <li><a href="/records/get">Get the rows</a></li>
                  <li><a href="/records/post">Create a new row</a></li>
                  <li><a href="/record/get">Get a single row</a></li>
                  <li><a href="/record/put">Update a row</a></li>
                  <li><a href="/record/delete">Delete a row</a></li>
                </ul>
              </li>
              <li rel="columns">
                <p>Columns</p>
                <ul>
                  <li><a href="/columns/get">Get the schema from a table</a></li>
                  <li><a href="/columns/post">Add a new column</a></li>
                  <li><a href="/column/get">Get the type of a column</a></li>
                  <li><a href="/column/put">Update the type or the name of a column</a></li>
                  <li><a href="/column/delete">Delete a column</a></li>
                </ul>
              </li>
              <li rel="record">
                <p>Records</p>
                <ul>
                  <li><a href="/record/column/get">Get the value from a row and a column</a></li>
                  <li><a href="/record/column/put">Update the value from a row and a column</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <footer> 
      <section class="prefooter"> 
        <div class="block"> 
          <h3>New tables published</h3> 
          <h4><a href="#">World Database on Protected Areas data published</a></h4> 
          <p>Wanted to give everyone an update that we’ve disabled our status blog located at temporarily while we work out all of the kinks in our two shiny new product of two brothers of the man in red... <a href="#">Read more</a></p> 
        </div> 
        <div class="block"> 
          <h3></h3> 
          <h4><a href="#">GROMS Migration data on CartoDB</a></h4> 
          <p>Wanted to give everyone an update that we’ve disabled our status blog located at temporarily while we work out all of the kinks in our two shiny new product of two brothers of the man in red... <a href="#">Read more</a></p> 
        </div> 
        <div class="block last"> 
          <h3>Latest from the blog</h3> 
          <h4><a href="#">A new status update on status.cartodb.com</a></h4> 
          <p>Wanted to give everyone an update that we’ve disabled our status blog located at temporarily while we work out all of the kinks in our two shiny new product of two brothers of the man in red... <a href="#">Read more</a></p> 
        </div> 
      </section> 
      <div class="outer_footer"> 
        <section class="footer"> 
          <a class="logo" href="/">CartoDB</a> 
          <div class="long"> 
            <p class="rights">All rights reserved 2011. <a href="#" target="_blank">Contact us</a> / <a href="#" target="_blank">Give us your feedback</a> / <a href="#" target="_blank">Read the TOS</a></p> 
            <span class="poweredby"> 
            <p class="vizzuality">A product by </p><a href="http://www.vizzuality.com" target="_blank">Vizzuality</a> 
            </span> 
          </div> 
        </section> 
      </div> 
    </footer>
    <script type="text/javascript">
        jQuery(function($) {
            $.syntax();
        });
    </script>
  </body> 
</html>