<html>
  <head>
    <title>CartoDB</title>
    <%= javascript_include_tag "/javascripts/plugins/head.load.min.js" %>
    <%= yield :js %>
    <%= yield :head %>
    <link rel="shortcut icon" href="/favicon/favicon_32x32.ico" />
    <noscript><meta http-equiv="refresh" content="0;url=/prototypes/javascript.html"></noscript>
  </head>
  <body>
    <%= yield %>
    <% if Rails.env.production? %>
      <script type="text/javascript">
        head(function(){
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-21912917-1']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
        });
      </script>
    <% end %>
  </body>
</html>