<html>
  <head>
    <title>CartoDB</title>
    <%= yield :head %>
    <link rel="shortcut icon" href="/favicon/favicon_32x32.ico" />
  </head>
  <body>
    <%= yield %>
    <%= yield :js %>
  </body>
</html>