<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>You're invited to CartoDB</title>
     <style type="text/css" media="screen">
        * {margin:0; padding:0;}
        body {background-color: #ffffff;}
        h1 {font:bold 23px Arial; color:white; text-shadow:0 1px black;}
        p.subtitle {font:normal 15px Arial!important; text-shadow:0 1px black;}
        a {border: none;text-decoration:none;}
        a:hover {text-decoration:underline; color:#333333;}
     </style>
  </head>
  <body>
    <table width="674" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" border="0">
      <tbody>
      <tr width="674" height="34" border="0"></tr>
      </tbody>
    </table>

    <table width="674" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr border="0">
          <td align="left" width="34" height="90" border="0" valign="top"></td>
          <td align="left" width="606" height="90" border="0" valign="top" background="http://www.cartodb.com/images/admin/mail/header.jpg">
            <table width="606" border="0" cellspacing="0" cellpadding="0">
              <tr width="606" height="18">
                <td height="18"></td>
              </tr>
              <tr>
                <td width="20"></td>
                <td color="#FFFFFF" width="576" valign="middle">
                  <h1 style="margin-top:0; margin-bottom:0; margin-left:0; margin-right:0, padding-right:0; padding-top:0; padding-bottom:0; padding-left:0; font:bold 23px Arial; color:white; text-shadow:0 1px black;"><%= yield :title %></h1>
                </td>
              </tr>
              <tr width="606" height="5">
                <td height="5"></td>
              </tr>
              <tr>
                <td width="20"></td>
                <td color="#FFFFFF" width="576" valign="middle">
                  <p style="margin-top:0; margin-bottom:0; margin-left:0; margin-right:0, padding-right:0; padding-top:0; padding-bottom:0; padding-left:0; font:normal 15px Arial; color:white; text-shadow:0 1px black;" ><%= yield :subtitle %></p>
                </td>
              </tr>
            </table>
          </td>
          <td align="right" width="34" height="90" border="0" valign="top"></td>
        </tr>
      </tbody>
    </table>
    <table width="674" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr align="left" width="606" height="24" border="0" valign="top" bgcolor="#FFFFFF"></tr>
        <tr border="0">
          <td align="left" width="54" height="57" border="0" valign="top"></td>
          <td align="left" width="566" border="0" valign="top" bgcolor="#FFFFFF">
            <%= yield :body %>
            <% if content_for?(:button) %>
              <table width="169" border="0" cellspacing="0" cellpadding="0" background="http://www.cartodb.com/images/admin/mail/button.jpg">
                <tbody>
                  <tr width="169" >
                    <td width="15" height="35" ></td>
                    <td align="left" width="151" height="35" border="0" valign="center">
                      <a style="margin-top:0; margin-bottom:0; margin-left:0; margin-right:0, padding-right:0; padding-top:0; padding-bottom:0; padding-left:0; font:bold 15px Arial; color:#305233" class="activate" href="http://www.cartodb.com"><b><%= yield :button %></b></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            <% end %>
          </td>
          <td align="right" width="54" height="57" border="0" valign="top"></td>
        </tr>
      </tbody>
    </table>
    <table width="674" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr align="left" width="674" height="24" border="0" valign="top" bgcolor="#FFFFFF"></tr>
        <tr align="left" width="674" height="24" border="0" valign="top" bgcolor="#FFFFFF">
          <td align="left" width="34" height="15"></td>
          <td align="left"><hr color="#CAD0DA" size="1" width="606"/></td>
          <td align="left" width="34"></td>
        </tr>
      </tbody>
    </table>
    <table width="674" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr alignt="left" width="674">
          <td align="left" width="54" height="57" border="0" valign="top"></td>
          <td align="left" width="300" height="24" border="0" valign="top" bgcolor="#FFFFFF">
            <a style="margin-top:0; margin-bottom:0; margin-left:0; margin-right:0, padding-right:0; padding-top:0; padding-bottom:0; padding-left:0; font:normal 13px Arial; color:#5E5E5E;" href="http://www.twitter.com/cartodb">Follow us on twitter</a>
          </td>
          <td align="right" width="266" height="24" border="0" valign="top" bgcolor="#FFFFFF">
            <a style="margin-top:0; margin-bottom:0; margin-left:0; margin-right:0, padding-right:0; padding-top:0; padding-bottom:0; padding-left:0; font:normal 13px Arial; color:#5E5E5E;text-aling:right;" href="http://www.cartodb.com">cartodb.com</a>
          </td>
          <td align="right" width="54" height="57" border="0" valign="top"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
