<article class="no_tables <%= 'active' if @tables_count == 0 %>">
<div class="inner">
  <section class="block longest empty">
  <div class="content">
    <div class="left">
      <h2>Welcome <%= current_user.username %>!</h2>
      <p class="margin20">Start by dragging and dropping your data onto the browser to create your first table, or start from scratch. </br></br>  Once your data is imported you will be able to see your first map.</p>
      <p class="margin40"><a href="#create_a_table" class="green button create_new">Create your first table</a></p>
    </div>
    <div class="right">
      <%= image_tag "layout/empty_dashboard.png", :title => "Drop here!", :alt => "Drop here!" %>
    </div>
  </div>
  <div class="foot">
    <ul>
      <li><h3>Need sample data?</h3></li>
      <li><a class="population import_example" href="http://cartodb.s3.amazonaws.com/static/TM_WORLD_BORDERS_SIMPL-0.3.zip">Import country borders<br/>with population numbers</a></li>
      <li><a class="twitter import_example" href="http://cartodb.s3.amazonaws.com/static/10m-populated-places-simple.zip">Import populated places<br/>around the world</a></li>
    </ul>
  </div>
  </section>
</div>
</article>

<article class="no_vis">
<div class="inner">
  <section class="block empty">
  <!-- <a href="#close" class="close"><i></i></a> -->
  <div class="content">
    <div class="left">
      <h2>Create your first visualization</h2>
      <p class="margin20">A visualization is a mashup of layers and components using your cartodb data and the wizards.</p>
      <p>Definitely the best way to publish your maps on the web.</p>
    </div>
    <div class="right">
      <div class="tables">
        <a href="#create_a_table" class="green button create_new">Create your first vizz</a>
      </div>
    </div>
  </div>
  </section>
</div>
</article>

<article class="visualizations"></article>
<article class="tables"></article>
