<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <title>Embed error | CartoDB</title>
    <!--[if gte IE 9]>
    <style type="text/css">
      .gradient {
        filter: none;
      }
    </style>
    <![endif]-->
    <style type="text/css">
      html, body {position:relative; height:100%; width:100%; padding:0; margin:0; background-color:#EEEEEE; font-family:Helvetica, sans-serif; color:#666666; font-size:15px;}

      body {

        background: rgb(83,161,219); /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzYTFkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU0OTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgba(83,161,219,1) 0%, rgba(30,84,150,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,161,219,1)), color-stop(100%,rgba(30,84,150,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(83,161,219,1) 0%,rgba(30,84,150,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(83,161,219,1) 0%,rgba(30,84,150,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(83,161,219,1) 0%,rgba(30,84,150,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(83,161,219,1) 0%,rgba(30,84,150,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53a1db', endColorstr='#1e5496',GradientType=0 ); /* IE6-8 */
      }

      //#cartodb-embed-error-container { position: absolute; top: 50%; left: 50%; width: 376px; margin:-124px 0 0 -188px; text-align:center; }

      section.block {
        background: #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 0 4px 3px;
        -moz-box-shadow: rgba(0,0,0,0.07) 0 0 4px 3px;
        box-shadow: rgba(0, 0, 0, 0.07) 0 0 4px 3px;
      }

      a {
        font-family: "Helvetica Neue","Helvetica",Arial;
        color: #2483B4;
        text-decoration: none;

      }
      section.modal {
        position: relative;
        width: 376px;
        opacity: 1;
        margin: 0 auto 0 auto;
        background: #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 4px;
        -moz-box-shadow: rgba(0,0,0,0.15) 0 0 0 4px;
        box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 4px;
        position: absolute; top: 50%; left: 50%; width: 376px; margin:-124px 0 0 -188px;
      }
      section.block div.head {
        position: relative;
        padding: 18px 10px;
        border-bottom: 1px solid #D1D1D1;
        text-align: center;
      }
      section.block div.head h3 {
        letterspacing: -1px;
      }
      h3 {
        font-size: 15px;
      }
      h2, h3, h4, h5, h6 {
        font-weight: bold;
        font-family: "Segoe UI Bold","Helvetica Bold","Helvetica",Arial;
        color: #333;
        line-height: normal;
      }
      section.block div.content {
        padding: 20px;
        background:#EEEEEE;
        clear:both;
        overflow:hidden;
      }
      section.block div.content input {
        width: 220px;
        font-size:15px;
        color: #666666;
        background:none;
        border:none;
        outline:none;
        border-left: 1px solid #D1D1D1;
        padding-left: 10px;
        float:right;
        margin-left: 10px;
      }

      div.foot {
        padding-top: 0;
        border: none;
      }

      section.block div.foot {
        padding: 31px 30px;
        border-top: 1px solid #D1D1D1;
        overflow: auto;
        color: #666666;
        font-size:13px;
      }

      section.block .icon {
        width: 14px; height: 20px;
        float:right;
        background-image: url(/assets/layout/lock.png);
      }

      .bkg {
        position: absolute; top: 50%; left: 50%; width: 376px; margin:-180px 0 0 -234px;
        height: 371px;
        width:469px;
        background-image: url(/assets/layout/embed_bkg.png);
      }

    </style>
  </head>
  <body>

    <div id="cartodb-embed-error-container">

      <div class="bkg"></div>
      <section class="block modal creation">
        <div class="head">
          <h3>This map is protected by password</h3>
        </div>

        <div class="content">
          <input type="text" placeholder="Insert your password here" />
          <span class="icon"></span>
        </div>

        <div class="foot">
          Contact with the owner in case you want access to it.
        </div>

      </section>

    </div>
    <%= render partial: 'shared/analytics', locals: { 
      ua:     Cartodb.config[:google_analytics]['embeds'],
      domain: Cartodb.config[:google_analytics]['domain']
    } %>
  </body>
</html>
