<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <title>Embed error | CARTO</title>
    <style type="text/css">
      html, body {position:relative; height:100%; width:100%; padding:0; margin:0; background-color:#EEEEEE; font-family:Helvetica, sans-serif; color:#666666; font-size:15px;}
      #cartodb-embed-error-container { position: absolute; top: 50%; left: 50%; width: 251px; margin:-70px 0 0 -125px; text-align:center; }
      #cartodb-embed-error-container p { margin-top: 20px; }
    </style>
  </head>
  <body>
    <div id="cartodb-embed-error-container">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAABBAgMAAAA8txUVAAAAA3NCSVQICAjb4U/gAAAACVBMVEX///8AAAAAAAB+UaldAAAAA3RSTlMAESJ8z6YqAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1cbXjNgAAABV0RVh0Q3JlYXRpb24gVGltZQAzLzI3LzEzT4Iz9QAAAPdJREFUKJG1kjEOwjAMRdNIdOjO0iPkFFUHBqYOTD0ByinKwlwGmIsUocanJLGb2EXtiKe8wfZ3/lcKq5gUV+0E2JnfBXiGUkINwGAAGu4HGDIAwMjDAPJW/QtJQnEKkCTU9wA+tUeAtF4AEDQkEl4RnotIBNQQdH0QZtJF5Wi7R/DYn6pRFcMQh6UaJUzx/E1w/wQrl/YStAS+NH4CNw1K3NDku3v8U5owa/pghEdLpqCGc0t2VeHtjSYj0cRrSeZHr9+uWmIR1t4m43Ny2tEudocJOudFBwM4Y+F17HKoRCiVkWBFKNXxonbq0AlY9axhd49xG/AFZkoK7FTkQ84AAAAASUVORK5CYII=">
      <p>
        Looks like this map no longer exists or is set as private
      </p>
    </div>
    <%= insert_trackjs('embeds') %>
    <%= insert_google_analytics('embeds', true) %>
    <%= insert_hubspot() %>
  </body>
</html>
