<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Embed error | CARTO</title>
    <%= editor_stylesheet_link_tag 'password_protected.css' %>
    <%= insert_google_tag_manager('embeds') %>
  </head>

  <body class='PublicPage-body PublicPage-background--grey'>
    <%= insert_google_tag_manager_no_script('embeds') %>
    <div class='PublicPage-centerContainer'>
      <div class='PublicPage-container'>
        <div class='PublicPage-protectedEmbed-iconContainer'>
          <svg version="1.1" id="Outline_Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="50px" viewBox="0 0 24 24">
            <g id="Editor-private-embed" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path fill='#27353C' d="M17.479,11.035c-3.584,0-6.5,2.916-6.5,6.5s2.916,6.5,6.5,6.5s6.5-2.916,6.5-6.5S21.062,11.035,17.479,11.035z
                 M17.479,23.035c-3.033,0-5.5-2.467-5.5-5.5s2.467-5.5,5.5-5.5s5.5,2.467,5.5,5.5S20.511,23.035,17.479,23.035z"/>
              <circle fill='#27353C' cx="17.479" cy="20.802" r="0.593"/>
              <path fill='#27353C' d="M17.479,13.484c-1.256,0-2.277,1.022-2.277,2.278c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5
                c0-0.705,0.573-1.278,1.277-1.278c0.706,0,1.279,0.573,1.279,1.278c0,0.705-0.574,1.278-1.279,1.278c-0.276,0-0.5,0.224-0.5,0.5
                v1.779c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5v-1.334c1.017-0.229,1.779-1.138,1.779-2.223
                C19.758,14.506,18.735,13.484,17.479,13.484z"/>
              <path fill='#27353C' d="M1,1h10v4.5C11,5.776,11.224,6,11.5,6H16v4h1V5.5c0-0.067-0.014-0.132-0.039-0.192c-0.025-0.061-0.062-0.116-0.108-0.162
                l-4.999-4.999c-0.046-0.046-0.101-0.083-0.162-0.108C11.632,0.014,11.567,0,11.5,0h-11C0.224,0,0,0.224,0,0.5v21
                C0,21.776,0.224,22,0.5,22H11v-1H1V1z M12,1.707L15.293,5H12V1.707z"/>
            </g>
          </svg>
        </div>

        <p class='CDB-Text CDB-Size-large'>
          Map or dataset not found, or with restricted access. Please <%= link_to "login", login_url(after: request.original_url), target: "_blank" %> to your account and try again
        </p>
      </div>
    </div>

  </body>
</html>
