<!DOCTYPE html>
<html lang="en">
  <body>
    <%= render partial: 'shared/analytics', locals: { 
      ua:     Cartodb.config[:google_analytics]['embeds'],
      domain: Cartodb.config[:google_analytics]['domain'],
      page_owner: ''
    } %>
  </body>
</html>
