@import "compass/css3/text-shadow";
@import "../common/mixins";
@import "../common/fonts";
@import "../common/vars";
@import "common/form-elements";
@import "../common/common-sprite";
@import "../dashboard/dashboard-sprite";

header {
  $bkgColor: #428AC6;
  background: image-url('layout/gradient.png') repeat center 0 $bkgColor!important; // IE

    width: 100%!important;
    padding: 15px 0!important;

  .inner{
    padding: 0!important;
    width: 1026px;
    height: 0px!important;

    ul li {
      vertical-align:middle;
    }

    a.button.green {
      padding: 8px 10px;
      font-size: 12px;
      font-weight: bold;
      font-family: $title-fonts;
      line-height: normal;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      text-shadow: 0 1px 0 #3C5219;
      background: #94BE42!important;
      zoom: 1; *display: inline;
      &:hover {
        background: #749C33!important;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}


ul.tags li {
  &.last { border:none; }
}
